[2021-02-09 18:27] leokr commented on #2262
+1

any updates?

[2021-02-09 18:33] anthonychu commented on #2432
Dupe #2433

[2021-02-09 18:33] #2432 closed

[2021-02-09 18:52] apawast commented on #2426
@sivakumar715 could you please share the yaml file? @ahmelsayed could you please help investigae?

[2021-02-09 18:55] apawast commented on #2424
@ejizba could please help with this?

[2021-02-09 20:40] maximivanov commented on #2375
@apawast should we expect any update on this? Let me know if there's a better suited repository to open this issue. Thanks!

[2021-02-09 20:51] balag0 commented on #2375
WEBSITES_ENABLE_APP_SERVICE_STORAGE
Set this to false if you are using a custom container that includes all your functions in the image directly.
Set this to true if you are using (a blessed functions image or your own custom container based on the blessed image) and the functions are deployed separately.

In this case, the value should be true since the functions are not part of the container bei

[2021-02-09 22:12] maximivanov commented on #2375
Hi @balag0, not sure what you mean by a blessed functions image. To clarify, I'm not using Docker in my app (though I'm aware it's used by Azure behind the scenes to run it).

I'm trying to deploy a non-containerized http-triggered nodejs function into a Linux EP1 hosting plan. Seems like a basic use case to me... This `WEBSITES_ENABLE_APP_SERVICE_STORAGE=true` requirement coming out of the blue i

[2021-02-09 22:13] ejizba commented on #2424
@andrejpk I think you can get it to work if you set `azureFunctions.pythonVenv` to `../.venv` in your `.vscode/settings.json` file. Here's a sample project that might be helpful: https://github.com/anthonychu/functions-python-durable-image-classifier

We also have a few issues tracking general python folder structure improvments:
https://github.com/microsoft/vscode-azurefunctions/issues/1970
https

[2021-02-10 00:42] ahmelsayed commented on #2407
I think it makes sense @tomkerkhove. Let me know if you still want to take a stab at it or if you'd like me to.

[2021-02-10 03:17] balag0 commented on #2375
I added some notes on this appsetting at
https://github.com/Azure/Azure-Functions/wiki/When-and-Why-should-I-set-WEBSITE_ENABLE_APP_SERVICE_STORAGE

Could you please check if that answers your question. Setting it to true or not setting the appsetting should result in the same behaviour. In your case you shouldn't have to set this appsetting at all.

[2021-02-10 08:07] tleguijt commented on #1726
Some extra documentation on this would be great!
We're also using the pack function to create the ZIP files.
On Python packages this seems to be working pretty well, but we have some issues with Node packages.

We have a Typescript project, each function has their own directory with an `function.json` (nothing unusual here).
Everything is compiled into a `dist` directory.

Now when we run `func pa

[2021-02-10 08:36] tomkerkhove commented on #2407
I'm happy to pick this up, but could be a few days; if OK

[2021-02-10 08:41] rajeshr6r commented on #2376
Hi Davis,

Thanks this worked . I'm now able to debug functions locally

[2021-02-10 08:41] #2376 closed

[2021-02-10 08:45] sivakumar715 commented on #2426
Thanks @apawast for looking. i have missed to add logic to include secrets-mounts in app configurations. the issue is fixed now since my azure function is able to read the app settings "QueueConnectionString".

[2021-02-10 08:45] #2426 closed

[2021-02-10 19:26] felpasl opened #2435 "func kubernetes deploy, error on keda using storage account blob action"
I got this error on keda 2.x "error getting scaler for trigger #0: error parsing azure blob metadata: no blobContainerName given"

I managed to solve exporting a file from --dry-run and put the value of metadata blobContainerName and worked. Maybe do this automaticaly are better because to solve I spend some time on this message "Failed to ensure HPA is correctly created for ScaledObject" on Scale

[2021-02-10 19:33] ahmelsayed commented on #2407
Sounds good. Thanks Tom!

[2021-02-10 21:21] andrejpk commented on #2424
I'll try it out, thanks!

[2021-02-10 21:50] maximivanov commented on #2375
@balag0  thanks for creating the wiki page! It definitely helps. Please see my comments below.

1. From what I understand if the setting is `true` code deployment (e.g. ZIP deploy) will publish code to that shared directory.
Both existing and newly launched FA instances will automatically get access to the code via the mounted volume.
Out of curiosity, what would happen if the setting is `false` a

[2021-02-10 22:04] balag0 commented on #2375
Great.
1) If WEBSITE_ENABLE_APP_SERVICE_STORAGE=false and if you do a zipdeploy, the deployed contents will be stored in the local storage of a single instance. If/when that instance restarts the contents will be lost and also any other concurrent / new instances will never see those deployed contents. Yes. Correct.
2) It can sometimes take a little bit of time for the container to spin up if the

[2021-02-10 22:12] jeffhollan commented on #1336
Came up while trying to debug the core tools today - I think we should consider this for better troubleshooting - including adding a section to core tools doc on how you can get more verbose logs when diagnosing a CLI command

// @apawast

[2021-02-10 22:36] maximivanov commented on #2375
Got it. I will re-open if I see this issue in the future. Closing now. Thanks for the comments!

[2021-02-10 22:36] #2375 closed

[2021-02-11 13:24] MaximeMorin-Devolutions commented on #2050
@RDavis3000 Thank you, I had the same message but my file had an extra curly brace at the end.  I guess an invalid JSON will show this error.

[2021-02-11 17:18] RudyCo commented on #2262
+1

We need an update! :-)

[2021-02-11 18:36] apawast commented on #2435
@felpasl  could you please share more specifics in the change you made so we can determine if it's possible to do this automatically?

[2021-02-11 18:57] apawast commented on #2262
Assigning to Sprint 96 to be assigned and investigated.

[2021-02-11 20:41] felpasl commented on #2435
sry on yaml generated by func is that
[code]

and i got an error, solving with this change:

[code]

[2021-02-12 16:46] stephenstroud commented on #2232
Any updates, I'm experiencing this upgrading from 3.1 to 5.0

[2021-02-12 17:23] John-Kryspin commented on #2303
Hey @jmatthiesen,

I encountered this same issue. I upgraded to 11.2 Big Sur and I can now debug in Visual Studio.
Seems to be fixed. Thanks so much!

[2021-02-12 18:51] brettsam opened #2438 "Add command to pin versions"
It can be a struggle to correctly pin a site as it's different across our different hosting plans. We should add a pinning command that allows us to validate the input, then perform the pin correctly against Linux or Windows flavors.

/cc: @fabiocav @ankitkumarr

[2021-02-12 21:12] ahmelsayed commented on #2407
Fixed in https://github.com/Azure/azure-functions-core-tools/pull/2434

[2021-02-12 21:12] #2407 closed

[2021-02-12 21:54] brettsam opened #2440 "Expose a way to reduce console output to a single line"
Today we're using the default ConsoleLogger which can be ugly for folks that need it. We should figure out a way to simplify this or provide a few options (single-line/minimal, etc). This may need some changes in the host as well, but opening here to track.

[2021-02-14 15:59] owenlamont commented on #1031
I'm also holding out for this - would love Azure functions to have the same support for conda environments as Azure ML.

[2021-02-15 02:08] stefanushinardi commented on #1031
Hi @owenlamont, we are planning to publish an image with conda dependencies that you could use in custom container on a premium plan.  Would that work for you? or you're planning to use consumption plan?

[2021-02-15 08:24] jokarl opened #2442 "Function core tools does not resolve path parameters same way as actual function runtime"
I created a REST API that I deployed to a Function App. It worked great locally, but as soon as I deployed it I started getting weird results. The issue was that I had overlapping routes, where a static path could collide with a resolved path parameter. A simplified example:

Function1 function.json contains route `/list/items`
Function2 function.json contains route `/list/{parameter}`

When I sta

[2021-02-15 09:45] yuyamashiro opened #2443 "`func init` and `func start` are failed in WSL2"
`func init` failed in WSL2

[code]

[2021-02-15 10:39] santanp commented on #2232
Same issue for me :

[2021-02-15 12:42] owenlamont commented on #1031
Hi @stefanushinardi - I'm ignorant of what plan my workplace has. I'll have to enquire with the with our data engineering team.

I was aware conda environments could be used by specifying a custom container Docker image but I had hoped I could let Azure Functions abstract Docker away and it would work as written on the description of this ticket - that I could just replace the requirements.txt wit

[2021-02-15 17:09] alexeymarkov opened #2444 "System.Private.CoreLib: Exception while executing function: .... Microsoft.Azure.WebJobs.Host: Exception binding parameter 'req'. System.Private.CoreLib: Cannot create an abstract class."
Hello,

I'm using Azure Functions v3 with Microsoft.NET.Sdk.Functions 3.0.3
In the code I'm using classes and interfaces like IActionResult from Microsoft.AspNetCore.Mvc
Today my VS updated to a new version which downloaded the newest version 3.0.3284 of Core Tools automatically.
Now my Function app does not work.
In HTTP triggers I get the exception:
System.Private.CoreLib: Exception while execut

[2021-02-16 09:47] 0xUnicorn opened #2445 "'func host start' gets nowhere on 2 out of 3 windows hosts, no debug oppurtunity"
Hello

I'm having an issue fully described in this ticket as I thought it was the right place to file it.

[https://github.com/microsoft/vscode-azurefunctions/issues/2625](https://github.com/microsoft/vscode-azurefunctions/issues/2625)
This issue should be fairly easy replicated locally using the details described in this other GitHub issue.

As for now I haven't been able to run Powershell Functi

[2021-02-16 16:46] pragnagopa opened #2446 "Add support for dotnet-isolated for command func init --docker"
For dotnet, following instructions here:

https://docs.microsoft.com/en-us/azure/azure-functions/functions-create-function-linux-custom-image?tabs=bash%2Cportal&pivots=programming-language-csharp#create-and-test-the-local-functions-project

generated docker file with dotnet base image
[code]

Need similar support for dotnet-isolated that uses base image that includes dotnet 5

[2021-02-16 16:47] pragnagopa commented on #2446
Assigned to next sprint as we should have base images published by then. Feel free to move it to Triaged if not the right priority.

[2021-02-16 18:12] apawast opened #2447 "`az functionapp config container set` is missing parameters that `az webapp config container set` has"
This is a copy of issue [#16738](https://github.com/Azure/azure-cli/issues/16738) in the azure-cli repo.

[2021-02-16 18:38] apawast commented on #2442
@jokarl  We need too investigate, and at least confirm that the behavior is consistent between the two.

[2021-02-16 18:41] apawast commented on #2443
@yuyamashiro what version of node and what distribution of linux are you using?

[2021-02-16 18:46] apawast commented on #2444
@alexeymarkov could you please try updating your Microsoft.NET.Sdk.Functions to 3.0.11 and share your repro steps with us and the project file?

[2021-02-16 20:39] FabianBruengerPexon opened #2451 "HTTP python trigger is not running locally"
Hey,

i am running into issues with python azure function under VSCode. FYI the same example I will present is working fine with JS.

Set up:
Mac M1 Big Sur v11.2.1
python 3.9.1
Core Tools Version:       3.0.3284

I am following the usual workflow: func init, func new, func start. When I start the function, this is what I get:

Found Python version 3.9.1 (python3).

Azure Functions Core Tools
Core

[2021-02-16 21:50] stefanushinardi commented on #1031
I see, got it. I dont have a timeline for that yet, but appreciate the nudge. Will discuss internally about the support. cc: @vrdmr @Hazhzeng @AnatoliB

[2021-02-17 05:59] Cloud-Mazix opened #2452 "is it possible to disable SCM_DO_BUILD_DURING_DEPLOYMENT and WEBSITE_RUN_FROM_PACKAGE at a time ?"

[2021-02-17 21:50] fabiocav commented on #2438
@stefanushinardi is currently working on a design change for Linux hosting models, so this item should wait until that is completed. Flagging as blocked.

[2021-02-18 00:25] yuyamashiro commented on #2443
@apawast
Sorry for the lack of information.
[code]

[code]

[2021-02-18 12:39] josephh opened #2454 "Azure function "currently unable to handle this request" when request URL include 'code' request parameter"
Sorry to add this issue here - I realise a question about infrastructure probably doesn't belong here.  I've also posted to https://docs.microsoft.com/en-us/answers/questions/278469/azure-functions-can-i-use-an-http-request-paramete.html
but i'm struggling to find clear documentation behind the Azure function behaviour i'm seeing when deployed to Azure.

Steps to reproduce,
1. create a new functio

[2021-02-18 16:52] joesaraceno opened #2455 "Local Debug: "Error processing 'variables' request. An exception was thrown from a debugger component.""
When I try to debug my C# Function locally (Local project, HTTPTrigger, press F5), I am able to start the function and connect to it. I can even put debugger breakpoints which pause as expected.

However, I can not see any variable information.

The debugger throws an error related to this issue, as presented here:
![image](https://user-images.githubusercontent.com/45146247/108391098-96ac2d80-71ce

[2021-02-18 17:51] Guilhermeslucas opened #2456 "[bug] SamplingExcludeTypes property is being placed in a wrong way"
If you are working with func tools to scaffold your Azure Functions app running the commands:

[code]

and then

[code]

you will get a ```host.json``` file that looks like this:

[code]

which is not right, since the samplingExcludeTypes should be place here:
[code]

[2021-02-18 18:40] joesaraceno commented on #2455
I was able to resolve this issue:

When I created the function using the Azure Functions extension Create New Project wizard, the `Authorization Level` I chose was `Function` (the default).

I created a new function again a few minutes later, but selected `Anonymous` Authorization Level and I am able to see variables in the debugger.

[2021-02-18 18:40] #2455 closed

[2021-02-18 19:51] erinknight242 commented on #2232
Having this error today trying to run our Azure Functions locally (windows, using Visual Studio)
![image](https://user-images.githubusercontent.com/3969554/108413045-24e4db80-71f0-11eb-9755-a1f128679b26.png)

Installed the npm package to run on the command line using func host start, and got the same error. Rolled back the npm package to version 3.0.3233, and do NOT get the error; project runs suc

[2021-02-18 23:00] #2424 closed

[2021-02-19 04:55] santanp commented on #2232
After i removed the extensionBundle section from host.json it started working for me.

![image](https://user-images.githubusercontent.com/25631095/108459483-c295e480-729c-11eb-8000-a6aa757a26d6.png)

[2021-02-19 07:41] joain946 commented on #2232
I have had this issue for almost a year now on my Windows machine. The last version that worked for me was "3.0.2798". I have tried many different versions after that including "3.0.3233" as well as the latest. All give this error:
`Value cannot be null. (Parameter 'provider')`

But this is also only an issue when I run a Java project from VS Code. Java and running "func host start" manually works

[2021-02-20 09:40] nojaf opened #2462 "Ship func tool as Docker container"
Hi, I noticed that there are [Docker images available to run functions](https://hub.docker.com/_/microsoft-azure-functions) but there does not seem to be an image that contains the `func` cli tool.

It would be interesting to have this as well, so users can develop functions without installing anything.

[2021-02-20 10:25] mmeckes commented on #2444
I had the same issue. @alexeymarkov your workaround of adding the framework reference worked for me, although also slightly baffled as to why that should affect this.

[code]

[2021-02-21 04:02] anthonychu commented on #2462
They are available. Take a look at this list for the tags. https://mcrflowprodcentralus.data.mcr.microsoft.com/mcrprod/azure-functions/dotnet?P1=1613881123&P2=1&P3=1&P4=R6S8FkkrrDRZfqqq8Q3XTDLWxWtBhyU3WX%2BQK4AAaZI%3D&se=2021-02-21T04%3A18%3A43Z&sig=ffJwiVfHIV1FjQK4NVG5UKvwxoZ1gUsmqUoV%2BFPpVQo%3D&sp=r&sr=b&sv=2015-02-21

@TsuyoshiUshio can we update the Docker Hub page with the Core Tools tags?

[2021-02-21 08:44] nojaf commented on #2462
Hey Anthony, the link above expired but it is good here that there is a tag with the Core tools.
Could you perhaps paste the tag here?

[2021-02-21 15:10] maximivanov opened #2463 "Inconsistent output in publish command across different hosting plans"
The output of `func azure functionapp publish <function app name>` for Linux Premium hosting plan does not list functions and invoke URLs (for HTTP triggered functions). Linux Consumption, Windows Premium and Consumption do have it.

On the screenshot below you can see the output of publishing code to 4 freshly deployed function apps.

![Screen Shot 2021-02-21 at 14 39 43](https://user-images.gith

[2021-02-21 22:00] anthonychu commented on #2462
Oops. This is the actual link. It’s for dotnet, but it’s available (but quite buried) on all the Docker Hub pages for each language.

https://mcr.microsoft.com/v2/azure-functions/dotnet/tags/list

The one you want to use should be something like `3.0-dotnet3-core-tools`.

[2021-02-22 11:58] johnfriedrich opened #2465 "An item with the same key has already been added. Key: AZURE_FUNCTIONS_ENVIRONMENT"
Core Tools version: 3.0.3233
Function Runtime Version: 3.0.15193.0

#### Repro steps

1. Fetch function app configuration from Azure function in azure portal which has AZURE_FUNCTIONS_ENVIRONMENT set
2. Start Azure function locally via Rider run

#### Expected behavior

Azure function should start up normally and read the AZURE_FUNCTIONS_ENVIRONMENT variable from previously fetched local.settings.

[2021-02-22 21:53] Jenscaasen commented on #2304
Encountered the same problem today. Had to find the 5.0 references in the depending projects of the function and downgrade them all to 3.X. Lost some cool new features with Entity Framework 5.0 on the way. Hoping the problem gets fixed Function-side.

[2021-02-23 23:21] wirefusion commented on #1910
you can try changing tasks.json
"
{
			"type": "func",
			"command": "func host start",
			"problemMatcher": "$func-node-watch",
			"isBackground": true,
			"dependsOn": "npm install"
		}

"

[2021-02-24 05:30] TsuyoshiUshio commented on #2462
Thank you, @anthonychu
Azure Functions Core Tools Docker is not on the DockerHub
You can find available version and tags on this top page. https://github.com/Azure/azure-functions-docker
For the detail versions, We can find it as you linked. :)

[2021-02-24 12:53] nosvalds commented on #2262
I'm seeing similar behaviour on Mac. I'm not sure this is only limited to Windows now. This is with a 41MB file. I have no error with a 28MB file.

[code]

[2021-02-24 17:20] mrgithub opened #2468 "M1 Mac can't run Azure Functions Core Tool with VS Code: brew tap azure/functions FAILS"
Using VS Code on M1 Mac to create Azure functions but it fails when it tries to install Azure Functions Core Tool:

The output is:

`5:16:09 PM: Running command: "brew tap azure/functions"...
Updating Homebrew...
==> Auto-updated Homebrew!
Updated 1 tap (homebrew/core).
==> Updated Formulae
Updated 4 formulae.

5:16:19 PM: Finished running command: "brew tap azure/functions".
5:16:19 PM: Running c

[2021-02-25 12:48] trailmax opened #2469 "System.ComponentModel.Annotatoins Version=5.0.0.0 (doesn't exist)"
Just getting this exception when trying to create DbContext for EntityFramework 6.4.4.

I've tried adding Annotations NuGet package directly to the function project, but that made zero difference.

I'm on Functions v3, netcoreapp3.1. I've gone through all threads and SO questions related. The problem is very similar to [this issue](https://github.com/Azure/azure-functions-core-tools/issues/479) bu

[2021-02-25 15:35] GeeWee opened #2470 "Functions fail on Fedora 33 with system-installed binaries"
Hey y'all. I'm getting issues similar to #421 with the latest version of the function core tools on Fedora 33.

Output:
[code]

However if I run the same dotnet command it runs without any issues:
[code]

I have a sneaking suspicion this is because if you install the repo-distributed packages of dotnet they are installed in `/usr/lib64/dotnet` and then I have them symlinked into `/usr/bin/`

**fun

[2021-02-25 18:20] guo-sun commented on #1663
I'm still seeing this in 3.0.3284. It doesn't look like language options are being [passed](https://github.com/Azure/azure-functions-core-tools/blob/3.0.3284/src/Azure.Functions.Cli/Actions/LocalActions/CreateFunctionAction.cs#L156) [through](https://github.com/Azure/azure-functions-core-tools/blob/3.0.3284/src/Azure.Functions.Cli/Helpers/DotnetHelpers.cs#L46). The workaround is to use dotnet dire

[2021-02-25 23:33] Tohaker commented on #2443
I had this problem too, turns out the `install.sh` script wasn't running upon `npm install`. This was in VSCode DevContainer however (but same principle)

[2021-02-26 11:06] alexeymarkov commented on #2444
I tried to decouple everything from my project but till now without success.

[2021-02-26 13:42] tanorion commented on #2304
Any update on this?

[2021-02-26 15:48] phantomcosmonaut opened #2471 "Cannot Access a Disposed Object: IServiceProvider"
I run an azure function locally using AzureFunctionTools cli_x64 v3.20.0 with dotnet core 3.1 runtime and I noticed that when I modify my local.settings.json file I get the disposed object error.
works:
[code]
fails:
[code]
seems directly related to [this issue](https://github.com/Azure/azure-functions-core-tools/issues/1903)

[2021-02-27 11:36] smartpcr commented on #2399
any update on this? seems it's quite brittle when using different nuget package versions than included in runtime, are there any best practice setting up dependency injection?

[2021-03-01 08:03] anthonychu opened #2474 "JS/Functions: func start takes a long time on first start, without any UI feedback"
Reported by @sinedied via Azure E2E reviews:

https://dev.azure.com/azuretracking/Azure%20tracking/_workitems/edit/1699

[2021-03-01 08:14] ianadavies commented on #2345
Any updates on a solution to this? I am having the same problem.

[2021-03-01 17:00] tanko commented on #2304
What solved my problem is running dotnet publish with the following argument:
`  - task: DotNetCoreCLI@2
    displayName: "dotnet publish $(solution)"
    inputs:
      command: "publish"
      publishWebProjects: true
      modifyOutputPath: false
      zipAfterPublish: false
      projects: "$(solution)"
      arguments: "--framework net5.0 --runtime win-x64 --output $(msbuildOutputRoot) **-p:In

[2021-03-02 06:12] ankitkumarr commented on #2463
Hi @maximivanov, this was done intentionally at the time. Due to platform differences, Linux Premium used to take a bit longer for the deployed functions to show up in the backend. The API calls would sometimes return stale data. In order to not confuse the user with stale functions info, we had decided not to show this information for Linux Premium.

Though, since then, lots of improvements have

[2021-03-02 09:16] 0xUnicorn commented on #2445
Hi,

I tried updating to newest azure function core tools release from .msi

Now I get this error msg.
![image](https://user-images.githubusercontent.com/17219001/109626037-52ab1800-7b40-11eb-93ca-6359ec8763a6.png)

![image](https://user-images.githubusercontent.com/17219001/109626071-5dfe4380-7b40-11eb-8307-32b22b3823a5.png)

[2021-03-02 12:03] maximivanov commented on #2463
Hi @ankitkumarr. Thanks for sharing the rationale behind the decision. If it can be reviewed that would be great. Currently it is rather frustrating experience to constantly bump into differences in Linux Premium vs Linux Consumption vs Windows. (Not only Core Tools, but Azure Functions in general).

[2021-03-02 17:04] Oxyrus commented on #1872
@akousmata in my case I had to manually edit my `manifest.json` (located in one of the release's folder), because as you said, there's no `launchSettings.json`.

[2021-03-02 18:26] fabianedl777 commented on #1926
Hello, guys

Any progress?

[2021-03-02 18:40] apawast commented on #2451
@FabianBruengerPexon we are waiting to get the machine to be able to test this.

[2021-03-02 18:43] apawast commented on #2452
@Cloud-Mazix due to platform limitation, it is not possible at the time. Which Functions hosting plan are you publishing on?

[2021-03-02 18:48] anthonychu commented on #2454
This is a known issue in functions running in Static Web Apps. There's a workaround in this thread: https://github.com/Azure/static-web-apps/issues/165

We are tracking a fix in this issue: https://github.com/Azure/azure-functions-host/issues/5922

[2021-03-02 18:52] apawast commented on #2456
@Guilhermeslucas this has been fixed, we are waiting on the release which should happen by end of the week.

[2021-03-02 18:56] apawast commented on #2462
Hey @TsuyoshiUshio do you know how to update the readme on DockerHub to update the tag?

[2021-03-02 19:01] apawast commented on #2463
@maximivanov thanks for bringing this to our attention, we have added it to our backlog to investigate the change.

[2021-03-03 00:35] bytemech commented on #2294
Good guide here for anyone looking for workarounds https://codetraveler.io/2021/02/12/creating-azure-functions-using-net-5/

[2021-03-03 02:28] jeffputz commented on #2294
Yikes, "workaround" is being generous.

[2021-03-03 11:39] bastoune opened #2481 "Python functionapp publish fails on building private repository"
My issue is very similar to https://github.com/Azure/azure-functions-core-tools/issues/1230

From that container
[code]

I am trying to install a private repository through my requirements.txt

[code]

Even if I install it before with a good key, I get

[code]

[2021-03-03 14:42] zukauskasp commented on #2350
Any news on this? Trying to fix one bug related to EF by bumping to new version another pops out right from behind. Really frustrating :)

[2021-03-03 16:34] pragnagopa opened #2482 "Update selected runtime text to match FUNCTIONS_WORKER_RUNTIME dotnet-Isolated"
cc @ankitkumarr @fabiocav

Selecting dotnet (Isolated Process) displays the following:

` Use the up/down arrow keys to select a worker runtime:dotnetIsolated`

Recommend updating the text to match the FUNCTIONS_WORKER_RUNTIME  value  **runtime:dotnet-Isolated**
runtime:dotnetIsolated

[2021-03-03 20:04] cicorias commented on #2354
since its windows, it should be running the `activate.ps1` or `activate.bat` instead of the bash `activate`  --- I'm seeing same thing with an environment on WIndows.  @anthonychu  @vrdmr @Hazhzeng

Can it do detection of the shell (posh/cmd/bash) and run the `activate.[ }ps1|bat]` for that shell?

[2021-03-03 20:47] stewartadam commented on #2050
+1. Without `FUNCTIONS_WORKER_RUNTIME` defined, `func start` or `func azure functionapp publish` will complain about unknown language. Annoyingly, `--csharp` and the other parameters are entirely unsupported on `func azure functionapp publish`, so you just get a broken function app.

Now if you do check in `local.settings.json` into Git so that the app has the default values for FUNCTIONS_WORKER_R

[2021-03-03 21:13] fabiocav commented on #2438
@stefanushinardi moving this to `triaged` until the design work is completed.

[2021-03-03 21:14] fabiocav commented on #2446
Flagging as blocked and moving back to triaged as we can't proceed with this until the images are made public

[2021-03-03 21:22] RaleS opened #2484 "Error calling sync triggers (BadRequest)"
App name: coreenginedev0fndotnet5
Location: westeurope
App service plan

[code]

Core Tools Version:       3.0.3331 Commit hash: 0b57b1647c5a385beb8f7d64fa0e534ad4c7555d
Function Runtime Version: 3.0.15371.0

[2021-03-03 22:30] #2236 closed

[2021-03-03 22:43] mattchenderson opened #2657 "Core Tools warns even with valid identity-based connection"
#### What problem would the feature you're requesting solve? Please describe.
Using identity-based connections locally. Have a setting "MyStorageConnection__serviceUri" (actual suffix of "endpoint" for time being due to bug). Core Tools warns on host start:

#### Describe the solution you'd like
This warning should not occur as it is a valid configuration for this extension.

#### Describe alterna

[2021-03-04 02:27] ankitkumarr commented on #2484
@Rales, I noticed that you are using our .NET 5 support. What version of the preview packages are you on? Also, would you mind please sharing a repro function app code if possible?

[2021-03-04 02:41] ankitkumarr commented on #2481
@bastoune, this doc section should provide some guidance on how to resolve private dependencies -- https://docs.microsoft.com/en-us/azure/azure-functions/functions-reference-python#custom-dependencies

If you package index is private that our remote build engine can't access, then I think the simpler solution may be to install the packages locally in `<PROJECT_DIR>/.python_packages/lib/site-packag

[2021-03-04 10:46] webweaves opened #2487 "While running 'func start' behind corporate firewall I get SSL error as Intermediate certificate is not installed"
I am using Ubuntu 18.04 for local development behind a corporate firewall, I am following this guide https://docs.microsoft.com/en-us/azure/azure-functions/create-first-function-vs-code-java to create my first basic function.

The company uses zscaler and for whatever reason to access https resources I need to install an intermediate certificate or SSL communication fails so my question is where w

[2021-03-04 18:42] apawast commented on #2465
@gzuber could you please take a look at this?

[2021-03-04 18:43] apawast commented on #2468
@mrgithub unfortunately, we are currently waiting for the machine to be able to test this.

[2021-03-04 18:50] apawast commented on #2470
@GeeWee for now to mitigate this issue, you could run `dotnet build --output bin/output ` then `cd bin/output` then `func start` because func start will skip the build.

[2021-03-04 18:54] apawast commented on #2471
Hi @phantomcosmonaut can you run again by setting the env variable CLI_DEBUG=1 and sharing the output with us?

[2021-03-04 21:21] bastoune commented on #2481
It did the trick, thanks.

[2021-03-04 21:21] #2481 closed

[2021-03-05 09:48] GeeWee commented on #2470
Thanks! I did manage to get another workaround to work. This issue is quite likely related to https://github.com/dotnet/efcore/issues/16071 as the issue in my case was also fixed by setting dotnet_root and removing a bad symlink.

[2021-03-05 10:08] webweaves commented on #2487
False alarm, removing the "extensionsBundle" from the hosts.json file resolved my issue, no idea how that effects the proxy/cert path but it works now!?!?

[2021-03-05 10:08] #2487 closed

[2021-03-06 04:16] wirefusion commented on #1910
@pundergit were you able to resolve it?

[2021-03-08 07:48] pundergit commented on #1910
No, I ended up programming on a virtual Linux machine connected from my Windows 10 VS Code.
It's really easy to set up and you forget about all the Windows-related troubles.

[2021-03-08 15:20] leonieponsioen commented on #2359
Any update on this?

[2021-03-09 00:47] phantomcosmonaut commented on #2471
@apawast Here's the debug output

Object name: 'IServiceProvider'.
   at Microsoft.Extensions.DependencyInjection.ServiceLookup.ThrowHelper.ThrowObjectDisposedException()
   at Microsoft.Extensions.DependencyInjection.ServiceLookup.ServiceProviderEngine.GetService(Type serviceType, ServiceProviderEngineScope serviceProviderEngineScope)
   at Microsoft.Extensions.DependencyInjection.ServiceLookup.S

[2021-03-09 03:09] StephenCleary opened #2492 "Clean concurrent local execution"
This is general feedback.

I have multiple functions projects in the same solution, and it would be great if there were a way to run the functions host concurrently in a clean way.

Problems with the current dotnet/func tooling that I walked through tonight:

- There's no `func watch`. OK, there's a workaround in #1239 and it seems to work well enough.
- MSBuild can't be run in parallel, and some

[2021-03-09 17:28] webweaves opened #2493 "func host start - does not honour proxy environment settings"
I am behind a corporate firewall and access the www via the corporate proxy. I have a very simple function that I've confirmed works fine in a non proxy environment,

I have tried exporting http_proxy/https_proxy/HTTP_proxy etc and this seems to resolve proxy issues with VS Code IDE however when I deploy my function locally and reference in the browser: http//localhost:7071/api/testFn my BlobServi

[2021-03-09 22:17] kvinther commented on #2471
I just ran into the exact same issue and thus found this issue. My debug output is identical.

[2021-03-09 23:00] #2452 closed

[2021-03-10 13:54] webweaves commented on #2493
Managed to connect to azure service behind proxy by adding the following to my function, not an ideal solution as I'll need to implement this change in all calling code but it means I can actually continue development:

    System.setProperty("http.proxyHost", "<ip>");
    System.setProperty("http.proxyPort", "<port>");
    System.setProperty("https.proxyHost", "<ip>");
    System.setProperty("htt

[2021-03-11 02:33] danelliottster commented on #2376
Which set of instructions on this page worked for Ubuntu 20.10?

Thank you, dan

[2021-03-11 02:57] rajeshr6r commented on #2376
Hi

I used the option for Other Linux distributions for my Ubuntu 20.10
instance. It worked.

Thanks

Rajesh Rajamani
+91-9819937639

On Thu, Mar 11, 2021, 08:04 Dan Elliott ***@***.***> wrote:

[2021-03-11 05:00] #2484 closed

[2021-03-11 11:17] yutaro113 opened #2496 "Environment variable "AzureWebJobsScriptRoot" which is defined in Dockerfile created by azure-functions-core-tools seems invalid in Azure Functions."
Hello Team,
I am testing to deploy custom docker image (C# Linux) to Azure Functions and found that path configured in "AzureWebJobsScriptRoot" is not valid in Azure Functions.

Why is this variable configured in the default dockerfile created by this tool even if it's invalid? Should this be removed?
Kindly confirm and thank you very much in advance!

Detail :
1, I have created C# Azure function

[2021-03-11 15:25] fvalencia12 commented on #2304
Just tried upgrading and got that same error I got back in November. Dotnet 6.0 preview is out and we cannot even upgrade to 5. I hope there is a re-architecture of the system at some point to prevent this from happening again. It sure feels like Azure Functions are treated as third class citizens in the Azure ecosystem.

Regards

[2021-03-11 18:58] apawast commented on #2492
@fabiocav Triaged for further discussion

[2021-03-11 22:08] soninaren commented on #2262
addressed here https://github.com/Azure/azure-functions-core-tools/pull/2497

[2021-03-11 22:08] #2262 closed

[2021-03-12 18:52] Invvard commented on #2294
The wait is over : https://techcommunity.microsoft.com/t5/apps-on-azure/net-on-azure-functions-roadmap/ba-p/2197916

Thanks @anthonychu

[2021-03-12 21:10] jeffputz commented on #2294
Cool, so what's the upgrade path? Docs show project->new.

[2021-03-13 16:00] flq commented on #1247
So, after copious amounts of Yak shaving it all boils down to azurite not supporting table storage right.

So on one hand MS says "use azurite". On the other hand, azure core tools' function host won't work properly with azurite, because table storage is missing.

So, what's the guidance here and also especially for non-windows computers?

[2021-03-13 16:53] vkurpad commented on #2232
I'm using the Azure Functions python runtime on Windows and was running into the same issue. I deleted the azure functions extension folder in **C:\Users\USERNAME\AppData\Local\Temp\Functions\ExtensionBundles\** and that worked for me.

[2021-03-13 17:59] JustinGrote commented on #1247
@flq Azurite has a table storage "alpha" that does work with functions, but it would seem the "official" guidance is still to spin up an Azure Storage account in an azure subscription for non-windows.

https://github.com/Azure/Azurite/tree/table

Development on it looks like it is slowing down tho, no new commits in a month.

[2021-03-13 22:19] AKomyshan commented on #2444
Got the same issue. @alexeymarkov just question: are using Function Monkey too?

[2021-03-14 17:39] diberry opened #2498 "Can't create new function for Node.js/JavaScript"
I just installed core tools globally with NPM then tried to create a new function instead of an existing front-end app so that my app would have /src (react) and /api (functions) but I didn't get that far.

[code]

[2021-03-15 15:58] alexeymarkov commented on #2444
Yes. But this should not be a problem.
Probably the issue will go away if I update it and everything to the newest Functions SDK but I am not going to do this.
I will rather get rid of Function Monkey and migrate to .NET 5 with custom middlewares.

[2021-03-15 19:20] ahuggins-nhs commented on #1589
@ahmedelnably Any update? Also curious if more attention is going to be given to the `pack` command as it relates to TypeScript function apps per most recent comment on https://github.com/Azure/azure-functions-core-tools/issues/1726?

We are looking at mitigating code injection to our function apps by exploring reproducible builds. To do this, we need to be able to examine a build BEFORE it gets d

[2021-03-15 23:16] veccsolutions opened #2499 "Listen on all addresses"
I'm trying to integrate with a 3rd party systems web hooks and would like call the function directly from that system to debug my function. It looks like localhost is hardcoded into where it listens. Can this be made configurable or is it already and I'm missing it?

[2021-03-16 08:50] nojaf opened #2500 "Azure core tools and Node 14"
Hi, I could find any tags with `-core-tools` and `node14` for https://hub.docker.com/_/microsoft-azure-functions-node.
Since I've read https://techcommunity.microsoft.com/t5/apps-on-azure/run-node-js-14-in-azure-functions/ba-p/2195063, I'm eager to try the `.mjs` syntax.
Will it be available in the near future?

[2021-03-16 11:59] willianhf opened #2501 "Cannot startup Azure Functions locally"
## Environment
OS: Big Sur 11.2.3 - with the M1 processor
Node: v14.16.0
Azure Functions Core Tools: v3.0.3388

## What's happening
Whenever I run the startup command `func host start` the below error is thrown.
[code]

[2021-03-16 13:37] IanKemp commented on #2304
This is not going to get fixed. The only solution is to either keep all your dependencies on version 3.x, or move to .NET 5 and use the .NET 5 out-of-process worker at https://github.com/Azure/azure-functions-dotnet-worker which is effectively still beta, currently has no Visual Studio integration, and will change again when .NET 6 is released.

As I noted to a colleague today, it rather feels lik

[2021-03-16 14:32] fvalencia12 commented on #2304
Sort of scary for such a key component in cloud migrations. I’m praying that will change in the near future.

Fabian Valencia
Information Technology
William Blair
The William Blair Building | 150 North Riverside Plaza, Chicago, Illinois 60606
Direct: +1-312-364-5132
***@***.******@***.***> | williamblair.com<http://www.williamblair.com/>
Facebook<https://www.facebook.com/WilliamBlairCo/> | LinkedI

[2021-03-16 17:36] apawast commented on #2493
@ahmelsayed is this a regression for an existing feature or is this an enhancement request?

[2021-03-16 17:48] apawast commented on #2496
@ahmelsayed can you please help investigate this?

[2021-03-16 17:54] apawast commented on #2498
@diberry can you try deleting the extension bundle: ''C:\Users\diberry\AppData\Local\Temp\Functions\ExtensionBundles\Microsoft.Azure.Functions.ExtensionBundle\1.5.1" and try again?

@soninaren for awareness and further comments if necessary.

[2021-03-16 17:56] #2501 closed

[2021-03-16 18:06] apawast commented on #2500
@nojaf there is a full list of tags here: [https://mcr.microsoft.com/v2/azure-functions/node/tags/list](https://mcr.microsoft.com/v2/azure-functions/node/tags/list) and this should have node14.

The core-tools image has not been published but we will be following up on this.

[2021-03-16 18:07] apawast commented on #2500
@TsuyoshiUshio @anthonychu is this planned or do we need to discuss further?

[2021-03-16 18:13] TroyWitthoeft commented on #1732
@PdroCorrea, sorry to hear that.  I believe that @ahmelsayed had this bug fix pushed in a while back?   I can see the change on [line 247](https://github.com/Azure/azure-functions-core-tools/blob/aacc8c22eeddd53bd14af260e6cd18cbf276af49/src/Azure.Functions.Cli/Actions/HostActions/StartHostAction.cs#L247) of the current version of `azure-functions-core-tools/src/Azure.Functions.Cli/Actions/HostActi

[2021-03-16 18:13] fabiocav commented on #2499
@ahmelsayed we bind to `0.0.0.0` [here](https://github.com/Azure/azure-functions-core-tools/blob/448a61d7a774280e932cfa678c8d4ec3d13bdc7a/src/Azure.Functions.Cli/Actions/HostActions/StartHostAction.cs#L479), wouldn't you expect this to bind to any/all IPv4 addresses on the local machine?

@veccsolutions how are you connecting and what failure are you seeing?

[2021-03-16 19:33] veccsolutions commented on #2499
This is what I see in the console when it start:
[code]
I try and connect using both my IP and host name and receive a connection refused. Most likely because it is only listening on the localhost.

Not sure if it matters, but according to these lines it is hard coded to listen on 127.0.0.1
Line:
https://github.com/Azure/azure-functions-core-tools/blob/6fd786fabcf15876e423b46b31b2164ed8a19e19/src/

[2021-03-16 19:40] veccsolutions commented on #2499
I just tried it again. For about the 10th time and it's working. I was trying to get the output of netstat (which yesterday was only showing listening on 127.0.0.1 and not 0.0.00). Today it shows 0.0.0.0. The output still only shows localhost as I had posted though, but at least it can connect and receive requests as I would have expected.

[2021-03-16 19:53] fabiocav commented on #2499
The output will only state localhost, but I would expect the binding to happen to 0.0.0.0

It's odd you encountered variation. I'll close this as resolved, but please feel free to open an issue and reference this if you run into this again. Thank you!

[2021-03-16 19:53] #2499 closed

[2021-03-17 00:03] ankitkumarr opened #2502 "Change Linux Elastic Premium to do run from package = 1 by default"
Right now Linux Elastic Premium does `WEBSITE_RUN_FROM_PACKAGE` = url deployment by default for Linux Premium. We can and should change this to do zipdeploy using `WEBSITE_RUN_FROM_PACKAGE` = 1.

We should confirm with Jenny and the platform team to double check.

[2021-03-17 07:56] MuhammadBehzad commented on #2304
downgrade to v3.1

[2021-03-17 14:20] fvalencia12 commented on #2304
That is what I did when I found the issue back in November. But think how fast the world moves now a days and we are stuck on that for 4 months and no end in sight on this. Just not good for such a critical technology.

[2021-03-17 14:37] rochapablo commented on #2294
[code]

[code]

[code]

[2021-03-17 19:24] fabiocav commented on #2304
@fvalencia12, on this comment:

With the .NET 5/.NET Worker announcement, we shared detailed roadmap plans for .NET on Functions [here](https://azure.microsoft.com/en-us/updates/general-availability-azure-functions-supports-net-5-in-production/), this is consistent with the guidance we've been sharing in issues, particularly about the fact that non-LTS releases would not be supported in the in-pro

[2021-03-17 19:24] #2304 closed

[2021-03-17 19:28] fabiocav commented on #2304
One thing I would like to clarify, @IanKemp ; The statement about the worker model changing again when .NET 6 arrives is not accurate. One of the key benefits of the OOP model is the ability eliminate the impact of host version changes on user's workloads. There are no plans to break or deprecate that model and the packages once .NET 6 lands in Functions.

[2021-03-18 06:19] initdc commented on #2232
Work for me, have been deploy my app, hola! Thanks!

[2021-03-18 07:25] jzhouw opened #2504 "customizing configuration source support?"
https://docs.microsoft.com/en-us/azure/azure-functions/functions-dotnet-dependency-injection#customizing-configuration-sources

[code]

but using appsettings.Development.json with Core Tools still got a message saying local.settings.json not found.

(I found a history issue of renaming appsettings.json to local.settings.json https://github.com/Microsoft/vscode-azurefunctions/issues/327
but I like

[2021-03-18 08:27] nojaf commented on #2500
It does seem to be listed here:
https://github.com/Azure/azure-functions-docker/blob/625f109c74cd76687aa291c3dbeef68cf4faf2ea/host/3.0/core-tools-publish.yml#L169-L234

[2021-03-18 12:06] IanKemp commented on #2304
@fabiocav Was this required change to a new Functions worker announced ANYWHERE before .NET 5 was released? No, all of a sudden things started breaking when people did ordinary things like upgrading packages, and then all of a sudden there was a new GitHub repo for a new Functions worker, with the Functions team telling people "use this one instead, and by the way integration with VS is missing an

[2021-03-18 14:34] joain946 commented on #2232
Can someone tell me if this ticket is being prioritized?
It seems like a lot of people are seeing this issue and that some of workarounds might not work for all languages.
Removing the extension bundle from the host.json isn't really a workaround since it is needed to run locally.

I just tested with the latest version and for me it still doesn't work with Java and VS Code, but it works with Node.

[2021-03-18 17:42] apawast commented on #2504
@jzhouw could you please share the actual error output with us? Either way, this error should not prevent you from using your own configuration sources.

[2021-03-18 18:12] TsuyoshiUshio opened #2505 "Missing storageConnectionFromEnv with KEDA EventHubs scaler"
For the usage of KEDA, I found the `storageConnectionFromEnv` is missing when I create this local.settings.json

[code]

I found the scaled object has this metadata, that is `storageConnectionFromEnv` missing. https://keda.sh/docs/2.2/scalers/azure-event-hub/

[code]

[2021-03-18 20:04] fabiocav commented on #2304
@IanKemp I completely appreciate and empathize with where you're coming from here. We understand (although it's clear communication was not sufficient), the impact this has had on many customers, particularly when the message from different teams were conflicting (i.e. _use the latest and greatest_ vs _this is not yet supported_).

We're absolutely not against or above admitting fault in situation

[2021-03-19 00:22] jzhouw commented on #2504
without local.settings.json in the output folder, the tools gave:

[code]
I had to put a fake local.settings.json files in the folder with all `Values `configuration section to be correct, yes other configuration section in appsettings.Development.json can work. can we just juse appsettings.Development.json without local.settings.json?

[2021-03-19 03:51] fabiocav commented on #2232
@joain946 the best recommendation would be to open an incident with the exact stack and repro for the problem you're having. Unfortunately, this issue is very vague and misleading as it could occur for a variety of reasons. We'll be able to better focus on your specific root cause in a separate issue. Thank you!

[2021-03-19 07:40] landy opened #2507 "No function found in FSharp project running in isolated mode on Dotnet 5"
Hello, I have encountered a problem when migrating Azure Functions to a new isolated mode on Dotnet 5. The issue is that no functions are found in the project written in F#.

here is a repo with a sample project https://github.com/landy/functions-isolated

I'm using version **3.0.3388 of azure functions core tools** and **Dotnet version 5.0.201**

The project is based on the C# template. After run

[2021-03-19 11:31] johlrich commented on #2507
This appears to be related to F# template problems pointed out last year:

https://github.com/Azure/azure-functions-core-tools/issues/1963
https://github.com/Azure/azure-functions-templates/pull/954

Same workaround applies here from the pr and comments of changing Update -> Include in the fsproj for the json ItemGroup entries. Example:

https://github.com/Azure/azure-functions-templates/pull/954/

[2021-03-19 11:43] Dzoukr commented on #2507
@johlrich Man, you just rock!!! THANK YOU!

[2021-03-19 11:43] landy commented on #2507
wow, Thanks!!! It works

[2021-03-19 12:33] #2507 closed

[2021-03-19 16:42] SultanSGillani commented on #1926
Also checking to see if there is an update on this.

[2021-03-19 18:08] pseabury commented on #2350
@anthonychu You said you were evaluating options for NETCore3.1 other than the new Net5Worker... What are those options?  Most of my functions apps are currently broken while trying to update package that show as compatible with NETStandard 2.1.  They show similar errors to the OP.  I know functions are a complete mess with the Host runtime right now, but a workable solution for deploying Core 3.1

[2021-03-19 22:42] cgillum commented on #2345
Sorry, somehow I didn't see the notification for this issue (I came here for another reason and stumbled upon this issue).

I've been running Durable Functions with KEDA and Kubernetes over the last few days and have not encountered this problem, though I'm not entirely sure why. Which version of the Durable extension are you using?  My tests are using **v2.4.1**, but I'm also using .NET which mea

[2021-03-19 23:14] cgillum opened #2509 "Kubernetes deploy: Add resource requests/limits for function app containers"
Relevant K8s documentation: https://kubernetes.io/docs/concepts/configuration/manage-resources-containers/

Let's add k8s resource demands to the containers yaml we generate for function apps. For example, we might require that each function app container is guaranteed 512 MiB RAM and 0.5 CPUs, based on what we know about Functions host requirements.

[code]

Ideally customers could participate in

[2021-03-19 23:15] cgillum commented on #2509
/cc @ahmelsayed

[2021-03-21 03:22] horihiro opened #2510 "Lost executable permission through deployment from Windows OS to Linux Function App"
I'm trying to deploy functions with custom-handler using func@3.0.3388.

But the custom handler fails to launch with the following error.
![image](https://user-images.githubusercontent.com/4566555/111892470-1f70f000-8a3f-11eb-9b00-a5e7fa80cbd5.png)

I found that executable permission of binary file is lost only on deployment from Windows OS to Linux Function App on App Service Plan or Elastic Prem

[2021-03-21 16:30] anthonychu commented on #2510
The host should try to change the executable bit  before running the binary. @pragnagopa @yojagad Do you know why this doesn’t appear to work on Linux dedicated?

[2021-03-21 22:37] Varada commented on #2304
![image](https://user-images.githubusercontent.com/536252/111923095-abdcdc00-8a5a-11eb-8f41-c81af0af6bb2.png)
With Functions 3.0.11 -> WebJobs 3.0.23 - it looks like the transitive dependency is to Logging.Abstractions 5.0. I have this referenced.

My app is a .net coreapp 3.1

Even in this combination, func fails
[code]

What options do I have to unblock myself?

[2021-03-21 22:55] horihiro commented on #2510
As a temporary workaround, using `func` with `--build remote` and App Setting `SCM_DO_BUILD_DURING_DEPLOYMENT=0`  seems to keep the executable bit.
But I'm not sure if this approach is appropriate.

[2021-03-22 00:43] horihiro commented on #2510
It was confirmed that this issue was reproduced when a zip package containing linux binary files was deployed from Windows OS to linux app service in which `WEBSITE_RUN_FROM_PACKAGE` is enabled.
So this might be an issue on App Service on Linux with Run-From-Package feature.

Could you please escalate to the appropriate repository/project?

[2021-03-22 02:15] anthonychu commented on #2350
We were looking into whether we can safely update the host dependencies to be compatible with the 5.x packages, but I don’t think we’ve found a way to do this without breaking existing apps. The recommendation is to use the .NET isolated worker or stay on 3.x dependencies until we have an updated version of that host that supports .NET 6 (preview ETA this summer). /cc @fabiocav

[2021-03-22 06:40] horihiro commented on #2510
I will send an internal thread involving App Service team.

[2021-03-22 13:37] fvalencia12 commented on #2304
When I had the same issue if memory doesn’t fail me I had to downgrade any packages that are 5.0 to the previous version. That fixed the problem.

Fabian Valencia
Information Technology
William Blair
The William Blair Building | 150 North Riverside Plaza, Chicago, Illinois 60606
Direct: +1-312-364-5132
***@***.******@***.***> | williamblair.com<http://www.williamblair.com/>
Facebook<https://www.fa

[2021-03-22 14:31] pragnagopa commented on #2510
The issue was specifically addressed for Linux Consumption in the host - https://github.com/Azure/azure-functions-host/pull/5834

Tagging @ankitkumarr @ahmelsayed - to confirm if work around mentioned in the [comment](https://github.com/Azure/azure-functions-core-tools/issues/2510#issuecomment-803674642) above - is required to preserve execute permissions

[2021-03-22 16:46] gh0st1596 commented on #2304
Varada, I had the very same issue. After updating Visual Studio recently, I couldn't run my project locally because of the
`System.Private.CoreLib: Could not load file or assembly 'Microsoft.Extensions.Logging.Abstractions, Version=5.0.0.0` error that you mentioned and I couldn't change its version because it depends on the WebJobs package.

The way I fixed this was by adding the Microsoft.Extensi

[2021-03-22 19:09] ianadavies commented on #2345
So the problem here is when you use `func kubernetes deploy` command. It creates 2 deployments and 2 different pods that can't see each other. One for http triggers and the other for activity functions, so If you have a `httptrigger` that calls to start an orchestration it won't see it.

Also on a slightly different note, but related, the separate deployment with the activity functions creates a `

[2021-03-22 20:12] cgillum commented on #2345
Right, I'm aware of the two separate pod problem. That's why I mentioned the version of the extension. Strangely, I didn't run into this problem when using `func kubernetes deploy` when I was testing last week.

BTW, I looked through the code just now, and I think there is a workaround where you can add `"externalClient": true` to your binding description in function.json to disable this validatio

[2021-03-22 21:07] horihiro commented on #2510
Thanks @pragnagopa

Can we execute the binary file by https://github.com/Azure/azure-functions-host/pull/5834 even if the binary's permission cannot be changed?
It seems hard to change the permission because the files are mounted to `/home/site/wwwroot` as read-only by Run from package feature.

I'm contacting Linux App Service team regarding the read-only mount and involving you to the thread.

[2021-03-22 21:57] ahmelsayed commented on #2510
Regarding the change in Azure/azure-functions-host#5834, I was expecting that there will be a set or save call after updating the permissions on the file. Though after looking at the `UnixFileInfo` api, there doesn't seem to be one. I wonder if it's actually saving any of the updated values there. We might have to actually run a `new ProcessStartInfo { FileName = "chmod", Arguments = "+x /path/to/

[2021-03-22 22:22] horihiro commented on #2510
Thanks @ahmelsayed

`deno` in my package is executable for Custom Handler, which is specified in `host.json` as [this](https://github.com/anthonychu/azure-functions-deno-template/blob/main/host.json#L9).
Does Function Host try to add executable premission to `/home/site/wwwroot/bin/linux/deno` in this case?

And will this succeed for files on read-only volume?
If no, I think that this issue should

[2021-03-23 00:47] fabiocav opened #2512 "Test DurableRaiseEventTest_FileInput is unstable"
The test `DurableTests.DurableRaiseEventTest_FileInput` is currently unstable and causing build issues.

The issue needs to be addressed and the test re-enabled.

[2021-03-23 17:01] CarsonPLS opened #2514 "Cannot update vs code to latest version of tools. Various Modules not found."
running npm install -g azure-functions-core@3 fails due to not being able to locate modules.

if I install these modules globally by hand, that seems to fix things for that module, but then the "next" module just throws the same message.

It appears that it is looking for dependencies that are not being installed.

[2021-03-23 19:23] AchoArnold opened #2515 "Ilogger logs not showing up in the console and on the Azure Portal with dependency injection"
Hello,

So I setup dependency injection on my azure app using the  guide here,  https://docs.microsoft.com/en-us/azure/azure-functions/functions-dotnet-dependency-injection

In my controller, I have a method that logs some actions but I don't see those logsboth in my local dev environment and on the Azure portal.

**host.json**
[code]

**controller.cs**
[code]

**Startup.cs**
[code]

Is there some

[2021-03-23 20:00] #2498 closed

[2021-03-24 00:43] JuanCarlosResser opened #2516 "Azure Function triggered by Queue Storage not working with docker and node"
I am trying to create a docker container of an azure function in node js with typescript triggered by an azure queue
But I get the following error:
![image](https://user-images.githubusercontent.com/81269568/112232620-1fffb700-8bf6-11eb-9ff2-4d1815d035df.png)

My function.json looks like this:
![image](https://user-images.githubusercontent.com/81269568/112233045-ec715c80-8bf6-11eb-8d1f-404647440ac

[2021-03-24 14:55] opticyclic opened #2518 "Remove Dependency on JAVA_HOME"
This article says that we need an environment variable JAVA_HOME
https://docs.microsoft.com/en-us/azure/azure-functions/create-first-function-cli-java?tabs=bash%2Cazure-cli%2Cbrowser#create-a-local-function-project

As long as java is on the PATH you should be fine.

This was also previously mentioned and allegedly fixed a couple of years ago: https://github.com/Azure/azure-functions-core-tools/is

[2021-03-24 16:34] odellus opened #2519 "Error creating a Blob container reference."
I'm getting the error
[code]
when I run
[code]
and I saw from #89  that I'm supposed to run
[code]
with my connectionString from the AzureFunctions Portal UI. I've done so and I am still getting the same error as before.

`func --version` outputs 3.0.3388.

[2021-03-24 18:35] odellus commented on #2519
The `--no-build` was messing everything up. It works after removing that flag. Sorry. I'm new.

[2021-03-24 18:36] #2519 closed

[2021-03-25 01:03] opticyclic commented on #2518
See this question on stackoverflow:
https://stackoverflow.com/questions/64032219/azure-function-in-java-does-not-work-locally

and this answer:
https://stackoverflow.com/a/64704084/1000011

[2021-03-25 19:30] ozkary commented on #2067
Is there a resolution for this item?

The local.settings.json do not work for CORS settings. Setting port number works by the CORS rules do not.

[2021-03-25 19:43] garybond commented on #2509
Sorry to piggyback on this request, but we have a similar issue in that we have been trialling a hybrid cluster with both Linux and windows node pools on AKS. For our non-Keda pods we have added a nodeSelector kbubernetes.io/os=Linux to ensure pods are scheduled on a Linux node. I’ve just discovered today that Keda is filing to scale pods as it is trying to schedule them on windows nodes. Our depl

[2021-03-25 21:24] pragnagopa commented on #2408
Tagging @TsuyoshiUshio  for initial investigation

[2021-03-26 00:32] soninaren opened #2522 "Add a command that will provide the path to the downloaded bundles root directory"

[2021-03-26 09:18] gzdorik-brightgrove opened #2524 "Unable to publish .NET5 function app without forcing wrong worker runtime value"
I've created a function app on azure using following command
[code]
Created a .NET5 function project using `func init` and selecting `dotnet isolated` option.

When I try to publish the app
[code]
I get following message:
`Your Azure Function App has 'FUNCTIONS_WORKER_RUNTIME' set to 'dotnetIsolated' while your local project is set to 'None'.`

If I specify the language in the end of the command
[

[2021-03-29 07:11] Stolz opened #2525 "Error calling sync triggers (BadRequest). Node runtime on Linux"
Hello.

I'm trying to get a simple Node function working on Linux Consumption Plan at East Asia region. The app is created from the official template and it works locally. When I try to publish it the deployment step completes successfully. However the 'Syncing triggers' steps fails with BadRequest error and the app cannot be triggered via HTTP.

### Versions used

	func --version
	3.0.3388

	az -

[2021-03-29 07:50] MJECloud opened #2526 "Can't update core tools"
Hi,

i can't update the core tools because the module 'unzipper' is not found.
Got the error when using the VSCode Command or running it in the terminal.

![image](https://user-images.githubusercontent.com/22131101/112804026-3386a400-9074-11eb-9012-5ea48153486a.png)

[code]

[2021-03-29 08:53] gzdorik-brightgrove commented on #2524
[code]

[2021-03-29 11:11] atifaziz commented on #388
Same here. Meanwhile, found the list in the code:

https://github.com/Azure/azure-functions-core-tools/blob/fb42a4e0b7fdc85fbd0bcfc8d743ff7d509122ae/src/Azure.Functions.Cli/Helpers/DotnetHelpers.cs#L91-L102

[2021-03-29 16:30] pragnagopa opened #2527 "Func new fails with DurableTask.AzureStorage.dll already exists"
cc @soninaren

Core Tools version: `3.0.3388`

`func new` fails with error : One or more errors occurred. (The file `'C:\Users\pgopa\AppData\Local\Temp\Functions\ExtensionBundles\Microsoft.Azure.Functions.ExtensionBundle\1.5.1\bin\DurableTask.AzureStorage.dll' already exists.)`

Work around:
Delete folder : `C:\Users\pgopa\AppData\Local\Temp\Functions\ExtensionBundles\Microsoft.Azure.Functions.Ext

[2021-03-29 21:30] balag0 commented on #2525
Looks like the template defaults to ~1 for FUNCTIONS_EXTENSION_VERSION.
For new apps we recommend ~3 and for Linux consumption sku in particular anything below ~2 is not supported.
Could you try the same template but change the FUNCTIONS_EXTENSION_VERSION to use ~3

[2021-03-29 22:39] gidich commented on #2302
BUMP! Let's keep this one in the spotlight

[2021-03-29 22:51] cachai2 opened #2552 "Warning no Connection String when using managed identity - CLI"
For the new secretless triggers/bindings, they no longer use connection strings. However, our CLI will throw warnings when connection strings aren't used despite not being in a warning state. We should remove the warnings for secretless. This is a potential preview blocker for Track 2 sdk triggers.

Files to update:
line 426: https://github.com/Azure/azure-functions-core-tools/blob/6a070fb40308438

[2021-03-30 05:05] Stolz commented on #2525
Thanks @balag0 , setting version to 3 worked :)

For Linux viewers from the future, just run

    az functionapp config appsettings set -n my-app -g my-group --settings 'FUNCTIONS_EXTENSION_VERSION=~3'

[2021-03-30 05:05] #2525 closed

[2021-03-30 17:46] apawast commented on #2514
@CarsonPLS  can you please provide steps to reproduce this and the complete error output?

[2021-03-30 17:53] apawast commented on #2516
@JuanCarlosResser can you try removing that connection property from function.json?

[2021-03-30 17:58] CarsonPLS commented on #2514
Sure

When prompted to update Azure Functions by VS Code, I select the update option.

[cid:d6a4d5ca-cfa3-4984-8acf-ae0bbb49cd68]

This is the output at the current moment:

[cid:1cc74331-aa02-4238-9f15-6a99496106a4]

This time is it saying 'rimraf' is the missing module, but there were about 4 other modules previously that I installed globally, to try to resolve this myself.

Once I got to this o

[2021-03-30 18:00] CarsonPLS commented on #2514
Sure

When prompted to update Azure Functions by VS Code, I select the update option.

![image](https://user-images.githubusercontent.com/27771299/113034502-26df7a00-9160-11eb-8eac-4fa4fd5c1b54.png)

This is the output at the current moment:

![image](https://user-images.githubusercontent.com/27771299/113034526-3068e200-9160-11eb-81de-b323df4e0c0b.png)

This time is it saying 'rimraf' is the missi

[2021-03-30 18:05] apawast commented on #2526
@MJECloud can you please run `npm i -g azure-functions-core-tools@3 --unsafe-perm true --verbose` and share the output?

[2021-03-30 18:07] apawast commented on #2514
@CarsonPLS can you please run `npm i -g azure-functions-core-tools@3 --unsafe-perm true --verbose` in terminal and share the output?

[2021-03-30 19:00] MJECloud commented on #2526
Sure :)
Here is the output

[code]

[2021-03-30 22:20] horihiro commented on #2510
It is expected that https://github.com/Azure/azure-functions-core-tools/pull/2521 will fix this issue.

[2021-03-31 21:25] Vivihung commented on #933
+1 for KeyVault reference syntax support in local.settings.json.
It is mentioned in [this ](https://github.com/Azure/azure-functions-core-tools/issues/1810) thread, too.
Is there any other place where the team is tracking requests that we can vote for this feature?

[2021-03-31 22:37] TsuyoshiUshio opened #2530 "RabbitMQ Trigger/bindings doesn't use Storage Account but it fails local execution"
When I run the Rabbit MQ function locally with java (probably it is not related java) , however, it fails to run function by the validation.

[code]

However, RabbitMQ doesn't need it.  For the workaround, specify it for local development.

CC: @yojagad @pragnagopa

[2021-03-31 22:53] TsuyoshiUshio commented on #2530
Probably new version fix it for core-tools
https://github.com/Azure/azure-functions-core-tools/blob/72f7c87497a674130b9a6a0e7d862fa4a1882838/src/Azure.Functions.Cli/Actions/HostActions/StartHostAction.cs#L139

Once the new version is released, `skip-azure-storage-check` option will resolve the issue, however, for the java usage, I'm not sure `mvn azure-functions:run` can pass the option.

[2021-03-31 23:43] RyanMarcotte commented on #2524
I am receiving the same error message when attempting to publish my function app within an Azure DevOps release pipeline

[code]

[2021-04-01 01:02] anthonychu commented on #933
#2258 should address this. @fabiocav is planning to review it soon.

[2021-04-01 20:03] etang93 commented on #2302
This would be a great feature to have!

[2021-04-01 20:51] nguyenduy commented on #2302
This would speed up the development process a lot!

[2021-04-01 22:38] mdrideout commented on #2232
For me, I encountered this issue when Azure was having network-wide outage problems. Apparently, you can't even launch a local instance with `func host start` when that happens.

**Error**
[code]

[2021-04-02 15:34] CarsonPLS commented on #2514
@apawast , have I followed your instructions correctly?

[2021-04-02 15:37] gcacars commented on #2232
Nothing worked here. W10 + VS Code + Node.js 14

[code]

[2021-04-02 15:56] andrewcooke-isti commented on #1850
I am seeing the same error after building Azure.Functions.Cli.linux-x64.3.0.3388.zip on OpenSuse Leap 15.2:

[code]

I don't really understand why this should be happening given that this release seems to be a later one than that discussed above.

[2021-04-02 16:19] gcacars commented on #2232
Worked now, some steps:

- `local.settings.json` really couldn't have `Host` property.
- `Values.AzureWebJobsStorage` should be a empty string, instead `UseDevelopmentStorage=true` (with you don't need one)
- The error **Value cannot be null. (Parameter 'provider')** occurs when in the `host.json` file has the property`retry`, like:
[code]
- Also, check the `extensions` property. For me `hsts` was

[2021-04-02 16:52] pragnagopa commented on #2530
Reopening to track fix in V3

[2021-04-03 03:16] TsuyoshiUshio opened #2533 "Deploy Python App with KeyVault reference will fails at the first time, second time success."
# Reproduce
I can reproduce on my machine.

## Create a Premium Plan Linux function with Python and KeyVault
## Create a template function app

[code]
## Update local.settings.json

[code]

# Deploy function

[code]

It looks timeout issue when it create KeyVault reference.
CC @Hazhzeng @ahmelsayed

# fix
https://github.com/Azure/azure-functions-core-tools/blob/dev/src/Azure.Functions.Cli/Actions/

[2021-04-03 18:22] JamieMagee opened #2535 "Use supported TargetFramework"
Both `Azure.Functions.Cli` and `Azure.Functions.Cli.Tests` target the `netcoreapp2.2` `TargetFramework`.

https://github.com/Azure/azure-functions-core-tools/blob/6a070fb40308438c758ba8ab69399845bd698391/src/Azure.Functions.Cli/Azure.Functions.Cli.csproj#L4

[.NET Core 2.2 has been EOL since December 2019](https://dotnet.microsoft.com/download/dotnet/). Please either downgrade to .NET 2.1, which i

[2021-04-04 20:06] mogupta-ecfmg commented on #2302
This is something I have been expecting to see for a long time now! Its very inconvenient to stop/start the debug session everytime we make a change.

[2021-04-05 14:01] andrewcooke-isti commented on #1850
I am seeing the same with Azure.Functions.Cli.linux-x64.2.7.3188.zip

[2021-04-05 21:27] ConnorMcMahon commented on #2359
@leonieponsioen, so sorry for losing track of this. I'm going to move this to the Durable Functions repo so that my team can keep better track on this.

[2021-04-05 22:35] #2530 closed

[2021-04-06 06:45] CarsonPLS commented on #2526
Sounds like the same issue I'm having.

https://github.com/Azure/azure-functions-core-tools/issues/2514

I am usually pretty good at troubleshooting things like this, but this one has me a bit confused. The Issues board not overflowing with comments about this implies that it's constrained to a subset of users.

[2021-04-06 10:17] CarlosLanderas commented on #2399
I'm having the same issue and I had to downgrade application insights version and suppress version downgrade errors.
Any update on this?

[2021-04-06 13:28] garybond opened #2537 "Deploy failures - custom resource definition is terminating"
Hi,

I am having issues running `func kubernetes deploy`  to an AKS cluster, where the deployments have previously run OK.
For a previous successful deployment with `min-replicas=1`, a redeployment with `min-replicas=0` now fails to create the ScaledObject, but I get a deployment, secret, replica set and pod created.

Running the full deploy in Azure DevOps...
`deployment.apps/my-deployment-name c

[2021-04-06 14:36] samuelbcollie opened #2538 "User secrets for functions aren't working as documented"
I'm currently unable to load UserSecrets without adding the following line to my Startup.cs:

`builder.ConfigurationBuilder.AddUserSecrets(Assembly.GetExecutingAssembly());`

I've seen this step mentioned in unofficial tutorials but not on the [offical documentation](https://docs.microsoft.com/en-us/azure/azure-functions/functions-dotnet-dependency-injection#using-aspnet-core-user-secrets). Is thi

[2021-04-06 14:38] yutaro113 commented on #2496
@apawast , Thanks for the handling! @ahmelsayed Is there any update on this? Thank you very much!

[2021-04-06 17:47] apawast commented on #2533
@TsuyoshiUshio was this consistently reproducible?

[2021-04-06 17:57] ankitkumarr commented on #2535
@JamieMagee, the current V3 version of Core Tools is in "v3.x" branch, which targets netcoreapp3.1. We need to make v3.x the dev branch, but we haven't done that yet. cc: @fabiocav

The dev branch points to V2 of Core Tools which is meant for Azure Functions Host v2. For v2, we have to have it targeted "netcoreapp2.2", because that's what Azure Functions Host targets. But V2 is not recommended for

[2021-04-06 18:40] balag0 commented on #2496
@yutaro113

Looks like there are 2 different variations. Either AzureWebJobsScriptRoot or AzureWebsiteHomePath will be used.

https://github.com/Azure/azure-functions-host/blob/c02633967ac893925e7b166a837a2324b8f4c8aa/src/WebJobs.Script/Description/DotNet/FunctionAssemblyLoadContext.cs#L523

In your scenario the functions can't live outside /home/site/wwwroot but it is supported when not running o

[2021-04-06 20:00] #2516 closed

[2021-04-06 21:15] JamieMagee commented on #2535
Yep! That's great thank you.

[2021-04-06 21:15] #2535 closed

[2021-04-06 23:23] SergeyBoiko opened #2540 "Unable to find an Azure Storage connection string to use for this binding."
Hi, I'm getting next error:

`Microsoft.Azure.WebJobs.Extensions.DurableTask: Unable to find an Azure Storage connection string to use for this binding.`

as I got it, workaround is to add "AzureWebJobsStorage" to the "Application settings", wondering why "Function Creator" wizard did not suggest me to select proper AzureWebJobsStorage...

**Question:**
If adding AzureWebJobsStorage is correct sol

[2021-04-07 00:24] TsuyoshiUshio commented on #2533
Hi @apawast
Yes. This is coming from ICM. I can reproduce it. However, it is only for the first time.

[2021-04-07 08:09] FabioFerrua commented on #2526
Hi, same problem here. I was able to update by manually installing the following dependencies:

[code]

then running the update command:

`npm i -g azure-functions-core-tools@3 --unsafe-perm true --legacy-peer-dep`

hope it helps

[2021-04-07 14:17] CarsonPLS commented on #2526
Thank you @FabioFerrua

I also installed a number of libraries manually, but this one keeps asking for more. It is now asking for `glob`, after I have installed about 7 of the previous dependencies.

I suspect that if we manually install every dependency, then yes the update will apply, but then I fear we are enabling the issue.

[2021-04-07 14:38] MJECloud commented on #2526
Thanks @FabioFerrua

@CarsonPLS i agree. I think it doesn't solve the real problem.
When installing the core tools you shouldnt manually install all dependencies globally.

[2021-04-07 17:03] garybond commented on #2537
Eventually got to the bottom of this and it was an issue with a previous version of Keda having not uninstalled correctly

[2021-04-07 17:03] #2537 closed

[2021-04-07 17:18] CarsonPLS commented on #2526
The frustrating part is that this has been ongoing with little response for weeks.

Yet VS Code reminds me of this issue about 4 times a day.... (each time I open a new window)

MS, please just keep us posted... is it us being dumb, or is this something you have identified that you need to fix?

[2021-04-07 19:07] samuelbcollie commented on #2538
The app is not public. Is there other info I can give you such as the exact versions of certain NuGet packages? It's a v3 function targeting .NET Core 3.1.

[2021-04-07 19:24] samuelbcollie commented on #2538
I figured it out. I made a brand new function to see if I could repro it. The issue was that I didn't have the following in my local.settings.json:

`"FUNCTIONS_WORKER_RUNTIME": "dotnet"`

[2021-04-07 21:25] ankitkumarr opened #2541 "Automate apt release in pipeline"
Right now apt release is manual. We need to automate that.

[2021-04-08 02:05] suiwenfeng opened #2542 "One or more errors occurred. (A task was canceled.)"
[code]

[2021-04-08 17:43] apawast commented on #2540
@SergeyBoiko I just want to clarify some things. Did you use the Azure Portal, and it says that you have no azure storage connected at all? Portal is supposed to automatically add storage connection when you hit create at the end of the creation wizard. Are you able to reproduce the error consistently?

[2021-04-08 17:52] apawast commented on #2542
@suiwenfeng thank you for opening this issue! We are investigating this.

fyi @amamounelsayed

[2021-04-09 00:26] horihiro commented on #2510
I confirmed that executables deployed by pre-release version [3.0.3442](https://github.com/Azure/azure-functions-core-tools/releases/tag/3.0.3442), which contains PR #2521, worked nicely.

![image](https://user-images.githubusercontent.com/4566555/114111163-3efb8a00-9914-11eb-9c77-e422f0f1b692.png)

[2021-04-09 01:31] stemixreal commented on #2514
Hi @apawast , I have a very similar issue. I've tried to update several times, first to 3.0.3388 from 3.0.2996 which completed without error but func --version still reported 3.0.2996.

After that I began to get the pop-up "Update your Azure functions Core Tools to ... (3.0.3442).."

Which I've tried but again, this completes as if successful however the update isn't installed and the next time I

[2021-04-09 14:28] stemixreal opened #2544 "Updating to latest version fails leaving broken vscode dev environment - can no longer debug"
Hi Folks,

I'm having a few issues updating core tools. After updating npm to 7.9 (6.x silently failed), this is the latest error in a series of errors while trying to install the latest update (3.0.3442) when prompted (on every start-up) in vscode:

[code]

Running:  **npm ls -g azure-functions-core-tools** gives
C:\Users\dev\AppData\Roaming\npm
└── azure-functions-core-tools@3.0.3442

Everything

[2021-04-09 15:26] stemixreal commented on #2526
Same for me #2544

Dev environment broken after several attempts to fix it. I'm going to start from scratch.

[2021-04-09 19:00] #2510 closed

[2021-04-09 23:12] stemixreal commented on #2544
Phew. Fixed it.

The 3.0.2996 version was installed by myself (don't recall what I did) or some process whch was available to uninstall in settings-apps. It seems that version was being picked up by vscode regardless of anything i did on the command line or in a vscode terminal.

Once I uninstalled that and reinstalled vscode things appeared ok on the surface but I also had to change the default p

[2021-04-09 23:41] stemixreal commented on #2526
The fix for me is in my reply to #2544. Perhaps it will help. I was getting the same errors as detailed in the OP when the required modules do exist in the correct location.

[2021-04-10 00:08] MJECloud commented on #2526
@stemixreal thanks for the update!

I've uninstalled and reinstalled the core tools via vscode and now it works!
![image](https://user-images.githubusercontent.com/22131101/114251420-3c934180-99a1-11eb-8d67-0aef39fb53bf.png)
The first version is before the reinstallation, the second after.

@CarsonPLS  @FabioFerrua  maybe it works for you too!

[2021-04-10 00:11] MJECloud commented on #2544
Like i commented [here](https://github.com/Azure/azure-functions-core-tools/issues/2526#issuecomment-817035927),  i also had to reinstall the core tools.

[2021-04-10 15:00] SergeyBoiko commented on #2540
@apawast

exactly

then it looks like a bug in creation wizard

yes, each time when I create function via Azure Portal (as described above)

just realized that it's not related with azure-functions-core-tools, because I've used only Azure Portal, i.e. current bug more for Azure Portal....

Thanks.

[2021-04-10 16:10] AFDevMike commented on #2304
I performed a db migration with EFCore 5 on one of our projects prior to discovering this issue.  This issue only presents on deploy, not build time.  `MyDbContextModelSnapshot.cs` is now broke and I have to reset our migrations for this project.

(Tangential)During this past year's spate of Azure AD outages, our functions which consume KeyVault which depend on AzureAD fail.

Had(mostly) our entir

[2021-04-12 19:37] Francisco-Gamino opened #2545 "Regression for PowerShell function apps: After initializing a folder via func init, func new prompts for a language when it should not"
After initializing a folder via `func init`, `func new` prompts for a language when it should not

![image](https://user-images.githubusercontent.com/12720858/114451229-d9193780-9b8b-11eb-97b4-755d7dac2a36.png)

[2021-04-12 19:38] Francisco-Gamino commented on #2545
cc: @stefanushinardi @AnatoliB

[2021-04-12 19:46] CarsonPLS commented on #2514
This was resolved by running `npm uninstall -g azure-functions-core-tools` then `npm i -g azure-functions-core-tools@3`

hit the same issue if I tried running install again, so I suspect that future updates may need to be uninstalled first before the latest version is installed.

[2021-04-12 19:46] #2514 closed

[2021-04-12 19:47] AnatoliB commented on #2545
@Francisco-Gamino Please note the spelling: `S` is not capitalized in one case. I suspect we have a typo in one of the templates.

[2021-04-12 19:50] Francisco-Gamino commented on #2545
Yes, I checked with @ankitkumarr and he suspects the same.

[2021-04-13 15:39] felinepc opened #2546 "Version 3.0.3442 hard blocked by Microsoft Defender ATP, likely related to process PickerHost.exe"
My work computer has Microsoft Defender ATP (also known as Windows Defender ATP), which is an enhanced version of the built-in Windows Defender as part of the Windows 10 Enterprise subscription.

After installing the latest version of Azure Functions Core Tools 3.0.3443 via Chocolatey:
`choco install azure-functions-core-tools --params "'/x64:true'"

The program cannot execute because it's instant

[2021-04-13 17:44] apawast commented on #2544
@stemixreal @MJECloud glad you were able to resolve it, but we'd like to understand the issue further. What version of node and npm are you using?

[2021-04-13 17:49] apawast commented on #2545
@Francisco-Gamino are you intending to submit a fix for this?

[2021-04-13 17:57] apawast commented on #2546
@felinepc the update should not be blocked. Does this happen when you try to install a different version of core tools? Was there recently any policy changes on your end? One recommended solution is using our msi installer as it is a signed deployment mechanism and should run as a trusted installer. [https://github.com/Azure/azure-functions-core-tools/releases/tag/3.0.3442](https://github.com/Azur

[2021-04-13 18:20] felinepc commented on #2546
@apawast The MSI version does work. We prefer Chocolatey for ease of deployment and update though. Is there a reason why the non-MSI version cannot pass Microsoft's own built-in AV solution on Windows 10?

[2021-04-13 19:53] stemixreal commented on #2544
Hii @apawast , initially I was using node 6.x (not 100% which version but it has been working fine so I hadn't updated for perhaps 6 months) Now I'm using the latest version which I upgraded to after I'd encountered problems and failed to fix them.

Versions:
Npm - 7.9.0
Node 14.15.0

The problem for me was that no matter what I did, un/install in vscode it picked up the wrong version until I unin

[2021-04-13 22:12] ankitkumarr commented on #2542
@suiwenfeng, showing java in the options was actually a bug. For creating new java Azure Functions, we ask customers to use our Maven tools. Here's the docs for that -- https://docs.microsoft.com/en-us/azure/azure-functions/create-first-function-cli-java?tabs=bash%2Cazure-cli%2Cbrowser

We will fix the bug that started showing Java in `func init` and `func new` commands.

[2021-04-13 22:13] ankitkumarr commented on #2542
Closed by https://github.com/Azure/azure-functions-core-tools/commit/177d7e8163a075443b6a0e93baf78e6480e489c3

[2021-04-13 22:13] #2542 closed

[2021-04-13 22:19] Jack-Barry commented on #2514
The fix by @CarsonPLS worked for me, however it's not a very ergonomic solution and doesn't solve the root cause of this issue

[2021-04-14 11:58] taejoon-bluebeaker opened #2548 "Install azure-function-core-tools by homebrew is failed."
- os - mac
- problem - Cannot install azure-functions-core-tools.
- location - South Korea

Downloading https://functionscdn.azureedge.net/public/3.0.3442/Azure.Functions.Cli.osx-x64.3.0.3442.zip is failed.
Downloading same file via chrome is also failed.

I tried install it whole day with changing place.(The internet status is very fine).
I think "functionscdn.azureedge.net" has some problem to s

[2021-04-14 17:06] grab-a-byte opened #2549 "F# support in Azure functions"
In the core tools, using func shows the help page. In this, under the 'new' section it states the following
[code]

Here it states F# can be used however in creating a new function app, F# is not an option to begin with and also specifying F# as a language ends up generating a C# file (tried both --langauge, -l , F# and FSharp).

The documentation for the core tools also completely omits F# even t

[2021-04-14 20:52] fabiocav commented on #2552
Can you also clarify the priority on this? We're having a difficult time with the assignment

[2021-04-14 22:20] danechitoaie opened #2553 "List of available templates for func new?"
Looking at https://docs.microsoft.com/en-us/azure/azure-functions/functions-create-function-linux-custom-image?tabs=bash%2Cportal&pivots=programming-language-javascript I see the `--template "HTTP trigger"` param.
Where can I find a list of all available templates?

[2021-04-14 22:43] cachai2 commented on #2552
This is a very high P2 for preview. P1 (blocker) for GA.

[2021-04-14 23:46] #2522 closed

[2021-04-15 17:44] apawast commented on #2548
@taejoon-bluebeaker are you still having this issue? If yes, can you please share what error you're getting from chrome? Are you seeing this on multiple machines? We are unable to reproduce this at the time.

[2021-04-15 17:46] apawast commented on #2549
@parkeradam are you creating your app using dotnet or dotnet-isolated?

[2021-04-15 17:47] apawast commented on #2553
@danechitoaie you can run `func new` without any parameters and it should give you the list of options.

[2021-04-15 17:47] #2553 closed

[2021-04-15 18:37] parkeradam commented on #2549
@apawast if you're asking about the FUNCTIONS_WORKER_RUNTUME in the local.settings.json file then the answer is dotnet. (only place I could find dotnet or dotnet-isolated)

[2021-04-15 19:50] v1r7u opened #2554 "func returns "Couldn't find a valid ICU package" error on each command inside Ubuntu-20.04 docker container"
## The context
I try to run the Azure Functions Core Tools inside VSCode Remote Container. As a base image I use `ubuntu:20.04`, the full dockerfile specification you can find in my repository [cloud_templates](https://github.com/v1r7u/cloud_templates/blob/main/.devcontainer/Dockerfile#L30-L36).

## The problem
The container build process passes without any issue, but when I try to run any `func`

[2021-04-16 04:11] taejoon-bluebeaker commented on #2548
It is solved. I installed it today. Thanks!

[2021-04-16 06:12] v1r7u commented on #2554
My colleague helped me to find this thread https://github.com/dotnet/core/issues/2186, which suggest disabling globalization via the environment variable `DOTNET_SYSTEM_GLOBALIZATION_INVARIANT=true`. With this env-var, everything works in a container too.

I've already pushed the change-set to the repo.

Is it a known issue? Does it make sense to update the function-core-tools installation page to

[2021-04-17 12:34] bastoune commented on #1863
I have this problem when my Service Principal is member of a group.
If I add the group as Contributor in the IAM of the Function App, it goes in time out.
If I directly add the service principal, it works fine.

How can I manage to make it work with the group please ?

[2021-04-18 12:59] #2548 closed

[2021-04-19 01:59] matt-psaltis opened #2556 "'func kubernetes deploy' hangs when using NET5 dotnet-isolated"
The build process starts a container using run --rm -d -it with an entrypoint of /bin/sh
However in isolated mode, the Azure function dotnet process still starts which prevents the GetTriggersFromDockerImage method from executing the print-functions.sh to analyse the available functions.

Furthermore, the --no-docker parameter does not work because as per the link here: https://docs.microsoft.com/

[2021-04-19 15:30] parkeradam commented on #2549
Anything further on this required from me?

[2021-04-19 21:13] TsuyoshiUshio opened #2559 "Kakfa/RabbitMQ is not included as a template"
Kafka/RabbitMQ is not included as a template for both Static dotnet template (NuGet) and Bundle Template (other languages)

## Bundle Template
CurrentVersion: 1.5.1 https://functionscdn.azureedge.net/public/ExtensionBundles/Microsoft.Azure.Functions.ExtensionBundle/index.json
Expected Version: 1.8.1

Currently deployment is on going. Wait until it release and update this repo.

## Static Template

[2021-04-19 21:17] TsuyoshiUshio opened #2560 "dotnet-isolated template doesn't include several extensions"
According to the test of latest func command, https://github.com/Azure/azure-functions-core-tools/releases/tag/3.0.3442 That doesn't include the following extensions.

![image](https://user-images.githubusercontent.com/1390976/115304291-a2a66400-a119-11eb-9be4-0ad8283f8f80.png)

* Durable Functions
* Kafka Extensions
* RabbitMQ Extensions

We need to contribute the following repo and update the ve

[2021-04-19 21:21] TsuyoshiUshio opened #2561 "func new doesn't work for GitBash (Mingu64)"
GitBash doesn't work.

![image](https://user-images.githubusercontent.com/1390976/115304956-7212fa00-a11a-11eb-97c7-83a9c124b403.png)

CMD works.

![image](https://user-images.githubusercontent.com/1390976/115305012-848d3380-a11a-11eb-9e01-839097c31e8f.png)

This issue is not severe, however, just share it as known issue.
@pragnagopa

[2021-04-19 22:07] TsuyoshiUshio opened #2562 "func new is not working for java"
Probably, Java looks not supported for CoreTools, however, the experience looks misleading.

[code]

If it is not available, we can cross out the 5. java.   For java, we usually, `maven` plugin.

`func init` equivalent.

[code]

`func new` equivalent.

[code]

It also doesn't include `Kafka Trigger` it is on going, however, I don't know the ETA of RabbitMQ.  RabbitMQ has separate repo.
FYI: https:

[2021-04-19 22:43] pragnagopa commented on #2562
This is issue is by design right now. azure-maven-plugin is the only support for command line development.

@TsuyoshiUshio - do you think we should show a error message or a warning to let users know to use maven plugin?

[2021-04-19 22:49] TsuyoshiUshio opened #2563 "func host start doesn't work on Mac by Exceeded language worker restart retry count for runtime:node. Shutting down and proactively recycling the Functions Host to recover"
I found `func host start` for node doesn't fork on my mac.

# Expected behavior

Azure Functions runs by `func host start`

# Actual Behavior

Fails by `Exceeded language worker restart retry count for runtime:node. Shutting down and proactively recycling the Functions Host to recover`

For the full logs

[code]

# Version
macOS Mojave Version 10.14.6
func version
3.0.3442
dotnet --version
5.0.202

[2021-04-19 22:55] pragnagopa commented on #2563
Please share which version of node is installed on your local machine. Also, try running with verbose flag - `func host start --verbose`

[2021-04-19 22:58] TsuyoshiUshio commented on #2563
It is --verbose option. I found a root cause. My node version was old. 8.x I update 14.x it works.
template works as well. Only thing I found is, functions logo is missing. lol  However, it not big deal and It could possible that is for my bash script settings.

[code]

[2021-04-19 22:58] #2563 closed

[2021-04-19 22:59] TsuyoshiUshio commented on #2562
I think, just remove java from `func init` might be good to avoid confusion. What do you think?

[2021-04-19 23:01] TsuyoshiUshio commented on #2560
I talk with @ankitkumarr and it is expected behavior.
If we want to add a template, we need to upgrade the isolated template.

[2021-04-19 23:16] amamounelsayed commented on #2562
Thank you @TsuyoshiUshio this is duplicate to https://github.com/Azure/azure-functions-core-tools/issues/2542

[2021-04-20 00:23] pragnagopa commented on #2562
closing this as dup

[2021-04-20 00:23] #2562 closed

[2021-04-20 09:49] rjygraham opened #2564 "Cannot deploy to a function hosted on Linux Consumption plan when AzureWebJobsStorage config setting is Key Vault reference"
When a function hosted on Linux Consumption plan has AzureWebJobsStorage configuration setting set to valid Key Vault reference, errors block successful deployment via Az CLI and Functions CLI.

#### Investigative information

Please provide the following:

- Timestamp: 2021-03-26 04:06:00 UTC
- Function App version: ~3 runtime, dotnet-isolated (.NET 5)
- Function App name: oe-twitch-eus-identity-

[2021-04-21 00:32] balag0 commented on #2564
Thanks. yes. this is not supported in core tools currently. will take care of this. assigned this to myself cc @pragnagopa

[2021-04-21 15:36] pragnagopa commented on #2564
@balag0 - Assigned this current sprint. Let me know if this needs to be assigned to next sprint instead.

[2021-04-21 20:06] apawast commented on #2565
@Y-Sindo the azure-functions-host repo is probably the best example we have on how to do this.

[2021-04-21 20:11] amitplooto commented on #2067
We are trying this on Function v1 on localhost, Does anyone know if we have a fix yet? Also, Is there any workaround on this?

[2021-04-21 20:17] apawast commented on #2554
@v1r7u no this is not a known issue, however, based on the issue descriptions a blanket statement does not seem appropriate here. There is troubleshooting guidance available for now: [https://github.com/dotnet/core/blob/main/Documentation/build-and-install-rhel6-prerequisites.md#troubleshooting](https://github.com/dotnet/core/blob/main/Documentation/build-and-install-rhel6-prerequisites.md#trouble

[2021-04-21 20:19] #2554 closed

[2021-04-21 20:21] apawast commented on #2556
@ahmelsayed fyi

[2021-04-22 07:51] v1r7u commented on #2554
@apawast, the referenced page is about old version of rhel and centos, while I try to run the tool on latest ubuntu image. At least, in my case, it was not obvious that I have to fix my func-core-tools ubuntu installation based on dotnet-app troubleshooting for centos/rhel.

I'm saying that `func` does not work on docker image `ubuntu:20.04` and I give exact dockerfile to reproduce the issue with

[2021-04-27 19:46] drfbwilliams commented on #2304
@gh0st1596

Hi there - how exactly did you do this and get it to work? I have tried manually adding and referencing the earlier version and I am still smashed by this disgraceful bug when attempting to implement SignalR

Many thanks for any help

[2021-04-28 07:30] MJECloud commented on #2544
@apawast I'm currently using following versions
Node: 15.14.0
Npm: 7.7.6

[2021-04-28 08:30] vyarymovych commented on #2399
@CarlosLanderas I tried downgrading as well but it didn't work. Which version did you downgrade to?

[2021-04-28 08:47] CarlosLanderas commented on #2399
@vyarymovych 2.14 is workign properly
I'm now able to do distributed tracing by starting operations using System.Diagnostics.Activity

[2021-04-28 09:21] vyarymovych commented on #2399
@CarlosLanderas thanks, I just tried again and still the same error. Send the package version that I use
![Capture_Packages](https://user-images.githubusercontent.com/2567647/116379980-38c64280-a81c-11eb-9a87-652a286bc03d.PNG)
![Capture_Error](https://user-images.githubusercontent.com/2567647/116379984-395ed900-a81c-11eb-938d-48470e3494dd.PNG)

[2021-04-28 20:33] fabiocav commented on #2564
Assigning this to sprint 101

[2021-04-28 22:58] balag0 commented on #2564
Yes, didn't get a chance to work on this. Sprint 101 is good. Thanks

[2021-04-29 07:44] parkeradam commented on #2549
@apawast Just curious about the status of this if there is any updates? :)

[2021-04-29 13:19] NeilMacMullen commented on #2524
Same here - anyone know of a workaround?

[2021-04-29 15:45] mithom commented on #2350
this dependency system is just pathetic. efcore 5.0 supports .netcore 3.1, azure functions v3 supports .netcore3.1 but since they usehow somewhere use a different version of the logging system that is supported in .netcore 3.1, thye just don't work together..... how even. Don't get me started on explaining how dll loading work pls, i know how it works, and yet no other programming language has thi

[2021-04-30 05:09] flcdrg opened #2571 "Specify generated namespace with func init"
As someone creating a new project, I'd like the ability to be able to specify the namespace used when calling `func init`

Current if I use `func init Gardiner.Functions --worker-runtime dotnetisolated`, it correctly creates a subdirectory named `Gardiner.Functions`, but in the code it is using a default namespace of `Gardiner_Functions`, whereas in my case I would prefer `Gardiner.Functions`

eg.

[2021-04-30 06:05] takuyateraoka commented on #2384
This problem has been fixed in 3.24.2 (or earlier).
Thank you.

[2021-04-30 06:05] #2384 closed

[2021-04-30 12:17] jaimesanchezfundary commented on #2442
I have the same issue, if needed I can share the code to help troubleshoot.

Locally works great but when published

/credits/calculate/

/credits/{rfc}/

The issue is that it believes that calculate is the parameter {rfc} in azure it doesn't realize that **calculate** is part of the path, so the second function executes the /credits/{calculate} because it believes that is a parameter and not a pa

[2021-04-30 19:13] jeffputz commented on #2294
I'm satisfied with the outcome of this, using the instructions [here](https://docs.microsoft.com/en-us/azure/azure-functions/dotnet-isolated-process-developer-howtos?tabs=browser&pivots=development-environment-vs).

However, the CLI tooling makes a template that won't work in the event that you want to get some settings from `local.settings.json`. That's not a bug, exactly, but you won't see it if

[2021-05-03 06:55] nathanjford commented on #1984
I am also getting this error and cannot figure out what to do. I have a basic javascript azure function (rest api) which will not deploy through github actions. I don't know if I can increase the disk space on the App Service? The app is already pretty minimal (~500 Mb with node_modules), I don't think I can take anything out. What do I do?? Thanks

[2021-05-03 11:42] mithom commented on #2304
@fabiocav the issue here is not that .NET 5 is not supported but that all packages that also support fully backward compatibility with .netcore3.1 also do not work. Entityframework core 5 works perfectly fine with .netcore3.1 just like the logging.Abstractions 5 works fine with it. The issue is not that you are changing the model for .NET 5 (it is, but it's a different problem, no large file suppo

[2021-05-03 13:59] ryanidev commented on #2524
I only seem to have this problem when trying to deploy via azure pipelines. I can publish from my local machine without issue.

[2021-05-03 14:08] NeilMacMullen commented on #2524
I should have been clearer in my comment - I definitely see the problem when deploying from my local machine.

[2021-05-03 14:39] ryanidev commented on #2524
Ok the problem was my own fault. It's because I didn't check in the local.settings.json file into source control, so when Azure pipelines ran the job, it didn't know the language, or runtime. Once I added that file to the repo, things published fine.

[2021-05-03 21:25] houstonhaynes commented on #1963
It certainly is one sure-fire way to know if a newbie is actually trying to roll their own F# function all. [raises hand]

[2021-05-03 23:12] cgillum opened #2572 "func kubernetes deploy completes with "Object reference not set to an instance of an object.""
### Core tools version
3.0.3442 (latest as of today)

### Repro steps
Deploy Durable Functions app with SQL backend once to an AKS cluster, and then again a second time (the problem happens on the second deployment):

[code]

Output:
[code]

I don't know what the impact of this null-ref is, but regardless it isn't a good look.

I also don't know if this is at all related to Durable Functions. That

[2021-05-04 02:50] RyanMarcotte commented on #2524
When the `local.settings.json` file is checked into source control and is used by Azure Pipelines to perform the deployment, how do the `AzureWebJobsStorage` and `AzureWebJobsDashboard` affect things?

[code]

[2021-05-04 11:16] asparrowhawk commented on #2524
@RyanMarcotte I have been having the same issue, but have been using a cut down _local.settings.json_ file in the same publish output directory:

[code]

As I expect the additional values, for AzureWebJobsStorage etc,  would overwrite those already setup in Azure.

[2021-05-04 12:00] ryanidev commented on #2524
FWIW, I just checked my deployment, and the AzureWebJobsStorage property was _not_ overridden. (I didn't have the AzureWebJobsDashboard property in my json file).

[2021-05-04 12:21] NeilMacMullen commented on #2524
Turns out my issue was due to not copying local.settings.json to the correct folder.  Now works fine.

[2021-05-04 17:39] apawast commented on #2572
@ahmelsayed can you please take a look at this?

[2021-05-04 18:13] ahmelsayed commented on #2572
@cgillum can you set `CLI_DEBUG=1` and run the command again and share the exception you're seeing.

[2021-05-04 18:44] cgillum commented on #2572
(Updated repro steps to be more accurate)

I set `CLI_DEBUG=1` and have a few more details. First, I see a lot of I/O exceptions related to network communications that repeat for a while. Here is the first exception:

[code]

The above is followed by `SocketExceptions` every few seconds. I'm not copy/pasting them here since they might be somewhat redundant with the above.

Finally, after several i

[2021-05-04 18:55] ahmelsayed commented on #2572
I see. After a deployment is done, it tries to list functions from the runtime by [forwarding a port](https://github.com/Azure/azure-functions-core-tools/blob/735920bfbeac5d79eb3c978047301f1cd9957dcd/src/Azure.Functions.Cli/Kubernetes/KubernetesHelpers.cs#L327-L331) to your local machine and sending the `GET /admin/functions` to it. I have seen sometimes when port forwarding a port quickly after a

[2021-05-04 20:53] WillFrasier commented on #1984
I'm seeing this as well. We are seeing a massive file size of the azure core tools on disk. Over 600MB. I simply added this to our `.funcignore` and deployment worked fine again. Requiring users to upgrade to premium for this is not great.

In `.funcignore`
[code]

[2021-05-04 21:03] brettsam opened #2573 "Add "netFrameworkVersion" option to publish for dotnet-isolated"
With .NET 6 coming, we need a way to also publish dotnet-isolated to a .NET 6 App Service. Today we assume it is .NET 5.

[2021-05-05 10:11] trailmax commented on #2304
Why is this closed? Just hit this issue and none of the workarounds provided are working. Can't upgrade to Functions 5 because durable functions is not available in v5.

[2021-05-05 10:32] IanKemp commented on #2304
It's closed because it's WONTFIX. If you need durable functions, you're sadly stuck on .NET Core 3.1 until at least .NET 6.

[2021-05-05 10:35] trailmax commented on #2304
@IanKemp Ok, thanks for the clarification.

Seems like I'm stuck between a rock and a solid place. Core 3.1 does not work with logging, v5 is not an option because durable is not available, .Net 6 is in early preview and I need it running in production yesterday (it was running in production yesterday).
This sucks big time.

[2021-05-05 14:07] lopezleandro03 commented on #1863
I had the same problem and fixed it by making an explicit assignment for the SPN directly to the Azure Function.

However, as a best practice we prefer not to create Role Assignments for individual identities since we would consume many Role Assignments and these are limited per subscription (2000).

@balag0, are there any plans to address this limitation?

[2021-05-05 17:17] hoffe86 commented on #2294
Getting same error:
`
[2021-05-05T17:15:36.402Z] A host error has occurred during startup operation '2356178d-fe24-4ccc-9c47-386e56d30112'.
[2021-05-05T17:15:36.403Z] System.Private.CoreLib: Could not load type 'System.Diagnostics.DebuggerStepThroughAttribute' from assembly 'System.Runtime, Version=4.2.2.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a'.
Value cannot be null. (Parameter 'provid

[2021-05-05 18:27] anthonychu commented on #2294
@jeffputz Anything that's in the Values section of local.settings.json should be made available in the environment, and environments are already included in the config (https://github.com/Azure/azure-functions-dotnet-worker/pull/333) if you use [`ConfigureFunctionsWorkerDefaults()`](https://github.com/Azure/azure-functions-dotnet-worker/blob/main/samples/FunctionApp/Program.cs#L20).

[2021-05-05 18:30] jeffputz commented on #2294
@anthonychu are you saying that in local environments you don't need to call out loading the json file?

[2021-05-05 18:33] anthonychu commented on #2294
@jeffputz Yeah I should have included a bit more. `local.settings.json` is specifically for use when running locally and is only loaded automatically when you run the app with Azure Function Core Tools. We exclude it from publishing because we recommend using app settings or Key Vault when running in the cloud.

[2021-05-05 18:47] balag0 commented on #1863
@bastoune @lopezleandro03 It looks like the issue you mentioned is unrelated to cold start. Could you please open a separate issue for this with repro steps. Also does it work eventually with retries?

[2021-05-05 19:35] sunit82 commented on #2421
I too have the same issue. though i'm not deploying using a build, but doing it manually using VS2019.
The timer trigger AzFunction works well locally and is triggered as per CRON expression. but on deployed version i get the error as mentioned in the title of this issue.
"The listener for function 'xyz' was unable to start. Value cannot be null. (Parameter 'connectionString')"
any solution for th

[2021-05-05 21:31] marjtecson07 opened #2575 "MethodNotFound when trying to call JsonResult with JsonSerializerSettings"
Azure Functions Core Tools (3.0.3442)
Function App: netcoreapp2.1
Function App Version : v2

Error when testing the HTTP function:
System.Private.CoreLib: Exception while executing function: PostReport. http.functions.core: Method not found: 'Void Microsoft.AspNetCore.Mvc.JsonResult..ctor(System.Object, Newtonsoft.Json.JsonSerializerSettings)'.

There was a related issue [1907](https://github.com/

[2021-05-05 23:39] RyanMarcotte commented on #2524
@asparrowhawk , are you getting errors related to a `null` connection string when running the functions locally using `func host start` and the `local.settings.json` you posted?

![image](https://user-images.githubusercontent.com/1458084/117222214-2f167f00-adc8-11eb-82db-cb59ec4167b8.png)

[2021-05-05 23:52] RyanMarcotte commented on #2524
@ryanidev , you mean that the `AzureWebJobsStorage` property is present in your `local.settings.json` file and the value from that file does _not_ override the value in Azure Portal when the app is published?

[2021-05-06 02:56] snapfisher commented on #2399
2.17 is also broken.  Reverting to 2.14 does work

[2021-05-06 03:35] #2565 closed

[2021-05-06 04:14] tuomaskujala commented on #2302
Would be great if this was included in the tools.

As a temporary solution, I'm running `tsc -w` in another bash tab.

[2021-05-06 06:31] ryan-theta commented on #1239
Would this include live reload in Ubuntu WSL2 for the Python runtime?

[2021-05-06 07:37] asparrowhawk commented on #2524
I do not see the issue with the connection string in my simple example:

[code]

[code]

Add cut down local.settings.json file to the publish directory

[code]

Note: only Windows is currently supported for .NET 5.0 function apps.

[2021-05-06 09:05] CodePrC opened #2577 "In Alpine only the windows installation works, Is it OK?"
npm i -g azure-functions-core-tools@3 --unsafe-perm true

[2021-05-06 15:05] ryanidev commented on #2524
yes, that is what I observed. Although I only tested once...I've had issues before where I had to publish twice to actually see my changes ¯\_(ツ)_/¯

[2021-05-06 17:40] apawast commented on #2575
@marjtecson07 are you hitting this issue locally or on azure online? Are you targeting to the ~2 or the ~2.0? Is there something preventing you from moving to Functions 3.0/.NET Core 3.1?

[2021-05-06 17:43] apawast commented on #2577
@CodePrC if you are seeing in the docs that this is a windows specific command, that is not the case. Does that answer your question? If not can you please give more clarification of what you're looking for?

[2021-05-06 17:47] marjtecson07 commented on #2575
I'm debugging locally. We can't move yet to netcore3.1 since it'll take time to regress the other existing functionalities. Anyway, I managed to resolve this by finding a copy of a lower version of cli tools and overriding the debug properties of my project. Not sure why VS downloaded an incompatible cli version in the 1st place. Thanks for replying!

[2021-05-06 17:47] #2575 closed

[2021-05-06 18:05] apawast commented on #2518
Hi @opticyclic, the documentation is correct. To use Java 11, you must have the variable JAVA_HOME.

[2021-05-06 18:05] #2518 closed

[2021-05-06 18:42] CodePrC commented on #2577
@apawast this commands work for alpine, & the ubuntu(apt-get) command does not work there

[2021-05-06 20:46] luismanez commented on #2304
@trailmax although I feel your pain, and totally agreed about Durable functions not available for .net 5... what´s the problem with logging? I have a solution in .Net 3.1 (Durable functions), and logging is working fine using 3.1 version package. I´m using 3.1.10 version for most of the Microsoft.Extensions.*

[2021-05-07 05:07] TsuyoshiUshio opened #2579 "func azure functionapp publish doesn't publish app settings for Kubernetes Environment"
`func azure functionapp publish` command doesn't publish `local.settings.json` contents as `AppSettings` when we use it against Kubernetes Environment.

If we can configure a flag for enabling/disabling it, it will be better.

CC: @pragnagopa

[2021-05-07 08:03] jokarl commented on #2442
@apawast any news on this? As we grow our API using functions this is becoming unmanageable. We'll have to resort to using different function apps just to not get colliding paths, and that is not reasonable as we run the premium plan.

[2021-05-07 09:58] trailmax commented on #2304
@luismanez The said nuget is depdendency of a depdency and I can't downgrade it. Installing that package of the 3.x version directly in my projects only results with antoher build error of "unable to downgrade dependency, version conflict" (or whatever the correct error is - don't have it in front of me now).

[2021-05-07 10:48] luismanez commented on #2304
oh, I see, yeah, it´s a mess then. All my dependencies are in a version that don´t require MS.Extensions version greater than 3.x.
It´s frustrating. Sorry.

[2021-05-07 12:54] jaimesanchezfundary commented on #2442
@apawast the same is for us, we are the first Fintech certified by the National Banking Commission and we need to respond fast to compliance requirements, please let us now if this is not going to be resolved.

Thanks

[2021-05-07 21:07] agravity-philipp commented on #2401
+1

[2021-05-08 01:13] jsinh commented on #2556
Is there a document or article we can look at to migrate our Azure Function C# to use .NET 5.0 and run on Docket Container / K8S with the same combination? @apawast thanks

[2021-05-08 21:18] TsuyoshiUshio commented on #2579
I investigate it, it is the matter of the order.
In case of Kubernetes Environment, App Settings is updated with `-i` option, however, the  update happens after the deployment. However, the Kubernetes Environment transformation happens on deployment time, so that we need to swap the order.

[2021-05-10 11:10] MartinWickman opened #2582 "Error calling sync triggers (BadRequest) during func azure functionapp publish"
Deploy fails for a function app and I cannot figure out what is wrong. The portal says

"Azure Functions runtime is unreachable"

The reason is because of an `ArgumentException` being thrown in Startup.cs due to missing configuration values. I found this out by trial and error.

So I would like to know if errors during startup is logged somewhere or if they are just ignored?

[code]

[2021-05-11 10:02] rudfoss opened #2584 "Failed to sync triggers for function app (west europe)"
Hi,

This morning we started seeing this error on two different pipelines deploying to two different Azure Function instances within West Europe. Both are Linux hosts:

[code]

Full stage log:
[code]

After researching a bit online I came across this thread which suggested I open a new issue here: https://github.com/Azure/azure-functions-core-tools/issues/1415#issuecomment-523203301

Our pipelines

[2021-05-11 10:13] Bugzey commented on #2017
Getting the exact same error on Ubuntu 20.04 via WSL2.

[code]

I can open the link mentioned in the logs just fine with `curl`.

`func` did function properly a few months ago. I recently updated OpenSSL with a version that's not in the official repos, which might be related to this issue even though is picked up fine by the rest of the system:
[code]

General system info:
[code]

[2021-05-11 10:20] josephh opened #2585 "Azure Functions disappeared from Static Web Apps"
We've been using Azure SWA to host Functions.  They've stopped showing today.  This has been reported elsewhere outside of our organisation - https://docs.microsoft.com/en-us/answers/questions/390580/swa-function-no-longer-appearing-in-39functions39.html?childToView=390753#answer-390753

Are any of the maintainers of this project aware of this problem and can you advise?

Mentioning @anthonychu -

[2021-05-12 05:13] ryohji commented on #2232
I encountered same `Value cannot be null. (Parameter 'provider')` problem（Win10 + VS Code + Python), but it solved with the newest "[Azure Functions Core Tools](https://docs.microsoft.com/en-us/azure/azure-functions/functions-run-local)" (3.0.3442).
[code]

So the first thing we must be sure is **CHECK THE VERSION OF "Functions Core Tools"**.

[2021-05-12 06:52] rudfoss commented on #2584
Update from MS support on this issue:
"
We have an ongoing Azure Container Instances issue in Western Europe that may be affecting this Linux Consumption Functions App.
"

The problem resolved itself (or was resolved by MS) at about 23.00 UTC (11th of May) so I will close this issue.

[2021-05-12 06:52] #2584 closed

[2021-05-12 08:33] rupi1984 commented on #2232
same error resolved by configuring local azure storage emulator

[2021-05-12 08:44] aaronadamsCA opened #2586 ".funcignore syntax is undefined, does not match .gitignore syntax"
Please disregard this ticket 🙂

[2021-05-12 08:49] #2586 closed

[2021-05-12 10:44] vkrzv opened #2587 "InvalidCastException while testing Azure Functions locally"
Hi,
I'm testing Azure Functions locally and getting this error on cast from CloudException to CloudException:

`System.InvalidCastException: '[A]Microsoft.Rest.Azure.CloudException cannot be cast to [B]Microsoft.Rest.Azure.CloudException. Type A originates from 'Microsoft.Rest.ClientRuntime.Azure, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35' in the context 'Default' at locati

[2021-05-12 20:22] ankitkumarr commented on #2541
I have made progress to consolidate all the logic for the release. I will be adding this to a DevOps task and attempting to run the automation in the next Core Tools release.

[2021-05-12 20:23] fabiocav commented on #2502
Work is complete, but pushing this to after the code/deployment freeze.

[2021-05-12 20:33] fabiocav commented on #2552
@karshinlin is this something you're expecting to pick up?

[2021-05-12 20:34] fabiocav commented on #2552
@cachai2 assigning this to sprint 102, but this is still pending assignment.

[2021-05-12 20:35] fabiocav commented on #2564
@balag0 moving this back to `triaged`, please feel free to assign to a sprint when we're pretty confident we'll be able to close this. Thanks!

[2021-05-12 21:18] balag0 commented on #2564
I am working on this, but this needs some other pieces implemented first in kudu and elsewhere which I am focusing on first.

[2021-05-12 21:34] balag0 commented on #2585
It is possible this was due to an issue in West Europe region yesterday. Could you please try again.

[2021-05-13 01:48] RyanMarcotte commented on #2524
I checked `local.settings.json` file into source control as previously described.

[code]

Also checked the following `local.settings.json` file into source control, located in a `deploy` folder off the repository root.

[code]

In my build pipeline, I include both the original `local.settings.json` file and the `deploy/local.settings.json` file as part of the published build artifact.

During the

[2021-05-13 06:29] LukeBolly commented on #2294
Is there a process I can follow to upgrade an existing 3.1 function to 5? Changing the target framework and local.settings.json to dotnet-isolated is not enough to get it working

[2021-05-13 17:42] apawast commented on #2587
@vkrzv can you please share the steps to reproduce this and a full stack trace?

[2021-05-13 17:44] apawast commented on #2587
@vkrzv In the meantime you could delete 'Microsoft.Rest.ClientRuntime.Azure.dll' from your bin folder.

[2021-05-13 18:19] #2500 closed

[2021-05-14 13:59] vkrzv commented on #2587
I just have a Functions App that throws 'new CloudException("test exception")' (I added it in order to emulate locally the exception I got in real Azure environment) from an activity function and catches it in the orchestrator function.
Then I encountered that check like "if (ex.GetBaseException() is CloudException)" doesn't work. I modified the code to perform an explicit cast (CloudException)ex.

[2021-05-14 14:39] adamfoneil commented on #2304
how exactly do you downgrade to 3.1? When I try to do this, I get that infuriating "downgrade detected" error.

![image](https://user-images.githubusercontent.com/4549398/118286623-a1f6b880-b4a0-11eb-8e7b-a0c3f2af52ef.png)

[2021-05-14 15:06] fvalencia12 commented on #2304
I usually use Package Manager and pick the version I want to install and let it do the work. Seems the easiest.

***@***.***D748A8.CAF41B60]

[2021-05-14 15:34] trailmax commented on #2304
@adamfoneil I was in the same boat - I had to bite the bullet and upgrade to .Net 5. No known workaround for this scenario :-(

[2021-05-15 10:29] jamiemccrindle opened #2594 "CVE-2020-7768: Please update the node worker to get the latest grpc package"
The grpc package in the azure-function-core-tools v3 has an insecure grpc dependency in the node worker. This has been updated in the node worker but not in azure-functions-core-tools. Can you update to the latest node worker to fix?

Vulnerability described here: https://snyk.io/test/npm/grpc/1.23.4

Commit that fixes it in azure-functions-nodejs-worker

https://github.com/Azure/azure-functions-n

[2021-05-15 11:17] zhenyuan0502 commented on #2074
I got the same issue, but it's not timeout like above situation and it still run the function.
Any update for this annoying message?

[2021-05-15 20:47] jeffputz commented on #2294
@anthonychu how then do you get access to configuration values in the context of the `HostBuilder`? I make some decisions in `.ConfigureServices()` based on configuration values (overriding certain implementations of certain interfaces based on configuration, for example).

[2021-05-18 10:36] schrotie opened #2595 "No ESM support"
Summary: ECMAScript modules don't work when running locally on Linux

System: Manjaro (Arch) Linux
Core Tools Version:       3.0.3528

Use-Case: run function locally
Function: default created by "init", renamed index.js to index.mjs, no other changes

Expected result: runs as before with index.js
Observed result: crashes, apparently because node assumes it's CJS not ESM
Note: `context.log('version

[2021-05-18 11:26] schrotie commented on #2595
My fault, needed to replace `module.exports =` with `export default`. Sorry, was blind ...

[2021-05-18 11:26] #2595 closed

[2021-05-18 16:58] asharma-gh opened #2596 "Configuration value 'always' is not supported. Value cannot be null. (Parameter 'provider')"
Hello, we are using Visual Studio 2019 to develop our azure functions in C# and would like to have logs write to a file. We tried setting `fileLoggingMode` to `always` but run into the error in the title:
[code]

the host.json is:
[code]

Is there a way to have local logs write to a file? And if not, are there recommended settings for local azure function logging? (Particularly in VS2019 and C#)

[2021-05-19 13:21] progala2 commented on #823
Bump

[2021-05-19 15:44] KevinFerm commented on #1239
Hi! What's the status on this? Dotnet has this for years through dotnet watch run. Should be easy to add especially for azure functions in C#, no?

[2021-05-20 17:48] apawast commented on #2596
@asharma-gh what is your scenario here? Why do you need local files?

[2021-05-20 17:59] apawast commented on #2232
Closing this issue as there is no follow-up from the author. If anyone is still running into this issue, please open a separate issue.

[2021-05-20 17:59] #2232 closed

[2021-05-20 19:02] AliKhyar commented on #1863
what I remarked is that the function app and its dependencies takes time to be full ready, adding "Start-Sleep" in my powershell script solved the problem

[2021-05-20 20:00] #2585 closed

[2021-05-20 20:20] chuanqisun commented on #1239
Curious if this is being triaged at all. It is an obvious productivity killer. I'm using the out-of-the-box TypeScript Azure Function debug task from vscode. For every single change, I have to kill the entire running function, reinstalling npm package (why do we need this?), recompile typescript. That's 10-20 seconds gone. Please consider improving the default debug tasks
- Install npm only when n

[2021-05-21 01:51] ericthomas1 opened #2599 "Core Tools hangs on first publish"
Whenever I run `func azure functionapp publish <function name> --publish-local-settings` from a terminal in VS Code, Core Tools hangs.

**Example:**
![image](https://user-images.githubusercontent.com/42788729/119069973-f667cf80-b99b-11eb-8e8b-c1fedd3898f4.png)

I always have to hit `CRTL+C` to stop the process then run the above command again and its successful.

![image](https://user-images.githu

[2021-05-21 13:53] asharma-gh commented on #2596
the scenario is to send logs across the team easily.

Currently logs are found in the  VS debug output, func tools command prompt, and now in AppData thanks to the fileLoggingMode set to always

The logs in each of these sources is different, and ideally they would all be found in one place to make sending them across the team easier. Local files also have the advantage of being used with text edi

[2021-05-21 21:45] sceniclife opened #2600 "MacOsx upgrade from 3.0.3442 to 3.0.3477 introduces /dev/shm/AzureFunctions warning message"
Version 3.0.3442 starts without any warning (yellow) messages
[code]

Version 3.0.3477 now starts with Operation not permitted message
[code]

[2021-05-22 13:24] NoahStahl opened #2601 "Startup errors after upgrade to 3.0.3568"
After Visual Studio 2019 16.9.6 upgraded the core tools to 3.28, I'm seeing a new error introduced on start debugging. Relevant output below. Did not occur before automatic tools upgrade, and doesn't occur running manually in console with `3.0.3233`.

[code]

The function in question runs on a timer and inserts a message into ServiceBus queue:

[code]

Function project dependencies:

[code]

[2021-05-22 18:28] DaRosenberg commented on #2600
Also seeing this.

Since `/dev/shm` does not exist on macOS I think the core tools should either not try to use it on macOS, or fail more gracefully/silently (i.e. not print a warning since this is pretty much to be expected on macOS).

Printing this warning only makes the experience noisier and risks distracting from legitimate warnings IMO.

[2021-05-24 18:32] vigouredelaruse opened #2603 "hijack in-flight: possibility to improve durable functions code redeployment"
as per documentation, durable functions extension places constraints on code changes, with development-time advice to drain certain queues https://docs.microsoft.com/en-us/azure/azure-functions/durable/durable-functions-versioning

this is a feature request to bake this inflight draining into core-tools so that implementation details are hidden

the ideal benefit would be improved development time

[2021-05-25 02:24] tkutcher opened #2604 "Inconsistent Behavior Publishing Functions"
I have noticed I have been getting completely inconsistent behaviors when running publish to publish my python function app from the command line with `func azure functionapp publish <my-apps-name>`.  From what I can tell, 1 of 3 things will happen

1. Nothing gets published, and whatever functions were there get wiped
[code]
2. Nothing gets published, but a default `WarmUp` (csharp?) function get

[2021-05-25 16:28] RyanMarcotte commented on #2524
Figured out the NuGet authentication issue.  I added a "NuGet authentication" task to the deployment pipeline, changed to use `local` build, and included the NuGet sources in the Azure Function Core Tools command that performs the build + deployment.

[code]

[2021-05-25 17:27] isa56k commented on #2451
I'm also seeing this on M1 Mac Mini running:
Python 3.9.2
Core Tools Version:       3.0.3477 Commit hash: 5fbb9a76fc00e4168f2cc90d6ff0afe5373afc6d  (64-bit)
Function Runtime Version: 3.0.15584.0

[2021-05-25 20:12] fabiocav commented on #2599
Not an issue we're aware of so we may need to take a closer look.

Would you be able to issue the same command after setting the `CLI_DEBUG` to 1 so we can see if any additional details pop up?

[2021-05-25 20:13] fabiocav commented on #2599
Also, can you clarify how long this takes before you cancel? Thanks!

[2021-05-25 20:14] fabiocav commented on #2600
@pragnagopa @gohar94 this might be a scenario that wasn't completely covered. Wondering if shared memory should be completely disabled in local run scenarios.

[2021-05-25 20:20] fabiocav commented on #2601
@NoahStahl how are you defining the connection string you specified in the code? Is that set as an environment variable, local.settings.json value, or something different?

[2021-05-25 20:25] gohar94 commented on #2600
@fabiocav I think the use of this is disabled but the initialization attempt happens anyway. I agree, we should do the initialization only when this is enabled.

[2021-05-25 20:25] fabiocav commented on #2604
@tkutcher this does sound pretty strange.

Can you please provide the following so we can take a closer look at what is happening here?

 - Impacted app name
 - Timestamps for when the error happened
 - SKU (e.g. Linux Consumption, Linux Dedicated, etc.)

Thanks!

[2021-05-25 20:27] fabiocav commented on #2603
@ConnorMcMahon can you comment on this?

[2021-05-25 20:31] fabiocav commented on #1863
@balag0 looks like the original issue has been addressed, is that correct? If so, @bastoune / @lopezleandro03 / @AliKhyar , can you please open separate issues with information about what you're seeing? Thank you!

[2021-05-25 20:33] fabiocav commented on #2017
@janpro0706 the exception is similar, but the underlying issue you're seeing seems to have a different root cause. Can you please open a separate issue with the details of what you're seeing? Thanks!

[2021-05-25 21:19] NoahStahl commented on #2601
I'm injecting the value from local secret, using this Startup code:

[code]

[2021-05-26 00:12] fabiocav commented on #2600
Thanks! Flagging this for consideration in sprint 103

[2021-05-26 14:02] tkutcher commented on #2604
@fabiocav Sure thing. FYI - we did wind up opening an actual support ticket with azure for this, I don't want to cause double-work investigating!

But anyways...
- One of the apps that it is happening for is `cc-signup-dev`
- All are Linux Consumption Plan apps with Python functions
- The only timestamps I have are from the logs of the remote build running pip install, but here are some from this

[2021-05-26 20:12] fabiocav commented on #2502
Assigning this to 103 for completion.

[2021-05-27 02:37] #2579 closed

[2021-05-27 11:46] apawast opened #2607 "Core Tools should mirror cloud environment directory structure"
When referencing local files it often comes up that it "works locally" but "breaks when published."  Core tools should mirror same file referencing requirements / env variables. We could address this in v4.

[2021-05-27 17:58] dan5082 opened #2608 "Assets previously published for 3.0.3528 now missing"
Is there a reason some assets previously published with https://github.com/Azure/azure-functions-core-tools/releases/tag/3.0.3528 are now missing? For example https://github.com/Azure/azure-functions-core-tools/releases/download/3.0.3528/Azure.Functions.Cli.linux-x64.3.0.3528.zip is now NOT FOUND. This is affecting my CD/CI pipeline.

[2021-05-27 20:00] #2594 closed

[2021-05-28 21:10] christcottrell opened #2609 "Microsoft Azure WebJobs SDK ServiceBus connection string 'MessageBusConnection' is missing or empty."
I have a function app where I am setting the value of MessageBusConnection from Key Vault.  I can go to the configuration and see the setting is there.  MessageBusConnection with a key vault reference. The other point is that this is in a deployment slot where the other slot is working. And yes, I did check the config for the deployment slot and the setting is there.  I also do have the identity e

[2021-05-28 21:32] christcottrell commented on #2609
Update.. I removed and redeployed and the status now shows resolved, but it is still getting the error saying that MessageBusConnection is missing or empty..  It does have a value.

![image](https://user-images.githubusercontent.com/53835198/120043656-fbe39c00-bfd1-11eb-9289-ce4d979055d7.png)

And here is showing that we have a value in that secret and you can also see that secret version.
![image

[2021-05-28 21:35] christcottrell commented on #2609
Copying the code for the function to show the use of the MessageBusConnection..  Note that everything works in the dev slot, but the demo does not work.

[FunctionName("ValidationQueue")]
        public async Task Run([ServiceBusTrigger("cmp_validation", Connection = "MessageBusConnection")]string queueMessage, ILogger log)
        {
            log.LogInformation($"ValidationQueue trigger functio

[2021-05-28 21:40] christcottrell commented on #2609
Here is a screenshot of the error..  I also know it is not running since it has not processed the item in the queue. Can also see the same error in App Insights.

![image](https://user-images.githubusercontent.com/53835198/120044400-65b07580-bfd3-11eb-8716-f45b82067f46.png)

[2021-05-30 14:45] webernir commented on #2527
Thanks @pragnagopa 🙌
your work around worked!

[2021-05-31 00:53] jeffputz commented on #2294
I've been running functions for awhile in this new mode, and the timer functions periodically just die. The log shows `Stopping JobHost`, then a series of `Stopping the listener...` entries, and finally `JobHost Stopped`. If I hit one of the queue triggered functions, it seems to wake up and start processing again.

[2021-05-31 18:51] yehudamakarov opened #2610 "publishing from command line tools does not support deployment slots"
`func azure functionapp publish` should be able to publish to a certain deployment slot as per documentation. It doesn't seem like this is a capability.

[2021-05-31 18:57] yehudamakarov opened #2611 "publishing typescript functions updates index.ts but pushes user generated index.js"
Using `func azure functionapp publish` - if the typescript function's representation in the portal gets updated to match the index.ts that was published, then the running code should be a build of that index.ts. However, the running code will only be the last user generated index.js (using `tsc`).

If this is intentional, it seems to be poor design (my humble opinion).

Does this need to be fixed?

[2021-05-31 22:19] yehudamakarov commented on #2610
despite https://github.com/Azure/azure-functions-core-tools/commit/9cc58db73732bf17364c151be822036f52c78cd4 closing https://github.com/Azure/azure-functions-core-tools/issues/227

[2021-06-01 00:28] Matthewsre commented on #2465
I hit this issue today as well. All I did was add AZURE_FUNCTIONS_ENVIRONMENT to the local.settings.json:

[code]

This is the result:

![image](https://user-images.githubusercontent.com/2955659/120251161-7f50f780-c235-11eb-98c5-8b080be71cd3.png)

[2021-06-01 06:51] joshhighet commented on #2610
This should work (albeit undocumented)

`func  azure functionapp publish fn_name --slot slot_name`

https://github.com/MicrosoftDocs/azure-docs/issues/69117

[2021-06-01 13:04] yehudamakarov commented on #2610
@joshhighet excellent! Thank you. maybe we can ping the documentation updaters?

[2021-06-01 13:04] #2610 closed

[2021-06-01 23:00] #1863 closed

[2021-06-02 15:54] ilayn commented on #1910
This is still an issue with everything updated. Before the weekend things were working. Today it's broken. I don't even know what VS Code updated. But issue still exists

[2021-06-03 10:54] BoukeNijhuis commented on #1489
Not totally sure if I am one the same page here, but I use the following command to prevent `cd`-ing:

`func host start --script-root <path to my function's root dir>`

So if you use `--script-root` instead of the proposed `--content` I think you are all set.

It does not solve this issue, but it helps the people who do not want to `cd`.

In case I misunderstood the request: my apologies for the c

[2021-06-03 11:36] AnweshGangula commented on #2526
I'm facing the same issue.

[code]

[2021-06-03 23:21] ggailey777 opened #2612 "Argument --slot not being printed for func azure functionapp publish"
As mentioned in https://github.com/Azure/azure-functions-core-tools/issues/2610 the `--slot` setting isn't being generated with the help output for `func azure functionapp publish`. Per @ahmelsayed, the [order of adding the arg and throwing the exception](https://github.com/Azure/azure-functions-core-tools/blob/v3.x/src/Azure.Functions.Cli/Actions/AzureActions/BaseFunctionAppAction.cs#L16-L32) is

[2021-06-03 23:23] ggailey777 commented on #2610
It does sound like there's a code bug (https://github.com/Azure/azure-functions-core-tools/issues/2612) preventing the argument from printing in the help. I'll add `--slot` to the Core Tools article in the meantime.

[2021-06-04 00:41] TsuyoshiUshio opened #2613 "Kafka Extension with Bundle fails with Failed to load the librdkafka natvie library"
I found Kafka Extension with Extension bundle fails. If I publish the same app to the Azure (both on Windows and Linux) it works, however, In case of CoreTools with Windows, it fails.  It works for CoreTools with Linux by specifying `LD_LIBRARY_PATH` that is expected.

@fabiocav Could you help me to investigate this issue?

[code]

I found that `C:\Users\tsushi\.azure-functions-core-tools\Function

[2021-06-04 02:25] kathleenwest commented on #2526
I'm facing the same issue
https://github.com/microsoft/vscode-azurefunctions/issues/2832

[2021-06-04 07:09] CarsonPLS commented on #2526
The workaround that has worked most if not all is to run

`npm uninstall -g azure-functions-core-tools`
then
`npm i -g azure-functions-core-tools@3`

Not ideal but did resolve the issue for me twice (across 2 updates of the library)

[2021-06-04 13:18] kathleenwest commented on #2526
Ok, thanks. But this should be put into the update script.

[2021-06-04 14:45] CarsonPLS commented on #2526
@kathleenwest

Agreed. Let's hope the team hears our humble prayers. 😁

[2021-06-04 19:53] #2608 closed

[2021-06-05 08:13] swayamsidha opened #2614 "func new with javascript returns "the operation was cancelled""
I did func init, selected Node.js and language Javascript, when I hit func new, it showed me "the operation was canceled"
then I checked with `CLI_DEBUG=1 func new`, i got the following response
System.Exception: Cannot find the Local Application Data.
   at Azure.Functions.Cli.Utilities.EnsureCoreToolsLocalData() in D:\a\1\s\src\Azure.Functions.Cli\Common\Utilities.cs:line 183
   at Azure.Functio

[2021-06-05 22:55] anthonychu opened #2615 "FUNCTIONS_WORKER_RUNTIME not set correctly when publishing with dotnet-isolated and --force"
`dotnet-isolated` is incorrectly set to `dotnetIsolated`:

https://github.com/Azure/azure-functions-core-tools/blob/1bd13b4e0d5678e51da1aad3e202df0852cf2ce7/src/Azure.Functions.Cli/Actions/AzureActions/PublishFunctionAppAction.cs#L218

Also:

https://github.com/Azure/azure-functions-core-tools/blob/1bd13b4e0d5678e51da1aad3e202df0852cf2ce7/src/Azure.Functions.Cli/Actions/AzureActions/PublishFunctio

[2021-06-06 06:44] forki commented on #2615
https://github.com/Azure/azure-functions-core-tools/blob/1bd13b4e0d5678e51da1aad3e202df0852cf2ce7/src/Azure.Functions.Cli/Actions/AzureActions/PublishFunctionAppAction.cs#L226 here it's used explicitly. Looks like ToString needs to be fixed and all those places changed to ToString

[2021-06-07 07:43] forki commented on #2615
Ok so I can confirm that this is the issue. A potential fix is: https://github.com/Azure/azure-functions-core-tools/pull/2616

Also I found a workaround:

    func azure functionapp publish [FUNCTIONAPPNAME] --force
    func azure functionapp publish [FUNCTIONAPPNAME] -o -y

this just overwrites the broken settings after the publish

[2021-06-08 10:23] gzdorik-brightgrove commented on #2524
I've updated to the latest version available:
[code]

But I still get the same error:
[code]
local.settings.json
[code]

[2021-06-08 12:53] BzSpi commented on #1726
This pack function is extremely useful in order to package and distribute an application, especially an open source one. It fits very well in a CI/CD pipeline.

Please, add at least the `pack` subcommand to the help message.

[2021-06-08 20:30] christcottrell commented on #2609
Just wondering if there are any updates on this? Funny how you will respond to these issues and then close them within a day if there is no response, but 11 days without a response on your side?  Each and every day I am planning my exit strategy for my apps to go to AWS. I just need reliable.

[2021-06-09 16:16] asparrowhawk commented on #2524
@gzdorik-brightgrove Have you changed to the build output directory or publish directory before you issue the `func azure functionapp publish` command? Is the `local.settings.json` file present in the directory? The only time I saw "Can't determine project language ..." message was when the `local.settings.json` file was not present in the directory.

For your information:

[code]

[2021-06-09 19:02] gzdorik-brightgrove commented on #2524
@asparrowhawk Checked the output publish directory and did not find `local.settings.json` file there. Then I checked the project file and saw this:
[code]
Removed the `CopyToPublishDirectory` element and it worked! Publish finieshed successfully without any errors.
So it seems the CLI tools that creates a Functions project puts that element there and the element should be removed manually.

Thank

[2021-06-09 19:02] #2524 closed

[2021-06-09 20:32] fabiocav commented on #2502
Waiting for confirmation from @balag0 and/or @amamounelsayed

[2021-06-09 20:48] fabiocav commented on #2541
Pushing to 105 as we're still blocked here. We have a workaround, but this issue doesn't fit within the scope for sprint 104

[2021-06-09 20:51] balag0 commented on #2502
Yes it is supported and there is a PR open as well - https://github.com/Azure/azure-functions-core-tools/pull/2529/files

[2021-06-09 22:15] ViniciusSouza commented on #1883
I was using core tools version 3.0.2996 and I was experiencing the same problem, but I didn't realize at the time that the yaml could be the problem.

To unblock I install Keda using helm version 2.3.0.

I did have some others issues related to the trigger configuration for the ScaledObject as the yaml configuration generated was targeting the version 1.1.0 of Keda.

**Installing using Core Cli**

[2021-06-10 05:45] ShuPink commented on #2017
I don't know if this will help anyone else but I was also running into this problem when trying to run a function locally, and removing the extensionBundle from the host.json got things working for me:

[code]

[code]
I only tried this because I stumbled across this stackoverflow answer here:
https://stackoverflow.com/a/65418092

[2021-06-10 13:22] saikiran12344 opened #2619 "Azure functions core tools Stuck"
I am trying to run the function locally..
With the command  **mvn azure-functions:run**
while func gives me this
C:\Users\skasam>func

                  %%%%%%
                 %%%%%%
            @   %%%%%%    @
          @@   %%%%%%      @@
       @@@    %%%%%%%%%%%    @@@
     @@      %%%%%%%%%%        @@
       @@         %%%%       @@
         @@      %%%       @@
           @@    %%      @@

[2021-06-10 17:42] apawast commented on #2611
@alrod can you please help investigate this?

[2021-06-10 17:48] apawast commented on #2614
@swayamsidha has this issue persisted for you? What channel did you use to install core tools? And have you tried reinstalling it?

[2021-06-10 17:52] apawast commented on #2619
@amamounelsayed could please help invetigate this?

[2021-06-10 19:38] christcottrell commented on #2609
Yes. It does work when either the MessageBusConnection is in key vault.  And I'll explain.. We have a dev / demo key vault. They share a lot of the same values excluding the connection string to a database and also the message bus we connect to. So we use a key vault reference so that we can set MessageBusConnection to a MessageBusDev or MessageBusDemo. It is in East US 2 and the app name is dcmpA

[2021-06-11 00:43] fabiocav opened #2620 "Create Track 2 (5.x) Microsoft.Azure.WebJobs.Extensions.Storage extension"
Create extension tracking/mapping to latest versions.

[2021-06-11 00:45] fabiocav opened #2621 "Create Track 2 (5.x) Microsoft.Azure.WebJobs.Extensions.EventHubs extension"
Create extension tracking/mapping to latest versions.

[2021-06-11 00:51] fabiocav opened #2622 "Create Track 2 (5.x) Microsoft.Azure.WebJobs.Extensions.ServiceBus extension"
Create extension tracking/mapping to latest versions.

[2021-06-11 08:23] basklvn commented on #2294
FYI. Microsoft [released](https://techcommunity.microsoft.com/t5/apps-on-azure/what-s-new-with-net-on-azure-functions-june-2021/ba-p/2428669) Visual Studio support for .NET 5.0 isolated function apps on June 9th.

[2021-06-11 11:15] saikiran12344 commented on #2619
Can i have an update on this ?

[2021-06-11 13:02] baharedankoyuncu commented on #2366
Any updates on this?

[2021-06-11 13:27] jeffputz commented on #2294
Unfortunately, not. I have this problem in #488 too. This is actually worse than before, because at least before it would launch the functions if not attach to them.

[2021-06-11 16:07] amamounelsayed commented on #2619
Thank you saikiran12344 can you please provide the full logs for the mvn azure-functions:run?

@Flanker32 @andxu

[2021-06-12 09:09] saikiran12344 commented on #2619
Please find the logs
[INFO] Scanning for projects...
[INFO]
[INFO] -------------<function-app >-------------
[INFO] Building sample Function App 1.0-SNAPSHOT
[INFO] --------------------------------[ jar ]---------------------------------
[INFO]
[INFO] --- azure-functions-maven-plugin:1.9.2:run (default-cli) @ function-app ---
[WARNING] The POM for com.microsoft.azure.applicationinsights.v2015_05_0

[2021-06-14 11:14] saikiran12344 commented on #2619
can i have an update ?

[2021-06-14 23:28] christcottrell commented on #2609
I think I may contact Azure support on this, but I was hoping for some type of resolution here as I find reviewing past issues helpful in solving my own at times so it kind of contributes back if someone else is seeing the same. Oh, and there are multiple function apps that are doing the same, but the example above was just one of them. Thanks!

[2021-06-15 06:59] saikiran12344 commented on #2619
is anyone looking into this ?

[2021-06-15 23:28] codigube commented on #2399
2.17 is also broken. Reverting to 2.14 **doesn't** work

[2021-06-16 06:24] saikiran12344 commented on #2619
can i have an update on this ?

[2021-06-16 14:31] amamounelsayed commented on #2619
@Flanker32 @andxu can you please guide for this issue?

[2021-06-16 17:18] LHousehold commented on #2017
But if the extension bundle is removed, then there's no way for func tools to access cosmos db emulator using bindings.

[2021-06-16 17:26] LHousehold commented on #2024
I am also experiencing this issue and I assume it's ongoing. While the instructions work perfectly in almost all cases, it appears that Azure Functions Core Tools still continues to reject the SSL certificate. Personally I am using bindings and it isn't working. I'm running core tools in WSL and imported the cert using the update-ca-certificates command and all that.

Do we have any updates on thi

[2021-06-17 03:40] kristenbaldwin opened #2625 "Max function payload size of ~64KB on Big Sur OS"
I recently updated my OS from Catalina to Big Sur and noticed one function endpoint in my project would not successfully execute. After looking at the stack trace and testing different payloads, I discovered that payloads over ~64KB would not allow a function to successfully execute.

The current workaround I am using is to minify my payload by removing spacing to reduce the size.

To test this, I

[2021-06-17 09:52] Ayan-Kumar-Saha commented on #2468
Is azure functions core tools now supported with the M1 chipset?

[2021-06-17 10:07] landintrees opened #2626 "Package missing/moved from packages.microsoft.com"
This is possibly a temporary issue with packages.microsoft.com but I thought I'd log it in case anyone else hits this issue.

Our pipeline in Azure DevOps was failing this morning due to this call: "apt-get install azure-functions-core-tools-3"

When run locally it appears the package is missing:
[code]

As a double-check, the install instructions from the main page also fail:
[code]

[2021-06-17 16:38] landintrees commented on #2626
Looks like this was a temporary issue, the packages have returned.

[2021-06-17 16:38] #2626 closed

[2021-06-17 16:57] andyfriedman commented on #1872
VS 2019 16.10.2 and it's still happening. Bad experience. Shouldn't have to download anything more than once.

[2021-06-17 20:00] #2614 closed

[2021-06-22 07:08] zapy33 opened #2627 "Regional bug with , (comma) and . (dot) separators"
Hi, I recently tried to run a Logic App locally with the new Visual Studio Code extension. I followed all the instructions from Microsoft but always got an error which no one seemed to have had before:

[code]

I spent a lot of time trying to fix this on my own when really all I had to do was change my regional settings to the United States ( where I am from we use , (comma) as a decimal separator

[2021-06-22 08:13] forki opened #2628 ""azure functionapp publish" deploys Debug builds for net5"
If we publish our net5 standalone function app via "azure functionapp publish" it gets build in Debug mode. This is a very very bad default for production deployments and also breaks all out `#if DEBUG` compiler directives

[2021-06-22 17:35] apawast commented on #2609
@christcottrell contacting azure support is probably your best option as this seems to be an issue affecting your specific environment.

[2021-06-22 17:39] apawast commented on #2627
@zapy33 we are engaging the logic apps team to investigate this.

[2021-06-22 17:43] apawast commented on #2604
@tkutcher were you able to resolve this with Azure support?

[2021-06-22 17:50] fabiocav commented on #2601
@NoahStahl looks like it's just an issue with the way the configuration is being registered, overriding all the previous values, including what is coming from `local.settings.json`

If you use the approach documented [here](https://docs.microsoft.com/en-us/azure/azure-functions/functions-dotnet-dependency-injection#customizing-configuration-sources), that should take care of the issue.

[2021-06-22 17:50] apawast commented on #2596
@asharma-gh did my above suggestion for changing the configuration work for you?

[2021-06-22 17:53] apawast commented on #2577
@CodePrC yes that is expected and we will update the documents to reflect that.

[2021-06-22 17:54] #2577 closed

[2021-06-22 17:57] apawast commented on #2546
@felinepc chocolatey was built with a different signing and building process that predates the msi option. We will leave this issue open to track the work to converge on those.

[2021-06-22 18:36] tkutcher commented on #2604
Azure support says they have been investigating but so far I have not heard of any progress, just that they are continuing to look in to it.

The one thing I was able to determine was that it seems that when I run the deploy from inside a debian Docker container (same command, just inside Docker), that is when the behavior begins. So let's say everything is in a good state, if I run deploy command

[2021-06-23 07:26] Flanker32 commented on #2619
@saikiran12344 Really sorry for the late reply, could you please try update to the latest version(v1.12.0) and try again? The issue should be resolved in https://github.com/microsoft/azure-maven-plugins/issues/1383

[2021-06-23 14:01] NoahStahl commented on #2601
Thanks @fabiocav, I didn't realize I could override `ConfigureAppConfiguration`. I've updated my code and see no warnings, although it seems my tools version has gone backward to 3.23.5 from 3.28 where I first encountered the issue.

Feel free to close.

[2021-06-23 18:59] priya-patil9 opened #2630 "Incompatible Node.js version (v16.3.0). The version of the Azure Functions runtime you are using (v2) & (v3)"
Getting incompatible Node version error when running func host start .

[2021-06-23T18:44:22.614Z] Incompatible Node.js version (v16.3.0). The version of the Azure Functions runtime you are using (v2) supports Node.js v8.x and v10.x. Refer to our documentation to see the Node.js versions supported by each version of Azure Functions: https://aka.ms/functions-node-versions
[2021-06-23T18:44:22.614Z]

[2021-06-24 02:54] paulnara commented on #2033
@anthonychu, please, any update on my problem? I can't use Azure Function without it.

[2021-06-24 15:10] ARMcK-hub commented on #2612
Even though this is not currently supported, slot deployment is a feature of interest. Can we consider adding this feature to core tools?

[2021-06-24 15:23] WhiteTomX commented on #946
Hey,
i hate to resurrect such an old issue but i just started with Durable Functions and wonder if it is really a good way to work with MagicStrings and hope that the parameter is correct. So maybe some of you found a good way yet. I looked around and found [Type-safe activity helper for Durable Functions](https://github.com/shibayan/durable-functions-typed-proxy). But didn't have the time to try

[2021-06-24 16:32] cgillum commented on #946
Thanks for pinging this thread. We decided to take a slightly different approach to this and leverage C# source generators. It automatically creates type-safe wrappers for activity calls in a way that doesn't require any specific tooling. It's available starting in the [v2.5.0](https://github.com/Azure/azure-functions-durable-extension/releases/tag/v2.5.0) release of the Durable Functions extensio

[2021-06-24 16:32] #946 closed

[2021-06-24 20:19] fabiocav commented on #2600
Moving to 105 as we're still iterating on the PR.

[2021-06-24 20:27] fabiocav commented on #2552
Moving to 105, PR in progress.

[2021-06-24 20:32] vrdmr commented on #2600
Full stacktrace form the worker - we'll add a check on the worker as well to prevent this happening if the shared memory directory is not supported on any platform

[code]

[2021-06-24 20:41] fabiocav commented on #2615
Resolved by #2616

[2021-06-24 20:41] #2615 closed

[2021-06-26 01:38] asharma-gh commented on #2596
yes the solution above has worked, thank you!

[2021-06-26 01:38] #2596 closed

[2021-06-28 12:42] darnmason opened #2631 "Outdated Function Runtime Version"
The latest core tools uses runtime version `3.0.15828` from 13 May.

The latest version, which I believe my hosted functions are running on is `3.0.15960`. There has also been 2 releases in between.

What's the process for updating this? I'm experiencing issues and would like to run the same code locally.

[2021-06-28 18:45] saptarshibasu commented on #2619
I was also facing the same issue. with the v1.12.0 of the maven plugin, it works!

[2021-06-29 20:00] #2609 closed

[2021-06-30 01:09] ggaj commented on #2600
Some update about this problem... I have same issue...

[code]

Thanks

[2021-07-01 11:35] JasonKleban opened #2632 "Easy Auth /.auth/login/ routes support for local development"
I don't think it's too early to ask for another update on this topic with a fresh issue.

- PR from 2018 https://github.com/Azure/azure-functions-core-tools/pull/789 worked on a bunch and then closed without much explanation.

- Issue from nearly two years ago https://github.com/Azure/azure-functions-core-tools/issues/1371 closed with "Closing this issue, please follow the PR as we will provide th

[2021-07-01 18:06] amcorch opened #2633 "func kubernetes deploy is only creating a secret"
Hello, I am following the steps outlined in the [documentation](https://github.com/Azure/azure-functions-core-tools#getting-started-on-kubernetes), however when I run the following command
`func kubernetes deploy --name dockerfunctiontest --registry *** --dry-run`

I am receiving this output:
[code]

I can confirm that there is an image in my container repository named dockerfunctiontest and it is

[2021-07-02 11:17] vishnu-anil opened #2634 "Azure function deployment via func deployed without error but function not appearing"
We have followed https://docs.microsoft.com/en-us/azure/azure-functions/create-first-function-cli-python?tabs=azure-cli%2Cbash%2Cbrowser and used the func tool to deploy a python funtion via func cli.

* The deployment completes successfully
* Activity logs shows deployment
* Kudu show deployment successful

But no function is displayed in the portal.

When the same is deployed via Visual studio c

[2021-07-02 19:45] panmau commented on #1239
@chuanqisun If you use the start script provided with `func init` this works out of the box with Typescript.

[2021-07-02 21:04] panmau opened #2636 "Hot Reload not working when Typescript Function is in subdirectory"
# Description
The hot reloading is not working when a Typescript function is in a subdirectory and you're using one of the following ways to start it:
[code]

# Repro
I made a reproduction repository with which I can reliably reproduce this issue: https://github.com/panmau/azure-function-hot-reload-repro

- Get the function running locally
- curl http://localhost:7071/api/Test
- Observe the logged

[2021-07-04 15:55] diberry opened #2637 "FUNCTIONS_WORKER_RUNTIME on update to 3.0.3477 from 3.0.3442"
I have a C# project that uses Functions core (3.0.3442) successfully with FUNCTIONS_WORKER_RUNTIME set to `"CfDJ8M68a/qlUYRDmSKzRIJE6EmjZjMXA97H/BHPHNDVgc7W9Rq/of7261MGz+CoL1Ja7HwHgQMZebQumUnfdRgdKXAI+/NgECPwAWm29gPQdNOcSVYgKURPPHcRzLMivhwqCg==",`

I installed a second computer and copied the project files to that computer. Visual Studio decided, I didn't ask it to, update to 3.0.3477 and the run

[2021-07-04 19:12] diberry commented on #2637
After struggling with this a bit, I unencrypted the working computers settings in local.settings.json and copied them to the non-working computer. Then the project started/ran. While I see this was user error, I think the error reporting could have helped me figure out the problem much sooner.

[2021-07-04 19:13] #2637 closed

[2021-07-06 18:12] forki commented on #2628
Is there any news here? This is a quite dangerous bug

[2021-07-06 19:47] NorthHighlandNicole commented on #2413
Leaving a comment here in case someone else bumps the same issue.

I experienced the issue described here issue and the last response from @anthonychu helped me resolve it. I had to make sure the `AzureWebJobsStorage` value in local.settings.json wasn't empty AND I had to downgrade my version of package Microsoft.Extensions.Configuration.UserSecrets from 3.1.16 to 3.1.13.

But then I ran into a pr

[2021-07-07 20:19] fabiocav commented on #2552
Work nearing completion, leaving this assigned to 105

[2021-07-07 20:21] fabiocav commented on #2541
This is now unblocked, so we should be able to make forward progress in 106

[2021-07-07 21:49] apawast commented on #2633
@ahmelsayed could you please help investigate?

[2021-07-07 21:52] apawast commented on #2634
@vishnu-anil can you share the deployment command you used?

[2021-07-08 16:35] eugenedent opened #2640 "VS Mac Error: Can't determine Project to build. Expected 1 .csproj..."
Visual Studio 2019 for MAC, all latest updates.
I have 3 projects in Function solution.  Everything was running fine until an update today.
It still runs fine, but when run the it I get an error:
"Can't determine Project to build. Expected 1 .csproj or .fsproj but found 3"
Function was V2, I upgraded to V3. .NET Core 3.1. References seem to be set correctly.
Any suggestions?

[2021-07-08 17:58] #2601 closed

[2021-07-08 18:01] apawast commented on #2540
@SergeyBoiko are you still seeing this issue? If yes, is it still only happening in Portal? We may need to transfer this issue to the portal repo if that is the case.

[2021-07-08 19:31] bmc-msft commented on #1679
This is also entirely unreadable on OSX's built-in Terminal.

<img width="918" alt="Screen Shot 2021-07-08 at 3 28 22 PM" src="https://user-images.githubusercontent.com/41130664/124979699-60e2d680-e001-11eb-963f-35b228e4623e.png">

[2021-07-08 19:32] bmc-msft commented on #1679
This is entirely unusable for developers with vision impairment.

[2021-07-09 04:05] briandunnington opened #2641 "CVE-2020-7768 - Update grpc to newer version"
This was originally filed as #2594 but it was closed due to author inactivity. But the azure-functions-core-tools package was never updated so we are still getting flagged for this. Can you publish a new version with the updated dependency? (We are using v3)
![image](https://user-images.githubusercontent.com/1545776/125021816-39573280-e030-11eb-9c38-bb05c4e75917.png)

[2021-07-09 09:56] freedev opened #2642 "AzureServiceBusConnectionString vs AzureWebJobsStorage"
Hi, when I have to deploy an Azure function with serviceBusTrigger I'm used to write AzureServiceBusConnectionString into the connectionStrings and AzureWebJobsStorage into the appSettings.
Given that I know connectionStrings are encrypted at rest, I was curious to know if also AzureWebJobsStorage can be stored in the connectionStrings, if the name of the variable change and if there is some sort

[2021-07-09 20:06] Bayurzx commented on #2350
Hey I think this might just work, could you add where you Download the version of Microsoft.Azure.Functions.ExtensionBundle

[2021-07-12 17:46] apawast commented on #2604
@tkutcher were you able to resolve this with support? If not, do you mind sharing your ticket ID?

[2021-07-12 17:47] apawast commented on #2538
Thank you for your update. Closing as resolved.

[2021-07-12 17:47] #2538 closed

[2021-07-12 17:49] apawast commented on #2533
@TsuyoshiUshio have you been able to investigate this? Is it still an issue?

[2021-07-12 17:49] tkutcher commented on #2604
@apawast All I have heard from support is they are still investigating. Sure - `TrackingID#2105250040004823`

[2021-07-12 17:52] apawast commented on #2526
Hi @MJECloud and others, we have assigned this to be better investigated so we can better understand the problem. Thank you for your updates!

[2021-07-12 17:56] apawast commented on #2504
@jzhouw local.settings.json is required for local development and they more closely replicate the environment configuration of app settings as opposed to configuration coming from local settings files. Closing this as this should answer this issue.

[2021-07-12 17:56] #2504 closed

[2021-07-12 19:05] vishnu-anil commented on #2634
Sorry it was a silly mistake. The deploy hd to be triggered from one folder ahead. It is resolved now. Thank you @apawast

[2021-07-12 19:05] #2634 closed

[2021-07-13 02:43] peterhuene commented on #1024
Closing this as the Azure Functions for Rust project was abandoned.

[2021-07-13 02:43] #1024 closed

[2021-07-13 06:43] Bayurzx opened #2647 "func start || func host start error in vscode Azure functions core tools"
I have been having this error after running func start : >>>>>

`Value cannot be null. (Parameter 'provider')
`
I've scan through some GitHub issues relating to this and the only working solution I've found is removing...

[code]

`It also doesn't work when I use "version": "[2.*, 3.0.0)"`

.. from my host.json file. While this works for http trigger functions, I've not been able to get it to work

[2021-07-13 13:28] gastonmuijtjens opened #2648 "dotnet-cli-params does not work with latest version of func CLI"
I'm trying to deploy a .NET-based Azure Function with additional dotnet CLI parameters to Azure by the following command:

[code]

Unfortunately the command fails using Azure Functions CLI version 3.0.3568 with the following error:

[code]

When I try the same with version 3.0.3477 it however works and deploys fine.

- Azure Functions CLI version 3.0.3568
- Platform: Windows 10

[2021-07-13 20:43] mdb-wg opened #2649 "function app disappeared + failure to sync triggers on functionapp publish"
When attempting to publish a function app with
[code]
I get the following error after the app builds and triggers are attempted to be synced:
[code]
It appears to have only affected my one function app.

I found [this previous issue](https://github.com/Azure/azure-functions-core-tools/issues/1457) which describes my situation.\

I am using a Python function app, in a Linux container, on the Consum

[2021-07-13 21:46] awentzel opened #2650 "Issues with "deploySubpath""
Please add a link or link to the documentation as I was unable to locate this on web searches.  when using this in a dialog for publishing help, it would also be nice to include what it is before recommending it for those of us new to the extension.

I'm in a situation now where I deployed what appears, based on logs, the entire parent folder structure and I anticipated deploying to the configured

[2021-07-13 22:09] awentzel opened #2651 ""The selected folder is not a function project. Create new project?""
This message is confusing and I'm not clear what the best way to create a project/function?  In particular, what folder selection? The File Explorer or Azure in VS Code.  I assumed if I clicked on 'function' tree view and then choose create function a new function would be created within the configured file system.  In my case, a change would commit to 'cloud/services/functions/' where I have a si

[2021-07-13 23:46] lVlario0O0o commented on #2024
I have a similar issue. I'm running node on wsl2 and try accessing the cosmosDB emulator in a windows host. Before having an SSL issue, I had a connection refused. I had to start the emulator with /AllowNetworkAccess flag. [See](https://docs.microsoft.com/en-us/azure/cosmos-db/emulator-command-line-parameters)

I'm also using the Azure Functions Core Tools. I'm gonna try to start the emulator with

[2021-07-14 13:21] mdb-wg commented on #2649
Marking this as closed, since it appears the function app is able to be published again now.

[2021-07-14 13:21] #2649 closed

[2021-07-14 20:11] fabiocav commented on #2613
@TsuyoshiUshio moving this to 106 as I have not been able to look at this item yet.

[2021-07-14 20:16] fabiocav commented on #2600
Moving to 106 as we're still iterating on the PR

[2021-07-14 20:21] fabiocav commented on #2552
@madelinegordon opening a PR as we're blocked on some test scenarios. Moving to 106 as we'll be iterating and merging the PR then.

[2021-07-15 00:11] amcorch commented on #2633
Hello,

Any update on this? Please let me know if I can provide any additional information that might help with debugging.

[2021-07-15 19:06] diberry opened #2653 "Creating function seems to fail - what is the correct command?"
If I look at the list of typescript templates, I see the `HTTP trigger`.

[code]

![image](https://user-images.githubusercontent.com/41597107/125843133-9a6771c7-7968-4247-9783-57591d3ea0e3.png)

If I try to create a new function with that template name, I get an error:

[code]

![image](https://user-images.githubusercontent.com/41597107/125843274-538dd602-d0a6-4408-b7af-036b9def859e.png)

If I wal

[2021-07-15 19:22] diberry opened #2654 "Create func app doesn't add a start command to the package.json"
I created the function app with

[code]

Why didn't it add a "start" script to the package.json?

If I run `npx func --version`, I get 3.0.3477.

[2021-07-15 19:33] diberry opened #2655 "npm latest is 2.7.3188 but is 7 months old?"
Can you change the version that is marked latest in NPM to either 3 or 4?

[2021-07-15 20:01] #2540 closed

[2021-07-16 19:23] marcd123 commented on #2345
@cgillum  Are you saying that adding `"externalClient": true` to function.json bindings will allow http and non-http functions to be deployed in the same pod?

If so, which functions must this be added to (activity, orchestrators, http trigger, all)? Should this property be added to the input or output binding object?

For reference, I'm still experiencing this issue on Durable Functions extension

[2021-07-17 12:13] mateuszdrab commented on #2468
Still doesn't work for me

[2021-07-19 20:00] #2533 closed

[2021-07-19 20:00] #2471 closed

[2021-07-19 23:47] pratyushaadavalli commented on #1754
@fabiocav do you have any ETA for this?

[2021-07-21 17:03] TsuyoshiUshio commented on #2613
Thank you, @fabiocav !

[2021-07-21 20:56] charris-msft opened #2656 "Update Readme - Azure Functions Core Tools can be installed via winget"
![image](https://user-images.githubusercontent.com/74415662/126558960-34955c89-6b2e-43fa-b73c-06946f7bfd59.png)

Since we can now install the tools via winget, it would be great to have that in the instructions.

[2021-07-21 21:00] fabiocav commented on #2628
Adding this to triaged. The Core Tools command needs to be updated to pass the configuration flag. The workaround in the meantime is to build and deploy the project output.

[2021-07-22 10:21] gabrielSoudry commented on #2505
Same problem here !

[2021-07-22 19:40] chrisevans9629 commented on #2540
I also got the same issue exactly as the author described.  I created a durable azure function http starter and got `Microsoft.Azure.WebJobs.Extensions.DurableTask: Unable to find an Azure Storage connection string to use for this binding.`.  This occurs for both Node.js and .Net Core

[2021-07-22 22:40] #2552 closed

[2021-07-23 00:55] iyerusad opened #2670 "Use local `node_modules/.bin` (not global)?"
Env: VS Code, Win10

Is there a way to use the local version of `func` rather than using global npm? I tend to prefer to keep each project's dependencies self contained rather than requiring user/machine wide package availability.

tasks.json
[code]

[2021-07-23 13:27] marcd123 commented on #2345
For those working on Non C# Durable Function Apps, such as Python or JavaScript function apps, here is an example of using the `externalClient` setting in your HTTP-starter's function.json to enable your HTTP and non-HTTP deployments to reach each other:

https://github.com/microsoft/durabletask-mssql/issues/41#issuecomment-885299181

[code]

Setting `externalClient` to `true` in your HTTP-starter

[2021-07-26 07:51] sinedied opened #2660 "Default template for new functions is misleading and not encouraging best practices"
When a new function template is created (new project or just a new function), from CLI or VS Code extension, by default it's configured to respond to GET and POST requests, which is confusing for many newcomers and annoying for experienced users.

You rarely want to write such a function beyond an hello world example, as you usually prefer to have one function per verb (and it's also a best practi

[2021-07-26 08:04] tagazok commented on #2660
Hi Sinedied,

I totally agree with you. The default template encourages bad practices as you may think the way to go for Microsoft when you write an API is to do something like this
[code]

Also, not sure if there is an official guideline for function naming (like tasks-get, task-post, task-get, etc) but if you want to use good practices with 1 function per HTTP verb, you usually end up adding a r

[2021-07-27 06:47] forki opened #2665 "NPM show 2.7.3188 as latest"
NPM show 2.7.3188 as latest version. I assume it should be corrected to 3.0.3568

![image](https://user-images.githubusercontent.com/57396/127108487-a9008ca4-e3d6-4ff4-9a72-a6f5390ef08d.png)

[2021-07-28 14:14] #1737 closed

[2021-07-28 14:20] #1736 closed

[2021-07-28 16:19] DaviehS opened #2668 "macOs Rider debug alternatively working, run works always"
I have a proj using dotnet 5 on macOs big sur, most tries to run debug for debug/rerlease, it gets stuck in the middle and doesn't launch the service. normal Run works always.

When. trying debug:
`/Applications/Rider.app/Contents/lib/ReSharperHost/macos-x64/dotnet/dotnet exec /Applications/Rider.app/Contents/lib/ReSharperHost/JetBrains.Debugger.Worker.exe --mode=client --frontend-port=53203 --plu

[2021-07-28 20:16] fabiocav commented on #2544
@MJECloud we're working on planning and assignment and it would be good to understand the OS you were using when you ran into this issue. Can you please share that information and whether you've observed this in multiple machine OS configurations? Thanks!

[2021-07-28 20:19] fabiocav commented on #2546
Issue details/ask: ultimately updating the payload that we add to Chocolatey and ensure the signing requirements are met (we could move the Choco deployment to rely on MSI) and have this flow validated.

[2021-07-28 22:40] mattchenderson opened #2671 "Check for AzureWebJobsStorage fails when using identity-based connection"
We are currently checking for AzureWebJobsStorage during `func azure functionapp deploy`:

https://github.com/Azure/azure-functions-core-tools/blob/6a070fb40308438c758ba8ab69399845bd698391/src/Azure.Functions.Cli/Actions/AzureActions/PublishFunctionAppAction.cs#L241-L244

Today this is just looking for an exact-match key, which fails when using an identity-based connection. In that model, there ma

[2021-07-28 22:41] mattchenderson opened #2672 "Bad error messages on checks for AzureWebJobsStorage during publish"
During publish, the Core Tools checks for the presence of AzureWebJobsStorage. This is only strictly required in Linux, but we perform the check on Windows as well. The error message unfortunately assumes Linux though, so the message makes no sense when failing to deploy to a Windows app.

https://github.com/Azure/azure-functions-core-tools/blob/6a070fb40308438c758ba8ab69399845bd698391/src/Azure.F

[2021-07-29 17:40] apawast commented on #2631
Duplicate of #2122

[2021-07-29 18:02] anthonychu commented on #2642
App settings are encrypted at rest as well, so you can leave `AzureWebJobsStorage` where it is. If you want an extra layer of security, consider [Key Vault references](https://docs.microsoft.com/en-us/azure/app-service/app-service-key-vault-references).

[2021-07-29 18:09] anthonychu commented on #2647
It looks like the project has manually installed extensions (contains extensions.csproj). In this scenario, your host.json should not contain an extension bundles definition.

Can you share the contents of extensions.csproj? Just curious how it was added to the project and if it's intended to be there. Looks like currently there's an error related to its contents or a dependency needed to build th

[2021-07-29 18:16] anthonychu commented on #2665
@fabiocav @apawast Can we consider pointing latest to the latest stable version? I know in the past we didn't do this because it's a breaking change for CI processes that might install it without a version number. But this is causing customers to install older versions. This is not how most people expect npm packages to work.

[2021-07-29 18:18] anthonychu commented on #2670
@ejizba Do you know if there's a way to make this work?

[2021-07-29 18:24] anthonychu commented on #2654
It should. Can you share the package.json that it produced? This is the file that should be created: https://github.com/Azure/azure-functions-core-tools/blob/85caa2bf83cae49adbd967a939e1534ea4a98988/src/Azure.Functions.Cli/StaticResources/package.json

[2021-07-29 18:27] anthonychu commented on #2651
@ejizba @fiveisprime Can you please take a look? I don't have the permissions to transfer this to https://github.com/microsoft/vscode-azurefunctions/issues

[2021-07-29 18:28] anthonychu commented on #2650
@ejizba @fiveisprime Can you please take a look? I don't have the permissions to transfer this to https://github.com/microsoft/vscode-azurefunctions/issues

[2021-07-29 18:30] anthonychu commented on #2648
Looks like this is a regression. @fabiocav

Related #2628

[2021-07-29 18:32] anthonychu commented on #2655
duplicate #2665

[2021-07-29 18:33] anthonychu commented on #2665
closing as duplicate of #2655

[2021-07-29 18:33] #2665 closed

[2021-07-29 18:33] anthonychu commented on #2655
@fabiocav @apawast Can we consider pointing latest to the latest stable version? I know in the past we didn't do this because it's a breaking change for CI processes that might install it without a version number. But this is causing customers to install older versions. This is not how most people expect npm packages to work.

[2021-07-29 18:59] Bayurzx commented on #2647
I was able to get this working manually some time ago, I think I did what you described here.

[2021-07-29 21:29] fabiocav commented on #2648
@anthonychu have you been able to repro? Have you also tried adding a space before the arguments? I recall @brettsam stating that was an odd behavior with that (e.g. func azure functionapp publish <function_name> --dotnet-cli-params -- " -c Release")

[2021-07-29 21:30] fabiocav commented on #2655
We can. If you want to push that change and we're all in agreement, that's a simple change to make.

[2021-07-30 21:18] stdtom commented on #2600
For those who want to force installation of v3.0.3442, the following might help:

[code]

[2021-07-31 23:48] anthonychu commented on #2648
Actually, looking at the command that's being run, looks like it's incorrect. I believe it should be:

[code]

@gastonmuijtjens can you please give that a try?

[2021-08-02 20:55] apawast commented on #2059
@cachai2 can you take a look into what exact command is needed for this?

[2021-08-02 20:57] apawast commented on #1935
@dariagrigoriu @anthonychu do you have the exact repro steps for this?

[2021-08-02 21:02] apawast commented on #2402
This would mainly affect dedicated plan. Although some customers may want it outside of dedicated plans, we have not heard much of an ask for this.

[2021-08-02 21:24] ahmelsayed commented on #2633
Can you try

[code]

`--name` is the name for the deployment on kubernetes. when you pass just `--registry` it assumes you're trying to deploy the local directory/project to kubernetes, not an already built image.

[code]

[2021-08-03 14:19] jyeblog commented on #1754
I had moved to Function App 2.0 to resolve the racing issue of TaskHub. And the recommendation is to change "hubName" to "%TaskHubName%".

However, this is breaking my local development experience, please address this issue, thanks!

[2021-08-04 15:16] bbkane opened #2673 "`func new` doesn't use platform specific line endings"
Hello, I'm developing on a Mac. When I run `func new`, it creates files that end in `\r\n` instead of `\n`, the default line ending for Unix-style systems and I have to manually clean up the generated files. Please update `func new` to use platform-specific line endings.

Because this is platform specific and so easy to reproduce, I think a reproduction is more valuable then a Github repo demonstr

[2021-08-04 20:34] fabiocav commented on #2600
Taking ownership of this to complete the associated PR. Keeping in sprint 106 as we should still be able to make that date.

[2021-08-05 03:41] EthanNguyen132 commented on #2619
Confirm, it happened to one of my old project with
jdk8
<azure.functions.maven.plugin.version>1.9.0</azure.functions.maven.plugin.version>

It was working before, after an Function Core Tools update recently, issue starts occurring. Upgrading mvn plugin to 1.11.0 as a workaround

[2021-08-05 08:00] rlamba89 opened #2674 "Azure function 5 and EF Core 5 Could not load file or assembly > Microsoft.Extensions.DependencyInjection.Abstractions"
I am getting above error when running the tests in azure devops pipeline but not when running it local. Everything works locally fine.

I believe the error happens when the base class try to initialize DB Context using EF Core 5 at line 15.

[![enter image description here][1]][1]

Code stack:

**Azure function isolated enabled .Net 5**

**EF Core 5**

Can someone please help me understand why thi

[2021-08-05 14:51] goncrip opened #2675 "Azure functions onpremise in production environments"
I understand that Core Tools applies to development and testing environments. I cannot use this tool in production.

What alternatives do I have to run Azure function onpremise in production?

I already reviewed this [documentation](https://docs.microsoft.com/en-us/azure/architecture/hybrid/azure-functions-hybrid) and it was clear to me that Core Tools is only for development so it does not confir

[2021-08-05 15:04] anthonychu commented on #2675
For Kubernetes, please see:
https://docs.microsoft.com/en-us/azure/azure-functions/functions-kubernetes-keda
https://docs.microsoft.com/en-us/azure/azure-functions/create-first-function-arc-cli

[2021-08-05 17:34] apawast commented on #2632
@JasonKleban this is not actively being worked on as this is lower in priority. However, it is on our backlog for further discussion.

[2021-08-05 17:45] apawast commented on #2653
@diberry do you still run into this issue if you use func without npx? npx is not currently a supported/tested scenario.

[2021-08-05 17:54] apawast commented on #2656
@charris-msft in order to update the readme with this we would have to update our release and test process to validate things works as expected with winget. Updating the readme would be dependent on that.

[2021-08-05 17:54] #2656 closed

[2021-08-05 18:40] diberry commented on #2653
Without npx, how to do I use the tools as a CLI and note a step-through process?
![image](https://user-images.githubusercontent.com/41597107/128403788-7d382dfe-d49c-47b6-b556-ef1d7c769a15.png)

[2021-08-05 19:08] deepaksahu-perficient opened #2676 "Value cannot be null. (Parameter 'provider')"
I am trying to run simple func app using ServiceBusTopicTrigger & below codes are auto created which i to have run

1. index.js
module.exports = async function(context, mySbMsg) {
    context.log('JavaScript ServiceBus topic trigger function processed message', mySbMsg);
};

2. function.json
{
  "bindings": [
    {
      "name": "mySbMsg",
      "type": "serviceBusTrigger",
      "direction": "in"

[2021-08-05 23:00] #2654 closed

[2021-08-06 09:25] santoshinim commented on #2632
Hello, I am completely stuck with the issue mentioned in [https://github.com/Azure/azure-functions-core-tools/pull/789](url), what alternative or work around we have at the moment for simulating authentication with Node JS Azure function in VS code locally ?

[2021-08-06 16:51] nachiappannk opened #2678 "The DockerFile generated by func tool for .Net 5 dotnet-isolated process is having a compilation error"
The azure function created for .NET 5,  dotnet-isolated process is having a build issue with docker build

## func tool
version 3.0.338

## Steps to reproduce:
Run the below commands
1. `func init --docker`
2. `docker build .`

## Expectation
No docker build error

## Actual
docker build failed with the below errors

## The build logs
[code]
![image](https://user-images.githubusercontent.com/25709

[2021-08-06 18:35] ejizba commented on #2650
We don't have permissions to transfer either. @awentzel I would recommend you file a new issue on the VS Code extension with succinct repro steps and ideally some screenshots of what your workspace looked like when you ran into problems

https://github.com/microsoft/vscode-azurefunctions/issues/new

[2021-08-06 18:35] ejizba commented on #2651
See https://github.com/Azure/azure-functions-core-tools/issues/2650#issuecomment-894445870

[2021-08-06 18:52] ejizba commented on #2670
I briefly investigated in https://github.com/microsoft/vscode-azurefunctions/issues/2019#issuecomment-611710380, but it did not work well. Filed a new issue on our repo: https://github.com/microsoft/vscode-azurefunctions/issues/2905

[2021-08-08 02:00] #2648 closed

[2021-08-09 14:08] simon-tarr opened #2680 "ImportError - Wrong Architecture - M1 Apple Silicone"
I'm running on an M1 (Apple Silicone) Macbook and trying to develop some Azure Functions within a Django project. I require the following packages:
[code]
When I start debugging mode to run functions for local development I get the error:
[code]
I've been trying for hours to fix this - it must be some issue with x86 and arm64 builds of various libraries etc. but I've honestly no idea how to resolv

[2021-08-09 14:35] simon-tarr commented on #2451
Also experiencing this issue. Please see https://github.com/Azure/azure-functions-core-tools/issues/2680

Returning M1 Macbook, sadly, as this issue has clearly been rumbling on for many months!

[2021-08-09 16:23] alexangas opened #2681 "`SCM update poll timed out` publishing function app"
This issue is similar to #1863. However I'm able to reproduce the issue in Azure DevOps on a Windows build agent every time (but not locally). I am using `azure-functions-core-tools@3.0.3568`. The `publish` command has no additional arguments. The function stack is PowerShell Core 7.0.

The non-debug output looks like:
[code]

From looking at the code, I'm expecting the SCM settings values to outp

[2021-08-09 23:00] #1935 closed

[2021-08-11 20:23] soninaren commented on #2660
cc: @anthonychu , @fabiocav: Any thoughts on this?

[2021-08-11 20:29] soninaren commented on #2632
cc: @ConnorMcMahon

[2021-08-11 20:30] soninaren commented on #2541
@fabiocav do you know if this was completed? Can we close this?

[2021-08-11 20:52] soninaren commented on #2657
Looks like the work for this was completed by @madelinegordon

[2021-08-11 20:52] #2657 closed

[2021-08-11 20:53] soninaren commented on #2657
Dup of https://github.com/Azure/azure-functions-core-tools/issues/2552

[2021-08-12 01:02] fabiocav commented on #2541
Not yet, but we're unblocked and should be able to move forward. Let's sync on this and I can share the context.

[2021-08-12 12:42] johol545 commented on #2442
Seems to be related to https://github.com/Azure/azure-functions-host/issues/3152 and https://github.com/Azure/azure-functions-host/issues/3153

@apawast could you please have a look?

[2021-08-12 14:13] AGARWAS8 opened #2683 "Getting Exception: ServiceRequestError: ('Cannot connect to proxy.', OSError(0, 'Error')) after function is executed locally"
Hi All,

I am trying to locally run a function. The server starts as expected. As I send a request from Postman to an API, I get the subjected error.

![image](https://user-images.githubusercontent.com/49783245/129212302-d7c54a24-2c1c-4222-9690-e31caf75c5d2.png)

[2021-08-12 19:42] stemixreal commented on #2544
Hi @fabiocav,

Sorry for the delay replying.

OS is windows 10 pro v2004
build 1904.1110
Experience: WFEP 120.2212.3530.0

Tried a few times to resolve this. Updating to most recent version, I still have the problem. Never fixed it it seems, I just bypassed it by reinstalling. I try every new release but always the same problem - I haven't been able to update the tools since I reinstalled things t

[2021-08-12 20:00] #2633 closed

[2021-08-13 16:52] pragnagopa opened #2684 "Support publish when using ManagedIdentity"
Tracking item for "secretless" work

[2021-08-13 16:54] pragnagopa commented on #2684
cc @balag0 @mattchenderson

@fabiocav  / @AnatoliB  - let's discuss offline to find an owner for this WI

[2021-08-16 20:25] cachai2 commented on #2059
'az functionapp plan update'
-always-ready [number]
-pre-warmed-instances [number]

[2021-08-17 07:26] naokoshiiba opened #2685 ""Initializing worker process failed" in Azure Functions Core Tools"
I have been having this error after runnning "func start" locally:

[code]
I have updated Functions Core tools from v2 to v3, but the error continues.
It is the simple function that was made by "func int" and "func new" (node, typescript, HttpTrigger).

My Function Tools Version is :
[code]

My node version is :
[code]

I know the node version is old, but on the other environment that has same ver

[2021-08-17 09:50] chenxizhang opened #2686 "incremental compilation is not work fine in VS code"
Hi, I love azure functions core tools, but I found an issue, not sure if there is anything I am missing

I am using the tools in VS Code with the extension

![image](https://user-images.githubusercontent.com/1996954/129703973-e4b205b2-b7b8-481c-8505-1258c8d424f4.png)

When I changed any file and save, then I can see the information below in the terminal

[code]

But I just found that the compilati

[2021-08-17 17:42] apawast commented on #2650
Hi @awentzel, per Eric's instruction it would be best if you open an issue in the VSCode repo.

[2021-08-17 17:43] apawast commented on #2651
Hi @awentzel, per Eric's instruction it would be best if you open an issue in the VSCode repo.

[2021-08-17 17:43] #2670 closed

[2021-08-17 17:49] apawast commented on #2668
@DaviehS could you please provide repro steps for this? And/or what exactly you are trying to debug and what project type this is?

[2021-08-17 17:52] apawast commented on #2671
@mattchenderson can you provide more details about the expected outcome here? design guidance would be helpful here.

[2021-08-17 17:57] apawast commented on #2672
The ask here is to update the error message to: $"'{FunctionAppName}' app is missing AzureWebJobsStorage app setting. That setting is required for publishing consumption apps."

[2021-08-18 20:28] fabiocav commented on #2684
@pragnagopa do you plan on adding more context here? I'll move this to triaged in the meantime as the scope of the work here isn't clear.

[2021-08-18 23:00] #2675 closed

[2021-08-19 14:50] pragnagopa commented on #2684
@fabiocav - added more details and assigned to Sprint 108 to find an owner. Thanks!

[2021-08-19 14:52] pragnagopa commented on #2684
cc @karshinlin as FYI

[2021-08-19 16:43] pragnagopa commented on #2684
Related issues:
- https://github.com/Azure/azure-cli/issues/19035

[2021-08-19 19:48] pragnagopa commented on #2684
If a Function App uses Azure Files + ManagedIdentity - remote build will not work as  mounting Azure Files with MangedIdentity is not supported yet.
@mattchenderson  - please add related work item on storage for this.

[2021-08-19 19:57] pragnagopa commented on #2684
**When not using Azure Files but using Managed Identity for AzureWebJobsStorage**

`az functionapp deployment` should default to remote build. As the app is not using Azure Files, if using Run from package =1, content will upload to data\sitePackages - Windows Consumption, Dedicated, Linux Dedicated.
Adding notes from offline conversation with @balag0

**When using Azure Files but using Managed Id

[2021-08-19 19:59] pragnagopa commented on #2684
Work involved
- Publish flow should detect Managed Identity is being used for AzureWebJobsStorage and default to remote build --> **Note this will only work if the App is not using Azure Files + Managed Identity**

[2021-08-21 01:55] chenxizhang commented on #1239
same issue here, let's make it fix on typescript azure function

[2021-08-21 01:57] chenxizhang commented on #1239
I saw that "tsc -w" is working fine, but the "func start" maybe have some problem, it just not able to detect the changes on the dist folder

[2021-08-21 07:15] chenxizhang opened #2688 "Reading the request body timed out due to data arriving too slowly"
Hi

I am using the azure function core tools 3.0 to develop a file upload api, I used typescript http trigger

[code]
In the function, I just want to read the rawbody with `    const b = req.rawBody;` but I got the following error message

[code]

The question here is my host runtime was set to `node` instead of the ASP.NET Core, I am confusing the error message, why it will throw this error? and

[2021-08-21 14:46] louiealmeda commented on #1984
Oh wow thank you @WillFrasier! Just spent one full day figuring this out.
I also needed to remove it before I publish the artifact in Azure Pipelines

[code]

[2021-08-24 20:00] #2668 closed

[2021-08-24 20:00] #2651 closed

[2021-08-24 20:00] #2650 closed

[2021-08-24 20:21] diberry opened #2689 "func new fails with `One or more errors occurred. (Value cannot be null. (Parameter 'value'))`"
Happens from bash terminal, inside or outside of VSCode.

![image](https://user-images.githubusercontent.com/41597107/130683937-cfc229bb-1b94-4611-9837-9c2696be9fe1.png)

$ func --version
3.0.3442

Created func app with
[code]

Change into new api folder

[code]

Create new api with a variety of commands

[code]

Tried customer reported [StackOverflow issue/resolution](https://stackoverflow.com/qu

[2021-08-24 21:28] pkskelly opened #2690 ""func new" TimerTrigger reverts Extensions.Timer nuget package version in dotnet-isolated project"
When using ```func new``` from azure functions core tools on macOS, if the Microsoft.Azure.Functions.Worker.Extensions.Timer package has already been added, the package version is reverted to 4.0.1 (from 4.1.0 after installed latest NuGet package).  References to the TimerInfo class break until the package in reinstalled/upgraded.

![dotnet-infp](https://user-images.githubusercontent.com/5527235/1

[2021-08-24 22:19] diberry commented on #2689
Found the correct cli command:

[code]

[2021-08-24 22:36] diberry commented on #2689
If I run the command from the parent directory, the command succeeds but doesn't put the files in the correct place. If I run the command from the correct child directory, api, it fails.

[2021-08-24 22:54] balag0 commented on #2671
reopening  since this still needs to be fixed.

[2021-08-24 22:55] diberry commented on #2689
![image](https://user-images.githubusercontent.com/41597107/130700520-7236fb3f-7ecb-4be9-afe7-f29acbfaa23c.png)

[2021-08-24 23:34] diberry commented on #2689
Once I upgrade the Azure CLI and logged into the azure cli in the terminal session that I used for the func commands, then the func commands worked.

[2021-08-24 23:34] #2689 closed

[2021-08-25 07:12] jintojohnkeelakkattu opened #2691 "Durable Function exception: “Unable to find an Azure Storage connection string to use for this binding.”"
Hi, I'm getting next error:

Microsoft.Azure.WebJobs.Extensions.DurableTask: Unable to find an Azure Storage connection string to use for this binding.

Question:

It appears to be the durable function that's complaining about the missing connection string. However, I do not have the option for setting Azure Storage on first place ,where I can bind azure storage

![Screenshot 2021-08-25 123956](ht

[2021-08-28 15:21] diberry opened #2698 "Switch for VSCode files for debugging"
Can you please add a command line switch to include VSCode `./vscode/settings.json` and `./vscode/tasks.json` files. These files are part of the local debug experience. Without them, the customer does get the boilerplate but doesn't have any ability to debug in 1st party tools.

Or is there a switch and I'm missing it?

[2021-08-29 03:01] bigjonroberts commented on #2549
I'm also curious if this will be addressed.

[2021-08-29 06:25] lukebailey commented on #2549
Useful example of F# on .NET5 in Azure functions: https://github.com/Choc13/az-function-fsharp-net5

[2021-08-31 05:02] janidama commented on #2600
Hi Team, I couldn't able to run `func start --build`

Due to issue

[2021-08-31T04:53:35.104Z] Cannot create directory for shared memory usage: /dev/shm/AzureFunctions
[2021-08-31T04:53:35.104Z] System.IO.FileSystem: Access to the path '/dev/shm/AzureFunctions' is denied. Operation not permitted.

Any help?

[2021-09-01 13:59] ghabre opened #2699 "The attempt to publish the ZIP file through https://---.scm.azurewebsites.net/api/zipdeploy failed with HTTP status code ServiceUnavailable."
When publishing our web apis on a Linux App Service in Azure, using a publish profile added through Visual Studio 2019, we are occasionally seeing the above issue.

The attempt to publish the ZIP file through https://---.scm.azurewebsites.net/api/zipdeploy failed with HTTP status code ServiceUnavailable.

When this happens, both the app service as well as scm / kudu services show as service unavai

[2021-09-01 20:16] #1336 closed

[2021-09-01 20:27] brettsam commented on #2684
@pragnagopa -- is this something that you want assigned to the Runtime team? Or did you have someone in mind to take this item?

[2021-09-01 22:50] Francisco-Gamino opened #2700 "Core Tools build and release pipeline fixes/improvements"
Fix MSI and signing the Core Tools build

Release pipeline
https://azfunc.visualstudio.com/Azure%20Functions/_releaseDefinition?definitionId=23&_a=definition-tasks&environmentId=113
1) Update Upload to storage task to check with an exe to make sure that the binaries are signed
- verify the minfied zip files
- verify the msi are present and signed
- verify the nuget package (Microsoft.Azure.Functio

[2021-09-01 22:50] Francisco-Gamino commented on #2700
cc @soninaren @kashimiz @michaelpeng36 @AnatoliB

[2021-09-02 06:23] chrisagzh commented on #1689
I'm also facing the same issue. This limitation makes Azure Functions Core Tools unusable for things beyond the "Hello World!" sample applications. Any real-life code base would include at least some class libraries currently are not supported.

[2021-09-02 09:35] coderbyheart commented on #1745
I can confirm this for v3.0.3568.

Adding a foldername to `.funcignore` has not effect, the folder is included (it is even listed in `.gitignore`).

[2021-09-02 09:35] coderbyheart opened #2701 ".funcignore does not support wildcards"
Adding a wildcard to the .funcignore has no effect.

[code]

[2021-09-02 15:45] Yvand commented on #1239
I have exactly the same behavior is @chenxizhang: "tsc -w" does update the files in dist folder, but func is not actually using those changes.

[2021-09-03 02:27] balag0 commented on #2699
@ghabre Does browsing to the home page work for you
 https://mga-platform-services-l01-dev.azurewebsites.net/
and
 https://mga-platform-services-l01-dev.scm.azurewebsites.net/

@lappy4711 Could you share your app name
https://github.com/Azure/azure-functions-host/wiki/Sharing-Your-Function-App-name-privately

[2021-09-06 11:24] snodnipper opened #2702 "debian 11 support"
Hi folks, it would be great if we can use this software with the current (stable) version of debian given the number of docker images based on that.

Thanks.

[2021-09-06 19:15] balag0 commented on #2702
Are you using core tools inside a container? which image are you using?

[2021-09-07 04:24] snodnipper commented on #2702
Hi @balag0, thanks for reaching out.  I was using the default [openjdk](https://hub.docker.com/_/openjdk) image to assist a customer in building their Java Azure Function based on the [Azure Functions Gradle Example](https://github.com/Azure-Samples/azure-functions-samples-java).  After an hour or so of debugging it turned out that their [Function Core Tools](https://aka.ms/azfunc-install) was out

[2021-09-07 18:27] kyle-pena-nlp commented on #1031
My general experience is that the conda ecosystem (base, conda-forge, etc.) seems to work a bit better in general.  I think more of the community's testing happens on these packages as opposed to pip packages.  My feeling is that adding support for an environment.yaml file is pretty critical.

[2021-09-08 07:49] ed-ilyin commented on #2549
is it somehow related to https://github.com/Azure/azure-functions-core-tools/pull/2667 ?

[2021-09-08 09:43] sinedied commented on #2676
Same issue here, on OSX.
I tried a lot of things (removing the extension bundle cache, deinstalling/reinstalling core tools and more), nothing works.

This seems related to the extension bundle, probably being somehow corrupted. If I remove this from `host.json`:
[code]

and install the extensions I need manually, there's no error.

Let me know if you need help to pinpoint the issue, but it's real

[2021-09-08 09:49] sinedied commented on #2676
Here's the output of `CLI_DEBUG=1 func start`
[code]

Note that the only extension bindings I use are CosmosDB bindings.

[2021-09-08 10:13] sinedied commented on #2676
More findings, after activating the full logs in `host.json`:
[code]

It seems the bundle downloading gets canceled (forced timeout?) and that probably may be the issue here as the looking at the extension folder nothing gets downloaded there.

I have a slow ADSL connection so downloading ~100Mo takes 2-3min in good days, but can go as far as ~10min.
Not directly related, but it would be nice to h

[2021-09-08 10:24] sinedied opened #2703 "[Proposal] Add user feedback when downloading extension bundle"
When you add extension bundle to your `host.json` file (which is the default in projected generated from CLI or VS Code extension), the extension bundle gets downloaded on first start (when everything works well) or might get updated at some point.

The thing is, there's currently no user feedback about this download and user (like me) gets confused about why it's not starting or take a huge time

[2021-09-08 20:22] fabiocav commented on #2632
@ConnorMcMahon do we have an issue tracking the Easy Auth work to support local dev?

[2021-09-08 20:26] fabiocav commented on #2541
@AnatoliB FYI

[2021-09-08 20:57] kashimiz opened #2704 "Specify versions on PowerShell function creation"
When you create a PowerShell function, you're given a selection menu of our currently supported PowerShell runtimes (as of this writing, it's PowerShell 7 and PowerShell Core 6.) However, the UI doesn't provide enough information about the options:

![image](https://user-images.githubusercontent.com/17170862/132583941-dac7fc57-6fa5-491d-90d7-1da8d9c0d3e5.png)

We should change the messages here to

[2021-09-10 09:50] parkeradam commented on #2549
ed-ilyin  seems like it might be, nice to see F# getting some love these days.
I think what lukebailey mentions is lright but with it not being built in, seems like F# was just left to the side.
Fingers crossed for a speedy implementation from the ticket mentiones.