[2022-06-15 16:55] michaelpeng36 commented on #3018
Closing this issue, as we are unable to reproduce the error, and it looks like this issue may be specific to the user's VM setup.

[2022-06-15 16:55] #3018 closed

[2022-06-15 17:33] pokepoke81 commented on #2901
Same issue

[2022-06-15 19:44] zdarovka commented on #2901
Same issue as @vudzero

[2022-06-16 11:04] lavibhatnagar opened #3076 "VS code azure powershell function debugging issue - Omnisharp Json Rpc exception"
Environment:

VS Code version: 1.68.0
C# Extension version: 1.25.0
Azure Core tools: v4
Powershell version: 7

Error:

![image](https://user-images.githubusercontent.com/5319479/174056674-6903d1f9-bbc2-4967-9f42-9858df1bb058.png)

Steps to reproduce:

1. Create azure powershell function
2. Put a breakpoint anywhere and hit F5
3. See error

Things Tried:

1. uninstalling c# extension
2. installing

[2022-06-16 13:50] thomgre commented on #3034
You can get around this issue by changing the EventHubTrigger signature and explicitly use appsetting bindings:
So instead of this
[code]
do this:
[code]

[2022-06-16 18:09] mk7exe commented on #2834
I followed the instruction mentioned by @reubano. I don't get the initial error anymore but I still can't run functions locally. I get "connect ECONNREFUSED 127.0.01:9091" error. I believe this is because func command does not run properly. There are three run commands related to azure functions in my ~/.nvm/versions/node/v14.17.6/bin which are azfun, azurefunctions, and func. Tried to run them in

[2022-06-17 00:44] michaelpeng36 commented on #3037
@lara-ec, @DCMattyG, @khalistoo Apologies for the delay in getting back to you all on this. Could you please try the following?
[code]
Please let me know if you encounter any problems with installing or running Core Tools following these instructions.

[2022-06-17 00:49] michaelpeng36 commented on #3002
Closing, as this issue is resolved by #3072

[2022-06-17 00:49] #3002 closed

[2022-06-17 01:03] michaelpeng36 commented on #2993
@chrisc96 @nbjohnson Thanks so much for your patience throughout this process. Though the Java worker released earlier, it took some time for these changes to be included in the Functions runtime, at which point Core Tools could begin its release process. This work should now be completed for Core Tools V3 and V4. Please let me know if you are still encountering this issue with the newest versions

[2022-06-17 01:11] michaelpeng36 commented on #2944
Resolved by #3040 and #3041

[2022-06-17 01:11] #2944 closed

[2022-06-17 02:02] #3067 closed

[2022-06-17 04:55] khalistoo commented on #3037
Works like a charm. Thanks a lot

[2022-06-17 08:19] KuSh opened #3077 "azure-functions-core-tools@3 is missing DurableTask.AzureStorage.dll"

[2022-06-17 16:28] anthonywhite commented on #2812
@daverobinson64 yes we were calling durable functions. Now using standard HTTP action

[2022-06-17 17:25] michaelpeng36 commented on #3037
Closing this issue, as it has been resolved.

[2022-06-17 17:25] #3037 closed

[2022-06-17 18:56] michaelpeng36 commented on #2860
@peterdemaeyer It looks like the `.deb` file was added to the `https://packages.microsoft.com/config/ubuntu/21.10/` directory. Would you be able to verify that the `README.md` instructions now work for Impish?

@DenzoNL, support for Jammy seems to have been resolved recently, as indicated on #3037. Please let me know if this is not the case for you!

[2022-06-20 18:08] CerosDev commented on #2876
Same, had to reinstall 5.0.408 (latest) even if it was already installed

[2022-06-20 22:17] TimMarshAU commented on #3064
I have tried to install via NPM and the Azure MSI installer. I'll try both of those, though.

[2022-06-21 07:19] danielsmolka commented on #3034
Hi thomgre,

the exception has started to be thrown after I upgraded from the deprecated Microsoft.Azure.EventHubs package to Azure.Messaging.EventHubs.

I'm already using your suggested way of appsettings binding:

[code]

The exception reads:
_System.ArgumentException
  HResult=0x80070057
  Message=The path to an Event Hub may be specified as part of the connection string or as a separate value,

[2022-06-21 07:28] danielsmolka commented on #3034
Hi thomgre,

I've found an error on my side. You are right that: "This issue occurs if the EntityPath in the ConnectionString does not match the provided eventHubName argument in the EventHubTrigger."
After I set the "EntityPath" of the "IotHub_EventHubCompatibleEndpoint" and the "IotHub_EventHubCompatibleName" to the same value it has stared working.

Thank you,
d.

[2022-06-21 13:12] eduedix commented on #2834
so I am wondering whether this issue is open or closed. Is arm64 supported at the moment?

[2022-06-21 17:33] ejizba commented on #2834
@eduedix It's supported in core tools, but not every language yet. See the comment at the top to track each language (Python and Java are the only ones left with outstanding work): https://github.com/Azure/azure-functions-core-tools/issues/2834#issue-1057720894

If you have comments/questions, the best place to follow up is on the language-specific github issue

[2022-06-23 12:32] ameyasubhedar commented on #2705
+1, Facing the same problem. The Blazor Static Web App + Azure Function + Playwright E2E tests setup requires the `func start --no-build` to start the func app without build.

Because of this issue I have to add an arbitrary delay in  test execution for building the Azure Function and then continue e2e test. This increases the test execution time significantly.

[2022-06-23 17:49] apawast commented on #3076
@lavibhatnagar can you share what happens when you type `func start` in the terminal?

[2022-06-23 18:23] lavibhatnagar commented on #3076
@apawast when i type func start, the function is executing successfully.
![Screenshot1](https://user-images.githubusercontent.com/5319479/175367720-f0339458-3deb-47fb-bb33-9f5bea69134f.png)

i am hitting the endpoint by postman, the issue is it is not hitting the breakpoint . if i press f5 i am getting the omnisharp json rpc extension exception as mentioned. Main issue is debugging the function wh

[2022-06-23 18:29] lavibhatnagar commented on #3076
https://stackoverflow.com/questions/72634272/vs-code-powershell-azure-function-debugging-omnisharp-exception/72644254?noredirect=1#comment128320249_72644254

[2022-06-24 00:11] HariKrishnaRajoli-MT commented on #3076
Function running successfully but debugger not hitting and that the OmniSharp Json Rpc exception dialogue box pops up - this is happening only in Azure Function - PowerShell Language. Need Quick Resolution!

We have tried the scenarios like

- Uninstalling and Re-installing the C# version in VS Code Extensions
- changing the C# version in VS Code Extensions
- Restarting the VS Code
- used the comm

[2022-06-24 00:18] ejizba commented on #3076
Looks like this was also filed on the VS Code extension: https://github.com/microsoft/vscode-azurefunctions/issues/3223

Since `func start` works fine by itself, this is probably not an issue with core tools and they're probably the better team to follow up

[2022-06-24 00:22] HariKrishnaRajoli-MT commented on #3076
Yes @ejizba, Same person @lavibhatnagar has raised the issue in both the repos for quick & better resolution.

[2022-06-24 10:28] alessiofilippin opened #3080 "How to refresh durable function key "durabletask_extension" using Az Cli"
We are facing a strange issue with one of our Az Functions. We are using a durable functions which it does have several AppKeys configured, one of them is called "durabletask_extension".

We are trying to automate the refresh of the keys using Az Cli but apparently when we try to refresh the key - the shell gives an error like "Operation Returned an invalid status "NotFound" "

However, I can see

[2022-06-24 12:32] ltalirz commented on #2894
Same here, with
[code]
running on a VM in a corporate VPN.

[2022-06-24 23:02] #2860 closed

[2022-06-28 11:47] asa41 opened #3084 "An assembly specified in the application dependencies manifest (Microsoft.Azure.Functions.PowerShellWorker.deps.json) was not found"
I'm running Azure Function Core Tools Version 4.0.4590 on my Apple M1 MacBook Pro.
I have also installed .NET Core 3.1

When I want to run an Azure Function with PowerShell worker I get the following error:

[code]

Am I doing something wrong or is this still an issue on M1 Macs? I thought it should work with the newest release.

Thanks!
Alex

[2022-06-28 16:49] pacaj2am opened #3085 "Debugging/Local development not working on MacOS with Apple silicon m1"
When I try to debug/run Azure function from VS Code I get following output:

[code]

That used to work previously.

VS Code version:
[code]

[2022-06-29 10:57] asatsvich opened #3086 "azure-functions-core-tools postinstall error"
I am trying to install azure-functions-core-tools during pipeline on agent in azure dev ops, but it fails on postinstall action

Here is log of this step

[code]

[2022-06-29 15:21] swathivallem opened #3087 "Here's the azure CLI we are using to publish to a function app. func azure functionapp publish function_app_name --python --build remote We have a situation where requirements.txt was missing credentials for the extra-index-url. Expectedly the function build failed. How ever the cli still returned a zero exit code. We are expecting it to return non zero code as the build failed."

[2022-06-29 19:18] michaelpeng36 commented on #3086
@asatsvich Could you retry this installation? The `ECONNRESET` error suggests this may be due to a connectivity issue.

[2022-06-29 19:20] michaelpeng36 commented on #3085
@pacaj2am This is because the Python worker does not support running on Mac M1 at the moment. Here is the tracking issue on the relevant repository: https://github.com/Azure/azure-functions-python-worker/issues/915

[2022-06-29 19:23] michaelpeng36 commented on #3084
@asa41 Could you clarify which version of PowerShell you are running on your function app? What is the value of the ` FUNCTIONS_WORKER_RUNTIME_VERSION` setting in your `local.settings.json` file? This may be expected if you are using PowerShell 7, as it is not supported on Mac M1.

[2022-06-29 19:26] michaelpeng36 commented on #3080
@alessiofilippin This seems to be an issue with the Az CLI rather than with Core Tools. Here is the appropriate repository where you can raise this issue: https://github.com/Azure/azure-cli

[2022-06-29 19:26] #3080 closed

[2022-06-30 07:45] asa41 commented on #3084
@michaelpeng36 Wow! That was the trick! Changing the FUNCTIONS_WORKER_RUNTIME_VERSION to 7.2 solved the problem! Now its running with dotnet 6, PowerShell 7.2 and azure-function-tools V4 natively on my M1 MAC.

It looks like, that the PnP PowerShell module is not supporting Dotnet 6, but thats another problem and has nothing to do with that issue here.

So, thank you very much for your help!

Rega

[2022-06-30 10:47] jaltin commented on #3084
Hi @michaelpeng36,

I also experienced this error and setting the "FUNCTIONS_WORKER_RUNTIME_VERSION" to  "7.2" fixed it for me too.

Before that I had "FUNCTIONS_WORKER_RUNTIME_VERSION" set to "~7" (the default value set when creating a new powershell func project). Why didn't that work?

[2022-06-30 17:23] ejizba commented on #3084
@jaltin PowerShell 7.2 (irrespective of Azure Functions) was the first version to support M1 Macs, so that's why:
https://docs.microsoft.com/powershell/scripting/install/installing-powershell-on-macos?view=powershell-7.2#installation-via-direct-download

Also you mentioned PowerShell 7 is still the default - here is an issue to track making PowerShell 7.2 the default: https://github.com/Azure/azur

[2022-06-30 17:41] #3076 closed, assigned to nobody

[2022-06-30 17:42] apawast commented on #3064
@TimMarshAU did you have any luck trying those?

[2022-06-30 20:02] #2699 closed

[2022-06-30 20:02] #2698 closed

[2022-07-01 04:03] trwhitcomb commented on #3042
I'm thankful to see I wasn't the only one!  I have also encountered this issue with the same debugging steps.  Removing the Python from the MS store and installing Python from python.org MSI seems to allow the proper venv Python to be used to execute the `func host start` command.  In my case, Python version was 3.9.13

[2022-07-01 11:08] DMegarry commented on #2901
I too am having the same issue..  Is there any working being done to solve this?

[2022-07-01 14:19] mcollier opened #3089 "Logic App (Standard) - Unable to find Microsoft.Azure.Functions.ExtensionBundle.Workflows"
When attempting to debug a Logic App (Standard) app in VS Code, I seem to be running into the same issue as stated at azure/logicapps#518.

This seems to be a problem only when debugging in VS Code.  If I run `func host start`, the Logic App starts successfully.  Running `func host start --verbose`, shows the runtime does find the extension bundle, but at a different location, **/home/vscode/data/

[2022-07-01 15:47] bbkane commented on #2673
Closing due to age

[2022-07-01 15:47] #2673 closed

[2022-07-01 16:44] SWGAnthonyClark commented on #3023
I am also getting this exact error message. Has anything been discovered on this since? It has only just started happening on one of my durable function containers. I'll revert to the older version and if the Azure Function Core Tools runs OK on that will try and work out the difference.

[2022-07-04 15:41] SWGAnthonyClark commented on #3023
The reason this error message was appearing for me, was that the durable functions storage settings were removed from the host.json file. Once I put it back this message went away and it deployed properly.

`"extensions": {
    "durableTask": {
      "storageProvider": {
        "type": "mssql",
        "connectionStringName": "SQLDB_Connection",
        "taskEventLockTimeout": "00:02:00",

[2022-07-06 01:58] Francisco-Gamino opened #3090 "Missing type WorkerConstants.FunctionConsoleLogCategoryName breaks Core Tools build for integration testing"
This PR https://github.com/Azure/azure-functions-host/pull/8435 renames `Microsoft.Azure.WebJobs.Script.Workers.WorkerConstantsFunctionConsoleLogCategoryName` to `Microsoft.Azure.WebJobs.Script.Workers.WorkerConstantsConsoleLogCategoryName`. The type `Workers.WorkerConstantsConsoleLogCategoryName` is referenced here https://github.com/Azure/azure-functions-core-tools/blob/db2ff784941c3f6241aea9968

[2022-07-06 23:02] #3086 closed

[2022-07-07 19:04] michaelpeng36 opened #3092 "Add an option to `func init` for language version"
Described by https://github.com/Azure/azure-functions-core-tools/pull/3088#discussion_r915148607. The `--target-framework` option was added to the `func init` command to add support for .NET 7 templates. However, it would be great to have something more generic for other, non-.NET languages.

[2022-07-07 20:02] #3064 closed

[2022-07-08 00:48] ejizba commented on #3092
Unless you plan to change from `--target-framework` to a generic language flag before releasing, I'd just close this issue. Once we release the flag, we probably won't remove it for .NET. In terms of other languages, IMO there's no need to track an issue until we actually need to support that scenario

[2022-07-08 03:47] kiwiliam opened #3096 "[Triage] Function core tool release 4.0.4629 missing Function Host dependency, host cannot start in certain configurations"
**[Keywords]**
Function core tool, 4.0.4629, missing dependency, Function Host cannot start, "microsoft.azure.webjobs.extensions.http: could not load file or assembly 'system.net.http.formatting, version=5.2.8.0"

**[Issue]**
After upgrading to release 4.0.4629, the Function Host fails on startup with the following AssemblyNotFoundException. Seems some dependencies were missing.
![image](https://u

[2022-07-08 04:14] kiwiliam commented on #3096
[update]
Cannot repro on some systems
![MicrosoftTeams-image (1)](https://user-images.githubusercontent.com/92900343/177915693-c90fff6e-b296-4119-8ab5-c1ec1c2b9133.png)

[2022-07-08 18:17] KantiCodes commented on #2834
Hi All I think I've encountered some bizarre error why pyodbc works on my machine after installing through brew etc. but when I try to use it inside an azure function it doesn't work.

Im running on python 3.9.10 on Latest Azure functions 3x I previously had a project running on 2x and just recently created a new one and installed core tools 3.x and 4.x to try it out.

When I run a `import pyodbc`

[2022-07-12 13:26] andriimazur93 commented on #2889
Hello @cristobal, do u have some updates? Thx!

[2022-07-12 14:10] cristobal commented on #2889
@andriimazur93 sorry been quite busy at work lately, i have some time off now. But will look into it and fix this next, thanks for reminding me of this 👌👍

[2022-07-13 17:29] wordBoy opened #3100 "Azure function run attempt failing"
I am trying to run a new HTTP Trigger Azure function locally, but it is failing with the following log. I did try to add my proxy information to local.settings.json but that had no effect - however that did result in the "Skipping" notes below.

Azure Functions Core Tools
Core Tools Version:       4.0.4629 Commit hash: N/A  (64-bit)
Function Runtime Version: 4.6.1.18388

Skipping 'http_proxy' from

[2022-07-14 08:59] older commented on #3096
I'm getting this exception as well when I'm running deployment to function app on linux from Octopus with the following command line:

    func azure functionapp publish $appServiceName --csharp

[2022-07-14 09:36] ericbrunner commented on #3034
Had the same issue. Migrated my Functions from `netcore3.1` to `net6.0`

1. Leave or take the EventHub compatible endpoint
![image](https://user-images.githubusercontent.com/6480047/178952291-4570c791-804d-452f-b2a9-88f19ac842f9.png)

2. Pass the same EntryPath token which is the EventHub name as parameter to the EventHubTrigger attribute
![image](https://user-images.githubusercontent.com/6480047/

[2022-07-14 10:29] johnmc-tc commented on #3096
Happening for me too. Definitely needs to be fixed

[2022-07-14 10:51] kiwiliam commented on #3096
Hello, some updates here.

On Windows 11, I can fully resolve this issue for 4.0.4629 by the following steps. "Purging SDKs"
1. Clear all NuGet package caches.
"dotnet nuget locals all --clear"
https://docs.microsoft.com/en-us/dotnet/core/tools/dotnet-nuget-locals#examples
Also the VS NuGet cache via GUI.

2. Completely uninstall all .NET versions, Function core tools, delete all residual files.

[2022-07-14 17:18] Yashuaa commented on #3059
Any ideas anyone? @kshyju

[2022-07-15 09:12] older commented on #3096
@kiwiliam I'm running Octopus as a windows service, so it is neither Linux nor cloud.
Downgrading function core tools to 4.0.4590 fixed the issue.

[2022-07-15 09:53] Kurren123 opened #3101 "Quick question about the durable function commands"
I start a new durable functions project in visual studio. It has a http trigger which starts an orchestrator function, which in turn calls the say hello activity 3 times. I navigate to the root of the project (where the sln file is) and run `func start`, and then navigate to the http trigger from my browser. The orchestrator function executes successfully. In a separate window I run `func durable

[2022-07-16 10:10] mpowney opened #3102 "VSCode on MacOS net6.0 C# function doesn't debug"
I'm attempting to debug a net6.0 C# function v4 app with VS Code on MacOS.

* Azure Functions Core Tools version: 4.0.4629
* Azure Functions for Visual Studio Code extension version: 1.7.4
* VS Code version: 1.69.0
* OS: Darwin x64 21.5.0

Project:

* Target framework: net6.0
* Azure Functions Version: v4
* Package reference: Microsoft.NET.Sdk.Functions Version 4.1.1

When I run F5 debug in VSCode

[2022-07-16 10:14] mpowney commented on #3102
Note the same csproj opened in VS2022 for Mac, the debugger attaches as expected.

[2022-07-18 22:51] briandunnington commented on #2959
Just wanted to confirm that @mrnewrochelle's suggestion worked for me. I had already tried installing gobally via npm and had the latest version (both via npm and VS) but was still facing errors. Deleting all of the containers from the emulator cleared it up for me.

[2022-07-19 00:12] GrumpyCockatiel commented on #2876
Once I removed all the unnecessary runtimes and sdks as well as
Microsoft.NETCore.App         2.1.23       .NET 2.1 is out of support.
Mine started working
EXCEPT I'm still not able to run a .NET 6 isolated Azure Function project locally - just build and publish
![Screen Shot 2022-07-18 at 7 02 34 PM](https://user-images.githubusercontent.com/17300872/179637483-977f6d46-0f80-445a-adeb-caa692571f70

[2022-07-19 11:16] Jawz84 commented on #2955
The same problem occurs for the Durable functions Orchestrator template:
[code]

The correct template name turned out to be 'DurableFunctionsorchestration'.

[2022-07-19 17:47] michaelpeng36 commented on #3102
@mpowney Thanks for raising this issue. It looks related to https://github.com/microsoft/vscode-azurefunctions/issues/3175 and https://github.com/microsoft/vscode-azurefunctions/issues/3030. The VS Code team should be better equipped to address this.

[2022-07-19 17:47] #3102 closed

[2022-07-19 20:53] nicholas-ebert opened #3104 "$return not working for python kafka binding"
I'd like to be able to return the result of my kafka event processor and avoid using `func.Out` if possible. I have a `function.json` which is setup like this:

[code]

And my code looks like this:
[code]

Note the `"name": "$return",` in the kafka output binding. Running this with `func start --python`, I get these errors:

[code]

After some investigation, it seems this happens because `KafkaCon

[2022-07-19 23:45] SOFSPEEL commented on #2825
So still can't get the correct deployment.

I changed Docker to use "isolated"

[code]

I added band aid to csproj:

[code]

I'm running version
[code]

when I run:
[code]

The resultant output is:
[code]

and to be clear I'm expecting the Azure Core Tools to be generating stuff like:
AzureWebJobsSecretStorageType = true

https://docs.microsoft.com/en-us/azure/azure-functions/functions-app-setting

[2022-07-20 01:13] #255 closed

[2022-07-20 14:36] GravlLift opened #3105 "Nonsensical if condition"
Was browsing the source code for unrelated reasons and I came across this bit of code in KubernetesDeployAction.cs. Not sure exactly what it's supposed to read, but line 200 there looks almost certainly to be a mistake.

https://github.com/Azure/azure-functions-core-tools/blob/5e39dc1601122d8e808b4310a6112f57a93a2fca/src/Azure.Functions.Cli/Actions/KubernetesActions/KubernetesDeployAction.cs#L191-

[2022-07-21 13:55] lucafrost commented on #2901
_Here's my workaround to create an env that Azure will tolerate on Apple Silicon..._

## Workaround on Apple Silicon

### 1. Installing Rosetta

1. Run the following command in terminal: `softwareupdate --install-rosetta --agree-to-license`
   - This will install Apple's [Rosetta](https://developer.apple.com/documentation/apple-silicon/about-the-rosetta-translation-environment) which emulates x64_

[2022-07-21 17:04] PabloZaiden commented on #2901
Locally the functions work fine. The issue is when running in a container.

[2022-07-22 16:49] ejizba commented on #1732
Yes sorry GitHub normally closes the issue automatically when I link it in the PR, not sure what happened here. This has been fixed and can be closed

[2022-07-22 16:49] #1732 closed

[2022-07-22 20:21] nturinski commented on #3102
There is a workaround in this issue: https://github.com/OmniSharp/omnisharp-vscode/issues/4903

[2022-07-22 21:14] #2989 closed

[2022-07-25 10:22] YaroslavKormushyn commented on #1620
Even after adding the "fix" in https://github.com/Azure/azure-functions-docker/pull/170, I still can't see the runtime using `LD_LIBRARY_PATH` to resolve libraries.
I'm using Python 3.9 on Linux Consumption Plan.
I have a couple of wheels, which are converted from conda packages, and they have their `.so` dependencies unpacked to `.python_packages/lib/site-packages/lib` where they don't seem to be

[2022-07-26 20:57] bhehe commented on #2872
Just ran into this myself; Is there a more broadly applicable fix to issues of this nature?
Seems like it would be a problem any time there's a version mismatch regardless of which dependency it is.

[2022-07-27 11:34] denilinguist opened #3108 "Unable to use command line argument --language-worker"
I work on a project that runs simultaneously three distincts azure functions. We use azure-functions-core-tools V3 for two years now; in order to debug each instance, we use the language-worker parameter from func to configure the debug ports of the underlying nodes processes (as described [here](https://github.com/Azure/azure-functions-core-tools/wiki/Enable-Debugging-for-language-workers)), e.g.

[2022-07-27 17:52] michaelpeng36 commented on #2526
@MJECloud, are you still facing this issue?

[2022-07-27 17:55] MJECloud commented on #2526
@michaelpeng36 no i dont run into this issue anymore. This issue can be closed.

[2022-07-27 17:57] michaelpeng36 commented on #2421
@MBKraus could you clarify whether using Core Tools or the Az CLI works fine? Also, @mygithubkas, could you verify if you have an app setting called `connectionString`?

[2022-07-27 18:26] #3105 closed

[2022-07-27 21:03] #2526 closed

[2022-07-29 05:56] csanjay99 opened #3109 "@paulnara are you still experiencing this issue? If yes, could you share some more details as we have not been able to reproduce this."
Hi, I see this has been closed but I would like to open it again. This is a serious issue and it needs to be fixed. I am getting the same error as @Kaushik27. Tried all workarounds  mentioned by @Kaushik27 still nothing seems to work. The error is same "self signed certificate in chain". Please so something ab out it.

[2022-07-29 06:37] Kaushik27 commented on #3109
I do agree with you. But Microsoft is very negligent around this. They will take humongous amount of time to reply @csanjay99.
And by that time you would have already found an alternative or changed your approach itself.

[2022-07-29 19:35] nitinkale opened #3110 "Unable to load metadata for function"
I am trying to deploy azure function template provided by Visual studio to K8's.
Receiving following error
"Unable to load metadata for function 'Function1'"

Steps to reproduce

1. Create project default visual studio durable function
2. Execute func init command to deploy function to K8's

[2022-07-29 23:05] willyt150 opened #3111 "Unable to debug v4 .Net 6 Isolated Function from Visual Studio 2022 with AzureFunctionTools 4.19.0"
Experiencing this issue on multiple machines with different Visual Studio 2022 versions.
VS 17.2.3 and 17.2.6

Had existing .Net 6 Isolated functions that we've been working on and debugging locally since the beginning of the year.
Today when attempting to debug (via F5) it hung waiting for VS to attach debugger, and then eventually gave up.

![image](https://user-images.githubusercontent.com/1190

[2022-07-29 23:45] ejizba commented on #3111
Thanks for reporting @willyt150. We reverted the change in https://github.com/Azure/azure-functions-tooling-feed/pull/374. Let us know if you're still seeing the issue

[2022-07-29 23:48] willyt150 commented on #3111
@ejizba Thank you so much for the quick resolution!

That has resolved the issue for me.

Do you know if there's a way for local debugging in VS to tell it which version to use explicitly?

[2022-07-29 23:53] ejizba commented on #3111
Going to keep this issue open as we still need to fix the issue for future releases

Unfortunately I don't think there is a way. I would have to follow up with the VS team

[2022-07-29 23:59] willyt150 commented on #3111
Ok, sounds good. Thanks

[2022-08-01 12:44] AaronM44 commented on #1031
Also looking for this feature

[2022-08-02 05:45] wonboyn opened #3112 "Release for aarch64"
At the moment there is a release for Linux amd64 & Mac arm64 but not Linux aarch64.
Can you please make a release of the tools available for aarch64 or provide build instructions.

Thanks

[2022-08-02 13:57] RoygarBriceno-Arkano commented on #3111
Hi, just hit this issue yesterday, after reading this, I reinstalled the Azure Core Tools with the msi installer,  just in case.. but it still happening...

[2022-08-02 14:10] RoygarBriceno-Arkano commented on #3111
Thanks @willyt150 , you were pretty close with the path,  is C:\Users\{user}\AppData\Local\AzureFunctionsTools\Releases

And yes, deleting the "Releases" folder and restarting visual studio solved the issue

[2022-08-03 20:02] #2421 closed

[2022-08-04 14:41] LuckyLub opened #3114 "During debugging a different version of python is selected without any feedback."
# Description of the problem:

I created a virtual environment with python 3.10, unaware at the time that it can be no higher than 3.9.
When trying to start the debug functionality I got `ModuleNotFound` errors, which confused me a lot, since I installed everything in my venv, double checked, and even have the debugging script check if my venv has all of the modules specified in the requirements.t

[2022-08-05 02:47] Michael-D-Pine-dorsavi opened #3115 "Azure Functions Core Tools 4 - Microsoft.Azure.WebJobs.Extensions.Http: Could not load file or assembly 'System.Net.Http.Formatting, Version=5.2.8.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35'"
Core Tools Version:       4.0.4670 Commit hash: N/A  (64-bit)
Function Runtime Version: 4.7.2.18626

Creating a dot net isolated function as I upgraded from Core Tools to 4 and now I am getting this issue when attempting to start the function i.e "func host start --dotnet-isolated-debug"

[2022-08-05T02:42:18.661Z] A host error has occurred during startup operation 'c3cbacb9-304a-46e2-8de1-4fa3618

[2022-08-05 10:40] JatinSanghvi commented on #2399
Is this issue expected to be fixed now with Azure/azure-functions-host/pull/8041 merged?

[2022-08-05 18:12] JimacoMS4 commented on #3115
+1 on this issue. I'm getting the same error running through this quickstart: https://docs.microsoft.com/en-us/azure/azure-functions/create-first-function-vs-code-csharp?tabs=in-process in VS Code:

[2022-08-04T22:36:09.418Z] A host error has occurred during startup operation '9d9439d5-3e12-40b8-b6fc-08727ce75b49'.
[2022-08-04T22:36:09.420Z] Microsoft.Azure.WebJobs.Extensions.Http: Could not load

[2022-08-07 07:27] iAmBipinPaul commented on #2180
any update on this ?

[2022-08-07 07:33] iAmBipinPaul commented on #3112
This may help (Raspberry PI 4 (linux-arm/linux-arm64)
https://github.com/Azure/azure-functions-core-tools/issues/2180#issuecomment-774512831

[2022-08-07 08:19] lehela commented on #2901
I'm also facing the same issue that the `func host start` command terminates when running inside an amd64 architecture container on my Mac M1.

[2022-08-07 12:30] akjal commented on #3115
I had the same issue. I re-installed .NET 6 and then re-installed azure functions core tools. After that it started working.Hope it helps!

Cheers

[2022-08-07 22:40] Michael-D-Pine-dorsavi commented on #3115
Hey thanks for the suggestion, I will give it a go, re-installing .Net 6 ad the azure functions core tools, our of curiosity did you install the core tools via NPM or using the MSI download ?

[2022-08-08 05:44] akjal commented on #3115
I used MSI download.

[2022-08-08 14:49] papakpmartin commented on #2901
I think I'm seeing this issue, too.

[2022-08-08 15:32] JimacoMS4 commented on #3115
Hey thanks folks. I'll try this as well.

[2022-08-08 16:55] JimacoMS4 commented on #3115
Reinstalling (actually repairing) both .NET 6 SDK and Aure Functions Core Tools seems to have worked for me. Thanks @akjal! (There was also a Windows Update this AM.)

[2022-08-08 23:55] Michael-D-Pine-dorsavi commented on #3115
Yeah thanks for the feedback, I need to remember to do these things, it's just you do something and it's like oh man what, so you try and fix it instead of just trying the old re-install but can confirm with a brand new function the re-install of both worked for me and now I can start and debug a local isolated function.

I actually did a repair of .Net 6, I ran the installer again and just chose

[2022-08-08 23:56] Michael-D-Pine-dorsavi commented on #3115
Not sure of the protocol here on the issues thread ? Should this remain open and an admin or someone of the like will close it or do I close it ?

[2022-08-09 17:50] michaelpeng36 commented on #3115
Closing, as a workaround was found.

[2022-08-09 17:50] #3115 closed

[2022-08-09 17:58] michaelpeng36 commented on #3109
@csanjay99 Are you using a proxy server? Could you also clarify if this issue is present for both Core Tools V3 and Core Tools V4?

[2022-08-09 21:39] michaelpeng36 commented on #1680
Reopening this issue to track work underway to support `win-arm64`: #3116

[2022-08-10 05:47] csanjay99 commented on #3109
Yes, Netskope was installed on my computer. I found this a couple of days after posting here. Sorry to not update it here. I went on its website and did what I was asked to in order for the certificates to work. @Kaushik27 You should also find out if you have any proxy server that is running under the belly and might not be so obvious. Check for any program like Netskope, Zscaler or the likes of c

[2022-08-10 07:41] ReschAndr opened #3118 "V3 marked as latest"
On Github Releases a version of the v3 core tools is marked as latest.

https://github.com/Azure/azure-functions-core-tools/releases

![image](https://user-images.githubusercontent.com/23379723/183844049-4c49fd65-7e3a-41dc-a757-12e4cfa07554.png)

[2022-08-10 13:44] kaibocai opened #3121 "Core tools not respect JAVA_HOME set in local.setting.json file"
I have core tools version 4.0.4590, I noticed for env vars like `EventHubConnectionAppSetting`, `APPLICATIONINSIGHTS_CONNECTION_STRING`, etc, those env vars are respect when run function app on core tools. However, for env var JAVA_HOME set in local.setting.json, it is not respect by core tools.
I tried the same thing on running the function app on host directly by setting JAVA_HOME as env var in

[2022-08-10 17:27] ejizba commented on #3118
Hi @ReschAndr we support both major versions, meaning we regularly publish releases for both v3 and v4 of core tools. As far as I know, GitHub will mark a release with "Latest" based on the timestamp, not based on the version. Since we did a v3 release most recently, it will be "Latest" until we do a v4 release. If you know of a way to fix this on GitHub let me know, but I don't think it's possibl

[2022-08-11 06:49] ReschAndr commented on #3118
Sorry I don't know how to fix this on Github. But as far as I can see there is a more recent release for the v4 version than the one marked as latest from the v3 version.
As you can see below the [4.0.4670](https://github.com/Azure/azure-functions-core-tools/releases/tag/4.0.4670) was released 13 days ago. The [3.0.4669](https://github.com/Azure/azure-functions-core-tools/releases/tag/3.0.4669) wa

[2022-08-11 17:52] ejizba commented on #3118
Interesting, although I can guess why that happened. As a bit of background, when we first create a release we check this checkbox:
![Screen Shot 2022-08-11 at 10 33 58 AM](https://user-images.githubusercontent.com/11282622/184197149-b20645d1-6c0d-45dc-ba5e-f9544e8fed2a.png)

We do that for a little while to test the new release before we mark it production ready and before we release it to all ch

[2022-08-11 17:52] #3118 closed

[2022-08-11 21:18] michaelpeng36 opened #3122 "Generate an MSI for the `win-arm64` runtime"
Currently, an MSI is not generated for the `win-arm64` runtime because a WiX Toolset does not have a production-ready version that supports the architecture (see https://github.com/wixtoolset/issues/discussions/6514 and https://wixtoolset.org/releases/). Once such a version of the WiX Toolset becomes available, this MSI should be generated.

[2022-08-11 23:10] HenryLGatesFoundation opened #3123 "Could not find DurableTask.AzureStorage.dll - message sent - Instance not terminated"
When using the Core Tools 3.0.4669 (x64) I get the following message, although it appears to send the terminate message, I execute the following:

func durable terminate --id 12345678901234567890 --reason "Excessive run-time"

I receive the following:

"Could not find DurableTask.AzureStorage.dll. The functions host must be running a Durable Functions app in order for Durable Functions CLI command

[2022-08-12 19:43] HenryLGatesFoundation commented on #3123
The results of my task termination attempts. are mixed  Here’s the synopsis:

Good:
Every termination request message was both received and recorded, 👍
Although the first task run failed, the second run was a complete success. **Somehow** it seems that my termination requests were honored...although much later.

Bad:
The termination requests were not honored by Azure Data Factory until almost 7 ho

[2022-08-16 12:49] kaibocai commented on #3121
Noticed it print out
![image](https://user-images.githubusercontent.com/89094811/184883333-2f424201-dc4b-4428-bcf2-f726d6d9c1cf.png)
Seems core tools will first consider system env var if it's already present then skip the setting in local.setting.json file, wondering if we can somehow override this behavior make it take priority at local.setting.json settings. Thanks.

[2022-08-16 15:16] boylec opened #3125 "Upgrading from 4.0.3971 to 4.0.4704 caused SSL certs to not be served when running locally (Mac)"
I'm on Mac.

I have 2 machines and I upgraded core tools on one of those machines and SSL certs stopped being served up.

Running my function app using the following used to serve up web requests using SSL just fine.
[code]

Once I upgraded from 4.0.3971 to 4.0.4704 it broke. I confirmed this using a separate Mac as well.

Requesting cert from function app (for me: localhost:7071)

![image](https:

[2022-08-16 17:45] michaelpeng36 commented on #3123
@HenryLGatesFoundation Were you able to resolve the first issue with the `Could not find DurableTask.AzureStorage.dll`?

[2022-08-16 18:15] boylec commented on #3125
FYI for anyone that needs to revert using homebrew to 4.0.3971 (which fixes the problem for me temporarily)

Bash one liner to temporarily rollback to 4.0.3971.

DISCLAIMER:
I made this and it worked for me but I haven't tested it in depth so use at your own risk.

Basically it just gets the brew repository location, replaces the formula for azure-functions-core-tools@4 temporarily with the old on

[2022-08-16 21:05] cveld commented on #2564
Just tested, Func cli works whereas the azure devops pipeline task still fails. Unbelievable I thought I was doing something wrong here.
I was also misled by the message in Portal:

[2022-08-17 11:38] tanepiper commented on #1892
Also getting this in version 4, while `--list-ignored-files` is correct.

Related to this however I'm seeing this issue: https://github.com/Azure/azure-functions-core-tools/issues/1726#issuecomment-776523153

The zip output is missing functions and `node_modules` is empty

[2022-08-17 18:33] cicorias opened #3129 "WARNING {JavaFunctionBroker.addJavaAnnotationLibrary}: Customer is not providing java annotation files, they may not use the latest version of java library and maven plugin."
this error pops during startup of a basic Java project that is reading an Reading an Event Hub

<img width="869" alt="image" src="https://user-images.githubusercontent.com/1080406/185215838-9a34e454-46ce-4db7-be66-b8aeda482cbe.png">

Full repro here: https://github.com/cicorias/azfunct-java-eventhubs

Using "func core tools version: `4.0.4704`

# java version
[code]
## maven version
[code]

## Log

[2022-08-17 19:11] rafaelmtz commented on #2876
Thank you @andrew-benson your solutions worked for me, I had the same error:  JetBrains Rider and Azure Function, Mac Os 12.5

[2022-08-18 17:58] HenryLGatesFoundation commented on #3123
Hello @michaelpeng36 .  No, feeling like a "nuisance" error/warning, I overlooked it, needing to focus on the more important facts of the command issuance.

Namely, each time I submitted a termination command, it seems that ADF treated it as a "request" which it logged, versus an instruction which was meant to interrupt the processing of the current/specified task.  This is a real issue with very

[2022-08-20 11:07] mohitmathew opened #3130 "why does the installed require admin privilege?"
The npm install works without admin privilege so wondering why the standard windows installer requires admin rights to run. Can it be changed to self extracting exe?

thank you.

[2022-08-20 23:37] jleake-ow commented on #2834
The above worked, upon running command:

[code]

OS Monterey 12.3.1
Node 14.18.3
Python 3.9.13

[2022-08-20 23:40] ormu5 commented on #2834
The above worked, upon running command:

[code]

OS Monterey 12.3.1
Node 14.18.3
Python 3.9.13

[2022-08-21 18:26] Joost1982 commented on #3115
Had the same issue. Reinstalling .NET 6 and azure functions core tools, like [akjal](https://github.com/akjal) suggested, fixed it!

[2022-08-22 14:32] robmoo commented on #3074
Is there any update on this issue? We are getting this issue as well in our build pipelines when trying to run integration tests

[2022-08-22 20:15] teebu commented on #1926
I just noticed the func created timertrigger and kubernetes doesn't like it.

What's the status on this? What's the workaround?

[2022-08-22 22:00] DylanMsft opened #3132 "Misleading Error Message - Storage Account Invalid but Error Message complains about Remote build"
I was recently working with an Azure customer who was unable to publish their function because the name of their storage account was incorrect.  The error message that function core tools provided was about remote build instead.  This lead to troubleshooting the wrong issue.

Eventually, the customer was able to diagnose the issue by adding the setting WEBSITE_CONTENTAZUREFILECONNECTIONSTRING.

Wh

[2022-08-23 14:32] Aymane1998 commented on #3115
it didn't work for me

[2022-08-23 16:54] alecglen commented on #3112
@michaelpeng36 Pinging to increase priority on this if possible. It is closely related to https://github.com/Azure/azure-functions-core-tools/issues/2834 because anyone attempting to develop Functions in a [VS Code devcontainer](https://code.visualstudio.com/docs/remote/containers) while on an M1 Mac will be blocked.

[2022-08-23 16:57] leeford commented on #3112
Agree 100%. I'm in the same boat. Cannot run on a Mac M1 inside a container.

[2022-08-23 17:43] Francisco-Gamino opened #3134 "Make PowerShell 7.2 the default when creating a PowerShell function app"

[2022-08-23 21:37] Michael-D-Pine-dorsavi commented on #3115
I don't know if you had 2 versions of the core tools installed I did, I had installed them via NPM and also installed them via the MSI, maybe make sure you have un-installed in case you had both, that is what I did anyway. Maybe try a repair of .Net 6 as well ?

[2022-08-24 13:41] josteinkirkebak commented on #2901
Seeing same issue when trying to run in a devcontainer (Azure Functions & C# - .NET 6 (In-Process)) boilerplate and adding the boilerplate project for httpTrigger.

[2022-08-24 18:20] UnknownJoe796 commented on #3074
We don't have anything yet.  I tried looking through the source myself to figure something out but I'm not a C# guy.

[2022-08-24 18:51] michaelpeng36 commented on #3130
@mohitmathew Could you clarify which installer you are using? Are you using the .MSI or Chocolatey?

[2022-08-24 19:47] #3134 closed

[2022-08-24 20:45] ZathrasOne commented on #3129
I am running into the same thing. I was transferring my test environment to a new machine. The only difference I can find is the version of Azure Tools:
Working system:
Core Tools Version:       3.0.3904 Commit hash: c345f7140a8f968c5dbc621f8a8374d8e3234206  (64-bit)
Function Runtime Version: 3.3.1.0

Failing system:
Core Tools Version:       3.0.4727 Commit hash: N/A  (64-bit)
Function Runtime Ve

[2022-08-25 14:32] Ceglowa opened #3137 "Azure-functions with dill - failing on importing dill. No module named '__main__`"
Hi, I am trying to deploy a function to Azure that is using a `dill` library. Right now the function returns 500 immediately after calling. It fails when importing `dill`. What is interesting is that the same procedure with deploying the function worked around 3 weeks ago - and it was also using `dill` as a requirement. It shows the following error:

Please check the requirements.txt file for the

[2022-08-25 17:48] apawast commented on #2286
Closing this as a duplicate of [#1684](https://github.com/Azure/azure-functions-core-tools/issues/1684)

[2022-08-25 17:48] #2286 closed

[2022-08-25 18:00] apawast commented on #2769
Closing as this work is complete

[2022-08-25 18:00] #2769 closed

[2022-08-26 09:46] Ceglowa commented on #3137
What was the procedure before when the function was working:

1. Deploy Function App via terraform
2. Install azure-functions-core-tools with version `4.0.4653-1`using `apt-get -y install azure-functions-core-tools-4=4.0.4653-1`
3. Login to azure using `az login`
4. Switch to a specific subscription
5. Install python packages via `pip install --target=".python_packages/lib/site-packages" -r requir

[2022-08-27 01:06] kf6kjg commented on #2701
According to https://github.com/Azure/azure-functions-core-tools/blob/db2ff784941c3f6241aea996818ba370ea441bd2/src/Azure.Functions.Cli/Common/GitIgnoreParser.cs#L8 the ignore parser is a C# reimplementation of the basically dead https://github.com/codemix/gitignore-parser which has several logic flaws and isn't compliant with the git ignore spec - see the issue tracker for that project for some of

[2022-08-29 08:49] wonboyn opened #3138 "How to change log level when testing locally."
I'd like to be able to modify the log level when testing a function locally. I've tried setting the log level in local.settings.json but this had no impact:
`"logging": {
        "logLevel": {
            "FunctionApp.FunctionName": "Debug"
        }
    }`

Setting the default logLevel in host.json to debug resulted in a truck load more output from the runtime but did not show the LogDebug() outp

[2022-08-29 10:38] nunon opened #3139 "Value cannot be null. (Parameter 'provider')"
I'm trying to follow the tutorial to create an Azure function, as described [here](https://stackoverflow.com/questions/73503579/quickstart-create-a-function-in-azure-with-python-using-visual-studio-code-st).

Using the Visual studio code based version, upon running __init.py__, nothing happens.

When trying to run the same, using the cli version, upon trying to run the function locally with func s

[2022-08-29 14:48] austingayler commented on #2901
Is this issue related to [this](https://github.com/Azure/azure-functions-python-worker/issues/915#issuecomment-1205832739)?

[2022-08-29 18:11] svangapally-cs commented on #3137
I'm facing the same error too. @Ceglowa Did you find the fix for this?

[2022-08-30 08:02] arcogabbo commented on #2901
I'm facing the same issue running a node azure function on a docker container, debug infos below:
`func start --javascript --verbose --debug`
[code]

[2022-08-30 15:50] EverybodyKurts commented on #3112
@alecglen That's exactly what I'm attempted and failed to do 😆 .

[2022-08-30 16:31] michaelpeng36 commented on #3139
@nunon Could you follow the steps detailed in #3115 and see if it resolves your issue? In particular, could you reinstall .NET 6 and reinstall Core Tools?

[2022-08-31 18:17] michaelpeng36 commented on #3138
@wonboyn Does following the suggestions outlined in https://github.com/anthonychu/functions-log-suppression work for you?

[2022-08-31 21:03] bmind7 commented on #1239
For JS `restart: true` added to **launch.json** saved my day
https://code.visualstudio.com/docs/nodejs/nodejs-debugging#_restarting-debug-sessions-automatically-when-source-is-edited

[2022-08-31 21:10] friediisch commented on #3042
Hi! I am having the same issue on an M1 MBA. Downloading and installing Python 3.8.10 sets the correct global interpreter but `func start` still uses Python 3.6.6 and throws a "Failed to initialize worker provider for: /usr/local/Cellar/azure-functions-core-tools@4/4.0.4544/workers/python". Any ideas?

[2022-08-31 22:47] cloudmelon opened #3141 "Hide .NET 5 for V3 - tooling feed"
Set .NET5 for v3 and v4 - set both false

NET 5.0 -isolated is showing up because its not hidden in the feed, both the v3 tag and the net5-isolated entry in that release have hidden = false. By design for VS, probably a bug in the feed.

<img width="313" alt="Screen Shot 2022-08-31 at 3 47 16 PM" src="https://user-images.githubusercontent.com/4621560/187798252-df98365b-65c7-4afd-b846-9c2586d0e4ba.

[2022-08-31 23:02] #3130 closed

[2022-09-01 07:42] PCOffline opened #3142 "Low severity vulnerability and outdated packages in npm package"
Whenever I install the `azure-functions-core-tools` npm package, I get the following warning:
`npm WARN deprecated debug@4.1.1: Debug versions >=3.2.0 <3.2.7 || >=4 <4.3.1 have a low-severity ReDos regression when used in a Node.js environment. It is recommended you upgrade to 3.2.7 or 4.3.1. (https://github.com/visionmedia/debug/issues/797)`

Even though I suppose this is not a real vulnerability

[2022-09-01 20:15] RamaNagubadi commented on #2681
Hi

any fix for this issue. Thanks

[2022-09-01 22:12] nunon commented on #3139
@michaelpeng36  actually, I reinstalled :NET but it didn't solve my problem.
After a lot of trial and error, I figured out that in order to activate the virtual environment, I can't follow the docs as is, but:
LocalFunctionProj\.venv\Scripts\activate.bat
And from here on all is good.

[2022-09-06 07:31] wonboyn commented on #3138
Hi @michaelpeng36 - Thanks for the info. I tried the suggestions mentioned in the link, however it did not enable me to see debug log entries. For clarity I am creating a logger via ILoggerFactory.CreateLogger<T>() in an HTTP trigger function & then subsequently issuing logger.LogDebug() & these are the entries I am not able to see locally.

[2022-09-06 19:21] michaelpeng36 commented on #3139
@nunon Would you be able to provide specific repro steps for this issue? What machine/architecture are you using, and what version of Core Tools and .NET are you using?

[2022-09-06 21:46] bwagner77 opened #3144 "Interop+Crypto+OpenSslCryptographicException when FIPS 140-2 Enabled"
When running a simple stateful Logic App (Standard) workflow with Azure Function Core Tools 4.0.4736 on Ubuntu Pro 20.04 with FIPS 140-2 enabled causes the following exception (trace below). The same workflow runs successfully when FIPS is disabled.

[code]

Might this error be related to MD5 not being FIPS compliant? Is there a way to run a workflow on Ubuntu with FIPS 140-2 enabled and without d

[2022-09-07 22:26] nunon commented on #3139
I don't know how to answer that.
I only know how to develop the models and that is already complex.
Now I'm also discovering that deploying the models into azure functions is way more complex.

[2022-09-08 17:46] apawast commented on #3139
@nunon can you help provide the steps you took that caused the first error?

[2022-09-08 17:52] kshyju commented on #2628
Fixed by #2711

[2022-09-08 17:52] #2628 closed

[2022-09-08 20:53] nunon commented on #3139
@apawast [these](https://docs.microsoft.com/en-us/azure/azure-functions/create-first-function-vs-code-python) are the steps I've followed.
I've managed to fix the issue by following the [cli version]([url]https://docs.microsoft.com/en-us/azure/azure-functions/create-first-function-vs-code-python(url)), although, as described in my previous post, I figured out that in order to activate the virtual

[2022-09-09 10:05] bcrobinson commented on #2929
I am also seeing when using the func cli on windows 10 & powershell 7.

I encountered this the the V3 of the tools, after upgrading to the V4 it still fails with the same error.

Looking at Process Explorer when runnig this command it seems be downloading data at my max download rate, but consistently only get's to about ~85mb before it fails with a similar message.

I suspect it may be due to not

[2022-09-09 11:17] bcrobinson commented on #2929
Looking in [Azure/azure-functions-host](https://github.com/Azure/azure-functions-host) the method downloading the extension bundle is creating a `HttpClient` without setting the `Timeout` property, so uses the default 100seconds.

[public async Task<string> GetExtensionBundlePath()](https://github.com/Azure/azure-functions-host/blob/c6763c0c581ffd803646528211fe6729d6f48671/src/WebJobs.Script/Exten

[2022-09-09 14:35] bcrobinson commented on #2929
Managed to work around this for now by poking around in the source code then manually downloading the latest extension bundle from:

`https://functionscdn.azureedge.net/public/ExtensionBundles/Microsoft.Azure.Functions.ExtensionBundle/3.15.0/Microsoft.Azure.Functions.ExtensionBundle.3.15.0_any-any.zip `

Extracting this file to:

`"${env:USERPROFILE}\.azure-functions-core-tools\Functions\Extension

[2022-09-09 22:32] beyerleinf commented on #3074
Just stumbled upon this same issue and opened a PR, at least for the Node.js version

[2022-09-12 15:02] contactkanika12 opened #3149 "Unable to find an Azure Storage connection string to use for this binding"
I was able to run my azure function locally but recently i have started getting this issue
Unable to find an Azure Storage connection string to use for this binding.

We are using Azure Storage emulator on local

this is my localsettings file
{

  "IsEncrypted": false,

  "Values": {

    "AzureWebJobsStorage": "UseDevelopmentStorage=true",

    "FUNCTIONS_EXTENSION_VERSION": "~3",

    "IsDevelop

[2022-09-12 18:10] ejizba opened #3150 "Support new Node.js Programming Model in core tools"
This wiki has background and instructions for trying out the new model: https://aka.ms/AzFuncNodeV4

I've authored a mini-spec for the VS Code team here, which has most of the details needed for Core Tools: https://github.com/microsoft/vscode-azurefunctions/issues/3285

Lastly, this should be pretty similar to Python support that Michael did in https://github.com/Azure/azure-functions-core-tools/p

[2022-09-13 08:59] jbpaux commented on #2684
Any update to provide ?

[2022-09-14 17:13] cgillum commented on #2512
@AnatoliB all the tests for the Durable CLI commands are currently disabled. I suggest we have someone investigate the stability issues and re-enable these tests.

[2022-09-15 10:57] kornakar opened #3151 "Error starting gRPC call. HttpRequestException: Requesting HTTP version 2.0 when using Fiddler"
When trying to debug an Azure Function (.NET 6.0, isolated, http trigger) while Fiddler Classic is running as a proxy, I get this exception.

.NET 3.1 function works fine (with or without Fiddler) and also .NET 6 function works fine **without** Fiddler running.

The exception is raised in Main method on the line await host.RunAsync();

Can I force it to use http 1 while debugging? Fiddler is a mus

[2022-09-15 15:23] muhdammar commented on #2876
I updated .net 6 SDK version 6.0.401, it working fine.

[2022-09-15 17:40] michaelpeng36 commented on #3149
@contactkanika12 The app settings you have on Azure should not affect the behavior of Core Tools if you are running your function app locally. Could you please attach the `function.json` files for each function in your app? Also could you attach the full error message you are seeing? To do so, you may need to set the environment variable `CLI_DEBUG=1`.

[2022-09-16 03:50] MacMcDell opened #3152 "invalid api version when trying to update framework version."
I am trying to run the following command:
[code]
I keep getting back the api-version is invalid error.. which from looking seems to be a red herring for something else...
[code]

I have tried so many different combinations to try and find the right path for this function. I upgraded it from V3 3.1 to V4 Isolated .net6 .
as far as I can tell, this is the only way to update the framework?
tried:
 az

[2022-09-19 23:02] #3139 closed

[2022-09-21 16:14] michaelpeng36 commented on #3152
@MacMcDell, This looks like an issue with the `az` CLI, which is distinct from Core Tools. You might have better luck filing an issue under https://github.com/Azure/azure-cli.

[2022-09-22 20:02] #3149 closed

[2022-09-23 13:57] ddobric commented on #1085
Totally agree.

[2022-09-23 17:01] Yashuaa commented on #3059
I guess there is no way to do this unless you change the log level above Information, but then you suppress all of your logs.

[2022-09-23 17:43] apawast commented on #2700
Closing this issue as all points should be addressed.

[2022-09-23 17:43] #2700 closed

[2022-09-24 18:26] ctstone commented on #2901
I encountered the same issue running a simple ASP.NET app on M1 macOS.

I was able to resolve it by adding an environment variable to disable automatic config reload. Not sure if it would apply to Azure Functions as well, but it looks like the same call stock.

[code]

[2022-09-27 13:00] AllyssaLBatten opened #3157 "Generated function.json missing direction out"
**Problem**

I am attempting to deploy an Azure Function via Rider. The function is triggered by an IoT Hub message, parses the data into json, and writes it to a Cosmos database.

When deploying this function, the generated `function.json` is missing the out direction on the generated Cosmos bindings. Everything else is correct.

Below is the C# code and bindings section of `function.json` with s

[2022-09-27 20:57] hungchun-lin opened #3158 "Deploy function with Python code from VS code - AzureWebJobsStorage error"
Hi,
I created a function from local, and about to deploy, I used the deploy button from WORKPLACE, and got error:
After python packages got installed:
4:53:51 PM liborwebapi: Preparing output...
4:53:51 PM liborwebapi: Copying files to destination directory '/home/site/wwwroot'...
4:53:51 PM liborwebapi: Done in 0 sec(s).
4:53:51 PM liborwebapi: Removing existing manifest file
4:53:51 PM liborweba

[2022-09-27 23:56] kshyju commented on #3157
Just to confirm, Is the write to the cosmos db failing due to the missing "direction" or any other issues you are seeing with the function app?

[2022-09-28 05:41] PureKrome commented on #2413
The reason the user-secrets _are not_ getting loaded is because the _default_ implementation doesn't support them. To enable user-secrets, there's a few steps required.

An Story in 3 Acts ...

### Act 1: The Setup

Here's an example of what the current code looks like, using the default templates, etc.. with some changes .. but -no user-secret- changes. aka. "the before" code :)

![image](https:/

[2022-09-28 09:18] phillipharding opened #3159 "Question: Side by side installation of v3/v4 core tools"
Hi, in the documentation it notes that v2 and v3 core tools can be installed side by side for Mac

_```brew link --overwrite azure-functions-core-tools@3```_

Is this also the case for v4, can v3 and v4 also be installed side by side?

[2022-09-28 10:00] omonimus1 opened #3160 "Value cannot be null. (Parameter 'provider') -> Impossible debug function locally"
### Description
Is impossible to debug an HTTP azure function locally. The application response error is: Value cannot be null. (Parameter 'provider')

### Runtime  and development environment
- Python 3.9
- Mac OS
- Core Tools Version:   4.0.4785 Commit hash: N/A  (64-bit)
- Function Runtime Version: 4.10.4.19213

### How to reproduce:
1. Create an HTTP azure function with stack python 3.9
2. Run

[2022-09-28 10:02] omonimus1 commented on #3160
Azure core package installed as indicated in the Azure documentation
<img width="434" alt="image" src="https://user-images.githubusercontent.com/23085146/192751158-580cfe9f-eb8b-49dc-b99a-43823f345e4f.png">

[2022-09-28 13:03] sintetico82 commented on #2413
For me, this is not working.

If I do `Environment.GetEnvironmentVariables()` , I can't find any values from secrets.json.

[2022-09-28 13:23] PureKrome commented on #2413
user secrets (aka. `secrets.json`) are not the same as environmental variables. This is why you don't see the content of the user secrets in `Environment.GetEnvironmentVariables()`. These are two _different/independent_ stores/providers.

[2022-09-28 18:53] mirekkukla commented on #1409
I believe the issue stems from the fact `AppSettingsFile` does not have a public parameterless constructor for use during Json deserialization. The exception occurs during this call in `Azure.Functions.Cli.Common.AppSettingsFile`:
[code]

Since the only available public constructor `AppSettingsFile` has is the one show below, the deserializer attempts the instantiate the `AppSettingsFile` object u

[2022-10-03 12:39] AllyssaLBatten commented on #3157
Correct, the write fails because it is missing the direction. On the Azure portal, when looking at the Integration, there is a warning that says:

`The following bindings are missing the required direction property and may have been placed incorrectly: dataDocument. Please update the bindings in your functions.json file.`

Otherwise, there are no issues.

[2022-10-04 01:07] zsponaugle commented on #3160
I was having the same error while trying to do the Python QuickStart (https://learn.microsoft.com/en-us/azure/azure-functions/create-first-function-vs-code-python). Same python, core tools, and function runtime versions as you, but unfortunately I am running on Windows 10 and not MAC, so the following file paths will probably be different for you.

With the .venv activated, I ran "func start --ver

[2022-10-04 11:33] Manbearpiet commented on #2901
Similar issues when launching the Azure Functions template: Azure Functions & PowerShell on M1 MacBook Pro.
[code]

[code]

Devcontainer.json
[code]

[2022-10-04 11:50] Rahkola commented on #1409
I can verify that this issue is still present, and I just run into it with VS2022 17.3.5 while running Azure Function with runtime v3. They symptoms were as described by OP, and I got the same call stack pointing to the issue in AppSettingsFile class. I couldn't see the process memory rising in diagnostic tools and eventually all output to the console stopped coming through and break points were n

[2022-10-04 19:36] ahenaor commented on #3158
I have exactly the same problem.

[2022-10-05 17:50] AnotherSamWilson opened #3163 "Could not load file or assembly 'System.Net.Http.Formatting, Version=5.2.8.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35'. The located assembly's manifest definition does not match the assembly reference. (0x80131040)"
Recently updated the func-cli and I am now getting this error when trying to publish a function using `> func azure functionapp publish admitdeposit --no-build.`

Output of `> func`:
[code]

[2022-10-05 21:10] AnotherSamWilson commented on #3163
Manually uninstalling func-cli and azure-cli, and then re-installing fixed this issue.

[2022-10-05 21:10] #3163 closed

[2022-10-06 07:22] beyerleinf commented on #3074
Has anyone had time to look a this yet? I need this fix...

[2022-10-06 09:44] RichardBurns1982 opened #3165 "Core tools version and could not load assembly error"
We are having a problem with the version of the Azure Function Core Tools.  The team are all running Windows 11 with the latest version of Visual Studio (17.3.3).  Some of the team are seeing the following error:

![image](https://user-images.githubusercontent.com/67505780/194281331-3613e220-7e72-45bc-9428-c296a5b35b56.png)

I am not seeing this error, have upgraded my core tools locally to versio

[2022-10-07 03:58] saramoji opened #3166 "worker-bundle.js fromTypedData trying to convert a string to JSON"
When trying to run azure functions locally I see an exception thrown from the node module (v 12.22.0) in worker-bundle.js, fromTypedData function, when converting a string to json. Screenshot below shows the stack trace. As a result the functions fail repeatedly.

![image](https://user-images.githubusercontent.com/109306710/194464579-fdc5e75f-d79f-4eda-9a15-766c3ed924a9.png)

Azure Functions Core

[2022-10-07 18:24] ejizba commented on #3166
I don't think the screenshot is the same as the error in your strack trace. The full code for your screenshot looks like this:
[code]
The error that is thrown is immediately caught and ignored. You might see it when debugging, but you'd never see it when actually running the code.

It looks like perhaps your error is originating from here instead?
at httpRequest (C:\Users\SaraMoji\Repos\messaging\

[2022-10-08 10:28] vellad001 commented on #3158
Same problem here. Issue seems to be related to linux env. Could not replicate the issue on a Windows App Service Plan running the same configuration.

[2022-10-08 17:39] ahenaor commented on #3158
hi @hungchun-lin
I solve my problem by setting the CONNECTOR STR of the storage in my variables file, specifically under the "AzureWebJobsStorage" variable --  Application settings.

hope this helps you

[2022-10-10 07:59] mschellig opened #3167 "LogicApp - ServiceBus trigger skipped"
Hey there,
I got an issue running a logic app with the service bus trigger 'When_a_message_is_received_in_a_queue_(auto-complete)'.
I used an empty workflow with only the trigger. By starting the func.exe I don't get any errors, just a debug message gives be a hint, that this workflow does not have a mapped function trigger and will be skipped.

![image](https://user-images.githubusercontent.com/1

[2022-10-10 12:50] hungchun-lin commented on #3158
Hi @ahenanor,
Thanks for your reply! I have tried this before, I can finally deploy my function, but the function would not work in the cloud.
After struggling for a few days, I deleted all sources, app in the cloud, and restarted everything, then I can successfully just click the deploy button to deploy my function.

[2022-10-11 19:53] slyons commented on #2901
Sadly it looks like this is going to continue to be a problem until `linux/arm64/v8` is an available platform for `mcr.microsoft.com/azure-functions/...` containers

[2022-10-12 13:35] jonascannehagcab opened #3170 "Wrong version of Microsoft.Extensions.Configuration used by func.exe"
Hi, I have a problem here which I'm unable to solve.
I'm having an azure function where I use the IConfiguration.Bind method (located in Microsoft.Extensions.Configuration package).
There was an issue with this package which was resolved in this pull request: https://github.com/dotnet/runtime/pull/59733
Although, when running my function I seem to be getting that exact version having the issue. Al

[2022-10-14 16:00] phillipharding commented on #3159
Hi, is there any update on this question?

[2022-10-14 17:38] garygcd commented on #2901
+1

[2022-10-14 23:02] #3166 closed

[2022-10-15 03:43] iAmBipinPaul commented on #3112
Hi @michaelpeng36 any update on this?

[2022-10-16 17:09] parkeradam commented on #2549
@aaronpowell , any idea if there is any further work on this? Or @apawast?

[2022-10-16 22:27] aaronpowell opened #3171 "Selecting dotnet isolated and F# created a C# project"
When using the `func init` command to create a new dotnet isolated project and selecting F# as the language, a C# template is used for the output files:

[code]

Note that I selected the `f#-isolated` option when choosing the language but the files on disk are from the C# template. There is an F# template (https://github.com/Azure/azure-functions-templates/tree/dev/Functions.Templates/ProjectTempl

[2022-10-16 22:28] aaronpowell commented on #2549
Looks like there's a bug in the template selection logic, I've raised #3171 for it.

[2022-10-18 06:34] thec0dewriter commented on #3042
Hello, i have a similar issue however just as an addition:
 In case i'm running the function throgh cmd with core tools the environment seems to be picked up properly

`
`

[2022-10-19 23:31] paulyuk opened #3172 "Func new --template prompts for template numbers which are not listed"
core tools version: 4.0.4829 (x64 on rosetta to use python)
OS: MacOs Montery 12.6 (Mac M1 Pro)

If I use `func new` with no arguments there is a nice TUI that has me select the functions templates, and those are numbered.

I tried then the following using the `func templates list` + `func new --template 'Timer trigger'`.  I was a bit confused because it prompts for a template number, which func t

[2022-10-19 23:35] paulyuk opened #3173 "func templates list should not show me all templates once my language is selected"
core tools version: 4.0.4829 (x64 on rosetta to use python)
OS: MacOs Montery 12.6 (Mac M1 Pro)

When I did a `func templates list` I was surprised it showed me a lot of templates that could not apply to me (C#, Custom, JS, PowerShell, etc), since I already chose Python as a part of `func init`.  This isn't a great experience because my relevant python ones went off the screen.  It also got me thi

[2022-10-19 23:41] paulyuk opened #3174 "Default names of function apps created by CLI are not Linux-friendly"
core tools version: 4.0.4829 (x64 on rosetta to use python)
OS: MacOs Montery 12.6 (Mac M1 Pro)

IMHO the current names of the Function apps created by templates/core tools with `func new` are not Linux friendly.  What I mean is we create function folders like "TimerTrigger" or "CosmosTrigger" that are PascalCase.  This means I have to watch out for case sensitivity as I use the keyboard and tabbl

[2022-10-19 23:55] paulyuk opened #3175 "Default functionapp python file `__init__.py` does not feel pythonic"
core tools version: 4.0.4829 (x64 on rosetta to use python)
OS: MacOs Montery 12.6 (Mac M1 Pro)

This might be broader than python, but I really notice it with Python in the user experience.

Typically I'm used to the main code file in Python or any language either being something domain specific (e.g. `calculate_rates.py`)., or something more generic and pleasing like `app.py` or `index.py` or `f

[2022-10-20 00:32] paulyuk opened #3176 "Feature: Proposal: make azurite the default storage for local functions"
Today most function templates require AzureWebJobsStorage to be set to a viable storage account, even if storage is not the trigger or binding you care about.

A lot of times (any trigger type other than HTTP) this results in the trial of an experience resulting in a runtime error.  This is not a great experience and I'm willing to bet there is a lot of usage drop off based on this.
[code]

I prop

[2022-10-20 01:05] paulyuk opened #3177 "Template argument does not work in dotnet(isolated)"
core tools version: 4.0.4829 (x64 on rosetta to use python)
OS: MacOs Montery 12.6 (Mac M1 Pro)

Repro
- from the cli initialize using dotnet-isolated
- create a new function app using `func new --template 'Timer trigger'

[code]

Expected that last line does not ask me for number (which I don't have anyway!) and it should have honored the --template argument i passed in above.

[2022-10-20 01:14] paulyuk commented on #3158
Hi @hungchun-lin - when you were working locally, did you have "AzureWebJobsStorage": "UseDevelopmentStorage=true" in the `local.settings.json` file only, but not in `hosts.json`?   I believe the expected model for this is your local settings go in local.settings.json and that's where you use the emulator.  In the cloud you'd use what's in hosts.json, and likely would point to a real Azure Storage

[2022-10-20 01:25] cloudmelon commented on #3177
https://techcommunity.microsoft.com/t5/apps-on-azure-blog/announcing-the-net-7-support-for-azure-functions-in-an-isolated/ba-p/3574316

func init --worker-runtime dotnet-isolated --target-framework net7.0

[2022-10-20 01:32] ejizba commented on #3176
You have to be really careful with this because http-only functions are by far the most common and they don't need storage (as you said). Not only are they the most common, but those users have the least attachment & familiarity with Azure, so you will get a very high drop-off if the emulator causes _any_ problems (which it will).

I don't know about your experiments in VS, but back when I was on

[2022-10-20 04:44] paulyuk commented on #3177
Thank you @cloudmelon.  That clarifies how to init with dotnet isolated.

However the issue still remains `func new --template ..` does not work after this when you use the --template arg.

[2022-10-20 04:50] paulyuk commented on #3176
Hi @ejizba thanks for the feedback and lessons here.

I just pulled the data again.  If you look at subscriptions which is an ok proxy for azure users, it's 29% Timer (breaks without storage), 28% HTTP (ok), and ~40% remaining is all the event triggers and bindings including durable.  So HTTP in the big picture is one of the top modes, but actually not the majority anymore.

I'd really like Functi

[2022-10-21 07:32] JimiSweden commented on #2959
to clarify: download "Azure Storage Explorer"
https://azure.microsoft.com/en-us/products/storage/storage-explorer/#overview

<img width="793" alt="image" src="https://user-images.githubusercontent.com/22959235/197138860-e76f240a-064f-4e21-b04b-70b0641c4a71.png">

[2022-10-21 09:46] niklaswallerstedt opened #3179 "Unable to find or download extension bundle"
I was getting this error when running functions locally and get the same thing with the default blob trigger template

[code]

[code]

This results in
[code]

[2022-10-21 09:56] niklaswallerstedt commented on #3179
Ref: https://github.com/Azure/azure-functions-extension-bundles/issues/213

[2022-10-21 10:01] pellebjerkestrand commented on #3179
At least you got a hint at where the version information lives!

https://functionscdn.azureedge.net/public/ExtensionBundles/Microsoft.Azure.Functions.ExtensionBundle/index.json doesn't exist.

No wonder nothing works.

![image](https://user-images.githubusercontent.com/2156573/197169961-d5e3d282-7fb4-4683-9c2e-a1b9cdd22c9d.png)

[2022-10-21 10:17] niklaswallerstedt commented on #3179
Ref: https://github.com/Azure/azure-functions-extension-bundles/issues/212

[2022-10-21 10:20] jnsvd commented on #3179
Same issue here:

[code]

[2022-10-21 10:27] niklaswallerstedt commented on #3179
Not a great solution but as a temporary workaround I'm installing the extensions I need manually.

Example for blob trigger
[code]

[2022-10-21 10:36] spg-iwilson commented on #3179
Azure Functions Core Tools
Core Tools Version:       4.0.4829 Commit hash: N/A  (64-bit)
Function Runtime Version: 4.11.2.19273

[2022-10-21T10:26:46.038Z] Error fetching version information for extension bundle Microsoft.Azure.Functions.ExtensionBundle
[2022-10-21T10:26:46.052Z] Unable to find or download extension bundle
[2022-10-21T10:26:46.906Z] The 'XXX' function is in error: The binding type

[2022-10-21 10:50] cruddasj commented on #3179
Have just lost hours to this issue (and come to the same conclusion about index.json no longer existing)! Temporary workaround noted by @niklaswallerstedt has got us back up and running in the interim.

[2022-10-21 11:07] davidmssantander opened #3180 "function is in error: The binding type(s) 'eventHubTrigger'"
Buenas:

Desde esta mañana nos están dando problema los siguientes triggers:
[2022-10-21T10:56:35.688Z] The 'test-cloud-event-activity' function is in error: The binding type(s) 'activityTrigger' were not found in the configured extension bundle. Please ensure the type is correct and the correct version of extension bundle is configured.
[2022-10-21T10:56:35.693Z] The 'test-cloud-event-durable' fu

[2022-10-21 11:12] C-Undritz commented on #3179
Is there any impact with installing the temporary solution?  I mean, so when this is fixed, will there be anything I would need to do to reverse the temp solution?

[2022-10-21 11:20] niklaswallerstedt commented on #3179
@C-Undritz,  I believe you only need to delete the `bin` and `obj` directories and `extensions.csproj` and revert `host.json`

[2022-10-21 11:29] C-Undritz commented on #3179
Thanks @niklaswallerstedt.  I am using VSC and so I do not have the `bin` and `obj` directories, or a `csproj` file, so I guess I would just revert host.json?  I am still a green when it some to Azure functions.

[2022-10-21 11:40] pellebjerkestrand commented on #3179
The workaround (manual installation) sort of works. I'm able to start my app with it, but I'm getting other errors while it's running.

[2022-10-21 11:59] C-Undritz commented on #3179
Working for me now.

[2022-10-21 12:00] pellebjerkestrand commented on #3179
The missing file seems to be back, ref. https://github.com/Azure/azure-functions-extension-bundles/issues/213#issuecomment-1286859898

[2022-10-21 12:16] #3179 closed

[2022-10-21 20:06] paulyuk commented on #3176
One other idea -- maybe silly.  Is the azurewebjobstorage state management simple enough in the local case that we could just use the local filesystem?  e.g. IFF local.host.json was used, possibly with a local flag.

[2022-10-21 20:19] paulyuk opened #3181 "Python -m v2 (new programming model) fails to do `func new` template operations"
I'm trying the new decorator based programming model.  I was very surprised to see `func new` throws errors.  To me, the new model simplifies the code in the template, but does not negate the need for templates or a func new experience.  I believe this is an experience regression that breaks the overall user model.  It also makes iterative development harder, where I want to easily add different k

[2022-10-21 20:25] paulyuk opened #3182 "Python -m v2 programming model will not start by default on HTTP trigger without AzureWebJobsStorage"
Core Tools Version:       4.0.4829 Commit hash: N/A  (64-bit) << using Rosetta and x64 core tools (not a mac M1 bug)
Function Runtime Version: 4.11.2.19273
OS: MacOS Monterey 12.6, Mac M1 Pro

In the new programming model, I feel it's a regression that HTTP triggers require AzureWebJobStorage.  As a result the default `func init` `func start` flow fails, and you need to fulfill the storage account

[2022-10-21 21:26] HenryLGatesFoundation commented on #3123
Just learned that our class is running in single-threaded mode and we'll be decorating it with the async keyword soon.  That should help decrease its unresponsiveness.

I submit that it would be a more appropriate design for the **platform** to be able to terminate/evict an aberrant-running constituent process, rather than for the aberrant process to be responsible for managing its own termination

[2022-10-21 21:26] #3123 closed

[2022-10-24 08:01] ali-zfr commented on #2955
Issue still exists
Core Tools Version:       4.0.4829 Commit hash: N/A  (64-bit)
Function Runtime Version: 4.11.2.19273

![image](https://user-images.githubusercontent.com/100776139/197476831-577b852f-16f7-452a-87ff-90c04d3ad000.png)

[2022-10-24 08:59] davidmssantander commented on #3180
It seems that it was down because the cdn was not accessible:
https://functionscdn.azureedge.net/public/ExtensionBundles/Microsoft.Azure.Functions.ExtensionBundle/index.json

What we do not understand is that a service that was already working in a local environment stops working because there is a dependency with an external cdn.

We understand that for the initial installation it should block bu

[2022-10-24 19:07] ejizba commented on #3176
I would recommend looking directly at tooling telemetry instead of all-up Azure telemetry. My comment was coming from my old perspective on the VS Code team, but unfortunately I don't have access to VS Code telemetry anymore. I also never dug into core tools telemetry because my time on that project was brief and secondary to my main focus of Node.js.

Regardless, I agree improvements can be made

[2022-10-25 00:54] Francisco-Gamino opened #3183 "Update Microsoft.ApplicationInsights to version 2.20.1"
Currently, the Core Tools build for integration testing is failing because the Functions Host references the `Microsoft.ApplicationInsights version 2.20.1` while the Core Tools references `Microsoft.ApplicationInsights to version 2.20.0`. As a result, the Core Tools build fails the following error:
[code]
To fix this and unblock the integration test pass, update `Microsoft.ApplicationInsights` to

[2022-10-25 01:01] Francisco-Gamino commented on #3183
/cc @michaelpeng36

[2022-10-25 09:17] ijagberg opened #3187 "Can't see logs from `ILogger<T>.LogDebug` when running Functions locally"
I use a dependency injected `ILogger<T>`, as such:

[code]

Running my Functions locally (`func start --csharp`), I am unable to see any logs with log levels below `Information`. In the example above, I can see "information", but not "debug".

I have tried many different permutations of my `host.json` file, including:

[code]
but it has no effect. The only way I've been able to see these logs is b

[2022-10-26 07:55] k3nnet opened #3188 "Pipelines: npm WARN deprecated mkdirp@0.5.4"
I am installing azure-functions-core-tools during pipeline on gitlab but i am getting this warning
`npm WARN deprecated mkdirp@0.5.4: Legacy versions of mkdirp are no longer supported. Please update to mkdirp 1.x. (Note that the API surface has changed to use Promises in 1.x.)
npm WARN deprecated debug@4.1.1: Debug versions >=3.2.0 <3.2.7 || >=4 <4.3.1 have a low-severity ReDos regression when use

[2022-10-26 13:07] agoncal opened #3189 "Cannot install azure-functions-core-tools on macOS 13 with Homebrew"
Hi

I'm running on macOS 13.0 (Ventura) and when I try to install azure-functions-core-tools I have the following error:

[code]

It looks like the Azure Functions tools are not ready for Ventura, correct?

Here are more details about my environment:

[code]

[2022-10-27 15:29] csalgo70 commented on #3189
I am having the same issue on Ventura.

[2022-10-27 23:06] #3183 closed

[2022-10-29 00:31] ejizba commented on #3182
Likely a duplicate of https://github.com/Azure/azure-functions-host/issues/8870

[2022-10-30 20:35] vigouredelaruse opened #3192 "func kubernetes deploy fails if project is part of a visual studio solution"
i'm fairly certain that kubernetes func deploy fails given
* a docker enabled functions project in a visual studio (2022) solution
* docker enabled via the visual studio menu option

ex output as per
[code]

note the typical [solurtion](https://dev.azure.com/electricrucible/_git/the%20horseless%20newspaper?path=/src/core/TheHorselessNewspaper/HorselessNewspaper.Core.Workflow.AzureFunctions.Tenant.

[2022-10-30 20:44] vigouredelaruse opened #3193 "does func kubernetes deploy support deployment of an existing image?"
my understanding of the instructions [here](https://learn.microsoft.com/en-us/azure/azure-functions/functions-kubernetes-keda) is that func kubernetes deploy assumes
* an interactive (unix) shell session logged into a kubernetes host
* the presence of the (git repo) containing the target dockerfile on the kubernetes host

this scenario does not support the situation of
* a prebuilt image located i

[2022-11-01 16:17] zbuchli commented on #2502
Any movement on this PR?

[2022-11-01 16:48] petertuton commented on #3189
Workaround here: https://github.com/orgs/Homebrew/discussions/3822#discussioncomment-3965318

TLDR; install Xcode 14.1 RC2, or just Command Line Tools for Xcode 14.2 if you don't need full-blown Xcode.

[2022-11-02 15:41] Jandev commented on #2413
The solution of PureKrome appears to be working great.

However, it looks like the configuration is too late for the Bindings/Triggers. I can see the secrets are being added to the `IConfiguration`, but these values aren't used in the `Connection` parameter of some triggers.

When trying to set the `Configuration` of the `IFunctionsWorkerapplicationBuilder` an error occurs. Any suggestions for the

[2022-11-03 07:28] eladiw commented on #3089
Hi @mcollier , @apawast , any updates on this? I also face this issue and at the moment can't debug. Is there any known workaround? (Maybe downgrading an extension/core-tools)?

[2022-11-07 20:30] GBBBAS commented on #2876
Installing dotnet 5 also worked for me(to run a dotnet 6 isolated v4 azure function)

[2022-11-07 23:25] majew7 commented on #2876
**Context:** I installed .NET 7.0 RC2 (`.NET 7.0.100-rc.2.22477.23`) recently.

[johnkors wrote (2021)](https://codesti.com/issue/dotnet/installer/11951#702941):

Due to timing of .NET 7.0 just coming out, I didn't expect that reinstalling .NET 5.0 would help.  But this worked:

1. Install .NET 7.0 RC2
2. Installed .NET 5.0

[.NET 5.0 SDK (v5.0.408) - macOS x64 Installer!](https://dotnet.microsoft

[2022-11-08 05:35] grava opened #3197 "Doc missing Ubuntu 22.04 installation instructions"
Just as a note, it works exactly as for any other ubuntu version. Just missing the 22.04 versions specs.

[2022-11-08 19:20] gorgeousgie opened #3198 "How to upgrade/update or uninstall Azure Functions Core Tool in linux?"
I want to upgrade my Azure Functions Core Tools in linux. However, it is so hard to find the straight forward documentation for that.

I followed this [Installation Guide](https://learn.microsoft.com/en-us/azure/azure-functions/functions-run-local?tabs=v4%2Clinux%2Ccsharp%2Cportal%2Cbash) in Linux.

What I am trying to do now is to uninstall it then just install the new one. But I only found tutor

[2022-11-08 19:57] gorgeousgie commented on #3198
Btw, I run `sudo npm uninstall -g func` and this is the output `up to date, audited 1 package in 426ms`. After, that I run `func --version` and it is still in there.

Also, I just noticed that I have successfully installed this using npm.
`sudo npm ls -g azure-functions-core-tools`
`/usr/local/lib
└── azure-functions-core-tools@4.0.4865`

But the version when I run `func --version` is different:
`

[2022-11-08 20:31] gorgeousgie opened #3199 "How can I change localhost IP of azure function code when running it locally?"
I am new to azure function.

I want to run my azure function code locally (in an azure virtual machine).

I'm running my code using this line in a linux VM terminal: . env/bin/activate && func host start

It was successful with this output.

[code]

However, I wonder if it is possible to change **_localhost_**:7071 to the IP of my virtual machine so that it will be available online. Is it? If yes,

[2022-11-11 15:48] prootq commented on #2509
Dear @TsuyoshiUshio, are there any updates for this issue so far?

[2022-11-14 15:37] William-Froelich commented on #2876
I wiped out my system and installed dotnet 7 and that seems to have resolved the build issue for me.

[2022-11-15 16:30] safwanmasarik commented on #1239
Eureka. I solved it in an elegant way. Here code ref: https://github.com/safwanmasarik/Azure-Function-Typescript-Hot-Reload .
Video evidence:
https://user-images.githubusercontent.com/35250295/201973704-b11eeb4a-8d41-4e0b-9f9b-385fdcf10846.mp4

[2022-11-16 07:41] AbdulJabbaar commented on #2366
Any update on this?

[2022-11-18 09:48] poly-mole commented on #3160
It is a long-standing issue.
I have to this quite often.

The running theory is that it happens when there is a new version available and we either:

- start multiple services at once and they all try to download and install same extension bundle.

- service seems to start for a long time(verbose disabled) (downloading and installing bundle in the background) and we unawarely kill the process in a

[2022-11-20 12:02] tiru007 opened #3205 "Error while executing Azure functions locally aswell as in Azure"
Error while executing Azure functions locally aswell as in Azure

[2022-11-20T11:48:01.245Z] Executed 'Functions.HttpOcrFunc' (Failed, Id=f4ed09ae-8c5a-41ff-a705-a1e6ed8b1e93, Duration=687ms)
[2022-11-20T11:48:01.245Z] System.Private.CoreLib: Exception while executing function: Functions.HttpOcrFunc. System.Private.CoreLib: Result: Failure
[2022-11-20T11:48:01.245Z] Exception: KeyError: 'NEE-PR'
[

[2022-11-20 19:50] drew-fc commented on #3187
bump, has anyone solved this?
I am not seeing my debug level logs locally OR when hosted

[2022-11-21 13:39] dfberry opened #3206 "Q: Nested JSON in local.settings.json's values properties?"
When I try to use a nested property in the values, section, I incorrectly get an error about `AzureWebJobsStorage` needing a value for the function to run - but it has a value.

I can used nested properties from Key Vault but perhaps Key Vault ultimately stores them as a single string? and maybe I need to do the same in the Values property of local.settings.json for local development?

[2022-11-21 17:15] zakpaw commented on #2901
Same issue

[2022-11-22 12:24] jchomarat commented on #3112
Yeap, I had to reverse to an emulated container in x64 to have the func tools ... and it is very slow now :(

[2022-11-22 18:06] michaelpeng36 commented on #3112
Hey folks, sorry for missing these pings. I am no longer the primary engineer for Core Tools, so I'm not sure when this will get fixed, but I have reached out to the new owning team to get this prioritized. @khkh-ms , would you mind taking a look?

[2022-11-22 22:26] aledeniz opened #3207 "Antivirus indicates possible malware when trying to upgrade to 4.0.4895"
We manage the lifecycle of the Azure Functions Core Tools via the Chocolatey package at https://community.chocolatey.org/packages/azure-functions-core-tools.
Recently we have noticed that the upgrades to 4.0.4895 are failing.
We have opted in to use the local virus scan engine (the Microsoft one) with Chocolatey.
The Chocolatey tool reports that the virus scan engine indicates possible malware.
Be

[2022-11-22 22:43] aledeniz commented on #3207
The time out bit gave me a hunch: I went to check the size of the package, and I found out it is almost 3 GB.
I have therefore increased the timeout for the local virus scan to 600 seconds (10 minutes), and the package has been finally upgraded.
This is the Chocolatey command I have issued on the affected devices:

``
choco config set genericVirusScannerTimeoutInSeconds 600
``

I guess older versi

[2022-11-22 22:43] #3207 closed

[2022-11-25 21:19] julealgon commented on #2070
It's perplexing to me that this was designed the way it was. The `local.settings.json` file contains information that is crucial for debugging, particularly these:
[code]

Without this file in place, if you try to debug the Functions project locally, it just fails miserably. Yet, even though the file is basically required for running the project, it is by design excluded from source control with t

[2022-11-27 05:13] voyager163 opened #3208 "Unable to perform func new XXXX & func start"
Hi,

Using the latest Azure Functions Core Tools (4.0.4895) and Azure Function runtime (4.13.0.19486), I am not able to perform func new XXX and func start.

In addition, I am not able to run the func templates list too. Looks like the whole core function tools have issues.

However, I can perform func init. In order to by pass this issue, I have to use the GUI method to create the Azure Functions

[2022-11-27 13:08] M3talM0nk3y commented on #2876
Had same issue, reinstalling SDK v5 solved it.

[2022-11-28 21:19] shreyabatra4 opened #3209 "New Programming Model feature requests( Python ) for Core Tools"
Core Tools support for Python programming model (GA) and Node programming model (Preview)

https://microsoft-my.sharepoint.com/:p:/p/shbatr/EagStJUMN81El-neqxw156gBYi91FQDiTWBuuuQLqUwFWw?e=IMJyDd

High level checklist:

- [ ] - Support for `func new` (P0)
- [ ] - Defaulting updates (P0)
- [ ] - Error handling additions (P0)
- [ ] - Support for `func append` (P1)
- [ ] - Preview code support (P2)

[2022-11-30 01:07] ngamanning commented on #2640
I ran into this issue (on Windows). In the project directory, remove bin and obj folder, then rebuild. It solved the issue for me.