[2020-03-30 14:05] daxay commented on #1700
any updates on this issue,
because i am facing that too.

[2020-03-30 17:51] ahmelsayed commented on #1758
the `https://packages.microsoft.com/debian/10/prod` sources should have the latest core-tools. I'll add it to the README today

[code]

[2020-03-30 21:40] soninaren commented on #1791
@daxay, Unfortunately you would see the exact same error for `func start` for a lot of different reasons. I would advise you to create a new issue, include the full output text from the core tools, Function runtime and core version information and any other relevant information you could provide would help as well.

[2020-03-30 22:08] bmc-msft commented on #1679
Using Microsoft Terminal's color scheme "Campbell", this is unreadable.

These are the colors as defined in Terminal.
[code]

[2020-03-31 07:27] anthonychu opened #1913 "Add gestures to manage extension bundles"
Allow setting the extension bundle version. Something like:
[code]

If extensions.csproj is currently used, warn and ask to confirm, then remove `bin/`, `obj/`, `extensions.csproj` and configure host.json with bundles.

When `func extensions install` is run with bundles configured, warn and ask to confirm. If accepted, remove bundles and continue with extensions install.

[2020-03-31 18:23] anthonychu commented on #1911
@heyyudao What issue are you having with the proxy that you are trying to get around?

[2020-03-31 18:28] anthonychu commented on #1910
@pundergit Can you try activating the virtual env yourself and starting the function app?

[code]

And if that doesn't work, can you see if it works for a function app in another language? Thanks.

[2020-03-31 20:29] anthonychu commented on #1907
Hi @springcomp you can get around this by pulling in the Microsoft.AspNetCore.Mvc.NewtonsoftJson NuGet package:
https://github.com/anthonychu/test-jsonresult-20200326/commit/99e57fee2146b2118b97c5544b3d37f7cdfaff87

I think @fabiocav can provide more details or guesses on what might he happening here.

[2020-03-31 23:00] #1905 closed

[2020-04-01 00:04] anthonychu commented on #1909
Can you add the following ASP.NET Core reference to your csproj?

[code]

Going forward we'll take a look at including this reference by default.

// @fabiocav

[2020-04-01 00:05] anthonychu commented on #1907
You can also add a reference to ASP.NET Core in your csproj:

[code]

We'll look into including this by default in the future.

[2020-04-01 01:14] ScottWolter commented on #1909
Thanks, Anthony. That solution works.

Additional information can be found [here](https://docs.microsoft.com/en-us/aspnet/core/fundamentals/target-aspnetcore?view=aspnetcore-3.1&tabs=visual-studio#use-the-aspnet-core-shared-framework)

[2020-04-01 01:14] #1909 closed

[2020-04-01 07:06] springcomp commented on #1907
@anthonychu Yes, it works!
This solves my problem.
Thank you very much.

[2020-04-01 07:06] #1907 closed

[2020-04-01 07:08] pundergit commented on #1910
@anthonychu thanks for the support
Activating the virtual env myself didn't work

I tried with a JavaScript function on my desktop and it worked ok. Then I tried again with a Python function on my desktop and it did work!

The problem seems to be related with the location of my project folder. I'm on a VMWare virtual machine with Windows 10 on both host and virtual machine. The project folder is a

[2020-04-01 07:16] anthonychu commented on #1910
@pundergit Do you get the same problem with a JS app on the mapped drive? Trying to understand if this is problem is limited to Python.

[2020-04-01 08:26] pundergit commented on #1910
@anthonychu Yes, I get the same problem with a JS app on the mapped drive.

[2020-04-01 08:41] heyyudao commented on #1911
Hi Anthony, thank you for reaching out to me

[Image]
When I try to download azure function core tools on to my company pc, It returns above error.

Can I know if it is because my company is actively blocking the server or there is some other issue. Thank you for your help

Regards
Yudao

Get Outlook for Android<https://aka.ms/ghei36>
________________________________
From: Anthony Chu <notificatio

[2020-04-01 17:51] mhoeger commented on #1888
Hi @vimanmg - sorry for the delay. I'm investigating and I believe that the underlying component that is failing (gRPC) will honor the following environment variables based off of what i've seen from posts on issues like [this](https://github.com/grpc/grpc/issues/9989)...

Can you try adding the following to local.settings.json?
[code]

[2020-04-01 18:31] soninaren opened #1916 "Remove binary signing dependency on funkins"

[2020-04-01 18:36] soninaren opened #1917 "Sign core tools binaries in the release pipeline"

[2020-04-01 19:53] ankitkumarr opened #1918 "Add publish scripts in core tools"

[2020-04-01 20:05] pragnagopa commented on #1866
Closing as the runtime versions listed here will not be released.

[2020-04-01 20:05] #1866 closed

[2020-04-01 20:26] #857 closed

[2020-04-01 21:42] #1804 closed

[2020-04-01 21:42] #1902 closed

[2020-04-01 21:44] ankitkumarr commented on #1804
@seed-of-apricot, thanks for the update. I will update my comment. With the interest of time in mind, we updated the packages and this should be fixed in the next release.

[2020-04-02 04:41] heyyudao commented on #1911
npm ERR! code E404
npm ERR! 404 Not Found - GET https://registry.npmjs.org/files.pythonhosted.org - Not foundnd
npm ERR! 404
npm ERR! 404  'files.pythonhosted.org@latest' is not in the npm registry.
npm ERR! 404 You should bug the author to publish it (or use the name yourself!)
npm ERR! 404
npm ERR! 404 Note that you can also install from a
npm ERR! 404 tarball, folder, http url, or git url.

 Hi

[2020-04-02 07:28] anthonychu commented on #1911
@heyyudao The screenshot is missing from your previous comment.

Is there a reason you're using the `--trusted-host` flag?

[2020-04-02 07:43] heyyudao commented on #1911
PS C:\Users\heyudao\Desktop\BotDevelopment> npm i -g azure-functions-core-tools@3 --unsafe-perm true --force

npm WARN using --force I sure hope you know what you are doing.
C:\Users\heyudao\AppData\Roaming\npm\func -> C:\Users\heyudao\AppData\Roaming\npm\node_modules\azure-functions-core-tools\lib\main.js
C:\Users\heyudao\AppData\Roaming\npm\azfun -> C:\Users\heyudao\AppData\Roaming\npm\node_modu

[2020-04-02 08:06] anthonychu commented on #1911
Take a look at this suggestion here to turn off strict SSL (note the comments regarding security). https://stackoverflow.com/a/46408398 You can turn it back on after installing.

[2020-04-02 10:08] heyyudao commented on #1911
hi, turn off SSL is not working for my case :(
(npm config set strict-ssl false)

[2020-04-02 10:46] heyyudao commented on #1911
i think i'm behind corporate firewall, any workaround?

[2020-04-02 11:26] jonny-powell commented on #1758
Agreed, however it does not have azure-functions-core-tools-3.

[2020-04-02 15:30] anthonychu commented on #1911
Can you try the MSI installer here? We recently added it and haven’t fully documented it yet. https://github.com/Azure/azure-functions-core-tools/releases/tag/3.0.2358

[2020-04-02 16:54] heyyudao commented on #1911
hi thank you. seems like i installed successfully, but my vs code still prompt me to install it.?

[2020-04-02 17:08] anthonychu commented on #1911
Great. VS Code isn't aware of the MSI installer yet. Can you bypass that prompt?

/cc @fiveisprime @dariagrigoriu

[2020-04-02 19:34] #1918 closed

[2020-04-03 22:19] priyaananthasankar opened #1923 "Checksum of deployment unit API"
If there are a lot of functions (each function represents a policy) inside a function app, and if there are services/workers that are constantly updating individual functions (policies) inside the function app, (typically these are cloud policy providers) it would make sense for these policy providers to make decisions on when to upload the entire function app as a zip again (if any policy changes

[2020-04-04 21:00] daxay opened #1924 "Value cannot be null. Parameter name: Provider error on func start"
HI, First of all really thanks for this amazing tool.
But i am having little issue here.
I am using nodejs worker and typescript as language.

I am getting following errors.
- On **_func start_**  -  `Value cannot be null.
Parameter name: provider`
- On _**func new**_  -  `The operation was canceled.`

It seems to me the problem is with **extensionBundle** configurations in **host.json**
because I

[2020-04-04 22:27] anthonychu commented on #1924
Thanks. I can confirm that I can repro the `Value cannot be null. (Parameter 'value')` problem by doing the following (using Core Tools 3.0.2245):

[code]

@ankitkumarr Any idea what could be happening here?

[2020-04-04 23:15] nerdfiles commented on #1924
Same issue

    Operation system - OS X Catalina
    Memory - 8 GB
    Nodejs - v12.x.x
    Azure-functions-core-tools - 2.7.2254

[2020-04-05 06:14] anthonychu commented on #1924
I was able to fix it by deleting the extension bundles cache.

On macOS, you should be able to find the cache folder with this search:

[code]

Mine is at `/private/var/folders/8z/8jgdqh2d34s_zl_0n0m_42640000gn/T/Functions/ExtensionBundles`. Delete the contents of this folder and run `func new` in the app folder again.

On Linux, I found the cache at `/tmp/Functions/ExtensionBundles`.

Looks like

[2020-04-05 06:26] anthonychu commented on #1924
@daxay @nerdfiles Let us know if deleting the bundles folder resolves it. Thanks!

[2020-04-05 06:32] ankitkumarr commented on #1924
I will take a look.

@soninaren as fyi.

[2020-04-05 06:58] nerdfiles commented on #1924
I was unable to discover the "Functions" folder or its contents ("ExtensionBundles") in `/private/var/**`. I'm not sure if my using `nvm` before install of the CLI tool would have anything to do with that.

[2020-04-05 08:42] ankitkumarr commented on #1758
@jonny-powell, we updated it recently. It should have `azure-functions-core-tools-3` now.

[2020-04-05 16:04] jonny-powell commented on #1758
Excellent, thanks!

[2020-04-06 02:25] bnm91 opened #1925 "Deploy With Remote Build Failed -- Central Directory Corrupt"
When deploying an azure function from the command line using the this command
`func azure functionapp publish my-azure-function-name  --build remote`
in version 2.7.2254 I received the following output
[code]

I had deployed successfully using this exact command a few months ago.
I reverted to version 2.7.1575 on the advice of this StackOverflow post https://stackoverflow.com/questions/60296003/ce

[2020-04-06 05:09] daxay commented on #1924
@anthonychu Yes, you are right. The problem is with the cache.
Because after i deleted the `/tmp/Functions/ExtensionBundles` folder.
Its working now.
Thanks.

[2020-04-06 05:19] nerdfiles commented on #1924
Odd that `/tmp/Functions/ExtensionBundles` does not exist on my system. 🤔

[2020-04-06 06:01] daxay commented on #1924
@nerdfiles  I am using ubuntu 16.04.
I think your using macOS.
So use this command
`find /private/var -name "ExtensionBundles" -print 2>/dev/null`
and delete contents of that folder.

[2020-04-06 17:46] CarlosLanderas opened #1926 "No scaler found for TimerTriggers in Kubernetes ScaledObjects"
Hello, I am trying to deploy to kubernetes an Azure Functions v3 project that has several Http Functions and one TimeTrigger function, and I see the created scaled object is the one below after executing the following command:

func kubernetes deploy --name timered --registry localhost:5000 --namespace

The default configured replicas are zero

[code]

I do not know what is the purpose of creating

[2020-04-06 22:02] ankitkumarr commented on #1821
As Ahmed said earlier, this seems to be an issue in the `npm` cli itself -- https://github.com/npm/cli/issues/470.

One workaround suggested there is to delete `func.ps1` file (in this case - `C:\Program Files\nodejs\func.ps1`), which will make `func.cmd` the default to run. Note: I haven't tried this yet.

Other tools, such as typescript CLI also encountered this issue -- https://github.com/micro

[2020-04-07 18:12] anthonychu commented on #1923
@priyaananthasankar Can you provide an example where this would be useful for customers and how this would affect deploying functions from Core Tools?

[2020-04-07 18:17] anthonychu commented on #1924
@nerdfiles Were you able to resolve your problem? If not, could you please set `CLI_DEBUG=1` before running the commands and let us know of any stack traces you see? Thanks.

[2020-04-07 18:20] anthonychu commented on #1926
@jeffhollan Do you know if we support timers in Keda?

[2020-04-07 18:24] anthonychu commented on #1925
@ankitkumarr @Hazhzeng Could you please take a look?

[2020-04-07 18:24] ahmelsayed commented on #1926
KEDA doesn’t do azure functions style timer triggers yet.

[2020-04-07 18:45] CarlosLanderas commented on #1926
Then, I suppose it would be a great option not generating the scaledobject for non keda scaler types:

https://github.com/Azure/azure-functions-core-tools/blob/8cbebb5264a2b21599031325c684fde0dabf3c7c/src/Azure.Functions.Cli/Kubernetes/KubernetesHelpers.cs#L685

Or at least offer an option in the cli to enable/disable the scaledobject creation, as this scaledobject that is created in the cluster w

[2020-04-07 19:28] ahmelsayed commented on #1926
/cc @SatishRanjan

[2020-04-07 19:36] ahmelsayed commented on #1923
If you are sure about your build reproducibility/consistency, then you can pull the zip file and byte compare it with the one you have.

I don't think the platform should/could make that decision for you. It's also not at all possible for non Run-From-Package scenarios.

[2020-04-07 20:16] #1923 closed

[2020-04-08 02:15] anthonychu commented on #1790
@ankitkumarr Is this resolved? Can we close?

[2020-04-08 02:16] anthonychu opened #1927 "Default AzureWebJobsStorage to instead of {AzureWebJobsStorage}"
`func new` creates a local.settings.json file with a `AzureWebJobsStorage` value of `AzureWebJobsStorage`. Can we default it to an empty string

[2020-04-08 02:17] anthonychu opened #1928 "Default AzureWebJobsStorage to "" instead of {AzureWebJobsStorage}"
`func new` creates a local.settings.json file with a `AzureWebJobsStorage` value of `{AzureWebJobsStorage}`. Can we default it to an empty string instead? This would allow tools like VS Code to prompt for storage account selection.

[2020-04-08 19:03] ahmelsayed commented on #1928
dup of #1927

[2020-04-08 19:03] #1928 closed

[2020-04-09 04:30] worldspawn commented on #823
Still broken April 2020...

[2020-04-09 18:08] anthonychu commented on #823
@soninaren Do you know what the problem might be here? Thanks.

[2020-04-09 18:10] probablyup opened #1929 "OFFSET LIMIT not supported for cross-partition cosmosDB collections"
When executing a query using the JSON CosmosDB input:

[code]

I receive this error:

[code]

However, the query runs as expected in the Azure Portal Data Explorer and several issues on the topic (and the documentation) appear to indicate this query _is_ supported.

[2020-04-09 18:11] #1790 closed

[2020-04-10 15:10] eparizzi commented on #1546
This is causing a lot of headaches. Please try to update the CLI to generate the project with the recommended structure.
https://github.com/MicrosoftDocs/azure-docs/issues/50089#issuecomment-612069435

[2020-04-10 18:03] adrianhall opened #1930 "Error installing azure-functions-core-tools@3 on Fedora 31"
When running `npm install -g azure-functions-core-tools@3`:

[code]

OS: Fedora 31
uname: `Linux localhost.localdomain 5.5.15-200.fc31.x86_64 #1 SMP Thu Apr 2 19:16:17 UTC 2020 x86_64 x86_64 x86_64 GNU/Linux`

The directory `/usr/lib/node_modules` exists, and I (as root) have access to it.

[2020-04-11 01:30] maiqbal11 commented on #1546
@Hazhzeng

[2020-04-12 11:23] galvesribeiro commented on #1239
@janmechtel even though it works well on C# scripts, its far from ideal because it goes against other features that we've asking so much for Az Func like pre-compiled projects, ReadyToRun (not available yet) and most importance, Dependency Injection support.

Its almost one year old issue. @ahmedelnably do you have any news on whether this would be supported or not? This would REALLY streamline th

[2020-04-12 16:10] JohnyzHub opened #1931 "Misleading error message for incompatible java version"
I was following the document https://code.visualstudio.com/docs/java/java-azurefunctions  for creating and deploying a Java Azure Functions application using the Azure Functions extension in Visual Studio Code. While doing so, I chose the wrong java version (jdk 11 instead of jdk 8) and hence the maven build failed. But I think the error message is misleading. The error is showing **'javax.xml.bin

[2020-04-12 20:57] anthonychu commented on #1931
@amamounelsayed @anirudhgarg Is it possible to do this in the Java worker? If the version doesn’t match at startup, print out a more descriptive error?

[2020-04-12 21:05] anthonychu commented on #1929
Looks like a duplicate of https://github.com/Azure/azure-webjobs-sdk-extensions/issues/621. Please use that issue to track this. Thanks!

[2020-04-12 21:05] #1929 closed

[2020-04-13 21:05] TroyWitthoeft commented on #1821
@ankitkumarr Thanks.  Took the conversation upstream to the npm/cli team on issue 470.

[2020-04-13 21:18] jeffhollan commented on #1684
@ankitkumarr we know we have a publish for each of these now. do you know if the pipeline was updated so each of these will automatically get updated?

[2020-04-13 21:20] jeffhollan opened #1932 "Java 11 in Azure CLI"
https://github.com/Azure/azure-cli/issues/12963

[2020-04-13 21:26] kulkarnisonia16 commented on #1932
Can potentially be picked up in Sprint 75.

[2020-04-14 18:10] anthonychu commented on #1930
Our recommended approach for installing on distros other than Debian and Ubuntu is to download and unzip the binaries themselves. Can you give that a try? https://github.com/Azure/azure-functions-core-tools#other-linux-distributions Thanks.

[2020-04-14 18:31] amamounelsayed commented on #1931
Thank you @anthonychu and @JohnyzHub we will investigate and get back to you.

[2020-04-14 18:32] #1930 closed

[2020-04-14 18:34] francischeung opened #1933 "Unable to install azure-functions-core-tools"
I'm trying to install azure-functions-core-tools in vs code with the following configuration:

Version: 1.44.1 (system setup)
Commit: a9f8623ec050e5f0b44cc8ce8204a1455884749f
Date: 2020-04-11T01:48:12.622Z
Electron: 7.1.11
Chrome: 78.0.3904.130
Node.js: 12.8.1
V8: 7.8.279.23-electron.0
OS: Windows_NT x64 10.0.18363

I run the following command:
npm install -g azure-functions-core-tools

I then get

[2020-04-14 23:00] #1924 closed

[2020-04-16 09:57] Jerac102 commented on #1797
Hi, i have the same problem. After a day of searching i installed .Net Core 3.1 SDK and updated my Visual Studio 2019 to v.16.5.4.
I have also installed among others:

Microsoft Visual Studio Enterprise 2019
Version 16.5.4
VisualStudio.16.Release/16.5.4+30011.22
Microsoft .NET Framework
Version 4.8.03752

ASP.NET and Web Tools 2019   16.5.236.49856
ASP.NET and Web Tools 2019

ASP.NET Web Framework

[2020-04-16 18:17] anthonychu commented on #1933
Can you please check the version of npm and node you're running from the command line? Thanks.

[code]

[2020-04-16 18:20] dariagrigoriu opened #1935 "Do not retry when a deployment is in progress"
This can lead to "deployment currently in progress" error messages that become confusing because the customer does not initiate the retry.

[2020-04-16 18:23] francischeung commented on #1933
PS C:\> node --version
v6.10.1
PS C:\> npm --version
6.14.4

[2020-04-16 18:30] anthonychu commented on #1797
@soninaren Have you had a chance to see what might be happening here? Thanks.

[2020-04-16 18:51] anthonychu commented on #1933
Can you please update your Node version and try again? Looks like the `chalk` library that the Core Tools npm installer has a dependency on is using syntax that requires Node 8.3.0 and above.

On Windows, you can also use [Chocolatey](https://github.com/Azure/azure-functions-core-tools#windows), or download and run the new MSI installer [here](https://github.com/Azure/azure-functions-core-tools/re

[2020-04-16 19:06] francischeung commented on #1933
That fixed my issue. Thanks @anthonychu!

[2020-04-16 19:06] #1933 closed

[2020-04-17 03:23] Hazhzeng commented on #1925
Another customer 184131411 is also reporting this issue. Basically, the SCM site is assigned to a Linux Dedicated site rather than a Linux Consumption container.

We're still investigating this issue, will update you as soon as possible.

[2020-04-19 03:17] mpalumbo7 commented on #1905
Sorry, priorities changed and had to delete the environment, so can’t debug this issue.

[2020-04-20 04:02] lucas-especta opened #1939 "Choco installer and package is not updating to the new releases"
There is some issue with the chocolatey interface to install the releases in windows environment.
It is not updating anymore.

[2020-04-20 21:11] #1916 closed

[2020-04-20 21:11] #1917 closed

[2020-04-21 08:36] anderseide commented on #1888
Hi! I have the same issue!

Added the config you listed @mhoeger, but still hitting the firewall instead of corp proxy.
Seems like the settings does get picked up though, as I get an error message in the console when I had a typo the URL and used https instead of http

E0421 09:46:17.436000000 11992 http_proxy.cc:62] 'https' scheme not supported in proxy URI

[2020-04-21 17:07] nloding opened #1941 "Function expects appsettings.json in global node_modules directory"
*Runtime Version:* 3.0.13139.0
*OS:* Windows 10, running this in Powershell not in WSL
*Node:* v12.16.2

I've run this both from VS Code with the Azure Functions extension, and from the CLI directly. I have a pretty simple HTTP trigger function, and when running locally I get the error below.

[code]

I've added and removed an appsettings.json file from the project, same error. I've tried several

[2020-04-21 18:12] anthonychu commented on #1941
@fabiocav Do you know how to find the directory that contains the code? Looks like `ExecutionContextOptions.AppDirectory` is returning the location of `func`.

[2020-04-21 18:19] anthonychu commented on #1939
@ankitkumarr Can you please look into releasing 2.7.2254 on Chocolatey? Thanks.

[2020-04-21 18:43] nloding commented on #1941
Just to be clear, I've tried `Environment.CurrentDirectory` as well as manually specifying the path to the compiled function in the `SetBasePath` method, and not using the ConfigurationBuilder at all, and all gave the same error with the CLI looking for appsettings.json in the node_modules directory.

[2020-04-22 09:17] AbdolrezaMadi commented on #1925
I'm having the same issue when I use the latest version of azure-functions-core-tools. With version 2.7.1948 it's working fine.
It might be helpful to note that the zip file in the my local temp folder has size of 0.
I'm using function ver 2, and Linux Consumption plan.

[2020-04-22 11:18] rchesak commented on #1727
@Anthony-Breneliere Did you find a fix?

[2020-04-22 11:33] moritzgloeckl opened #1942 "func host start fails with "Cannot access a disposed object" / "ECONNREFUSED""
I'm trying to locally run and debug my Azure Function. I'm using the standard `HTTP trigger` project - nothing changed. When I press F5 to start the application the log output says:

[code]

Furthermore, an error window opens showing `Visual Studio Code` and `connect ECONNREFUSED 127.0.0.1:9091`.

This also happens when running `func host start` from the Command Prompt (excluding the Visual Studio

[2020-04-22 13:12] moritzgloeckl commented on #1942
It seems that this is somewhat related to my Windows user name.

I've set `GRPC_TRACE=all` and `GRPC_VERBOSITY=DEBUG`, this reveals a detailed error:

[code]

As you can see, something, somewhere is setting my `Ö` to `?`. I think this may be causing troubles.

[2020-04-22 14:25] Anthony-Breneliere commented on #1727
I did not try to find a fix, as it is internal to azure function hosting. I just bypassed exceptions when I start debugging the app.

[2020-04-22 15:11] anthonychu commented on #1727
@rchesak is your app in a subfolder and using Core Tools 2.x as well?

@Hazhzeng do you know what might be happening here?

[2020-04-22 17:15] tasb opened #1943 "func kubernetes deploy with Windows Server as docker engine"
After running the command and using a dockerfile with only one FROM instruction (from a linux container) I get this error:

##[command]"C:\windows\System32\WindowsPowerShell\v1.0\powershell.exe" -NoLogo -NoProfile -NonInteractive -ExecutionPolicy Unrestricted -Command ". 'E:\BS\1\w\_temp\1dade91e-f1e8-4e41-9573-bc564a142e85.ps1'"
Running 'docker build -t ***/docker-azure-function/accountsaggregati

[2020-04-22 21:14] anthonychu commented on #1943
Looks like it's happening [here](https://github.com/Azure/azure-functions-core-tools/blob/dev/src/Azure.Functions.Cli/Actions/KubernetesActions/KubernetesDeployAction.cs#L110) when Core Tools tries to retrieve the triggers from the container (so that it can split HTTP triggers into a separate deployment).

Can you try running the command with the `--no-docker` flag? I think you might need to build

[2020-04-23 06:03] ankitkumarr commented on #1925
It might be related to https://github.com/Azure/azure-functions-core-tools/issues/1867

@bnm91, @AbdolrezaMadi, do you happen to have a space in your path of the function directory?

I am taking at look at this, in the meanwhile, if you could confirm the space, we should be able to verify the issue and the fix.

[2020-04-23 07:38] moritzgloeckl commented on #1942
It seems to be working when starting it from the PowerShell with this command:

`C:\Users\MoritzGlöckl\AppData\Local\AzureFunctionsTools\Releases\3.4.1\cli_x64\func.exe host start`

[2020-04-23 08:08] AbdolrezaMadi commented on #1925
Yes, I got a space in the path.

[2020-04-23 21:01] RolandoMoreno commented on #1867
Hi
Related to this, i found another problem when the tools are installed on a folder with a space (in my case was C:\Users\Rolando Moreno\AppData\Roaming\npm\node_modules\azure-functions-core-tools\bin) Maybe, my user temp folder was causing the problem (C:\Users\Rolando Moreno\AppData\Local\Temp)
In order to solve the issue, i rename my user folder to RolandoMoreno.

[2020-04-23 21:39] tsunami28 opened #1945 "Unable to find project root. Expecting to find one of host.json, local.settings.json in project root."
I'm using VSC extension for creating functions. When I execute run.ps1 it creates a new terminal loading my user profile and executing the script. Then I receive the error from the subject.
My userprofile has the command:
"New-PSDrive -Name DRS -PSProvider FileSystem -Root "C:\DRSCoding"
Not sure if that could be causing the issue.
![Screenshot_384](https://user-images.githubusercontent.com/467184

[2020-04-23 22:11] tsunami28 commented on #1945
"Set-Location DRS:" is the problem. When I commented that out in profile, the run.ps1 executed with no errors.
Why is that?

[2020-04-24 01:22] ahmelsayed commented on #1943
There are few issues here it seems:

First issue: the core-tools only works with Desktop Docker today (with the mode set to Linux containers). It doesn't work with LCOW client or other container OCI clients. It also uses docker commands `build, run, cp, exec` to either build the image or inspect functions in a given image.

Second issue: In the case above, if you don't need to mount the docker ima

[2020-04-24 06:21] rchesak commented on #1727
@anthonychu Yes and yes

[2020-04-24 07:50] #1867 closed

[2020-04-24 14:24] probablyup commented on #1929
@anthonychu Could we get this reopened please? Support for this functionality was released in the webjobs extension last week but it's still not working through the `func` CLI here. https://github.com/Azure/azure-webjobs-sdk-extensions/releases/tag/cosmos-v3.0.6

[2020-04-24 14:56] probablyup commented on #1929
Nvm https://github.com/Azure/azure-functions-extension-bundles/pull/20

[2020-04-25 21:27] Adarsh1999 opened #1947 "Add support for python 3.8"
While running Azure Functions I got this error:
[code]

[2020-04-26 11:35] phantom2017-Nov commented on #1440
Yes, please - same here .. it is quite difficult to find our own custom "logs" & differentiate them from what potentially MS developers added for their own debugging ...

[2020-04-26 16:14] tasb opened #1948 "Run func kubernetes deploy without root access on container"
I'm using a Dokcerbuild with this on last line
USER myuser

When I run func kubernetes deploy I get this error:
func : Error running docker exec -t bd215648b7c38a3cc0f33b3b9032e0a9b42cf635e776fa173fa5e01f170bffcb chmod +x
/print-functions.sh.
At C:\Work\BCP.Channels.AzureFunctions\BCP.Channels.AzureFunctions\deploy.ps1:2 char:1
+ func kubernetes deploy --name channels-functions --registry cscm1nac

[2020-04-27 23:53] anthonychu commented on #1913
@soninaren @ankitkumarr Any thoughts on how to implement this?

As a starting point for discussion, I'll expand a bit on my suggestion (the warnings can be better worded):

[code]

[code]

Also need to consider that changing between bundles and manually installing extensions can break things like VS Code launch settings.

[2020-04-28 06:44] anthonychu commented on #1440
@brettsam Looking for an update on this. Can you help identify the work that needs to be done (in Core Tools, host, or both) to suppress the logs in @JustinGrote's [comment](#issuecomment-593663277)?

Related: https://github.com/Azure/Azure-Functions/issues/1407

[2020-04-28 18:12] anthonychu commented on #1945
@fiveisprime @EricJizbaMSFT Do you know if there's a way to override the Set-Location when starting up func in VS Code?

[2020-04-28 18:14] anthonychu commented on #1947
@Adarsh1999 Can you please check the version of Core Tools that you are running?

`func --version`

We currently require 3.x of Functions Core Tools to use Python 3.8.

[2020-04-28 19:01] EricJizbaMSFT commented on #1945
There's probably a way. For example, you can check out the VS Code settings "terminal.integrated.automationShell.windows", "terminal.integrated.shellArgs.windows", and "terminal.integrated.shell.windows". Perhaps you can get the automationShell to use `-NoProfile` somehow? Seems like you can't specify "shellArgs" specifically for the "automationShell" - so that might be a gap that should be pursue

[2020-04-29 00:01] ankitkumarr commented on #1925
Closed by https://github.com/Azure/azure-functions-core-tools/commit/d3e47c1c5700dead61b3dbc30d566bb43943bd53

[2020-04-29 00:01] #1925 closed

[2020-04-29 01:02] bnm91 commented on #1925
@ankitkumarr Sorry i was slow in responding here. I **do not** have a space in the path of my function

However, I have battled off and on since I started this project with a space in my in the path to my python.exe.  I have changed my PATH variable to point to a different python.exe and still get this issue but perhaps it is still relevant.

[2020-04-29 15:49] FrankMuehlschlegelAKQA commented on #1904
i could solve it by downgrading Azure Functions SDK to 3.0.3
`<PackageReference Include="Microsoft.NET.Sdk.Functions" Version="3.0.3" />`
i think it is related to this issue:
(https://github.com/Azure/Azure-Functions/issues/1518)

[2020-04-29 17:31] o-o00o-o commented on #1214
Having the same problem when trying to debug in vscode. I had to remove the set-location in the profile called by vscode powershell profile

I can see the tasks.json has the correct cwd in but I guess that it is getting run before the profile is run - shouldn't this be applied after the $profile is executed?

Is this appropriate in here or should I raise this somewhere else?

[2020-04-29 20:06] #1927 closed

[2020-04-29 20:25] soninaren commented on #1821
Closing this one since we don't have any action item on use. This is caused by npm. Here is the related issue: https://github.com/npm/cli/issues/470.

[2020-04-29 20:25] #1821 closed

[2020-04-29 23:15] brettsam commented on #1440
Add this to your `Values` in local.settings.json -- this should mute that category completely:

`"logging:logLevel:Microsoft.Azure.WebJobs.Script.WebHost.Middleware.SystemTraceMiddleware": "None"`

[2020-04-29 23:15] tbarlow12 commented on #1589
@ahmedelnably any update here?

[2020-04-29 23:38] JustinGrote commented on #1440
@brettsam this helps! There's one more message to suppress and I will have it where I want it, can you identify where this one comes from?

[2020-04-30 01:17] JustinGrote commented on #1440
@brettsam After investigation I found that the powershell worker emits these messages to stdout
https://github.com/Azure/azure-functions-powershell-worker/issues/461

And that the core tools will pick up stdout from the worker. Is there any way to suppress the received stdout messages at the core tools/host level?

[2020-04-30 01:26] JustinGrote commented on #1440
I found where it arrives on the host side, but all the inversion of control makes it really difficult to find out what category the messages are being logged that I could possible suppress with the environment variable.

https://github.com/Azure/azure-functions-host/blob/aead204f7a7ace3c9bede9f7928249933d18d777/src/WebJobs.Script/Workers/ProcessManagement/WorkerProcess.cs#L103-L111

Also, is there

[2020-04-30 01:38] brettsam commented on #1440
It's all .NET but Functions uses nested hosts to run. The parent host is an ASP.NET host that runs all the admin queries, watches for file changes, etc, and it runs an inner child host that actually loads and runs your functions. The host.json only applies to the inner child host but these logs are all coming from the outer host. In production these aren't typically visible as they're wired up to

[2020-04-30 02:05] JustinGrote commented on #1440
@brettsam that worked! I found the category in the rpcWorkerProcess section shortly after you mentioned that. Adding these lines to my local.settings.json achieved the desired result. Thanks for your quick response.
[code]

![Capture](https://user-images.githubusercontent.com/15258962/80664668-3e901900-8a4c-11ea-92c3-ed01344a74dc.gif)

[2020-04-30 03:59] yamiralex opened #1956 "@xinyi-joffre Can you share the app name?"
@xinyi-joffre  Can you share the app name?

_Originally posted by @divyagandhii in https://github.com/Azure/azure-functions-core-tools/issues/1457#issuecomment-523680185_

I have the same issue , can you helpe please , my app is ome-prod-eastus2-previsao-geracao-energia

[2020-04-30 06:23] ankitkumarr commented on #1684
@jeffhollan, sorry I never got back on this. The automated release pipeline doesn't release the core tools at the moment. We need to add it. Until then, I will do the releases of the new `-3` and `-2` packages manually.

I will pick this item up in the next Sprint or so to automate the flow.

[2020-04-30 14:07] brettsam commented on #1440
Great! So I think with this technique you can selectively turn off whatever lines you want that aren't controlled by host.json.

I know that can be tricky to figure out though. I'm going to close this issue, but if you come across it and need guidance, please let me know and I can help you find the right category to use in your setting to turn off a particular line.

[2020-04-30 14:07] #1440 closed

[2020-04-30 14:30] JustinGrote commented on #1440
@brettsam sounds good, I'll also file a documentation note into the docs.

[2020-04-30 14:50] andrew-velez-trusight commented on #1766
Any update on this? While I can sleep for 30 seconds, that's a hack at best.

[2020-04-30 15:22] JustinGrote commented on #1131
This can be done with environment variables as a workaround
https://github.com/Azure/azure-functions-core-tools/issues/1440

[2020-04-30 17:10] balag0 commented on #1766
@mcopik Could you explain what you meant by function app is visible in storage account? Trying to understand how that is different from the publish workflow.

[2020-04-30 18:09] anthonychu commented on #1948
Can you try this workaround [here](https://github.com/Azure/azure-functions-core-tools/issues/1943#issuecomment-618044105) for the time being? You would need to build the image first and use `--no-docker`.

/cc @ahmelsayed

[2020-04-30 19:06] anthonychu commented on #1131
@mhoeger @johnpapa Let's restart this discussion and see if we can make any improvements here. /cc @bnb @aaronpowell @ankitkumarr

Thanks to @brettsam and @JustinGrote in #1440, I think we've identified a way to suppress almost any log related to function execution, and some logs at startup.

Based on that conversation, I've put together some of the settings in a repo with examples and a readme: h

[2020-04-30 19:27] EricJizbaMSFT commented on #1945
Filed an issue on VS Code to add support for a setting like `terminal.integrated.automationShell.shellArgs.windows`: https://github.com/microsoft/vscode/issues/96732

If they added support for that, users could add `-NoProfile` to the args so that the profile is ignored for tasks/debugging

[2020-04-30 19:29] EricJizbaMSFT commented on #1214
The problem is there are many times where ignoring the PowerShell profile would be a bug. It's used for many things other than `Set-Location` (like setting environment variables) which people might still want to happen. That being said, I feel like this should be completely customizable. I went ahead and filed an issue on VS Code to add support for a setting like `terminal.integrated.automationShe

[2020-04-30 21:25] aggieben opened #1963 "F# function based on azure-functions-templates doesn't start; "Host.json file in missing""
This is similar to #1734 .  I created a new F♯ function from the templates in Azure/azure-functions-templates.

I also installed v3 of the core tools via chocolatey, and when I try to run the function from the project directory, this is the result:

![image](https://user-images.githubusercontent.com/1321/80760783-17465400-8aff-11ea-8fd4-3c3b3958ae1b.png)

Here's the project file:
[code]

I've open

[2020-05-01 09:15] o-o00o-o commented on #1214
I'm not suggesting you should ignore the powershell profile, I agree that wouldn't be sensible. Therefore, while it might a a workaround I'm not sure adding a NoProfile is a very elegant or satisfactory solution. It feels like that might just cause more problems

Isn't is possible for the cwd to be set just before the debugger starts so it starts in the right place and works regardless of what is

[2020-05-01 09:18] o-o00o-o commented on #1214
Alternatively (another workaround, not an elegant solution) is there any way to identify that we are running for the purpose of Azure Function debugging that we could detect in our profile and then conditionally do the Set-Location?

[2020-05-01 18:17] EricJizbaMSFT commented on #1214
To be fair though, using `Set-Location` in your PowerShell profile already causes more problems that are not specific to the Azure Functions debugger. I honestly don't use PowerShell that often, but perhaps there's another way to achieve your desired behavior without doing this

The problem is that it's the "right place" for your situation, but not necessarily the "right place" for other people. T

[2020-05-01 20:28] jleck commented on #1738
Hi,

I have this problem too, although I've found a workaround:

[code]

[2020-05-01 21:46] soninaren opened #1970 "Add support for user secret file"

[2020-05-02 22:53] dungkhuc commented on #1863
Hi,

I ran into same issue today. Publishing works locally but not in CI/CD in azure devops. Contrary to others above, I used the same service principal with `az login`.

I got following exception: `Azure.Functions.Cli.Common.CliException: Timed out waiting for SCM to update the Environment Settings`. This issue seems to surface after I started using key vault references.

[2020-05-02 23:31] balag0 commented on #1863
@dungkhuc Are you able to share the app name / timestamp so I can check the config.

[2020-05-02 23:40] dungkhuc commented on #1863
@balag0 app name is `meintegrationprod`. There's one run being stuck right now.

[2020-05-03 05:21] anthonychu commented on #1970
Is this the same user secret file as ASP.NET Core? How will it be used? .NET only or will it work for other languages without a .csproj?

[2020-05-03 05:41] anthonychu opened #1972 "Support Custom Handlers"
## func init

Add `custom` as a worker runtime option. (@pragnagopa is "custom" a good name?)

[code]

If `custom` is selected, add empty `httpWorker` section to host.json:

[code]

## func new

Allow user to select from a set of templates. When selected, only create function folder and function.json. (@soninaren Should we add custom handler templates or should we use the JS ones and remove index.

[2020-05-03 14:28] dungkhuc commented on #1863
@balag0 publish worked when I build the python functions locally.

[2020-05-04 14:23] aggieben commented on #1963
I've experimented a bit more with this, and it appears that the version of core tools distributed with VS2019 (3.0.2245) works.  The difference is that 3.0.2245 _generates_ a `host.json` file in the output folder, where as the latest version of the core tools (3.0.2358 via chocolatey) fail because it (a) doesn't copy the `host.json` file from the project as shown above, but also (b) doesn't genera

[2020-05-04 16:42] jleck commented on #1440
Hi,

I've just put these couple of lines in, and it's helped. However, I still get:

[code]

The API is being called continously, so I'm getting a lot of them! Is there anyway to disable that?

[2020-05-04 16:46] JustinGrote commented on #1440
@jleck you have to find what "category" the log is coming from in order to suppress it. If it shows up in Application Insights that's easy to find, otherwise you have to trace the code.

There's a lot of examples that @anthonychu put together here:
https://github.com/anthonychu/functions-log-suppression

[2020-05-04 17:19] jleck commented on #1440
Hmm, will have a hunt. I've looked for the string in the azure-functions-core-tools and azure-functions-nodejs-worker to no avail!

[2020-05-04 17:28] anthonychu commented on #1440
This should be the category `Function.<function_name>` (or just `Function` to do this to all functions). However, the main issue with this is it affects user generated logs too. You need to set the log level for `Function.<function_name>.User` for every function to see logs you create from inside the function.

[2020-05-04 17:56] jleck commented on #1440
thanks @anthonychu, managed to disable it with:

[code]

Also put:

[code]

Nice and clean now! Thanks both :)

[2020-05-04 18:55] balag0 commented on #1863
Are you still seeing this issue. Looks like for a period of time the storage volumes were unhealthy , so requests were timing out. I also see the requests are successful more recently.

[2020-05-04 20:09] dungkhuc commented on #1863
@balag0 yes still facing issue with remote build. `--build local` works for the time being.

[2020-05-05 00:26] soninaren commented on #1970
Yes, this is the same secret file as ASP.Net core. This would work along with local.settings.json file. User secrets file will very likely take precedence over the secrets in local.settings.json. Visual studio supports development leveraging the user secrets file and this work item was created for us to enable that user experience.

There hasn't been any discussion on how user secrets file support

[2020-05-05 09:36] ssotank commented on #1863
I'm facing this problem as well. And it's not a rare case, it's stable reproducible problem with my resource allocation automation and deploying scripts, but only for **new** allocated Function App resources during **first deployment**:
[code]
After second start I've got this:
[code]
After a while I've had some progress:
[code]
And finally after some time when I restart it it completes successfull

[2020-05-05 15:27] anthonychu opened #1973 "azure-functions-core-tools folder is created in current directory"
Core Tools uses [`LocalApplicationData`](https://github.com/Azure/azure-functions-core-tools/blob/16b36f985ecffdd40ab4fb974f5f576593980284/src/Azure.Functions.Cli/Common/Utilities.cs#L163) to create a folder for telemetry. This uses the `XDG_DATA_HOME` environment variable on Linux, and it's not always set.

If `XDG_DATA_HOME` isn't set, the folder will be created where `func` is first run.

/cc @

[2020-05-05 16:39] johnpapa commented on #1973
some notes ...

when I run `func start` in a functions app, it creates a `az func core tools/.telemetry` folder

when I stop the functions from running, it adds a file to that folder.

if I run `func start` in a non azure functions folder, it still adds the telemetry folder.

[2020-05-05 18:25] anthonychu commented on #1956
@yamiralex Can you please provide a bit more details about the problem you're having?

[2020-05-05 22:12] balag0 commented on #1863
@dungkhuc When using remote build an additional build container has to be provisioned which has its own cold start. Additionally I see the app is currently running on a small worker (along with other apps from your subscription) Scaling up to a bigger worker should help your scenario.

@ssotank Usually this kind of error immediately after the app creation is due to the cold start.
As part of the c

[2020-05-05 23:00] #1947 closed

[2020-05-06 05:20] dungkhuc commented on #1863
@balag0 I don't think cold start is an issue, since I have tried repeating deployment with remote build many times (>5 times). Also, the same deployment has been working for months, until I add key vault references to the app configurations. I was confused at first, be cause the deployment worked when the function app was not authorized to fetch key vault secrets.

Key vault references in app conf

[2020-05-06 08:40] ssotank commented on #1863
@balag0 thank you for your answer! In my setup I'm using App Services plan for Functions. It would be great to make this process transparent for script automations. Those random failures are pretty hard to handle. For example, some kind of a signal or a property "ready to deploy".

[2020-05-06 15:13] trallard opened #1976 "`func init` CLI documented flags and docs out of date"
The documentation to create a new function using the CLI https://docs.microsoft.com/en-us/azure/azure-functions/functions-run-local?tabs=macos%2Ccsharp%2Cbash#create-a-local-functions-project specifies these as the options for `func init`.

![image](https://user-images.githubusercontent.com/23552331/81194324-6f280380-8fb4-11ea-8c27-098c4fc76c36.png)

However, when invoking `func --help` from the C

[2020-05-07 07:33] anthonychu opened #1979 "Core Tools V2 - recommend upgrading to V3 if using Python 3.8"
Core Tools V2 currently complains that Python 3.8 is unsupported #1947. Show a message instead that recommends the user to upgrade to V3 and provide a link to instructions.

Check the behavior when running Node 12. It should also recommend upgrade.

[2020-05-07 18:42] xinyi-joffre commented on #1956
@anthonychu, here is one that I redeployed as linux consumption, but deployments are failing using az functionapp zip deploy: emcb-api-devices-dev

[2020-05-07 18:50] xinyi-joffre commented on #1956
Possibly related to this one? https://github.com/Azure/azure-cli/issues/12513. Is there any workaround to getting azure function apps and linux working together?

[2020-05-07 19:48] joeyslack commented on #1901
Good issue.

Furthermore, who's updating the `homebrew` packages? Looks like we're at least 1 or 2 releases behind.

[2020-05-07 23:00] #1948 closed

[2020-05-08 13:23] asears commented on #1939
When upgrading from Chocolatey, I cannot install 3.0.2245, and this collides in Windows path with v2.0 extensions

Installed via choco 2.0 is in: /c/ProgramData/chocolatey/bin/func
Installed via npm -g 3.0 is in: %APPDATA%\..\Roaming\npm\func --version

Does it make sense for us to be using 2.7 runtime if 3.0 is available?  Should I remove 2.0 chocolatey runtime locally and use the npm installed 3

[2020-05-08 16:37] mpnow commented on #1409
I'm getting this exact same issue as well. Trying to run an Azure Function locally in Visual Studio 2019 16.5.4 leads to this error. Also happens in Visual Studio 2017 15.9.11.

Like others here, I can run it successfully via the Azure CLI, and can also run/debug it successfully in VS Code.

[2020-05-11 17:02] brandonh-msft commented on #1863
`func azure functionapp publish` should be all we need to know. It could retry until ready or the deployment of the ASP marked for Function App usage could block until ready. End users shouldn't have to code a magic number to make deployments work.

[2020-05-11 17:44] RobinHSanner commented on #1529
This has been open an awful long time without an update.  Any news?

[2020-05-11 19:30] brandonh-msft commented on #1863
Here's a mitigation bash script I wrote today which works for us in our CI/CD pipeline:

[code]

So far I've only seen it have to do the loop one time before success:

![image](https://user-images.githubusercontent.com/20270743/81603414-2640c800-9383-11ea-93c9-fde0d8d4b874.png)

[2020-05-13 01:32] dstaley opened #1984 "Unable to publish function: "There is not enough space on the disk""
I've successfully published my functionapp to Azure Functions. I modified the AuthorizationLevel property, and attempted to deploy again with the following command:

[code]

The deployment failed, with the following output:

[code]

<details>
<summary>Full error message</summary>
<pre><code>
Error uploading archive (InternalServerError).
Server Response: {"Message":"An error has occurred.","Except

[2020-05-13 07:03] balag0 commented on #1956
@xinyi-joffre Do you mind sharing the exact command you are running? Specifically are you using remote build? I assume this is the cmd that is failing - https://docs.microsoft.com/en-us/cli/azure/functionapp/deployment/source?view=azure-cli-latest#az-functionapp-deployment-source-config-zip

[2020-05-13 08:28] petrce opened #1985 "(Pre)release with DataProtection fix"
Hi guys sorry to bug you, but me and my company we were waiting for this fix for 5 months... it was stopping us from upgrade .net core 3
https://github.com/Azure/azure-functions-host/issues/5447
since it is fixed now, would you mind releasing it atleast as a preview?
thanks

[2020-05-13 08:28] usco-otsuki opened #1986 "In what order are functions loaded?"
I have two HTTP trigger functions with function name "Hello" and "Greet" each.
Hello and Greet functions are linked to route "{name}" and "greet" respectively.

After I start the server and send a HTTP request to `/api/greet` , I always see Hello function is called instead of Greet.
But then when I switch the function names, sending requests to `/api/greet` calls Greet function, which is what I ex

[2020-05-13 15:24] xinyi-joffre commented on #1956
@balag0, yes, we are using:

az functionapp deployment source config-zip --src *.zip -g <group> -n <app name>

No other flags for slots or timeout. The issue looks very close to #12513, where we get `Unknown Error` but no other information. This only occurs with Linux apps, but works on Windows.

Using the func command to deploy not from zip, but from source code is working okay. Other workaround

[2020-05-13 19:54] NVolcz opened #1987 "How to manage shared code"
I have a bunch of Azure Python Function Apps that share some code and is not sure how I am sure how this is supposed work. The shared code is proprietary and cannot be uploaded to PyPi. My issue is similar to: https://github.com/Azure/azure-functions-python-worker/issues/219

This is how I would like the folder structure to look like:
[code]

I have tried to use the `file:` protocol in FunctionApp

[2020-05-13 19:54] fabiocav commented on #1980
@anthonychu just want to confirm that this is for the CLI only, right?

[2020-05-13 20:17] yojagad commented on #1890
Chatted with @soninaren offline. We need to conditionally sign the MSI binaries during build of the release branch (release_3.0).

[2020-05-13 20:41] anthonychu commented on #1980
@fabiocav  That's correct. Thanks!

[2020-05-14 07:47] glennsarti opened #1988 "Error using NodeJS 14.0 with `func start`"
I started to run a function locally using 'func start' but got this error message:

[code]

I realise v14.0 is quite new but it's still an even number.

OS: Windows 10 1909
`node --version`: v14.0.0
`npm --version`: 6.14.4
`func --version` : 2.7.2508

[2020-05-14 08:13] glennsarti commented on #1988
Hrmm .. ok...so 14 isn't an LTS yet, but the point about even version numbers is a little misleading

Perhaps using the same terminology as the Release Schedule (https://github.com/nodejs/Release#release-schedule) would help and drop the bit about even numbers.

e.g. `but the runtime requires an Active LTS version, not Current version, as per  https://github.com/nodejs/Release#release-schedule`

[2020-05-14 08:19] zsolt-halo commented on #1987
Did you take a look at [this](https://docs.microsoft.com/en-us/azure/azure-functions/functions-reference-python#import-behavior)?

It works for me. Not very clear as the comments say so but once you figure out the example it will work.

[2020-05-14 12:11] jleck opened #1989 "Using queueTrigger locally"
Hi,

I have a queuetrigger and sendgrid function I want to use locally. When I start the local environment, I get:

[code]

I can see the metadata for the function, but when I try to post to it with data I get 404. Is there a way to use this function locally? The documentation says I should be able to POST to it.

[2020-05-14 14:36] anthonychu commented on #1988
Thanks. Good suggestion. Also, while we want to support LTS versions as soon as they are available, that might not always be possible. I think we should explicitly state what versions the node worker is currently supporting. @mhoeger

[2020-05-14 17:48] mhoeger commented on #1988
Yeah, we can just explicitly state which versions we expect!

[2020-05-14 18:07] anthonychu commented on #1989
Hi @jleck. Can you check if you have the extensions bundles defined in your host.json file?

https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-register#extension-bundles

If not, please add it and see if that fixes the problem.

[2020-05-14 18:10] anthonychu commented on #1988
Thanks @mhoeger. Could you please take a look at #1979 and see if we can do the same for someone who is running Node 12 and Core Tools V2 (recommend that they upgrade to V3)? Thanks.

[2020-05-14 18:10] jleck commented on #1989
Hi @anthonychu , just got it working using v3 of .NET sdk (was on 2, so it didn't install). I'm using extensions.csproj, does host.json settings mean thats not required?

[2020-05-14 18:17] anthonychu commented on #1985
We should have a new version of Core Tools out in the next week or so.

[2020-05-14 18:22] anthonychu commented on #1984
@dstaley The storage capacity for consumption plan is 1GB. Looks like you might be hitting that. https://docs.microsoft.com/en-us/azure/azure-functions/functions-scale#service-limits

[2020-05-14 18:29] dstaley commented on #1984
Ah, I definitely saw that, but the footnote really confused me.

I guess I got confused thinking that the available storage in my storage account is what mattered. Furthermore, the portal says the following:

This made me think even more that it was the storage of my storage account that really mattered.

As a potential action item, I think it'd be great if the CLI detected when the publish direct

[2020-05-14 21:21] anthonychu commented on #1989
That's correct. You can switch to using extension bundles by adding that chuck of JSON to host.json. You can then remove extensions.csproj, bin/, obj/ from the project. And if that works well, you can even remove the .NET SDK from your machine if you don't need it.

[2020-05-15 06:53] NVolcz commented on #1987
The difference between function apps and functions is confusing to say the least (and there are no such things on the other platforms). The above example "works" but is not ideal. We wanted separate function apps for separate managed identities. Also, how many functions can fit in a functions app? We currently have four but are planning to add many more and without the possibility to share code be

[2020-05-15 09:54] jleck commented on #1989
Oh, thats great! Will try it out.

Might be worth adding a page somewhere or something about using queueTriggers etc and these extensions. When I did `func new` it added the extensions.csproj, so it was a bit confusing!

[2020-05-15 09:54] #1989 closed

[2020-05-15 16:38] googollee opened #1990 "Remove empty `Depends:` field from azure-functions-core-tools deb package."
Hi,

This is a bit of a shot in the dark, I'd appreciate it if you point me
to the right folks if y'all aren't :)

I'm writing about a small issue in this debian repo
<https://packages.microsoft.com/repos/microsoft-debian-stretch-prod>
that's causing us problems. The package azure-functions-core-tools has
an empty Depends field:

[code]

While the entry for that package in the Packages file
<https

[2020-05-16 12:10] glennsarti commented on #1988
Thanks for the prompt response everyone! ♥

[2020-05-17 01:01] epomatti opened #1991 "Add support for Ubuntu 20.04"
Add support for Ubuntu 20.04

I was able to install it anyways using 19.04 package and will see how it goes.

Also [another documents](https://docs.microsoft.com/en-us/azure/azure-functions/functions-run-local?tabs=linux%2Ccsharp%2Cbash#v2) should be upgraded.

[2020-05-17 02:54] evandropomatti opened #1992 "func new references wrong TypeScript scriptFile in function.json + missing dist directory"
Func command line seems to reference the wrong file extension and also not creating the `dist` directory.

To reproduce:

1. `func init`
2. Select `node` (2)
3. Select `TypeScript`  (2)
4. `func new`
5. Select `HTTP Trigger` (8)
6. Enter function name `HttpTrigger`

func will create function directory with files `function.json` and `index.ts`.

**Problem 1**

`function.json` references **.js**, an

[2020-05-17 03:24] evandropomatti commented on #1992
Need to use `npm start` so that the `dist` directory is created.

[2020-05-17 03:24] #1992 closed

[2020-05-18 10:21] Erikvl87 commented on #1766
I am still waiting for a solution as well since I haven't really got a satisfying answer to https://github.com/Azure/azure-functions-core-tools/issues/1616.

@balag0 My assumption would be (since that was the case for me) that the app is created properly (and thus can be seen in his Azure account). But since the caching mechanisms in ARM [are not yet up to date](https://github.com/Azure/azure-func

[2020-05-18 15:56] lansal15 commented on #1883
I had to also change references from "kube-system" to "keda-fn" to get this to work

error:
error: the namespace from the provided object "kube-system" does not match the namespace "keda-fn". You must pass '--namespace=kube-system' to perform this operation.

[2020-05-18 19:20] mhoeger commented on #1979
@anthonychu - it looks like there's already code paths for python version checking in core tools but not node.

Do you think it makes sense to have the node error which comes from the node worker? the error would: 1. explicitly say what versions are expected and 2. suggest other versions with the version matrix? https://docs.microsoft.com/en-us/azure/azure-functions/functions-reference-node#node-v

[2020-05-18 19:54] alpizano commented on #1991
@evandropomatti has it been supported yet? I am also on Ubuntu 20.04

[2020-05-18 21:06] evandropomatti commented on #1991
@alpizano I'm using SDK 19.04 on Ubuntu 20.04 and it is working, however there is no official support for 20.04. If you check the documentation there's nothing there yet, it's too recent but soon they'll release it I'm sure.

[2020-05-18 21:39] anthonychu commented on #1979
@mhoeger Good points. I think it might make sense to keep the version check in the Node worker because it needs to run the same check when running outside of Core Tools, like on Azure or in a container.

I think Python is a little different in that we ship a different worker for each Python version, so something else (Core Tools) needs to perform the check.

Agree with this to address #1988

I thi

[2020-05-19 12:14] thepont opened #1995 "Value cannot be null. (Parameter 'provider')"
Similar issue to #1924. When I type `func start` in a nodejs project on Arch Linux I am getting the following error error.

[code]
enabling `CLI_DEBUG` results in the following trace:

[code]

I have attempted to find and delete the Extension bundles on my system haven't been able to.

This seems to be the corresponding line where it is quitting.
https://github.com/Azure/azure-functions-core-tools

[2020-05-19 18:17] anthonychu commented on #1995
@soninaren This might be a bundles problem. Could you please take a look?

[2020-05-19 18:23] anthonychu commented on #1990
@ahmelsayed @ankitkumarr Could you please take a look? Thanks.

[2020-05-19 18:31] anthonychu commented on #1985
Update: The Core Tools release is running about a week behind. Thanks for your patience.

[2020-05-20 17:44] soninaren commented on #1995
Sure, From the core tools output it does look like the host is starting before the bundle download is complete.

@thepont did this work on retry. Can you delete this directory `/tmp/d87a8cf9-a864-42f0-a891-b7e41a7d103d/`. Execute `func new` -> `Ctrl + c` and then do `func start`

[2020-05-20 22:08] thepont commented on #1995
@soninaren thanks for your help here, That has indeed solved the issue for me.

I assume the download was partial due to my internet connection being a bit flakie.

[2020-05-20 23:16] anthonychu opened #1999 "Automatically recover when bundles folder is corrupt"
Sometimes, the bundles folder can become corrupt and the solution is to delete the folder and restart the app. Let's investigate how we can automatically recover for this situation.

Some instances where this was a problem:
* #1924
* #1995

[2020-05-20 23:18] anthonychu commented on #1995
Glad you were able to fix the problem! I've created #1999 to make some improvements as this happens occasionally and it's not obvious how to fix it.

[2020-05-20 23:18] #1995 closed

[2020-05-21 05:35] Francisco-Gamino opened #2000 "Updates to profile.ps1 to improve cold start"
Updates to profile.ps1 to improve in cold start:

* Invoking Disable-AzContextAutosave before Connect-AzAccount saves 2-4 seconds
* Remove unnecessary Get-Module call saves around ~2 seconds

profile template will look like this:

[code]

[2020-05-21 07:37] balag0 commented on #1956
@xinyi-joffre Sorry I haven't been able to investigate this.
Can you try setting "--build-remote true" in the az deployment command on the same function app. Let me know if that doesn't work.

[2020-05-21 14:39] KevinBuchs opened #2001 "permission denied when trying to install"
Ubuntu 18.04. Running as root:
[code]
Attaching log file from npm:

[2020-05-21T14_27_44_280Z-debug.log](https://github.com/Azure/azure-functions-core-tools/files/4663013/2020-05-21T14_27_44_280Z-debug.log)

[2020-05-21 14:42] KevinBuchs commented on #2001
And, of course it works to install locally, without the "-g".

[2020-05-21 14:45] jclaessens97 opened #2002 "Value cannot be null. Parameter name: Provider error on func start"
I have the same issue as #1924 but that issue is closed and I can't interact with it anymore. I'm also on MacOS but cleaning the folder as described in the thread did not work for me. I'm trying to run with `sls offline`.

I searched for a few hours but didn't came across something so I created a stackoverflow question [here](https://stackoverflow.com/questions/61934486/serverless-azure-offline-va

[2020-05-21 14:57] jclaessens97 commented on #2002
Oops. Apparently #1995 and #1999 are also related to this issue.

[2020-05-21 14:57] #2002 closed

[2020-05-21 14:59] jclaessens97 commented on #1999
As mentioned in #2002 and [here](https://stackoverflow.com/questions/61934486/serverless-azure-offline-value-cannot-be-null-parameter-provider)  it seems to me that deleting the folder in my case is not the solution to this problem.

[2020-05-21 16:30] anthonychu commented on #2002
@jclaessens97 If possible, can you share the project (including the offline files)? It's possible that this is not the same root cause as #1999. Thanks!

[2020-05-21 16:34] jclaessens97 commented on #2002
What do you mean by 'offline files'? The bundle?

[2020-05-21 16:54] anthonychu commented on #2002
When you run `sls offline`, it should generate some folders/files that are needed to run the app locally. I'm trying to repro by following the quickstart and I'm not able to run `sls offline` because of an incompatible Node version. So if I can somehow see your app, I might be able to figure out what's going on. Thanks.

It looks like the instructions on serverless.com could be out of date. While

[2020-05-21 17:36] jclaessens97 commented on #2002
I removed my node_modules and [zipped](https://github.com/Azure/azure-functions-core-tools/files/4663861/AgoraTokenGenerator.zip) the project (since it's a private repo).
It generated host.json and local.settings.json. One oddity I found in the provider section was that on one place they use `region` and on the other `location`. Tried both, didn't work. Thanks for taking the time to investigate th

[2020-05-21 18:16] anthonychu commented on #2000
@Francisco-Gamino Will you be adding this? Thanks.

[2020-05-21 18:20] anthonychu commented on #2001
As a workaround, can you please try creating the folder first at `/usr/local/lib/node_modules/azure-functions-core-tools/bin` and then run the npm install command again with `sudo`? Thanks.

[2020-05-21 18:49] anthonychu commented on #2002
Thanks for the zip file and for reporting this. I was able to repro the issue and found a bug is the Serverless plugin. Please open local.settings.json and set the runtime value to `node` instead of `nodejs`. Created https://github.com/serverless/serverless-azure-functions/issues/467 to track.

[2020-05-21 20:27] Francisco-Gamino commented on #2000
Yes @anthonychu, I will have a PR ready with this change today.

[2020-05-21 21:08] KevinBuchs commented on #2001
Hi @anthonychu - if you read through my transcript carefully you will note that I already tried that. I was able to create the folder and yet the installer still failed. I was running this as root, so I have to believe the error message is bogus and it is really not a permissions issue.

[2020-05-21 21:20] jclaessens97 commented on #2002
That does fix it indeed 🙌 Thanks!

To close this, I may suggest to change the message I was getting maybe? Provider was not null so it was very confusing for me 😅

[2020-05-21 21:53] flaurida opened #2003 "Error: Cannot publish local code to function app"
Hi Azure team,

I am trying to publish my local code to a function app. It gets through the initial steps but fails on the `Syncing triggers...` step with the following error: `Azure.Functions.Cli.Common.CliException: Error calling sync triggers (BadRequest)`. It was working earlier, the only difference is I switched to a premium plan. I am using Linux and Node.js. Please let me know if I can prov

[2020-05-21 21:56] balag0 commented on #2003
Can you share the function app name? Or the region of the function app and timestamp.

[2020-05-21 22:02] flaurida commented on #2003
The function app name is `spirit-api`. I am investigating if the storage account being in a different resource group is part of the problem. Thanks for the quick reply!

[2020-05-21 22:03] flaurida commented on #2003
I just tried moving the storage account to the same resource group and am seeing the same error.

[2020-05-21 22:06] flaurida commented on #2003
If it helps, the debug logs are showing `"Code":"BadRequest","Message":"Encountered an error (ServiceUnavailable) from host runtime."`

[2020-05-21 22:37] balag0 commented on #2003
Thanks. Looks like mounting the storage account is failing. The resource group of the storage account shouldn't matter. I am still investigating to see why it is failing and will update here when I have more.

[2020-05-21 22:38] flaurida commented on #2003
Hi @balag0 interesting...for what it is worth, I created a new function app and was able to publish to that one.

[2020-05-21 22:43] balag0 commented on #2003
Glad you got it working. It might have been some transient networking issue if the same storage account works fine now.. Feel free to open a new issue if you have any other questions.

[2020-05-21 22:43] #2003 closed

[2020-05-21 23:10] flaurida commented on #2003
Thanks!

[2020-05-22 14:23] sanjay1913 opened #2005 "How to get GET-AZ command to get Azure Function master and default App Keys .. Using AZ 3.8... Any quick response?"

[2020-05-25 19:33] aggieben commented on #1963
I see that this has been "Triaged".  Could someone from the team share what that means, whether or not there is a workaround I could use right now, whether this is something that will be worked on?

[2020-05-26 08:48] ankitkumarr commented on #2001
@KevinBuchs,  can you try with `--unsafe-perm true` as our project readme suggests --
`npm i -g azure-functions-core-tools@2 --unsafe-perm true`?

[2020-05-26 13:02] deepbass commented on #1899
Hi this has completely scuppered me - I'm attempting the fix now but its pretty critical that I can't do a release from a linux agent to a python function app. Is this being addressed soon?

[2020-05-26 18:47] aggieben commented on #1963
It seems that https://github.com/microsoft/msbuild/issues/4494 might be related to this; perhaps there was a regression in one of the recent .NET Core SDKs?

I have implemented a workaround by adding the following to a `Directory.Build.targets`:

[code]

[2020-05-26 19:12] anthonychu commented on #2005
@sanjay1913 Is this using the PowerShell module? @Francisco-Gamino can you help?

[2020-05-26 22:23] KevinBuchs commented on #2001
Yes, that works. I didn't do that because the instructions displayed didn't say to, in the attached screen shot.

It seems odd that a local install worked nestling everything under the node_modules/azure-functions-core-tools, but the global install has to do something more. Also, I would have to say requiring an option with the word "unsafe" is not very appealing. In fact, the option is not even d

[2020-05-26 23:19] arsenvlad commented on #1883
Just confirmed that I see the 2 issues described above when using the latest version 3.0.2534 (func version). To summarize:

1. There is a missing --- in the generated yaml
2. There are two instances of static/hardcoded "kube-system" namespace value instead of the value provided via --namespace parameter of "func kubernetes install" command in the generated yaml

Screenshots to help see the issue

[2020-05-26 23:33] #1988 closed

[2020-05-27 04:47] anthonychu commented on #1883
@ahmelsayed Can you please take a look at these 2 issues?

[2020-05-27 05:05] anthonychu commented on #1899
@ankitkumarr Do you know if this will be fixed in an upcoming release?

[2020-05-27 18:05] #1979 closed

[2020-05-27 19:21] Francisco-Gamino commented on #2005
We do not have cmdlet to do this yet. I have opened an issue to add support for this in the Az.Functions cmldets. For more info, please see https://github.com/Azure/azure-powershell/issues/12005.

[2020-05-27 20:38] brettsam commented on #1787
Is this a dupe of https://github.com/Azure/Azure-Functions/issues/1604?

[2020-05-27 20:39] brettsam commented on #1684
@ankitkumarr / @yojagad -- is this one done? If so, can we close?

[2020-05-27 20:41] anthonychu commented on #1787
This is for Core Tools to create a local project that either PS6 or PS7. https://github.com/Azure/Azure-Functions/issues/1604 is for the az cli to create a PS7 app.

[2020-05-27 21:02] Francisco-Gamino commented on #1787
Yes, it is. I have already implemented the code change, but I have not submitted a PR yet. This change has a dependency on the clients Portal, Az CLI, and Az.Functions cmdlets to have the ability to create a PowerShell 7.0 function app.

[2020-05-28 11:00] #1956 closed

[2020-05-28 18:13] anthonychu commented on #1963
@aggieben "Triaged" means that we've looked at it and it's in our backlog to investigate further.

Can you check if it works if you have a reference to the Functions SDK like this https://github.com/Azure/azure-functions-templates/blob/2f6b05cbcae21dea993f386702b314605a5cfa4d/Functions.Templates/ProjectTemplate/FSharp/Company.FunctionApp.fsproj#L8 ?

It's needed for some file operations.

[2020-05-28 22:09] ryancole opened #2013 "After introducing a FunctionsStartup class to my project, I get: Could not load file or assembly Microsoft.Extensions.DependencyInjection.Abstractions"
I've had an Azure Functions v2 application I've been working on for awhile, and recently decided to use dependency injection to inject my Entity Framework `DbContext`. So, I followed the documentation, which seemed pretty minimal, and added a `Startup.cs` file, with the following `FunctionsStartup` class ...

[code]

I also added the `Microsoft.Azure.Functions.Extensions` dependency, as shown belo

[2020-05-28 22:48] ryancole commented on #2013
So I started a blank Azure Function v2 project, and left it empty - no functions defined. I added the `FunctionsStartup` class, with just a `Console.WriteLine` in it - and that works as expected. I tried adding in my Entity Framework library, and that introduces the errors. So the error must be something with how I'm trying to inject Entity Framework, but the `FunctionsStartup.Configure` method is

[2020-05-28 22:59] ryancole commented on #2013
I think I've got a tiny reproduction of what I'm dealing with. If you just create a brand new, empty Azure Function v2 project (no defined functions needed), and add a `Startup.cs` file with the following contents, you should see my error ...

[code]

This produces the following error when I run this locally ...

[code]

I figure I must be injecting `DbContext` all wrong - any pointers?

[2020-05-29 02:17] ryancole commented on #2013
Figured it out. I'm using too new a version of EF library for the function host it looks like.

[2020-05-29 02:17] #2013 closed

[2020-05-29 10:54] stmax82 commented on #1663
Just ran into this too :/ poor F# wants some love...

![image](https://user-images.githubusercontent.com/6381927/83252335-58d42880-a1ab-11ea-93ad-dc7dccf66222.png)

[2020-05-30 11:08] angelcervera commented on #1991
I try to install it in  Ubuntu 20.04 and it is not working following the README for 19.04.
[code]

[2020-05-30 20:11] anthonychu commented on #1991
Prioritizing this for an upcoming sprint.

[2020-06-01 22:11] Hazhzeng commented on #1700
Hi @soninaren ,

I'm also facing this issue now `Value cannot be null. (Parameter 'value')`.
Using CoreTools 3.0.2534

[2020-06-01 23:01] soninaren commented on #1700
@Hazhzeng. This is very likely caused by incomplete download of extension bundle

For Windows:
- Delete the contents of this folder `C:\Users\{user}\AppData\Local\Temp\Functions\ExtensionBundles`

For Linux:
- Find the extension bundles folder and delete it  `find /private/var -name "ExtensionBundles" -print 2>/dev/null` (from https://github.com/Azure/azure-functions-core-tools/issues/1924#issueco

[2020-06-01 23:47] anthonychu commented on #1700
This happens frequently enough and it's not clear how to resolve it. I'd love to see if we can automatically detect this and fix it. #1999

[2020-06-02 00:19] Francisco-Gamino opened #2014 "[Az.Functions] Need a cmdlet to install the Core Tools"
## Description
In order to do local development for functions, the customer needs the Az.Functions module + Core Tools. Need a cmdlet that installs the Core Tools.

Make sure we have a way to upgrade to the next version.

[2020-06-02 00:22] Francisco-Gamino commented on #2014
cc: @anirudhgarg @eamonoreilly @anthonychu

[2020-06-02 00:47] anthonychu commented on #2014
Makes sense. Should this script be hosted on the CDN as well (to be consumed by VS Code extension, choco package, etc)?

[2020-06-02 01:08] Francisco-Gamino commented on #2014
I was thinking to host the script in the Core-Tools repo and have a `https://aka.ms` link point to it.  The PowerShell team does something like this. Here is how the script will get executed  on the customer side from PowerShell:

`iex "& { $(irm 'https://aka.ms/install-powershell.ps1')} -UseMSI"`

where `https://aka.ms/install-powershell.ps1` points to `https://raw.githubusercontent.com/PowerShel

[2020-06-02 01:11] anthonychu commented on #2014
That sounds good to me. Will the script be signed?

[2020-06-02 02:01] ankitkumarr commented on #1899
Looks like the [issue tagged](https://github.com/microsoft/azure-pipelines-tasks/issues/12342) was assigned recently, I added another comment there. Once that is fixed, this should be resolved.

In the meanwhile, you can manually add a step for `chmod a+x /usr/local/bin/azure-functions-cli/gozip` in your Devops pipeline before you run `func azure functionapp publish` command to mitigate the proble

[2020-06-02 02:21] soninaren commented on #1700
@anthonychu you are correct about the frequency of the issue. The root cause has been very difficult to detect. That being said we can definitely add some defensive measures to make sure the bundle is fully downloaded before we move ahead.

[2020-06-02 02:33] Francisco-Gamino commented on #2014
This is going to be a thin wrapper for the MSI, so signing will not be required.

[2020-06-02 04:00] mattgillard opened #2015 "Exception - invalid wire type 7"
hi

Working on this Learn Module which works in Edge (83.0.478.37) and causes an exception in firefox (v76.0.1) then the azure-functions-core-tools dies (running version azure-functions-core-tools@2.7.2508).

https://docs.microsoft.com/en-us/learn/modules/build-api-azure-functions/10-exercise-cors-frontend

Exception has occurred: Error
Error: invalid wire type 7 at offset 539
    at BufferReader.

[2020-06-02 18:08] anthonychu commented on #2015
@mhoeger Can you please take a look at this? Thanks.

[2020-06-03 05:50] yubozhao commented on #1031
Would love to see any update/news on this feature.

[2020-06-03 10:09] NANASHI0X74 opened #2017 "SSL problems affecting much of func's functionality"
I have func installed on ubuntu 20.04 via:
[code]

but a lot of commands fail because of SSL related errors:
- `func new` errors with:
[code]
(This is the only output and I don't know how to access the 'inner exception')
- I was able to run `func init` in a typescript project, but when I try to run `func start` it fails with following output:
[code]

[2020-06-03 10:25] IanKemp opened #2018 "Wiki entry on how to build this repo would be appreciated"
It seems you need go installed and on the system PATH, as well as .NET Core 2.2 (why not 3.1?).

[2020-06-03 11:23] IanKemp opened #2019 "Build status links in the README for master and dev lead to 404s"
Is `https://azfunc.visualstudio.com/Azure%20Functions` a Microsoft-internal machine?

[2020-06-03 14:04] anthonychu commented on #1031
@anirudhgarg @vrdmr Do you have the latest guidance on this?

[2020-06-03 21:27] soninaren commented on #1700
@daxay, Core tools is only supposed to download a bundle if a newer version of extension bundle is available. Otherwise it is supposed to use the bundle that is already downloaded to the temp folder. Checking for a newer version of bundle should only need to download a few bytes.

I suspect the combination of the following 2 issues are causing this.
1. When the core tools tries to download the ext

[2020-06-03 21:45] daxay commented on #1700
@soninaren , I agreed with you about the Core tools behaviour on partially successful.

[2020-06-03 23:00] #2005 closed

[2020-06-04 17:34] anthonychu opened #2020 "Cannot build a working Docker container for a Python app"
Reported by Customer:

---

OS: Mac OS Catalina 10.15.4
func version: 3.0.2245

[code]

Same steps and results occur when trying to build and deploy a JavaScript function as well.

Is there anything I'm missing to deploy an Azure Function to Kubernetes ?

Note that if I manually build the container image using the Dockerfile available it almost works, there is one extra step required that could al

[2020-06-04 18:30] anthonychu opened #2021 "New command: func azure functionapp create"
Needs discussion: A simplified command for creating function apps. Creates storage and app insights as well. Calls az behind the scenes.

[code]

Automatically creates storage and app insights.

Optional params:

* `--os [windows|linux]` - defaults to linux unless not supported for runtime (inspect local functions folder for runtime/language)
* ` --sku [consumption|premium]` - defaults to consumpt

[2020-06-04 21:15] chryw opened #2022 "Settings must be of the form "name=value". error when running func start"
# Problem
I'm getting this error when I run `func start` locally. It's a similar error message like #949 .

[code]

The deployed function app works fine. I just can't figure out how to run it locally.

# Environment and settings
OS: Mac OS X 10.15.5
func version: 3.0.2534
Language: node v12.17.0
Storage connection string: not emulator, not placeholder.
[code]

# Additional notes

When I first crea

[2020-06-04 21:49] chryw commented on #2022
False alarm 😹 Sorry!
I did these and it's working again:
1. Renamed the current `local.settings.json` (just so that I can compare)
2. Run `func init`.
3. Run `func azure functionapp fetch-app-settings <my-app-name>`.

I looked at the new local.settings.json file and it looks the same as the previous one. No idea what happened but problem solved. Maybe some hidden files or cache got refreshed...🤷‍♀

[2020-06-04 21:49] #2022 closed

[2020-06-05 00:36] Francisco-Gamino opened #2023 "Add a better error message when trying to publish a function app to a subscription where the user does not have write access"
This issue was reported by a partner team.

Currently, when trying to publish a function app to a subscription where the user does not have write access, the error message says `Can't find app with name <functionAppName>`. However, this is confusing given that the user is able to see the function app(s) in the Portal or via Az.Functions.

Repro steps:

[code]

[2020-06-05 00:37] Francisco-Gamino commented on #2023
cc: @JamesWTruher

[2020-06-05 22:34] caleb-motivity commented on #1963
I also came across this issue. I created the function using:
`dotnet new func --language F#`
`dotnet new timer --language F# --name Timer`

@anthonychu The fsproj file has a reference to the Functions SDK:
[code]

I used @aggieben 's workaround with the BeforeTargets hook to copy the files to the output directory which works for the time being. Thanks!

[2020-06-05 23:35] aggieben commented on #1963
This issue should definitely not be closed, @anthonychu.  The bot is quick on the “no activity” trigger, not to mention that the Ball is actually in MSFTs court.  The fact that we have a crappy workaround doesn’t change the fact that this is broken out of the box.

[2020-06-06 00:26] anthonychu commented on #1963
Thanks @caleb-motivity. I'm able to repro the issue. Reopening for investigation.

https://github.com/anthonychu/20200605-fsharp-func

[code]

Likely an issue with .NET SDK or functions templates.

@aaronpowell Do you know what's happening here?

/cc @fabiocav

[2020-06-06 05:00] GideonWislang opened #2024 "System.Private.CoreLib: The remote certificate is invalid according to the validation procedure."
I'm developing functions locally on MacOS using bindings pointing to the CosmosDB Emulator which is on a parallels Windows VM. I followed the documentation and installed the SSL Certificate which allowed me to connect to the Cosmos Emulator on my Mac via browser and VSCode: Azure databases extension with no problem.

I'm currently having trouble with my locally run functions connecting to the Cosm

[2020-06-06 05:02] GideonWislang commented on #2017
Same issue, did you manage to resolve it?

[2020-06-06 05:35] anthonychu commented on #2017
@GideonWislang From the error in #2024, it looks like the SSL error is caused by the cert from the Cosmos DB emulator in Parallels not being trusted by func on macOS, which might be different from this issue (looks like a cert error from the CDN while downloading extension bundles). We can troubleshoot in the other thread.

@NANASHI0X74 Are you still experiencing this error? Can you try to access

[2020-06-06 05:44] anthonychu commented on #2024
Can you confirm that you can access a Cosmos DB instance in Azure? Just want to confirm that the problem is specific to the Cosmos DB extension talking to the emulator in Parallels.

Have your restarted your machine after you trusted the cert? Doubt it'd help as you can access the emulator with other apps on your Mac, not sure if func somehow has things cached.

[2020-06-06 06:14] GideonWislang commented on #2024
Yeah I can access a Cosmos DB instance in Azure and just gave it a restart and seems to still be happening.

[2020-06-06 13:14] NANASHI0X74 commented on #2017
I can access that URL. I've never been able to get func running properly like I intended actually, had the same error a few weeks ago, but eventually gave up fixing it and did what I wanted manually. Now I wanted to test a function's logic locally, but worked around the problem by starting a local express server

[2020-06-07 12:47] GideonWislang commented on #2024
Hey @anthonychu did you manage to find a solution?

[2020-06-07 15:25] anthonychu commented on #2024
@southpolesteve Any thoughts on this?

[2020-06-08 06:48] nickwinger commented on #1409
i have this exception running rider

[2020-06-08 20:37] anthonychu opened #2025 "Default IsEncrypted to false if not supplied in local.settings.json"
If `IsEncrypted` is *not* set in local.settings.json, default it to false. (currently defaults to true)

This may be a breaking change for some folks who were using encryption but not explicitly setting `"IsEncrypted": true`. In this situation, we could print a warning if the setting is missing but the values or connect strings appear to be encrypted.

/cc @johnpapa @burkeholland

[2020-06-09 01:45] aaronpowell commented on #1963
I wonder if it's related to https://github.com/Azure/azure-functions-durable-extension/issues/1140 (and the observations I noted there).

I'll have a dig at it.

[2020-06-09 04:25] aaronpowell commented on #1963
It looks like the problem is related to the F# project template.

Let's take a look at the project file here: https://github.com/Azure/azure-functions-templates/blob/dev/Functions.Templates/ProjectTemplate/FSharp/Company.FunctionApp.fsproj#L11-L17

[code]
Both of these items are `<None>` with a "include type" of `Update`. What happens here is that when MSBuild runs it will update any reference to

[2020-06-09 05:55] anthonychu commented on #1963
🤯 Thanks for tracking this down @aaronpowell!

/cc @fabiocav

[2020-06-09 21:10] anthonychu commented on #2017
@NANASHI0X74 Are you still seeing this error? We've validated that the SSL cert is correct. Are you behind a proxy?

[2020-06-09 21:12] anthonychu commented on #2018
@ahmelsayed Do you have any developer guides that we can add to the wiki? @mattchenderson FYI for contributor guide.

[2020-06-09 21:14] anthonychu commented on #2019
Thanks for bringing this up to our attention. We'll look into making it public.

[2020-06-09 21:27] anthonychu commented on #2024
@GideonWislang Are you still getting this error? Were you able to find a workaround or fix?

[2020-06-10 01:57] GideonWislang commented on #2024
Yeah so no fix but I was able to find a workaround which was just running the functions on the parallels then just ssh into it to monitor logs. Able to easily edit the functions as the directory where the functions are stored is shared.

[2020-06-10 07:59] JADawson opened #2026 "Local Debug for Azure Functions failing due to missing libraries"
Good morning - we have a Azure Function App in development running a series of Python based functions.

**Python - 3.7.7
azure-functions-core-tools@3.0.2534**

Until yesterday, this was running fine both in local debug (Attach to Python Functions) and when deployed to the function app in Azure.

As of yesterday (20200609) it started hitting a series of missing imports within the azure-functions-co

[2020-06-10 08:07] zhenming91 commented on #2026
It looks like I am not the only one facing this particular issue with the modules. From yesterday, the local debug doesn't work as usual with the same error.

[2020-06-10 08:29] JADawson commented on #2026
Hi @zhenming91  - glad I'm not the only one, this was driving me crazy.

I did two more tests:
1) Created brand new Function App from Visual Code with simple HTTP trigger. Venv based on Python 3.7. Local Debug generated the same error.
2) Same as above with Python 3.8.3 venv - same error.

Obviously local debug is critical to ongoing development, please can you look at this asap?

[2020-06-11 04:43] luabud commented on #2026
This doesn't seem to be an issue in the Python extension, this can also be reproduced with other extensions such as CMake Tools and Docker. We're tracking the issue upstream in the VS Code repo here: microsoft/vscode#99699.

FWIW I can still reproduce the same issue when manually installing previous versions of the Python extension, so I'm not sure what is going on.

[2020-06-11 05:33] anthonychu commented on #2026
Interesting. I updated to v2020.5.86806 and debugging functions works again.

[2020-06-11 05:48] aswin-limner commented on #2026
Thank you @Hazhzeng, @anirudhgarg for the fix, the debug works fine now.

[2020-06-11 06:50] coditmarc commented on #2026
Reverted to version 2020.5.80290 and debugging is working again. Will check v2020.5.86806 now.

[2020-06-11 06:53] coditmarc commented on #2026
It appears that v2020.5.86806 is working for me as well. Thanks for the support!

[2020-06-11 16:42] SamGinzburg commented on #2026
I checked v2020.5.86806 as well - still broken for me

VScode info:
Version: 1.46.0 (user setup)
Commit: a5d1cc28bb5da32ec67e86cc50f84c67cc690321
Date: 2020-06-10T09:03:20.462Z
Electron: 7.3.1
Chrome: 78.0.3904.130
Node.js: 12.8.1
V8: 7.8.279.23-electron.0
OS: Windows_NT x64 10.0.19041

[2020-06-11 18:02] anthonychu commented on #2020
I will check with the person who submitted this for more information.

[2020-06-11 19:05] Hazhzeng commented on #2026
VSCode has just released the latest version (2020.5.86806) of Python Extension.
Please update the extension to the latest version and it will fix this issue.

[2020-06-11 19:05] #2026 closed

[2020-06-12 08:19] janpro0706 commented on #2017
similar issue on Ubuntu 18.04, azure-function-core-tools@3.
I initiated with Azure functions extensions in VSCode. then, ran in locally with [F5]. But, got error log:

[code]
I also found that it works fine sometimes. It worked fine when 'ExtensionBundles' is downloaded and copied to '/tmp/Functions' correctly, otherwise, got error. I wonder that this issue also related to SSL error.

[2020-06-13 17:45] anthonychu commented on #1131
Here's a proposal. Please provide feedback, but would like to start making these changes soon.

## Goals

* Minimize noise
* By default, display only information that is necessary
* Use formatting and coloring to emphasize/de-emphasize output based on importance
* Display key info in a summary view after long operations

## Changes

The main changes are:
* Add a `--verbose` flag
* Change default t

[2020-06-14 01:04] andycmaj opened #2031 "debug inspector fails to release port on restart"
running into a problem when i have the node debugger started on port 5858 and i change a file that triggers a `func` process restart.

command used to run functions:
[code]

specifically, after a file change triggers a restart, indicated by this:

[code]

... i see this appear a bunch of times:

[code]

here's the full log.

[code]

[2020-06-15 10:05] RufusJWB opened #2032 ""Can't publish Azure Funciton. Getting error: Publish has encountered an error. We were unable to determine the cause of the error.""
I can’t Publish Azure Functions project to certain Azure datacenter.

I tried:

- Deleting Publish Profile
- Redownloading Publish Profile
- Stopping/Restarting Azure Function from portal
- Switching from .Net Core 3.0 to 2.2
- Creating a total new empty project

It works for some datacenter but not for most of them

This is error from the error box in Visual Studio:

And this is the content of th

[2020-06-15 13:40] Kaushik27 opened #2033 "Error: self signed certificate in certificate chain"
When ever I am trying to execute the following command:
**npm install -g azure-functions-core-tools@3 --force,**
I am getting the following error:
**attempting to GET "https://functionscdn.azureedge.net/public/3.0.2534/Azure.Functions.Cli.win-x64.3.0.2534.zip"
using proxy server "http://******:*******@********.********.com"
Error: self signed certificate in certificate chain
+ azure-functions-core

[2020-06-15 16:51] IanKemp commented on #2018
BTW, the reason I'd like this info: I am able to build this repo, but the sizes and versions of the output files are completely different to those available for download here. In other words, what I'm building doesn't seem to be the same as what Microsoft is building. This does not give me confidence in either my build environment or Microsoft's.

[2020-06-15 17:09] rgime commented on #1991
There is a schedule/deadline for the Ubuntu 20.04 support ?

[2020-06-15 19:08] ahmelsayed commented on #2018
Are you building dev branch or the v3.x branch? the dev branch should be on .netcore 2.2, and v3.x is on 3.1. The build project though hasn't been updated in the v3 branch, I opened these PRs (https://github.com/Azure/azure-functions-core-tools/pull/2035, https://github.com/Azure/azure-functions-core-tools/pull/2034)

Usually when I'm testing locally I just do

[code]

but that will only build the

[2020-06-16 01:01] southpolesteve commented on #2024
I'm not sure how this works for .NET. NodeJS has an env var that will turn off cert checks, but I don't know if anything like that exists for .NET. @ealsur an ideas?

[2020-06-16 02:17] ealsur commented on #2024
We tested running the Emulator running in a Windows VM inside a Mac following these steps: https://docs.microsoft.com/en-us/azure/cosmos-db/local-emulator#running-on-mac-or-linux

[2020-06-16 06:38] IvanJosipovic commented on #1926
Keda has a Cron scaler, why doesn't the code map to this scalar?
https://keda.sh/docs/2.0/scalers/cron/

[2020-06-16 07:34] heavenwing opened #2036 "func init --docker-only generated Dockerfile should include WORKDIR command"
func init --docker-only generate Dockerfile content is:
[code]
My image using this Dockerfile is working when run in Ubuntu
but it's not working when run in CentOS
I use this [reference] (https://stackoverflow.com/questions/51598627/access-to-the-path-proc-1-map-files-is-denied-net-core-2-1-centos-7) to resolve my problem.

Correct Dockerfile is
[code]
adding this line **WORKDIR /home/site/wwwroot

[2020-06-16 08:08] GideonWislang commented on #2024
Perfect! what would it be as they are NodeJS function.

[2020-06-16 08:10] GideonWislang commented on #2024
Yes this is what I followed when setting it up, works great just can't connect to it via azure functions core tools.

[2020-06-16 10:12] IanKemp commented on #2018
That's helpful, thank you, but it's still not providing the output I expect.

For example, when building the `v3.x` branch, the `Microsoft.Azure.WebJobs.Script.dll` in the `artifacts` directory is version 3.0.13614, but the latest version of the host runtime is [3.0.13901](https://github.com/Azure/azure-functions-host/releases/tag/v3.0.13901). Further, version 3.0.13760 is currently deployed to Az

[2020-06-16 11:54] IanKemp commented on #2018
OK, missing step was to update  `Azure.Functions.Cli.csproj` to have the desired version of `Microsoft.Azure.WebJobs.Script.WebHost`. After a bit more messing around with cleaning, I now have binaries that do what I need.

[2020-06-16 15:19] ealsur commented on #2024
Are you using the .NET Cosmos SDK in Azure Functions? Or using the bindings? Did you change the connection policy by any chance to Direct (should be Gateway for this to work)

[2020-06-16 15:27] southpolesteve commented on #2024
For NodeJS, you can turn off TLS checks by setting this env variable https://nodejs.org/api/cli.html#cli_node_tls_reject_unauthorized_value

The error looks like it is coming from the .NET functions tool though. Not the JS code.

[2020-06-16 15:33] anthonychu commented on #2024
Yeah looks like this is the bindings not able to connect, so Node.js settings are likely to have no effect.

@GideonWislang could try pulling in the Cosmos DB SDK and see if that makes a difference (disabling Node.js TLS if needed). That's not really solving the problem but could be a workaround.

@ealsur Do you know if a .NET app in macOS was used for this test?

[2020-06-16 15:38] anthonychu commented on #1999
Another error related to this:

[code]

[2020-06-16 16:11] ealsur commented on #2024
Yes, we tested it on a NET Core app running on the Mac and it was working, when the SDK was set to Gateway mode (using HTTPS).

[2020-06-16 17:41] jugheadny opened #2037 "Inconsistent results with Invoke-RestMethod inside of powershell azure function"
I'm experiencing a weird issue and I do not understand the root cause of it.  I have an azure function that leverages powershell v7.  Inside of this function it does a Invoke-RestMethod to the graph api.  Here is an example of the url:
"https://graph.microsoft.com/v1.0/sites/$siteId/lists/$listId/items"

Its getting the list items of a sharepoint list.  The call returns a json payload.  The issue

[2020-06-16 18:23] anthonychu commented on #2033
@Kaushik27 Can you try downloading the file from your browser? Does it give a similar error?

[2020-06-16 18:29] anthonychu commented on #2031
@mhoeger Can you please take a look at this? Do we support hot reloading with Node apps? Thanks.

[2020-06-16 18:45] anthonychu commented on #1131
@EricJizbaMSFT @fiveisprime Any concerns here for VS Code?

@vijayrkn Would this cause any issues for VS?

[2020-06-16 19:12] bnb commented on #1131
The proposed silent output is better, but I'd still like to see more removed plus more whitespace that visually helps separate the different bits of context 😬

[code]

Strongly agree with this.

I do generally like this approach, yes. I've typically seen -v, -vv, -vvv, -vvvv, and -vvvvv used for the different log levels at least in the JavaScript world. npm has documented levels [here](https://doc

[2020-06-16 19:26] vijayrkn commented on #1131
VS does not rely on the output. So I am not expecting any impact. The only question would be - Is it required to surface this option in the VS UI somewhere to trigger the verbose option.

[2020-06-16 19:38] btholt commented on #1131
I like this a lot better. I'd still like to see a brief output of "this function was called" of some variety or at least have that option.

Hey @antempus do you have any thoughts on this?

[2020-06-16 19:50] ahmelsayed commented on #1926
I think we can support it with the new scaler. There will be an implicit assumption there that the function can't take more than the `cooldownPeriod`. In consumption plan on Azure, that's 10 minutes. In Keda that's defaulted to 5 minutes, but the core-tools can default it to 10 to make the behavior similar.

[2020-06-16 19:59] anthonychu commented on #1131
Thanks @bnb. We can definitely clean up the initial output more. Currently planning to leave the ASCII art in, as I think some Azure Functions fans would miss it (I mean, it has its own T-shirt 😄). Perhaps we can add a `--silent` flag in the future that limits output to the absolute minimum.

I thought about taking out the id from the function executing/executed messages, but if there are multiple

[2020-06-16 20:01] mhoeger commented on #2031
@anthonychu - unfortunately no :( The issue is here mainly tracked here: https://github.com/Azure/azure-functions-host/issues/3543

There's a problem with the ordering of process shutdown + spin-up. It typically isn't a problem (and arguably better for perf), but not when debugging. The code area is pretty sensitive, so I'm not totally sure what all would go into this change, but if it should be p

[2020-06-16 20:01] #2031 closed

[2020-06-16 20:03] vijayrkn commented on #1131
normally msbuild output is configurable but custom exe output is not configurable in VS.

[2020-06-16 20:56] EricJizbaMSFT commented on #1131
The only thing that affects VS Code has been mentioned already. We look for "Host lock lease acquired by instance ID" to know when to start debugging, but @pragnagopa is changing that in [this issue](https://github.com/Azure/azure-functions-host/issues/4384). Assuming we can coordinate timing, it might make it easier if we remove the "host lock" message at the same time we add Pragna's new message

[2020-06-16 22:05] #1973 closed

[2020-06-16 22:05] #1770 closed

[2020-06-16 22:25] antempus commented on #1131
I believe that @bnb covered most of my concerns pretty succinctly, although the ASCII should stay 😄.

This is important from my experience in debugging durable functions but once it's deployed, it can be done via App Insights logs traces.

I agree, but there was [discussion ](https://github.com/Azure/azure-functions-durable-js/issues/163#issuecomment-590718421) about suppressing the logs from the

[2020-06-16 23:07] EricJizbaMSFT commented on #1131
Fwiw, I'd give a big +1 for _removing_ the ASCII art. It takes up a lot of real estate, which comes at a premium in most CLI windows. I think it's common to prioritize utility over being "cool/fun/tshirt-worthy" for a CLI, which is why I'm not aware of any other popular cli that does something like this (e.g. git, node, npm, docker, dotnet, az). The ascii art was cool the first time I saw it, but

[2020-06-16 23:14] anthonychu commented on #1131
@EricJizbaMSFT Good point and makes sense. We can remove the logo from `func start`.

[2020-06-16 23:16] JustinGrote commented on #1131
I mean, I kinda like it, helps me know what I'm doing sometimes, how about `func start -nologo`? :)

[2020-06-16 23:19] anthonychu commented on #2036
@heavenwing I don't think there's any harm in adding it. I am curious why it makes a difference for CentOS though. Can you explain the problem more? Are you seeing a container from the same image behave differently when running on a CentOS host compared to on Ubuntu?

[2020-06-16 23:28] mhoeger commented on #1131
+1 for keeping ascii! It helps me visually distinguish runs with `func host start` and I think it's pretty clearly not obscuring any other important information.

Although I do have to admit I just like it too!

[2020-06-16 23:34] antempus commented on #1131
Now I am conflicted, I think @JustinGrote's solution fits here.

[2020-06-16 23:36] EricJizbaMSFT commented on #1131
Lol @anthonychu might be a bit quick to "pick a side" - I fully realize the ascii stuff could have strong opinions both ways and will probably need more deliberation 😂   Might even be worth it's own issue haha

[2020-06-16 23:38] JustinGrote commented on #1131
It works for PowerShell. Powershell vs powershell -nologo

[2020-06-16 23:55] johnpapa commented on #1131
How about a mini version of the ascii art for default. And the big one for verbose!

Also - I think the functions would be super readable if they are laid out and using chalk to color the types and endpoints

[2020-06-16 23:59] aaronpowell commented on #1131
+1 on the colourisation idea from @johnpapa, it can help find the different "level" messages, and also if developers are able to control their colours, that helps find messages easily.

[2020-06-17 08:54] RytisLT opened #2043 "func kubernetes deploy does not honor --min-replicas"
I've tried to deploy a simple HttpTrigger that I've created using the following commands:

[code]

Then I've created a deployment with `min-replicas` set to `3`

[code]

In the resulting deployment file, `osiris.deislabs.io/minReplicas` is set to `1` and there's no `ScaledObject` definition (see yaml below). I was expecting either to see `osiris.deislabs.io/minReplicas: 3` or a `ScaledObject` with

[2020-06-17 09:51] carct opened #2044 "System.Private.CoreLib: Result: Failure Value cannot be null. (Parameter 'value')"
`System.Private.CoreLib: Result: Failure
Exception: Value cannot be null. (Parameter 'value')`

above error is thrown in local-dev runtime environment when calling the HttpTrigger with POST and JSON-format payload on a PowerShell AzFunctionApp-v3
NB: error is thrown before any code is executed
for validation i left in my run.ps1 just the following lines and error was still thrown:
[code]

azure-fu

[2020-06-17 11:16] tforkmann commented on #1963
@anthonychu and @aaronpowell I were running into the same issue. By adding the following itemgroup
[code]
I can confirm that my azure function is executing locally with the latest Azure Function core tool. Thanks for your help on that.

[2020-06-17 11:18] carct commented on #2044
fix = downgrade to 3.0.2245  scenario:

function loads in runtime, successfully serves request and processes payload, make a change to code, save, function runtime reloads everything, send again a request and same error turns up
CTRL+C  to close the runtime, rerun with F5 without changing anything everything works

[2020-06-17 11:23] carct commented on #2044
btw, the `--watch` flag from the `func` CLI does not influence behavior what-so-ever

[2020-06-17 19:47] Kaushik27 commented on #2033
@anthonychu, yeap I am able to download the zip file directly from the browser.
Its just not working when package manager tries to install it.
Let me know if you need anything else.

[2020-06-17 21:51] Francisco-Gamino commented on #1787
This has been fixed, closing issue.

[2020-06-17 21:51] #1787 closed

[2020-06-18 00:34] Francisco-Gamino opened #2046 "func azure functionapp publish should support publishing dependencies (for PowerShell function apps)"
Currently, PowerShell function app dependencies can be specified via `requirements.psd1`.  These dependencies are downloaded and installed on the first function load (either locally or in Azure).

Once the function app is published to Azure, we download the dependencies (again) on the first function load. This contributes to cold start of about ~40 seconds just to install the Az module.

Proposal:

[2020-06-18 00:35] Francisco-Gamino commented on #2046
cc: @AnatoliB @anirudhgarg @anthonychu @eamonoreilly

[2020-06-18 02:50] heavenwing commented on #2036
@anthonychu
I use default Dockerfile to build docker image, it's working in AKS, but not in Aliyun ACK, it report "Access to the path '/proc/1/map_files' is denied ".
And I founded AKS use Ubuntu , ACK use CentOS.
Then I modified this Dockerfile with WORKDIR, it's working in ACK.

[2020-06-18 16:05] nanan1993 opened #2047 "How can I test azure function with https easily in local?"
I want to test Azure Function Http trigger locally on windows.

When I run ```func start --port 5007 --useHttps```
I got error : Auto cert generation is currently not working on the .NET Core build.

It seems like that I should use command ```func start --port 5007 --useHttps --cert certificate.pfx ``` after I creating a self-signed certificate locally.

Is there a way to enable https easily?

The

[2020-06-18 16:48] trallard commented on #1131
Thanks for looping me in! Here are some thoughts:

- +1 on using colourization to allow for easier identification of log levels, endpoints and other relevant features (this can also help identify different logging levels i.e. error, info)
- I am all for being able to have the `silent` output as the default and the `--verbose` as a flag that folks can use as needed.

Definitely! Also enabling the u

[2020-06-18 17:23] bnb commented on #1131
Huge +1 to this. It consumes a lot of space for little utility other than being nice branding. Perhaps add in the env var now with the plan to eventually flip it so that you need an env var to show it if you'd like it there 👍

[2020-06-18 17:54] robconery commented on #1131
A downside to the ASCII art is logging and instrumentation - if it gets written to a file we're not doing anyone any good :). I know we dig our branding at MS but it's entirely unnecessary and I agree if we have a `-v` we can show it :).

Here's the output from the Firebase emulator, which I find nice and clean and well laid out. The prompt at the end (`Issues?...`) is especially helpful. Note tha

[2020-06-18 18:09] anthonychu commented on #2047
@nanan1993 Can you share the full output of the command? It should show some instructions on how to set up a cert. Also, what platform are you running on? Thanks.

[2020-06-18 18:12] anthonychu commented on #2044
@AnatoliB @Francisco-Gamino Can you please take a look to see what this problem might be? Thanks.

[2020-06-18 18:14] anthonychu commented on #2043
@ahmelsayed Can you please take a look at this? Thanks.

[2020-06-18 19:03] AnatoliB commented on #2044
@carct Do you have any code in the profile.ps1 file in the root of your app? Does the issue repro if you remove or comment out all the code there?

[2020-06-18 19:51] robconery commented on #1131
Also - here's another CLI bomb from AWS Amplify. This is their error screen telling me that I just screwed up a command. I see ASCII art shouting at me as I try to parse what went wrong:

![screenshot_274](https://user-images.githubusercontent.com/78586/85065570-445bce00-b162-11ea-9c48-0d6c6aab75cb.jpg)

If you can't tell I think ASCII Art is fun in the eyes of the tooling team, maybe not with the

[2020-06-18 23:42] Hazhzeng opened #2048 "Gozip failed with Permission denied in DevContainer"
### Found in Python Durable Bug Bash

When developing Azure Functions in .devcontainer, runnning `func azure functionapp publish <appname>` results in
[code]

Maybe the gozip executable flag is not set? Or the container does not have dependencies that GoZip uses.

### /etc/os-release
[code]

[2020-06-19 01:50] yojagad commented on #1873
Added automated task and instructions to upload MSI, make it available in CDN and verify the same.
https://azfunc.visualstudio.com/Azure%20Functions/_releaseDefinition?definitionId=23&_a=definition-tasks&environmentId=115

https://github.com/Azure/azure-functions-core-tools/issues/1890 will ensure that only the signed MSIs are uploaded.

[2020-06-19 01:50] #1873 closed

[2020-06-19 02:53] nanan1993 commented on #2047
Thanks for your quick reply.
I worked on Win10 locally.
Here is the instructions you mentioned and I know how it will work.
![K4c6b](https://user-images.githubusercontent.com/21194012/85090499-db369200-b217-11ea-905f-7a62e0ddb218.png)
 I am wondering if we can straightly use command ``` func host start --port 5007 --useHttps ``` to start but not to add "--cert certificate.pfx" every time.  As I re

[2020-06-19 18:28] pragnagopa opened #2049 "Allow publishing to V3 app from V2 Core tools"
cc @fabiocav

Publishing to V3 app from V2 Core tools throws following error

[code]

[2020-06-20 19:07] bpossolo commented on #1973
How do we configure the location where this folder gets created?
I'm on mac os 10.15 catalina using the java runtime + mvn `azure-functions-maven-plugin`.
I tried setting the XDG_DATA_HOME before running `mvn azure-functions:run` but the folder keeps getting generated in my project root folder

[2020-06-21 17:16] garrytrinder opened #2050 "Can't determine project language from files"
When F5 debugging in Visual Studio 2019, I get multiple warnings from the CLI tools not being able to determine the project language, but the function is hosted locally with no issues and can be triggered, but the `Hosting Environment` is set to `Production`.

Azure Function Project is `netcoreapp3.1`, in a solution with a class library which is `netstandard2.0`, the Azure Function project is set

[2020-06-21 19:08] ggailey777 commented on #2021
Note that this would make the command line experience basically similar to the Visual Studio Code Functions extension experience when completing the Functions quickstart.

[2020-06-21 21:15] alantang-MSFT opened #2051 "Local debugging in Visual Studio with managed+native"
It doesn't seem like debugging my functions project in Visual Studio respects the "Enable native code debugging" option in the project properties. When I hit F5, func.exe launches but only uses the CoreCLR debugger.

I can, however, launch func.exe manually from the command line, start my functions code and then go back to VS and attach to process with mixed mode debugging. That works but is reall

[2020-06-21 23:46] anthonychu opened #2052 "func init for Custom Handlers"
Parent: #1972

Add `custom` as a worker runtime stack option.

[code]

If `custom` is selected, add empty `customHandler` section to host.json:

[code]

@pragnagopa Is the schema correct? (forgot if we decided to remove `type`). Thanks.

[2020-06-21 23:50] anthonychu opened #2053 "func azure functionapp publish for Custom Handlers"
Parent: #1972

Currently, we need to publish using func azure functionapp publish $functionAppName --no-build --force. Allow publishing without the extra flags.

[code]

Set `FUNCTIONS_WORKER_RUNTIME` to `custom`.

[2020-06-21 23:53] anthonychu commented on #1972
Added issues to track:

* func init #2052
* func new https://github.com/Azure/azure-functions-templates/issues/955
* func azure functionapp publish #2053

[2020-06-22 11:53] carct commented on #2044
@AnatoliB  i have a line for loading modules but behavior is consistent with or without that line

[2020-06-22 15:30] pragnagopa commented on #2052
Updated description with the right schema. `type` defaults to `http`. We can leave it out of documentation.

[2020-06-22 17:39] AnatoliB commented on #2044
@carct I was unable to repro this on a simple app. If possible, could you please share:
- the entire app content;
- the POST request;
- the entire `func start` log.

[2020-06-22 19:50] BorisWilhelms opened #2054 "Update runtime"
Hi,

is there anyway to update the runtime/host without a core tools update? Or do I need to wait for a core tools update in order to get the latest host/runtime (3.0.13904)?

[2020-06-22 20:31] anthonychu opened #2110 "Force Log when host/worker is ready for VS Code debugger to attach when loglevel is set to None"
After discussing with @pragnagopa, it sounds like the initial change in Azure/azure-functions-host#6230 is not quite sufficient for the purposes of VS Code attaching the debugger reliably.

There are 2 issues in particular:
- In-proc .NET apps will not print the new message
- The message is printed with log level Information. If default log levels are changed to Warning, Error, or None, the messag

[2020-06-23 14:52] pasqualedevita opened #2057 "func durable purge-history outputs an incorrect instances deleted count"
Instances and history rows are successfully deleted, but `func durable purge-history` outputs an incorrect instances deleted count.

It seems that purging more than 1000 instances outputs an incorrect instances deleted count. History rows deleted count is correct. Here 3 examples.

---
example 1 --> correct
[code]

[code]
---
example 2 --> incorrect
[code]

[code]
---
example 3 --> incorrect
[code

[2020-06-23 16:32] VladimirKochkinAtSpark opened #2058 "The listener for function was unable to start"
Hello!
I can't run my HttpTrigger function on my local machine. I have got the following error:
![Untitled](https://user-images.githubusercontent.com/57142748/85430283-9a78a900-b588-11ea-933e-c4cf3cdea9aa.png)

I saw the issue, but it doesn't help me.
https://github.com/Azure/azure-functions-core-tools/issues/357

My **local.settings.json**
[code]
My **host.json**
[code]

But if I use real AzureWe

[2020-06-23 16:54] anthonychu commented on #2058
The error message suggests the storage emulator is returning an error. Can you try connecting to your local emulator using another application or with Azure Storage Explorer to confirm it is working?

[2020-06-23 17:14] jeffhollan opened #2059 "Azure CLI updates for premium plan new settings"
`az funcitonapp update` should be improved to surface a few new settings.  One is a new setting that just completed deployment that lets you set the minimum function instance always running for an app.  So maybe `az functionapp update --min-instances 10`.  I don't see a setting for pre-warmed either which could also go in same spot `--pre-warmed-instances 1`

// @anthonychu

[2020-06-23 18:29] milesfrain opened #2060 "Running local functions fails without internet connection"
I cannot run local Azure functions while offline.

Initial setup **with** internet connection
[code]

The above commands work fine. But then if I go offline and re-run `func host start`, I encounter this error:
[code]

#### Version Info
[code]

[2020-06-24 01:05] ankitkumarr opened #2061 "Core Tools v2 missing in APT"
Due to a release bug, Linux APT repository has `azure-functions-core-tools`, `azure-functions-core-tools-2` and `azure-functions-core-tools-3` point to v3.

It should be that `azure-functions-core-tools` and  `azure-functions-core-tools-2` point to v2. We are working on fixing this. In the meanwhile, you can manually download the zip package from our Github releases, extract the zipfile, and call

[2020-06-24 08:58] ankitkumarr commented on #1991
This is now completed.

[2020-06-24 08:58] #1991 closed

[2020-06-24 09:13] gsy0911 opened #2063 "publish got an error message, "Error Uploading archive... (BadGateway).""
When I publish function app Python3.7 on App Service Plan,
I got this error message.

[code]

I solved the issue above myself typing the code below, with the way discussed in https://github.com/Azure/azure-functions-core-tools/issues/903

[code]

The reason I open a new issue is that in the [above issue](https://github.com/Azure/azure-functions-core-tools/issues/903), Mr. ahmedelnably said.

[2020-06-24 14:14] angelcervera commented on #2033
Same error here.

[2020-06-24 15:31] anthonychu commented on #2033
@angelcervera can you share more information about your environment.

[2020-06-24 16:24] phil-allen-msft opened #2064 "Publishing Azure Function to App Service fails with HTTP status code RequestTimeout"
From https://developercommunity.visualstudio.com/content/problem/1080810/publishing-azure-function-to-app-service-fails-wit.html

<OP>
I am completely unable to publish an Azure Function from Visual Studio to App Service.

The first problem is that the dialog displayed to the user is not helpful. It states “We are unable to determine the cause of the error. Check the output log for more details.”.

[2020-06-24 18:47] jeffhollan opened #2065 "Add daprTriggers to those that don't require storage"
I wonder if we're better at this point to only enforce `AzureWebJobsStorage` if it's a timer trigger or event hub trigger rather than today how we allow-list certain ones.  Regardless we are now launching 3 new triggers that don't require a storage account that the core tools block today:

`daprBindingTrigger`
`daprServiceInvocationTrigger`
`daprTopicTrigger`

// @anthonychu @ConnorMcMahon

[2020-06-24 20:10] fabiocav commented on #1890
Resolved by https://github.com/Azure/azure-functions-core-tools/pull/2055

[2020-06-24 20:10] #1890 closed

[2020-06-24 20:13] fabiocav commented on #1684
The work has been completed for:
- Homebrew
- Chocolatey
- Tooling feed

Will be moving this to an epic and creating issues to track the remaining ones.

[2020-06-24 20:28] fabiocav commented on #1980
This was blocked on an issue. Moving to 79 to track

[2020-06-25 14:37] mcopik commented on #1766
@balag0

These are the steps that I'm attempting. I'm running

[code]

Then I'm doing:

[code]

Which usually returns the error I mentioned in my first message. When I open the storage account associated with the function, I can find there a single container "scm-releases". When the publish operation succeeds, I see there three additional containers ("function-releases", "azure-webjobs-secrets", "

[2020-06-25 14:38] anthonychu commented on #2058
Timer trigger requires a storage account, while http does not. If using a timer trigger, make sure the storage emulator is functioning correctly if it is configured to use it.

[2020-06-25 20:15] securityvoid opened #2067 ""CORSCredentials": true in local.settings.json not working for local development"
Adding the CORSCredentials setting to true in local.settings.json; does not appear to result in Access-Control-Allow-Credentials: true, header being added to the HTTP Response even when a valid Origin is passed, and the proper Access-Control-Allow-Origin is returned.

The following is what I have in my local.settings.json:
[code]
I'm running version 2.0.3 of the runtime, and utilizing NodeJS.

Thi

[2020-06-26 06:33] dariagrigoriu opened #2068 "Provide a meaningful out of scope message for remote build"
For hosting environments where remote build is not supported Core Tools should present a meaningful out of scope message rather than an exception.

[2020-06-26 07:45] VladimirKochkinAtSpark commented on #2058
How can I make sure the storage emulator works correctly?

[2020-06-30 01:09] anthonychu commented on #1131
Thanks everyone for your comments.

Here's the current plan for the first iteration of this.
* Do everything described here: https://github.com/Azure/azure-functions-core-tools/issues/1131#issuecomment-643655379
* No logo on `func start` by default. Logo will still appear for `func --help`. (the logo currently doesn't appear anywhere else)

Addressing some of the other comments:
* Supporting more

[2020-06-30 14:13] vjraitila commented on #1963
The suggested workaround has the unfortunate side effect of including the `local.settings.json` among the artifacts deployed into Azure - at least when Azure Functions Tools with VS Code is used.

[2020-06-30 18:10] anthonychu commented on #2054
@BorisWilhelms We currently don't release Core Tools with a new version of the runtime until that runtime has been fully deployed to Azure. In this case, we're probably at least a couple weeks away from that.

[2020-06-30 18:12] anthonychu commented on #2057
Looks like this is not counting properly when there are more than 1000 instances to delete. @cgillum @glennamanns

[2020-06-30 18:16] anthonychu commented on #2058
Can you try resetting the storage emulator? `.\AzureStorageEmulator.exe clear all`

More info here: https://stackoverflow.com/a/38331066

[2020-06-30 18:21] anthonychu commented on #2060
@soninaren Do you think we can skip this check if there's no internet connection?

[2020-06-30 18:25] anthonychu commented on #2063
@gsy0911 This may have just been a transient error that went away when you retried it. Please let us know if it comes up again. Thanks.

[2020-06-30 19:36] BorisWilhelms commented on #2054
Thanks for the info @anthonychu. Is there at least a way to locally update the runtime independently from the core tools, so that I can develop/test with the latest features?

[2020-06-30 20:42] IanKemp commented on #2054
You'll also need to build and reference your own version of the `Microsoft.NET.Sdk.Functions` package, because the runtime and that package reference the same DLLs, and if those DLLs aren't the same version, everything explodes. Yes, I found this out the hard way after going through the effort of figuring out how to build my own version of core tools, and no I didn't bother trying to cook my own b

[2020-06-30 23:57] ankitkumarr commented on #2048
@Hazhzeng, do you have the Dockerfile for this image? How is core tools being installed there?

[2020-06-30 23:59] ankitkumarr commented on #2050
@garrytrinder, do you happen to be missing `local.settings.json` in your function app directory? If so, I would recommend you run `func init` in the function app directory and select `dotnet` and retry.

[2020-07-01 01:01] anthonychu commented on #2048
@ankitkumarr Could it be because func was installed as root but devcontainer runs as a different user? @Hazhzeng which devcontainer are you using?

[2020-07-01 10:39] gsy0911 commented on #2063
@anthonychu Thank you for your reply.

Now, I've got similar error below.
Maybe is this also `a transient error` ?

[code]

Thanks !

[2020-07-01 12:05] aaronpowell commented on #1963
@vjraitila oh that's a good point, I wonder if there's a smarter way to have it excluded from the output. Maybe a conditional include is better.

[2020-07-01 12:11] aaronpowell commented on #1131
@anthonychu I've spent some time in the logging code of the host tool if you need another pair of eyes.

[2020-07-01 15:27] anthonychu commented on #2063
Sounds like there is something unhealthy about this app. Can you email me the app name and the approximate times when these errors occurred? antchu@microsoft.com

Is it continuously showing this error when deploying now or does the error go away after retrying? Is your function app healthy?

[2020-07-01 18:28] fabiocav commented on #1131
@anthonychu thank you for the summary. Can you please also add the logo change to the original issue comment so that contains all of the requirements?

Honestly, as we've discussed in the past, the only concern remains the change in the default behavior. Just as VS Code has a dependency on some of the output we emit today, other users may have similar logic and that would be broken by that (e.g. a

[2020-07-01 19:04] netonjm opened #2069 "Azure Functions output illegible in Light theme and Integrated Terminal"
Hello ! It seems the terminal output colours used in Azure functions don't not allow to differentiate well the text in default white theme.

![image](https://user-images.githubusercontent.com/1587480/86281408-c4137f00-bbdd-11ea-9586-b8730c1c80b1.png)

Perhaps more neutral colors could be used to make them compatible for MacOS default themes
https://github.com/Azure/azure-functions-core-tools/blob/

[2020-07-01 20:30] anthonychu commented on #2069
@netonjm Thanks for reporting and we should address this.

@ahmelsayed @fabiocav Is it possible to address this in Colors.net? If not, we should update the colors we use to avoid anything that's too light or too dark.

[2020-07-01 20:41] fabiocav commented on #2069
We should be able to just use appropriate colors here that would work with those themes. That would be the simple approach.

Another option is to have a default and support themes based on categories (e.g. warning, error, emphasis, etc.)

[2020-07-01 21:46] anthonychu opened #2070 "Support a way to commit a local.settings.json template to source control"
Currently, local.settings.json can contain secrets and it should not be added to source control (we add it to .gitignore by default).

Would be great to be able to commit a template to source control and Core Tools (and VS Code) can use it to generate a local.settings.json.

For example, a repo can include a local.settings.sample.json or local.settings.template.json (actual name TBD, maybe support

[2020-07-01 22:54] ahmelsayed commented on #2069
There is something like this here https://github.com/Azure/azure-functions-core-tools/blob/dev/src/Azure.Functions.Cli/Common/OutputTheme.cs but i guess it's not used everywhere. I think moving all those there and having the theme switch dark/bright based on the background color could work. I'm not sure how to get the background color reliably though. `Console.BackgroundColor` works only on classi

[2020-07-02 00:26] fabiocav opened #2071 "Expose Core Tools as a .NET Core Tool"
Opening this issue to track the work required to expose installation of the Azure Functions Core Tools as a .NET Core Tool/Global tool

[2020-07-02 00:27] fabiocav commented on #2071
@anthonychu we can assign this to sprint 80 if you'd like. I'm currently flagging as a P1

[2020-07-02 00:28] fabiocav commented on #760
Closing this in favor of #2071

[2020-07-02 00:28] #760 closed

[2020-07-02 00:56] fabiocav commented on #2069
Thanks @ahmelsayed !

Yeah, detection was my concern as well. I can check that on a Mac.

I was also thinking about the possibility of a theme file we could load when the tool runs, which would give users the ability to change that if needed.

[2020-07-02 01:11] gsy0911 commented on #2063
No, it is occasionally occurred, not always.
At that time I waited a while after the error message was shown, and then  type as below, I can deploy as usual.

[code]

So my question is that, do I always ignore the messages such as `a transit error` unless the messages are continuously shown ?

[2020-07-02 01:38] fabiocav commented on #1755
@Camios can you confirm you got the information you needed?

[2020-07-02 02:00] anthonychu commented on #2063
@ankitkumarr Any thoughts about what might be happening here?

[2020-07-02 02:11] Camios commented on #1755
@fabiocav hmm sort of, the workaround suggested [here](https://github.com/Azure/azure-functions-core-tools/issues/1872#issuecomment-601541602) [direct SO link](https://stackoverflow.com/questions/58658348/visual-studio-2019-re-downloads-azure-function-cli-tools), does help. However why is this problem happening? Is tool which downloads the cli tools not using the system proxy or not reporting prox

[2020-07-02 10:43] disssid opened #2074 "Unable to test Azure Function in Python locally"
I have an Azure Function written in Python which was working fine with Visual Studio Code. I was able to run it locally, test and even deploy to Azure. I checked it on the portal and the function is running fine for quite some time now.But after updating the Azure Function core tools version to 3, I'm getting this message when I run it locally
`Invalid Message: "noDebug" is not supported for attac

[2020-07-02 14:13] anthonychu commented on #2074
One thing to try is to delete your VS Code folder and regenerate it by running the Azure Functions Initialize project for VS Code command (I don’t recall the exact name right now. If you have your code in git, make a commit before trying this and you should see the difference, if any.

@EricJizbaMSFT Do you have other suggestions to try?

[2020-07-02 14:15] vbui1 opened #2075 "azure-functions-core-tools@2.7.2628 leading to broken Function App when when trying to publish"
Using the azure-functions-core-tools@2.7.2628 Python Function Apps can't be published.
Following command is used to publish the Python Function App:
`func azure functionapp publish FUNCTION_APP_NAME --python --build remote`

The output prints:
`Writing the artifacts to a squashfs file
Failed to retrieve remote build status, please visit https://FUNCTION_APP_NAME.scm.azurewebsites.net/api/deploymen

[2020-07-02 17:06] EricJizbaMSFT commented on #2074
I believe that error is coming from the Python extension in VS Code. Can you check the version of that and upgrade to the latest if you're not already on it?

[2020-07-02 18:23] anthonychu commented on #2075
@Hazhzeng @anirudhgarg FYI

[2020-07-02 18:55] anthonychu commented on #1131
This might break folks who are using Core Tools in a CI pipeline.

Is anyone currently running `func start` in a pipeline and depending on the output? @pragnagopa @Hazhzeng do you have any experience running Core Tools in a CI pipeline?

I think this can be mitigated by checking the environment for most of the popular CI platforms. @fabiocav Do you think this is acceptable? Can check if there's a

[2020-07-02 18:57] anthonychu commented on #1131
Proposed changes to `func start`:

![core-tools-less-verbose](https://user-images.githubusercontent.com/3982077/86398862-2199e100-bc5b-11ea-8aa5-15e355dbbe02.gif)

[2020-07-02 19:02] johnpapa commented on #1131
I love it !!! Thank you for this!

[2020-07-02 19:13] pragnagopa commented on #1131
I am not aware of any . Tagging rest of the team for awareness. @soninaren , @yojagad , @ankitkumarr , @gzuber

[2020-07-02 21:12] soninaren commented on #1131
Core tools e2e test framework uses output to verify the test success of failure. Every test is looking for specific thing from output. Not specifically aware of the test for `func start`.

[2020-07-02 21:17] Hazhzeng commented on #2075
Hi @vbui1, thanks for raising this issue to us.

Is this a transient issue?
Please share us with your function app name. If you feel uncomfortable sharing the function app name publicly, please follow the guideline in [here](https://github.com/Azure/azure-functions-host/wiki/Sharing-Your-Function-App-name-privately) to share it with us privately. Thanks.

[2020-07-02 21:29] anthonychu commented on #1999
@soninaren @ankitkumarr @fabiocav I hit this quite often on my Mac. It always seems to be some form of corruption of the bundles folder. Depending on what files are missing, I get different errors. And the only way to fix is to delete the folder.

Is there a way to verify the folder is in good shape during startup and re-download on startup?

[2020-07-02 21:41] soninaren commented on #1999
@anthonychu, We need to optimize this scenario. For some reason this is happening more on mac. Does not seem to be related to the network bandwidth. We can do a couple of things here
1. Check the sha file on the zip before extracting.
2. Can also include a manifest file inside of the bundle to make sure all files are accounted for.

I see this issue has been marked as p1. @fabiocav Can you please

[2020-07-02 21:56] anthonychu commented on #1999
On mac it's saved to `/var/folders/.../T/...`. Looks like `T` is for temp files.

Digging deeper, found [one mention](https://superuser.com/a/1246508) that there's a process that runs nightly that cleans up files that **have not been accessed for 3 days**. I wonder if it leads to corruption of the folder if only *some* of the files are deleted and leaving others. Things might be fine for one app b

[2020-07-02 22:02] soninaren commented on #1999
That would work, Might be good idea to add the sha validation at the minimum to make sure the downloaded file is fine..

[2020-07-03 00:08] anthonychu commented on #1999
Cool. Let's do it in 2 steps. First is to switch the download location for macOS (is Linux affected?).

Lower priority would be the addition of a SHA check.

[2020-07-03 00:13] soninaren commented on #1999
Can track the sha and other updates in a separate work item. Not sure if Linux is affected. Other download issues stem from low bandwidth / partial download.

[2020-07-03 06:35] disssid commented on #2074
@anthonychu

`func init`

Is this what you're referring to?

I removed the `.vscode`  directory, tried the above command, it didn't work, so used the Azure function extension in VS Code to initialize the project, that kind of worked, it created the `.vscode` directory and the necessary files.

Now when I try to debug, it runs provides me with the local URL's for the functions and fails with the fo

[2020-07-03 07:30] vbui1 commented on #2075
Hi @Hazhzeng,

no this issue is permanent. Once published to the Function App with version 2.7.2628 the Function App is broken. However, it seems that the support was able to delete one of our broken Function Apps.

Here is the console output since I prefer not to share the Function App Name:

`2020-07-03T07:25:15Z   [Information]   Executing 'Functions.xxx' (Reason='This function was programmatic

[2020-07-03 09:20] trallard commented on #1131
Neat! Wil the output with `--verbose` be the same as the old default? Or will it be improved for legibility / be sanitised?

[2020-07-03 14:55] anthonychu commented on #1131
@trallard It’ll stay the same for now, as we need to be careful about processes that may be depending on the output. We can do a bigger cleanup next time we ship a new major version.

[2020-07-03 15:42] fabiocav commented on #1131
@anthonychu this is what I was referring to. And it's possible we have customers doing the same thing, hence the concern about the change to the defaults.

Thanks for sharing the animation!

[2020-07-03 15:55] anthonychu commented on #1131
@fabiocav I think if we can detect that `func start` is running in a CI environment and show the current output in those cases (looks like we can easily detect all of the known environments), I can’t imagine too many automation scenarios that would break. If someone is running tests manually on their desktop, they would notice the break and can fix.

The publish command is where I’d worry about pr

[2020-07-03 15:59] vbui1 commented on #2075
Hello @Hazhzeng ,

since our Function App are in a broken state, we cannot run one of our functions to get the id. Is there any other way to share the Function Apps privately?

[2020-07-03 19:32] dan-leanix commented on #2075
Just to chime in here version `3.0.2630` seems to be also affected. Our company currently has several support tickets open with Linux-based Functions (Python) in a broken state after trying to publish the Function.

[2020-07-03 21:31] balag0 commented on #2075
@vbui1 I added an alternate method to share the function app name privately at the bottom of the same page. https://github.com/Azure/azure-functions-host/wiki/Sharing-Your-Function-App-name-privately

@dan-leanix Could you also share the name of one of the impacted apps using those steps.

[2020-07-03 23:51] dan-leanix commented on #2075
@balag0 11:48/11:49 UTC `f081c418-20dd-4ccf-ac24-066288a41f7a` West Europe

Otherwise I already pointed the support engineers to this issue. Might be that they internally reach out to you or the team.

[2020-07-05 09:27] garrytrinder commented on #2050
Thanks for the reply @ankitkumarr

I'll check back in tomorrow on this, the project in question is a work project and I have just had a few weeks leave, returning tomorrow, so will provide a further update then.

[2020-07-06 07:34] vbui1 commented on #2075
@balag0

07:34 AM UTC `b686bf9a-ae41-4d40-85ba-fa1e2df1029d` West Europe

I hope it worked. The site returned `The service is unavailable.`

[2020-07-06 10:50] dan-leanix commented on #2075
@balag0

We were successful with version `3.0.2534` to deploy our Function in North Europe.

West Europe seems to have other issues now, like Function Runtime not available and service unavailable.

[2020-07-06 14:03] sdebruyn commented on #1753
Can be closed

[2020-07-06 18:34] anthonychu opened #2076 "Add MSI instructions for installing Core Tools"
Add instructions for installing Core Tools on Windows using MSI.

@ankitkumarr @fabiocav Are we ready to add this as the recommended method to acquire Core Tools on Windows?

[2020-07-06 19:30] bnb commented on #1131
@anthonychu just wanted to say that the new output is amazing and honestly what I've wanted since my first day at Microsoft. Thank you for working on this ❤️

[2020-07-06 20:51] anthonychu commented on #1855
Here's a starting point for discussion.

* On `func start` and `func help`, display a warning message if there's a newer release of the current major version (i.e., for v2, only check if there's a newer v2)
* Use the feed to determine latest versions https://functionscdn.azureedge.net/public/cli-feed-v3.json
* Add support for an environment variable that can disable the warning (VS and VS Code can

[2020-07-06 21:09] soninaren commented on #1855
This sounds good. All the tools i know use `cli-feed-v3.json` to determine the latest version of core tools, so i don't think there will be conflict. Have one question. Where would you show the warning in `func start`? With all the output in the `func start` a warning would just disappear very quickly.

 A possible addition would be a self update gesture at the end of the warning. However implemen

[2020-07-06 21:53] balag0 commented on #2075
@vbui1 Thanks for sharing the guid. I was able to locate the app name and looks like it is failing due to duplicate appsettings (may be there is an appsetting with the same name as a keyvault reference name?)

Since the app is deleted now I couldn't verify the appsettings but if you are seeing the issue with another app let me know.

[2020-07-06 22:01] kashimiz commented on #1855
@anthonychu Do we have to check `cli-feed-v3.json` every time? We could retrieve the latest value at startup and cache it in  memory, as a start.

@soninaren We had also discussed showing the warning when other commands are executed, ex. every invocation. Definitely more noticeable, but possibly an over-correction. What update reminder frequency have you found effective for command-line tools?

[2020-07-06 22:22] soninaren commented on #1855
@kashimiz, I don't think we have update reminder any where other than VS Code. They might have telemetry data for update reminder that we could use.

[2020-07-06 22:38] balag0 commented on #2075
@dan-leanix I think this app also has the same config issue  as above. (duplicate app setting name and key vault reference name) This site is also deleted now so can't confirm if this is the issue, but please let me know if you have a different app we could look into. Thanks

It would be great if you or @vbui1 could confirm if your apps are good after resolving the appsetting issue.

[2020-07-06 23:54] soninaren opened #2077 "Upload windows pdb for core tools in one of the approved locations."
Right now pdbs for core tools are compiled in a portable fashion. However going forward Visual Studio need ts the pdbs to be windows pdbs uploaded in one of the approved location. https://devdiv.visualstudio.com/DefaultCollection/DevDiv/_wiki/wikis/DevDiv.wiki/732/Insertion-Symbol-Check-PR-Policy. Using Pdb2Pdb to convert the pdbs might be the way to resolve this

[2020-07-07 00:57] ankitkumarr commented on #2076
I don't know of any blockers that would prevent us from doing so. Adding @kashimiz in case she's aware of any.

[2020-07-07 01:17] fabiocav commented on #2076
There shouldn't be any blockers at this point. The MSI will always be attached to all releases moving forward.

[2020-07-07 02:11] anthonychu commented on #1855
@kashimiz Not sure where we could stash this info. In another issue @soninaren and I were wondering if we could download bundles to ~/.azure-functions-core-Tools. Perhaps if we standardize on this we can stash a file in there as well.

@soninaren we can display it as late as possible at startup. If it’s a warning, it should show in a another color. Hopefully when #1131 is completed it’ll be even m

[2020-07-07 06:12] dan-leanix commented on #2075
@balag0 As I mentioned it Azure Support was working on it and after we found out that the recent Core Tools version is the case they proceed with cleaning up.

The issue is really reproducible. Spin up a Python Azure Function App, have some Key Vault secret references and then try to publish the Function with Core Tools version 3.0.2630.

What I can say for sure that we did not have app settings a

[2020-07-07 18:12] anthonychu commented on #2051
@alantang-MSFT Is it possible to provide us with a simple repro so we can try this out ourselves?

@soninaren Do you have any experience with this?

[2020-07-07 18:16] anthonychu commented on #2048
Looks like this was using a devcontainer that I built and core tools was installed by unzipping so it was my bad. The shouldn't be a real problem that folks run into.

[2020-07-07 18:16] #2048 closed

[2020-07-07 19:17] alantang-MSFT commented on #2051
[FunctionApp1.zip](https://github.com/Azure/azure-functions-core-tools/files/4886711/FunctionApp1.zip)

Make sure vcxproj builds x64. After building, I manually copy the FunctionApp1Native.DLL (and PDB) into the functions bin folder (could configure the build OutDir but I got lazy). Set breakpoint in the "Test" exported function.

In the functions csproj, enable native debugging. Then run and call

[2020-07-07 19:52] soninaren commented on #2051
I unfortunately do not, @vijayrkn , @fabiocav Any ideas on this one?

[2020-07-07 19:56] vijayrkn commented on #2051
Adding @Billhiebert - I think we pass the CoreCLR debugger while launching func.exe. We may be able to add a flag to support mixed mode.

[2020-07-07 20:27] anthonychu commented on #2076
@ankitkumarr @kashimiz can one of you please share the CDN link? I can add the instructions to the readme as well as the docs. Thanks.

[2020-07-07 20:43] fabiocav commented on #2076
@anthonychu are you creating an aka link for this?

[2020-07-07 21:13] anthonychu commented on #2076
@fabiocav Yep I was thinking that in case the URL ever changes. Is that a good idea?

[2020-07-07 21:25] fabiocav commented on #2076
Yeah, that's what I was going to recommend 👍

[2020-07-07 21:27] ankitkumarr commented on #2076
Naren had shared with me these URLs that point to the latest MSIs --

x64 - https://functionscdn.azureedge.net/public/artifacts/v3/latest/func-cli-x64.msi
x86 - https://functionscdn.azureedge.net/public/artifacts/v3/latest/func-cli-x86.msi

[2020-07-07 21:55] BillHiebert commented on #2051
@vijayrkn - functions projects need to be unpdated to honor the "nativeDebugging" : true property in launchsettings.json.

[2020-07-07 21:59] vijayrkn commented on #2051
Internal bug to track this work on the VS side : [1153196](https://devdiv.visualstudio.com/DevDiv/_workitems/edit/1153196)

[2020-07-07 23:00] #2058 closed

[2020-07-08 06:20] balag0 commented on #2075
I tried this today and couldn't repro it. Looks like there is some specific config that seems to trigger it so I will keep trying. It would be easier/faster to investigate this if there is an app in this broken state.

Since both the apps mentioned in this thread have been deleted , for any one else facing similar issue please share the app name using the instructions at https://github.com/Azure/a

[2020-07-08 08:11] vbui1 commented on #2075
Hello @balag0 ,

Here is another broken Function App:

10:09 AM UTC `e3313585-1b1a-4ac1-b5cb-f76638ce8151` West Europe.

We were able to reproduce the bug again using azure-functions-core-tools@2.7.2628.
We tried to publish with following command:
`func azure functionapp publish FUNCTIONAPPNAME --python --build remote`

[2020-07-08 18:33] ankitkumarr commented on #2061
This is now unblocked and will be fixed within a couple of days.

[2020-07-08 19:59] #1259 closed

[2020-07-08 22:52] EricJizbaMSFT commented on #1855
Actually don't collect much telemetry on this in VS Code. Could add some, but seems like you might implement this feature before we got any meaningful data anyways. Here's a summary of what we do:

We check every time our extension is activated in VS Code (which happens automatically if they have a "host.json" file in their workspace or if they interact with our Functions view). We only prompt if

[2020-07-09 01:18] ryancole opened #2082 "How do the azure function core tools execute the function runtime environment as well as allow for debugging the C# code?"
This question is not related to this project, but this project does something I'm wanting to perhaps do for my own project. I've got an AspNet Core web application that has some react components I'd like to have webpack sit and watch while I debug. So, if I modify the JS code, webpack would be running at the same time and would bundle it up for me.

In my goal, webpack could run similar to how the

[2020-07-09 06:50] balag0 commented on #2075
Thank you. This is helpful and I will share an update once I have something.

[2020-07-09 08:09] nerdicwalker opened #2083 "Unable to use python-ldap module in Python function"
Publishing an Python Azure function with python-ldap==<any version> in the requirements.txt gives this error:

    gcc -pthread -Wno-unused-result -Wsign-compare -DNDEBUG -g -fwrapv -O3 -Wall -fPIC -DHAVE_SASL -DHAVE_TLS -DHAVE_LIBLDAP_R -DHAVE_LIBLDAP_R -DLDAPMODULE_VERSION=3.3.1 -DLDAPMODULE_AUTHOR=python-ldap project -DLDAPMODULE_LICENSE=Python style -IModules -I/opt/python/3.6.10/include/pytho

[2020-07-09 09:38] kummerer94 commented on #2075
I can confirm this. We're seeing the same issue and it is breaking every Function App on a consumption plan we have deployed. I also have a support ticket open for this.

[2020-07-09 15:49] TroyWitthoeft commented on #1131
@anthonychu  Aww, but we've grown so fond of the lightning bolt ascii art! ⚡  Vote to keep it.   If it has to go, then can we at least have some starting and ready timestamps?  Measuring that startup time is important.  Especially, considering the root cause of some of the debugger attach issues.

[2020-07-09 16:57] anthonychu commented on #1999
@fabiocav @soninaren Are we able to add it to the current sprint now that we have a better understanding of the problem?

[2020-07-09 18:12] anthonychu commented on #2083
@nerdicwalker Sounds like one of your dependencies might need native libraries installed in the OS and we do not have those available in our Linux consumption image. To get around this right now, you will need to use a custom image. Can you please create an issue in the [Python Worker repo](https://github.com/Azure/azure-functions-python-worker) to see if we can add this dependency in our consumpt

[2020-07-09 18:18] anthonychu commented on #2082
@ryancole What editor are you trying to get this to work with?

[2020-07-09 18:33] ryancole commented on #2082
@anthonychu visual studio. When I debug, it launches the azure dev application as well as debugs the C# project

[2020-07-09 18:46] anthonychu commented on #2082
Hmmm... not sure if this is something we the functions team have expertise in. @vijayrkn Do you have any suggestions that could help @ryancole?

[2020-07-09 18:52] vijayrkn commented on #2082
@ryancole - Is this what you are looking for? https://docs.microsoft.com/en-us/visualstudio/debugger/debug-multiple-processes?view=vs-2019

You can debug your app and attach to additional processed if needed.

[2020-07-09 19:43] ryancole commented on #2082
I'll take a look. Thank you!

[2020-07-09 19:43] #2082 closed

[2020-07-10 05:49] soninaren commented on #2060
Yes, we should skip bundle load check when there is no internet.

[2020-07-10 08:41] balag0 commented on #2075
Thanks everyone. We were able to identify the issue. As discussed on this thread the impact is to function apps using Key vault references after deploying with the latest core tools.

We have started deploying a fix which should complete in the next 12 hours. There is no need to update the core tools version you are using. Currently West Europe has been updated.

Next steps
If your app is in West

[2020-07-10 08:44] dan-leanix commented on #2075
@balag0 FYI. In the support tickets I have mentioned above, we had the issue also in North Europe with the latest core tools version.

But as we downgraded to `3.0.2534` we haven't had that again.

[2020-07-10 09:00] kummerer94 commented on #2075
@balag0 Thanks a lot! I've just noticed that our serverless Function Apps are back and I am able to work with them again.

[2020-07-10 19:18] Francisco-Gamino opened #2084 "Set PowerShellWorkerDefaultVersion to ~7 for PowerShell function apps"
Set `PowerShellWorkerDefaultVersion` to `"~7"` for PowerShell function apps.
cc: @eamonoreilly @anthonychu

[2020-07-10 21:23] balag0 commented on #2075
The fix has been deployed to all regions now. Please let me know if you are still seeing any issues. Thanks everyone for your patience.

[2020-07-13 03:37] pacon-vib opened #2086 "JSON on queue becomes string "System.Collections.Hashtable" in PowerShell"
The boilerplate PowerShell `run.ps1` that `func init` generates includes the following parameter declaration:

[code]

If you put a JSON string on the queue, then the value of `$QueueItem` becomes the string "System.Collections.Hashtable".

I changed the `param` block to cast `$QueueItem` to `[object]` instead of `[string]`, and now `$QueueItem` contains the decoded JSON object.

I don't know much

[2020-07-13 13:21] pheuter commented on #1963
What I've done in my CD workflow is simply create a stub file before build—because `<CopyToPublishDirectory>Never</CopyToPublishDirectory>` is set it'll never make it into the published output dir.

**.fsproj:**
[code]

**action:**
[code]

[2020-07-13 21:42] fabiocav commented on #2071
@anthonychu this wasn't assigned to 80, how do you want to prioritize this work?

[2020-07-13 21:55] anthonychu commented on #2071
@fabiocav Do you know what needs to be done or is there still some discussion before we can move ahead? For me, my main concern is more that we have to maintain another channel for folks to acquire Core Tools and how customers will keep it up to date. Otherwise I'm good with prioritizing it as it needs to be completed before the .NET folks can use it.

[2020-07-13 22:45] ggailey777 commented on #375
+ @anthonychu for awareness.

[2020-07-14 01:14] Francisco-Gamino opened #2087 "Core Tools build is failing because it requires .Net 2.2"

[2020-07-14 01:56] #2087 closed

[2020-07-14 18:11] anthonychu commented on #2086
@ggailey777 Do you know if there are any docs/tutorials that are using this template?

This is the same as what we currently have for TypeScript, we have the message annotated as a string but it could receive an object if the payload is JSON. @AnatoliB Do you have any thoughts?

[2020-07-14 18:56] ilanRosenbaum commented on #1863
@brandon

I tried running your script to fix my issue but I'm getting a line 1: ((: [0 != 0] && [0 < 10]: syntax error: operand expected (error token is "[0 != 0] && [0 < 10]", Sorry if the question is a little basic but I'm new to bash scripts, why am I getting this error?

[2020-07-14 18:57] AnatoliB commented on #2086
I think `[string]` in the PowerShell template is a mistake. It should be either removed or replaced with `[object]` (which is functionally equivalent).

From the PowerShell perspective, there is no bug here: the JSON content is automatically deserialized into a Hashtable, and then `[string]` converts it to a string by simply applying `.ToString()`, which uses the default `ToString` implementation

[2020-07-14 19:41] ankitkumarr commented on #2061
This is now fixed. You may need to uninstall and then re-install core tools if you had installed a previous invalid version and are facing issues re-installing.

[2020-07-14 19:41] #2061 closed

[2020-07-14 20:15] ilanRosenbaum commented on #1863
@brandonh-msft

Slight issue with the script that I'm having trouble with. When my command times out it returns 0 so whether or not the deployment actually succeeds the for loop ends. Any ideas on how to identify success when $? returns 0 even on failure?

[2020-07-14 21:41] soninaren commented on #1855
@anthonychu This would be very difficult to time, since the logs in start path come from a lot of different sources. Also if the customer has pending executions, the warning may not even be visible for more than a 1 second.  The executions would push this line up in the feed very quickly.

One way to get around this would be have a prompt instead that says something like `Using old version of Core

[2020-07-14 22:04] anthonychu commented on #1855
Press key to continue is probably too intrusive. Perhaps we can display it at the beginning of every command, pausing for about a second before proceeding. Maybe that's enough to catch their attention.

[2020-07-14 22:06] soninaren commented on #1855
I think that would work.

[2020-07-14 22:11] vjraitila commented on #1963
Seems to work as expected for me now as well when deploying from VS Code. As @pheuter mentioned, `<CopyToPublishDirectory>Never</CopyToPublishDirectory>` is being respected and `func start` still works locally. Either something changed in the latest iteration of vscode-azurefunctions or I just messed something up - probably the latter.

[2020-07-15 00:42] vjraitila commented on #1963
This seems to work for me without having to create stub files during the CI build.

**.fsproj:**
[code]

[2020-07-15 06:45] anthonychu opened #2091 "Warn about impending V3 upgrade if using V2 Core Tools"
Display a warning that customers should be using V3 in October. https://github.com/Azure/app-service-announcements/issues/266

Related #1855

[2020-07-15 06:46] anthonychu commented on #2076
Looks like we only have MSIs for v3? (not that that's entirely a bad thing)

[2020-07-15 06:59] anthonychu commented on #2076
Added fwlinks:

https://go.microsoft.com/fwlink/?linkid=2135274 x64
https://go.microsoft.com/fwlink/?linkid=2135275 x86

[2020-07-15 08:57] georghildebrand commented on #1031
I would also be very much interested in this!

[2020-07-15 22:52] Francisco-Gamino commented on #2000
This issue has been fixed on both dev and v3x.

[2020-07-15 22:52] #2000 closed

[2020-07-16 07:41] anthonychu commented on #2052
@yojagad @pragnagopa Made a small update to the host.json in the issue. As mentioned in my PR comment #2093 I think `enableForwardingHttpRequest` should be set to the default of `false`.

[2020-07-16 18:29] fabiocav commented on #1131
Assigning the issue to sprint 81 so we can define the tasks and scope the work.

[2020-07-16 21:36] brettsam opened #2097 "Improve bundles configuration settings"
With the change to support IWebJobsConfigurationStartup (https://github.com/Azure/azure-functions-host/pull/5991), I introduced a "chicken-and-egg" problem and now bundles options do not get set up correctly before they are instantiated. This means that in core tools there's no setting for the bundles path and bundle operations will fail.

There's a workaround today by explicitly setting environme

[2020-07-17 22:25] #2075 closed

[2020-07-19 00:26] gwsampso opened #2103 "Exception has occurred: ImportError: cannot import name 'cygrpc' from 'grpc.cython'"
New python azure function using this guide https://docs.microsoft.com/en-us/azure/developer/python/tutorial-vs-code-serverless-python-01

Azure Functions Core Tools: (v3.0.2630 Commit hash: beec61496e1c5de8aa4ba38d1884f7b48233a7ab)
Function Runtime : v3.0.13901.0
VSCode: v1.47.2
NPM: v6.4.1
Node: v10.15.0

(.venv) > pip freeze
azure-functions==1.3.0

When I hit debug i'm faced with this error?

Ex

[2020-07-19 00:46] gwsampso commented on #2103
using 32 bit version of python on widows

[2020-07-19 00:59] #2103 closed

[2020-07-20 21:11] fabiocav commented on #375
Adding to sprint 81 for assignment

[2020-07-20 21:12] fabiocav commented on #2071
Adding this to sprint 81 for assignment.

[2020-07-20 21:13] fabiocav commented on #2071
Requirement includes updating the build pipeline to generate artifacts and publish the tool.

[2020-07-20 21:20] fabiocav commented on #2068
After a chat with @dariagrigoriu, we need to understand what environment information we can inspect in order to understand if we're running under one of those environments.

[2020-07-20 21:23] fabiocav commented on #2069
For this issue, the scope is limited to improving the colors so they're more readable in both, dark and and light themes.

[2020-07-20 21:25] ankitkumarr opened #2106 "Switch dev to V3"
At the moment, `dev` is V2, while `v3.x` is V3. I think we should switch to `dev` as v3 and `v2.x` as v2, similar to what we did with `azure-functions-host`.

[2020-07-21 23:57] anthonychu commented on #1700
@sethjuarez Is running into this as well. On Windows.

[code]

[2020-07-22 02:02] soninaren commented on #1999
Fixed in #2107 and #2108

[2020-07-22 08:35] forlayo opened #2109 "func templates list returns "Value cannot be null""
This is what's happening:
[code]

As you can see the functions cli is recently installed and I am just trying to list the templates, but got an error all times. I had also enabled the CLI_DEBUG and apparently is something deserializing a json :S

Trying to create a function, I got same issue
[code]

[2020-07-22 13:24] katlimruiz commented on #1838
I have node v12.16.1 and npm 6.13 and I also see the same issue when trying to install core tools 3.

workaround `npm i -g azure-functions-core-tools@3 --unsafe-perm true --force` works

[2020-07-22 18:54] anthonychu commented on #1700
Got a copy of @sethjuarez's `C:\Users\{user}\AppData\Local\Temp\Functions\ExtensionBundles` folder (thanks!), it's missing files in the `bin` folder. It only has the first 5 files alphabetically, which indeed is consistent with an interrupted unzip.

@soninaren Is it possible to write a file at the end of extraction to signal that everything unzipped properly, and use it to decided whether to re-d

[2020-07-22 19:01] soninaren commented on #1700
Writing file at the end of extraction would be tricky. It would be hard to make the operation atomic and we might end up seeing that file anyway. We can introduce a manifest file that lists all the files and  their relative paths in the bundle and verify that all files in the bundle are present including the manifest file.
We can explicitly trigger bundle download and verification before host star

[2020-07-22 20:11] fabiocav commented on #2110
Moving this to the Core Tools repo as the work would be done there.

[2020-07-22 20:12] fabiocav commented on #2052
Blocked on templates release. Pushing to sprint 81

[2020-07-22 20:17] anthonychu commented on #2110
@pragnagopa Is this issue still needed to track this? From what I can tell, the message is emitted from the host so any changes need to be done there, not Core Tools.

[2020-07-22 20:51] fabiocav opened #2111 "Handle CDN connectivity issues for bundles downloads in restricted environments"

[2020-07-22 20:53] fabiocav commented on #1131
This is assigned to sprint 81 as a stretch goal.

[2020-07-23 15:23] pragnagopa commented on #2110
Yes. Log is coming from the host. Both @fabiocav and @brettsam recommended adding a logging provider in core tools that will force log these logging statements even when logging level is set to `None`

I will look into this possibility.

[2020-07-23 18:11] apawast commented on #2109
https://github.com/Azure/azure-functions-core-tools/issues/1700 -  related issue. @soninaren FYI

[2020-07-23 18:15] apawast commented on #1942
Hi @moritzgloeckl, what language and culture are you working with?

[2020-07-23 18:24] apawast commented on #1941
Hey @nloding, could you share repro steps with us for this?

[2020-07-24 08:02] moritzgloeckl commented on #1942
Hi @apawast usually `de_AT` or `de`.

[2020-07-26 02:52] shashanksdixit opened #2115 "Value cannot be null. (Parameter 'provider'). Failed to run Azure Functions. Please checkout console output"
I am trying to run the example given [here](https://docs.microsoft.com/en-us/azure/developer/java/spring-framework/getting-started-with-spring-cloud-function-in-azure). I have installed the per-requisites.
JDK-1.8
maven-3.6.3
Azure-function-core-tools - 2.7.2628 (Installed by giving command - npm install -g azure-functions-core-tools@3 )
When I run `mvn azure-functions:run` I get below error.

`[7

[2020-07-27 01:34] IvanJosipovic commented on #1926
The Cron scalar has now been released in KEDA version 1.5.0

[2020-07-27 21:49] fabiocav commented on #1980
PR for this is out: https://github.com/Azure/azure-cli/pull/14465

@anthonychu and @apawast, can you both give us a green light on the comments (or let us know if you have any concerns)?

[2020-07-28 02:33] anthonychu commented on #2068
Probably didn’t mean to close. Reopening @fabiocav @dariagrigoriu

[2020-07-28 05:27] #2076 closed

[2020-07-28 07:08] ankitkumarr opened #2120 "Enrich telemetry data with function publish info"
- What publish method was used? - `zipdeploy`, `blob url`, etc
- What environment was it published to?
- Generic HTTP Status code for the deployment result - `5xx`, `200` etc for zipdeploy

[2020-07-28 18:18] apawast commented on #2115
Hi @shashanksdixit can you share your debug log when you set the environment variable CLI_DEBUG to 1?

[2020-07-28 18:48] AmberWilkie commented on #2103
Also seeing this error and I'm on OSX. As far as I can tell, everything is doing 64bit.

[code]

Running in python virtual env 3.7.3.

[2020-07-28 19:34] anthonychu commented on #2091
@kashimiz @fabiocav LMK what you think of this message.

Not sure how much work this adds, but are we able to detect how Core Tools is installed and display upgrade instructions?

As for where this should show, can we show it at the beginning of all commands? For `func start`, can we pause for 1 second after printing before continuing so it's obvious?

[2020-07-28 19:46] kashimiz commented on #2091
Re: detecting how Core Tools is installed, we could maybe do something with registry entries (for those who used the MSI on Windows) and install location, but that seems like a lot of work for a small convenience. The announcement already links to the upgrade wiki page; could we add instructions there instead? That way, it will be accessible to everyone and can be referenced later (without booting

[2020-07-28 19:49] kashimiz commented on #2091
@soninaren @ankitkumarr  for the following from @anthonychu's message:

[2020-07-28 20:23] briandunnington opened #2122 "Release updated tools version *before* rolling out to live Azure"
Yesterday an updated version of the functions runtime (v3.0.14191.0) started to roll out across Azure (starting in East US region. It caused an issue with some of our services (we are doing some funky stuff with dependency injection) and caused our functions to fail to start entirely.

We were able to get a fix rolled out, but it was very hard to find the issue because the local tools are still on

[2020-07-28 23:08] anthonychu commented on #2103
@Hazhzeng has been working on some troubleshooting guidance that will be available soon. Here's an excerpt:

[2020-07-29 10:43] shashanksdixit commented on #2115
[azure-functions-run-full-debug-log-cli-debug-1.txt](https://github.com/Azure/azure-functions-core-tools/files/4994289/azure-functions-run-full-debug-log-cli-debug-1.txt)
I have attached the log after setting CLI_DEBUG=1

I observed an exception is added in the detailed log (apart from other things that might have been added)

`[7/29/2020 10:29:00 AM] FUNCTIONS_WORKER_RUNTIME set to java. Skipping

[2020-07-29 13:04] mrgenesis opened #2123 "Environment Variable NodeJS"
Hello there!
I don't achiving set environment variable in my project. What I'm doing wrong?
`// local.settings.json`
[code]
In `index.js` file the variable `process.env["keyName"]` return undefined.

[2020-07-29 13:13] #2063 closed

[2020-07-29 14:32] anthonychu commented on #2123
Please refer to this [document](https://docs.microsoft.com/en-us/azure/azure-functions/functions-run-local?tabs=windows%2Ccsharp%2Cbash#local-settings-file) for the proper format. It needs to have `IsEncrypted` and `Values`, and the environment variables go in `Values`.

You can also create the file by running `func init`.

[2020-07-29 14:37] mrgenesis commented on #2123
This is my local.settings.json file:

[code]

[2020-07-29 14:41] anthonychu commented on #2123
Values cannot be nested like that. You’ll need to keep them at a single level.

[2020-07-29 15:19] mrgenesis commented on #2123
Working now!
\0/

[2020-07-29 15:19] #2123 closed

[2020-07-29 16:06] soninaren commented on #2091
that sounds good to me. Open to other suggestions as well.

[2020-07-29 20:49] Hazhzeng commented on #1694
This is already done on March 3, 2020. Closing this issue.

[2020-07-29 20:49] #1694 closed

[2020-07-30 19:33] #375 closed

[2020-07-30 22:19] mrgenesis opened #2124 "Environment Variable NodeJS - Azure"
Hi.
This example below show how is settinged my `local.setting.json` file. This are working fine.
[code]
[code]
I sent the project to Azure Functions and added it to Application settings in Azure portal. But don't working. What I'm doing worng?

![image](https://user-images.githubusercontent.com/32000025/88980345-857eec00-d291-11ea-9bcb-3596461e1c33.png)

Doc: https://docs.microsoft.com/pt-br/azur

[2020-07-30 23:00] #1941 closed

[2020-07-31 03:21] aronchick opened #2126 "Breakpoint debugging doesn't seem to work"
I just rebooted, so there shouldn't be any port conflict, but when I start a function in VS Code, I get the following error:
[code]

I can't figure it out. Here's my launch.json

[code]

and my host.json
[code]

Every thing else is default, other than this is a function running in a pipenv (so the function has fewer python package requirements than the environment has installed, but i can't figure

[2020-07-31 16:57] aronchick commented on #2126
Ok, this KIND of looks like these from Azure functions - https://github.com/microsoft/vscode-azurefunctions/issues/892 - I followed the advice and ran the below:
[code]

I detected python3 was still listening on that port.

Now I've killed it and it at least lets me run debugging, BUT VSCode doesn't seem to attach breakpoints. What happens now is I start the "Attach to Process" in one VSCode termi

[2020-07-31 16:57] aronchick commented on #2126
This may be something for @EricJizbaMSFT

[2020-07-31 18:27] phuo1032 opened #2127 "Binding type(s) 'entityTrigger' not found"
Hi, I am following this tutorial to try to setup entity durable functions.

https://docs.microsoft.com/en-us/azure/azure-functions/durable/durable-functions-entities?tabs=javascript

However, when I tried to run it I got the following errors:

Am I missing any step?

I was able to complete the tutorial from here: https://docs.microsoft.com/en-us/azure/azure-functions/durable/quickstart-js-vscode.

[2020-08-01 02:15] anthonychu commented on #2124
@mhoeger Any thoughts on this? Looks like this should work.

[2020-08-01 02:21] anthonychu commented on #2127
Sorry about this. You need to be using v2 of the Durable extension, but admittedly our docs on how to enable this is not great. This will improve greatly in about a week when we have that version of the Durable extension is published in an [extension bundle](https://github.com/Azure/azure-functions-extension-bundles/issues/7). At that point we will update our docs on how to use it.

Maybe check ba

[2020-08-01 03:24] shashanksdixit commented on #2115
Hi @apawast
Are there any further inputs.

[2020-08-01 05:04] phuo1032 commented on #2127
Thanks, I'll wait for this.

[2020-08-01 16:34] pragnagopa commented on #2052
@yojagad  - please verify if the changes do support initializing a docker file `func init LocalFunctionsProject --worker-runtime dotnet --docker` . More details here: https://docs.microsoft.com/en-us/azure/azure-functions/functions-create-function-linux-custom-image?tabs=bash%2Cportal&pivots=programming-language-csharp

If it requires more work, please create separate issue.

[2020-08-01 18:58] mrgenesis commented on #2124
I'm sorry! I forgot save. This perfectly working. Thank you.

[2020-08-03 16:18] aronchick commented on #2126
Changing the title - the system APPEARS to breakpoint, but VSCode does not appear to be listening to it.

doing
[code]

And then `kill -1` the process ID allowed me to find the orphaned process that prevented the original startup, but the system still isn't working properly.

[2020-08-03 21:20] mhoeger commented on #2124
Have definitely done that myself haha. Thanks for the update! Closing issue

[2020-08-03 21:20] #2124 closed

[2020-08-04 17:47] aronchick commented on #2126
K, solved this problem.

Turns out in `.vscode/settings.json`, `"azureFunctions.deploySubpath"` was pointing at the wrong location.

[2020-08-04 20:13] pragnagopa commented on #2110
@brettsam - I am trying to force logs to flow through if logLevel is set to None and then filter the logs based on the content. Tried the following:

[code]
Even though minimum loglevel is set to to `Trace`, only webjost level logs and RpcWorkerChannel logs are written to console.

Any ideas on what I might be missing here?

[2020-08-05 07:00] marcin-dardzinski commented on #1239
In case anyone is interested, I've found a workaround. You have to create an MSBuild target which runs the functions host and watch against this target:
In the csproj add
[code]
and later run it with `dotnet watch msbuild /t:RunFunctions`.
So far works well for me.

[2020-08-05 09:19] ankitkumarr commented on #2069
It seems that detection doesn't really work in a mac. I tried it, and also found this https://github.com/dotnet/corefx/commit/14f36001ee138522f496318fc685d37c9f3ab9ae which was introduced to return a `Console.BackgroundColor` as `-1` for unix based systems as it claims there's no proper way to find it.

Maybe as discussed here, we can check in `Colors.NET` themes if `BackgroundColor` is unknown, j

[2020-08-05 09:25] ParthiBa opened #2134 "functions are not discovered when using no build option"
I am using .net core and C# to develop the azure function.

`func start` will build the .net core project and provides with url of  each functions in  an project. It discovers numbers of functions
in an project .
In my case, I have one function.
`func start --no-build` will skip the building process and start running functions locally.

functions are not discovered when using no build option?

Con

[2020-08-05 12:39] zsolt-halo commented on #1899
The only thing worked for me was to add a new bash task to install the func-tools and remove the other one offered by MS:

[code]

[2020-08-05 13:40] brettsam commented on #2110
What logger do you need to write out your log? You need to add a filter specifically for that logger. If you have one, it wins above all other filters, even ones specified in configuration.

For example: `loggingBuilder.AddFilter<ColoredConsoleLoggerProvider>(null, LogLevel.Trace);`

Setting `null` here means *all* categories will be filtered at `Trace` level. If you want a specific category, you

[2020-08-05 17:53] anthonychu commented on #2134
You'll need to change to your output directory before `func start`. For example:

[code]

[2020-08-05 20:08] fabiocav commented on #2106
Moving to sprint 82 so the change doesn't happen in the middle of a release

[2020-08-05 20:22] fabiocav commented on #2052
Work no longer blocked. We should now be able to validate and merge the changes.

[2020-08-05 20:33] fabiocav commented on #1855
Need to follow up with @anthonychu on priority compared to https://github.com/Azure/azure-functions-core-tools/issues/2091

[2020-08-05 20:40] fabiocav commented on #1980
Just waiting on CLI merge/release.

[2020-08-05 21:57] ggailey777 opened #2138 "Log stream for Linux Consumption apps"
It seems like we now (at least in the portal) have Log stream supported for Linux Consumption apps.
![image](https://user-images.githubusercontent.com/1388263/89467997-74b7f580-d72b-11ea-85ad-6d6578beb844.png)
This means that (at minimum) the command `func azure functionapp logstream <APP_NAME> --browser` should open this URL:
`/resource/subscriptions/<SUB_ID>/resourceGroups/<RG>/providers/microso

[2020-08-05 22:13] #2052 closed

[2020-08-05 22:48] anthonychu commented on #2069
Some suggestions here for colors that work on both black and white backgrounds:

![image](https://user-images.githubusercontent.com/3982077/89470869-a338cf00-d731-11ea-9a4f-305d3d07c275.png)

Also note that some terminals like VS Code don't distinguish between the "dark" and "normal" versions, probably for legibility reasons (for instance, it renders DarkYellow in light theme whether we use DarkYe

[2020-08-06 04:50] anthonychu commented on #1855
#2091 has higher priority.

[2020-08-06 12:47] ParthiBa commented on #2134
@anthonychu  Thanks for your answer it is working.
Whether it has been included in any documentation?

[code]
All the above commands work on  root of the .net core project .

As developer who uses above commands frequently  . I expect `func start --no-build` this command to work on root level too.
Is it possible to consider this an new requirement ?

[2020-08-06 13:49] anthonychu commented on #2134
We can look into it. dotnet build and run both still build the project, so it knows where the output is. The best that func can do is guess. Currently, when func builds a .NET project, looks like it specifies the [output folder](https://github.com/Azure/azure-functions-core-tools/blob/dev/src/Azure.Functions.Cli/Actions/HostActions/StartHostAction.cs#L301) so it knows where to start it.

[2020-08-06 15:13] pragnagopa opened #2141 "Less verbose logs on func start"
Part of #1131

This issue tracks following:

(copied from https://github.com/Azure/azure-functions-core-tools/issues/1131#issuecomment-643655379)

## func start

* Change default to a less verbose output, hiding almost everything coming from host or Core Tools that is `Information` or `Debug`
* Add a `--verbose` flag that outputs the current (original) log levels
* Remove timestamps from output wh

[2020-08-06 15:16] pragnagopa opened #2142 "Less verbose logs on func azure functionapp publish"
Part of #1131

This issue tracks following:

(copied from https://github.com/Azure/azure-functions-core-tools/issues/1131#issuecomment-643655379)

## func azure functionapp publish

In general, the deployment output needs to be cleaned up a bit. We might not want to hide them by default as we don't want folks to have to re-deploy with `--verbose` to see errors.

Display a summary after deployment

[2020-08-06 15:17] pragnagopa opened #2143 "Less verbose logs on function invocation"
Part of #1131

This issue tracks following:

(copied from https://github.com/Azure/azure-functions-core-tools/issues/1131#issuecomment-643655379)

### Function invocation

* Remove the HTTP response JSON output
* Would be great if we could de-emphasize the executing/executed messages to make it easy to pick out logs from user code

[code]

[2020-08-06 15:19] pragnagopa commented on #1131
Moving this issue to epics as this issues captures multiple improvements. Following issues track improvement identified
- Less verbose `func start`  - #2141
- Less verbose on function invocation - #2143
- Less verbose `func publish` - #2142
- Force Log white listed logs for VS code to ensure debugging experience is not impacts #2110

[2020-08-06 18:07] pragnagopa commented on #2143
@anthonychu - Setting `LogLevel=Warning` for System Logs and `LogLevel=Information` for user logs, shows following on invocation

[code]

I think this achieves the default experience.

If user specifies default log level in host.json such as the following:

[code]

this would override default log levels set in the core tools.

[2020-08-06 20:22] jeffhollan opened #2144 "Support KEDA 2.0 for func kubernetes commands"
KEDA 2.0 will go into beta soon, with a 2.0 release planned for later this year.  There are some minor changes to the spec so the function core tools will need to be able to generate the latest one.

https://keda.sh/docs/2.0/migration/

Ideally there could still be a flag for backwards compat to KEDA 1.0?  Or maybe we make people opt-in to keda 2.0?  `func kubernetes deploy --keda-version 2` or so

[2020-08-06 21:40] anthonychu commented on #2143
@pragnagopa Yes that's a good point. We didn't specify behavior when the customer specifies the log levels. I agree that the user's config should win.

[2020-08-06 23:09] anthonychu commented on #2070
@apawast @ankitkumarr Let's discuss in the next triage if this is something we can do.

[2020-08-07 06:23] shashanksdixit commented on #2115
Hi @apawast

Is there any further input from you after the log output I have sent by making CLI_DEBUG on. There is a detailed exception in the log.

[2020-08-07 19:11] anthonychu commented on #375
@ggailey777 I think we can start updating the quickstarts with this now.

[2020-08-07 20:36] jeffhollan opened #2148 "New scale out settings for consumption and premium"
Glenna and Wenonah have completed work recently so that:

1. Consumption apps can specifiy a max scale out and an app will stop scaling at that number
2. Premium apps can specify a minimum instance that will always be running

We want to make sure both are surfaced in the AZ CLI.  Glenna and Wenonah have details on the ARM properties. They went live in 88 and 87.1 respectively

[2020-08-10 06:37] tomkerkhove commented on #2144
Would be good to use 2.0 as default and provide capability to use 1.0 for backward compatibility maybe?

[2020-08-10 07:04] anthonychu commented on #2144
I think it might be safer for `deploy` to check which version is installed in the cluster and be smart about what to do. A `--keda-version` flag might still be needed when the version is unknown (like when using `--dry-run`).

[2020-08-10 07:05] tomkerkhove commented on #2144
Even better proposal!

[2020-08-10 12:33] richardweaver commented on #1700
I am having this issue in production on Azure. My functions work fine run locally but on Azure I get:
[code]

How can I remove the ExtensionsBundle cache on live? Do I need to just do a new build/release and hope for the best?

[2020-08-10 15:57] pragnagopa commented on #2110
Moving this issue to Sprint 82 to give more time for PR reviews.

[2020-08-10 18:13] ironprice91 opened #2150 "ImportError: cannot import name 'cygrpc' from 'grpc._cython'"
Having trouble running my azure function locally. I followed this guide https://docs.microsoft.com/en-us/azure/developer/python/tutorial-vs-code-serverless-python-01

az --version: 2.10.1
func --version: 3.0.2630
OSX: Catilina 10.15.6
Python: 3.8.5

I installed Azure CLI & Functions tools via homebrew

[code]

I'm also using python 3.8.5 64 bit. I used this command to confirm my Python interpreter

[2020-08-10 19:11] anthonychu commented on #1700
@richardweaver Took a look at the logs on our side. Seeing errors about `durableClient` is invalid. Can you try it with `orchestrationClient` instead? `durableClient` is specific to Durable Functions v2, which will be available in extension bundles v2. It'll be available soon and we'll update our documentation on how to upgrade your app to take advantage of it.

/cc @davidmrdavid

[2020-08-10 20:48] ironprice91 commented on #2150
I was able to resolve my issue, for some reason running `func init` resolved the problem.

[2020-08-10 20:48] #2150 closed

[2020-08-10 21:33] #2069 closed

[2020-08-10 22:46] richardweaver commented on #1700
@anthonychu Thanks for the pointer. I thought it might be related to the extension bundle issue after some googling around.

However, I removed all the durable functions pieces completely and after deployment it worked fine for a few minutes and then the same error started appearing. `Value cannot be null. (Parameter 'key')`

/cc @dhardie

[2020-08-11 00:24] anthonychu commented on #1700
@richardweaver Can you share the function.json from your functions having the issue?

@mathewc Looks like you might have recently added a null check to address this (https://github.com/Azure/azure-functions-host/pull/6478). Can you share what can cause this problem and any workarounds?

[2020-08-11 08:00] richardweaver commented on #1700
@anthonychu Sure:
[code]

[2020-08-12 14:11] rajata07 opened #2154 "Function apps fail to run on macOS in version 3.0.2750"
Python Durable functions were working fine in the previous version (osx-x64.3.0.263) . But in the new version (3.0.2750), we get the following error on our local:

[8/12/2020 2:10:11 PM] A host error has occurred during startup operation 'd4a00383-4f0e-4ed5-8a5a-b2b20836a565'.
[8/12/2020 2:10:11 PM] System.Private.CoreLib: Absolute path information is required. (Parameter 'assemblyPath').
Value ca

[2020-08-12 16:46] neosource commented on #2154
I can confirm that this same problem occurs with node.js functions as well. How to I revert back to previous version.

[2020-08-12 17:26] amacmillanparks commented on #2154
I'm seeing the same issue with Java functions on macOS Catalina.

@neosource I was able to revert to the previous version by uninstalling the current version, and installing 3.0.2630 with npm.
`npm i -g azure-functions-core-tools@3.0.2630 --unsafe-perm true`

[2020-08-12 17:37] anthonychu commented on #2154
Thanks for reporting. I can also repro on Mojave.

Likely related to #2107 #2108 @ankitkumarr Can you please look into? Thanks.

/cc @soninaren

[2020-08-12 18:43] EricJizbaMSFT commented on #2126
If you're still having problems, I'd suggest filing an issue here with consistent repro steps: https://github.com/microsoft/vscode-azurefunctions/issues/new

It's a bit hard to tell what the exact repro steps are when it seems like you're trying a bunch of different stuff haha. Also, the "deploySubpath" should have no affect on debugging...

[2020-08-12 19:10] aronchick commented on #2126
Yeah, closing. It still doesn't work (loses connection after a while), but not sure how to repro.

[2020-08-12 19:10] #2126 closed

[2020-08-12 20:36] gzuber commented on #1980
Resolved by https://github.com/Azure/azure-cli/pull/14465

[2020-08-12 20:36] #1980 closed

[2020-08-12 21:35] dxkaufman commented on #2154
I am also seeing this on MacOS running Visual Studio Code with
Azure Functions Core Tools (2.7.2748 Commit hash: 8c653424aeb6494704c80edb202dd357043ecdf8)
Function Runtime Version: 2.0.14192.0

Not even sure why I'm on core tools 2.7 when other people are talking about 3.0... but I'm going to try to figure out the prior version (which strangely seems to still be in use by another function which is

[2020-08-12 21:37] dxkaufman commented on #2154
Strangely, when I switch VSC to a different function, it works fine even though it reports the same version of the core tools:
Azure Functions Core Tools (2.7.2748 Commit hash: 8c653424aeb6494704c80edb202dd357043ecdf8)
Function Runtime Version: 2.0.14192.0

[2020-08-12 23:02] ankitkumarr commented on #2154
The issue would be in both V2 and V3 of Azure Functions Core Tools. We are working to release a fix for both of these versions.

@dxkaufman, The V2 core tools supports V2 Azure Functions Runtime and V3 supports the V3 Azure Functions Runtime. You can find more info [here](https://docs.microsoft.com/en-us/azure/azure-functions/functions-versions#migrating-from-2x-to-3x). You can check our project R

[2020-08-12 23:28] dxkaufman commented on #2154
Thank you @ankitkumarr, that's very helpful. Do you have any idea when the fix will be ready?

[2020-08-13 12:10] martikevin commented on #1031
Hey @anirudhgarg @vrdmr we are also waiting for conda support because some dependencies like geopandas cannot be installed over pip install command.

Please an update!?

[2020-08-13 12:54] mhschel commented on #2154
Same issue with Python functions on Mac. Any way to downgrade with Homebrew?

[2020-08-13 14:22] anthonychu commented on #2154
We'll have a new version published today. Thanks for your patience.

Use this command to downgrade on homebrew:

[code]

[2020-08-13 14:57] AlverezYari commented on #2154
Thanks @anthonychu we just ran across this issue this AM, glad to see you guys are already on it!

[2020-08-13 15:07] dxkaufman commented on #2154
@anthonychu Thank you for that! Now I can work on my debugging today!

Out of idle curiosity, are the build numbers auto-updated every time someone checks in a revision?

[2020-08-13 20:20] ankitkumarr commented on #2154
Thank you all for your patience! We have released the hotfixed versions of
- V3 - [Azure Functions Core Tools v3.0.2798](https://github.com/Azure/azure-functions-core-tools/releases/tag/3.0.2798)
- V2 - [Azure Functions Core Tools v2.7.2796](https://github.com/Azure/azure-functions-core-tools/releases/tag/2.7.2796)

These should be available to you now. Please update you core tools version using a

[2020-08-13 20:20] #2154 closed

[2020-08-13 20:31] ankitkumarr commented on #1999
Re-opening this as we reverted the fix for another hotfix. See https://github.com/Azure/azure-functions-core-tools/pull/2155.
@soninaren fyi. We can discuss when you are back from vacation. Thanks!

[2020-08-14 05:31] ajtatum commented on #2154
I'm still receiving this error in VS Code with the latest version installed (3.0.2798) with the "standard" node template:

A host error has occurred during startup operation 'e12c8350-a6d8-4599-898f-cdaf6d3f77d8'.
System.Net.Http: An error occurred while sending the request. System.Net.Security: Cannot determine the frame size or a corrupted frame was received.
Value cannot be null. (Parameter 'pr

[2020-08-14 05:43] #1970 closed

[2020-08-14 10:47] shashanksdixit commented on #2115
Hi @apawast
Is there any input. This is still blocker to me.

[2020-08-14 18:56] BoutemineOualid commented on #1409
Having the same issue. The project uses a secrets.json and a customer startup class that loads the secrets.json file.

[2020-08-14 20:14] ajtatum commented on #2154
@ankitkumarr can you please look into this?

[2020-08-14 21:39] ankitkumarr commented on #2154
@ajtatum, would you mind opening a different issue please? Your error seems different than the one reported in this issue, and is likely unrelated to the problem discussed.

When you open the new issue, please provide more information like -- the OS you are running on, if downgrading the version helps, and the error output if you set an environment variable `CLI_DEBUG=1` and then run the function.

[2020-08-14 21:43] ankitkumarr commented on #2106
This will likely move another Sprint as we completed the release yesterday, and I will be away for a week.

Note: As part of this item, we should also switch out of master as the release branch and instead have 2 release dedicated branches similar to `azure-functions-host`.

[2020-08-15 00:56] ajtatum opened #2157 "Error while trying to run func start"
**I'm running:**
Edition	Windows 10 Pro
Version	20H2
OS build	19042.450

This would be my first attempt at building a Javascript/NodeJS function, but I receive the following error when trying to run "func start". I don't receive this error when running "func start" for .NET functions.

Azure Functions Core Tools (3.0.2798 Commit hash: d9d99872a51c04b1c2783198b1ee1104da6b064f)
Function Runtime Vers

[2020-08-17 13:06] yputter commented on #1031
Also waiting for this, as turbodbc fails with pip

[2020-08-18 09:16] richardweaver commented on #1700
Just to follow up on this, I can't even create a new function in a fresh, empty project:

[code]

[2020-08-18 16:32] Hazhzeng commented on #1700
Hi @richardweaver, as Anthony mentioned, to mitigate this issue, you may want to remove the folders in `%appdata%/../Local/Temp/Functions`. The core tools cache a copy of ExtensionBundles in there. Clearing out the cache will initialize a redownload on the next **func** command.

[2020-08-18 18:09] anthonychu commented on #2071
@fabiocav @kashimiz Can you please provide an update on this item? Thanks.

[2020-08-18 18:24] apawast commented on #2138
@anirudhgarg do you know if we can use the same API as the portal to get streaming logs?

[2020-08-18 18:30] apawast commented on #2157
@soninaren could you please take a look?

[2020-08-18 20:59] anirudhgarg commented on #2138
I think that should work, but @ehamai can confirm if that link can be exposed outside of the portal.

[2020-08-18 21:27] ehamai commented on #2138
So theoretically it should be doable, however I think we need to make sure the AI folks are okay with that.  They were pretty hesitant to even give us permission just to do this in the portal to begin with.  Even then, we still need them to do a lot of work for us to improve the usability and reliability of this API so it's probably better to make sure they understand our scenario before we dive i

[2020-08-18 21:57] guillene opened #2159 "Powershell ErrorAction Stop not working"
I'm trying to build a simple try-catch statement like the following, but that catch block never gets executed

[code]

The problem is that the azure function is not throwing the expected error as terminating besides the fact I had the `ErrorAction Stop` parameter. Therefore the `catch` code never gets executed.

Output Log:
[code]
The error was expected, however, the catch code block never got exe

[2020-08-18 22:09] soninaren commented on #2157
@ajtatum Do you just have httpTrigger function. if yes can you remove the following from host.json and try again. I am trying to rule out bundle download issue.

[code]

[2020-08-19 10:48] elliotchaim commented on #1489
I agree with @brandonh-msft . Not having this feature makes it difficult to work with functions projects in VS Code when working in a large repo. For example, we have `/dotnet/src/FunctionsApp`, but code needs to be open at `/`. This means we can't utilise `tasks.json` to run the functions app and speed up development

[2020-08-19 17:48] yojagad commented on #2053
The commit https://github.com/Azure/azure-functions-core-tools/commit/7dd097e1d7f5ce4d6ef5bd16f425ff0a5b83da4d already enables publish without the `--no-build` and `--force` flags. Was tested on canary portal.

[2020-08-19 17:48] #2053 closed

[2020-08-19 20:20] fabiocav commented on #2110
This is currently in the PR tracking the logging verbosity changes

[2020-08-19 21:39] ericis opened #2161 "Docker development image with Azure CLI + functions tools"
Create a Docker development image with the Azure CLI and functions tools already installed.

Here's a non-working starter draft:

[code]

[2020-08-20 01:30] amamounelsayed opened #2162 "Core tool release question"
Is there any future plans to releases core tools before releasing runtime?

This can give the customer the ability to test the next release, and validate the runtime failure (have the ability to recreate the issues locally if it happens on prod)

[2020-08-20 02:50] anthonychu commented on #2161
We already publish these images. They’re primarily for supporting VS Code devcontainers and VS/GitHub Codespaces but you should be able to use them by themselves.

@TsuyoshiUshio can we add them to the Docker Hub readmes like this one? https://hub.docker.com/_/microsoft-azure-functions-node . Also, do we include the azure cli as well?

@ericis Take a look at the azure-functions-* container definit

[2020-08-20 17:45] neckhaus opened #2163 "Error calling sync triggers (BadRequest). Python runtime on Linux."
I am trying to publish my local code to a function app using VS Code. The code runs locally without issue in VS Code.

It gets through the initial steps but fails on the Syncing triggers...  I have had this working in the past for this function app, and have done this on other function apps.  After I see "Remote build succeeded!", I get the 6, "Syncing triggers..." messages before finally getting

[2020-08-23 19:22] FunnyBlue opened #2164 "lauch.json has error message"
I am trying to follow this tutorial by using VS code
[Quickstart: Create a function in Azure using Visual Studio Code
](https://docs.microsoft.com/en-us/azure/azure-functions/functions-create-first-function-vs-code?pivots=programming-language-python)
I have downloaded the latest Azure function core tools, python extension but I got this error message:
**Invalid message: "noDebug" is not supported

[2020-08-23 20:01] FunnyBlue commented on #2074
still have no clue how to solve this issue!
@anthonychu can you tell me more what folder needs to be deleted? the whole folder or only the .vscode or any other file? Thanks!
@disssid mind if you can elaborate on how you solve this?

[2020-08-24 06:02] Harshagracy commented on #1872
This is a workaround that helped me.

https://stackoverflow.com/a/60342560

[2020-08-25 11:31] DavidStania commented on #1872
I've got the same problem. With my slow internet connection, it takes 2 minutes until debug mode starting.

workaround for me:
1. download the current azure functions tools cli from [gitHub](https://github.com/Azure/azure-functions-core-tools)

2. change the launcheSettings.json

`{
  "profiles": {
    "YOUR_PROJECT_NAME": {
      "commandName": "Executable",
      "executablePath": "C:\\Users\\US

[2020-08-25 14:21] disssid commented on #2074
@FunnyBlue I just created a new Azure Function project in another directory, copied over the directories consisting just the Function related files from my previous project and ran the new project, It worked fine.

Let me know if you want me to elaborate in detail

[2020-08-25 15:51] ericis commented on #2161
Can we also consider how to lighten these images, for DevOps and for engineers? Should reducing the size of the docker image be a separate issue?

## Examples

- **2.67GB** [`mcr.microsoft.com/azure-functions/node:3.0-node12-core-tools`](https://github.com/Azure/azure-functions-docker/blob/master/host/3.0/buster/amd64/node/node12/node12-core-tools.Dockerfile)
- **1.47GB** [`ourchitecture/azure-too

[2020-08-25 18:03] pcgeek86 opened #2168 "PowerShell v7 in "func start" instead of 6.2.4"
## Summary

I want to use PowerShell v7 for local testing with `func`.

## Actual Result

* I installed `func` using `npm install --global azure-functions-core-tools`.
* When I run `func start`, the `func` tool uses PowerShell `6.2.4`, however I have `7.0.3` installed via Scoop package manager

## Expected Result

`func` uses `pwsh` that I already have installed locally

**Question**: How do I tel

[2020-08-25 22:08] pragnagopa commented on #2141
Addressed in referenced PR #2139

[2020-08-25 22:08] #2141 closed

[2020-08-25 22:09] pragnagopa commented on #2143
Addressed in referenced PR #2139

[2020-08-25 22:09] #2143 closed

[2020-08-25 22:09] pragnagopa commented on #2110
Addressed in referenced PR #2139

[2020-08-25 22:09] #2110 closed

[2020-08-26 15:05] pragnagopa commented on #2141
@FinVamp1 - FYI this change will be going out with the next release.

[2020-08-26 16:54] pellebjerkestrand opened #2173 "A Node.js/JavaScript API"
Thanks for this tool. It would be impossible to develop Azure Functions locally without it.

I couldn't find an issue template, so I hope this is OK.

It would be very nice if there was a JavaScript API for running this tool. Currently I'm doing something like this to run `func` together with Azurite, Browsersync, and Webpack:

[code]

This doesn't feel very nice, and I still haven't found a good

[2020-08-26 18:57] pragnagopa opened #2174 "Investigate logging filter unit tests"
Tests: LoggingFilterHelperTests and GetHostJsonDefaultLogLevel_Test only fail in CI runs. Do not repro locally.

[2020-08-26 19:31] mcgjoe opened #2175 "system.provate.corelib value cannot be null (parameter 'key'}"
Getting the error below when I run blob trigger azure function.  I a having trouble finding any info on what may be causing this.

System.Private.CoreLib: Exception while executing function: Functions.BlobTrigger1. System.Private.CoreLib: Value cannot be null. (Parameter 'key').

Has anyone seen / solved this?  Any help would be appreciated.  Thanks.

[2020-08-27 18:07] apawast commented on #2138
@balag0 In the past, the first URL was used because at the time log streaming wasn't as reliable. Do you feel that it is reliable enough to make this change now?

[2020-08-27 18:11] apawast commented on #2163
@balag0  @Hazhzeng Can one of you take a look at this?

[2020-08-27 18:14] apawast commented on #2164
@EricJizbaMSFT do you know what this error means?

[2020-08-27 18:16] apawast commented on #2168
@Francisco-Gamino can you help with this?

[2020-08-27 18:23] apawast commented on #2175
Hi @mcgjoe, do you mind sharing repro steps for this issue?

[2020-08-27 19:01] Francisco-Gamino commented on #2168
Hello @pcgeek86 -- to use PowerShell 7 in Functions locally you have two options:

1) Download the latest version of the Azure Core Tools (https://github.com/Azure/azure-functions-core-tools#installing) and create a new PowerShell function app. By default, we set the PowerShell worker version to ~7.

Here is the version of the Azure Core Tools that I am using:
[code]

Create a new PowerShell funct

[2020-08-27 19:02] mcgjoe commented on #2175
Hi @apawast   .  i am debugging this azure function locally.  this function is blob triggered as I upload file to blog this error occurs.  This function is not able to initiate past acknowledging trigger action

[2020-08-27 19:04] mcgjoe commented on #2175
when step through code last command I get to is :  (this is part of internal/ proprietary azure function processing not my function code)
self._grpc_resp_queue.put_nowait(resp)

of this code block:

async def dispatch_grpc_request(self, request):
content_type = request.WhichOneof('content')
request_handler = getattr(self, f'handle{content_type}', None)
if request_handler is None:
# Don't crash on