[2019-05-17 23:20] Tioga060 commented on #1309
Ah, thank you. Added a documentation request here: https://github.com/MicrosoftDocs/azure-docs/issues/31524

[2019-05-17 23:20] #1309 closed

[2019-05-17 23:40] rramani commented on #352
I am having similar issue deploying from Mac as well. This is functions using python. I tried stopping the functions and then deploying but that just takes forever. When I start it from portal and run the deploy, get the 'Bad gateway' error

Error uploading archive (BadGateway).

if you have other suggestions, please let me know

[2019-05-17 23:59] vijayrkn commented on #1319
@ahmelsayed - I had created this issue on behalf of another customer issue that came to the tooling side. Unfortunately it is an internal issue. I will add you to the issue so that you could probably get more details on it.

[2019-05-18 00:01] vijayrkn commented on #1319
This is the internal issue - https://devdiv.visualstudio.com/DevDiv/_workitems/edit/797076

[2019-05-19 13:52] aws-scripting-guy opened #1320 "PowerShell worker: Honor INFORMATION messages for profile.ps1"
**Issue description**
When running ```func host start``` _INFORMATION_ messages are being emitted only for run.ps1.

Example from the run.ps1 script:
Write-Host "PowerShell HTTP trigger function processed a request."

Worker log:
_[5/19/2019 1:41:53 PM] INFORMATION: PowerShell HTTP trigger function processed a request._

Expected behavior:
Console-output messages would be honored also from profile

[2019-05-19 21:56] aws-scripting-guy commented on #1320
Found a solution, referencing https://github.com/Azure/azure-functions-powershell-worker/issues/227

[2019-05-19 21:56] #1320 closed

[2019-05-19 22:24] ankitkumarr commented on #1069
For 1, what if we add a querystring in kudulite, say `/api/zipdeploy?runfrompackage=true`, similar to what Ahmed proposed to `?dobuild=true` on a separate issue.
So, we would do two things from core-tools-
- Update app settings with `WEBSITE_RUN_FROM_PACKAGE=1`.
- Call zipdeploy api with the querystring to let kudulite know to perform runfrompackage type of deployment.

This way kudulite can get t

[2019-05-20 01:08] ankitkumarr commented on #688
For other trigger types, do we still need extensionsmetadatagenerator?

[2019-05-20 04:53] jdoof commented on #1317
@mhoeger Thanks for that I would say more than likely you are correct the code is little more involved than the example so tracking is little tricker. Can I perhaps send you code snippet some other way?

[2019-05-20 08:28] jsacapdev opened #1325 "Default tasks.json does not work with nested folder structure"
I have a function that sits somewhere under a `src` subfolder. The default tasks.json creates me the following task to start the function:

[code]

When attempting to build it, I get the following reported back:

[code]

I found a older version of the task, and this does seem to work OK:

[code]

[2019-05-20 09:25] timlod commented on #1298
Hi Ahmed,
Sorry for the late reply.
I've made a new function app to reproduce the error.
Then `func new` with ServiceBusTopicTrigger.
`func start` errors out with:
[code]

Before the error I also get this warning:
[code]
which may be because I didn't add a correct Topic yet to the connection string.

In any case, specifying scriptFile fixes the problem and seems to also be the default for quite a

[2019-05-20 13:18] ccwilkins commented on #1204
Please note this is still happening using the latest toolset: 2.7.1158

[2019-05-20 15:46] zacktayl opened #1326 "func azure functionapp publish no longer works with javascript functionapp"
**Current Settings:**
* FUNCTIONS_EXTENSION_VERSION: ~2
* FUNCTIONS_WORKER_RUNTIME: node
* WEBSITE_NODE_DEFAULT_VERSION: 8.11.1
* WEBSITE_RUN_FROM_PACKAGE: 1

**Steps to reproduce:**
1. Setup a JS Azure functionapp
2. Change a javascript file in the app locally
3. Deploy the change to the functionapp using the cli: `func azure functionapp publish project_name`
3. Open the functionapp in the portal

[2019-05-20 16:00] mhoeger commented on #1317
@jdoof Sure, feel free to email me at mahoeger@microsoft.com !

[2019-05-20 16:52] shietpas commented on #1050
I'm running Python 3.6.8 on Windows 10 in virtual environment and still receiving the error when running "func host start":
**AttributeError: module 'azure.functions_worker' has no attribute 'start_async'.**

I am using Azure Functions Core Tools (2.7.1158 Commit hash: f2d2a2816e038165826c7409c6d10c0527e8955b)
Function Runtime Version: 2.0.12438.0

Here is my output from pip freeze:
azure-function

[2019-05-20 18:05] asavaritayal opened #1327 "Handle Python versioning"
**Scenario**
Currently, users with a Python version different than 3.6.x are blocked from creating and publishing Function Apps. We want to tweak the command line experience to unlock this scenario and surface a discoverable warning in the console during `func init`, `func start` and `func publish`.

[2019-05-20 18:09] ankitkumarr commented on #1326
@zacktayl, what platform and plan do you have your function app on? (Linux Consumption, Windows Consumption, Linux App Service, Windows App Service)

[2019-05-20 20:45] zacktayl commented on #1326
Hey @ankitkumarr! The function app is running on the consumption plan and I'm almost positive it is using the Windows platform. I've tried to determine which consumption plan I'm using but I don't see any obvious indication if its Windows or Linux using Azure online.

[2019-05-20 21:41] rramani commented on #1305
Setting the variable does not resolve the issue. Getting 'BadGateway' error

[2019-05-20 21:43] jdoof commented on #1317
@mhoeger sent some details via email.

[2019-05-20 22:06] ahmedelnably commented on #1325
@fiveisprime, i think this is vscode specific

[2019-05-20 22:21] #1278 closed

[2019-05-20 23:33] ankitkumarr commented on #1069
Discussed offline, for 1, it is indeed the best approach to simply wait for kudulite to update.
I made the PR here- https://github.com/Azure/azure-functions-core-tools/pull/1329

Once this PR is merged and kudulite changes are deployed (ANT83), we will be able to turn on Run From Package for Linux dedicated.

There's nothing else to be done here yet. Marking this as __blocked on platform update__.

[2019-05-21 00:21] ankitkumarr commented on #931
@gabesmsft, do you still need this functionality, if so I can provide you artifacts from my PR to test?

[2019-05-21 03:16] InternDan commented on #1287
I'm very interested in this issue as well. Without OpenCV on Python, Azure becomes functionally useless to my current venture.

[2019-05-21 12:43] rodrmoya opened #1330 "Azure Functions cannot access native library in NuGet"
See https://github.com/mono/monodevelop/issues/6673

It not only affects vsmac, also azure-functions CLI. To reproduce, clone https://github.com/mattleibow/SkiaSharpFunction , build and run (in the `bin/Debug/netcoreapp2.1` folder):

[code]

Functions app starts perfectly, but when the function is called:

[code]

A Console .NET Core app works (by adding the SkiaSharp NuGet and adding this code ->

[2019-05-21 12:50] jtlz2 opened #1331 "Local dev environment - way to launch only specific functions from command line"
Github question refers - https://stackoverflow.com/questions/56217001/azure-functions-how-do-i-launch-only-a-specific-function-in-local-dev-environme

As suggested there by @ahmelsayed, it would be amazing to be able to start the local host from the command line with only a subset of the available functions, i.e.

`func host start`

->

`func host start --functions <list of functions>`

@ahmelsaye

[2019-05-21 15:45] fiveisprime commented on #1325
Yeah, can you transfer this or recreate it at https://github.com/Microsoft/vscode-azurefunctions/issues

[2019-05-21 17:00] ahmedelnably commented on #1325
Closing this one
Opened https://github.com/microsoft/vscode-azurefunctions/issues/1290 to track in vscode repo

[2019-05-21 17:00] #1325 closed

[2019-05-21 19:55] ahmelsayed commented on #1286
I understand what you're asking for, though I don't think we have current plans for that. I'll move the issue to the general repo since it's not a core-tools ask.

also tagging few people.
/cc @jeffhollan @anirudhgarg

[2019-05-21 20:00] ahmelsayed commented on #1331
thanks @jtlz2 I think it should be a simple change here. I'll take care of it.

[2019-05-21 22:01] bnb commented on #1312
+1. I thought I'd already created an issue for this but just came to check on it and discovered this one. Thank you for the issue @ankitkumarr 🙏

[2019-05-21 22:15] bnb opened #1333 "npm install also works on macOS (and probably Linux?)"
Currently `npm install` is listed only as an install option for Windows currently.

As far as I can tell, `npm i azure-functions-core-tools -g` installs a fully working v2 version of the `func` CLI for macOS.

If this is indeed a cross-platform install option, perhaps it coudld be split out as such 😊

[2019-05-22 00:10] asavaritayal opened #1334 "Log streaming for Python - Open Browser"
On `func azure functionapp logstream <app_name>`, launch the **Live Metrics Stream** view in the browser.

[2019-05-22 02:21] ahmedelnably commented on #1334
I would rather not to change the current behavior
a more realistic approach would be
`func azure functionapp logstream --browser`
or
`az functionapp monitoring logstream --browser` or something like that

I would prefer to wait until we have a consumable API to support the streaming from command line and not change the behavior

[2019-05-22 02:45] akshaybabloo commented on #1101
This is happening to me too. I think python is freezing, but running `az account get-access-token` I am able to get the token though

[2019-05-22 04:53] asavaritayal commented on #1334
From the other thread, it looks like the API is not scheduled to arrive for another 6-7 months. In the meantime, we need a debugging story for Python (tracked as part of the Day 1 reviews). Constructing the URL and using it to launch the browser seems to be the cheapest solution here. Open to other options/suggestions on how we can make the Python users successful at GA.

[2019-05-22 16:57] priyaananthasankar commented on #1285
Since you are using docker anyway, can you use conda to install pystan? Conda takes care of pystan installation pretty well by using the right architecture flags.

[2019-05-22 17:35] orktopus commented on #1315
I tried func kubernetes deploy and ran into some other issues. Could you point me to some documentation around using that instead? as timlod mentioned above, all the examples tell us to do func deploy --platform kubernetes instead.

[2019-05-22 18:01] mhoeger commented on #1317
Looking into the issue, we found that the number of "Warning: Unexpected call to 'log' on the context object" warnings keeps growing as the function app runs for longer. The code is using the npm package [winston](https://www.npmjs.com/package/winston) to aid in logging, and it seems like throughout the lifecycle of the function app, new [transports](https://www.npmjs.com/package/winston#transport

[2019-05-22 18:01] #1317 closed

[2019-05-22 19:30] ahmelsayed commented on #1315
What issues are you running into?

This is the main doc now. I'm working on updating this repo.  https://github.com/kedacore/keda/wiki/Using-Azure-Functions-with-Keda-and-Osiris

[2019-05-22 20:07] ahmelsayed opened #1335 "display kudu publish errors"
ZipDeploy has few meaningful error cases listed here https://github.com/projectkudu/kudu/blob/master/Kudu.Services/Deployment/PushDeploymentController.cs#L246-L272

Today the cli will just print the status code. If it's one of these statuses, we should display a better error message.

[2019-05-22 20:16] ahmedelnably opened #1336 "Add --debug to the commands"
right now to get more verbose output from the commands, you will need to set the env variable CLI_DEBUG=1 which enables it for all commands, it would be better if we give the user the option to have --debug mode for only a single command on demand

[2019-05-23 09:57] kartikey-sopho opened #1337 "Can't initialize using func init"
I installed azure functions core tools using npm and install .NET Core SDK tools. I am able to see the azure functions core tools versions using `func version` but when I run `func init`, I get the error

[code]

[2019-05-23 12:19] bsnithin44 commented on #1285
Hi @ahmelsayed

Please find the output with CLI_DEBUG=1

[output.txt](https://github.com/Azure/azure-functions-core-tools/files/3212056/output.with.clidebug.txt)

[2019-05-23 17:07] ahmelsayed commented on #1337
what's your `func --version` ?

[2019-05-23 17:22] ahmelsayed commented on #1285
If the `./func` process can see the environment variables, it should print additional output like this. Try on a different machine and see why your environment variables are not taking effect.

[code]

[2019-05-23 18:24] shietpas commented on #1050
FYI, I discovered that my issue was having a 32-bit version of Python installed rather than the 64-bit. Once 32-bit uninstalled and 64-bit installed, I no longer received any errors.

[2019-05-23 18:49] ahmelsayed opened #1338 "python3 doesn't load correct worker"
Have the core-tools to use `python3` instead of `python`

[code]

[2019-05-23 19:04] ahmedelnably commented on #1338
I think this is a dupe of https://github.com/Azure/azure-functions-core-tools/issues/1327

[2019-05-23 19:05] ahmelsayed commented on #1338
no, #1327 is about supporting multiple versions of python other than 3.6. This is about working correctly if `python3` is an alias for 3.6.

[2019-05-23 20:06] anindya5 commented on #826
Is it possible to do using VS Code, the document talks only of deploying using CLI

[2019-05-23 21:30] ahmelsayed commented on #753
logs should be enabled by default now by setting [this](https://github.com/Azure/azure-functions-core-tools/blob/dev/src/Azure.Functions.Cli/StaticResources/Dockerfile.python#L4) in the dockerfile.

[2019-05-23 21:30] #753 closed

[2019-05-23 21:31] ahmelsayed commented on #574
Closing old issue. Please open another one if you're still running into any issues.

[2019-05-23 21:31] #574 closed

[2019-05-23 21:32] ahmelsayed commented on #559
Closing old issue. Please open another one if you're still running into any issues.

[2019-05-23 21:32] #559 closed

[2019-05-23 21:32] ahmelsayed commented on #584
Closing old issue. Please open another one if you're still running into any issues.

[2019-05-23 21:32] #584 closed

[2019-05-23 21:32] #618 closed

[2019-05-23 21:33] ahmelsayed commented on #482
Closing old issue. Please open another one if you're still running into any issues.

[2019-05-23 21:33] #482 closed

[2019-05-23 21:37] ahmelsayed commented on #625
with the `func kubernetes deploy` (>= 2.7.x) command, the cli will turn your `local.settings.json` into a Secret automatically and link it to your deployment. You can pass `--secret-name` to specify your own secret or `--config-map-name`  to use a config map.

let me know if you have any questions.

[2019-05-23 21:37] #625 closed

[2019-05-23 22:11] #1294 closed

[2019-05-23 22:33] akshaybabloo opened #1339 "Freezes at getting accessToken"
For some reason, on Windows, the function tools freeze at

[code]

when I try to do

[code]

The only way to get over this is to `end task` the current session and do this in a new command prompt session.

![Annotation 2019-05-24 110829](https://user-images.githubusercontent.com/7360286/58292122-4d218980-7e14-11e9-910d-64ee4d74e5e8.jpg)

**Update:**

Sometimes even this doesn't work

[2019-05-24 07:38] nanhasa commented on #428
At the moment `func init` and `func new` ingores parameter `--language F#` and creates C# template instead.

[2019-05-24 10:54] snobu commented on #753
Appreciated. Can we alias that to something shorter somewhere in the future? Looks a bit threateningly long :)

[2019-05-24 13:52] krancour commented on #753
@ahmelsayed wouldn't logging to the console be a sensible default for a container? Why does this need to be set explicitly by the user?

Would it make more sense to pre-set this in the next version of the `mcr.microsoft.com/azure-functions/python` image?

[2019-05-24 15:12] m1nkeh commented on #1183
yep, same here!

[2019-05-24 15:14] ahmelsayed commented on #753
The logs can be very verbose and we had a couple of CRIs about these stdout logs filling the disk space when the container was left running for a long time. I’m not sure what’s the right thing here because people will just deploy these containers with the default behavior. I can follow up with the owners of that area to see if they have a better solution now.

@snobu yeah it would be nice to have

[2019-05-24 20:06] maiqbal11 opened #1340 "Use azure.functions library from extension bundle"
We will be pulling the azure.functions library from extension bundles in the future. This will most likely take the form of a `pip install azure-functions==<version> ` with the  version being pulled from metadata in the bundle. We should not need to package the actual files within the bundle.

[2019-05-25 05:49] slowik21861 commented on #1333
There is an error during macOS install
[2019-05-25T05_46_52_738Z-debug.log](https://github.com/Azure/azure-functions-core-tools/files/3219162/2019-05-25T05_46_52_738Z-debug.log)

[2019-05-25 18:27] miladghafoori commented on #1084
@Dona278: I am having a similar issue. Were you able to resolve this?

[2019-05-25 18:32] Arash-Sabet opened #1341 "Registration of a type derived from DbContext throws "Violates the constraint of type parameter DbContext""
We have an asp.net core 2.2 web API which works perfectly. We decided to move to Azure Durable Functions and hence started using ```IFunctionsHostBuilder```  to wire up the very same services. When running the application, the following exception is thrown.

```AccountManagementDbContext``` is derived indirectly from ```DbContext``` class defined in EF and ```TDbContext``` is a generic type which

[2019-05-25 18:36] Arash-Sabet commented on #1084
@Dona278 @miladghafoori This is a blocker and it has to be resolved by Microsoft.

[2019-05-26 05:09] jeffhollan commented on #1341
Hard to say - can you provide a repro or at least give an example of how you are registering the services in the `FunctionsStartup`

[2019-05-26 06:23] akshaybabloo opened #1342 "Frequent Request Timeout"
I have been getting frequent request timeouts when trying to publish an app

[code]

**Update**

And now I am getting this error:

[code]

I have logged out Azure CLI and logged back in, but still the same problem.

**Update 2**

This is happening on macos, for Windows see #1339

[2019-05-26 06:29] ankitkumarr commented on #1339
Can you try running `az account get-access-token --query "accessToken" --output json` in a command prompt window? Do you see a similar freeze?

[2019-05-26 06:30] akshaybabloo commented on #1339
No, I don't, that seems to be working fine.

[2019-05-26 07:11] ankitkumarr commented on #1338
@ahmelsayed, looks like core-tools did start `python3` `worker.py` correctly, but the import to `azure.functions` had issues? Are you able to reproduce this, if so, could you share the `PYTHONPATH` that is printed when in debug mode? I want to see if the `deps` directory is correctly added or not.

[2019-05-26 11:07] Arash-Sabet commented on #1341
@jeffhollan will prepare and share a small repo.
FYI: @miladghafoori

[2019-05-26 14:19] Arash-Sabet commented on #1341
@jeffhollan
There is a ReadMe file in the following repository that explains everything. Hope this repo helps you guys find out and address the root cause of the issue:

https://github.com/Arash-Sabet/DbContextRegistrationIssueAzureFunctionsv2/tree/master

FYI: @miladghafoori

[2019-05-26 16:32] jeffhollan commented on #1341
Repro'd, but once I dropped the version of EntityFramework and EntityFramework.SqlServer to 2.2.3 it was happy and works.  I expect this is related to this:

https://github.com/Azure/azure-functions-host/issues/4006

I'll flag this as this appears to be a common pitfall. I don't fully understand all the reasons here but that should get you unblocked.

/cc @fabiocav

[2019-05-26 16:36] Arash-Sabet commented on #1341
Thanks @jeffhollan for trying it out. I'm not sure if we can downgrade the mentioned nuget packages in our mainstream project as it may or might cause some other issues. How likely you guys can expedite addressing this issue as it's quite a significant blocker of our progress? That'll be appreciated.

/cc @miladghafoori & @fabiocav

[2019-05-26 16:39] jeffhollan commented on #1341
I would be quite surprised if the difference between 2.2.3 and 2.2.4 would interfere with mainstream project.  We'll look into this soon - flagged it as high on bug backlog.

[2019-05-26 16:40] jeffhollan commented on #1341
Closing this now - will track the main pieces in azure-functions-host#4006

[2019-05-26 16:40] #1341 closed

[2019-05-26 16:53] Arash-Sabet commented on #1341
Well, the reason for my concern is that there are a good number of other nuget packages (internal and Microsoft's) that depend on each other. So, any downgrades in the two mentioned package may possibly cause downgrading in other packages and resulting in unforeseen situations. I will discuss it internally while waiting for the bug to be fixed which is preferred. /cc @miladghafoori

[2019-05-27 07:46] bsnithin44 commented on #1285
The issue got solved.

I had the problem because i was using `sudo` to run docker commands. But while setting the environment variable i was using `export` as `sudo export` will give error. And hence `./func` couldn't see the variables.

Thanks for the help

[2019-05-27 11:27] jherfst opened #1343 "AVG detected func as a threat on windows 10"
![image](https://user-images.githubusercontent.com/8531701/58416839-32088100-8083-11e9-8084-708617d79dba.png)

[2019-05-27 11:37] jherfst commented on #1343
never mind
https://www.techsupportall.com/what-is-idp-generic-is-it-a-virus-or-false-positive/

[2019-05-27 11:37] #1343 closed

[2019-05-27 23:25] ankitkumarr commented on #1326
@zacktayl, I wasn't able to reproduce this issue. Would you mind sharing you function app name, and I can check what's going on? If you want to share it privately, you can do it following these steps https://github.com/Azure/azure-functions-host/wiki/Sharing-Your-Function-App-name-privately.

[2019-05-27 23:26] ankitkumarr commented on #1339
@akshaybabloo, what version of core-tools are you on (`func --version`)?

[2019-05-27 23:27] akshaybabloo commented on #1339
I am on version `2.7.1158`

[2019-05-27 23:30] ankitkumarr commented on #1318
@timlod and @zecloud, are you still seeing issues? If so, would you mind setting an environment variable `CLI_DEBUG=1`, and sharing the publish output (the last part during "syncing triggers")?

[2019-05-27 23:35] ankitkumarr commented on #1305
Update: the problem might be caused by the size of the package you are publishing. This issue should be resolved when https://github.com/Azure/azure-functions-core-tools/issues/1069 is closed. The main work has been done, just waiting on changes to roll out. I will keep this thread updated.

[2019-05-28 13:13] zacktayl commented on #1326
So this seems to have resolved itself on Friday (05/24). I created a new function app to test deploying to and that worked. After that, I tried deploying to my function app that was having problems and everything was working. Really odd.

[2019-05-28 13:13] #1326 closed

[2019-05-28 15:10] zecloud commented on #1318
My latest deployment has worked with no errors.
 All seems to work correctly but I can't see the triggers on the portal now.

[2019-05-28 18:27] ahmelsayed commented on #1333
There is a note

[2019-05-28 18:27] #1333 closed

[2019-05-28 18:29] ahmelsayed commented on #1204
sorry for the delay in getting to this. @ccwilkins are you still seeing this? if so, can you share similar invocation ID you have above but for a recent invocation?

[2019-05-28 18:36] ahmelsayed commented on #1339
What do you get if you run `cmd /c az account get-access-token --query "accessToken" --output json` from the same shell as your python venv?

If that works, can you check the process tree for `func.exe` and see if `cmd.exe` or `python.exe` is still around after that `> cmd /c ....` line is printed from the core-tools

[2019-05-28 18:46] ahmelsayed commented on #1342
Are you able to list the function app you're publishing to using az cli? core-tools uses the same token as the cli.

[2019-05-28 23:14] MariusFearn commented on #996
Upload completed successfully.
Deployment completed successfully.
Syncing triggers...
Syncing triggers...
Syncing triggers...
Syncing triggers...
Syncing triggers...
Syncing triggers...
Error calling sync triggers (Unauthorized).

same problem 29/05/2019

[2019-05-28 23:18] #688 closed

[2019-05-29 01:15] akshaybabloo commented on #1342
I have given a support request to the Azure support team. I will update this ticket if I get any information. For now, it looks like an issue with your datacentre in Europe.

[2019-05-29 01:17] akshaybabloo commented on #1339
`cmd /c az account get-access-token --query "accessToken" --output json` works.

Yes, those are still around and using up to 30% of the resources but no output

[2019-05-29 01:52] alexgman opened #1345 "How to read blob using imperative bind syntax"
I am wondering if it is possible to bind to an input blob using the imperative syntax like below?

[code]

The above snippet shows how to bind and write to an output, but I am having a very tough time finding an example on **imperatively binding to an input?**

[2019-05-29 03:23] ahmelsayed commented on #1339
I'm not sure what's different about your machine since I can't repro it. If running the get access token command works just fine, you can try running it like this instead

[code]

[2019-05-29 03:35] ahmelsayed commented on #1345
What type are you binding to? You can bind to `CloudBlockBlob`

[2019-05-29 05:44] dmitrysmirnovfinnair commented on #996
Same here, interleaved with Upload completed successfully.
Deployment completed successfully.
Syncing triggers...
Syncing triggers...
Syncing triggers...
Response status code does not indicate success: 408 (Request Timeout).

[2019-05-29 08:42] #931 closed

[2019-05-29 15:11] alexgman commented on #1345
I'm binding to what ever type a blob is supposed to be bound to. I'm simply attempting to read the string contents of a blob.

[2019-05-29 15:59] roalexan opened #1347 "after doing pip install azure-cosmos my functions no longer start"
I wanted to use the cosmosdb python sdk in my python azure function, so I ran 'pip install azure-cosmos' from my python virtual environment. My function was created roughly following the steps described in [here](https://docs.microsoft.com/en-us/azure/azure-functions/functions-create-first-function-python).  Anyway, after this pip install, I get the error:

`ModuleNotFoundError: No module named 'a

[2019-05-29 19:45] #1212 closed

[2019-05-29 20:34] fabiocav commented on #1069
Assigning this back to Triaged until unblocked.

[2019-05-30 16:48] alexgman commented on #1345
Here's the solution I came up with:

[code]

[2019-05-30 16:48] #1345 closed

[2019-05-30 19:00] #1337 closed

[2019-05-30 22:00] #1315 closed

[2019-05-30 22:52] anirudhgarg commented on #1194
@asavaritayal to follow up with VS Code to see if they can add this path their environment variable so that the intellisense will work.

[2019-05-30 23:04] asavaritayal commented on #1264
@anirudhgarg @fabiocav  This needs to be incorporated into the server-side build as well.

[2019-05-30 23:52] ankitkumarr commented on #1342
@akshaybabloo, as a mitigation for now, you should be able to ignore that error, and manually restart your function app. It will pick up your new deployment. I will update this thread once proper the fix is in place.

[2019-05-30 23:57] akshaybabloo commented on #1342
Thanks @ankitkumarr

[2019-05-31 14:52] roalexan commented on #1347
The REST API is causing me a lot of headaches to get working, so I would love to get this working. Some more details:

pip install azure-cosmos
pip list (I now see: azure-cosmos 3.1.0)
func start (get error: ModuleNotFoundError: No module named 'azure.functions')
pip install azure-functions
pip list (I now see: azure-functions 1.0.0b4)
funct start (get error: ModuleNotFoundError: No module named '

[2019-05-31 15:48] roalexan commented on #1347
got it working using: pip install azure-functions azure-functions-worker. Going to close.

[2019-05-31 15:48] #1347 closed

[2019-05-31 19:35] gotgenes commented on #652
This would be a very helpful feature to add for testing purposes.

In our case, we have two functions: one that writes to a storage queue, and one that reads from the storage queue. In production, this should be the same queue; thus we want a single Application Setting with the queue name that is used by both functions, to enforce consistency so that we can be assured the writer and reader are bot

[2019-06-01 13:18] Arash-Sabet commented on #1341
@jeffhollan Just wondering, how would I know whether or not this issue is resolved or scheduled to release? Thanks. /cc @miladghafoori

[2019-06-01 14:32] jeffhollan commented on #1341
This issue is tracking and when it closes would be easiest signal that the versions have been updated  to support latest Azure/azure-functions-host#4006

[2019-06-01 23:45] Arash-Sabet commented on #1341
@jeffhollan Just FYI: I have downgraded the mentioned packages and the issue still persists.

[2019-06-02 01:15] jeffhollan commented on #1341
I just wrote a blog and published a sample project using EF with latest release. Can you check this out and see if any version that’s different from what you’re trying?

dev.to/azure/using-entity-framework-with-azure-functions-50aa

[2019-06-02 01:37] Arash-Sabet commented on #1341
Thanks @jeffhollan , I read the article when it was published the other day. Wiring up our services and classes in our asp.net core project works perfectly but not in a function app. The very same extension methods that we composed to wire up the services are invoked as is in the function app. Not sure what else to be done in our working code to satisfy functions. I suspect that there is a differe

[2019-06-02 02:37] jeffhollan commented on #1341
Yeah I can confirm that when you drop the version of EF to 2.2.3 the error in the above issue (violating the constraint) goes away, but when trying to call the HTTP Function I do see an error about authentication.  In this case you are trying to override / use custom auth middleware which is slightly different as dependency injection works the same between functions and asp.net, but you can't regi

[2019-06-02 07:04] akshaybabloo commented on #1339
I will try that on Tuesday and let you know

[2019-06-02 15:20] Arash-Sabet commented on #1341
@jeffhollan apparently our issue is similar to Azure/azure-functions-host#4397

/cc @miladghafoori

[2019-06-03 06:37] skabhishek commented on #1315
Yes, this works.

[2019-06-03 17:00] ankitkumarr opened #1355 "Add option to gather management URL from Az Powershell"
Right now, core-tools would only gather the cloud URL from `az`. It would be good to extend that support to try and use `Az` Powershell in case `az` is not available.

[2019-06-03 18:19] #1335 closed

[2019-06-04 05:25] thorhj commented on #1050
I can second @shietpas, I got the error when using Python 3.6.8 (32-bit), but installing Python 3.6.8 (64-bit) solved the problem.

[2019-06-04 05:42] ankitkumarr commented on #1050
Glad you were able to discover the workarounds. Sorry I couldn't help.

It's usually good to open new issues when you face similar issues and link the related ones, as we don't track closed issues, and may miss notifications some times.

I think this issue is related to https://github.com/Azure/azure-functions-python-worker/issues/450. Because we built the binaries in a 64 bit machine, it fails on

[2019-06-04 07:36] timlod commented on #1318
Sorry for the late reply, I was on holiday.
Deployment worked a week after I had the issue.
Thanks for fixing!

[2019-06-04 07:36] #1318 closed

[2019-06-04 10:36] mebibou opened #1358 "Fails to run on docker image"
I am trying to install and run it on the `docker` image as follows:

[code]

But when building the image, it fails at `func -v`:

[code]

I saw 2 other issues that mention a similar error, but they seem either resolve magically or not on the same os/machine: #1136 and #167

[2019-06-04 10:38] mebibou commented on #1358
Note: I tried running `chmod 755 /usr/lib/node_modules/azure-functions-core-tools/bin/func` before `func -v` but still have the same issue

[2019-06-04 20:00] #1204 closed

[2019-06-04 23:49] ankitkumarr opened #1360 "Gather Telemetry on usage"
Work-items (to be updated) --

- Add all the **infrastructure** code (https://github.com/Azure/azure-functions-core-tools/issues/1535)
- Opt out by default for **VS Extension** (https://github.com/Azure/azure-functions-core-tools/issues/1574)
- Opt in for **VS Extension** where we can collect
- Update all distributing channels to add information on opt-out (PRs - https://github.com/Azure/azure-fun

[2019-06-04 23:50] ankitkumarr commented on #1360
Adding to Sprint 52 for scoping out the work and pipeline.

[2019-06-05 11:53] crgarcia12 opened #1364 "handle k8s clusters without KEDA/ScaledObject installed"
When trying to deploy to a AKS cluster with advanced networking and a azure repository i get:

    func kubernetes deploy --name demo-worker --registry "$registryName.azurecr.io/worker" --secret-name demoregistrysecret --debug
    Running 'docker build -t demoregistry.azurecr.io/worker/demo-worker C:\gitrepos\vso\DigitalRiskOffice\demo-Worker'.......................................................

[2019-06-05 15:07] hisuwh commented on #1258
Any update on this.  This is severely hampering our local testing

[2019-06-05 17:46] roalexan commented on #903
I just saw this myself. I first did an upload that appeared to hang, so I click CTRL-C. Now all subsequent uploaded attempts show: Error uploading archive (Conflict).

[2019-06-05 20:15] ankitkumarr commented on #1358
Looks like `docker:latest` is an alpine image. We currently do not support or publish an alpine compatible package.

You should be able to install `dotnet` core runtime, maybe from a dotnet docker image. And then, run `dotnet /usr/lib/node_modules/azure-functions-core-tools/bin/func.dll` to run all your commands.

[2019-06-05 20:26] ahmelsayed commented on #1364
It assumes you have [KEDA](https://github.com/kedacore/keda) scale controller installed by default in your cluster (which you can do by running `func kubernetes install --namespace ...`.

I think a improvement is to check if the CRD is present before attempting to create it. To workaround this you can add `--ignore-errors` to your deploy command, and it'll skip that error. Keep in mind however tha

[2019-06-05 22:08] ankitkumarr commented on #1327
Blocked on https://github.com/Azure/azure-functions-python-worker/issues/450

[2019-06-06 08:03] mebibou commented on #1358
Just tried:
[code]
which gives me the error:
[code]

[2019-06-06 08:15] iyerusad opened #1367 "--useHttps = The system cannot find the file specified"
Attempting to use https. http works fine.

Per https://docs.microsoft.com/en-us/azure/azure-functions/functions-run-local#start

But when running from within Powershell terminal (within VS code) it fails:
[code]

Env Details
[code]

Somewhat similar to #436,

[2019-06-06 18:07] ahmelsayed commented on #1367
what do you get if you do `where openssl`? do you have `openssl` cli installed on your machine? I think for some reason `where openssl` is successful, but then trying to call into `openssl` fails.

Can you set `$Env:CLI_DEBUG=1` and run the same command again and share the output?

Also to unblock yourself, you can generate a cert using these commands

[code]

then run using this.

[code]

[2019-06-06 18:09] ahmelsayed commented on #1367
Also now dotnet has a `CertificateRequest` class for generating TLS certs. We should no longer need to depend on Powershell or Openssl cli for creating these certs. I'll use this issue to track removing that dependency.

[2019-06-06 19:31] ahmelsayed commented on #1358
Try this

[code]

see this for dotnet core alpine dependencies https://github.com/dotnet/dotnet-docker/blob/master/2.1/runtime-deps/alpine3.9/amd64/Dockerfile

[2019-06-06 19:33] ahmelsayed commented on #1358
and since the change above is building master, you won't get the right version injected. Master branch is always the latest released cli, but the build number is injected during build. You can pass the build number to `dotnet publish` if you want it set.

[2019-06-06 20:33] iyerusad commented on #1367
Yea, I am familiar with the workaround, wanted to highlight documented scenario is not working.

No openssl in my path but some versions are shipped with various apps (e.g. git). Switching to dotnet class should serve best for different OSes. Looking forward to it.
[code]

[2019-06-06 23:02] soninaren opened #1369 "Remove JsonFileConfigurationSource, use HostJsonFileConfigurationSource from host instead"
We had to duplicate the logic in HostJsonFileConfigurationSource from host because the types in the host were set to private. It has been updated to be public and can be inherited now. We can now remove the duplicate code in JsonFileConfigurationSource.cs.

https://github.com/Azure/azure-functions-core-tools/blob/516d818ad04c55694d099d40130256af314c09f3/src/Azure.Functions.Cli/ExtensionBundle/Json

[2019-06-06 23:32] #1334 closed

[2019-06-07 12:42] mebibou commented on #1358
@ahmelsayed thanks that worked
I then tried to use `func azure functionapp publish ...` but it was saying the dotnet framework was not installed so I installed it and published a docker image: https://hub.docker.com/r/mebibou/dind-azure-functions

I'm actually trying to publish Python function apps using Gitlab, who has a Docker in Docker service. I am currently deploying on Travis-CI, which works

[2019-06-07 19:42] ahmelsayed commented on #1358
Sorry I'm trying to understand your scenario.
You want to run a CI/CD on gitlab and be able to publish python functions to azure, right?

I'd recommend not using an alpine base if that were the case. The problem with alpine and python is that it doesn't use standard glibc and uses musl-libc instead. a lot of python packages (numpy, tensorflow, etc) would require a compile step for their C/C++ depe

[2019-06-07 21:06] ranouf opened #1371 "Merge the PR 789"
Hi,

Could you verify and merge the PR 789 (https://stackoverflow.com/questions/56466144/how-to-create-an-azure-function-and-configure-it-with-azure-active-directory-onl/56501183#56501183)?

I created a question on stackoverflow available here:
https://stackoverflow.com/questions/56466144/how-to-create-an-azure-function-and-configure-it-with-azure-active-directory-onl/56501183#56501183

I would li

[2019-06-07 23:08] ahmelsayed commented on #1258
Sorry for the delay Henry. It's trickier than I expected. There is no way to achieve this on Unix from .NET. On Windows it's straightforward.

[code]

on Linux/Mac the libc `setenv()` equivalent doesn't work because .NET operates on a snapshot of the environment from process start, so `setenv()/getenv()` version diversions from what .NET thinks the env is. The only solution for linux/mac would be

[2019-06-10 02:37] ankitkumarr opened #1372 "Show proper error messages when packapp fails to download pip dependencies"
When publishing without `--build-native-deps`, often times packapp shows a generic failure error if requirements.txt fails.

It would be nice to show the actual error to the users when a failure occurs.

[2019-06-10 08:32] mebibou commented on #1358
@ahmelsayed yes that worked perfectly! I added `func settings add FUNCTIONS_WORKER_RUNTIME python` for good measure (not sure if it is required) and I can now publish on gitlab. This could be added to the official documentation? only an example for Travis is added, which is quite different from this.

[2019-06-10 08:32] #1358 closed

[2019-06-10 09:14] hisuwh commented on #1258
@ahmelsayed I am using windows. is there a fix for this going to be rolled out to windows then?

[2019-06-10 15:18] SpicySyntax opened #1373 "No known way to deploy Azure Function Http App to AKS and allow HTTPS"
I am unaware of a way to deploy an azure function HTTP trigger to AKS and enable HTTPS.

Maybe there is a lack of understanding on my part, but I could not find any examples or references in the documentation or anywhere else. (This is the closest thing to a solution I have found [using ingress controller](https://docs.microsoft.com/en-us/azure/aks/ingress-tls))

Is there currently a way to do thi

[2019-06-10 20:36] ankitkumarr commented on #1372
Currently if docker is not running, we also just fail with generic permissions issue. We should show the right error message there as well. This error message fix can also come as part of this issue.

[2019-06-11 10:13] friaN7331 commented on #996
[code]

Same here 11/06/2019

[2019-06-11 11:12] benbelow commented on #223
@ahmelsayed I think this really needs some better warning on failure - I've just spent a lot of time trying to work out why my application settings weren't being read, and I don't think it's unreasonable to assume that valid JSON, in the format recommended elsewhere by Microsoft for .NET Core app settings, silently continues without loading any settings.

[2019-06-11 13:34] jeffhollan opened #1374 "When no dockerfile present in kube deploy, let them know about init"
I sometimes create a project in VS Code and then try to deploy to KEDA with `func kubernetes deploy`.  If I've forgotten to generate a dockerfile I get an error:

output:

Would be nice if it said something like:

Or maybe even if no Dockerfile it prompts if you want to generate one first

[2019-06-11 14:42] benbelow commented on #925
@shladdergoo - I've recently set up a functions v2 project with the expectation of checking it in with non-secure settings, and having user secrets be our way of specifying secure settings locally while able to share others in git.

User secrets don't appear to be supported implicitly via the functions framework, but it's possible to add them to the provided IConfiguration by following the process

[2019-06-11 18:08] ahmedelnably commented on #1374
cc/ @ahmelsayed

[2019-06-11 18:10] ahmedelnably commented on #1373
cc/ @jeffhollan

I believe this is an AKS configuration question, Azure Functions Core Tools doesn't provide management functionality to AKS clusters

[2019-06-11 18:10] #1373 closed

[2019-06-11 18:12] ahmedelnably commented on #1371
The proper integration with easy auth feature is still in the works, once we have the work done we will merge this PR.

Closing this issue, please follow the PR as we will provide the updates there as we make progress

[2019-06-11 18:12] #1371 closed

[2019-06-11 18:15] ahmedelnably commented on #1372
Changing the priority:
For all error message enhancements a P2 is more appropriate

[2019-06-11 18:19] ahmedelnably commented on #1367
@ahmelsayed can you please open a separate issue with the work needed.
Closing this issue as there is a mitigation

[2019-06-11 18:19] #1367 closed

[2019-06-11 18:21] ahmedelnably commented on #1364
@ahmelsayed are we going to use this issue to track the improvement, or we should close this one and track the improvement in another issue

[2019-06-11 18:23] ahmelsayed opened #1375 "Use .NET to generate dev TLS certificate"
Context https://github.com/Azure/azure-functions-core-tools/issues/1367

[2019-06-11 18:24] #1327 closed

[2019-06-11 18:30] ahmelsayed commented on #1264
closed in 5c49d669ebe8eed66cd933bf0a5b9d6a9530a100 and cd9bfca26f9c7fe06ce245f5bf69bc6486a685dd

[2019-06-11 18:30] #1264 closed

[2019-06-11 22:30] ahmedelnably commented on #1376
Update, we are already in the process of trying this out, we don't have an ETA right now but should be early Q1FY20

[2019-06-12 07:55] crgarcia12 commented on #1364
Thanks! I think I had issues with the --secret-name

[2019-06-13 03:09] abhilash1in opened #1380 "`func host start` false triggers"
I have a function that has a Blob Storage trigger/binding. When I select `Attach to Python Functions` option in VS Code debugger, it said `Executing task: .env\Scripts\activate && func host start <` and my local function was automatically triggered with the last uploaded file in the provided blob storage container path (`dropzone/files/{name}`)

Expectation: local function starts and will be invok

[2019-06-13 03:27] abhilash1in commented on #1380
If this is an expected behavior, is this documented any where? I couldn't find anything about this.

[2019-06-13 03:30] abhilash1in commented on #1380
Similar to - https://stackoverflow.com/questions/52836451/azure-function-app-run-single-azure-function-locally-to-debug

[2019-06-13 03:51] abhilash1in commented on #1380
Same thing happened with a C# function.

[code]

[2019-06-13 18:48] ankitkumarr opened #1381 "Try gathering Function App information from ARG instead of ARM"
It looks like ARG will reduce the number of calls we need to make to retrieve a Function App information when performing `func azure functionapp` actions. This may speed up our commands for interacting with Azure.

Issue to track this test and implementation.

[2019-06-14 08:11] #1369 closed

[2019-06-14 11:30] Dzoukr commented on #644
Hi guys,

this is how I workarounded it on my project:

I have application called "Dzoukr.FunctionApp". I created new console application called "Dzoukr.FunctionApp.Local" with current code (it is in F#, but you will read it easily):

[code]
Now run `dotnet watch run` and on any change, you'll get "helper .Local app" restarted including func host.

Just do not forget to reference original project

[2019-06-14 17:19] #1372 closed

[2019-06-16 03:40] ahmelsayed commented on #1380
That's the expected behavior. BlobTrigger maintains state in your `AzureWebJobsStorage` about where it started and what is pending processing. If you want the behavior you're describing, you'll need to clear the `azure-webjobs-host` container on that storage account between restarts.

[2019-06-16 03:40] #1380 closed

[2019-06-17 11:59] benm-eras commented on #1341
I initially raised an [issue](https://github.com/aspnet/EntityFrameworkCore/issues/13145) over this in August last year, and given the [recent](https://docs.microsoft.com/en-us/azure/azure-functions/functions-dotnet-dependency-injection) update to allow proper DI in Azure Functions I thought I would give it a whirl and I was disappointed to see that the exact same issue persists 10 months later! I

[2019-06-17 16:23] Arash-Sabet commented on #1341
@benm-eras I left a note in Azure/azure-functions-host#4397 yesterday hoping for communicating the urgency of fixing this issue. Unfortunately, this issue has become a significant roadblock for us too. It will be great to hear from Microsoft's relevant team's folks on an ETA when this fix becomes available.

@jeffhollan @miladghafoori

[2019-06-17 17:41] lanatmwan commented on #128
This is an old thread but I wanted to note that using the vs 2019 wizard for creating a service bus topic triggered function automatically puts your connection string directly in the ServiceBusTrigger attribute. Your suggested fix still works but the product is still broken.

[2019-06-17 18:02] #1258 closed

[2019-06-17 20:09] SpicySyntax opened #1386 "Failed deployment to Azure Kubernetes Cluster"
## Versions
### Kubectl:
Client Version: v1.14.0, Platform:"windows/amd64"
Server Version: v1.13.5, Platform:"linux/amd64"

### Azure Function Core Tools: 2.7.1373

### Kubernetes Version: 1.13.5

## Issue Description

I have been deploying my Azure Functions to Azure Kubernetes Service regularly for a few months, but starting today my deployments via azure function core tools have started failing

[2019-06-17 21:28] #652 closed

[2019-06-17 21:28] #1331 closed

[2019-06-18 06:47] #1312 closed

[2019-06-18 08:56] mebibou commented on #1358
@ahmelsayed continuing on this, I have a package that needs a program in `/user/bin` to execute: https://pypi.org/project/GDAL/
I managed to install it correctly with `pip install --target=".python_packages/lib/python3.6/site-packages" GDAL==2.1.3 --global-option=build_ext --global-option="-I/usr/include/gdal"`, which does produce a `/user/bin/ogr2ogr` file, but when running the function app I hav

[2019-06-18 18:42] bgelens opened #1389 "DockerFile PowerShell"
Currently, when using `--docker` when PowerShell is chosen, only a dockerignore file is created. The dockerfile is not.

Would be great if the dockerfile for PowerShell would be created as well.

cc @TylerLeonhardt

[2019-06-19 16:59] SpicySyntax commented on #754
I completely agree, this would be very helpful

[2019-06-19 17:28] ahmedelnably opened #1394 "Create Command to create a new binding"
func new binding

create a new command to add a new binding to a function, this will create the scaffolding for the customer for their new binding

[2019-06-19 20:03] SteveDevOps opened #1395 "failed to sync triggers - Forbidden - extensions api in East US"
I thought maybe azure devops uses core-tools in the microsoft provided deploy app marketplace extension, no?

We still get this on python based linux app function deploy task in azure devops:

2019-06-19T19:26:16.6488566Z ##[error]Error: Failed to sync triggers for function app 'prodiat-apim-splunk-func'. Error: Unauthorized - Encountered an error (Forbidden) from extensions API. (CODE: 400)

then

[2019-06-19 20:25] SteveDevOps commented on #1395
sorry found the correct github for this, plz close

[2019-06-19 20:25] #1395 closed

[2019-06-19 23:49] NCarlsonMSFT opened #1396 "Add support for running in a Windows Nano Server container"
When running within a nano based container, commands fail with the message:
The system cannot find the file specified

Example Server Core Dockerfile that works as expected: [Core.Dockerfile.txt](https://github.com/Azure/azure-functions-core-tools/files/3308228/Core.Dockerfile.txt)

Example Nano Server Dockerfile that fails: [Nano.Dockerfile.txt](https://github.com/Azure/azure-functions-core-tools

[2019-06-20 11:37] toburger commented on #428
I wanted to get started with Azure Functions and F# and also stumbled over the problem that `func new -l F#` always creates an C# file.

Is F# supported with V2?
The documentation seems outdated: https://docs.microsoft.com/en-us/azure/azure-functions/functions-reference-fsharp

[2019-06-20 12:26] gigglegirl commented on #407
I am using Visual Studio Code . I get following Logs when doing "func host start --useHttps".It would be great if someone can help on this . It keeps giving 'host is taking longer than expected'.

                      %%%%%%
                 %%%%%%
            @   %%%%%%    @
          @@   %%%%%%      @@
       @@@    %%%%%%%%%%%    @@@
     @@      %%%%%%%%%%        @@
       @@         %%%%

[2019-06-20 18:21] ahmelsayed commented on #1386
Please try

[code]

instead, which will be replacing `func deploy --platform kubernetes`

[2019-06-21 01:22] benbelow opened #1401 "Warn on malformed local.settings.json"
If the `local.settings.json` file is malformed in any way, my application settings are not available although there is no indication that this will not be the case.

Expected Behaviour:

If a malformed local.settings.json file is used, a warning should be displayed to let the user know that the settings will not be loaded.

Actual Behaviour:

There is no indication that the file has not loaded unt

[2019-06-21 01:25] ankitkumarr commented on #1401
Transferred this issue to `azure-functions-core-tools` because that's the context `local.settings.json` is used.

@benbelow, would you mind providing an example of what type of malformed do you mean? Usually if you have a malformed JSON or something similar to that, you would know when you perform `func host start`. Some repro steps would be useful.

[2019-06-21 06:42] gigglegirl opened #1402 "The host is taking longer than expected to start"
I am using Visual Studio Code . I get following Logs when doing "func host start --useHttps".It would be great if someone can help on this . It keeps giving 'host is taking longer than expected'.

                  %%%%%%
             %%%%%%
        @   %%%%%%    @
      @@   %%%%%%      @@
   @@@    %%%%%%%%%%%    @@@
 @@      %%%%%%%%%%        @@
   @@         %%%%       @@
     @@      %%%

[2019-06-21 14:03] jyn514 opened #1440 "Disable verbose logging from the runtime when running locally"
#### What problem would the feature you're requesting solve? Please describe.
I'm running `func host start` locally. When I get a request, I get verbose logging to the console that looks like this:

[code]

This is a lot of output and it drowns out the errors that I'm logging to the console, so I'd like to disable it. I know that I'm not outputting this information, so I think it's coming from the

[2019-06-21 23:59] miguelzakharia opened #1403 "No such file or directory on macOS"
Tools version: 2.7.1373
OS: macOS

I keep getting an error that states "No such file or directory" when I try to run `func init` or `func start`. With `init` I'm asked to select a worker runtime and then immediately see the error message after I do that. With `start` the message shows up immediately. This is not a problem when I run it in Ubuntu.

I have traced the issue to line 16 in `src/Azure.F

[2019-06-22 05:06] iyerusad opened #1404 "Proxies: Worker was unable to load function: The argument 'id' must be a non-empty string."
Error message cropped up today when locally running functions:

Haven't changed proxy configs in a while - appears to be either unexpected schema change or bug/regression in Azure Functions Core Tools/Function Runtime.

---
**Azure Functions Core Tools:** 2.7.1373 - Commit hash: cd9bfca26f9c7fe06ce245f5bf69bc6486a685dd)
**Function Runtime Version:** 2.0.12507.0

proxies.json (config hasn't changed

[2019-06-24 20:39] ahmedelnably commented on #1389
@eamonoreilly  and @Francisco-Gamino
Is this a supported scenario for PowerShell?

[2019-06-24 20:44] ahmedelnably commented on #1394
Need to take bundles into consideration

[2019-06-24 20:48] ahmedelnably commented on #1402
Is it possible to provide us a repro so we can investigate more?
What are the language used

[2019-06-24 20:53] ahmedelnably commented on #1403
The information in `contributing.md` is stale, we will update it with the correct information.

In the meanwhile we are happy for you to contribute a PR to fix this issue

[2019-06-24 20:53] ahmedelnably opened #1406 "Update Contributing.md"

[2019-06-24 20:57] ahmedelnably commented on #1404
@iyerusad Is this a proxy only function app, if you have other functions, what language are they using

[2019-06-24 20:58] iyerusad commented on #1404
No, it has over 10 Azure functions running on Node.

[2019-06-25 08:41] benbelow commented on #1401
Hi,

I'm on holiday at the moment, will repro when I'm back at work next week

[2019-06-25 14:12] DoloMike opened #1408 "Add --watch to func start option flags"
It would be great to have the ability to use `func start --watch` to watch for file changes and rebuild.

Similar to `dotnet watch run` for .net core projects and `nodemon` for node projects. I find that having a watch feature speeds up development.

This is an idea/feature request. I've not seen any information related to this, so I apologize if this functionality is already possible.

[2019-06-25 14:26] hamdyghanem commented on #881
The output in the \runtime\secrets\host.json

[2019-06-25 14:27] DoloMike commented on #1408
On further searching I found [hot reload](https://github.com/Azure/azure-functions-core-tools/issues/1239#issue-437771257) is an idea for second half of calendar year 2019. Closing.

[2019-06-25 14:27] #1408 closed

[2019-06-25 14:35] VenkateshSrini commented on #881
Check this please https://github.com/Azure/azure-functions-host/issues/4147

[2019-06-25 20:39] ahmedelnably commented on #227
We may be picking this up soon
We are open for ideas about the user experience ... specifically in the publish command

[2019-06-25 21:33] mswilson4040 commented on #227
@ahmedelnably `--slot=mySlot` or something. Not specifying `--slot` would default to production slot

[2019-06-25 21:39] ahmedelnably commented on #227
Here is one idea I was thinking about <functionappname>/<slotname>
ex. func azure functionapp publish myFunctionApp/mySlot

[2019-06-25 22:11] alohaninja commented on #227
@ahmedelnably - interesting idea - I know that ARM under the hood uses the path structure for slots - I would prefer to use an explicit parameter `--slot` which matches the [`az webapp` pattern](https://github.com/Azure-Samples/azure-cli-samples/blob/master/app-service/deploy-deployment-slot/deploy-deployment-slot.sh#L23). Existing CLI users should already be familiar with this parameter and also

[2019-06-26 10:21] alexb5dh opened #1409 "System.ArgumentNullException running new Function project from Visual Studio"
Created fresh Azure Functions project from VS 2019 with storage in Azure. Trying to start it gives the following error: `System.ArgumentNullException: 'Value cannot be null.
Parameter name: path'` at
[code]

Checking the source code I see that problem is as following:
- `AppSettingsFile` constructor tries to deserialize another instance of `AppSettingsFile` via Json.NET.
- Since it doesn't have an

[2019-06-26 11:23] gigglegirl commented on #1402
Sorry i would not be able to provide the repository link. Please let me know if you need anything from my side.

[2019-06-26 15:14] SpicySyntax commented on #1386
@ahmelsayed I ended up switching to Helm for my deployments. Are there any plans to integrate helm deployments with azure functions core tools kubernetes deployments?

[2019-06-26 18:53] Francisco-Gamino opened #1410 "Add a prerequisite to validate that dotnet is installed for PowerShell function apps."
This is a customer reported issue.

Repo steps:
User install the latest version of the Core Tools and creates a PowerShell function app and an HttpTrigger function.

[code]

Func.exe fails with the following error:
[code]
This issue happened because dotnet is not installed. I will update the Core Tools to validate that dotnet is installed for PowerShell function apps.

[2019-06-26 19:32] ahmelsayed commented on #1386
yep, tracked by https://github.com/Azure/azure-functions-core-tools/issues/754

It's a bit tricky today since the Deployment object changes depending on whether you have http functions or not, and that's done in the core-tools by parsing your functions and generating the right artifacts every time. It'll be hard to emulate that in helm, so I need to think of another way.

[2019-06-26 19:32] #1386 closed

[2019-06-27 05:01] #1410 closed

[2019-06-27 09:57] toburger commented on #428
This (merged) PR solves the issue, that F# project are ignored by the CLI tools: https://github.com/Azure/azure-functions-core-tools/pull/1405

[2019-06-27 16:43] jcanose81 commented on #1050
I know this is closed but going from 32 bit to 64 resolved my same issue. Thank you, @shietpas

[2019-06-27 19:06] mswilson4040 commented on #872
Any further update on when Python 3.7 will be supported for Azure Functions?

[2019-06-27 22:04] gbowerman opened #1413 "Provide more informative error messages for incorrect requirements.txt ent"
Suppose you create a Python Azure Function and have an incorrect entry in requirements.txt, like you added the "logging" library which is unnecessary.
When you try to publish the function with:
func azure functionapp publish functionname
The error message returned to the command line should reference the specific requirements.txt entry that had a problem, and not fail with a generic "exit code 1".

[2019-06-28 07:28] borysl opened #1414 "Two processes of func reusing the same configuration settings"
I am using v1 and I need to run two Function Apps locally with different settings and as the result different local.settings.json

As the result I have batch file like this:
[code]
however func.exe process uses the same properties from %AppData%\npm\node_modules\azure-functions-core-tools\bin\func.exe.Config
which means it will be overridden with local.settings.json from fa1 and fa2 in unclear ord

[2019-06-28 10:33] lawrencegripper opened #1415 "Linux Python func: Error calling sync triggers (BadRequest)."
Hi,

Hitting this issue with deploying my Python Linux function looks like it's a common one (#1130) but couldn't see how to fix. Going to try recreating a new app in a different region for now but due to project need to understand and resolve to allow deployment to for a specific region.

Setup:

- Ubuntu Machine
- `func --version 2.7.1373`
- westeurope deployment
- app name `lgpyfunc`

[code]

[2019-06-28 10:39] lawrencegripper commented on #1415
Think this relates to https://github.com/Azure/Azure-Functions/issues/1170

[2019-06-28 11:17] lawrencegripper commented on #1415
I've retried by creating a new app

[code]

and now receive a different error:

[code]

Just repeating the upload process to see if I continue to get this error of it changes back to the original error.

[2019-06-28 13:41] lawrencegripper commented on #1415
When retrying this fell back to giving the previously reported error. I'm wondering if this is related to the size of the package (812mb) due to ML stuff (Spacy word vectors) as I had success with a smaller function earlier in the week.

Going to retry with a smaller function and see if this succeeds. Are their logs I can look at on the funcs in the portal or Kudu to see error details?

[2019-06-28 15:18] lawrencegripper commented on #1415
So I found an issue that seems to contribute. The docs suggest using a virtual environment but don't suggest adding the folder to the `.funcignore` https://github.com/MicrosoftDocs/azure-docs/issues/34204

Dropping the size of the package seems to result in this error going away. What is the limit for the package size as this will affect the models we can ship?

[2019-06-28 18:41] sfabijanski opened #1416 "Installation instructions for 'other' Linux versions missing key details"
Installation of the azure core tools cli was a requirement to get the Azure Functions extension working in VS Code on my Fedora 30 workstation. I tried following the instructions for installation [here](https://github.com/Azure/azure-functions-core-tools#other-linux-distributions)). However, some key requirements (like the requirement for the .Net SDK and needing to build the app from the zipped d

[2019-06-28 20:52] drcrook1 opened #1418 "Detect & Block - Storage Emulator when -i flag set"
The func tools should detect and block when settings in the local.settings.json are set to default values or settings such as the storage emulator and not allow the deployment.

I ended up having to kill the function app and redeploy to undo the issues this accidental mishap caused.

Really, it should do this for all settings files as a validation step.

[2019-06-28 23:24] ggailey777 opened #1420 "Enable SSH in a --docker project"
To be able to connect to a container from Kudu, it seems that you need to have SSH enabled in your container. However, we don't provide an help with this in the generated dockerfile.

Is it possible to create add an `sshd_config` file and the SSH config steps in the generated dockerfile, as shown in [this article](https://docs.microsoft.com/en-us/azure/app-service/containers/tutorial-custom-docker

[2019-06-29 21:45] ankitkumarr commented on #1415
@lawrencegripper, thanks for pointing that out. You are right that our documentation should suggest adding the virtualenv to `.funcignore`. @asavaritayal for fyi.

`azure-functions-core-tools` does indeed try to add that when you do a `func init`, if it detects one. But, I am guessing you didn't have to perform an `init`, so it didn't do that.

Before I answer the size of the package issue, are yo

[2019-06-30 12:29] MECLab-Keags commented on #1404
Having the same issue here with javascript function on Node.

[2019-07-01 07:42] lawrencegripper commented on #1415
Thanks, makes sense.

Version of CLI: ‘func --version 2.7.1373’

Yes attempting to deploy to consumption plan.

(Sorry for brevity on my phone)

[2019-07-01 15:47] lawrencegripper commented on #1415
I tried dockerizing the image and tested that locally. When I did this I saw an error reported in the docker output saying that `azure-functions==1.0.0b5` wasn't supported by the runtime.

I'm not entirely clear why I had this in my `requirements.txt`, I ended up adding it to fix my IDE tooling moaning at me and just took the latest from `pip`.

On a hunch I dropped the version `azure-functions==1

[2019-07-01 15:52] lawrencegripper commented on #1415
Would it be useful for me to upload a zip of a function which reproduces this?

[2019-07-01 17:34] priyaananthasankar commented on #1418
cc: @ankitkumarr  - this is pretty easy detection for func core tools to do and stop invalid deployments.

[2019-07-01 18:34] ankitkumarr commented on #1418
@drcrook1, `local.settings.json` settings, by default, are not propagated to the Function App in Azure. If you did explicitly use `--publish-local-settings` or `-i` (as the issue title suggests), I am not sure if we should add an additional detection or blocking validation.

General practice is that you should not need to update your Function App settings with `local.settings.json` every time. It

[2019-07-01 22:41] jsjayme commented on #1415
I'm having this issue at the moment, EastAsia region. It was working fine yesterday

[2019-07-01 23:11] ankitkumarr opened #1421 "Add kudulite build for Linux Dedicated and Elastic Premium + Improvements"

[2019-07-02 07:41] benbelow commented on #1401
Hi @ankitkumarr, I've had a go at repoducing this:

when adding some noise to my settings file, the settings file was ignored. I hadn't noticed when running this previously that there *is* some indication, but it's a build-time warning, and I was expecting to see something in the console output - since the app otherwise appears to run fine.

How would you feel about adding a warning to the console

[2019-07-02 10:01] lawrencegripper commented on #1415
So I had a play with creating a PR for the tooling to add a `--verbose` setting to output the information from the failed request. While writing it I discovered the `CLI_DEBUG=1` environment variable which did exactly what I wanted.

Here is the output from the publish with this enabled (minus auth headers), unfortunately not much useful data in the response for me but I'm hoping the `x-ms-correla

[2019-07-02 12:25] remster85 opened #1422 "No module named azure.storage"
Hello everyone,

I have written python code to access my blob storage working well locally from my PyCharm with Python 3.6.8.

[code]

If I move this code into an Azure function using the core tools:

[code]

and launch it as debug from visual studio code or deploy it to the cloud and it no longer works.

The python interpreter points to the same python install that my standalone code that works o

[2019-07-02 18:20] ahmedelnably commented on #1420
@ahmelsayed do we expect customers to look at the generated docker file to find that information?

[2019-07-02 18:31] ahmedelnably commented on #1416
you shouldn't need to build the core tools if you download the build zip
**Azure.Functions.Cli.linux-x64.<version>.zip**

[2019-07-02 18:31] #1416 closed

[2019-07-02 18:39] ahmedelnably commented on #1409
@alexb5dh this doesn't look like a known issue, can you please provide a repro so we can investigate more

[2019-07-02 18:39] ahmedelnably commented on #1406
- Need to update the testing section

[2019-07-02 18:41] ahmedelnably commented on #1404
@pragnagopa is this a known issue?

[2019-07-02 18:44] ahmedelnably commented on #1402
We do not need to have access to your repository, we just need a way to reproduce this issue on our side.
If you can provide a sample code that would show this problem

Do you mind sharing the language you use?

[2019-07-02 18:50] ahmedelnably opened #1423 "Add slots support for publish command"

[2019-07-02 19:49] fabiocav commented on #1414
Can you elaborate on your scenario? are you actually using this to run production workloads, or is this while testing your functions?

The configuration mechanism supported today is `local.settings.json`, modifying the app config file is not  a supported scenario.

[2019-07-02 21:30] pragnagopa commented on #1404
@mhoeger - Can you please take a look?

[2019-07-03 02:13] ahmelsayed opened #1424 "Tooling support for Java functions"
from @kulkarnisonia16

Should be able to deploy an java function app via functions CLI to Keda cluster

[2019-07-03 04:13] ahmelsayed commented on #1420
We have `-appservice` flavors of all the images that include that by default. We can have a comment

[code]

[2019-07-03 05:05] borysl commented on #1414
I do not modify configuration in func.exe.config. Of course, I use local.settings.json.
I need to run integration test that involves two functional apps locally or in the MS Azure Pipeline. So I am running func host start two times.

The problem is that two func commands actually running the same process. Under the hood there is a node process and then the .Net Core func.exe process. As I have lea

[2019-07-03 16:14] ggailey777 commented on #1420
@ahmelsayed that would be awesomely useful for the custom container tutorial, instead of having them add in the SSH stuff into the Core Tools generated --docker project.

[2019-07-03 19:29] pragnagopa opened #1426 "[RuntimeVersion][Windows][Node]set nodeVersion property on publish"

[2019-07-03 19:30] pragnagopa opened #1427 "[RuntimeVersion][Linux][Node]Set LinuxFxVersion on publish"

[2019-07-03 19:32] pragnagopa opened #1428 "Add runtime version selection into the create flow"
Update CLI to add ability to pick a runtime version for a given language. For example,

- Prompt user to select a version from a list of supported runtimes.

cc @ahmedelnably  - If there is a spec for this, please share

[2019-07-03 19:47] ahmedelnably commented on #1428
@pragnagopa There is no spec for this.
What is the target language here?

[2019-07-03 20:20] pragnagopa commented on #1428
This is tracking item to update the create flow in CLI that allows user to pick a runtime version for any language. Soon, we have multiple versions for Python similar to Node

[2019-07-03 22:57] ahmelsayed commented on #1358
@mebibou sorry for the delay. No, in general we only assume that what you're publishing is a layer on top of `/home/site/wwwroot` of the base container we're running. There is no way to modify files elsewhere on the filesystem on startup.

I was looking at enabling custom docker containers for that scenario, though the startup time is very high today and we want to drive it down to something reaso

[2019-07-04 00:40] anthonychu commented on #1287
Any update on this? Running into this issue when using the sample code from the [Azure Custom Vision docs](https://docs.microsoft.com/en-us/azure/cognitive-services/custom-vision-service/export-model-python) which uses opencv as well.

/cc @asavaritayal @jeffhollan

[2019-07-04 03:16] InternDan commented on #1287
Unfortunately not, I've had to shift direction. Still holding out hope though!

[2019-07-04 06:34] mebibou commented on #1358
I'm actually running this completely on Docker directly for now, and I install it using `RUN apt-get update && apt-get install -y gdal-bin`

[2019-07-04 12:24] markheath opened #1429 "Feature suggestion: auto-generate ARM template"
I think it would be really helpful if `func init` could optionally create an ARM template, just like it can create a `Dockerfile` with the `--docker` switch.

A good starting point would be to emit an ARM template (similar to [this one](https://github.com/Azure/azure-quickstart-templates/blob/master/101-function-app-create-dynamic/azuredeploy.json
)) that creates the following resources:
 - Consum

[2019-07-04 21:16] ankitkumarr commented on #1413
Dup of https://github.com/Azure/azure-functions-core-tools/issues/1372

This was closed by https://github.com/Azure/azure-functions-core-tools/pull/1379

[2019-07-04 21:16] #1413 closed

[2019-07-05 11:00] pilarodriguez commented on #89
I have a WebJob with some scheduled jobs (using TimerTrigger). I've specified the AzureWebJobsStorage connection string in the connectionStrings.config file
`<add name="AzureWebJobsStorage" connectionString="UseDevelopmentStorage=true" />`
But I get this error
[code]

If I add it as an appSetting, it works fine
`<add key="AzureWebJobsStorage" value="UseDevelopmentStorage=true" />`

In some other p

[2019-07-08 00:08] whitestock opened #1431 "Value for the --dotnet-cli-params Argument Appears to Require a Leading Space"
**This Does Not Work**
``
func azure functionapp publish MyApp --publish-local-settings --overwrite-settings -y --nozip --dotnet-cli-params "-c Release -r win-x64 -f netcoreapp2.2"
``

**This Works**
``
func azure functionapp publish MyApp --publish-local-settings --overwrite-settings -y --nozip --dotnet-cli-params " -c Release -r win-x64 -f netcoreapp2.2"
``

The only difference between the two c

[2019-07-08 17:04] ahmedelnably commented on #1431
Thanks @whitestock for reporting this, I agree with you that it is not intuitive, and the publish command should insert the white space automatically.
Bonus: if there is already a whitespace we should not add an extra one

[2019-07-08 17:35] harshitsanghvi commented on #1404
Having the same issue, using Node.

[2019-07-08 21:03] #1403 closed

[2019-07-09 14:15] SacredSkull commented on #996
I've found that going into the portal and stopping the function, then publishing allows the syncing to complete... but it still doesn't deploy correctly and shows no functions available :(

[2019-07-09 18:11] ahmedelnably commented on #1424
Blocked on Java support on Linux, will update blocking issues later

[2019-07-09 18:15] #1418 closed

[2019-07-09 18:20] #1342 closed

[2019-07-09 19:01] amadard commented on #946
Are there any updates on this item?  I am searching around for other options to solve these exact problems with FunctionName, input and output in C# code.  I can manually create the Activities() setup (Thanks for that!), but if it was an feature of the DurableFunctions it would be very helpful.

[2019-07-09 19:42] stimms commented on #946
I made some analyzers https://blog.simontimms.com/2019/02/17/2019-02-17-durable_functions_analyzer/ but as far as I know nothing was added to the base product.

[2019-07-09 21:22] ahmelsayed commented on #1431
You need to pass an [end-of-options](http://pubs.opengroup.org/onlinepubs/9699919799/basedefs/V1_chap12.html#tag_12_02) param after `--dotnet-cli-params`. so something like

[code]

[2019-07-09 21:22] #1431 closed

[2019-07-10 14:41] amadard commented on #946
Thanks @stimms, I looked over your analyzers.  We are exclusively using .GetInput<> for all of our Activities and SubOrchestrators input, so I went the route of building my own ActivitiesManager class.  I added a custom Attribute for the inputs, so the class can be built through code.

Thanks @stuartleeks for your initial code examples, I was able to build off of those.

[2019-07-10 20:16] fabiocav commented on #1360
This will be an epic tracking the issues we'll be creating for this feature.

[2019-07-11 01:13] notsambeck commented on #1050
I was having a similar issue: when running _func host start_ I was seeing error: azure has no attribute functions

The problem in my case was that I had named the function in my app directory http (instead of HttpTrigger), which led to a circular reference due to the builtin module http being a requirement. Dumb!

[2019-07-11 18:04] fabiocav commented on #1341
Just a follow up question as there was a recent comment after the issue was closed. Are you still experiencing issues with *the same version* of EF? Azure Functions does lag behind .NET Core/ASP.NET Core releases a bit, as we depend on those updates being properly deployed to App Service, so this issue will often come up if you're adopting those changes as soon as they're released and jumping ahea

[2019-07-12 00:26] ankitkumarr commented on #1421
Moving to Sprint 54 because increased the scope to capture Elastic Premium as well. Also need to add build improvements to optimize package size and build time

[2019-07-12 01:41] Arash-Sabet commented on #1341
@miladghafoori do you happen to have some time these days to update all nuget packages on the functions branch of the application to verify whether or not we're still experiencing the same issue? I think it's a great idea to install the latest .net core 2.2 SDK too on your machine and give it a spin. Otherwise, we have to wait for a couple of weeks for me to get back to the question raised by @fab

[2019-07-12 22:48] AE-MS opened #1438 "Node runtime errors shown in console logs are missing important information"
I recently had an issue where I was trying to develop my Azure Function and consume an npm package which was an ES6 module instead of a CommonJS module (node doesn't yet natively support ES6 modules without experimental flags, is my understanding).  However, I didn't know this was the problem because when trying to run my Azure function using "func", this is the output I got on the console:

    [

[2019-07-12 22:51] ahmedelnably commented on #1438
cc/ @ColbyTresness and @mhoeger

[2019-07-15 17:10] Hazhzeng opened #1439 "Linux Consumption functionapp should support WEBSITE_CONTENTSHARE"
Since we implement a work around to disable WEBSITE_CONTENTSHARE and WEBSITE_CONTENTAZUREFILECONNECTIONSTRING for Linux Consumption functionapp creation (https://github.com/Azure/azure-cli/issues/9027), we may still want to re-enable it when the backend is fixed.

Once the backend is fixed, we should
1. Stop removing WEBSITE_CONTENTSHARE and WEBSITE_CONTENTAZUREFILECONNECTIONSTRING appsettings whe

[2019-07-15 17:28] divyagandhii commented on #996
Can you please share your app name?

[2019-07-15 17:30] ahmelsayed commented on #1252
Closing https://github.com/Azure/azure-functions-core-tools/issues/1057 as a dup of this.

[2019-07-15 17:30] #1057 closed

[2019-07-15 19:46] mebibou commented on #996
Personally I'm just having some timeouts today:
[code]
Used to work fine before, this whole thing is just highly unstable

[2019-07-15 21:44] divyagandhii commented on #996
@mebibou - Can you share your app name?

[2019-07-15 21:46] SacredSkull commented on #996
I cannot share the app name for... reasons... but I can tell you that as soon as I moved to a different region the issues disappeared - this seems to be really specific to certain regions.

[2019-07-16 05:42] mebibou commented on #996
This is happening in `East US` with app service plan `EastUSLinuxDynamicPlan`

[2019-07-16 08:00] akshaybabloo commented on #1339
I haven't tried this yet. I am using VS code to do this. I will give it a try soon

[2019-07-16 12:55] jeroenroodnat commented on #1305
Is there any progress on deployment? We are running into same issue that container package is not deploying whereas running it on our own docker server has no issues.

[2019-07-16 14:57] bigdatamoore commented on #996
We are experiencing the same issues using function core tools to publish to the East US region.  West US region is working fine.

[2019-07-16 16:19] divyagandhii commented on #996
We are looking into this.

[2019-07-16 20:00] #1402 closed

[2019-07-16 23:00] SDP190 commented on #174
Even now with the update [Bind to 0.0.0.0 instead of localhost](https://github.com/alrod/azure-functions-core-tools/commit/9f20f31540005815f2707a0dc692d2d281840028),   when using option `func host start --useHttps` its still only binding to localhost.

[2019-07-17 02:30] SDP190 opened #1442 "Cannot configure Azure Function (tool) to listen on Host Network IP when using --useHttps"
I created an Azure Function (v2) HttpTrigger using JavaScript running on Node (On Windows 10 OS), I ran it locally with latest tool version:
`func host start --useHttps --cert <MyPfx.pfx> --password <MyPassword>`
The problem is it only listens on localhost, I can not call it from the LAN using the hosts local ip address (such as: 192.168.1.160:7071).

In fact on the output its saying:
[code]

Thus

[2019-07-17 16:31] SDP190 commented on #162
Using `func host start --useHttps` would bind only to localhost, but cannot be accessed from Network IP address.

[2019-07-17 17:13] bigdatamoore commented on #996
According to Microsoft, there is a new functions runtime that is being released that has a fix for this.  https://github.com/Azure/azure-functions-host/releases/tag/v2.0.12575

[2019-07-17 23:18] #919 closed

[2019-07-17 23:21] ankitkumarr commented on #1376
@ahmedelnably tested and it's in PR in cloud shell.

[2019-07-17 23:21] #1376 closed

[2019-07-17 23:23] ankitkumarr commented on #142
Coming soon! Thanks to @ahmedelnably

[2019-07-17 23:23] #142 closed

[2019-07-17 23:55] anirudhgarg commented on #996
For this particular issue please use this workaround: WEBSITE_FUNCTIONS_ARMCACHE_ENABLED  to 0  for which as @bigdatamoore pointed out we are fixing soon in the host as well. This issue which is closed is being used for many unrelated root causes and thus is difficult to monitor/change status on etc. So I am going to lock this. Please open new issues if you see a repeat of this behavior

[2019-07-18 01:42] andrewb273 opened #1444 "Azure Functions Core Tools "cold start" experience locally"
### OS and Browser

- macOS 10.14.6 Beta (18G48f)
- Postman/Brave
- Azure Functions Core Tools (2.7.1373 Commit hash: cd9bfca26f9c7fe06ce245f5bf69bc6486a685dd)
- VS Code Version 1.36.1 (1.36.1)

### Repro steps

1. Create simple function in .Net:
[code]
2. Run functions, wait till list of Http Functions is printed in console.
3. Call `GET http://localhost:7071/api/Test` anywhere, such as in Postma

[2019-07-18 03:03] LeastOne commented on #1376
Awesome! Can you clarify what "in PR in cloud shell" means?

[2019-07-18 13:46] ptoonen commented on #1444
I can't reproduce this (getting 693ms on initial response) on my machine running OSX 10.14.5, core tools 2.7.1468.

[2019-07-18 15:26] bigdatamoore opened #1446 "issue with versioning for release on npm"
@soninaren

The latest version of this on npm is 2.7.1468
https://www.npmjs.com/package/azure-functions-core-tools/v/2.7.1468

however in the releases it has the version as 2.7.1471
https://github.com/Azure/azure-functions-core-tools/releases/tag/2.7.1471

I believe these are the same, or should be the same?

[2019-07-18 16:17] EricJizbaMSFT opened #1447 "Default debugging broken on Mac in latest release (2.7.1373)"
Repro steps:
1. Create a new C# project in VS Code
1. Add an http trigger
1. Debug

NOTE: This only repros on Mac, not windows.

Old behavior where debugging worked:
[code]

New behavior where debugging fails:
[code]

_originally filed in https://github.com/microsoft/vscode-azurefunctions/issues/1385 by @v-dantch_

[2019-07-18 16:49] ahmedelnably commented on #1376
There is a PR opened for it in the cloud shell repo :)
unfortunately I can't share the PR

[2019-07-18 16:54] ptoonen commented on #1447
Noticed this too earlier. It's because [this](https://github.com/Azure/azure-functions-core-tools/blob/a25784e1d2a60a02de99bb7af22b90e1f172b8c8/src/Azure.Functions.Cli/NativeMethods/EnvironmentNativeMethods.cs) currently only works on Windows.

[2019-07-18 17:29] ptoonen commented on #1447
I did some tests and the code below seems to work, but that also makes it a completely different implementation of getenv which would go too far I guess. So I'd say either remove the default variable, or do a check if the string is empty when it concerns a non-Windows machine? But I'm not sure whether that allows for the situation described in https://github.com/Azure/azure-functions-core-tools/is

[2019-07-18 17:33] SDP190 commented on #897
Any updates on this?

[2019-07-18 19:04] peterhuene commented on #1024
This has now turned into a fatal error from the core tools in `2.7.1468`:

[code]

Why is the core-tools restricting the runtime worker like this?

[2019-07-18 19:06] soninaren commented on #1446
@bigdatamoore they are actually different. We missed adding release for `2.7.1468` to the repository and release for `2.7.1471` is still on going. We generally push to npm after the release is fully verified in all the key environments. `2.7.1471` should be published to npm in a couple of days.

cc:@pragnagopa

[2019-07-18 19:12] peterhuene opened #1448 "Azure Functions for Rust broken with latest core tools (2.7.1468)"
Apparently the core tools now prevent any "unknown" language worker from working.

In `2.7.1373` [this was an unnecessary warning](https://github.com/Azure/azure-functions-core-tools/issues/1024).

In `2.7.1468` it is now a fatal error:

[code]

Note the spelling error in `determine`.

**Questions:**

* Why do the core tools need to know the language?  The host can handle having `FUNCTIONS_WORKER_

[2019-07-18 19:13] soninaren commented on #1446
@bigdatamoore thanks for bringing this to our attention. Have added release for https://github.com/Azure/azure-functions-core-tools/releases/tag/2.7.1468

cc: @ahmelsayed

[2019-07-18 19:13] #1446 closed

[2019-07-18 19:31] nguerrera commented on #1448
Aside: Also note the misspelling of `language` in the error message.

[2019-07-18 19:31] peterhuene commented on #1448
Good eyes, harder one to spot 😄

[2019-07-18 19:57] pragnagopa commented on #1448
@ankitkumarr  / @ahmelsayed  - Are you aware of this change? We should not restrict languages in the CLI

[2019-07-18 19:59] ahmelsayed commented on #1448
yes, I made the change to error out if we can't figure out the language... I wasn't aware of any scenarios that would require that and didn't consider #1024, my bad. I'll prepare a fix

[2019-07-18 20:00] ahmelsayed commented on #1448
also spelling is hard apparently.

[2019-07-18 20:24] peterhuene commented on #1448
@ahamad-MS thanks for looking into this!

[2019-07-18 22:02] ahmelsayed commented on #1447
I'm going to remove the exception on non-Windows machines and print a warning if you run in debug.

There is no way to set an environment variable to empty string in a .NET process on Linux/Mac after it starts. This is unfortunate because in Azure the process environment is set before start, and all OSs allow for empty string env vars. .NET is the problem here and I don't know how the cli could fi

[2019-07-18 22:04] ahmelsayed commented on #1447
To make matters more confusing, as #1258 shows the function runtime itself behaves differently if the value is null vs empty string, but there is no way to set that through .NET.

[2019-07-18 22:09] fabiocav commented on #1447
We should indeed remove this for now. We can think about the proper approach once this is resolved.

[2019-07-19 02:07] soninaren commented on #1448
This is fixed and released in version 2.7.1480
https://github.com/Azure/azure-functions-core-tools/releases/tag/2.7.1480

[2019-07-19 02:07] #1448 closed

[2019-07-19 02:07] soninaren commented on #1447
This is fixed and released in version 2.7.1480
https://github.com/Azure/azure-functions-core-tools/releases/tag/2.7.1480

[2019-07-19 02:07] #1447 closed

[2019-07-19 02:19] peterhuene commented on #1448
I've confirmed the fix.  Thank you very much for the seriously fast turnaround!

[2019-07-19 03:52] andrewb273 commented on #1444
Hmm that is strange, and promising to hear that it's fast for you. I will try investigate this from a few angles, it may just take me a few days.

[2019-07-19 05:09] #1442 closed

[2019-07-19 15:15] ariciputi commented on #872
Hi,
I'm also interested in having Python 3.7 available as runtime for Azure Functions. I'm on a project at work where reverting from 3.7 to 3.6 may cost too much to take Functions into account.

I don't want to sound harsh here, but I also want to stress that Python 3.8 is expected to be released in [3 months from now](https://www.python.org/dev/peps/pep-0569/#schedule) and that from [Python 3.9](

[2019-07-19 15:31] mswilson4040 commented on #872
I completely agree with @ariciputi. I would love to move all of my Python jobs out of Heroku and leverage Azure Functions. Everything else we have is using Azure functions, but since it doesn't support 3.7, we have to go use some other platform (Heroku) that does. But, It's not worth going through a migration and downgrading everything to from 3.7 to 3.6

I was unaware of Python 3.8 on the horizon

[2019-07-19 16:22] EricJizbaMSFT commented on #1447
Yep - works for me now. Thanks!

[2019-07-19 18:07] SDP190 commented on #1442
Thanks for your help on this issue!

[2019-07-19 19:36] ankitkumarr commented on #872
I understand your frustration. Right now, our platform constraints us to only support one specific version of Python. When we last surveyed, there were several packages that did not have support for Python 3.7. So we went ahead with Python 3.6.
I can assure you that we have plans for adding support to use multiple versions of Python. This will enable us very quickly adapt and support new versions,

[2019-07-19 20:40] mswilson4040 commented on #872
Thanks, @ankitkumarr. It'd be great to have some sort of timeline for this.

[2019-07-20 17:34] ahmelsayed commented on #1336
After needing it a bunch of times, I was wrong. I agree now that this would be a useful addition

[2019-07-23 10:00] #1339 closed

[2019-07-23 12:09] dmitrysmirnovfinnair opened #1453 "App crashed and not starting, Exceeded language worker restart retry count for runtime:python."
I had an app which was running fine. Then after 11th July 2019 it stopped, and didn't start since then.
As I already got used to, the Azure portal UI is barely working, but once I managed to reach the part of UI where I could run the function manually, when I did so, logs had following errors:
[code]

Now I decided to try to redeploy, so I did, and after a few building steps I get error, and the l

[2019-07-23 12:49] dmitrysmirnovfinnair commented on #1453
I tried deleting app, service plan, and creating them again, but I still can't deploy, still same cannot kill container issue.

[2019-07-24 01:33] #1381 closed

[2019-07-24 01:34] ankitkumarr commented on #1423
Closed by https://github.com/Azure/azure-functions-core-tools/pull/1454

[2019-07-24 01:34] #1423 closed

[2019-07-24 02:31] docgregt opened #1455 "Time issue: Exception: AttributeError: module 'azure.functions' has no attribute 'get_binding_registry'"
Firstly, this code has been running for months. Secondly, the last time I deployed two days ago the deployment worked fine. Now today I deploy my function app that two timers in it and neither timer will work.
I get following errors:
Result: Failure
Exception: AttributeError: module 'azure.functions' has no attribute 'get_binding_registry'
Stack:   File "/usr/local/lib/python3.6/site-packages/azur

[2019-07-24 06:00] dmitrysmirnovfinnair commented on #1453
the deployment issue seems to be gone after i updated the tools to the latest version, however I'm still wondering why did the app just stop working, and refuse to work again even though I have not touched it.

[2019-07-24 09:00] imollov commented on #1121
I'm having the same issue.

Environment:
- Windows 10
- azure-functions-core-tools@2.7.1480
- node v10.16.0 (also tried with v8.11.1)
- npm 6.9.0

Here's the complete log:

[code]

As a side note, someone reported a similar case on stackoverflow: https://stackoverflow.com/questions/55264418/hello-world-application-for-azure-functions-with-typescript-fails-to-start-with

It's true I'm behind a corp

[2019-07-24 16:55] mebibou commented on #1455
I am just seing the same error on my function that worked fine before. For me it happens on a HTTP function, and sometimes I have the issue sometimes not, very frustrating.
The app is deployed under the Service plan `EastUSLinuxDynamicPlan (Consumption)`

So recently I couldn't deploy to the region, now the apps are failing. Could you tell us if it is ready or we should move away from Azure functi

[2019-07-24 19:07] #1421 closed

[2019-07-24 20:35] johnlop opened #1456 "ImportError: cannot import name 'cygrpc'"
func --version: 2.7.1480
Windows: 10
Region: EastUS

I am experimenting with Python Azure Functions and have issues running it on my machine in the first place. When I run my code in debug through VSCode, it starts normally but then throws the following exception:

[code]

Here is the beginning of the terminal output if it helps:

I'm using a virtual environment with Python 3.6.8 and my code could

[2019-07-24 20:36] zacktayl opened #1457 "Error calling sync triggers (BadRequest)"
Getting this error on MacOS after running this command: `func azure functionapp publish my-app-name`

func --version: 2.7.1480
MacOS: 10.14.3
Region: EastUS

Log (and error) after running command:
[code]

[2019-07-24 20:37] zacktayl commented on #1415
Having this issue as well. Just created an issue here: https://github.com/Azure/azure-functions-core-tools/issues/1457

[2019-07-24 20:38] zacktayl commented on #1181
Having this issue on EastUS as well - https://github.com/Azure/azure-functions-core-tools/issues/1457

[2019-07-25 07:34] mkolpin commented on #1455
I can confirm this issue for all timer trigger functions. Python Azure Functions are completely unusable currently. Redeploying to a freshly set up function app does not change this behaviour.
Even the minimal timer trigger example created in VS Code throws the same exception.

[2019-07-25 07:35] mkolpin commented on #1455
I can confirm this issue for all timer trigger functions. Python Azure Functions are completely unusable currently. Redeploying to a freshly set up function app does not change this behaviour.
Even the minimal timer trigger example created in VS Code throws the same exception.

To add to this: the same error ocurrs for previously created functions since about a week ago. So the issue seems to be r

[2019-07-25 09:30] thedoupub commented on #1415
Hello there people.

I am having exactly the same issue.

Error: Failed to sync triggers for function app 'name-of-the-app-here'. Error: BadRequest - Encountered an error (InternalServerError) from host runtime. (CODE: 400)

Also for my case i was using the Azure Devops pipeline.

I noticed though that in my case the Function App is not dissappearing after the failed deployment.

But for some reas

[2019-07-25 09:31] thedoupub commented on #1457
https://github.com/Azure/azure-functions-core-tools/issues/1415#issuecomment-514971536

Just updated with my comment here as well in case it help somebody.

[2019-07-25 16:57] docgregt commented on #1455
Breaking is understatement. I removed the two lines from my requirements.txt and now no function works at all. Forget timer. None of them work.
![image](https://user-images.githubusercontent.com/43346207/61893214-c9932000-aeca-11e9-82a1-887e7c8cb742.png)
In case you cant see the image it says 'function runtime is unable to start'.

[2019-07-25 17:31] mebibou commented on #1455
@mkolpin yes it fixed my issue, thanks!

[2019-07-25 18:01] thedoupub commented on #1415
@ankitkumarr i think it would help a lot if we would know the max size in mbs for the actual package in python. Since after quite a long search i was not able to find any information at all for this.
:(

[2019-07-25 23:55] docgregt commented on #1455
The #496 is not a solution. It breaks everything. I put these two lines back into requirements.txt:
azure-functions==1.0.0b5
azure-functions-worker==1.0.0b10

Then I switched from consumption (which might work now) to standard Linux App Service (which i already had for other things) and now everything works for me. I do not consider this issue closed.
MS has problems and they need to explain to us

[2019-07-26 06:47] RPM1984 opened #1458 "Proxies - how can i strip headers sent to backend services?"
Hi there! 👋

I have an Azure function proxy like this:

[code]

Basically i'm serving a file from blob storage.

Now - since this is a proxy, all request headers are passed to the `backendUri` by default.

My client (e.g browser) has an `Authorization` header from the same domain that is hosting this proxy.

When i call my proxy, i get this error (from blob storage):
[code]

I assume this is becau

[2019-07-26 07:09] mebibou commented on #1455
@maiqbal11 Could you help out @docgregt here?
imho, just putting an issue on github stating "will need to remove them to avoid breaking their app" is very shocking. I mean I literally had to see my apps in production not working anymore to search on github, find a related issue, then apply the fix, re-deploy... I mean can't you guys first put a warning somewhere? or send a newsletter to all accoun

[2019-07-26 07:14] RPM1984 commented on #1458
Asked on SO instead:
https://stackoverflow.com/questions/57214906/azure-functions-proxies-how-can-i-strip-headers-sent-to-backend-services

[2019-07-26 07:14] #1458 closed

[2019-07-26 15:15] docgregt commented on #1455
FYI. I think there are compatibility issues with:
cli
core-tools
cosmos db sdk

I am using all three. I see different issues being reported. Perhaps the three use different supporting libs. Here is a related case which helped me:
https://github.com/Azure/azure-functions-python-worker/issues/442
But for sure https://github.com/Azure/azure-functions-python-worker/issues/496 is not good and breaks ev

[2019-07-26 16:21] maiqbal11 commented on #1455
@docgregt, what version of core tools are you using?

[2019-07-26 16:36] docgregt commented on #1455
![image](https://user-images.githubusercontent.com/43346207/61966882-1f320000-af91-11e9-84dc-571d9370c54e.png)

is this what you are looking for?

[2019-07-26 16:37] maiqbal11 commented on #1455
Yes, that's it. Are you able to run the function locally?

[2019-07-26 16:43] docgregt commented on #1455
Yes, all my functions have run for many months. The timers stopped working on July 24th when I deployed a fix to my code. And they work now both locally and deployed as I mentioned above. I do not know if they work on consumption plan as I moved away from that. Seems to be a difference between Consumption and App Service plans.
Removing azure-functions and azure-functions-worker from requirements.

[2019-07-26 16:55] maiqbal11 commented on #1455
Would you be able to share the name of your function app?

[2019-07-26 17:02] docgregt commented on #1455
i4pyservices

[2019-07-26 17:05] docgregt commented on #1455
fyi, this occurred on the 24th:
![image](https://user-images.githubusercontent.com/43346207/61968433-41c61800-af95-11e9-8fd0-6f7c50a006b8.png)

At that point I was using Consumption service.

[2019-07-26 18:05] maiqbal11 commented on #1455
@docgregt, do you have AlwaysOn enabled for your App Service Function App?

[2019-07-26 18:32] docgregt commented on #1455
![image](https://user-images.githubusercontent.com/43346207/61973542-78099480-afa1-11e9-8204-2f751234c505.png)

[2019-07-26 18:51] maiqbal11 commented on #1455
@docgregt, could you also share your `requirements.txt`?

[2019-07-26 20:03] docgregt commented on #1455
adal==1.2.1
antlr4-python3-runtime==4.7.2
applicationinsights==0.11.7
argcomplete==1.10.0
asn1crypto==0.24.0
astroid==2.1.0
azure-batch==6.0.0
azure-cli==2.0.67
azure-common==1.1.23
azure-cosmos==3.0.2
azure-functions==1.0.0b5
azure-functions-worker==1.0.0b10
azure-functions-devops-build==0.0.22
azure-graphrbac==0.60.0
azure-keyvault==1.1.0
azure-mgmt-authorization==0.50.0
azure-mgmt-dns==2.1.0
bc

[2019-07-26 20:04] maiqbal11 commented on #1455
@docgregt, there are definitely some compatibility issues that we are seeing on our end between `azure-cosmos` and `azure-functions-worker`. These are related to some `azure` packages declaring explicit namespaces and others not. This also manifests differently between Consumption and App Service. We are looking into a fix and will update accordingly.

[2019-07-26 20:09] docgregt commented on #1455
Glad I was a bit helpful. Let me know when I can test it.

[2019-07-26 20:20] maiqbal11 commented on #1455
@docgregt, greatly appreciate you reporting this! For anyone else who is experiencing issues on App Service, I'll just make an explicit note that they should include `azure-functions` and `azure-functions-worker` in their `requirements.txt`. I'll put this into our announcement as well for now as we work towards making the experience consistent across the platforms.

[2019-07-26 22:15] communo-jschmold opened #1459 "Function invocations on boot cause multiple instances of singleton"
Bug: If function invocations are started when server is initialized, `globals` are ignored, and multiple copies of a file that is supposed to be a singleton

Expectation: Server loads the file only once

Reason for singleton [here](https://docs.microsoft.com/en-us/azure/azure-functions/functions-reference-node#connection-limits).

The problem lies in that we have specifically created a class that

[2019-07-28 10:42] danbete commented on #1059
worked for me:
in the .csproj file try that
remove ItemGroup items if you not using the packages im using..
i'm keeping them here for referance... (so edit this - **don't just copy past**)
hope it will help someone..

`<Project Sdk="Microsoft.NET.Sdk">
  <PropertyGroup>
    <TargetFramework>netcoreapp2.0</TargetFramework>
    <AzureFunctionsVersion>v2</AzureFunctionsVersion>
    <UseNETCoreGenerat

[2019-07-29 06:39] worldspawn commented on #1409
@ahmedelnably can you reopen this. I'm getting the exact same exception with the exact same stack.

[code]
At this point `this` (the AppSettingsFile) has private variable `_filePath` of null and it then tried to read the contents of null.
[code]
In the above frame we have an instance of AppSettingsFile which does not have a null _filePath. its pointing a file that exists (C:\Users\SamCritchley\sou

[2019-07-29 06:42] ahmedelnably commented on #1409
Reopening as there new data

[2019-07-29 06:45] worldspawn commented on #1409
Also I'm able to debug it via VS Code, takes some of the urgency out of it for me :)

[2019-07-29 14:50] ggirard07 commented on #223
@ahmelsayed Any plan to support the nested object model in `local.settings.json` such as configurations in `appsettings.json` are in .Net Core?

We are sharing a common model for IOptions between API/Microservice/MVC and it is very disturbing to have azure functions behaving differently as any other .Net Core projects.... I understand I can write environment variables in `local.settings.json` as f

[2019-07-29 16:21] EricJizbaMSFT opened #1460 ""Value cannot be null" error when AzureWebJobsStorage is missing for output binding"
[code]

### Repro steps:
1. Create a new project (language shouldn't matter, but I did JS)
1. Add an http trigger
1. Add a Cosmos DB output binding to that trigger
1. Make sure extension bundle is set in host.json
1. Make sure AzureWebJobsStorage is _not_ set in local.settings.json

### Expected:
A readable error message saying `AzureWebJobsStorage` needs to be set. Honestly I would expect this to

[2019-07-29 18:32] soninaren commented on #1459
@mhoeger can you take a look?

[2019-07-29 21:23] johnlop commented on #1456
I'm closing this issue since I decided to abandon Python functions and won't be able to provide any more information.

[2019-07-29 21:23] #1456 closed

[2019-07-29 21:50] ankitkumarr commented on #1456
@johnlop, sorry to see you leave. Apologies that it took us a couple of days to get back to you.
If there's a way we could have helped your scenario, definitely let us know.

As for the actual issue, I am unable to get a quick repro, but I would need a follow-up or two to understand what's going on in your case. I will leave this closed - as from your last response, you would be unable to provide

[2019-07-30 06:55] kajwanr commented on #1456
@ankitkumarr , I am running into the exact same issue.
Should I open a new issue?

[2019-07-30 07:08] ankitkumarr commented on #1456
@kajwanr, that would be great if you could do that with any relevant information.
Additionally, could you please also share in that issue, the contents of -
`...\azure-functions-core-tools\bin\workers\python\deps\grpc\_cython`.

Thanks!

[2019-07-30 15:52] kajwanr opened #1462 "ImportError: cannot import name 'cygrpc' - when using 32-bit python"
func --version: 2.7.1480
Windows: 10
VScode: 1.36.1
Python (Anaconda): 3.6.8
Region: Europe

I am trying to create a simple Python function in VScode and would like to test it locally.
However, when running `func host start`, I get the following error:
[code]

_cpython directory contains the following:
[code]

My function is a simple BlobTrigger:
[code]

Thanks!

[2019-07-30 16:11] jameseleach commented on #1462
I'm having the same issue.   Originally I had azure-function-core-tools installed using Chocolatey but I've uninstalled it using Chocolatey and installed it using npm.   I'm receiving the same error as @kajwanr.

The contents of my _cython folder are as follows:
[code]

My function is the default:
[code]

[2019-07-30 17:25] ahmelsayed commented on #1462
/cc @maiqbal11

[2019-07-30 17:26] maiqbal11 commented on #1462
@kajwanr, @jameseleach, could you check your Python version to see if it is 32-bit or 64-bit? The library in question is built for 64-bit Python and will not work with 32-bit.

[2019-07-30 17:30] ahmelsayed commented on #1462
where should that error be handled?

[2019-07-30 17:32] maiqbal11 commented on #1462
I believe it should be part of the core tools since that is where we package all the dependencies. We can surface a warning if we detect a user running a 32-bit version of Python. The error itself will get thrown if we try to import in the Python interpreter so we would have to surface something before that happens.

[2019-07-30 17:46] ahmelsayed commented on #1462
Why can't the python worker or the runtime handle that?

[2019-07-30 17:46] ankitkumarr commented on #1462
I do think we should re-think having a strong dependency on a specific Python version and architecture.
https://github.com/Azure/azure-functions-python-worker/issues/450

Users should also be able to mitigate this issue by performing a `pip install azure-functions-worker` which will install the dependencies for their own architecture.

[2019-07-30 17:58] ahmelsayed commented on #1460
Requiring storage for all output/input bindings would be a breaking change. Today it's only required if you have anything other than http or kafka **triggers**, but not bindings.

@fabiocav do you have a list of the input/output bindings that require `AzureWebJobsStorage`

[2019-07-30 18:02] ahmelsayed commented on #223
`appsettings.json` is problematic for any language that's not .NET. Also today the cli converts the settings into Azure App Settings, which an `appsettings.json` would further complicate since the runtime doesn't support loading one, and the cli is not in the picture when running on Azure.

I don't know what the right solution here so that it would work end to end. I think the runtime should handl

[2019-07-30 18:03] EricJizbaMSFT commented on #1460
@ahmelsayed yeah I'm not asking you to change the behavior of when it's required - just to print out a better error message than "Value cannot be null."

[2019-07-30 18:08] maiqbal11 commented on #1462
The worker doesn't install any dependencies itself. It only uses them.  The alternatives are to install the required dependencies before we run the local debugging flow (which is what we used to do) or we can package the worker dependencies for different platforms/architectures with the host (which is a discussion that we had with @pragnagopa as that would require some work to update `worker.confi

[2019-07-30 18:12] ahmelsayed commented on #1059
`Function ({FunctionName}) Error: ....` are server side errors, not core tools related.

[2019-07-30 18:12] #1059 closed

[2019-07-30 18:20] ahmelsayed commented on #1462
The users shouldn't be installing those packages. They are packaged with the core-tools. The worker is the component loading those packages. Pushing all error handling to artificial checks in the tooling is not the right way of doing everything

[2019-07-30 18:23] jameseleach commented on #1462
@maiqbal11 I was using 32 bit Python.   I have uninstalled it and installed 64 bit Python 3.6.8.   I received an error when trying to run using the pre-existing virtual environment I had created with the 32 bit python install so I deleted it and recreated it.   I don't have the 'py' command but was able to create the virtual environment by running `python -m venv .venv`

I then initialized a new f

[2019-07-30 18:27] ahmelsayed commented on #1460
I understand, and I agree that error messages should be better.

The problem is that this error message is coming from the runtime, not the core-tools. The core-tools sets things up, then invokes the runtime. It should be the runtime's responsibility to properly handle invalid function settings, but it doesn't. It just re-throws those exceptions. Since it was too confusing for users, and apparentl

[2019-07-31 05:32] jeffhollan opened #1463 "Prompt for connection strings on `func new`"
Today when creating a new function to connect to something like blob, we generate code but don’t do much to help the user wire up their function or setup the function.json correctly.  VS code uses the approach of (optionally) prompting for a few of the values at the time of create.  So for storage it will ask for the container name and the connection string and then populate the function.json and

[2019-07-31 08:19] andrewb273 commented on #1444
@ptoonen ok I've finally been able to look at this more closely. I created a new & empty project using `func new` and the HTTP template, so it's a very basic function.

[code]

Results:

|Trial|First call|Second call|Third call
|--|--|--|--|
|1|1634 ms| 208 ms | 266 ms|
|2|1314 ms|226 ms|263 ms|
|3|1266 ms|282 ms|194 ms|
|4|1672 ms|256 ms|326ms|
|5|1300 ms|246 ms|272 ms|

I didn't mention before,

[2019-07-31 08:44] kajwanr commented on #1462
Issue resolved by using 64-bit python. I did the same as @jameseleach.

Thank you for your help @maiqbal11! It would be great, if an error was given when using 32-bit python. Perhaps it should also be noted in the [documentation](https://docs.microsoft.com/en-us/azure/azure-functions/functions-create-first-function-python) to make it more clear.

[2019-07-31 15:09] ahmelsayed commented on #1462
Lets leave it open until we sort out the error message and docs

[2019-07-31 15:35] pragnagopa commented on #1428
This should include bitness selection.

[2019-07-31 15:37] pragnagopa commented on #1462
Currently we do not have a way to configure python version, bitness for the worker. This will be addressed as part of supporting multiple versions. Tracking issue: https://github.com/Azure/azure-functions-core-tools/issues/1428

Note: Udpating core tools is just one part. We will have related work items in host  - to select the right version of the worker and in worker - to package worker for diff

[2019-08-01 11:46] IanKemp opened #1472 "Better handle and document nested (invalid) configuration settings in local.settings.json"
Consider an Azure function with the following `local.settings.json` file:

[code]

When `func start` is run, the function host successfully launches and runs.

Now amend `local.settings.json` to the following:

[code]

and `func start` again:

[code]

The reason, of course, is [that the host does not support nested configuration settings](https://github.com/Azure/azure-functions-host/issues/4737#i

[2019-08-01 23:36] iyerusad commented on #1404
Was getting following error today

Updated from node 10.14.1 to 10.16.1 (latest LTS) resolved this particular issue.

**Proxies issue still persists.**

[2019-08-02 20:12] josiah14 commented on #1230
@mebibou SSH is complaining about the permissions on your /root/.ssh/ directory being too permissive.  You should probably run, instead, `chmod 700` on `~/.ssh` and `chmod -R 700` on `~/.ssh` (to recursively restrict the permissions on the files themselves in `~/.ssh`.

[2019-08-04 23:04] manums opened #1470 "Azure Functions 2.0 - EventHubTrigger - System.Private.CoreLib: Could not load file or assembly “FunctionsProject.dll”"
I was able to run function app which has eventhub binding from local as well as from West US2 Consumption plan. From last 4 days, after we moved all our dependent projects to build in x64 and updating all nugets to latest - function app started failing. It does not even start, it fails to load the functionsproject.dll itself. Same issue even If I deploy bits to Consumption Plan.

- Functions Proje

[2019-08-05 09:20] JamieMagee opened #1471 "Missing binaries from release 2.7.1505"
The latest release is missing the compiled binaries, and only contains the source.

[2019-08-07 00:43] ahmelsayed commented on #1471
@soninaren can you add the binaries to the release?

[2019-08-07 02:22] wbreza opened #1478 "Returning an HTTP response with array in 2.7.1505 serializes incorrectly"
**Version**: 2.7.1505

After upgrading azure function core tools to latest version returning an HTTP response with an array incorrectly serializes to `System.Collections.Generic.List``1[System.Object]`

To reproduce set one of the following with a Node HTTP trigger:

`context.res = {
  body: [],
  status: 200
};
`

or

`context.done(null, {
  body: [],
  status: 200,
});`

It appears that this sam

[2019-08-07 23:19] sschaumu opened #1479 "Unexplanable Access is denied Error"
I understand that this issue is environmental. However, Access is denied messages need more verbose reasons.

I have been successfully publishing with the func cli for quite some time, then suddenly (after installing SQL express not sure if that caused the issue) func operations present "Access Is Denied" in red.

When executing func new once you go through the questions and it attempts to create

[2019-08-08 01:01] soninaren commented on #1471
Done

[2019-08-08 01:01] #1471 closed

[2019-08-08 02:20] #1479 closed

[2019-08-08 07:02] dmitrysmirnovfinnair commented on #903
Same issue, python app, keeps failing with `Azure.Functions.Cli.Common.CliException: Error uploading archive (Conflict).`

[2019-08-08 14:04] Patrickkk commented on #1473
what i do now is use an additional local configuration file loading the configuration myself (combined with DI)
[code]

[2019-08-08 18:30] ankitkumarr opened #1483 "Flags defined in BaseAzureAction / BaseFunctionAppAction do not show up in --help"
Flags such as `--slot`, `--access-token` etc that are defined for the parser in base classes do not show up in the `--help` output.

cc: @ahmedelnably

[2019-08-08 18:35] ankitkumarr opened #1484 "Zip files packaged in Linux (or mac) do not have proper permissions in files"
This causes Linux Elastic Premium payloads created in Macs to fail. Note, the zip file create then gets mounted by `fuse-zip` on the server. So, it's not trivial to add those read-only permissions on the server side after retrieving the contents.

See https://github.com/dotnet/corefx/issues/10223 for more info.

cc: @alexkarcher-msft @jeffhollan

[2019-08-08 18:47] jeffhollan commented on #1484
There was a related issue where if you had a file with u+x permissions it was losing those permissions during publish from mac.  Confirming that this work item will address that as well?

[2019-08-08 19:00] ankitkumarr commented on #1484
Yes @jeffhollan, it should take care of that as well.

[2019-08-09 05:06] #1484 closed

[2019-08-09 12:57] guojian83 commented on #1188
The reason it errors is because the csx project does not come with a csproj file. The 'workaround' is to init your function in dotnet without csx which make your extension part work as normal. Just remember to add the --csx flag when adding your triggers so your function is in Csx mode.

Hope this helps.

[2019-08-09 13:11] guojian83 opened #1487 "Support csx in the dockerfile"
When the function is created in csx mode, the docker file is generated only for the modern csharp function.
The docker build fails at the dotnet publish step because a csx function may not have a csproj file.
[code]

The proposal is to generate a different dockerfile for csx mode by removing the build step from the docker file just like other runtimes. Please see the proposed dockerfile as below:

[2019-08-09 16:34] lastcoolnameleft opened #1489 "`func host start` allows running in invalid directory"
If you run `func host start` in a directory outside of the project, it exits with the error: `Unable to find project root.`.  This is good behavior.

However, if you run `func host start` in a function subdirectory (e.g. `HttpTrigger` from the examples), then it will create a new `host.json` file and start.  This is inconsistent behavior.  A preferred behavior would be to exit similar to if it was

[2019-08-09 17:09] snobu commented on #1489
May i also suggest amending the original error message to:
[code]

[2019-08-09 18:16] zacktayl commented on #1457
Any update on this?

[2019-08-10 12:05] guojian83 commented on #1188
OK, i think i found the right answer after looking into the code a bit more.
The trick is to attach the --csx flag for all the commands not just the init.
[code]

Regards,
Jian

[2019-08-11 11:51] rogeralsing commented on #1285
This works for me to, the trick with `exports` on the env var was key.

[2019-08-12 14:31] gs9824 commented on #405
Any news on this topic? Our corporate policies do not allow unsigned versions to be run.

[2019-08-12 17:57] andreif opened #1490 "Publishing Python function fails due to timeout?"
When I run command locally it hangs after uploading and then gets cancelled and fails
[code]

Deploying via DevOps Pipelines also fails
[code]

[2019-08-12 18:04] andreif commented on #1490
The app repo is https://github.com/andreif-funnel/AzureFunctionExample

[2019-08-12 20:17] ankitkumarr opened #1491 "No language selection for nested Function Apps"
1. func init (Select a language L)
2. mkdir nestedApp
3. cd nestedApp
4. func init (func assumes the language to be L)

We should maybe throw an error for nested Function Apps or at the least not assume a worker runtime.

This should be a low-pri item as this isn't a blocking scenario and ideally users shouldn't be hitting this case.

cc: @ColbyTresness

[2019-08-13 00:52] gbmarc1 commented on #872
@ankitkumarr. Is there any timeline for this? My organisation needs 3.7 for deployment purposes.

[2019-08-13 00:58] ankitkumarr opened #1493 "Linux Dedicated publish should perform async deployment"
We have seen several reports of deployment timing out in Linux Dedicated because we make `api/zipdeploy` call synchronously.

Usually you'd see the deployment failing initially, then retrying and hitting a `Conflict` as the first deployment is still ongoing in kudu.

We should make the call Asynchronous by calling `api/zipdeploy?isAsync=true` and then poll for the logs. This should help take care

[2019-08-13 08:33] dirkesquire commented on #872
As far as I can see the hold up is caused by Docker.

I also want to draw attention the handy tool that is **[pyenv](https://github.com/pyenv/pyenv)** which allows a system to easily install new python versions on the command line. So by checking in a .python-version file (that pyenv automatically creates), this is a fantastic way to control the python version that we are targeting.

After that it

[2019-08-13 21:17] atresnjo commented on #1457
Same error here. The publish always fails on "North Europe" but then I created a new function on "West US" and it worked.  Checked reply with fiddler and this was the response:

Code=Unauthorized
Message=Encountered an error (Forbidden) from extensions API.

![grafik](https://user-images.githubusercontent.com/41112852/62977871-30e42600-be20-11e9-8f24-fd2957b75865.png)

[2019-08-14 16:36] ElanHasson commented on #925
I also disagree with this behavior.

Having `UseDevelopmentStorage=true` in a `local.settings.json` is not a security risk.

Once you introduce secrets to the file, that is *on you*.

It's a poor developer experience to have to reproduce a config file (that can be large) or pull it from somewhere else.

One should be able to clone + run assuming they have all external dependencies (storage emulato

[2019-08-14 18:18] mhoeger opened #1494 "Language workers versions should come from functions runtime"
There was a period of ~2 months where core tools was using Node.js worker v1.1.0 while apps in azure were using v1.0.3.

This caused unexpected differences in behavior. We should use the same version of the worker without having to make sure they match manually.

cc: @paulbatum @yojagad

[2019-08-14 18:38] ankitkumarr commented on #1494
Thanks Marie!
Just as a note, we tried removing the dependencies directly (https://github.com/Azure/azure-functions-core-tools/commit/b5033c45971e5046092dc402dfe5ee035e5276a8). But it looks like, the language worker dependencies are not transient and had to revert that change. Guessing because they include data files.

We may need to update the targets for each language worker such that they are a

[2019-08-14 22:56] #1314 closed

[2019-08-14 23:41] mhoeger commented on #1478
Root cause is this issue: https://github.com/Azure/azure-functions-nodejs-worker/issues/228

The reason why there appeared to be a regression is because we accidentally released a fix for this bug (that has always existed) in a version of the core-tools. Although it is a bug to return “System.Collections.Generic…”, the fix that was briefly released (only in the core-tools) will cause a breaking ch

[2019-08-14 23:41] #1478 closed

[2019-08-15 18:20] ahmedelnably commented on #1472
Dupe of https://github.com/Azure/azure-functions-core-tools/issues/1473

[2019-08-15 18:20] #1472 closed

[2019-08-15 18:22] ahmedelnably commented on #1463
Need to design it to minimize breaking changes, also this may need update to templates.
Moving it to the backlog for now, let's start a design discussion.

[2019-08-15 18:24] ahmedelnably commented on #1457
Can you please provide the app name and the CLI debug logs by setting env setting CLI_DEBUG=1

[2019-08-15 18:26] ahmedelnably commented on #1453
@maiqbal11 & @Hazhzeng can you please take a look

[2019-08-15 18:34] #1194 closed

[2019-08-15 22:19] AlanParr opened #1500 "Incompatibility with EFCore 3.0.0-preview8"
Not sure if this is the right place for this report so please move if incorrect.

There is a conflict between the version of Microsoft.Extensions.DependencyInjection that is currently used in Microsoft.EntityFrameworkCore 3.0.0-preview8 and Microsoft.Azure.Functions.Extensions as detailed in below dependency graph.

[code]

The result is the following error at runtime:
[code]

The preview8 assembl

[2019-08-16 14:05] twomm commented on #407
Seeing this issue, too.
Copying all c# code files to another Azure function solution on the same machine works fine.

Are there any files in AppData or wherever, that could cause this and need to be cleaned up? I am out of ideas otherwise.

[2019-08-16 14:20] twomm commented on #407
For me this has been caused by having this in my local.settings.json
    "AzureWebJobsDisableHomepage" : "true"
Removing it or setting to false worked around the issue.

[2019-08-16 22:40] david0178418 commented on #1404
Similar issue.  However, the error seems to be benign.  The proxy seems to operate as expected in this simple case.  Not sure if a more complex case would surface some issue:
![image](https://user-images.githubusercontent.com/128739/63201913-d976cd80-c04c-11e9-9ed2-cb24ccebec68.png)

[2019-08-16 23:17] ahmelsayed commented on #1487
Closed in #1488

[2019-08-16 23:17] #1487 closed

[2019-08-16 23:35] Ma3yTa commented on #305
@fabiocav where we can found templates for v2?
How we can make changes to https://functionscdn.azureedge.net/public/templates.json ?
Thanks.

[2019-08-16 23:40] Ma3yTa commented on #305
@fabiocav any news?

[2019-08-17 03:45] ankitkumarr opened #1506 "When using extension bundle, we shouldn't need dotnet"
`func new` with triggers that need extensions fail if you do not have `dotnet`, even if extension bundle is configured. This shouldn't be the case

[2019-08-17 03:48] ankitkumarr opened #1507 "core-tools ignores everything that starts with .funcignore entry"
1. func init
2. func new (select HttpTrigger)
3. echo "Http" > `.funcignore`
4. func pack

The zip file is missing `HttpTrigger` files.

[2019-08-17 04:29] ankitkumarr commented on #1507
Making this P2 because VS code adds some entries to `.funcignore` like `test`. So, if you create a function name starting with `test` in VS Code, core-tools will not pack the app properly.

[2019-08-17 22:11] ankitkumarr commented on #1506
cc: @soninaren

[2019-08-17 23:09] soninaren commented on #1506
I thought we did this already

[2019-08-17 23:21] ankitkumarr commented on #1506
Must have been slipped, as we usually don't encounter this use case ourselves.

https://github.com/Azure/azure-functions-core-tools/blob/aa40c1c8afefc844f8736dbbcf901da6b5459755/src/Azure.Functions.Cli/Actions/LocalActions/CreateFunctionAction.cs#L148-L154

https://github.com/Azure/azure-functions-core-tools/blob/aa40c1c8afefc844f8736dbbcf901da6b5459755/src/Azure.Functions.Cli/Helpers/ExtensionsHe

[2019-08-19 12:43] guojian83 commented on #1145
Hi @ahmelsayed,

I don't understand Azure/azure-functions-docker#90. What is the proper solution to this problem?
The default Dockerfile generated for nodejs shows the following error at runtime:
Invalid script file name configuration. The 'scriptFile' property is set to a file that does not exist.

This is the thread in the azure-docs describing the problem and the fix.
https://github.com/Microso

[2019-08-19 23:51] guojian83 commented on #1389
Will the following Dockerfile do the work?

FROM mcr.microsoft.com/azure-functions/powershell:2.0

ENV AzureWebJobsScriptRoot=/home/site/wwwroot \
    AzureFunctionsJobHost__Logging__Console__IsEnabled=true

COPY . /home/site/wwwroot
It seems to be working when i tested it.

I can submit a PR if that's all about it.

Regards,
Jian

[2019-08-20 05:47] bgelens commented on #1389
Works fine! Just add `\` between the two environment variables

[code]

[2019-08-20 05:59] guojian83 commented on #1389
Yup. Sorry for the problem caused by online editor.
Updated in PR #1508.

Regards,
Jian

[2019-08-20 08:06] andreif commented on #1457
Can we improve error message for failing triggers sync?

[code]

`Error: [object Object]` does not help.

[2019-08-20 16:43] paulbatum opened #1509 "Output a request ID when synctriggers fails"
Sometimes the synctriggers step after deploying a package will fail. The core tools will output the status code but there is no identifying information for the request. We need to output some type of request ID so we can correlate with system logs. Ideally it would be the Activity ID.

[2019-08-20 17:37] ankitkumarr commented on #1509
If you use `CLI_DEBUG=1`, it will output the entire request and response payload. The response payload includes
`x-ms-request-id`
`x-ms-correlation-request-id`
`x-ms-routing-request-id`

[2019-08-20 17:42] ankitkumarr opened #1510 "Handle invalid response for /api/isdeploying in Linux Dedicated builds"

[2019-08-20 19:40] #1510 closed

[2019-08-20 19:59] katlimruiz commented on #1415
+1

[2019-08-20 20:04] anindya5 opened #1512 "Visual Studio not finding Azure function core tools"
HI,

I recently got a new mac. I installed Visual Studio, python, azure core tools, azure . extension, etc. While trying to start using it to build azure functions using python, while trying to debug, I am getting "You must have the Azure Functions Core Tools installed to debug your local functions."

I re checked and core tools is there but I just cannot open it.

[2019-08-20 21:13] anindya5 commented on #1512
This was because, Java was not properly installed but the error did not made sense

[2019-08-20 21:13] #1512 closed

[2019-08-20 21:31] ankitkumarr commented on #1415
Hi, I apologize for the super delayed response here. The original report here was resolved in an offline internal thread.
The thing is `SyncTriggers` is the first call that is made on the Function App. So, it failing could mean a lot of things - function app is down, App didn't update, etc. Usually, we want to look at these issues on a case by case basis.

If you are using a Linux App Service plan

[2019-08-20 22:38] ankitkumarr commented on #1490
Are you on an App Service Plan or a Consumption plan?

[2019-08-20 23:08] xinyi-joffre commented on #1457
I'm also getting this error for a python azure function app in East US.

Here is the output from the verbose CLI logs:

2019-08-20T22:57:07.5652349Z Syncing triggers...
2019-08-20T22:57:07.5657473Z Request:
2019-08-20T22:57:07.5658754Z Method: POST, RequestUri: 'https://management.azure.com/subscriptions/154431fe-c911-490e-87a0-c84ced2bee05/resourceGroups/pep-dxdev-cus-01-rg/providers/Microsoft.We

[2019-08-21 02:17] xinyi-joffre commented on #1457
Also occasionally getting:
"Encountered an error (ServiceUnavailable) from host runtime."

[2019-08-21 02:35] asavaritayal opened #1514 "Publishing a Python app fails"
Basic hello-world function fails to publish with the following error:

![image](https://user-images.githubusercontent.com/8435148/63398162-8751e700-c381-11e9-8c3c-5aea1962a50e.png)

I think the client-side build is trying to reference `pip` while my machine only supports `pip3`.

[2019-08-21 05:21] ankitkumarr commented on #1514
Ah! I think you are right. `packapp` starts a subprocess `pip`. We could probably try `pip3` first and if it's not there, fallback to `pip`. Because in case, both are available, `pip` may be for Python2.

Ideally, we should do `python3.6 -m pip ...`. Core-tools knows the right binary to use. So, either core-tools can pass that info to `packapp`, or `packapp` can use [sys.executable](https://docs.p

[2019-08-21 05:28] ankitkumarr commented on #1514
If anyone is blocked on this, they should be able to instead use --
1.  `func azure functionapp publish <appname> --build remote`, or
2. `func azure functionapp publish <appname> --build-native-deps` (needs Docker)

And if they really really want to use packapp (client side build without Docker), they can manually change references of `pip` to `pip3` in our script, for now. From the above screensh

[2019-08-21 08:18] #1069 closed

[2019-08-21 12:04] guojian83 commented on #1145
Hi @ahmelsayed,

If I have to run a func with typescript locally, I have execute the following before 'func start'.
[code]

The build step is missing from the docker file which is causing the issue.

Regards,
Jian

[2019-08-21 12:11] andreasgrimm commented on #748
any news regarding this?

[2019-08-21 13:10] andreif commented on #1457
@xinyi-joffre How did you manage to log the actual response body? I can only see the status code.
[code]

[2019-08-21 13:11] andreif commented on #1457
@ahmedelnably Any word from MS on this issue?

[2019-08-21 13:19] thedoupub opened #1515 "Time Triggers not firing."
Hello there people.

i have a problem with an azure function app in python that has a time trigger.

The CRON is set on every 15 seconds. For some reason after some successful fire attempts we experience a problem where the function app stops being fired.

The functionality that runs usually takes nearly 2 to 4 minutes which is something that we did not have a problem with before this very week.

[2019-08-21 13:53] xinyi-joffre commented on #1457
@andreif, I tried using `export CLI_DEBUG=1` before running the func publish command.

[2019-08-21 17:15] ahmedelnably commented on #748
@ankitkumarr I don't think this is needed any more after the change you did on how we query for apps

[2019-08-21 17:29] Francisco-Gamino opened #1516 "Validate extension bundles for PowerShell and write tests"

[2019-08-21 17:40] ankitkumarr commented on #1457
I am taking a look at this.

cc: @balag0 @Hazhzeng

[2019-08-21 17:50] ankitkumarr commented on #1457
What regions are your Function apps on? I see that the original issue says East US.

[2019-08-21 17:53] ankitkumarr commented on #1457
Also what SKU are you on? Consumption or App Service plan?

[2019-08-21 20:41] priyaananthasankar opened #1519 "Publish command completion is not signaled - breaks AzDO Release Pipelines"
from @drcrook1:

The return from azure functions core tools cli for publishing an azure python function using --build-native-deps --python flags does not return appropriately for an ADO (Azure DevOps) release pipeline to recognize that the command has in fact completed.

This first release was successful; however it reported back failed in ADO:
https://dev.azure.com/dacrook-samples/AI_Accelerators

[2019-08-21 21:26] xinyi-joffre commented on #1457
East US and Linux Consumption App

[2019-08-21 21:31] bartecargo commented on #644
Unfortunately, this failed for me due to the following error:
[code]
It appears that `func` searches for projects recursively and isn't sure which one to start. The solution for me was to move the console app outside of my function source directory.

Here's a PowerShell script that I'm using, which simply automates what @Dzoukr posted above but in a peer directory instead of subdirectory:
[code]
I

[2019-08-21 21:42] nzbart commented on #644
Unfortunately, this failed for me due to the following error:
[code]
It appears that `func` searches for projects recursively and isn't sure which one to start. The solution for me was to move the console app outside of my function source directory.

Here's a PowerShell script that I'm using, which simply automates what @Dzoukr posted above but in a peer directory instead of subdirectory:
[code]
I

[2019-08-21 22:54] divyagandhii commented on #1457
@xinyi-joffre  Can you share the app name?

[2019-08-21 23:09] xinyi-joffre commented on #1457
pepdxdev-functionapp

[2019-08-21 23:20] divyagandhii commented on #1457
Can you please retry now?

[2019-08-22 01:38] xinyi-joffre commented on #1457
That fixed it--thank you! Can I ask what changed?

[2019-08-22 03:21] katlimruiz commented on #1415
I deleted my function app Linux and created a windows one and it worked, so it seems Azure has some bugs in the Linux app.
On Aug 20, 2019, 16:32 -0500, Ankit Kumar <notifications@github.com>, wrote:

[2019-08-22 06:16] andreif commented on #1457
It works for me too. It would be really great to understand the reason for this issue before we setup production app.

[2019-08-22 14:45] andreif commented on #1490
The issue evolved into some permission/auth problem that was fixed in https://github.com/Azure/azure-functions-core-tools/issues/1457. Not sure what caused the initial timeouts and the following response errors but it works now.

[2019-08-22 14:45] #1490 closed

[2019-08-22 18:10] DrakeLambert commented on #1479
@sschaumu Were you able to resolve this issue? I get `Access is denied` after running:
[code]

[2019-08-22 18:15] ahmedelnably commented on #1519
We recommend to use the built-in task to build Python function apps

[2019-08-22 18:17] DrakeLambert opened #1521 ""Access is denied" Error After func init > dotnet"
## Action

In empty directory, I run `func init` then choose `dotnet`.

## Expected Result

Function init files are generated

## Actual Result

I get the following output:

![image](https://user-images.githubusercontent.com/17054016/63538972-a31ecf80-c4de-11e9-89bd-ebc716ef2992.png)

## My Environment

OS: windows 10
azure-functions-core-tools version: 2.7.1575
dotnet version: 2.2.401

[2019-08-22 18:21] ahmedelnably commented on #1521
@DrakeLambert Please SET CLI_DEBUG=1 and rerun the command (in an empty folder) that will get us more information to investigate

[2019-08-22 21:33] ahmelsayed commented on #1521
what do you get if you run `where dotnet`?

That code path is just running

[code]

[2019-08-22 22:24] divyagandhii commented on #1457
@xinyi-joffre , @andreif That's good to hear. We had an intermittent network connectivity issue with one of the containers, which was causing sync triggers requests to timeout.

[2019-08-22 22:24] #1457 closed

[2019-08-22 23:59] paulbatum commented on #1509
Customers will generally just paste the output they got without digging around for debug flags. So my suggestion is we output this information if there is a failure regardless of whether the use specified a debug flag.

[2019-08-23 00:01] ankitkumarr commented on #1509
I think that makes sense.

[2019-08-23 07:55] asasine opened #1523 "Proxy to localhost with different port results in infinite loop"
The special proxy variable [localhost](https://docs.microsoft.com/en-us/azure/azure-functions/functions-proxies#reference-localhost) is misinterpreted when running a Function Proxy locally with the `func` CLI (version info below). It does not consider port numbers during routing and fails to redirect to a different URI when that URI is on the same host with a different port.

I am running the Func

[2019-08-23 14:55] andreif commented on #1457
@divyagandhii @ahmedelnably @ankitkumarr It's down again
[code]

[2019-08-23 17:28] divyagandhii commented on #1457
@andreif I see only one failing request for your app and all sync triggers requests succeeding after that. Is your issue resolved?

[2019-08-23 19:41] andreif commented on #1457
@divyagandhii Yeah, about 3-4 pipeline builds failed and then it started to work again.

[2019-08-23 20:13] pragnagopa commented on #1427
cc @divyagandhii

[2019-08-24 18:12] thdotnet opened #1524 "[BUG] when trying to run function QueueTrigger based"
I am trying to run my Azure Function project using Storage Emulator, but I'm getting the following error:

System.MethodAccessException: 'Attempt by method 'Microsoft.Azure.WebJobs.Host.Queues.Listeners.QueueListener+<ExecuteAsync>d__27.MoveNext()' to access method 'Microsoft.Azure.WebJobs.Host.Protocols.FunctionDescriptor.get_LogName()' failed.'

It's a queue trigger, pointing to storage emulator

[2019-08-24 18:12] thdotnet commented on #1524
Here's the stack trace:

   at Microsoft.Azure.WebJobs.Host.Queues.Listeners.QueueListener.ExecuteAsync(CancellationToken cancellationToken) in C:\projects\azure-webjobs-sdk-rqm4t\src\Microsoft.Azure.WebJobs.Extensions.Storage\Queues\Listeners\QueueListener.cs:line 181
   at Microsoft.Azure.WebJobs.Host.Timers.TaskSeriesTimer.RunAsync(CancellationToken cancellationToken) in C:\projects\azure-webjo

[2019-08-24 20:30] Spharah commented on #1524
i had the same issue, i downgraded Microsoft.Azure.WebJobs.Extensions.Storage  to 3.0.2 and the issue was fixed.

[2019-08-24 21:47] thdotnet commented on #1524
Microsoft.Azure.WebJobs.Extensions.Storage 3.0.6 works fine.

[2019-08-25 07:08] Spharah commented on #1524
Clearly there is something wrong with version 3.0.7

[2019-08-26 21:22] mhoeger opened #1525 "Recommend WEBSITE_RUN_FROM_PACKAGE if not set in deployed app"
A user reported an issue in https://github.com/Azure/Azure-Functions/issues/1306 where the root cause was that the published function app was not using WEBSITE_RUN_FROM_PACKAGE = 1.

Is it possible to log some sort of warning or just informational text that recommends that they set WEBSITE_RUN_FROM_PACKAGE to improve performance and predictability if it's not detected in the deployed site, especia

[2019-08-27 07:28] nzbart commented on #644
After a war of attrition trying to work with dotnet Azure functions on Linux, including several problems with VS Code and Omnisharp, I declared defeat and started writing my functions in Python. I notice that Python functions already have auto-reload functionality built into `func host start`. When I save my .py file, the function host automatically reloads it.

[2019-08-27 14:31] wis3guy opened #1527 "Debugging an entire function app is no longer possible"
### TLDR

1. The context menu to start a debug session on a Function **App** is no longer available. It would be really, *really* useful to have this back.
2. There seems to be a bug in the plugin that prevents patching the `host.json` in case no function names are defined in the debug configuration. As a result clearing the parameter value has no actual affect. See screenshot below. Imho it shoul

[2019-08-27 14:38] wis3guy commented on #1527
Accidently created the issue in the wrong repo ... #fail (https://github.com/JetBrains/azure-tools-for-intellij/issues/238)

[2019-08-27 14:38] #1527 closed

[2019-08-27 17:51] #1525 closed, assigned to nobody

[2019-08-29 02:01] ahmelsayed opened #1528 "Sort function templates consistently"
we get the order from the templates json, but that's probably not a good idea. We should sort them alphabetically because its hard to find the one you want.

![image](https://user-images.githubusercontent.com/645740/63904548-4af83980-c9c6-11e9-9955-3f25cdf86cdf.png)

[2019-08-29 13:41] MrTortoise opened #1529 "Microsoft.WindowsAzure.Storage: Server encountered an internal error. Is Back"
storage emulator 5.10.0.0
Azure Functions Core Tools (2.7.1575 Commit hash: 7750e771a4e56352c767dfa16413ec9c79b72ba)
Function Runtime Version: 2.0.12625.0

Things were working, today they are not.

I am seeing
[code]

in the output in vs.

Got frustrated, reinstalled storage emulator, removed entirety of vs and reinstalled it.

The fix described in https://github.com/Azure/azure-functions-host/iss

[2019-08-30 16:08] ferantivero commented on #1101
@tomconte is for me the valid workaround because updating `az` CLI did not fixed it.

[code]

Azure Function Core Tools version `2.7.1575 Commit hash: b7750e771a4e56352c767dfa16413ec9c79b72ba`

[2019-08-30 16:54] ferantivero opened #1530 "[linux consumption] [python] [westeurope] [ubuntu18] [core tools] System.ArgumentException: Only 'http' and 'https' schemes are allowed"
just tried to follow the hello world sample from https://docs.microsoft.com/en-us/azure/azure-functions/functions-create-first-function-python

when trying to publish a new Azure Function  `CLI_DEBUG=1 func azure functionapp publish <funcappname> --access-token <token>`

## Err stack
[code]

## Other details

[code]

----------------------------------------

EDIT: possible workaround https://githu

[2019-08-30 18:31] DrakeLambert commented on #1521
@ahmelsayed `where` is not in my PATH. I am using powershell core. By default `where` is an alias for `Where-Object`.

[2019-08-30 19:30] ferantivero commented on #1530
just for other other people facing the same issue I was able to get it uploaded the very same function to the very same function app by using Azure Function Extensions for VS Code.

[2019-08-30 19:55] ferantivero commented on #1530
and here a workaround for those like me that need to get this uploaded from terminal:

1. zip the function folder content
2. exec the following az-CLI command: `az functionapp deployment source config-zip --src <zipfilename> -g <resroucegroup>  -n <functionappname>`

which what I presume Azure Function Extensions for VS Code is doing behind the scenes.

[2019-09-03 01:30] bukarev opened #1531 "Error "Could not convert string to boolean: Deployment Underway" when publishing Python functionapp"
I have created a Function App for Python, using an existing Linux app service plan S1 (all in Australia East region), and published the function app multiple times using Azure CLI. It worked fine until it stopped.

Now when I'm trying to publish a Function App (using command "func azure functionapp publish myfunctionapp --build remote"), the error is:
Could not convert string to boolean: Deploymen

[2019-09-03 01:44] bukarev commented on #1531
Just tried to publish a brand new function group with the only function (stub for HttpTrigger) using remote build option, and it failed with the same error.
Publishing with the option --build-native-deps worked, so it must be a bug with remote build on Azure side.

[2019-09-03 17:50] ankitkumarr commented on #1531
@bukarev, what version of `azure-functions-core-tools` are you on? There was a recent update and the new version (2.7.1585) should fix this issue.

[2019-09-04 02:42] cosin2008 commented on #933
I saw PR #3791 has been merged for months. But it seems in VSCode/VS2019 local debugging environment, azure function still not translating @Microsoft.KeyVault to real secret value. Anything blocking or requires additional configuration?

[2019-09-04 12:41] AssassinTee opened #1533 "Error "ModuleNotFoundError" on local module"
## The problem:

I am currently trying to deploy my own Azure-Functions-App. The deployment was successfull, but I get the error (see below) when I test the HTTP-Trigger-Function. The local server (started with `func_start_host`) runs fine and answers my calls.

## What I have done so far:

I already read multiple issues with similar but not the same error message

## What I expect:

I expect a wo

[2019-09-04 17:20] ankitkumarr opened #1534 "Allow Python 3.7 to perform func host start"
Currently we block users with Python 3.7 to run `func host start`. This is because the Python worker binaries that comes with core-tools is compatible with Python 3.6 only.

But, we have a work item to add Python 3.7 worker binaries with core-tools. As soon as that's in, we should not block users to perform `func host start` with Python 3.7.

[2019-09-04 18:13] ankitkumarr opened #1535 "Add telemetry infrastructure in core-tools"
This work item is part of adding telemetry in core-tools. The scope of this issue tracks the work to add the telemetry infrastructure code in core-tools.

Completion may not mean we start collecting telemetry.

[2019-09-04 21:29] JackHartCNB commented on #656
Hi, I'm having this same problem.  I installed node and npm (on windows -- node: 12.10.0 & npm: 6.10.3) and then ran the install command:

npm install -g azure-functions-core-tools --unsafe-perm true

I got the SELF_SIGNED_CERT_IN_CHAIN error, so I set the following env variable:

[I checked it by running 'env' to print the environment and found this in the block of values]
NODE_TLS_REJECT_UNAUTHO

[2019-09-04 21:34] #1509 closed

[2019-09-04 21:40] JackHartCNB commented on #656
OK, found it -- run this first:
npm config set strict-ssl false

Then check it with this:
npm config get strict-ssl false
    -- it should report "false"

Now run the npm install command:
npm install -g azure-functions-core-tools --unsafe-perm true

[installs tools]

HTH,
--j

[2019-09-04 23:59] bukarev commented on #1531
Hi @ankitkumarr I'm on 2.7.1575, but somehow when I try to upgrade it (I'm on Ubuntu 18.04.3 LTS), this is the latest version that I can get; i.e. no 1585.

[2019-09-05 00:47] ankitkumarr commented on #1531
Oh you are using `apt`. Sorry, that one's on me. I didn't get a chance to update it in apt yet. I will do it tomorrow if you wouldn't mind waiting.

[2019-09-05 01:06] ankitkumarr commented on #1533
Can you try
[code]
as suggested in [our docs](https://docs.microsoft.com/en-us/azure/azure-functions/functions-reference-python#folder-structure)?

[2019-09-05 07:17] AssassinTee commented on #1533
[code]
This did the trick for me. Thank you for your help, I didn't read that part of the docs.
I am still getting errors, but these are due to missing requirements.

[2019-09-05 07:17] #1533 closed

[2019-09-05 20:31] fabiocav commented on #1506
@soninaren this is one of our P1s. Is this something we can assign to 58?

[2019-09-05 22:08] soninaren commented on #1506
yes, I will take this one.

[2019-09-05 23:51] zQmerit opened #1538 "azure function publish is failing with the following error: There was an error restoring dependencies."
I am trying to publish a python function to a linux machine in azure and am getting the following error:

There was an error restoring dependencies. You are using pip version 18.1, however version 19.2.3 is available.
You should consider upgrading via the 'python -m pip install --upgrade pip' command.
Traceback (most recent call last):
  File "C:\Users\Zach\AppData\Roaming\npm\node_modules\azure-f

[2019-09-06 03:08] ankitkumarr commented on #1531
@bukarev, we have released it to apt as well. You should be able to update core-tools now

[2019-09-06 05:38] jeffhollan opened #1539 "Running kubernetes deploy before install should show more helpful error"
Tried to deploy to a cluster I hadn't installed keda in yet.  Got the following

output: error: unable to recognize "STDIN": no matches for kind "ScaledObject" in version "keda.k8s.io/v1alpha1"

Ideally it would say something like

"KEDA doesn't yet exist in the current cluster.  Try running `func kubernetes install` first"

[2019-09-06 06:13] bukarev commented on #1531
@ankitkumarr I updated the tools and it's of version 1585 now. However, My Function App stopped working. In the app I'm using an extra Python module requests, and it looks like the --build remote option doesn't attach that module anymore:
`2019-09-06T05:44:32.759689088Z: [INFO]  Exception: ModuleNotFoundError: No module named 'requests'
2019-09-06T05:44:32.759708889Z: [INFO]  Stack:   File "/usr/l

[2019-09-06 06:46] ankitkumarr commented on #1531
Would you be able to share your functionapp name?

[2019-09-06 06:50] bukarev commented on #1531
@ankitkumarr dds-rb-fun-002

[2019-09-06 07:12] Godase opened #1540 "Error in azure functions for python deployment on azure (Error : Response status code does not indicate success: 400 (Bad Request)"
I created the basic **python azure function HttpTrigger functions**. After creating this function I published it on local and it's working fine. But whenever I am trying to deploy it on azure, then I got the below error.

**Please check the Below Error:-**

[code]

**Please check the below code that i have used:-**
[code]

Is there any way to resolved the above error? Please let me know if any oth

[2019-09-06 11:26] bukarev commented on #1531
I have rolled back to the previous version of azure-functions-core-tools; I had to delete my function app in the cloud and redeploy it; it works fine now.
If you still need to have a guinea pig function app to find what went wrong I am happy to create a cloned copy of that function app.

[2019-09-06 14:49] derekrprice commented on #1012
I've encountered the same problem and I cannot set environment variables with colons (":") in the name from a Kubernetes deployment file.  Is there another work-around?

[2019-09-06 15:38] ahmelsayed commented on #1012
it has to be [`AzureFunctionsWebHost__hostid`](https://github.com/Azure/azure-functions-host/blob/dev/src/WebJobs.Script/Config/ConfigurationSectionNames.cs#L13)

[2019-09-06 16:02] derekrprice commented on #1012
That worked, thanks!

[2019-09-06 16:25] karllhughes commented on #1100
`--no-bundler` is deprecated.

Should we use `--no-build` for Python projects now?

[2019-09-06 17:17] soninaren commented on #1134
Going to close this one as it is not needed anymore.

[2019-09-06 17:17] #1134 closed

[2019-09-06 18:56] ankitkumarr opened #1542 "--nozip does not work for Linux Dedicated"
This is because Linux Dedicated always defaulted to `--nozip`. Now we changed that default to Run-From-Package, but I forgot to still honor `--nozip`.

[2019-09-06 22:06] ankitkumarr commented on #1531
@bukarev, no worries. We are aware of a bug on the platform that is affecting some of the Function Apps on Linux App Service plan when deploying using "Run From Package". This is the deployment method the new `azure-functions-core-tools` uses by default.

It is very likely that you were hitting that issue. The fix is being rolled out on the platform and should be available in all regions early nex

[2019-09-07 00:56] ankitkumarr commented on #1530
@ferantivero would you mind sharing the output of this command --
`az cloud list --query "[?isActive].endpoints.resourceManager | [0]" --output json`

[2019-09-07 00:57] ankitkumarr commented on #1531
I will post here once the deployment is complete and close this issue.

[2019-09-07 01:01] ankitkumarr commented on #1462
@kulkarnisonia16, can we add this to our docs -- that we currently need users to have Python 3.6 __64__ __bit__

[2019-09-07 01:01] ankitkumarr commented on #1428
@pragnagopa, as we discussed briefly earlier this week, we shouldn't need this work-item anymore?

[2019-09-07 01:05] pragnagopa commented on #1428
@Francisco-Gamino / @eamonoreilly -  We do need tooling udpates to select version and bitness selection in az powershell create flow.  Can you please move this to the right repo?

[2019-09-07 01:10] #1542 closed

[2019-09-08 18:40] vbrodsky commented on #1456
I have the same issue too...
the contents of _...\azure-functions-core-tools\bin\workers\python\deps\grpc\_cython_

_credentials
_cygrpc
 __pycache__
cygrpc.cp36-win_amd64.pyd (why amd? I am running Intel)
__init__.py

[2019-09-08 18:44] ankitkumarr commented on #1456
Would you mind checking if you are on a 32 bit Python 3.6?

Currently we only support 64 bit Python 3.6

[2019-09-08 18:46] vbrodsky commented on #1456
I am oops... let me re-install

[2019-09-08 20:22] vbrodsky commented on #1456
Thx for the quick reply, that was it.

First step taken!

[2019-09-08 21:04] ankitkumarr commented on #1456
No worries!

@kulkarnisonia16 / @jeffhollan, we should document this :)

[2019-09-09 16:55] Francisco-Gamino commented on #1428
Hi @pragnagopa,

We do not need this for PowerShell. The scenario for Managed Dependencies is to always fetch the latest ```Az``` major version at function app and generate ```requirements.psd1``` with this major version.

This is the PR which enables this scenario: https://github.com/Azure/azure-functions-host/pull/4782

cc: @eamonoreilly

[2019-09-09 20:30] maiqbal11 opened #1546 "Update func init to create test-compatible folder structure"
Currently, `func init` does not create a folder structure that clearly delineates test code from source code. Ideally, we would have the `__app__` (function app folder) under a root folder which also contains a separate folder for tests. See https://github.com/Azure/azure-functions-python-worker/issues/469 for more background on why this is needed. We imagine that the final structure would like wh

[2019-09-09 20:32] maiqbal11 opened #1547 "Modify func commands to handle nested app folder"
Follows from https://github.com/Azure/azure-functions-core-tools/issues/1546 which would create a new folder structure for clearly separated unit tests. We will need additional work to detect and run from the nested function app folder rather than assuming that we are currently in the root where `host.json` is present.

[2019-09-09 20:55] ahmedelnably commented on #1546
This is a P1 for Python but not a P1 for Core tools, hence removing the label

[2019-09-09 21:31] kulkarnisonia16 commented on #1546
This is a P1 for Python post GA - and one of the **two** big changes we are tracking for November.

[2019-09-09 21:31] kulkarnisonia16 commented on #1547
This is a P1 for Python post GA - and one of the two big changes we are tracking for November.

[2019-09-09 22:14] mathewc commented on #1183
Do you have a simple repro you can share with us that demonstrates the problem? E.g. a small repo you can point us to with a set of functions that show the issue.

[2019-09-10 18:11] ahmedelnably commented on #1547
Needs discussion, as this may involve a bigger restructuring of language handling

[2019-09-10 18:14] ahmedelnably commented on #1540
Can you please provide the functionapp name to investigate further?
Also can you set CLI_DEBUG=1 and rerun the command to get more debug information

[2019-09-10 18:17] ahmedelnably commented on #1538
Can you please try an use the remote build feature
func azure functionapp publish <appname> --build remote

[2019-09-10 18:19] zQmerit commented on #1538
I ended up fixing this issue. The problem was that I was building locally on a windows machine, but trying to publish to a linux machine. So all the python packages that were being installed were for windows and not linux. I fixed by using Azure devops and building a build pipeline that build the azure function app on a linux vm.

[2019-09-10 18:21] #1538 closed

[2019-09-11 02:47] edag94 commented on #1183
I was seeing these same symptoms in my project, without using the whitelisting feature. The issue was due to forgetting the [FunctionName(nameof(MyActivity))] attribute on top of the Activity function. This may not solve the issue you are facing, but it would be worth validating that you aren't missing any FunctionName attributes on your functions

[2019-09-11 09:08] MishalValiyakath commented on #1531
@ankitkumarr I was using 2.7.1585 from the starting to deploy a python function in Linux based function app. It was working fine the last time I checked (couple of days ago). I am getting the same error mentioned by OP here. This will be resolved by a new version of npm package or by platform side?

[2019-09-11 09:52] MishalValiyakath opened #1548 "Python function app with multiple file as and one entry file."
I was building an Azure python app with main entry file (__init__.py) using the default template generated by azure-functions-core-tools, latest version 2.7.1585. It works fine when we test with 'func host start' and test the url. However if I am introducing a new class in another file in an adjacent folder and import it in the main entry file which has the main method, looks like it's not detecti

[2019-09-13 09:37] MishalValiyakath commented on #1548
Thanks ! That Works !

[2019-09-13 09:37] #1548 closed

[2019-09-13 16:21] mehulchandroliya opened #1549 "Release Azure Function CLI as nuget.org package instead of download from functionscdn.azureedge.net"
**Problem Statement:**
Release Azure Function CLI  not able to download from functionscdn.azureedge.net because many enterprises have a proxy setup which will not allow downloading package but can download update feed from the channel.

**Solution:**
Release Azure Function CLI as nuget.org package instead of download from functionscdn.azureedge.net because many enterprises have proxy setup which i

[2019-09-14 02:00] #1530 closed

[2019-09-16 18:14] ankitkumarr opened #1551 "Investigate why `sigcheck.exe` test did not detect missing signature in Azure pipelines"
Recently we added a new dll -- `DotNetZip.dll`. This was not signed by us, and we have a test to ensure that all dlls (that are not blacklisted) have a proper signature. However, the master branch build that runs this test succeeded (what?).

When I ran the build locally that the master branch build runs, I successfully got a failed build complaining about `DotNetZip.dll` not being signed. Strange

[2019-09-17 01:53] kulkarnisonia16 commented on #1534
@ankitkumarr - allow publishing local 3.6 Python to 3.7 Azure app and local 3.7 Python to 3.6 Azure app as part of this.

[2019-09-17 16:44] ferantivero commented on #1530
@ankitkumarr this is the output of executing `az cloud list --query "[?isActive].endpoints.resourceManager | [0]" --output json`

[code]

[2019-09-17 16:57] pragnagopa commented on #1428
cc @divyagandhii
@Francisco-Gamino  - can you please link tracking item for this issue on az powershell function app flow?
 @ankitkumarr  - is there a tracking item on az cli repo for this issue?

[2019-09-17 16:58] pragnagopa commented on #1428
Linux create flow: https://github.com/Azure/azure-cli/issues/10541
@ankitkumarr  - please create workitme for windows if needed.

[2019-09-17 20:00] #1540 closed

[2019-09-17 20:09] Francisco-Gamino commented on #1428
@pragnagopa: I've created a work item (```New-AzFunctionApp``` needs to have a parameter to specify the runtime version) to track this.

https://github.com/Azure/azure-powershell/issues/10051

[2019-09-17 20:13] ahmedelnably commented on #1428
Here is the CLI one
https://github.com/Azure/azure-cli/issues/10549

[2019-09-17 20:15] pragnagopa commented on #1428
closing this issue as we now have work items on az cli and az powershell

[2019-09-17 20:15] #1428 closed

[2019-09-18 10:54] ajinkya599 opened #1554 "Support to pass container repository and tag when invoking deploy with --registry option."
When invoking `deploy` with `--registry` option, Docker `build` is done and the image is `pushed` to the `registry`. There is no option to specify `repository` and `tag` for the image.

Name passed as `--name` option is used for repository, and no `tag` is supplied, so it gets tagged and pushed as `{registry}/{name}:latest`. This is difficult to use for production scenarios.

There should be a way

[2019-09-18 20:10] #1535 closed

[2019-09-18 20:47] fabiocav commented on #1534
@kulkarnisonia16 this is still blocked, so we're not assigning to sprint 59

[2019-09-18 23:21] kulkarnisonia16 opened #1556 "Make remote build default for Python"

[2019-09-19 03:54] ahmedelnably commented on #1556
For all languages?

[2019-09-19 05:55] aaronpowell opened #1557 "Exceptions within dependency components lack details"
I'm trying to work through a problem I have with a TypeScript Functions app which results in an exception being thrown somewhere within the Functions runtime.

In the console all I get is the following error message:

[code]

_Note: This bug isn't about the **cause** of that exception, it's about the information in the logs about that exception._

Since the exception details are truncated it's rea

[2019-09-19 06:06] aaronpowell commented on #1557
I've created PR #1558 which allows me to now get log messages like so:

[code]

Now I can try and solve my actual problem!

[2019-09-19 17:30] jeffhollan opened #1559 "Make changes for KEDA 1.0"
- Remove osiris for HTTP functions (not sure if we need this anymore)
- Generate new specs (auth parameter, api version, etc)
- Sure there are some more

[2019-09-19 17:30] jeffhollan commented on #1559
Creating now to track, but all breaking changes aren't in KEDA yet so can't do all of these now. Could start on Osiris removal

[2019-09-19 17:36] ankitkumarr commented on #1556
I wonder if part of this work item, we should also add an output when people use `--build-native-deps` to tell them now they can use `--build remote` if they want (as we have been advising people to do `--build-native-deps`.

Or that can come later once we have success making this as the default. Just thinking out loud.

[2019-09-19 20:44] Programmerman1 opened #1560 "If downloading the extension bundle takes too long, the runtime doesn't start properly"
If you're on a slow Internet connection such that the extension bundle can't download within about 2 minutes, then the runtime fails.

Manually downloading the extension bundle (nearly 5 minutes on my connection) and expanding it where the ExtensionBundleManager looks for it works around the issue.

Console logs:
[code]

[2019-09-19 22:01] ahmedelnably commented on #1248
Right now, Core tools get shipped with Cloud Shell

[2019-09-19 22:01] #1248 closed

[2019-09-19 22:02] ahmedelnably commented on #1251
Right now, release notes is included here: https://github.com/Azure/azure-functions-core-tools/releases

[2019-09-19 22:04] ahmedelnably commented on #1232
Log streaming command now support opening the AI metrics and logs stream webpage.
Will keep this open until we have an api to have the output in the command window

[2019-09-20 18:25] DrakeLambert commented on #1521
@ahmelsayed I determined that this issue was caused by anti-virus software. Thank you for your help!

[2019-09-20 18:25] #1521 closed

[2019-09-20 21:08] soninaren commented on #1506
addressed in #1565

[2019-09-20 21:08] #1506 closed

[2019-09-20 21:23] cgillum commented on #693
For those who prefer to stay away from npm/yarn, here is a workaround that worked for me (copied from [this StackOverflow answer](https://stackoverflow.com/a/55120037/2069)):

1. Run `choco uninstall azure-functions-core-tools`
2. Download nupkg file from [here](https://chocolatey.org/packages/azure-functions-core-tools) (see the _Download_ link)
3. Open the nupkg in [Package Explorer](https://git

[2019-09-23 15:49] tbarlow12 commented on #1135
Any updates here?

[2019-09-23 16:10] tbarlow12 commented on #1135
We'd like to use `func pack` as the packaging piece of the lifecycle for the [Azure Functions plugin](https://github.com/serverless/serverless-azure-functions) to the [Serverless Framework](https://serverless.com/).

[2019-09-24 18:13] fabiocav commented on #1557
Thank you for the contribution! We'll be reviewing the PR as soon as possible.

[2019-09-24 18:14] fabiocav commented on #1554
@ahmelsayed can you comment?

[2019-09-24 18:17] fabiocav commented on #1549
We have plans to release the CLI as a .NET Core Global Tool, which would address your requirements. You can use #760 to track.

[2019-09-24 18:17] #1549 closed

[2019-09-24 18:18] fabiocav commented on #1531
The deployment is now complete. Can you please re-validate?

[2019-09-24 18:21] fabiocav commented on #1298
@timlod Python has gone through a lot of changes since this was last updated, and is now GA. Could you please re-validate and let us know if you're still experiencing issues?

[2019-09-24 18:31] fabiocav commented on #1414
Apologies for the delayed response. For clarity, what Node process are you referring to above? Our Node boostrapper doesn't make any modifications to the func.exe.config file. Is this something you have setup?

Is this something you can provide repro steps for?

Thank you for all the additional information!

[2019-09-24 19:15] ahmelsayed commented on #1414
in v1, the cli actually updates `func.exe.config` with the content of `local.settings.json` on startup ([see this](https://github.com/Azure/azure-functions-core-tools/blob/v1.x/src/Azure.Functions.Cli/Actions/HostActions/StartHostAction.cs#L422-L452)) This is because when running on Azure in v1 you expect to use `ConfigurationManager.AppSettings` and `ConfigurationManager.ConnectionStrings` but up

[2019-09-24 20:02] fabiocav commented on #1414
thanks for the update @ahmelsayed ! I actually completely forgot that was the case, but now remember you bringing this up.

@borysl I'm not sure this is a fix we would target for V1. Would a move to V2 be an option for you? Another option would be to execute the CLI binaries from different locations, but that does require some work with your process. If the current workaround is working for you, I

[2019-09-24 20:02] #1414 closed

[2019-09-25 00:06] Swiftless commented on #1409
I ran into this exact same issue running/debugging an Azure Function linked to an Azure Service Bus.

Switching to Microsoft Visual Studio 2019 Preview (v16.3.0 Preview 3.0 installed) appears to fix it. I note that I do need to also upgrade me preview version.

It is not working in Visual Studio 2019 (v16.2.5).

[2019-09-25 14:00] NickMSW opened #1570 "Cannot access a disposed object. Object name: 'IServiceProvider' On Windows after .netcore 3 upgrade."
I just recently upgraded my machine to .net core 3. After the upgrade, my functions are no longer able to run:

[code]

[2019-09-25 14:38] NickMSW commented on #1570
Looks like it's a similar issue to #1062

[2019-09-25 19:30] ahmelsayed commented on #1570
I think for dotnet 3 you'll need to wait to use func v3. Dotnet runs in process, and I'm not sure loading a v3 function in a v2 process would work

[2019-09-25 21:07] granmoe commented on #984
This would be amazing. Without it, multi-function apps quickly become disorganized.

[2019-09-26 13:09] NickMSW commented on #1570
The weird thing is that I never updated the version of dotnet that I was targeting within my function. My .csproj file still is showing my target version and framework:     <TargetFramework>netcoreapp2.2</TargetFramework>
<AzureFunctionsVersion>v2</AzureFunctionsVersion>

So I'm not sure why it's defaulting to use dotnet 3

[2019-09-26 15:07] timlod commented on #1298
@fabiocav Hi Fabio, I've gone back to uni and don't work with Functions anymore. But it should be easy to reproduce if you have a working environment installed - just make the function and start it.
I think ultimately the issue was whether scriptFile had to be explicitly stated or not, and what the python file's name should be if it is not referenced in function.json.

[2019-09-26 18:12] ahmedelnably commented on #1570
Are you running this from VS?
Also can you share the output of `dotnet --info`

[2019-09-26 18:18] NickMSW commented on #1570
It started when running from VS but then I also tried directly from the command line. Both outputting the same error.
dotnet --info:
.NET Core SDK (reflecting any global.json):
 Version:   3.0.100
 Commit:    04339c3a26

Runtime Environment:
 OS Name:     Windows
 OS Version:  10.0.18362
 OS Platform: Windows
 RID:         win10-x64
 Base Path:   C:\Program Files\dotnet\sdk\3.0.100\

Host (useful

[2019-09-26 18:26] ahmedelnably commented on #1570
cc/ @fabiocav & @ankitkumarr to comment

[2019-09-27 08:48] bhaidar opened #1571 "Cannot download Azure Functions Core Tools on Mac OSX"
hi,
I am facing a download error problem when installing Azure Functions Core Tools. Here's the details:

[code]

Thanks

[2019-09-27 11:20] ssthind commented on #1531
Hi all, i am facing the same issue "Could not convert string to boolean: Deployment Underway. Path 'msg', line 1, position 43."

i was also trying remote deployment of python app on App service plan. But was pushing the code from windows10 platform which only install version 2.7.1575 of azure-functions-core-tools. (although it showed me some popup that v 2.7.16xx is available but not able to insta

[2019-09-27 17:14] balag0 commented on #1571
Are you able to download the zip file directly from https://functionscdn.azureedge.net/public/2.7.1633/Azure.Functions.Cli.osx-x64.2.7.1633.zip just to rule out transient network issues.

[2019-09-27 18:08] ggailey777 commented on #1420
I've added this to the custom container tutorial: https://github.com/MicrosoftDocs/azure-docs-pr/pull/89761

[2019-09-27 21:52] Areson commented on #933
I second this. References do not work during local development.

[2019-09-28 05:28] TylerHaigh opened #1572 "Publish to APIM from func CLI"
It would be nice be able to link the deployed Function App to an APIM API using the func cli. This will help our team with automated build and deploy cycles to ensure our APIM API is kept in sync with the Function App.

[2019-09-28 05:43] bhaidar commented on #1571
@balag0 Yes I can. Actually only using brew on Mac OSx causes the issue above. I installed the tools using NPM and works fine.

[2019-09-30 13:28] pereiren commented on #1570
Hi Ahmed,

Is there any ETA for the v3 functions? I would love to use .NET Core 3.0 in Azure Functions

Thanks

[2019-09-30 18:25] ankitkumarr opened #1573 "Support local build for Python 3.7"
We need to be able to build locally (using an appropriate Docker container) for Python 3.7 function apps.

This would mean core-tools using a different docker container for Python 3.7 apps when `--build-native-deps` and packapp doing the right thing when building locally.

cc: @kulkarnisonia16

[2019-09-30 19:36] ferantivero commented on #1530
ping @ankitkumarr

[2019-10-01 17:47] ankitkumarr commented on #1305
Apologies, I missed the ping here. This issue should be resolved.

Unlikely, but if you do see any such errors, please open a new issue as we may need to look at those case by case.

[2019-10-01 17:47] #1305 closed

[2019-10-01 20:22] ankitkumarr opened #1574 "Telemetry - do not collect if running as part of VS"
For VS extension, we package a specific version of core-tools `win.min`. In our build pipeline, we could drop a sentinel in that package such that we don't collect telemetry if that sentinel exists. Unless, VS extension specifically asks us to opt-in and collect usage.

[2019-10-01 20:50] Francisco-Gamino commented on #1275
Hi @JustinGrote, this issue has been fixed for a while. Please let us know if you are still seeing it. Thanks.

[2019-10-02 02:05] ankitkumarr commented on #1531
@ssthind, you would need to update update your azure-functions-core-tools. How did you install azure-functions-core-tools (npm or chocolaty for windows)

[2019-10-02 02:12] JustinGrote commented on #1275
Looks good last I checked, thanks!

On Tue, Oct 1, 2019, 1:50 PM Francisco Gamino <notifications@github.com>
wrote:

[2019-10-02 17:11] Francisco-Gamino commented on #1275
Closing issue as this no longer repros.

[2019-10-02 20:34] fabiocav commented on #1534
Adding this to sprint 60 as tentative. We're still blocked and this is currently at risk

[2019-10-03 00:51] soninaren opened #1578 "Add bundles configuration to host.json by default for non-dotnet function apps"

[2019-10-03 18:11] ahmedelnably commented on #1572
@TylerHaigh thanks for the suggestion, we do not have plans to support other Azure resources deployments from the core tools in the near future. moving this to the backlog to register interest for our next planning cycles

[2019-10-03 18:14] #1571 closed

[2019-10-03 18:14] ahmedelnably commented on #1571
Closing this as there is a workaround, please reopen if issue still exist in future versions

[2019-10-03 18:15] ahmedelnably commented on #1556
PR Merged, closing issue

[2019-10-03 18:15] #1556 closed

[2019-10-04 18:11] kurx78 opened #1580 "Unable to debug any functions, task fails always - message not useful for addressing the issue"
I'm unable to debug any function, it seems that threre is an issue Grpc.Core.RpcException and it seems to be specific when you create the first function in the project.
If you try to debug the project with func start without creating any functions it works well, but when you create the first it starts failing

Tried:
Switching to a different version of Azure Functions Core Tools
Switching to a dif

[2019-10-04 20:09] kurx78 commented on #1580
Update:
Maybe this is a network or firewall related issue?
I've tried this same example in my personal PC (where things like network and firewall are not company managed) and it worked without any issue

![image](https://user-images.githubusercontent.com/6843314/66236719-7bf81800-e6b0-11e9-894f-0fee5d65a34a.png)

Anyway, the message is still very criptic and gives you no idea of what is going wron

[2019-10-04 21:48] kurx78 commented on #1580
Update: Probably not firewall related

1- Disabled my firewall
2- Made sure that the ports were open and not being used by another application
3- Same result

[2019-10-04 22:48] kurx78 commented on #1580
Update: Not port related

Tried on different free ports, but still the same result

Also, it seems to be node and powershell related because dotnet projects are working without issues.

![image](https://user-images.githubusercontent.com/6843314/66243424-d9489500-e6c1-11e9-9fe6-e23dea8b6f74.png)

[2019-10-06 09:08] memark commented on #872
Any further update on when Python 3.7 will be supported for Azure Functions?

[2019-10-06 15:07] ariciputi commented on #872
[Just saying...](https://www.python.org/dev/peps/pep-0569/#release-schedule)

[2019-10-07 12:57] Lawiss opened #1581 "Failed to attach when remotely debugging python function"
Hello,
I use VS code with the "Remote SSH" extension to connect my local VS code to my remote virtual machine where I have installed python and all my conda envs. I'm trying to debug my Azure function but it seems that there is a problem when vs code attempt to attach to Python Functions : it fails after some times whith the following error message: "Failed to attach (connect ECONNREFUSED 127.0.0.

[2019-10-07 15:25] mlazowik commented on #1358
@mebibou I guess you could move whatever binaries you need to `/home/site/wwwroot/{bin, lib}` and add those paths to `PATH` and/or `LD_LIBRARY_PATH`

[2019-10-07 23:48] ahmedelnably commented on #872
We are still working on the support for Python 3.7, it should be released by/before the end of this calendar year

[2019-10-08 02:19] bukarev commented on #1531
Build seems to be going well now, thanks!

[2019-10-08 02:19] #1531 closed

[2019-10-08 06:56] memark commented on #872
@ahmedelnably, that's great! And you mean "3.7 and newer", right?

As many have pointed out, 3.8 is just around the corner and 3.7 will soon be what 3.6 is today.

https://www.python.org/dev/peps/pep-0537/

Last binary releases
3.7.8 candidate 1: 2020-06-15 (expected)
3.7.8 final: 2020-06-27 (expected)

[2019-10-08 17:34] ahmedelnably commented on #872
Support is for 3.7 - will let @kulkarnisonia16 comment on 3.8 plans

[2019-10-08 18:10] ahmedelnably commented on #1581
cc/ @maiqbal11 can you please look at this?

[2019-10-08 18:12] ahmedelnably commented on #1580
cc/ @pragnagopa any insights about this issue?

[2019-10-08 18:13] pragnagopa commented on #1580
@Francisco-Gamino  / @AnatoliB - can you please take a look?

[2019-10-08 18:52] dirkesquire commented on #872
Any comment on the suggestions made above to use pyenv to make docker and azure-functions a bit more flexible in the future with regards to python version? @kulkarnisonia16
I use this myself everyday and it is such a handy and easy tool which I think will ultimately save the maintenance team a lot of time 😃

[2019-10-08 19:52] ahmelsayed commented on #872
we used to use pyenv, but I couldn't find out how to reduce the image size. pyenv builds python from source, which requires these dependencies: https://github.com/pyenv/pyenv/wiki/Common-build-problems

This Dockerfile

[code]

results in a `969 MB` image. `python:3.6-stretch` is also `936 MB`, but `python:3.6-slim-stretch` is `151 MB`, which is the base image we use. Additional packages are track

[2019-10-08 21:17] AnatoliB commented on #1580
@kurx78 Could you please set the following environment variables, try to run again, and collect the logs from the standard output:
- GRPC_TRACE = all
- GRPC_VERBOSITY = DEBUG

I have got gRPC logs from (apparently) another user with similar symptoms, most likely referring to the same issue. This is what's happening a few times just before the failure:

[10/7/2019 7:05:24 AM] I1007 09:05:24.303265

[2019-10-08 21:48] AnatoliB commented on #1580
I'm getting exactly the same symptoms when running on a machine with the HTTP_PROXY environment variable set to a fake URL. Setting NO_PROXY to `localhost,127.0.0.1` mitigates the issue for me. @kurx78 could you please try and let me know if this helps?

[2019-10-10 05:44] AnatoliB commented on #1580
@amamounelsayed FYI

[2019-10-10 09:02] tomkerkhove commented on #933
We are blocked by this as well when we are doing deployments.
Any update on this @ahmelsayed?

[2019-10-10 17:40] tbarlow12 opened #1589 "Publish pre-existing package"
We would like the ability to publish a pre-existing package. In order to enable "rollback", we archive the package that was deployed with a timestamp of its deployment. We'd use

[code]

to package the applications, and then run something like

[code]

[2019-10-10 17:43] ahmedelnably commented on #1589
You can achieve that using the Azure CLI commands
https://docs.microsoft.com/cli/azure/functionapp/deployment/source?view=azure-cli-latest#az-functionapp-deployment-source-config-zip

[2019-10-10 17:50] tbarlow12 opened #1590 "Support for handlers outside the function directory"
Currently, I can publish a function app using `zipDeploy` that has the following structure:

[code]

if the property `scriptFile` in `function.json` looks something like this:

[code]

However, when publishing the function app using `azure-functions-core-tools`, no functions are published. If I change it so that the structure is like:

[code]
and
[code]
it works.

The reason for this feature reque

[2019-10-10 17:54] tbarlow12 commented on #1589
Part of the reason I would like to use core tools is the warning provided by the documentation [here](https://docs.microsoft.com/en-us/azure/azure-functions/run-functions-from-deployment-package)

![image](https://user-images.githubusercontent.com/10962815/66593664-4e95e900-eb4c-11e9-8fd5-11e3bbe6b005.png)

[2019-10-10 18:25] tbarlow12 commented on #1589
Also, when I try to use the command, I get this error: https://github.com/Azure/azure-cli/issues/10773

[2019-10-10 20:47] tbarlow12 commented on #1590
I just realized that the common denominator here was windows vs. Linux 🤦‍♂

Looks like Windows can reference a handler outside the `{functionName}` directory, but Linux can only reference handler within `{functionName}` directory (peer of `function.json`). Is this documented? Other documentation for importing shared code in this case?

[2019-10-10 21:23] #1590 closed

[2019-10-11 15:25] devslb opened #1591 "Azure functions failing to start func host start on local"
Hi,
I am trying to run simple Azure function in python on local windows 10 machine, with below

`-- azure-functions-core-tools@2.7.1704
but it fails with below error:
PS > func host start
internal/child_process.js:366
    throw errnoException(err, 'spawn');
    ^

Error: spawn UNKNOWN
    at ChildProcess.spawn (internal/child_process.js:366:11)
    at spawn (child_process.js:551:9)

Is there somet

[2019-10-11 17:26] Sigi-os commented on #1570
was there a solution?  I have this issue after an upgrade also, but I did purposely move to from 2.2. to 3.0

[2019-10-11 17:36] fabiocav commented on #1570
@pereiren the announcement is here: https://github.com/Azure/app-service-announcements/issues/200

This will start rolling out very soon. Please watch that announcement for updates.

[2019-10-11 17:36] #1570 closed

[2019-10-12 00:11] gpcastro opened #1592 "Improve timer trigger error message if storage emulator is not running"
**Steps**
1. Create a new functions project: `func init test --docker` and select `dotnet` as the platform; I used Docker to make sure it wasn't something specific to my environment
2. Add a function, `func new --name timerFuncTest` with the `TimerTrigger` template
3. Run the app using `func start --build`

**Result**
I never see the function running, and this message is in the output:
[code]

I a

[2019-10-12 21:16] ahmelsayed opened #1593 "Move nupkg and deb packaging scripts to this repo"
Today the script that packges the *.deb packages for debian linux and nupkgs for chocolatey is in https://github.com/ahmelsayed/publish-script which is a fork or Shun's library who originally worked on them. I think we should clean them up and move them to this repo to eventually run then as part of the CI.

[2019-10-12 21:26] ahmelsayed commented on #1592
It's not discoverable from the cli interface, but you'll have to start an azure storage emulator (https://docs.microsoft.com/en-us/azure/storage/common/storage-use-emulator) on the machine, or replace the storage connection in local.settings.json with an actual azure storage connection string.

We can improve the error message if the connection string is for the storage emulator.

Some background

[2019-10-12 21:27] ahmelsayed commented on #1591
Which operating system are you using?

[2019-10-14 00:21] mohsinonxrm opened #1594 "No templates matched the input template name: BlobTrigger."
I've built the azure-functions-core-tools on Raspberry Pi 4 but when I try to create a new Azure Function using:
`
func new
`
it gives me the following error:
`
No templates matched the input template name: BlobTrigger.
Error creating function
`
which I think is referring to:
https://github.com/Azure/azure-functions-templates

and that isn't going to build on Raspberry Pi 4 (.NET Framework...)

so

[2019-10-14 01:40] mohsinonxrm commented on #1062
Getting same on Raspberry Pi 4B using azure function core tools built on Raspberry Pi 4B itself.
`
pi@raspberrypi:~/queueazfunc/queuetrigger/queuetrigger $ func start --no-build

                  %%%%%%
                 %%%%%%
            @   %%%%%%    @
          @@   %%%%%%      @@
       @@@    %%%%%%%%%%%    @@@
     @@      %%%%%%%%%%        @@
       @@         %%%%       @@
         @@

[2019-10-14 02:37] mohsinonxrm commented on #1594
well, I've resolved this by building the templates and moving them to the raspberry pi 4B.
Anyway, onto the next issue
`Azure Functions Core Tools (2.7.1 Commit hash: N/A)
Function Runtime Version: 2.0.12763.0
Can't determine project language from files. Please use one of [--csharp, --javascript, --typescript, --java, --python, --powershell]
Cannot access a disposed object.
Object name: 'IServiceP

[2019-10-14 17:05] ankitkumarr commented on #1574
This will likely be moved to the next Sprint as other items with higher priority are rolling in.

[2019-10-14 17:12] gpcastro commented on #1592
When I'm running locally, isn't the singleton behavior guaranteed by the fact that I'm only running one instance? If not, a local file should be enough since it's all local.

Another option is that if the storage account connection string is not present, core tools doesn't try to connect to it and shows a warning saying that singleton behavior will not be guaranteed.

There's a few options instead

[2019-10-14 18:54] ahmelsayed commented on #1062
Please open a separate issue.

[2019-10-14 20:43] mhumpher opened #1596 "413 Request Entity Too Large"
I have a Python function app that I'm trying to send a POST call to with about 2MB from a text file. Testing locally works fine, but when I publish to Azure I get this error:
<html>
<head><title>413 Request Entity Too Large</title></head>
<body bgcolor="white">
<center><h1>413 Request Entity Too Large</h1></center>
<hr><center>nginx</center>
</body>
</html>

I start receiving this error when the P

[2019-10-15 01:44] katepuech commented on #1274
On Windows, the workaround for me was to move my Azure Function project folder closer to the root to shorten paths. Not pretty, but worked.

[2019-10-15 18:09] ahmedelnably commented on #1594
@mohsinonxrm  Can you please set env variable CLI_DEBUG to 1 and attach the logs. this will give us more information to debug that.

To answer your earlier question, We do not have an Azure Functions Core Tools CLI build available for Raspberry Pi 4 ARM32

[2019-10-15 18:59] ahmelsayed commented on #1592
This would be a runtime feature ask. The runtime doesn't behave any differently in this regard whether you're running locally or in Azure. You can open an issue for that here: https://github.com/Azure/azure-functions-host

The only thing the core-tools can do is improve the error message. Will use this issue to track that.

[2019-10-15 19:33] #1420 closed

[2019-10-15 19:39] ahmelsayed commented on #1594
We don't have an ARM build of the runtime or the cli

[2019-10-15 19:39] #1594 closed

[2019-10-16 09:57] p-r-a-s-h-a-n-t opened #1603 "2.7.1724 on brew is broken"
Hello @alrod,

Product release: 2.7.1724
OS: mac
Install/upgrade using:brew
command: brew upgrade azure-functions-core-tools
Issue: The latest version 2.7.1724 is downloading incorrect version 2.7.1704 causing signature mismatch followed by failed upgrade.

Thank you.

[2019-10-16 10:27] p-r-a-s-h-a-n-t commented on #1603
Created pull request in Azure/homebrew-functions to resolve this.

[2019-10-16 10:27] #1603 closed

[2019-10-16 17:55] pallymore opened #1604 "Can't install / upgrade via homebrew due to SHA256 mismatch"
Hi - I'm trying to upgrade my existing installation with homebrew but I kept getting this SHA256 mismatch error. I've tried `brew cleanup -s` and `rm -rf ${brew --cache}` but it still doesn't work.

I've also tried to remove the existing installation and start fresh.

My console output:

[code]

MacOS Catalina 10.15 (19A583)

Thanks!

[2019-10-16 17:59] pallymore commented on #1604
Also I'm using the latest version of homebrew

[code]

[2019-10-16 18:01] ahmelsayed commented on #1604
/cc @alrod

[2019-10-16 18:32] johnpapa commented on #609
I am seeing this same issue now.

Should I be? What' is the solution?

[2019-10-16 18:58] karluiz commented on #1604
+ 1
 Homebrew 2.1.14

[2019-10-16 19:23] jstevenson81 commented on #1604
Any fix to this yet?  I'm stuck as well.  Same problem.  Same SHA's as above.  OSX Catalina latest version of Homebrew.

[2019-10-16 19:31] jstevenson81 commented on #1604
Not that this is the best or even a solution, but I added the actual SHA to usr/local/Homebrew/Library/Taps/azure/homebrew-functions/Formula/azure-functions-core-tools.rb
and it updated properly.  So, in the event you need to DEV ON!! Just do that for the moment until they fix it.

[2019-10-16 19:31] jstevenson81 commented on #1604
Actual SHA in tap:  47d20c45c95b3986c54003a448bc866995c9cb540400d201612012fd7cba3f95

[2019-10-16 19:42] alrod commented on #1604
should be fixed now

[2019-10-16 20:11] #1604 closed

[2019-10-16 20:34] gpcastro commented on #1592
Thanks. I've open an issue on azure-functions-host as well.

[2019-10-16 21:28] mohsinonxrm commented on #1594
@ahmedelnably , sure I'll do that and provide the debug information in a new issue.

[2019-10-17 01:54] mohsinonxrm opened #1605 "Error: Cannot access a disposed object."
I'm getting the following error when trying to run a simple QueueTrigger or an HttpTrigger Azure Function on Raspberry Pi 4B:
I have dotnet 2.2.402
I have func 2.7.1

`
                  %%%%%%
                 %%%%%%
            @   %%%%%%    @
          @@   %%%%%%      @@
       @@@    %%%%%%%%%%%    @@@
     @@      %%%%%%%%%%        @@
       @@         %%%%       @@
         @@      %%%

[2019-10-17 17:08] johnpapa commented on #1604
It seems fixed now ... what was the fix?

[2019-10-17 17:08] johnpapa commented on #609
Thanks. It seems fixed now ... what was the fix?

[2019-10-17 17:19] ahmelsayed commented on #1605
We don't have arm builds of the core tools.

[2019-10-17 17:19] #1605 closed

[2019-10-18 14:45] jnhaffey commented on #1473
Also found out that arrays are not supported

[code]

[2019-10-18 15:41] MrTortoise opened #1607 "BlobTrigger Explodes when guid in filename (cli and storage emulator)"
I asked this on stack overflow

https://stackoverflow.com/questions/58453193/azure-storage-emulator-and-function-trigger-on-filename-with-guid-blows-why

I have a BlobTrigger on a function and a console app that uploads the file.

When I set the filename to be a guid  `Guid.New().ToString()` the blob trigger explodes with these logs

Function Runtime Version: 2.0.12763.0
[18/10/2019 14:37:10] Buil

[2019-10-18 16:09] irwinwilliams opened #1608 "az functionapp list fails"
Whenever I try the command,
az functionapp list

I get:
request failed: Error occurred in request., RetryError: HTTPSConnectionPool(host='management.azure.com', port=443): Max retries exceeded with url: /subscriptions/**[GUID]**/providers/Microsoft.Web/sites?api-version=2018-11-01 (Caused by ResponseError('too many 502 error responses',))

[2019-10-19 02:20] devslb commented on #1591
This error is coming for 32-bit windows version, I tried on 64-bit Windows and it works.
does it mean the function core tools is not supported on 32-bit?

[2019-10-20 03:22] TylerHaigh commented on #1135
This, in conjunction with https://github.com/Azure/azure-functions-core-tools/issues/1589 would be of great value to our team

[2019-10-21 22:50] kulkarnisonia16 opened #1612 "Preserve executable permissions after publish"

[2019-10-22 05:59] Hazhzeng commented on #1573
Thanks for reminding @ankitkumarr

[2019-10-23 07:32] leftclickben commented on #984
Not supporting this is frankly ridiculous.

[2019-10-23 10:00] Erikvl87 opened #1616 "`func azure functionapp publish` needs a few seconds before finding my app"
I am automating the creation of an Azure Function App. That means I am executing the `az functionapp create <args>` command and when that is finished I'm executing `func azure functionapp publish <FunctionAppName>`.

On the first couple of publish attempts I will receive the following error:
`Can't find app with name "<FunctionAppName>"`

The 3rd of 4th attempt (10-20 seconds later) will eventuall

[2019-10-24 00:31] anthonyrs06 commented on #1457
I'm still getting this error. South Central Consumption Plan.

Did the environment variables fix it for people?

[2019-10-24 00:50] balag0 opened #1618 "Emit core tools version along with command output"
Useful to identify cases where someone is using an old version of core tools.

 @ankitkumarr fyi

[2019-10-24 02:58] balag0 commented on #1457
@anthonyrs06 Please open a new issue and provide the sitename/ timestamp information there.
I am locking this thread since this issue already resolved.

[2019-10-24 03:45] ahmelsayed opened #1619 "improve default docker files to use cache"
see https://github.com/Azure/azure-functions-core-tools/pull/1588 for context

[2019-10-24 05:37] mebibou commented on #1358
@mlazowik how would I be able to add them to the `PATH`? @ahmelsayed is there a way to do this on the published docker image?

[2019-10-24 16:07] ahmelsayed opened #1620 "Provide a way to amend PATH and/or LD_LIBRARY_PATH when publishing to linux apps."
Context: #1358

[2019-10-24 16:07] ahmelsayed commented on #1358
I _think_ if you set `LD_LIBRARY_PATH` as an App Setting it should work, though I'll have to test it to verify.

Setting `PATH` in App Settings though might mess up things, unless you set the full one, i.e: `/usr/local/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin`.

I think adding a way to prepend `PATH` and/or `LD_LIBRARY_PATH` would be useful for a lot of scenarios. I opened

[2019-10-24 18:08] ahmedelnably commented on #1616
This is due to the time it takes to update the different caching mechanisms in ARM (Azure resource manager).

[2019-10-24 18:08] #1616 closed

[2019-10-24 18:09] ahmedelnably commented on #1618
I think printing the tools version in every command with every execution is an overkill, another proposed idea is to print it in debug mode

[2019-10-24 18:40] Erikvl87 commented on #1616
Well yeah I figured it would have something to do with populating the changes / updating cache, but there must be a way to determine when I can start publishing, right? Or would your advice be to just include a 30 second `sleep`...? ;)

[2019-10-24 18:44] ahmedelnably commented on #1616
For now I would recommend to include a 30 second sleep

[2019-10-24 19:10] Hazhzeng opened #1621 "Remote Build should perform remove app settings after SCM site existence"
We should check SCM site existence before modifying any app settings.

Otherwise, if the remote build fails, the site will be in empty state.

[2019-10-24 19:13] balag0 opened #1622 "Remote build should check for scm hostname before removing Run from pkg app setting"
Remote build on old linux consumption apps can leave the app broken. we remove the appsetting and later if the app doesn't support remote build we don't add it back.

Move the check to start of the command.

func azure functionapp publish <APP> --force

Getting site publishing info...

**Removing WEBSITE_RUN_FROM_PACKAGE app setting**

Remote build is a new feature added to function apps.

Your fu

[2019-10-24 19:15] balag0 opened #1623 "build local flag is ignored when publishing python apps"
Could be because remote build is default now and that takes precedence over the flags passed in the command.

func azure functionapp publish <APPNAME>--build-local

Getting site publishing info...

Remote build is a new feature added to function apps.

Your function app mediareport does not support remote build as it was created before August 1st, 2019.

**Please use '--build local',** '--build-na

[2019-10-24 19:19] Hazhzeng commented on #1621
dup 1622

[2019-10-24 19:19] #1621 closed

[2019-10-24 19:22] Hazhzeng commented on #1623
This issue is addressed by https://github.com/Azure/azure-functions-core-tools/pull/1611.
Waiting for the next release.

[2019-10-24 21:13] ankitkumarr opened #1624 "Refactor publishing and language specific flows"
As our code base and hosting options grew, minute additions to the core-tools have made some of our code a bit difficult to follow.
While it's not a mess yet, it'd still be good to spend a little time to think, refactor and clean up some design.

`PythonHelpers` and `PublishFunctionAppAction` would be top candidates for this.

[2019-10-24 21:37] ahmedelnably commented on #1624
+1000

[2019-10-25 00:43] anthonyrs06 opened #1625 "Python Function Deploy from Azure Pipeline failing"
Failing to deploy python Function App to Azure.

Failure from an Azure Pipeline:
![image](https://user-images.githubusercontent.com/6324704/67534963-2e127680-f696-11e9-93f7-45a80dfc4bf2.png)

Failure from VSCode:
![image](https://user-images.githubusercontent.com/6324704/67534988-44b8cd80-f696-11e9-80ef-a7017c4f4a84.png)

My function app name is: vscanpythonfunction
App Service is: bridgeasp

From

[2019-10-25 17:50] anthonyrs06 commented on #1625
UPDATE - I decreased my package size and was able to deploy via VSCode. Am now getting an "did not find any initialized language workers" error..

[2019-10-26 21:14] a-vishar opened #1628 ".NET Core 3.0 & Functions v3 compliant?"
Hi,

Is there a plan to support x64 .NET Core 3 V3 functions?  Via the templates in Visual Studio, I can currently only run 32bit functions.

Thanks!

[2019-10-27 11:51] keith-hinde opened #1629 "InternalServerError on Syncing Triggers"
Consistently getting failures when trying to deploy a Python function to UK-South.

Function is a simply blob file trigger, works fine on local testing.

Same symptoms as others have reported:

11:40:30 perdix: Syncing triggers...
11:40:39 perdix: Syncing triggers (Attempt 2/6)...
11:40:50 perdix: Syncing triggers (Attempt 3/6)...
11:41:12 perdix: Syncing triggers (Attempt 4/6)...
11:42:13 perdix:

[2019-10-27 12:30] t-l-k opened #1630 "How to configure Win10 workstation to use functions runtime v2.0.12835?"
I've the "latest" `azure-functions-core-tools@2.7.1724` installed in Windows 10 (as per NPM and NVM), I configure the launch settings for my functions projects in VS2019 like this:

`%ProgramW6432%\nodejs\node_modules\azure-functions-core-tools\bin\func.exe`

But as per the [releases page](https://github.com/Azure/azure-functions-core-tools/releases) this latest release references Azure Functions

[2019-10-27 17:33] balag0 commented on #1629
Looks like some problem with the storage account configured with the app. Can you check if the storage connection strings for the app look good in the application settings section?

Also if you have application insights enabled for the app, it might have some of this information. Let us know if you are able to resolve this.

Microsoft.WindowsAzure.Storage.StorageException : This request is not aut

[2019-10-28 06:16] ankitkumarr commented on #1630
@t-l-k, we will release `azure-functions-core-tools` with the new runtime later this week. The `2.0.12835` Azure Functions Runtime has not be rolled out to all Azure Functions environment in Azure. Once that is complete (mid-week), we should be releasing a version of `azure-functions-core-tools` as well.

[2019-10-28 11:41] t-l-k commented on #1630
That's unfortunate. Guess I'lI downgrade my tools the to earlier version 2.7.1704 targeting Azure Functions Runtime v2.0.12742 to see if that fixes my issues.

[2019-10-28 11:41] #1630 closed

[2019-10-28 20:44] #1623 closed

[2019-10-28 22:01] ankitkumarr commented on #1612
@ahmelsayed added this PR https://github.com/Azure/azure-functions-core-tools/pull/1545
introducing a tool to create archives such that permissions will be preserved in Azure (fuse mount or unzip).

Next step is for me to test it in our environments and make sure it works properly. Once that PR is merged, I need to create a PR to use `go-zip` and create packages using that instead of `DotNetZip` t

[2019-10-28 22:07] ahmedelnably commented on #1250
Changing to P1, as we need to do this by EOY

[2019-10-28 22:11] ankitkumarr commented on #1630
@t-l-k, out of curiosity, what issue were you seeing in that version? Perhaps I could figure out and suggest some sort of a work around.