[2021-09-10 15:01] rochapablo commented on #2294
https://github.com/Azure/azure-functions-dotnet-extensions/issues/64

[2021-09-10 15:22] doggy8088 opened #2705 "No job functions found if run "func start --no-build""
Here are the steps to reproduce the problem.

1. Check Azure Functions Core Tools version

[code]

[code]

2. Use .NET Core 3.1.400 SDK

[code]

3. Create function app

[code]

4. Create a function

[code]

5. Starting my function app

[code]

    Here is the log (no problem):

[code]

6. Starting my function app with `--no-build` option

[code]

    Here is the log (**No job functions found**):

[2021-09-10 19:38] kashimiz opened #2706 "Automate npm release in pipeline"
Currently, the step in our release pipeline to upload a new version of Core Tools to npm requires manual intervention by an engineer to complete. We should change this to run automatically instead.

[2021-09-13 23:36] fabiocav commented on #2655
This is now done. Latest now points to the latest 3.0/stable release.

[2021-09-13 23:36] #2655 closed

[2021-09-14 07:53] rasmusbe opened #2709 "Hot reload is broken when using typescript v4"
Steps to reproduce:

1. Create typescript project via `func init`
2. Upgrade typescript to `"typescript": "^4.0.0"`
3. Run `npm start`
4. Modify something to trigger hot reload, code is not reloaded.

[2021-09-14 08:04] #2709 closed

[2021-09-14 08:05] rasmusbe commented on #2709
Seems to be working again.

[2021-09-14 11:13] IanKemp commented on #2676
@sinedied Unrelated, where did you figure out `CLI_DEBUG`? It doesn't seem to be documented anywhere, yet it's also the only way to get a full stack trace when host startup fails...

[2021-09-14 14:24] sinedied commented on #2676
@IanKemp I found about `CLI_DEBUG` by navigating through many github issues, and at one point this was suggested. Seems an internal flag, but a useful one!

[2021-09-15 00:11] aaronpowell commented on #2549
That PR only solves the dotnet-isolated scenario, not the dotnet in-proc one.

[2021-09-15 11:45] manishnm opened #2710 "Function app is not deploying from azure cli"
Exportable Squashfs 4.0 filesystem, gzip compressed, data block size 131072
        compressed data, compressed metadata, compressed fragments, compressed xattrs
        duplicates are removed
Filesystem size 1.10 Kbytes (0.00 Mbytes)
        54.52% of uncompressed filesystem size (2.02 Kbytes)
Inode table size 104 bytes (0.10 Kbytes)
        40.31% of uncompressed inode table size (258 bytes)
Dir

[2021-09-15 19:35] balag0 commented on #2710
Are you creating the app using a custom template? Linux functions only supports V2 and above
Try setting FUNCTIONS_EXTENSION_VERSION to ~3

You can also create an app using the Azure portal to get an idea of the recommended and supported configs and then customize your template.

[2021-09-15 20:13] fabiocav commented on #2684
@pragnagopa we may need to sync with @AnatoliB for assignment here (or someone on the team while he is OOF). I'll follow up offline.

[2021-09-16 00:02] nerblock commented on #1239
I'm developing a ts api and this is driving me crazy. Please, implement this for god's sake. 🤦‍♂️

[2021-09-16 01:22] alvipeo commented on #2064
Installed VS2022 Preview 4 - everything is broken. So I uninstalled it and went back to 16.11.3, and boom! Now getting this error all the time. Can't fix it.

[2021-09-16 09:36] Yvand commented on #1239
I found how to make it work in my project:
I removed variables `WEBSITE_MOUNT_ENABLED` and `WEBSITE_RUN_FROM_PACKAGE` from my `local.settings.json`.
Now, `npm run start` immediately serves the changes when I save the .ts file.
Those variables were added when I executed `func azure functionapp fetch-app-settings`.

[2021-09-16 12:24] chenxizhang commented on #1239
wow, thanks to @Yvand, it works for me now. You save many time for me, man

[2021-09-17 20:43] madelinegordon opened #2712 "Update current working branch to dev"
Currently, the working branch for v3 is "v3.x", and the branch "dev" correlates to v2. This item tracks transitioning dev to correlate to v3, and cleaning up the correlated release process.

[2021-09-17 22:44] paulbatum opened #2714 "Functions V4 - Implement better handling for out of date extensions"
This PR for v4 adds minimum version enforcement for extensions:
https://github.com/Azure/azure-functions-host/pull/7581

The handling of this error in core tools could be more graceful - the appropriate details are displayed, but then an error about a null provider also appears:
![image](https://user-images.githubusercontent.com/10663/133861022-9d4adbf8-3b30-4958-abf1-16831041f2ff.png)

[2021-09-19 10:37] NejcBW opened #2715 "'func host start' does not use workspace python interpreter"
I am experiencing exactly the same issue as discribed in #2329. However, I cannot resolve it by reinstalling python as suggested in the referenced issue.

The problem is that when I run 'func host start' within an activated python environment the python interpreter gets picked up by core tools is not the one of the activated environment by the global python interpreter that is on the system PATH.

[2021-09-19 18:22] xtianus79 opened #2716 "Can't install azure function tools in ubuntu 20.04"
There is a closed thread that this has been update with the focal repository but it is not working per instructions. Can you either update the instructions or fix the issue.

[2021-09-20 06:48] anthonychu commented on #2715
@vrdmr Can you please take a look?

[2021-09-21 23:07] murilobeltrame commented on #2600
Hello all, just for information, same problem here even with the newest updates:

[code]

[2021-09-22 06:41] forki opened #2720 "Microsoft.Azure.WebJobs.Script.HostDisposedException on prod host"
Some of my functions (EventHubsTrigger) are crashing with:

[Microsoft.Azure.WebJobs.Script.HostDisposedException:
   at Microsoft.Azure.WebJobs.Script.WebHost.DependencyInjection.JobHostServiceProvider.CreateScope (Microsoft.Azure.WebJobs.Script.WebHost, Version=3.2.0.0, Culture=neutral, PublicKeyToken=null: D:\a\1\s\src\WebJobs.Script.WebHost\DependencyInjection\JobHostServiceProvider.cs:110)

[2021-09-22 13:09] aaronadamsCA commented on #2702
I can't currently install Core Tools on Debian 11, because its package is not available in the official repository.

[code]

[2021-09-22 18:43] mdantuluru commented on #2600
Hello All,
I have the same problem with CoreToolsVersion 3.0.3734
`[2021-09-22T18:28:09.069Z] Cannot create directory for shared memory usage: /dev/shm/AzureFunctions
[2021-09-22T18:28:09.069Z] System.IO.FileSystem: Access to the path '/dev/shm/AzureFunctions' is denied. Operation not permitted.`

[2021-09-22 23:37] chook opened #2721 "Error calling sync triggers (BadRequest)"
Error while publishing an eventhub trigger...

version: 3.0.3734

host.json
[code]

function.json
[code]

[code]

[2021-09-23 17:46] apawast commented on #2721
@chook can you provide steps on how to reproduce this? Are you able to publish with other types of functions?

[2021-09-23 19:40] chook commented on #2721
Thanks @apawast ! we have two functions, the blobstorage triggers work as expected.
I have provided here the host.json and function.json which hopefully help.

Is there anywhere in Azure portal a log that may show actionable logs for the bad request?

[2021-09-23 19:43] chook commented on #2721
super weird. i tried again to validate and now it works .. i guess it was a glitch in Azure.
Thanks for the quick response anyway

[2021-09-24 13:04] IanKemp opened #2722 "Please help me understand the reasons for limitations of local.settings.json and the best practices around it"
I have local.settings.json with the following defined:

[code]

The reasons are:

1. Our deployment process pushes the content of local.settings.json to Azure and [I want my settings to be compatible between Windows and Linux hosts]().
2. I cannot use the following, proper hierarchical configuration:
{
    "IsEncrypted": false,
    "Values": {
        "AzureWebJobsStorage": "UseDevelopmentStorage=

[2021-09-24 16:46] awentzel opened #2723 "'func host start' no longer working"
after upgrading to the latest core tools, `F5` in VS Code to debug my Azure Functions the terminal is failing with a command not found in the host start command. I have no issues when running from the command line with "npm run start", it's only that the debugger isn't available then. But, no errors.

I don't have anything installed globally or at the OS level.

I'm running:
macOS: 11.6
Node: 14.1

[2021-09-24 17:17] chook commented on #2721
@apawast it seemed that it only started working AFTER we tested the blobstorage trigger, so somehow it "unlocked" the eventhub trigger sync. so we still have an issue here

[2021-09-27 11:36] amitnanaware opened #2726 "Python : Logs are not coming in App Insight for async function using eventloop"
I am using azure function for one of our python function. We are using eventloop as described in [document](https://docs.microsoft.com/en-us/azure/azure-functions/python-scale-performance-reference#managing-event-loop).

Below is sample of `__init__.py`

[code]

and this is content of somepackage.py file,

[code]

The logging statements from run function are not coming to app insight which is conn

[2021-09-27 21:28] anthonychu opened #2727 "Warn if proxies.json exists in v4"
V4 doesn't support proxies. Core Tools should warn if proxies.json is defined in a v4 app.

[2021-09-28 07:02] IanKemp commented on #2722
Bump.

[2021-09-28 12:49] GaryParr opened #2729 "Msg to update version not actually installed"
I keep getting messages asking to update an older version of core tools than I actually have installed. Running the update won't stop the message from coming back.  Not sure where it is pulling the value from so will just uninstall/re-install to see if that fixes it, but wanted to post here first on the off chance anyone wants me to check into anything to see _why_ this is happening.

![act_update

[2021-09-28 17:57] apawast commented on #2721
@chook we are not sure if this is reproducible. If this is still an issue for you, it may be best to open a support ticket instead.

[2021-09-28 18:02] chook commented on #2721
@apawast what is a support ticket? did you try and reproduce this?
I have a colleague who did and reached the same results.

1. The badRequest with sync triggers is clearly a bug on Azure end, as there are multiple questions about it with no clear answers about root cause. Please make an effort to fix your error feedback.
2. Even once we get it to work, by installing the same function name with a

[2021-09-28 18:04] apawast commented on #2729
@GaryParr it's possible that you may have installed multiple versions one using npm and another using a different package manager. One way would be to uninstall the npm one and see if VSCode is still picking it up. You said you're going to try uninstalling/installing anyway, did you see a change?

[2021-09-28 19:05] balag0 commented on #2721
@fabiocav can we add (1) to the scope of https://github.com/Azure/azure-functions-host/issues/4934 ?

[2021-09-28 20:22] GaryParr commented on #2729
I figured it out.  I've been working with Azure Static Web Apps lately and the CLI tool packages in the older version. I removed the global tools for now since I don't need them at the moment.  Thanks!

[2021-09-28 20:23] #2729 closed

[2021-09-28 22:24] awentzel commented on #2723
There were actually two errors.  Both are known issues and a result of checking the debug box for `caught exceptions`.  So my debugger was stopping on trapped exceptions. In this case it was twice and then it wouldn't happen again.  Seems sort of odd, but unchecking that option solved both problems.

[2021-09-28 22:24] #2723 closed

[2021-09-29 02:02] chook commented on #2721
I was able to finally track down the origin, and why installing the blog trigger randomly "fixed" the issue.

**tl;dr my AzureWebJobsStorage config was empty** (the storage trigger set it correctly)

This is going to be a few unrelated things but it's best to document my state of mind and RCA for future generations that may read this:

It started with a working blobstorage trigger I migrated to an

[2021-09-29 02:02] #2721 closed

[2021-09-29 18:28] m1stermanager commented on #2612
this would be a great one to see get fixed. definitely a time waster

[2021-09-30 11:55] boris-tarasov-maersk opened #2735 "how to query dotnet version for func app"
I had a case when some external libs are not working correctly, and I had an ask to provide output of 'dotnet --version'
I tried to do from ssh consol in Azure Fun app advance tool and by running my func in a docker image and getting a terminal access.
it seems that dotnet executable is not included as self standing binary that can be called with func app. How to run 'dotnet --version' in such sit

[2021-09-30 15:39] flo-sch opened #2736 "How to adjust structure folder for monorepositories?"
I work with typescript and [nx.dev](https://nx.dev/) workspace: a build tool allowing to easily lint, test, build and share source code inside a monorepo (using TS path mapping from a root `tsconfig.base.json`).

It works with a specific folder structure which makes it a bit hard to combine with Azure Functions:

    /tsconfig.base.json
    /package.json
    /host.json (?)
    /.funcignore (?)

[2021-09-30 16:51] boris-tarasov-maersk opened #2737 "error on loading native library on linux bases hosts (docker and Azure app elastic premium plan)"
to communicate with github and be able to create repository secrets we need to use one of recommended libsodium bindings.

One such biding that supports dot net core is https://github.com/tabrath/libsodium-core

After a few days and several experiments, I came to conclusion that something is broken in a way azure functions work with native libs.

How to reproduce working scenario:

create simple c

[2021-09-30 17:57] michaelpeng36 opened #2739 "ASP.NET Core messages are not being suppressed"
Upon starting a nodejs application, the unexpected status message "Content root path: ..." from ASP.NET Core is displayed in the logs. See #2738 for more details.

[2021-09-30 20:07] boris-tarasov-maersk commented on #2737
I do not have many clues but this looks strange:

function.deps.json in FunctionApp1\bin\Debug\netcoreapp3.1\bin
seems to contain version 0.0.0.0 for Linux based RIDs

[code]

[2021-09-30 23:56] #742 closed

[2021-09-30 23:56] #754 closed

[2021-10-02 00:10] michaelpeng36 commented on #2612
Resolved by #2734

[2021-10-02 00:10] #2612 closed

[2021-10-04 07:41] lechnerc77 opened #2746 "Error with Extension bundles: Value cannot be null. (Parameter 'provider')"
I created a sample Durable Function (TypeScript) and try to start it locally. The storage is emulated via Azurite.
During start-up the error `Value cannot be null. (Parameter 'provider')` occurs.

The settings are:

- Func CLI Version: 3.0.3734
- node Version: v14.16.1

The log output with `CLI_DEBUG=1 ` and verbose gives the following:

[code]
The `host.json` is:

[code]
The `local.settings.json`

[2021-10-05 18:00] apawast commented on #2735
@boris-tarasov-maersk can you please share the OS and plan you are using?

[2021-10-05 18:52] boris-tarasov-maersk commented on #2735
@apawast
thank you for responding to my request.
I had issue running azure functions with some native libraries, case I have described here and the one you recently viewed:
https://github.com/Azure/azure-functions-docker/issues/520

my goal with this task was to be able to query dontet --version command.
using standart azure function docker image from Microsoft it seems dotnet command was not pres

[2021-10-05 18:58] pragnagopa opened #2748 "Move Core-Tools docker files to this repo"
https://github.com/Azure/azure-functions-docker/blob/dev/host/3.0/buster/amd64/dotnet/dotnet-inproc/dotnet-core-tools.Dockerfile

[2021-10-05 19:00] pragnagopa commented on #2748
cc @CooperLink

[2021-10-05 19:09] pragnagopa commented on #2748
cc @AnatoliB fyi

[2021-10-05 22:48] alstel opened #2749 "func kubernetes commands failing with Permission denied error"
I'm getting denied when executing func kubernetes commands and I'm not sure how to troubleshoot it.

![image](https://user-images.githubusercontent.com/32969315/136436020-2700283c-fd8a-4b37-ab6e-71abba506fa5.png)

I've tried multiple functions core tools versions (2 & 3) on multiple cluster contexts and I get the same result. **I can execute other func commands without issue.** Any idea what's cau

[2021-10-06 01:02] gieseking commented on #2303
I'm on Big Sur 11.6 and still encounter this issue. I can run the azure functions reliably, but shortly after attaching to the process with the debugger in vs code the functions lock up and the func process has to be force quit. Sometimes I can hit a breakpoint but shortly after stopping on the first breakpoint the function host will lock up.

[2021-10-06 08:21] SiliconOrchid opened #2764 "func CLI doesn't recognise: func init --dotnet-isolated"
Hey,

* When using the AzFunc CLI to initialise a new dotnet isolated-process project:
    * Using `func --version` == `3.0.3734`
    * [The docs](https://docs.microsoft.com/en-us/azure/azure-functions/create-first-function-cli-csharp?tabs=isolated-process%2Cazure-cli&pivots=programming-runtime-functions-v4#tabpanel_3_isolated-process) tell us that we should use the command `func init --dotnet-iso

[2021-10-08 15:55] jformacek opened #2753 "Problems instantiating X509Certificate2 in Azure Powershell function app"
Hello,
let's have simple powershell code running inside PowerShell function app:
[code]

Code above generally works during business hours. During nights, the "problematic" line fails with error "The system cannot find the file specified"

Not knowing implementation details of Azure PowerShell function, my guess is that as long as user profile is loaded on hosting machine (we're running on Windows

[2021-10-08 18:54] #2753 closed, assigned to nobody

[2021-10-08 22:05] mattchenderson opened #2755 "Errors and warnings when using identity-based connections in bindings"
Identity-based connections are still not honored except when used for `AzureWebJobsStorage`.

## Repro Steps

1. Run `func init --worker-runtime node`
2. Modify `host.json` to use the preview extension bundle:

[code]

3. Run `func new -t "Azure Blob Storage Trigger" -n BlobTrigger`
4. Update the default connection in `function.json` for the blob trigger:

[code]
5. Add the identity-based connecti

[2021-10-11 05:20] sayantikabanik opened #2758 "func start [cannot create shared memory usage: /dev/shm/AzureFunctions]"
**Issue**
- I followed the steps from the documentation to get started with the creation of a simple azure function and encountered the following errors/warnings

<details>

<summary> Logs </summary>

[code]
</details>

**Version/machine  info**
- azure-functions-core-tool
[code]
- macOS `arm64`
- python version `3.9`

**Command used - reproducing the above error**
`func start`

**Similar issues r

[2021-10-11 10:29] vsalesa opened #2757 "Syncing triggers bad request StatusCode: 400, ReasonPhrase: 'Bad Request', Version: 1.1, Content: System.Net.Http.HttpConnectionResponseContent, Headers:"
When trying to deploy from azure devops it deploys perfectly but in the end throws that error with bad request

[2021-10-11 22:39] andrewchaa opened #2761 "Microsoft.Azure.WebJobs.Script:: Did not find any initialized language workers."
On VS Code, I've created a new project, choosing `typescript` as the language.

It's a simple hello world function that the VS Code template creates. Yet when I make an HTTP call, the call fails with 500 Internal Server Error. The error message is `Did not find any initialized language workers.`

[code]

[2021-10-12 14:10] tkutcher commented on #2604
In case relevant, I did finally at least get an apparently working solution for deploying function apps from a linux-based docker image. I had to switch from a debian to an ubuntu base though. Not sure if there are any known limitations or issues specific to the tools running on a debian image

[2021-10-12 17:49] apawast commented on #2757
@vsalesa can you please provide us steps on how to repro this and tell us more about the app/environment you are working with?

[2021-10-12 17:51] apawast commented on #2758
Duplicate of #2600

[2021-10-13 20:33] fabiocav commented on #2755
@AnatoliB @michaelpeng36 is this something you'd be able to look at? This is flagged as a GA requirement for the Track 2 extensions.

[2021-10-14 17:57] apawast commented on #2722
@IanKemp thanks for opening this issue! Local host does no support appsettings.json. We have added this to the backlog but at this time this issue is not of the highest priority. We will keep this issue open and monitor to see if it gains traction from users.

[2021-10-14 20:18] diberry commented on #2653
@anthonychu - I looking for a complete CLI command that I don't have to step through so I can plug it into a script to create a typescript function app. Is that possible or what am I missing?

[2021-10-14 21:29] egieseking commented on #2303
For those coming to this page looking for a possible solution I am posting what is now working well for me after trying many combinations of .NET core, azure function core tools, and IDEs (both x64/Rosetta and arm64 versions). Almost all scenarios resulted in being able to execute the azure functions, but the azure functions would run very slowly and eventually completely lock up azure function co

[2021-10-15 00:23] afelipe00 opened #2767 "Error calling sync triggers (BadRequest)"
I am trying to deploy an existing azure function app in the cloud, but it throws me a synchronization error:

specs and features:
+ windows version: windows 10 20H2
+ func version: 3.0.3442
+ Region: EastUs

Log (and error) after running command: `func azure functionapp publish "name-app"`

Creating archive for current directory...
Performing remote build for functions project.
Deleting the old .p

[2021-10-15 01:32] anthonychu commented on #2653
Does `func init --typescript` work for you?

[2021-10-15 18:15] jamwil commented on #2451
Still experiencing this on M1 MacBook Pro, Python 3.9.7, Core Tools 3.0.3785.

[2021-10-16 00:14] mattchenderson opened #2769 "Update default bundle once bundle V3 is finalized"
_This is a tracking item for action to take once the V3 bundle exists in the main bundle ID._

The current bundle default in the v3.x branch is the V2 bundle:

https://github.com/Azure/azure-functions-core-tools/blob/d6dfa462c9b626a1c5a20a44725364a2d31f9107/src/Azure.Functions.Cli/StaticResources/bundleConfig.json#L1-L4

Once the V3 bundle is finalized, we should update it to use V3:

[code]

The

[2021-10-16 23:06] anthonychu commented on #2600
@michaelpeng36 can provide an update on when this will be fixed.

[2021-10-19 17:37] apawast commented on #2769
@mattchenderson when can we expect the V3 bundle to be finalized?

[2021-10-19 19:55] alstel commented on #2749
![image](https://user-images.githubusercontent.com/32969315/137981115-3f5abdd9-ab29-4236-8403-ed5776f953aa.png)

[2021-10-19 20:21] alstel commented on #2749
I do have kubectl installed:
![image](https://user-images.githubusercontent.com/32969315/137984166-299fd4f7-761b-4c59-b853-8cc8de58dbbe.png)

The dry-run command you gave above does install KEDA. What should I be doing going forward given the standard commands failing?

[2021-10-19 22:28] kulkarnisonia16 opened #2772 "Telemetry for E2E Deployment project"
https://msazure.visualstudio.com/Antares/_workitems/edit/10740059

[2021-10-20 04:21] franjorub opened #2774 "Error running example from docs"
Hi I'm following the tutorial https://docs.microsoft.com/en-us/azure/azure-functions/create-first-function-vs-code-node

but when I press F5 I have this issue:

ProductName:	macOS
ProductVersion:	11.6
BuildVersion:	20G165

node v12.22.7

Azure Functions Core Tools
Core Tools Version:       3.0.3477 Commit hash: 5fbb9a76fc00e4168f2cc90d6ff0afe5373afc6d  (64-bit)
Function Runtime Version: 3.0.15584.

[2021-10-20 07:52] gerardsimons commented on #2468
Did you get a machine yet to fix this? 😋

[2021-10-20 20:40] asfo commented on #2774
I found in another issue (#2232) that if you remove the `"extensionBundle"` section in the host file it works, but I just modified the `"version"` parameter with `"3.*"` value and it worked for me.

Also, that doc page should show that you can't use Node 16, here is what it states:
Node.js 10.14.1+. Use the node --version command to check your version.

Which is "10+" so I should be able to use No

[2021-10-20 23:41] mattchenderson commented on #2769
That is tracked by https://github.com/Azure/azure-functions-templates/issues/1119

[2021-10-21 01:25] mattchenderson commented on #2671
That closure window is way too aggressive isn't it? This is still an issue. The guidance is to allow prefixing instead of exact name match.

[2021-10-21 01:27] mattchenderson commented on #2671
The auto-closure without notification to me is particularly irksome.

[2021-10-21 12:49] franjorub commented on #2774
thank you it worked changing the version, but the warning is still present with a new one, but the functions are running correctly

in my case, I don't need to be logged in to create or run the functions locally, these are the logs

Azure Functions Core Tools
Core Tools Version:       3.0.3785 Commit hash: db6fe71b2f05d09757179d5618a07bba4b28826f  (64-bit)
Function Runtime Version: 3.2.0.0

[2021-

[2021-10-21 17:17] #2755 closed, assigned to michaelpeng36

[2021-10-21 22:25] mattchenderson commented on #2413
Source of error message just for reference in the discussion: https://github.com/Azure/azure-functions-core-tools/blob/5e114c97ed391449fefcae1a93767f6e9fd8f49a/src/Azure.Functions.Cli/Actions/HostActions/StartHostAction.cs#L404-L410

This is also hit when attempting to use identity for the AzureWebJobsStorage connection (still a preview feature), where I have `AzureWebJobsStorage__accountName` ins

[2021-10-26 01:37] askpatrickw opened #2783 "Warning: Calling bottle :unneeded is deprecated! There is no replacement."
I originally saw this when running `brew  update && brew upgrade` with @v3 installed.
I uninstalled @v3, installed @v4 and got the same warning.

[code]

[code]

[code]

[2021-10-26 08:27] CasperJ opened #2784 "PDB symbol path don't add up when debugging (attaching) Azure Functions inside a container"
It looks like the paths don't match when you attach to a running container hosting Azure Functions.

Steps to reproduce:
1. Follow steps 1 to 3 in this guide: https://docs.microsoft.com/en-us/azure/azure-functions/functions-create-function-linux-custom-image?tabs=isolated-process%2Cbash%2Cazure-cli&pivots=programming-language-csharp
2. Put a break-point in VS Code in the Test Function
3. Attach to

[2021-10-26 20:50] ErikPhilips opened #2786 "Version 3.30.0 doesn't appear to work"
Upgraded Visual Studio to 16.11.5 and for whatever reason I'm unaware of it downloads it's _own hardcoded version 3.30.0_: into `%userprofile%\appdata\local\azurefunctionstools\releases\3.30.0`.

Created a new function app from scratch:

[code]

[code]

[code]

After starting the function and the debugger attaches, I do a simple get to the function and it just hangs for 30 minutes (function timeou

[2021-10-27 10:07] KristinHansen opened #2789 "func kubernetes deploy w/ net6 isolated v4 image not working"
Maybe this is not supported at all yet, but it seems to not deploy isolated .NET 6 v4 Functions correctly.
I don't get any errors. If I run `--dry-run` I just get a secrets output.

I'm running the k8s cluster in Docker Desktop. KEDA installed just fine.

When I run `func kubernetes deploy --name dotnet6-iso-test --namespace func-tests --image-name net6-isolated:test --dry-run --debug` from the pr

[2021-10-27 11:46] abjfdi opened #2792 "NodeJS host.json file when invalid works locally but not when deployed"
Since the azure functions core tools is trying to emulate Azure Functions I consider this a bug or an enhancement.

I created a function that used bindings for table storage, read & write and used http triggers for this. My host.json file was invalid and everything worked locally when it should not work locally.

I spent hours debugging this by deleting code, hardcoding variables etc to finally fi

[2021-10-27 20:19] #2764 closed, assigned to michaelpeng36

[2021-10-28 01:23] wsugarman opened #2796 "func kubernetes install Deploys Too Low of Version to use KEDA MSSQL Scaler"
The `func kubernetes deploy` command will generate a KEDA scaled object for [MSSQL](https://keda.sh/docs/2.4/scalers/mssql/), but this scaler is only supported in KEDA v2.2+. Unfortunately, `func kubernetes install` deploys KEDA v2.1!

I see that the KEDA definition is stored in [keda-v2.yaml](https://github.com/Azure/azure-functions-core-tools/blob/v3.x/src/Azure.Functions.Cli/StaticResources/ked

[2021-10-28 11:26] mariotebest opened #2798 "v4: Blob Trigger -> too verbose logging"
Since we upgraded our functions to the v4 runtime our blob triggers create very spammy logs.

Is there a way to disable logging every request & response to and from the blob storage service so it behaves like v3 - or at least log this as _trace_ and not _information_?

![image](https://user-images.githubusercontent.com/54019893/139247291-1a4349fc-868b-4d24-85d5-75598a016556.png)

Our host.json loo

[2021-10-29 20:03] TOAD-Joey commented on #2451
Still got the exact same error. Running two macbooks for this right now, waiting to solve this problem. Lets hope it comes quick in some way.

[2021-10-29 20:18] anthonychu opened #2803 "Port shared memory change #2802 to v4.x"

[2021-10-30 01:10] balag0 commented on #2767
@jimmytricks To make sure I understand , the app was stopped so requests were failing with forbidden and once it was started back, the request started succeeding? Isn't that the expected behavior?

[2021-10-30 07:09] anthonychu commented on #2451
Looks like Core Tools is able to run in x64 emulation but it’s starting the python worker in ARM. The worker uses x64 binaries in some places and that’s where it appears to be failing. Are you able to run the entire stack with x64 emulation? I only have an Intel Mac so I can’t try this out.

/cc @vrdmr

[2021-10-30 07:13] anthonychu commented on #2451
For Node.js we were able to fix this by using a pure JS implementation of gRPC that doesn’t rely on platform specific binaries.
Not sure if same exists for Python. https://github.com/Azure/azure-functions-nodejs-worker/issues/386

[2021-10-30 16:06] abjfdi commented on #2792
Honestly I would think most developers would want an error here rather than a warning, because you get an error in the cloud. But that's my opinion.

[2021-10-30 16:18] jimmytricks commented on #2767
Hi @balag0 , apologies if I wasn't clear.

When I try to deploy the app, it fails with the above error if the app is currently in the 'stopped' mode. It works if you start it and then re-deploy. This feels like a bug. Just because the app is stopped shouldn't cause an error to redeploy to it, or that's how it feels to me. Cheers!

[2021-11-01 00:58] flcdrg opened #2807 "Chocolatey package azure-functions-core-tools-3 has a v4 version"
Just noticed that Chocolatey package [azure-functions-core-tools-3](https://community.chocolatey.org/packages/azure-functions-core-tools-3#versionhistory) has a new version - 4.0.3928

That doesn't seem right, surely this package should only contain v3 releases?

![image](https://user-images.githubusercontent.com/384747/139607920-7279fddd-d931-4c71-938f-b5ab93f1402f.png)

(FYI I'm also a Chocolate

[2021-11-01 02:36] anthonychu commented on #2807
Thanks for the heads up. @michaelpeng36 @brettsam please take a look.

[2021-11-01 02:42] flcdrg commented on #2807
Package versions can't be deleted, but they can be unlisted (click on the 'yes' in the Listed column) and change it to a 'no'

[2021-11-02 17:41] michaelpeng36 commented on #2803
Closed by #2804

[2021-11-02 17:41] #2803 closed

[2021-11-02 18:07] simon-tarr commented on #2451
Unable to test this at present but (thinking out loud here): I'm  wondering if running everything in a conda environment of some description would help in the interim? Using conda environments has solved a ton of (unrelated) problems for me over the past few months while x86 and arm64 code is living side by side.

[2021-11-03 03:00] #2758 closed

[2021-11-03 11:43] KristinHansen commented on #2789
I can see that this is most likely due to the same bug mentioned in #2556. I guess we'll have to find not use isolated functions in KEDA for now.

[2021-11-03 11:43] #2789 closed

[2021-11-03 15:41] PCOffline commented on #2786
Having the same issue on nodejs with the latest `azure-functions-core-tools@3` release. Everything runs normal, but crashes after about a minute to five after launching. It doesn't hang for me, though.

[2021-11-03 17:48] jbpaux commented on #2807
I just saw that too 😅 Would be great to fix that and have a new package for v4

[2021-11-03 20:51] liliankasem commented on #2632
@davidmrdavid Could you maybe help with this?

[2021-11-04 02:39] a1exwang opened #2809 "When will you support Node.js 16 LTS?"
Node.js 16 is LTS now https://nodejs.org/en/about/releases/

Currently function core tools will throw an error when running with Node.js 16
[code]

[2021-11-04 07:13] klachoo opened #2810 "'"CORSCredentials": true' gives "Cannot access a disposed object. Object name: 'IServiceProvider'." when running an Azure Function locally"
Attempting to run an Azure Function on localhost machine via `func host start --verbose` gives "Cannot access a disposed object. Object name: 'IServiceProvider'." when '"CORSCredentials": true'. Once it is changed to '"CORSCredentials": false' then the function starts up correctly.

Steps to reproduce
1. Create a default Azure Function via Visual Studio template
2. Add following code to 'local.set

[2021-11-04 07:46] anirugu commented on #2810
I just test your code and change the value of CORS to "http://localhost:7072" it started working.

[2021-11-04 08:16] klachoo commented on #2810
@anirugu Could you please elaborate? Why should I want to change that? The issue here is I would like to have the asterisk symbol to allow all origins.

[2021-11-04 16:07] #2809 closed

[2021-11-04 17:55] anthonychu commented on #2810
Looks like there are 2 issues here:

The first is that when `CORSCredentials` is `true`, you cannot use `*` as the `CORS` origin. Instead, you must specify a comma-separated list of allowed origins. This is why @anirugu's change removed the error. However, you probably don't want `http://localhost:7072` in there; you'll instead want to include the origin for the site that is calling your function

[2021-11-04 20:29] leijae commented on #2050
My solution was that as I was upgrading between VS 2022 Preview, to VS 2022 RC some of my file properties were changed from "Copy if newer" to "do not copy"... when I changed that setting for local.settings.json it resolved the issue.

[2021-11-05 07:37] klachoo commented on #2810
@anthonychu OK. I see. Thank you for the provided clarification. Yes, a better error message would be a nice improvement here. Thanks in advance.

[2021-11-05 12:03] anthonywhite opened #2812 "Call Function from Logic App Standard gives error BadRequest. Http request failed: 'An item with the same key has already been added. Key: Code'."
Using **VS Code** and **Azure Logic App Standard** extension to build a Standard Logic App locally.
Using **Azure Functions Core Tools** for local runtime:
Core Tools Version:       **3.0.3904** Commit hash: c345f7140a8f968c5dbc621f8a8374d8e3234206  (64-bit)
Function Runtime Version: **3.3.1.0**

Calling an **Azure Function** deployed in Azure from the local Logic App, I get the error below. The f

[2021-11-05 15:37] sebader opened #2813 "Option to not show function key after publish"
We are using the function core tools in a CI/CD pipeline to publish some functions and would very much like to not have the function key (`code=...` ) shown as part of the logs in clear text.

Ideally add a switch to the publish command to show/not show the code or the entire URL. Neither is needed for CI/CD pipeline runs.

![image](https://user-images.githubusercontent.com/11445087/140537216-4b23

[2021-11-05 15:52] anthonywhite commented on #2812
Update: the same behaviour happens in the Azure portal with a Standard Logic App created there, calling the Azure Function.

[2021-11-06 05:00] #2757 closed

[2021-11-06 05:00] #2735 closed

[2021-11-06 05:00] #2716 closed

[2021-11-06 20:00] #2767 closed

[2021-11-07 13:43] daigok opened #2817 "Azure Functions preview 4 using dotnet 6 RC2 throws "Grace.Core: Error loading native library error" on Apple Silicon."
I'm developing in-process Azure Function app using following environment.
OS: macOS Monterey 12.0.1
Machine: MacBook Pro M1, 2020
dotnet: 6.0.100-rc2.21505.57
Azure Functions Tools: 4.0.3780

When I start a function `func start`. It started fine however once a trigger function is launched it throws the error below.
`
[2021-11-07T13:30:00.063Z] Grpc.Core: Error loading native library. Not found in

[2021-11-07 19:34] #2294 closed

[2021-11-08 12:59] pravanjan1992 opened #2818 "Azure Function not able to debug locally due to System.ArgumentNullException' in System.IO.FileSystem.dll"
Hi

Azure Function not able to debug in local env due to System.ArgumentNullException' in System.IO.FileSystem.dll
I had enabled the exception setting for the same its showing Appsetting.cs  is missing.

Core tool: 3.30.0
VS-2019

Errors:

<img width="886" alt="Capture" src="https://user-images.githubusercontent.com/93904317/140745743-a6c7533c-6714-45ab-a498-b1fe41979551.PNG">

[2021-11-08 17:24] shrohilla opened #2819 "Kafka Dotnet function template option is not available while creating from core tools"
While creating a function from core tools, if we select the option of dotnet, in the triggering option the Kafka trigger option is absent.

While the template is available in function template 3.x branch -- https://github.com/Azure/azure-functions-templates/tree/v3.x/Functions.Templates/Templates

![dotnet-template](https://user-images.githubusercontent.com/80326489/140788926-01293129-8afb-4efe-9e

[2021-11-08 17:26] pragnagopa commented on #2819
@TsuyoshiUshio  - Please confirm if the dotnet templates already include Kafka template.  If yes, this issue can be scoped to updating templates version referred in Core Tools

cc @soninaren

[2021-11-08 17:58] doggy8088 opened #2820 "func settings delete --connectionString can't delete Connection Strings"
Here are the steps to reproduce:

1. `dotnet new globaljson --sdk-version 3.1.413`
2. `mkdir funcapp1 && cd funcapp1 && func init --worker-runtime dotnet`
2. `func new -t "HttpTrigger" -n "Login" -a "anonymous"`
3. `func settings add DefaultConnection "Data Source=190.190.200.100,1433;Network Library=DBMSSOCN;Initial Catalog=myDataBase;User ID=myUsername;Password=myPassword;" --connectionString`
4

[2021-11-08 18:12] doggy8088 opened #2821 "How to assign func logs with a Kubernetes namespace?"
I saw `func logs` can only retrieve logs from `azure-functions` namespace.

https://github.com/Azure/azure-functions-core-tools/blob/a2634fba228decf73ec886fac413628257eb9e1c/src/Azure.Functions.Cli/Actions/LogsActions/GetLogsAction.cs#L20-L26

Can I assign my own namespace using `func logs` command?

[2021-11-08 20:36] TsuyoshiUshio commented on #2819
Code Pointer for func new azure-functions-core-tools/CreateFunctionAction.cs at dev · Azure/azure-functions-core-tools (github.com)

In this case, current func command reference the old template.

For dotnet, we can find the template version in here.
[azure-functions-core-tools/Settings.cs at v3.x · Azure/azure-functions-core-tools (github.com)](https://github.com/Azure/azure-functions-core-tools/

[2021-11-08 23:40] soninaren commented on #2792
What @anthonychu mentioned is correct, this is a valid version range and locally it tried to find the highest version from the resolved version range from the cdn and download it. However on azure it would first try and find highest matching version of bundle available on the cloud worker, since 2.0.0 is not present on the cloud worker it would resolve it to highest version of 1.x because on cloud

[2021-11-09 01:06] colbytimmsl commented on #2401
+1

[2021-11-09 01:56] anthonychu commented on #2792
Good idea @soninaren. /cc @apawast @michaelpeng36

[2021-11-09 15:34] apawast commented on #1747
Closing this issue as there is a way to opt-out of telemetry collection: [https://github.com/Azure/azure-functions-core-tools#telemetry](https://github.com/Azure/azure-functions-core-tools#telemetry)

[2021-11-09 15:34] #1747 closed

[2021-11-09 15:36] apawast commented on #1755
@Camios are you still experiencing this issue?

[2021-11-09 15:36] apawast commented on #1766
@mcopik are you still experiencing this issue?

[2021-11-09 15:38] apawast commented on #1838
@jsacapdev are you still experiencing this issue?

[2021-11-09 15:39] doggy8088 opened #2822 "No resources found in azure-functions namespace."
1. I deploy my function app to my local kubernetes.

[code]

    I can deploy my function app to my local kubernetes successfully.

2. I tried to show logs for my function

[code]

    It's always show `No resources found in azure-functions namespace`.

[code]

3. I actually can retrieve logs using `kubectl` command.

[code]

I have no clue how to use `func logs` command.  Is it a bug? Or what sho

[2021-11-09 15:40] apawast commented on #1910
@pundergit are you still experiencing this issue?

[2021-11-09 15:42] apawast commented on #1911
@heyyudao are you still experiencing any issues in this area?

[2021-11-09 15:42] apawast commented on #1942
Hi @moritzgloeckl are you still experiencing this issue?

[2021-11-09 15:46] apawast commented on #1963
@aggieben are you still experiencing this issue?

[2021-11-09 15:51] apawast commented on #1984
@dstaley are you still experiencing this issue?

[2021-11-09 15:52] apawast commented on #1987
@NVolcz are you still experiencing this issue?

[2021-11-09 15:53] apawast commented on #2017
@NANASHI0X74 are you still experiencing this issue?

[2021-11-09 15:57] apawast commented on #2024
@GideonWislang are you still experiencing this issue?

[2021-11-09 16:00] apawast commented on #2050
@garrytrinder are you still experiencing this issue?

[2021-11-09 16:03] apawast commented on #2051
@alantang-MSFT are you still experiencing this issue? It looks like the internal bug @vijayrkn opened has been closed as completed.

[2021-11-09 16:31] doggy8088 commented on #2822
I tried to run a wrong command:

[code]

I can see errors finally with some meaningful message:

[code]

So this is the actual command behind the scene:

[code]

It's obvious that the **label** of the deployment is wrong. My actual label is `app=funapp1-http`. So `func logs --platform kubernetes --name funapp1` is actually query for `app=funapp1-deployment` which is wrong.

[2021-11-09 16:47] doggy8088 opened #2823 "Azure Functions Core Tools v4 can't build Dockerfile by default"
Here are the steps to reproduce the problem.

[code]

[code]

The `Dockerfile` file content ( **this might wrong** ).

[code]

Build image

[code]

The result:

[code]

![image](https://user-images.githubusercontent.com/88981/140967592-5117bb81-96bb-4c42-bd9a-5cef3ecf1699.png)

[2021-11-09 16:54] pundergit commented on #1910
No, I ended up programming on a virtual Linux machine connected from my Windows 10 VS Code.

[2021-11-09 17:21] wisaTong opened #2824 "Every `functionapp` sub-command result in "Invalid URI: The URI scheme is not valid." error"
I created a simple function app with `func init` `func new` and then tried to publish it with `func azure functionapp publish myapp` and got "Invalid URI: The URI scheme is not valid." as an output.

output of `CLI_DEBUG=1 func azure functionapp publish myapp`
[code]

`fetch-app-settings`, `list-functions`, and `logstream` also give similar output.

[2021-11-09 17:28] doggy8088 opened #2825 "Azure Functions Core Tools v4 unable deploy to Kubernetes"
[code]

Here are the steps to reproduce the problem.

[code]

Modify the `Dockerfile` file as below:

[code]

Build & Push image

[code]

Deploy my function app with `--dry-run`

[code]

There is only **Secret** been created.

[code]

Where is the other YAML of the deployment?

[2021-11-09 17:40] doggy8088 commented on #2820
The `v3` and `v4` are all buggy.

[2021-11-09 17:58] aggieben commented on #1963
@apawast The function templates are still broken in that they still (well, as of yesterday morning anyway) still use `Update` instead of `Include` (also, this: https://github.com/Azure/azure-functions-core-tools/issues/1663).  Manually editing the .fsproj to use `Include` instead of `Update` solved it for me on the latest tooling and templates.

Also, for anyone following along, this is the best r

[2021-11-09 18:38] ejizba commented on #2783
Correct, this is a duplicate issue - in any case the fix was just merged

[2021-11-09 18:38] #2783 closed, assigned to nobody

[2021-11-09 23:48] NVolcz commented on #1987
We gave up on trying to use Python with Azure Functions after not receiving any help on this issue.
Have you changed anything?

[2021-11-10 03:44] wisaTong commented on #2824
I think I know what my problem is. The `--query` flag for my az CLI doesn't work, so the output was messed up. But I still can't figure out why my `--query` flag does nothing.

[2021-11-10 07:09] maximeLeurent commented on #1987
@NVolcz Did you see my answer?
`Have you changed anything?` => If the question was for me, no I didn't, i implement the way I describe.

[2021-11-10 07:12] Kaushik27 commented on #2033
@apawast, I actually stopped looking into the issue after teams didn't responded in a while.

[2021-11-10 12:36] cmenzi opened #2826 "Support for Azure Container Apps"
As already mentioned here https://github.com/microsoft/azure-container-apps/issues/20, it would very nice if `Azure Functions Core Tools` would support deploying to Azure Container Apps with same simple command you do it for Kubernetes.

[2021-11-10 14:47] wisaTong commented on #2824
This issue might be the root cause https://github.com/Azure/azure-cli/issues/20269

[2021-11-10 20:36] Yoshinonxkun commented on #2451
This was a good hint, thank you! I was able to start `func start host` without an error on my M1 Macbook Pro.

What have I done?

1. Enable Rosetta in iTerm so that you get the following output:

2. install the intel homebrew with:

refer to https://stackoverflow.com/questions/64882584/how-to-run-the-homebrew-installer-under-rosetta-2-on-m1-macbook
3. install azure-functions-core-tools@4 and pytho

[2021-11-10 21:57] fabiocav commented on #2613
@TsuyoshiUshio the changes are now released. Can you confirm that the issue has been resolved? Thanks!

[2021-11-10 22:31] jaliyaudagedara opened #2827 ".NET 6 Isolated: An error occurred while loading required library hostpolicy.dll"
I am trying out Azure Functions 4.0 with .NET 6 Isolated (Out-of-process) and I am getting the following error.
[code]
![image](https://user-images.githubusercontent.com/5653381/141203841-9057ffa6-0367-4e24-af21-788ad65ecc3a.png)

I am using Visual Studio 2022 / Version 17.1.0 Preview 1.0.

I have tried with .NET 5 Isolated, it's a similar error.

However Azure Functions 4.0 with .NET 6, Azure Fun

[2021-11-10 23:21] geg00 opened #2828 "Cannot create directory for shared memory usage: /dev/shm/AzureFunctions [M1 Pro Max Apple]"
Found Python version 3.9.7 (python3).

Azure Functions Core Tools
Core Tools Version:       4.0.3780 Commit hash: 2b9e0e618f69993ff119009e48587b67ac85450e  (64-bit)
Function Runtime Version: 4.0.0.16394

[2021-11-10T23:15:07.679Z] Cannot create directory for shared memory usage: /dev/shm/AzureFunctions
[2021-11-10T23:15:07.689Z] System.Private.CoreLib: Access to the path '/dev/shm/AzureFunctions'

[2021-11-10 23:33] #2285 closed

[2021-11-10 23:38] apawast commented on #2828
@geg00 the fix for this issue should be resolved in functions version 4.03971. Can you please upgrade and see if that fixes it?

[2021-11-10 23:50] apawast commented on #2824
@wisaTong thanks for pointing out the CLI issue. Is okay to close this issue as a duplicate of that one?

[2021-11-10 23:59] apawast commented on #2818
@pravanjan1992 does this work if you run `func start` from the command line instead of debugging through VS?

[2021-11-11 00:09] geg00 commented on #2828
I think I found the file
https://github.com/Azure/azure-functions-core-tools/releases
Can you provide instructions on how to install and overwrite the current preview?

[2021-11-11 01:08] ejizba commented on #2828
The fix has not been released to brew yet, but that should hopefully be soon. To be clear, though, the fix was to remove the errors about "/dev/shm", but you can just ignore those anyways (main issue for this is https://github.com/Azure/azure-functions-core-tools/issues/2600). I think the real reason you're failing to run your app locally is because you are running on an M1 Mac. We have a separate

[2021-11-11 01:08] #2828 closed

[2021-11-11 02:47] wisaTong commented on #2824
Sure, please do.

[2021-11-11 03:13] XYCaptain opened #2829 "EFCore 6.0-System.ArgumentNullException: Value cannot be null. (Parameter 'provider')"
[code]

[code]

[2021-11-11 03:16] #2829 closed

[2021-11-11 10:23] NANASHI0X74 commented on #2017
I don't work at the same place anymore (running a different system configuration now) and haven't used the tool in some time, so can't really give any feedback beyond that I never got it running

[2021-11-11 16:38] pragnagopa commented on #2748
Assigning to @amamounelsayed to drive the work forward.

- Core-Tools images were added to docker repo - purely as a convenience - those images do not build host at all

- These images should be part of the Core-Tools release process - as soon as Core-Tools release completes in apt - images need to be updated

- Core tools images are consumed by vs code dev containers - Example: https://github.com

[2021-11-11 16:39] pragnagopa commented on #2748
cc @nzthiago @eliaslopezgt

[2021-11-11 16:46] #2824 closed

[2021-11-11 17:06] apawast commented on #2252
@rccnw are you still experiencing this issue?

[2021-11-11 17:09] apawast commented on #2423
@mygithubkas apologies for the late response. Are you still experiencing this issue?

[2021-11-11 17:10] apawast commented on #2435
@felpasl apologies for the late response, are you still experiencing this issue?

[2021-11-11 17:11] apawast commented on #2443
@yuyamashiro are you still experiencing this issue?

[2021-11-11 17:12] apawast commented on #2354
@errbufferoverfl are you still experiencing this issue?

[2021-11-11 17:14] apawast commented on #2444
@alexeymarkov are you still experiencing this issue?

[2021-11-11 17:14] apawast commented on #2421
@mygithubkas apologies for the late response. Are you still experiencing this issue?

[2021-11-11 20:36] rccnw commented on #2252
I've moved on from the job where I encountered that issue, so I don't have that setup at hand to easily test. But I did just create an new Azure Function project in VS2022 Current, and it appears the template creates exactly the same code as I reported a year ago.

Perhaps the MSBuild conditional technique you suggested earlier in this thread will work in a pipeline scenario, but it didn't for me

[2021-11-12 11:17] RichMercer commented on #2817
After spending days on this I ended up compiling my own `func` targeting `osx-arm64`. It's the only way I ever managed to get it working. Has anybody got it working on Apple Silicone?

[2021-11-12 17:12] TsuyoshiUshio commented on #2613
Hi @fabiocav
It works perfectly. :) However, Could you give me the pointer what was the issue?

[2021-11-12 17:12] #2613 closed

[2021-11-12 18:52] apawast commented on #1910
I am closing this issue as @pundergit has found a workaround. However, if this issue keeps occuring for others, I'd be happy to reopen.

[2021-11-12 18:52] #1910 closed

[2021-11-12 18:55] apawast commented on #2033
@paulnara are you still experiencing this issue? If yes, could you share some more details as we have not been able to reproduce this.

[2021-11-12 18:59] apawast commented on #1987
Closing as duplicate of https://github.com/Azure/azure-functions-host/issues/5373. The Python team is working on a new programming model.

[2021-11-12 18:59] #1987 closed

[2021-11-12 21:25] iSeiryu commented on #1239
The workaround from @marcin-dardzinski is great, but is there a more native way to do it with dotnet 6? Something like `dotnet watch run` or `func watch start`?

[2021-11-15 15:51] johnpapa opened #2830 "Node 16 support"
After talking with @anthonychu I think my problem (see verbose logs below) is that I have node 16 and the functions tools do not work with those. There are a lot of messages to go through, and it wasnt obvious to me what to do. Opening this to see if this is helpful for y'all.

I swapped to node 14 and it worked.

[code]

[2021-11-15 15:54] johnpapa opened #2831 "JavaScript functions app, Can't get rid of "Can't determine project language" and AspNetCore messages"
When I run `func start` I get these messages. Not sure how to get rid of them

[code]

Then I tried running `func init` as per @anthonychu . I entered these values and got these results

[code]

It seems nothing changed except it added an extension recommendation. The odd language messages persist.

So I ran `func start --javascript` and the messages go away, kind of ...

[code]

And for this, it

[2021-11-15 18:04] ejizba commented on #2831
I can repro this when running `func start` with Node 16 (related to https://github.com/Azure/azure-functions-core-tools/issues/2830). First of all, it should never print multiple times in a row. Second of all, we _can_ determine the language, we just can't run the project because the worker failed. We should improve the error-handling in this case.

info: Microsoft.AspNetCore.Hosting.Diagnostics[1

[2021-11-15 18:05] ejizba commented on #2830
Node 16 support is being tracked here: https://github.com/Azure/azure-functions-nodejs-worker/issues/455 and we can use https://github.com/Azure/azure-functions-core-tools/issues/2831 to track improvements to the logs, therefore closing as duplicate

[2021-11-15 18:05] #2830 closed

[2021-11-15 19:07] anthonychu commented on #2830
OK with closing this. But from discussions with @johnpapa, this is related to https://github.com/Azure/azure-functions-nodejs-worker/issues/363. 2 things we noticed:

* The error about unsupported Node.js version is hard to see.
* Maybe we should just let customers use whatever version they have, but warn if it's not supported. Where versioning is more important might be when we deploy... should c

[2021-11-16 16:20] DustinReagan commented on #2676
@sinedied You mention above

How do you find/list the extensions you need and install them manually?  Thanks for your help.

[2021-11-16 16:27] DustinReagan commented on #2676
I'm having the same issue, btw.

I didn't think MacOS supports shared memory in this linux-y way, correct?

[2021-11-16 20:00] #2051 closed

[2021-11-16 20:00] #2024 closed

[2021-11-16 20:00] #1984 closed

[2021-11-16 20:00] #1942 closed

[2021-11-16 20:00] #1911 closed

[2021-11-16 20:01] #1838 closed

[2021-11-16 20:01] #1766 closed

[2021-11-16 20:01] #1755 closed

[2021-11-17 08:01] stewartadam commented on #2050
@apawast I'm not the original author of the issue but [per above](https://github.com/Azure/azure-functions-core-tools/issues/2050#issuecomment-790044025), definitely still experiencing this.

It would be nice if local.settings.json was safe to gitignore, but today it needs to be checked in or else language detection fails.

[2021-11-17 08:52] sinedied commented on #2676
@DustinReagan To install extension manually, you first have to remove the bundle entry from `host.json`:
[code]
Then you can use the func CLI to install what you need with `func extenion install <extension_name>` or install all extensions with `func extension install`. As for what to install, I usually simply use the binding names used in `function.json` files, but you can also specify the NuGet p

[2021-11-17 08:56] sinedied commented on #2676
@anthonychu Any news on this? This one is quite problematic and I've reproduced it many times (in a 30p workshop, about 20% ended up having this issue).
I'm also quite confident that this is related to the extension bundle download, as I tried downloading the zip file manually (URL from logs) and unzipping it in the right folder fixed the issue.

[2021-11-17 21:33] fabiocav commented on #2632
@apawast do you have any guidance on how to proceed here? We would need some assistance before committing to this.

[2021-11-17 21:53] davidmrdavid commented on #2632
My apologies, I did not see that I was tagged on this thread. I'll be following up internally to engage the right folks

[2021-11-18 02:00] #2818 closed

[2021-11-18 07:54] arjen-navara commented on #2366
Integration testing support with TestServer for Azure Functions would be a huge improvement to get our testing strategy on par with regular ASP.NET Core Web API's.

[2021-11-18 10:39] anthonywhite opened #2832 "Core Tools v3 Not Implementing Asynchronous Pattern on Logic App Standard Workflow Calling Another Workflow"
### Developer Environment
Windows 10
VS Code 1.62.2
Logic App Standard Extension 28 Oct 2021
Node 14.17.6
PowerShell 7.2.0
Core Tools Version: 3.0.3904 64-bit
Function Runtime Version: 3.3.1.0

### Scenario
Logic App Standard **Workflow A**:
- HTTP trigger
- Delay 250 seconds
- Response set to _Asynchronous_

Logic App Standard **Workflow B**:
- HTTP trigger
- HTTP call to **Workflow A** with _Asy

[2021-11-18 17:57] jason-mwnz opened #2833 "Azure function(javascript) - read local.settings.json property during testing"
- nodejs 14

- JavaScript

During the development time, i can use "process.env[propertyName]" to access the property value inside the local.settings.json file fine. Then i install Jest framework to do the unit testing, i just realised my function app failed to read any values from local.setting.json, or it actually running different environment during development and unit test(i print out the all

[2021-11-18 18:55] michaelpeng36 commented on #2786
@PCOffline It sounds like the issue you're describing is slightly different. Could you please file a new issue?

[2021-11-18 19:28] ejizba opened #2834 "Support running on M1 Macs"
Update: Core tools support for M1 macs has been released for both npm and brew.

In addition to work on core tools, each language worker also needs to add support individually:
- Done:
    - Node.js - tracked [here](https://github.com/Azure/azure-functions-nodejs-worker/issues/386)
    - .NET
    - .NET Isolated
    - PowerShell - tracked [here](https://github.com/Azure/azure-functions-powershell-

[2021-11-18 19:33] ejizba commented on #2394
Consolidating M1 issues. Will use https://github.com/Azure/azure-functions-python-worker/issues/915 for Python work and https://github.com/Azure/azure-functions-core-tools/issues/2834 for core tools

[2021-11-18 19:33] #2394 closed

[2021-11-18 19:34] ejizba commented on #2397
Consolidating M1 issues. Will use https://github.com/Azure/azure-functions-python-worker/issues/915 for Python work and https://github.com/Azure/azure-functions-core-tools/issues/2834 for core tools

[2021-11-18 19:34] #2397 closed

[2021-11-18 19:35] ejizba commented on #2468
Consolidating M1 issues. Will use https://github.com/Azure/azure-functions-core-tools/issues/2834 for tracking in core tools

[2021-11-18 19:35] #2468 closed

[2021-11-18 19:36] ejizba commented on #2817
Consolidating M1 issues. Will use https://github.com/Azure/azure-functions-core-tools/issues/2834 for tracking in core tools

[2021-11-18 19:36] #2817 closed

[2021-11-18 19:37] ejizba commented on #2680
Consolidating M1 issues. Will use https://github.com/Azure/azure-functions-python-worker/issues/915 for Python work and https://github.com/Azure/azure-functions-core-tools/issues/2834 for core tools

[2021-11-18 19:37] #2680 closed

[2021-11-18 19:42] ejizba commented on #2303
Consolidating M1 issues. Sounds like the root problem for this issue was fixed as of this comment: https://github.com/Azure/azure-functions-core-tools/issues/2303#issuecomment-767935605. For general M1 support (we know there are still problems), we will use https://github.com/Azure/azure-functions-core-tools/issues/2834 for tracking going forward

[2021-11-18 19:42] #2303 closed

[2021-11-18 20:01] #2444 closed

[2021-11-18 20:01] #2435 closed

[2021-11-18 20:01] #2423 closed

[2021-11-18 20:01] #2354 closed

[2021-11-19 23:00] #2443 closed

[2021-11-19 23:00] #2033 closed

[2021-11-21 00:19] acrov opened #2835 "Option to output log category to Azure Functions Core Tools Function Runtime console and logfile"
#### What problem would the feature you're requesting solve? Please describe.
I'm always frustrated when I can see my log output in the Azure Functions Core Tools Function Runtime console but I cannot see what class is emitting the log entries because the log category is not included in output.
This would be very useful during development and also to more easily understand and refine log filters.

[2021-11-21 15:24] PCOffline opened #2836 "Azure Functions Core Tools v3 Randomly Crashing/Stopping"
I have this issue on Node 14 with `azure-functions-core-tools@3.0.3904` release on npm. The function-app is launched perfectly fine, however it can just decide to crash in one of the next scenarios:
1. Instantly after starting
2. Up to 5 minutes after starting
3. At least an hour after starting

There is no consistency, though, and sometimes the function-app may not crash at all.

These are the lo

[2021-11-22 08:43] mdddev commented on #1239
I second what @iSeiryu said. Afterall, hot reload was successfully kept in NET6 also vor non Visual Studio users. How can this be integrated into the function core tools?

[2021-11-23 09:04] PCOffline commented on #2836
And some details about my system and project:
Running in VS Code Version 1.62.3 (user setup)
Node v14.18.0
npm 6.14.15
PowerShell 7.2.0

[2021-11-23 18:40] apawast commented on #2836
@PCOffline could you please share repro steps and your app with us? It is hard to determine what is causing the problem.

[2021-11-23 18:54] apawast commented on #2017
@NANASHI0X74 since you are no longer working with this, I will be closing this issue. If anyone else is still experiencing this issue please feel free to open another one.

[2021-11-23 18:54] #2017 closed

[2021-11-23 22:26] bkane-msft commented on #2050
I'm also running into this. I tried to clone my project from Git and ran `func azure functionapp publish <appname>`.

[2021-11-24 05:29] PCOffline commented on #2836
1. Launch my app on VSCode
2. Press F5 (that starts a sequence of `npm install`, `tsc` and `func host start`
3. Wait for the functionapp to start

[2021-11-25 08:31] jesperkristensen opened #2837 "When will V4 come out of preview?"
According to https://github.com/Azure/azure-functions-core-tools#installing Azure Functions Core Tools v4 is still in preview.

Given that Azure Functions 4.0 has been generally available in Azure for some time now (https://techcommunity.microsoft.com/t5/apps-on-azure/azure-functions-4-0-and-net-6-support-are-now-generally/ba-p/2933245), will the Core Tools v4 be released soon?

[2021-11-25 12:05] kamlesh-nb opened #2838 "Could not load type 'System.Diagnostics.DebuggerStepThroughAttribute'"
I am getting below error when trying to run the Azure Function with Event Hub Trigger locally in VS Code. I a using Azure Function v4 and .NET 6.0.  and VS Code Azure Function Extension v1.6.0

[2021-11-25T12:03:26.962Z] A host error has occurred during startup operation 'ba320ce1-bd77-4a1b-b583-fa7beae3196b'.

[2021-11-25T12:03:26.965Z] System.Private.CoreLib: Could not load type 'System.Diagnost

[2021-11-25 18:13] anthonychu commented on #2837
It’s not in preview anymore. We missed updating the readme when GA was announced. We’ll update that. Thanks for letting us know.

[2021-11-25 20:13] anthonychu opened #2841 "Default to v4 on npm"
Mark v4 as `latest` on npm.

[2021-11-26 09:57] leryss opened #2842 "Building python func app doesnt work if requirements packages are local"
I have the following pip requirements.txt

[code]

Running the function from within vscode works normally but when I try to publish it with:
`func azure functionapp publish my-func-app --build local --build-native-deps`

I get:
[code]

Remote build yields something similar, same for publishing from vscode directly

[2021-11-26 13:14] orty opened #2843 "Error calling sync triggers (BadRequest)."
Hi,

When moving from `.Net Core 3.1/Azure Functions runtime v3` to `.Net 6/Azure Functions runtime v4`, we started encountering the following error when publishing our functions to Azure :
`Error calling sync triggers (BadRequest). Request ID = '80a42858-06a5-4a5e-9ea3-a477d4178cb8'.`

The function app itselfs shows the list of functions (in the portal and by JSON request), but the following aler

[2021-11-27 05:59] aescolastico opened #2844 "Specify custom python binary path for "func start" terminal command?"
Currently I have to set an alias for "python" if I want core tools to use a specific version. Is there a parameter I can feed the command or some value in the settings file I can use to achieve this? The reason being that I need to use a different version of python for az func development then I do for every day use. Modifying my alias' is quite inconvenient.

Thanks in advance and apologies if th

[2021-11-28 10:48] alfosua commented on #2676
@sinedied Please, can you tell me where you exactly extracted it? I'm extracting the zip right into `C:\Users\{username}\.azure-functions-core-tools\Functions\ExtensionBundles\Microsoft.Azure.Functions.ExtensionBundle` (all files just right there.) But it is still trying to download the file...

[2021-11-28 11:00] alfosua commented on #2676
I think the error message `Value cannot be null. (Parameter 'Provider')` is somewhat misleading. Perhaps the download needs a bit more exception handling to tell better what's going on. Another thing, I suppose the problem for me is because of some kind of timeout when downloading. My internet is poor, and the extension bundle sizes about 70 MB, which took me about 10 minutes to download.

[2021-11-29 20:17] #2837 closed

[2021-11-30 00:29] aescolastico commented on #2844
I tried setting the env variable based on comments in this file ("languageWorkers:python:defaultExecutablePath"):

https://github.com/Azure/azure-functions-core-tools/blob/6a070fb40308438c758ba8ab69399845bd698391/src/Azure.Functions.Cli/Helpers/PythonHelpers.cs#L136

[code]

[2021-11-30 18:34] michaelpeng36 commented on #2844
@aescolastico, what version of Python are you trying to use? Typically, we encourage users to use a virtual environment.

[2021-11-30 18:38] michaelpeng36 commented on #2843
@orty does this happen consistently or intermittently? Because this may be the result of multiple issues, would you be able to open a support ticket for this to receive the help you need?

[2021-11-30 18:44] michaelpeng36 commented on #2842
@leryss would it be possible for you to move `my-package` into the function app folder?

[2021-11-30 18:49] Francisco-Gamino opened #2846 "Update .Net 6 to version 6.0.100 for the Core Tools V4"

[2021-11-30 18:49] michaelpeng36 commented on #2838
@kamlesh-nb Is this the full error message you are seeing? If not, could you include it? @fabiocav do you have an idea of what may be causing this?

[2021-11-30 18:53] michaelpeng36 commented on #2836
@PCOffline yes, would you be able to share the video?

[2021-11-30 18:58] michaelpeng36 commented on #2798
@mariotebest  Would you be able to create an issue on the `azure-sdk-for-net` repository?

[2021-11-30 18:58] #2798 closed

[2021-11-30 21:08] stewartadam commented on #2050
pinging @apawast to get this re-opened

[2021-11-30 21:31] fabiocav commented on #2526
@apawast I'm removing this from the project. Please let me know if you need any help assigning this item.

[2021-11-30 21:52] aescolastico commented on #2844
I have an rosetta x86_64 emulated install of python3 located in '/usr/local/bin/python3'
and an arm version installed in '/opt/homebrew/opt/python@3.9/libexec/bin/python'

Im running 3.9 for both. I need to use the emulated version in order to run func tools on my M1 mac. Arm python is not currently supported by this application.

When func tools "finds" the python located at '/usr/local/bin/pytho

[2021-12-01 00:09] anthonychu commented on #2844
@aescolastico I don't have an M1 Mac yet to test this but give this a try:

[code]

Now when you use `func`, it should use the right binary.

M1 support is tracked here #2834

[2021-12-01 00:19] anthonychu opened #2848 "Automatically detect language and generate local.settings.json"
If local.settings.json is missing and `func start` is run, attempt to determine the language and create a local.settings.json file with the worker runtime set to the detected language.

If the language can't be detected for a project, print a single warning letting customer know how to resolve it. Currently it's printing a warning multiple times and it's not clear how to resolve (guidance should b

[2021-12-01 00:21] anthonychu commented on #2050
Created #2848 as a potential solution

[2021-12-01 00:25] anthonychu opened #2849 "func init --csharp doesn't work on an existing project"
It should be possible to use `func init` to create a local.settings.json file with a worker runtime value configured. This doesn't work for C#:

[code]

Rerunning with `--force` is not helpful because we don't want to overwrite existing files.

Other languages like Python are working:

[code]

[2021-12-01 01:37] aescolastico commented on #2844
So this:
[code]
actually still pointed to my opt python "site-packages" directory (likely due to some hardcoded alias' in my bash_profile). I think that's what I was running into when I tried to use venvs the other day. Your use of which gave me that hint.

when I manually specified the path to the binary in my venv, it worked.
[code]
<img width="896" alt="image" src="https://user-images.githubuse

[2021-12-01 01:57] #2844 closed

[2021-12-01 16:56] santhoshtns commented on #2399
Changing to v2.14 works.

[2021-12-01 18:20] kamlesh-nb commented on #2838
@michaelpeng36 Yes this is the full message that I see.

[2021-12-01 19:41] boylec commented on #2685
+1

* dotnet-isolated
* MacOS 11.6
* csproj file:
[code]
* `func start`
* log
[code]

Seems to be intermittent, failing to start about 80% of the time. Quite disruptive.

[2021-12-01 21:34] boylec commented on #2685
I had a call to .AddAzureKeyVault in my ConfigureAppConfiguration hook.

Once I removed that the issue is entirely resolved.

[2021-12-01 21:56] apwestgarth opened #2850 "Creating new function targetting .NET 3.1 produces a v4 function targetting .NET 6"
Running into an issue when creating a new .NET Function targetting .NET 3.1 where the function generated is requiring Functions SDK 4.0 and .NET 6.0.  This is currently breaking Arc scenarios.

Using this docs as reference - https://docs.microsoft.com/en-us/azure/azure-functions/create-first-function-arc-cli?tabs=csharp%2Cbrowser

Commands used to reproduce:

func init LocalFunctionProj --dotnet -

[2021-12-02 10:15] raorugan opened #2851 "Incorrect Functions core tools installation with chocolatey packages"
The command choco install azure-functions-core-tools 2 and choco install azure-functions-core-tools both install v 3.0.3442 but choco install azure-functions-core-tools 3 installs v4.0.3928

[2021-12-02 19:41] ejizba commented on #2851
Duplicate of https://github.com/Azure/azure-functions-core-tools/issues/2807

[2021-12-02 19:41] #2851 closed

[2021-12-02 20:40] Francisco-Gamino commented on #2846
This issue has been fixed.

[2021-12-02 20:40] #2846 closed

[2021-12-02 20:43] Francisco-Gamino opened #2854 "Add Microsoft.Build version 17.0.0 to build the Core Tools project in Visual Studio 2022"
Building the Core Tools V4 for integration testing as well as in Visual Studio 2022 requires `Microsoft.Build` version `17.0.0` for this type:
 https://github.com/Azure/azure-functions-core-tools/blob/v4.x/src/Azure.Functions.Cli/Helpers/ProjectHelpers.cs#L58.

For more information on adding the Nuget package `Microsoft.Build`, please see: https://github.com/dotnet/msbuild/blob/main/documentation/

[2021-12-03 07:17] reflash opened #2856 "Unsupported Zip format or corrupted zip file"
Hi!

I was trying to publish azure function app via cli to Azure, unfortunately it's not working as I expect

[code]

Here's the output I'm gettings:
[code]

In console I can find "FAILED TO INITIALIZE RUN FROM PACKAGE.txt" which contains:
Run From Package Initialization failed. Unsupported Zip format or corrupted zip file.
This could be a leftover from previous runs as I was trying to use core to

[2021-12-03 13:44] josh-endries opened #2857 "VS2019 timer trigger v3 function app does not start up if timer trigger is past due"
I just created a new v3 timer trigger Function in a new Function App using .NET 5 isolated, VS 16.11.2. It downloaded the latest tools 3.30.1***, but every other time I start it up (1 minute timer), it fails to start and attach a debugger. The next attempt, it works. I believe it's due to the Function executing immediately due to being past due whenever I make some code changes. I have RunOnStartu

[2021-12-03 21:22] michaelpeng36 commented on #2807
@flcdrg thank you for letting us know about this issue! We have now unlisted the Core Tools V4 packages.

[2021-12-03 21:22] #2807 closed

[2021-12-04 17:43] leryss commented on #2842
Hi, sorry for the late answer, I fixed it by uploading the package to a private package manager

[2021-12-04 19:11] nSwann09 commented on #2702
any update on this?

Bullseye has been the stable release since august, it would be great is MS could update support for Debian.

[2021-12-04 21:06] peterdemaeyer opened #2860 "Installation fails on Ubuntu impish"
Installation using Ubuntu 21.10 impish fails, using any of the installation methods, also when using 21.04 as fallback.

1. Using the procedure in the `README.md`: `https://packages.microsoft.com/config/ubuntu/21.10/packages-microsoft-prod.deb` fails with `404: Not Found`. The obvious first problem is that the directory `https://packages.microsoft.com/config/ubuntu/21.10/` exists, but there is no

[2021-12-04 23:04] michaelpeng36 opened #2861 "Standardize the way templates are handled across runtimes"
Currently, the way templates are handled for projects with a .NET worker runtime is hard-coded
https://github.com/Azure/azure-functions-core-tools/blob/580458df50de10663b2019b040fae34bf2cf5049/src/Azure.Functions.Cli/Helpers/DotnetHelpers.cs#L89
This should be removed and replaced with a method that is standardized across all worker runtimes (for example, getting templates from the extension bundl

[2021-12-05 08:48] PCOffline commented on #2836
Hey, apologies for the delay, I will only be able to get to my pc on Monday, I'll record a video first thing in the morning.

[2021-12-06 19:12] E-HO opened #2863 "App Service Plan / Linux / Python / uuid library deployment"
Hi,

I'm encountering a blocking issue while trying to deploy a solution using:
- Azure Functions on a Standard "App Service Plan",
- under Linux for Python (Runtime version or Python version don't make a difference, however tested first with ~4 and 3.9)
- any pip library using the standard "uuid"

**### Way to reproduce:**
- Create a project using VS Code and Azure functions Core tools
- Create a

[2021-12-07 12:53] RCSandberg commented on #2413
Just to also iterate, kind of what's already been said... the problem is also present running isolated processes in .NET 6

[code]

Having `MySpecialAppSettingConnectionString` set correctly in _local.settings.json_ will work just fine.

But it will not get picked up correctly from user secrets.

[2021-12-07 18:35] michaelpeng36 commented on #2863
@E-HO , do you have this app in a public repository? @vrdmr @fabiocav this seems like either a Python worker or Host issue. Could you help with this?

[2021-12-07 18:44] michaelpeng36 commented on #2856
@reflash , could you open a support ticket via the Azure portal? This issue may require taking a look at your code.

[2021-12-07 18:45] #2854 closed

[2021-12-07 18:49] michaelpeng36 commented on #2850
@apwestgarth , passing arguments to the `--version` parameter is currently not supported. We will add an error message for now to indicate this, but switching between Core Tools versions will be an improvement that will take place over a longer term.

[2021-12-07 21:39] cgillum opened #2865 "Homebrew install on Linux/WSL2 installs incompatible func binary"
This is running on WSL2 with Ubuntu. I know we have separate instructions for Ubuntu, but I prefer to use homebrew whenever possible as my package manager.

### Repro steps
1. brew tap azure/functions
2. brew install azure-functions-core-tools@4
3. func version

The result is the following error message:

[2021-12-07 22:10] E-HO commented on #2863
Hi,

No specific project is made, since a simple line of code from the default "HTTP Trigger" is enough to create the problem.
This issue don't occurs locally or in others projects who don't use App Services and Azure Functions ... so indeed i think it's more an issue on the worker or on the hosts (there are 2 different errors logs for them).

Thanks,

[2021-12-07 23:00] #2843 closed

[2021-12-08 07:09] tomkerkhove opened #2867 "Provide support for Cosmos DB Changefeed in func deploy kubernetes"
Provide support for Cosmos DB Changefeed in func deploy kubernetes so that it automatically installs the external scaler for Azure Cosmos DB ([GitHub](https://github.com/kedacore/external-scaler-azure-cosmos-db)) and create the scaled object correctly.

[2021-12-08 19:17] kelps opened #2868 "choco install azure-functions-core-tools-4 not working (looks like it is not available in the feed)"
I just tried to install azure-function-core-tool-4 using chocolatey, but it didn't work, saying the package was not found. I searched the packages there and in fact I couln't find v4.

the command I used was
[code]

I got that command from this readme file: https://github.com/Azure/azure-functions-core-tools/blob/dev/README.md

Either the file should be updated to represent what is actually availa

[2021-12-09 08:00] reflash commented on #2856
Thank you! I have figured it out after some experiments 😄
It's a bit weird, but once I dropped the zip file size from 300mb to ~100mb, it suddenly started working normally

[2021-12-09 13:07] kamlesh-nb commented on #2838
@michaelpeng36 Can I expect some answer?

[2021-12-09 21:03] peterdemaeyer commented on #2860
I had to fall back to as far as focal, and then installation succeeded using the procedure from the Microsoft docs.

[2021-12-10 14:38] #2856 closed

[2021-12-10 15:15] fsudderthrenfroe commented on #2060
Is this being worked on?

[2021-12-10 16:51] jasonchester commented on #1892
This is probably due to **InternalListIncludedFiles** not passing ignoreParser into FileSystemHelpers.GetLocalFiles @ line 827

https://github.com/Azure/azure-functions-core-tools/blob/cc03b39f7c2451c78ae100ce8fa30dd6214304b0/src/Azure.Functions.Cli/Actions/AzureActions/PublishFunctionAppAction.cs#L819-L831

Compare to how InternalListIgnoredFiles is working.
https://github.com/Azure/azure-functio

[2021-12-11 19:19] dushrba commented on #2838
@kamlesh-nb  Try installing Command line tools for Azure Functions
`npm i -g azure-functions-core-tools@4 --unsafe-perm true`

I had the same problem with VS Code , .Net6 and Azure Functions Extensions V1.6.0
[https://github.com/Azure/azure-functions-core-tools](url)

[2021-12-13 16:02] debanjan89 opened #2870 "Error : Value cannot be null. (Parameter 'provider') from Azure Function Core Tools in Python"
Hi All,
I am trying to run sample blobTrigger boiler plate code from VS Code Python. I got below error.
Error :
Value cannot be null. (Parameter 'provider')

Sharing the verbose logs for reference...
Found Python version 3.9.2 (py).

Azure Functions Core Tools
Core Tools Version:       4.0.3971 Commit hash: d0775d487c93ebd49e9c1166d5c3c01f3c76eaaf  (64-bit)
Function Runtime Version: 4.0.1.16815

[

[2021-12-13 21:27] jaymegordo commented on #2842
I have this same issue. I'm developing an azure functions app which works fine, but then I split off some modules into a generic "utils" type package, which is now in a separate directory. Would be helpful to know how to include this with the docker build.

[2021-12-14 02:44] michaelpeng36 opened #2871 "Port SBOM generation changes to V2 and V3 branches"
PR #2869 adds an SBOM generation task to the build pipeline. This change needs to be ported over to all branches that use `azure-pipelines.yml` to build, namely the V2 and V3 branches.

[2021-12-14 10:23] RiaanVR commented on #2702
Indeed it would be great to have this,

For now, a workaround that hasn't caused problems for my team is to use the older package from Debian 10..

We are waiting on [this](https://github.com/Azure/azure-functions-docker/issues/578) issue to remove our workaround .

[2021-12-14 11:40] Thyholt commented on #2836
https://docs.microsoft.com/en-us/answers/questions/598791/azure-function-fails-with-functioninvocationexcept.html

[2021-12-14 16:08] kamlesh-nb commented on #2838
@dushrba Thanks, I will give it a try.

[2021-12-14 16:50] michaelpeng36 commented on #2819
Closing, as this is fixed by PR #2862

[2021-12-14 16:50] #2819 closed

[2021-12-14 19:40] EvanMulawski opened #2872 "Function startup fails when using System.Memory.Data 6.0.0"
When attempting to start a v4 function app that uses **System.Memory.Data 6.0.0**, startup fails due to the following error:

[code]

The version of **System.Memory.Data** delivered in Core Tools 4.10.1 is `1.0.2`. Replacing this DLL with a `6.0.0` version in the Core Tools CLI directory resolves this startup error.

(Replaced `%USERPROFILE%\AppData\Local\AzureFunctionsTools\Releases\4.10.1\cli_x6

[2021-12-14 22:10] anthonychu commented on #823
@vijayrkn Do you know if VS does anything to override this setting?

[2021-12-15 04:14] toklive opened #2873 "azure function v4 is not detected by default by vs 2022 for mac"
0

I have installed Azure funciton v4 and ie the default runtime for the azure function core tools. But while debugging the azure funciton using VS 2022 for Mac it is starting the azure function v3 and while looking at the source it seems it is using different azure CLI from addins come with part of visual studio 2022. Anyway we can select our own version of azure function runtime like how VS code

[2021-12-15 20:29] michaelpeng36 opened #2874 "Remove Python 3.6 dependency in publish-scripts for Core Tools v3.x branch"
Currently, `publish-scripts` uses a deprecated method to build .DEB files for publishing Core Tools to APT, creating a dependency on Python 3.6 for running the script. This method invocation should be altered to `distro.name()`, as indicated by [this post](https://stackoverflow.com/questions/49554443/platform-linux-distribution-deprecated-what-are-the-alternatives).

[2021-12-15 20:48] michaelpeng36 commented on #2860
@peterdemaeyer thank you for bringing up this issue. I have just updated the relevant repository. Could you try installing again using the instructions from the `README.md` and Ubuntu 21.10 impish? Let me know if this issue persists.

[2021-12-15 21:17] fmussari commented on #2676
@alfosua
Thanks, this worked for me!

[2021-12-15T20:36:06.787Z] Looking for extension bundle Microsoft.Azure.Functions.ExtensionBundle at C:\Users\{username}\.azure-functions-core-tools\Functions\ExtensionBundles\Microsoft.Azure.Functions.ExtensionBundle
[2021-12-15T20:36:06.793Z] Found a matching extension bundle at **C:\Users\{username}\.azure-functions-core-tools\Functions\ExtensionBundles\Mic

[2021-12-15 22:42] toklive opened #2876 "Dotnet 6.0 Azure function v4 build error - Visual Studio for Mac"
Build Error
[code]

[code]

[code]

Azure function .csProj config
[code]

[2021-12-15 23:35] michaelpeng36 commented on #2702
I have updated the relevant repository so that Core Tools V4 should be available on Debian 11. Let me know if any issues occur.

[2021-12-15 23:35] #2702 closed

[2021-12-16 00:44] #2874 closed

[2021-12-16 06:52] #2870 closed

[2021-12-16 13:39] andrew-benson commented on #2876
Hi there, it seems a .NET 6 install breaks your Function app builds from what I can tell by reading this useful thread on it: https://issueexplorer.com/issue/dotnet/installer/11951. They're talking about reinstalling .NET 5. I also got this issue but was able to get around it another way by doing some clean up with my SDK and Runtimes currently installed.

I'd recommend downloading the .net uninst

[2021-12-16 15:05] MACEL94 commented on #2825
upvote, i am encountering the same bug

[2021-12-16 17:03] toklive commented on #2834
Does this work for .NET 6 and Azure function v4? if not any timeline when M1 support will be available?

[2021-12-16 17:11] RichMercer commented on #2834
I never got it working but compiled the source myself to target arm64 and copied it over the top of the brew install location. Works lovely now. :)

[2021-12-16 17:30] TsuyoshiUshio opened #2878 "Release CoreTools Java Image for Functions V4"
We are releasing Core Tools Image for Functions V4 with Bullseye.

However, Java don't have bullseye base image. It will be released soon.
Once it is released, We need to update the Azure DevOps pipeline yaml file for enabling publish.

[2021-12-16 18:38] apawast commented on #2842
@leryss I am closing this issue as resolved since you have a workaround. @jaymegordo if you are still having this issue, could you please open a new issue and provide more details?

[2021-12-16 18:38] #2842 closed

[2021-12-16 18:40] apawast commented on #2838
@kamlesh-nb have you tried the above solution?

[2021-12-16 18:43] apawast commented on #2749
@alstel are you still having this issue?

[2021-12-16 19:08] toklive commented on #2876
Thank you I have cleaned and kept only 6.0, now i am getting other error and it seems related to https://github.com/Azure/azure-functions-core-tools/issues/2873

VS 2022 for mac trying to load the function 3 instead of 4

[code]

[2021-12-16 23:25] andrew-benson commented on #2876
When I created my v4 function app, I did it from vscode using the Azure Functions extention. That seemed to install the necessary v4 core tool for me (that's what I got a glimpse of in the output window), perhaps give that a try then. Hope VS Code can help solve your issue:  https://docs.microsoft.com/en-us/azure/azure-functions/create-first-function-vs-code-csharp?tabs=in-process

[2021-12-16 23:47] toklive commented on #2876
Thanks Andrew. Yes VS code works , issue is with VS 2022 for Mac

[2021-12-17 07:10] EdiWang commented on #2834
Adding related issue https://github.com/Azure/azure-functions-core-tools/issues/2180

[2021-12-17 08:41] MACEL94 commented on #2556
I found this bug too when working with #2789 .
It's a shame because during .NET Conf i understood we should all be moving towards .NET Isolated process and spent time trying to get this working only to then see nothing but a secret being generated.
There is also no error in the output when i launch my func kubernetes deploy and use the --debug:
`Running 'docker images -q octobertestcloudbackend.az

[2021-12-17 09:33] andrew-benson commented on #2876
@toklive Brill. However I haven't been able to get the debugger to attach in VSCode, so I'm unable to hit any breakpoints in my HttpTrigger function - I am using...
[code]

Debugger attaches fine on a console app though so seems that it's just a problem for Function apps then.
For now I'm not sure how to fix this issue but may open it up in a new ticket.

[2021-12-17 15:07] peterdemaeyer commented on #2860
Using the instructions in the `README.md` it still fails, but using the procedure in the Microsoft docs it works now for impish.

[2021-12-17 16:53] toklive commented on #2876
Thanks for the update @andrew-benson

[2021-12-17 21:35] #2871 closed

[2021-12-18 04:43] EvanMulawski commented on #2872
This is also preventing startup when deployed to Azure.

![image](https://user-images.githubusercontent.com/1044791/146629247-86328375-8ae4-4821-8cea-a2ebda014df5.png)

[2021-12-19 21:16] piotr-lasota opened #2881 "invalid Framework/Functions version match (net6.0 to v3) when using func init --worker-runtime dotnet-isolated"
## Problem summary
Invalid Azure Functions Version (v3 instead of v4) in template-generated `.csproj` file.

### Environment context
[code]

### Use context
Following the step-by-step [Quickstart: Create a C# function in Azure from the command line](https://docs.microsoft.com/en-us/azure/azure-functions/create-first-function-cli-csharp?tabs=azure-cli%2Cisolated-process#create-a-local-function-proj

[2021-12-20 16:18] EvanMulawski commented on #2872
Workaround: adding `<_FunctionsSkipCleanOutput>true</_FunctionsSkipCleanOutput>` to the project file.

[2021-12-21 09:57] #2836 closed

[2021-12-23 01:19] toklive commented on #2834
That is awesome to hear. If it is working fine, any idea when this will be available officially for Dotnet ?

[2021-12-23 06:26] doggy8088 opened #2884 "Azure Functions Core Tools v4 (func init) produce wrong AzureFunctionsVersion to v3"
Here are the steps to reproduce this problem.

1. Check `func --version`: `4.0.3971`

2. Create project

[code]

4. Get content of the `type azfunctest1.csproj` file

[code]

    The `AzureFunctionsVersion` should be `v4`.

[2021-12-23 06:27] doggy8088 commented on #2884
Dup of #2881

[2021-12-23 06:27] #2884 closed

[2021-12-23 06:51] doggy8088 commented on #2825
@MACEL94 It seems nobody watching this repo. I reported a few issues that is been stalled for more than 1 month.

[2021-12-23 17:23] abouroubi commented on #1031
Is there any news on this ?
I use conda for my environment management and I frankly don't see my self going back to venv, it's a weird choice to force user to use an environment manager.

[2021-12-23 23:00] #2838 closed

[2021-12-23 23:00] #2749 closed

[2021-12-26 09:18] jammehcow commented on #2825
I'm intending on deploying a set of .NET 6 functions to a kubernetes cluster early next year. Would be great to have this fixed by then!

[2021-12-26 21:19] bjornharrtell opened #2885 "Cannot manipulate req.HttpContext.Response locally"
The trick described in https://stackoverflow.com/questions/67301743/how-to-return-stream-of-data-from-azure-function-http which can be used to for example stream the response works when deployed at Azure but locally it fails with:

[2021-12-26T20:59:57.885Z] An unhandled host error has occurred.
[2021-12-26T20:59:57.885Z] Microsoft.AspNetCore.Server.Kestrel.Core: Headers are read-only, response ha

[2021-12-27 22:13] yuhaodai commented on #1031
years passed but nothing.

[2021-12-28 09:07] E-HO commented on #2863
Hi @vrdmr , @fabiocav ,

Any news on this bug submitted 3 weeks ago ? I made others tests but it remains a blocking point.

Regards,

[2021-12-28 15:41] ajonno commented on #2834
same, we really need this official M1 support too

[2022-01-01 09:03] hholst80 opened #2886 "func cli colors"
An image is worth a thousand words.

![IMG_20220101_100120.jpg](https://user-images.githubusercontent.com/6200749/147847468-e0dea7a5-af07-48df-bb78-e37f53a7b6f6.jpg)

[2022-01-01 09:10] hholst80 commented on #2886
Sorry I had the wrong TERM. With TERM=tmux-256color it looks better.
I would still think it would be good to disable the color stuff to improve readability in dark monitor setup.

![IMG_20220101_101029.jpg](https://user-images.githubusercontent.com/6200749/147847577-b0dec575-124b-4c90-a086-72bfdd2e4ea4.jpg)

[2022-01-03 16:57] TroyWitthoeft commented on #2868
@kelps Yeap.  I don't think chocolatey has an official v4 package right now?

https://community.chocolatey.org/packages/azure-functions-core-tools-4
![image](https://user-images.githubusercontent.com/1102958/147956775-77c65108-6651-467d-8329-7534119f3649.png)

If you removed azure-function-core-tool-3 and the install of v4 failed, then you'll probably have to reinstall v3.
FWIW, the npm way of ins

[2022-01-03 20:30] sven5 commented on #2812
@michaelpeng36  Any news here? I'm facing the same issue when trying to call a durable azure function from a logic app.

[2022-01-03 21:02] anthonywhite commented on #2812
Microsoft support told me this is an acknowledged bug and as fix is on the way...

[2022-01-03 21:04] sven5 commented on #2812
I'm currently working around this by using plain HTTP request instead of Azure function activity.

[2022-01-03 21:17] anthonywhite commented on #2812
Me too.

[2022-01-03 23:05] #2868 closed

[2022-01-04 13:50] cristobal opened #2889 "Document --prefix and --script-root as cli options that are available to use from func start"
## Background
We are currently working on a TypeScript project where our code is laid out as following:

[code]

And the corresponding output from the tsc compiler:

[code]

However to get this approach working we had to navigate trough several issues and comments on this topic.
And to make our code work locally we had to prefix the `func start` with `--prefix dist` or otherwise we could also use

[2022-01-06 19:57] Swimburger opened #2891 "Inconsistent casing of PowerShell language when running `func templates list -l powershell`"
This is a minuscule issue. When running `func templates list -l powershell` the output is:
[code]

The RabbitMQ trigger should be listed with the rest of the PowerShell templates under the correctly capitalized PowerShell.

[2022-01-08 20:16] wsugarman commented on #2796
Resolved as part of https://github.com/Azure/azure-functions-core-tools/pull/2799

[2022-01-08 20:16] #2796 closed

[2022-01-10 16:29] jakub-bochenski opened #2894 "Value cannot be null. (Parameter 'provider')"
Same thing as #2232

I'm using a docker image you provide

[code]

This happens when there are network issues or network traffic is restricted.
The message is totally unhelpful.

Why is this even calling remote servers for a local function execution. I should be able to run it offline.

[2022-01-10 19:54] TsuyoshiUshio commented on #2878
https://github.com/Azure/azure-functions-docker/pull/570 For java, we need to address to make it bullseye on the PR.

[2022-01-11 18:23] michaelpeng36 opened #2898 "Remove appveyor.yml and correct typos in the build pipeline from V2, V3, V4"
Currently, the `dev`, `v3.x`, and `v4.x` branches contain `appveyor.yml`, which is the outdated build pipeline for Core Tools V1, originally hosted on AppVeyor. We have moved the pipeline to Azure DevOps, and as such `appveyor.yml` (and all references to AppVeyor in `azure-pipelines.yml`) should be removed from these branches.

[2022-01-11 19:34] telmotrooper opened #2899 "Commands hanging on Arch Linux"
I'm using Azure Functions Core Tools **4.0.3971** (from "https://github.com/Azure/azure-functions-core-tools/releases/download/4.0.3971/Azure.Functions.Cli.linux-x64.4.0.3971.zip") on **Arch Linux** and some basic commands (like `./func new`) keep hanging for about a minute until I eventually receive the error: `One or more errors occurred. (A task was canceled.)`. It doesn't even display the list

[2022-01-12 14:02] telmotrooper commented on #2899
I've ran some more tests, on a VM running Arch it worked just fine, so I came to the conclusion that it had to be related to my network interface. I ended up restarting my modem and it began to work.

Very weird, but it's all good now, so I'll be closing the issue.

[2022-01-12 14:02] #2899 closed

[2022-01-13 07:06] wangcarlton opened #2901 ""Function not implemented" error on Mac M1, works on Ubuntu"
Hey team,

I'm currently stuck in the "Function not implemented" error which blocks me from using my Mac.
How to reproduce:
1. Follow https://docs.microsoft.com/en-us/azure/azure-functions/functions-run-local to create a nodejs function, add
    `"start": "func start"` into package.json
2. Create a Dockerfile to use ubuntu:bionic image and install depedencies
`FROM --platform=linux/amd64 ubuntu:bi

[2022-01-13 18:45] michaelpeng36 commented on #2901
@wangcarlton could you try using a more up-to-date version of Core Tools? You can do this by using `azure-functions-core-tools-3` or `azure-functions-core-tools-4` rather than `azure-functions-core-tools`. Could you also specify the reason this is being done in a docker environment? Is this to get around a specific limitation of Core Tools?

[2022-01-13 18:50] michaelpeng36 commented on #2894
@jakub-bochenski could you provide repro steps for this?

[2022-01-13 18:51] michaelpeng36 commented on #2894
In the meantime, we will investigate to check if Core Tools works when running offline.

[2022-01-14 00:42] #2898 closed

[2022-01-14 05:04] ranouf commented on #2722
Good to know, it tooks hours to understand why.

Strangely, I'm able to have information from AppSettings using IOptions<MySettings> but it failed each I use to customize the TimeTrigger occurence like %MyOccurence%.

I hope, this will be fix one day, it's useful, and there will be consistency with web api and azure web job, which give the job easier for dev :)

[2022-01-14 05:22] ranouf opened #2903 "Could not create BlobContainerClient for ScheduleMonitor."
Hi,

When I run my azure function with TimeTrigger I have this error:
**Microsoft.Azure.WebJobs.Extensions.Timers.Storage: Could not create BlobContainerClient for ScheduleMonitor.**

I use a host builder:
[code]

and here is the function:
[code]

csproj:
[code]

local.settings.json:
{
  "IsEncrypted": false,
  "Values": {
    "AzureWebJobsStorage": "UseDevelopmentStorage=true",
    "MessageQueuer

[2022-01-14 06:30] wangcarlton commented on #2901
@michaelpeng36
Thank you for the reply. For your first question, I've tried to install 4(use ubuntu latest docker image), manually run the docker file commands and download source function code, as you can see, `func` command works well, but it still shows "Function not implemented".
Yes, we are trying to pack frontend, backend(NodeJs function app) in compose file to make this more portable.
<img

[2022-01-14 12:04] wangcarlton commented on #2901
Btw, I've tried to set terminal "Open using Rosetta", they don't work.
However, if I run it locally on the Mac M1 laptop, it works
<img width="1415" alt="Screen Shot 2022-01-14 at 23 02 15" src="https://user-images.githubusercontent.com/35724343/149512753-6a9cbd57-f971-44d9-9258-ea4ea8900ac0.png">

[2022-01-15 18:52] pejaab opened #2906 "Cosmos DB trigger is not connecting to CosmosDB Emulator"
Hi Azure Functions Team,
I have an Azure Functions App consisting of HttpTrigger Functions and CosmosDbTrigger Functions. Both kind of functions work fine and can connect against an actual CosmosDB instance. Unfortunately, when running against the CosmosDB emulator the CosmosDBTrigger Functions fail to connect against the CosmosDB emulator.
The errors that I receive are of the following form:
[cod

[2022-01-17 13:49] yang-er opened #2907 "Throwing exception with null message in non-HTTP trigger causing functions host crash"
Throwing exception with null message in non-HTTP trigger causing functions host crash.

This is the related log from local debug func tool.

[code]

#### Repro steps

Calling function NullMessageException and wait for crash.

[code]

#### Expected behavior

Poisoning the queue item.

#### Actual behavior

Function host crashed.

#### Related information

I found this by instantiating a Microsoft.A

[2022-01-17 22:06] anthonychu commented on #2889
I think `--prefix` and `--script-root` might be [equivalent](https://github.com/Azure/azure-functions-core-tools/blob/d6366d4bc4a1593ddbe302763ba0a04b23f0f32e/src/Azure.Functions.Cli/ConsoleApp.cs#L415-L416). Makes sense to add it to the command help. @michaelpeng36 please let @cristobal know if this is something they can contribute to.

\+ @ggailey777 to see if docs should be updated as well.

[2022-01-17 22:49] anthonychu commented on #2891
Thanks for reporting this. I believe this is also causing 2 "powershell" entries to appear when you run `func new`.

[2022-01-19 12:26] garybond commented on #2825
Just confirming still an issue and now an issue for us.
net6 & func --version 4.0.3971
We are deploying secrets independently before running func kubernetes deploy, so different to OP. I'm not expecting ans secrets yaml in the output.
--dry-run > output.yaml generates completely empty output file

[2022-01-19 12:33] garybond commented on #2556
See also #2825
Works fine in net6 non-isolated mode

[2022-01-19 17:35] ejizba commented on #2901
I will say I don't think the "Function" mentioned in the error message is an _Azure_ function. If I search "Function not implemented" I find many other instances of that error that seem to be unique to Docker/linux environments when trying to access a file. For example:

https://stackoverflow.com/questions/68455992/docker-compose-on-mac-m1-error-function-not-implemented

https://github.com/docker/

[2022-01-19 18:13] pszypowicz opened #2910 ""Func start" does not work for powershell function on darwin"
I'm following tutorial with azure powershell function creation:

https://docs.microsoft.com/en-us/azure/azure-functions/create-first-function-cli-powershell?tabs=azure-cli%2Cbrowser

but unfortunately, when I execute 'func start' I end up with such message:

[code]

The function does not work too, and exits with message:

[code]

.Net 6 is an LTS version of .Net, and it's natively supported on app

[2022-01-20 00:21] tomomi-code opened #2915 "Azure Functions Core Tools v4 requires AzureWebJobsStorage for "publish" command"
Since Gitlab pipeline doesn't have a job for deploying Azure Function unlike Azure DevOps, I use bash scripts to deploy our Azure Function from Gitlab pipeline.

[code]
(The entire pipeline code is [here](https://github.com/Azure-Samples/azure-function-custom-handler-with-golang/blob/main/pipelines/.gitlab-ci.yml).)

However when I change the version of azure-function-core-tools from **3** to **4*

[2022-01-20 09:40] wangcarlton commented on #2901
Yeah, that might be the docker simulated container issue on Mac M1.
Share this piece of debug info:
<img width="1419" alt="Screen Shot 2022-01-20 at 20 39 02" src="https://user-images.githubusercontent.com/35724343/150313180-04c9ac8d-7541-42dc-87af-f018ae73a4d7.png">

[2022-01-20 16:52] anthonychu commented on #2727
Should recommend Azure API Management

[2022-01-20 18:49] michaelpeng36 commented on #2910
@pszypowicz the PowerShell worker requires Microsoft.NETCore.App 3.1.0. Could you try installing the x64 build of the SDK for Mac? https://dotnet.microsoft.com/en-us/download/dotnet/3.1

[2022-01-20 18:58] ejizba commented on #2910
To add to Michael's comment, we currently do not have a fully arm64 build of the func cli that is working. Tracking that here: https://github.com/Azure/azure-functions-core-tools/issues/2834

In parallel, we are working on support for PowerShell 7.2, which as described [here](https://docs.microsoft.com/en-us/powershell/scripting/install/powershell-on-arm?view=powershell-7.2) depends on .NET 6 inst

[2022-01-20 19:11] ejizba commented on #2727
@anthonychu any preferences on when this warning occurs? I was thinking `func start` and/or `func publish`

[2022-01-20 21:59] anthonychu commented on #2901
Thanks @wangcarlton. @diberry just reported the same issue. Looks like maybe one of the OS APIs used by the filewatcher isn't implemented when running in a `linux/amd64` container when running on an M1 docker host.

[2022-01-20 22:35] #2881 closed

[2022-01-20 22:40] #2727 closed

[2022-01-21 00:07] wangcarlton commented on #2901
@anthonychu Thank you for the updates and please let me know once it's fixed.

[2022-01-21 11:45] pszypowicz commented on #2910
SDK 3.1 works, interestingly - SDK 3.1 on mac does not configure dotnet in your PATH. After adding it myself it indeed works without the problem so far.

[2022-01-21 12:10] pszypowicz commented on #2910
@ejizba I see that worker already supports Powershell 7.2 since 30.11.2021. When you said "we are working on support for PowerShell 7.2" you mean, "Azure Functions Core Tools" team is working to support "azure functions powershell worker" v4/PS7.2?

[2022-01-21 18:03] ejizba commented on #2910
@pszypowicz the line between teams is pretty blurry. In any case, PowerShell 7.2 support isn't official yet regardless of the progress you see on GitHub. There's more details in this thread, including instructions for trying it out: https://github.com/Azure/azure-functions-powershell-worker/issues/733#issuecomment-1016827892.

@Francisco-Gamino do you have an issue tracking PowerShell 7.2 support?

[2022-01-23 04:06] jgwinner commented on #255
I know this is old, but I'd like to bump this. I had a developer who under-documented prereq's, left, and I'm trying to jump in. Was rather baffled by the error:

[code]

It would have been nice if an npm install or yarn install had actually, you know, installed everything needed.

[2022-01-23 11:21] Amithsk opened #2923 "The listener for function 'Functions.trigger' was unable to start ?"
Error while during local run:

I have masked the "Account name",information

During the debug:

issubclass() arg 1 must be a class
  File "/usr/local/Cellar/azure-functions-core-tools@4/4.0.3971/workers/python/3.9/OSX/X64/azure/functions/_thirdparty/werkzeug/exceptions.py", line 695, in _find_exceptions
    is_http_exception = issubclass(obj, HTTPException)
  File "/usr/local/Cellar/azure-function

[2022-01-24 23:09] michaelpeng36 commented on #2889
@cristobal Thanks for pointing this out! Yes, if you could add the documentation for both `--prefix` and `--script-root` in a PR, that would be fantastic.

[2022-01-24 23:22] michaelpeng36 commented on #933
Resolved by #2806 and #2924.

[2022-01-24 23:22] #933 closed

[2022-01-25 00:16] michaelpeng36 commented on #2891
Resolved by #2922 and #2925

[2022-01-25 00:16] #2891 closed

[2022-01-25 15:13] codestellar opened #2926 "func init creates the project structure and package.json contains @azure/functions 1.0.1-beta1"
I am using azure-function-core-tools@4, which I have installed today itself.
![image](https://user-images.githubusercontent.com/17561784/151003146-d0f637c7-07cd-4749-a7fe-2850ba7dd84f.png)

Steps to reproduce:
1. func init
2. choose node
3. choose typescript
4. check package.json

**Expected:** The @azure/functions should be using the latest stable version

**Actual** The @azure/functions version

[2022-01-25 18:01] ejizba commented on #2926
Hi, this was fixed in https://github.com/Azure/azure-functions-core-tools/pull/2852 and will ship with the next version of core tools

[2022-01-25 18:01] #2926 closed

[2022-01-25 18:45] michaelpeng36 commented on #2710
@manishnm Did the above workaround help resolve your error?

[2022-01-25 19:43] michaelpeng36 commented on #2704
@kashimiz This was originally due to a [bug](https://github.com/Azure/azure-functions-templates/issues/1161) that resulted in Core Tools improperly detecting `Powershell` and `PowerShell` as different languages because of their differing capitalization. This immediate issue has been resolved on the Core Tools side by PR #2922 and #2925. However, this has been marked as an area of improvement for f

[2022-01-26 14:47] milkyjoe90 commented on #2873
I've noticed the same, both of the recent previews of VS 2022 for Mac including 5, released yesterday do the same, I've switched to Jetbrains Rider for the time being as that is able to correctly pick up the v4 function and debug it correctly, VS 2022 currently tries to launch the v3 function runtime:-

Azure Functions Core Tools
Core Tools Version:       3.0.3904 Commit hash: c345f7140a8f968c5dbc

[2022-01-26 14:59] c-lamont commented on #2873
Due to the same issue I have also just bought Rider and it works out of the box. Why does Rider support Microsoft better than Microsoft?

I have also followed the step to force use v4 as shown here: https://docs.microsoft.com/en-us/azure/azure-functions/functions-run-local?tabs=v4%2Cmacos%2Ccsharp%2Cportal%2Cbash

[2022-01-26 17:00] ttelik opened #2929 "func command times out on Linux"
Hi, I'm trying to use the func command to generate a new Azure Function template, and this command fails. Even asking for a list of templates times out. The error trace is below. I am performing these commands from within the venv (as specified in the documentation).

[code]

System info:
[code]

[2022-01-26 20:11] bdlawrence13 opened #2931 "Error when debugging"
I am getting the following error when debugging. After doing an install of the core tools as mentioned in another issue, I'm also unable to do dotnet watch - it just cycles through the build of the main .dll.

 A host error has occurred during startup operation 'df7363e8-3146-48b6-b47a-1a2f8b73a24e'.
[2022-01-26T19:47:40.326Z] System.Private.CoreLib: Could not load type 'System.Diagnostics.Debugge

[2022-01-26 20:34] bdlawrence13 commented on #2931
Nevermind on this. Was in a different project.

[2022-01-26 21:23] Timothy-Pulliam commented on #2901
I too am having this problem. Here is the output from `func start --debug`

[code]

[2022-01-26 22:01] soninaren commented on #2632
@davidmrdavid Can you share an update if there was any from the internal discussions?

[2022-01-27 01:02] michaelpeng36 commented on #2849
@anthonychu This output is due the `dotnet` command. When we initialize a C# Function app, we actually invoke `dotnet new func --AzureFunctionsVersion v4 --name <functionName>`. Since modifying this command is out of our control, it seems this fix will have to wait until we standardize how we initialize Function apps across all languages.

[2022-01-27 01:37] ejizba commented on #2849
It seems like `func init` is a workaround for what you really want. Maybe we need a new command specifically to add a fresh local.settings.json file or maybe we automagically create one when when users run `func start`

[2022-01-27 21:45] davidmrdavid commented on #2632
@soninaren: I did follow-up internally and notified EasyAuth owners. Other than that, I don't know if they have any updates. I'll ping them again.

[2022-01-28 14:30] fabiocav commented on #2863
@E-HO thank you for the follow up!

@michaelpeng36 did you repro this? With a repro, the goal would be to isolate the language worker failure that is leading to this condition. @vrdmr we may have to sync on this to look at the worker failure.

Will follow up with folks pinged on this thread, but also flagging this for triage review.

@liliankasem it would be good to understand whether you've captu

[2022-01-28 20:29] michaelpeng36 commented on #2863
@fabiocav Yes, I was able to reproduce this issue. As @E-HO mentioned, it took some time to connect, eventually resulting in a failure, and I see the following in the Monitor Logs:
[code]
and
[code]

[2022-01-28 21:57] michaelpeng36 opened #2932 "Update func azure functionapp publish documentation"
A new option for the `func azure functionapp publish` command will soon be added that allows users to remove the Function key from URLs displayed during deployment . The [docs ](https://docs.microsoft.com/en-us/azure/azure-functions/functions-core-tools-reference?tabs=v2#func-azure-functionapp-fetch-app-settings) currently do not include this.

[2022-01-28 22:08] liliankasem commented on #2863
@michaelpeng36 can you share the repro with me, I'd like to use it to help better surface logs for issues like this!

[2022-01-29 08:13] vrdmr commented on #2863
@liliankasem I've sent an update internally to detail the issue.

This is due to a standard library being added as a requirement and conflicting with the worker dependency.

ref ICM: 279492292

[2022-01-30 04:49] vrdmr commented on #2863
Apologies for the delay.

The core issue is

UUID is already a system library (UUID — UUID objects according to RFC 4122) and doesn't need to be added as a separate requirement in the requirements.txt.

**Mitigation: remove UUID from requirements.txt and redeploy**

The fundamental issue is that as UUID is being added as a separate requirement when starting the worker, it breaks the worker's loade

[2022-01-31 17:44] alfechner opened #2933 "Command `func templates list` creates `host.json` file"
When executing `func templates list` a new file called `host.json` is created in the current working directory.

I installed the current version via brew on Mac today:

Azure Functions Core Tools
Core Tools Version: 3.0.3904 Commit hash: c345f7140a8f968c5dbc621f8a8374d8e3234206  (64-bit)
Function Runtime Version: 3.3.1.0

[2022-02-01 08:19] alfechner opened #2934 "No parameter to override existing function"
The command `func new` asks for consent to override an existing function with the same name. There is no parameter like `--override`, `--yes` or `--force` to use the command in a fully automated way.

[2022-02-01 09:07] alfechner commented on #2933
I just checked; same behaviour in Azure Functions Core Tools version 4.

[2022-02-01 14:22] Nibushi opened #2937 "PowerShell Durable Functions fail running locally - missing command definition"
I've be using PowerShell Azure Durable Functions for a while now and never had a problem testing locally. However, since today I can no longer run the Azure Durable Functions locally and call them from Postman. When I try to call the functions I get a number of errors stating that the Azure Durable Function cmdlets such as Start-DurableOrchestration, New-DurableOrchestrationCheckStatusResponse, et

[2022-02-01 18:50] Nibushi commented on #2937
[AzFuncTroubleshooting.zip](https://github.com/Azure/azure-functions-core-tools/files/7981165/AzFuncTroubleshooting.zip)

I have tried again creating the project which can be found here: https://docs.microsoft.com/en-us/azure/azure-functions/durable/quickstart-powershell-vscode

I've tried using a local storage emulator and an Azure based storage account. I've also included a txt file in the zip w

[2022-02-01 23:00] #2710 closed

[2022-02-01 23:45] davidmrdavid commented on #2937
Hi @Nibushi,

I took the steps in the quickstart guide again and they worked for me, but I had some issues getting your `.zip`'ed project to run; they were not the same issues as you reported, just something strange about the "AuthorizationManager check" failing. I need to dig deeper into that.

In the meantime, something that stood out to me is that you report having version 4.x of coretools, but

[2022-02-02 04:54] wangcarlton commented on #2901
Hey, any updates on this issue? thank you

[2022-02-02 11:58] Nibushi commented on #2937
Hi @davidmrdavid ,

I managed to get some time to look into the issue this morning. I went back and basically tried to unpick the issues. The short story is I had to install azure-functions-core-tools-3 v3.0.3785 as v3.0.3233 psm1 file did not contain the following aliases for these renamed cmdlets. I only noticed the name discrepancy when I managed to get an older project to run:

Set-Alias -Name

[2022-02-02 21:42] davidmrdavid commented on #2937
Thanks @Nibushi, I'm  glad to hear the issue was resolved.
And no worries, while developing for Azure Functions, I also have to use multiple package managers and things do get messed up on my local development enviroment from time to time :)

Please reach out again if you need any further help. I'll be closing this issue in the meantime.

@michaelpeng36: can you please mark this issue as resolved?

[2022-02-02 22:03] #2937 closed

[2022-02-04 18:10] michaelpeng36 commented on #2813
This issue has been resolved by PR #2938 and #2941. By default, the function key should not be exposed now when publishing. If this behavior is desired, then the switch `--show-keys` has been included.

[2022-02-04 18:10] #2813 closed

[2022-02-06 15:11] Arash-Sabet commented on #2834
Any ETA on when this fix will be released?

[2022-02-08 22:22] danardelean commented on #2873
I think you can update the core tools that Visual Studio for Mac uses
https://docs.microsoft.com/en-us/azure/azure-functions/functions-run-local?tabs=v4%2Cmacos%2Ccsharp%2Cportal%2Cbash

In my case it worked

[2022-02-08 22:29] mathewc opened #2944 "Update key generation logic to create "identifiable" secrets"
We need to apply the same key generation changes done in [this PR](https://github.com/Azure/azure-functions-host/pull/8071) to the key generation we have in this repo [here](https://github.com/Azure/azure-functions-core-tools/blob/6a070fb40308438c758ba8ab69399845bd698391/src/Azure.Functions.Cli/Kubernetes/FuncKeys/FuncAppKeysHelper.cs#L97).

The Functions Host exposes a [SecretGenerator](https://g

[2022-02-09 09:57] milkyjoe90 commented on #2873
Thanks Dan, I have tried doing this several times, uninstalled both VS and the core tools and reinstalled unfortunately with no positive effect. I presume that core-tools v3 is bundled with the preview of VS 2022 for Mac and that the homebrew install doesn't touch it.

[2022-02-09 21:52] fabiocav commented on #2863
Thank you, @vrdmr . Closing this as answered/resolved, but please let us know if you have any additional questions.

[2022-02-09 21:52] #2863 closed

[2022-02-11 13:10] natdan commented on #2834
Do you have any tips how to do it? (to compile it on M1 mac)

I've been trying to do it whole morning and couldn't move from starting point of adding ` --runtime osx-arm64` to `build.sh`. (I tried with some other combinations, but still nothing). All with .NET 6 I installed (6.03.xxx, 6.02.xxx or 6.0.1.xxx) and one installed by `dotnet-install.sh` script (with `--architecture arm64` parameter). Al

[2022-02-11 15:57] natdan commented on #2834
OK. It is much simpler than I expected and only if I know what I know now:

1. switch to v4.x branch (!)
2. run `sh dotnet-install.sh --architected arm64`
3. ensure ~/.dotnet is in the path
4. change `linux-x64` in build.sh to `osx-arm64`
5. and just run `sh build.sh`

It very nicely generated func which is universal 64bit mac executable
[code]
and did what you said:
[code]
(needed to remove `func

[2022-02-11 17:06] natdan commented on #2834
I've fixed above by copying `workers/python/3.9/OSX/X64` to `workers/python/3.9/OSX/Arm64`, updated `workers/python/worker.config.json` to include `Arm64` and manually replaced existing libraries in my version of python (`workers/python/3.8/OSX/Arm64`) with locally installed through pip in some temp venv...

And so far so good! :D

It seems it'll hold water until official version does all of it. S

[2022-02-12 01:10] ejizba commented on #2834
Hi folks, as @natdan mentioned, the work to support arm64 is already in the v4.x branch. It will be included in the next release of core tools (I would guess that's in the next few weeks, but don't hold me to that). It will be available through npm first and homebrew shortly thereafter

That being said, each language worker still needs to individually add support for arm64. Node.js, .NET and .NET

[2022-02-13 14:10] sharpt00th commented on #2931
For what it's worth I encountered the exact same error when updating an Azure Functions project: solution (VS2017 to VS2022), .net target version (3.1 to 6) and Microsoft.NET.Sdk.Functions version (3 to 4.01 via nuget). While the TargetFramework was automatically updated in my .csproj file from netcoreapp3.1 to net6.0, the AzureFunctionsVersion version was not updated. Manually updating it to "v4"

[2022-02-14 19:35] andresogando commented on #2600
Same issue.

**Mac M1 Pro - Monterrey **

`Core Tools Version:       3.0.3904 Commit hash: c345f7140a8f968c5dbc621f8a8374d8e3234206  (64-bit)
Function Runtime Version: 3.3.1.0

[2022-02-14T19:30:49.444Z] Cannot create directory for shared memory usage: /dev/shm/AzureFunctions
[2022-02-14T19:30:49.449Z] System.IO.FileSystem: Access to the path '/dev/shm/AzureFunctions' is denied. Operation not perm

[2022-02-15 02:04] michaelpeng36 opened #2954 "Update README.md instructions for installing V3 with Chocolatey"
Given the recent decision to continue updating only the `azure-functions-core-tools` package on Chocolatey for subsequent releases, the instructions for installing Core Tools V3 via Chocolatey should be updated to include the `--version` parameter and appropriate argument.

This issue may also apply to documentation related to APT.

[2022-02-15 13:16] alfechner opened #2955 "Command `func templates list` returns invalid templates"
The templates returned from `func templates list` are not valid as input for `func new`'s `--template` parameter.

`func templates list --language dotnet` returns (amongst others) the template 'Azure Service Bus Topic trigger'.

Using the output in `func new --template 'Azure Service Bus Topic trigger'` will result in an error `Unknown template 'AzureServiceBusTopictrigger' (Parameter 'templateNam

[2022-02-15 13:44] alfechner commented on #2955
Seems like the once for python functions work as expected.

[2022-02-15 17:09] elliotchaim opened #2956 "Microsoft.Azure.WebJobs.Script: WorkerConfig for runtime: dotnet-isolated not found."
I'm trying to deploy an Azure Functions app (net6.0 isolated functions v4) to Azure (Linux P1v2 app service plan). the app is containerized with `mcr.microsoft.com/azure-functions/dotnet-isolated:4-dotnet-isolated6.0` base image. i'm deploying and see logs in deployment center showing that the image was downloaded and container started. but no functions have been found and i get this error notific

[2022-02-16 11:51] elliotchaim commented on #2956
I have some new information for this which you may find useful.

* Adding the app setting `WEBSITES_ENABLE_APP_SERVICE_STORAGE=false` on our Azure app service resolved the WorkerConfig runtime error.
* Updated worker nugets to the following versions
[code]

Now when running the container I can see the following output.

[code]

After this output, the host starts successfully. BUT when a function i

[2022-02-16 16:09] reste85 commented on #2685
Hi, we're facing the same issue, but with java worker. Here's the log:

`Azure Functions Core Tools
Core Tools Version:       4.0.3971 Commit hash: d0775d487c93ebd49e9c1166d5c3c01f3c76eaaf  (64-bit)
Function Runtime Version: 4.0.1.16815

[2022-02-16T15:59:45.921Z] FUNCTIONS_WORKER_RUNTIME set to java. Skipping WorkerConfig for language:node
[2022-02-16T15:59:45.935Z] FUNCTIONS_WORKER_RUNTIME set t

[2022-02-17 08:25] VasuBhog opened #2958 "Azure Functions: Create Function Error Message for SDKs"
OS: macOS Monterey 12.2.1

Visual Studio Code
Version: 1.64.2
Commit: f80445acd5a3dadef24aa209168452a3d97cc326
Date: 2022-02-09T22:00:58.347Z (1 wk ago)
Electron: 13.5.2
Chromium: 91.0.4472.164
Node.js: 14.16.0
V8: 9.1.269.39-electron.0
OS: Darwin x64 21.3.0

I have an empty folder in VS Code.

When using VS Code command `Azure Functions: Create Function`

I get this prompt first - and select Yes:

[2022-02-18 16:05] PeteTh commented on #2600
Same issue,  has the really been an issue since May 2021, when will it be fixed ?

**Mac M1 Pro - Monterrey**

`Azure Functions Core Tools
Core Tools Version:       3.0.3904 Commit hash: c345f7140a8f968c5dbc621f8a8374d8e3234206  (64-bit)
Function Runtime Version: 3.3.1.0

[2022-02-17T16:24:35.901Z] Found /Users/peteth/javaprojects/Capgemini2016/BST/AZ204-course/AZ204-course.csproj. Using for user

[2022-02-18 18:02] andresogando commented on #2600
Hi, I fixed it by upgrading to core tools v4. follow these steps.  go and make sure you click the docs for V4
https://docs.microsoft.com/en-us/azure/azure-functions/functions-run-local?tabs=v4%2Cmacos%2Ccsharp%2Cportal%2Cbash

[2022-02-19 22:26] JasonKleban commented on #2727
Is there some background on this change?  Why isn't it supported?  Is there a migration guide?

Thanks though.  This is basically the first I've found of why my app broke after upgrading Azure, .NET and various other dependencies.  Glad it's being added to the tools.

[2022-02-21 10:26] johnnybegood commented on #2876
I was able to fix it with the uninstaller, but after a visual studio (for Mac) update it broke again. Uninstalling doesn't seem to do the trick anymore.

[2022-02-21 11:04] ChrisKlug commented on #2956
I've got the same issue. However, it actually used to work for us. But after a redeploy, we started getting this issue.

Our function isn't containerized though. So it is not only for containerized function. However, we are using .NET 6.0, dotnet-isolated and extension version 4, so it sounds a LOT like the same issue.

I've tried re-deploying the whole app service, but it just comes back with the

[2022-02-21 13:40] drmathias commented on #2956
I'm deploying with Bicep. Was working fine until I deployed it again this morning, now getting this error.

[2022-02-21 16:00] ArmandoPitotti commented on #2050
For me, it was an error on local.settings.json.  The comma was missing.
I was able to understand the error by the output window build:

"Newtonsoft.Json.JsonReaderException: After parsing a value an unexpected character was encountered: ". Path 'Values.ENDPOINT_SOA_EIH_GC41OUT', line 41, position 4."

[2022-02-21 16:11] ChrisKlug commented on #2956
So am I. It has worked fine previously, but stopped working for our deployments today. However, adding the above mentioned `runtimeStack` setting seems to have solved to problem for us

[2022-02-22 11:44] Sti2nd opened #2959 "Azure.Storage.Blobs: Service request failed"
Running timer triggers on my local computer suddenly stopped working a few days ago. The full error message is:

[code]

* I use Visual Studio 2022. Azurite is installed through it (or the Azure workload), I think.
* I get the same exception for all timer triggers. HTTP triggers work fine.
* Same code works for other developers, they can run timer triggers locally
* Project information
  * `<Targe

[2022-02-22 18:34] ejizba commented on #2727
@JasonKleban I see you created https://github.com/Azure/Azure-Functions/issues/2165. That'll be a better place to follow up, as I personally don't have much more information than what you've already linked to

[2022-02-22 18:41] michaelpeng36 commented on #2958
@v-bbalaiagar Could you clarify what version of the Functions runtime are you trying to use (V3 or V4)? Could you also state what output you receive when running `dotnet --version`? Is this issue persistent across restarts of VSCode?

[2022-02-22 18:42] michaelpeng36 commented on #2958
Could you also try running `func new` outside of the VSCode terminal and showing us the output?

[2022-02-22 18:47] michaelpeng36 commented on #2959
@fabiocav, would you be able to help with this? It looks like this issue is related to the TimerTrigger listener.

[2022-02-22 19:41] VasuBhog commented on #2958
So I was running core tools v3 and then upgraded to v4 and still had the same issue. I found the only workaround was to do a full restart on my mac.
`dotnet --version
6.0.100`

[2022-02-22 22:45] CarlosGomesMarel opened #2960 "Cloud Azure Function error on startup: WorkerConfig for runtime: dotnet-isolated not found"
Azure Function error on startup: **WorkerConfig for runtime: dotnet-isolated not found** .
Using a linux image from Azure Container Registry with elastic server farm behind a VNet.
I am attempting to upgrade from .net core 3.1.
The function runs locally.

**Callstack:**
[code]
**Project file:**
[code]

**Dockerfile:**
[code]

**Azure Function Template**
[ipapi.json.txt](https://github.com/Azure/az

[2022-02-23 09:29] tomkerkhove opened #2961 "Change KEDA installation to rely on Helm"
Change KEDA installation to rely on Helm instead of YAML to improve the maintainability.

This means we don't have to update https://github.com/Azure/azure-functions-core-tools/blob/dev/src/Azure.Functions.Cli/StaticResources/keda.yaml for every new release.

[2022-02-23 16:12] drmathias commented on #2956
Unfortunately didn't solve the issue for me.

Worth mentioning that I'm deploying to a Windows app service, so this isn't exclusive to app service for linux.

[2022-02-23 17:23] alexis-franche commented on #2901
Any updates on this issue ? I am experiencing the same difficulties on an M1 chip.

[2022-02-23 21:34] liliankasem commented on #2632
@davidmrdavid any news? 😄

[2022-02-24 00:43] rhavenn opened #2962 "linux error: az CLI command not found"
Debian 11 (Bullseye) running in WSL2 (Win 11). core tools were installed with NPM and the az CLI via the MS azure-cli DEB package.

any command that involves talking to azure just fails with:
[code]

`which az` shows: `/usr/bin/az`
`whereis az` shows: `az: /usr/bin/az /opt/az/bin/az.bat /opt/az/bin/az`

`func --version` : `4.0.3971`
`az --version` : `azure-cli                         2.33.1`

[2022-02-24 01:00] rhavenn opened #2963 "curl unable to connect to local testing trigger function"
Debian 11 (Bullseye) installed via WSL2 (Win 11).  I have a Python timer function I'm trying to test. func starts successfully and is listening on the port it shows. no errors. doing curl requests I get the below error and am not able to connect.

azurite and core tools installed via NPM.
`azurite --version` : 3.15.0
`func --version` : 4.0.3971

azurite started with: `azurite --silent --location ~

[2022-02-24 09:20] ChrisKlug commented on #2956
Apparently it didn't solve it for me either. Every time I re-deploy the bicep files, the function dies. However, re-deploying the code seems to reset it. Not a really good solution though...

[2022-02-24 12:28] sjuarezgx opened #2964 "Add support for updating APIM policies using the AZ Cli"
Please add support to add/update policies in APIM at any level, using the az CLI.
It would be great to be part of the az apim commands.
https://docs.microsoft.com/en-us/cli/azure/apim?view=azure-cli-latest

[2022-02-24 16:16] diberry commented on #2901
@anthonychu @stefanushinardi Can you please provide an update for ETA on developing Azure Functions on an M1 chip in docker? Is this a Docker issue or an Azure Functions issue?

[2022-02-24 18:42] michaelpeng36 commented on #2962
@rhavenn , are you logged into your Azure subscription? Could you try running `az account show --output table` and let us know if anything shows up?

[2022-02-24 18:46] ejizba commented on #2963
Hi, can you try port 7071 instead of 40257?

[2022-02-24 18:49] michaelpeng36 commented on #2964
@sjuarezgx Do you mean the Az CLI or the `func` command for Core Tools? Could https://github.com/Azure/azure-cli be the repository you're looking for?

[2022-02-24 19:34] jamie-orangebees opened #2965 "Arrays in local.settings.json no longer work for version 4"
I recently upgraded to version 4 of the CLI for Mac using the recommended upgrade guide.
After doing so the array functionality for local.settings.json no longer works.
After reverting back the version 3 of the CLI it worked.

local.settings.json example below:
[code]

Reading settings code:
[code]

I tried this using Function v3 and v4. Neither worked with CLI version 4.

[2022-02-24 19:46] rhavenn commented on #2963
port 7071 connects and returns nothing, but depending on how that works that would seem to be correct. The --verbose logging output is showing a curl connection in the func "window". So, it's seeing it.

On a documentation note. I don't see a reference to 7071 anywhere in the output of func or docs, but I might have missed it.

https://docs.microsoft.com/en-us/azure/azure-functions/functions-run-l

[2022-02-24 19:50] rhavenn commented on #2962
I had not / was not logged in. I was assuming it would have prompted me to do that vs saying "cannot find path to az". after logging in I now get a "unable to find project root" error, but that's a different matter.

I would, personally, suggest a different error output if you're not logged in vs. the az command is not in fact truly found.

[2022-02-24 19:52] ejizba commented on #2963
Based on the description of your timer trigger (just a "hello world"), it makes sense it doesn't return anything. As long as you're seeing an execution in the logs, that means it's working (although I don't think you should need `--verbose` to see that).

Yeah port 7071 is the default. If you had any http trigger urls, you would see 7071 listed as the port for the urls in this section:

I can leav

[2022-02-24 19:53] rhavenn commented on #2963
thank you for the explanation. I appreciate your assistance.

[2022-02-25 12:37] mvpindev commented on #2959
+1 Same issue on my end, with no changes.

[2022-02-25 20:19] a3y3 commented on #1239
Agreed, this should absolutely be added as a feature (especially with Functions - 4 and/or .NET 6 projects)

[2022-02-26 01:50] anthonychu opened #2968 "Update install instructions in portal to v4"
![70DAE031-09FF-47C3-9397-3CC132CEDA56](https://user-images.githubusercontent.com/3982077/155824216-48a31657-ce7a-4789-b898-fb5a3c311301.jpeg)

Repo: https://github.com/Azure/azure-functions-ux

[2022-02-26 06:19] MhAllan commented on #823
interesting.

[2022-02-26 11:37] sjuarezgx commented on #2964
Yes, thanks a lot.

[2022-02-26 11:37] #2964 closed

[2022-03-01 17:15] Yoshinonxkun commented on #2834
I followed your steps along and I managed to build it.
Then I copied the worker to the Arm64 folder and updated the worker.config.json.
After that I got an Error that I could fix with replacing the grpc library's with my own ones from a .venv like you mentioned it before.

Now I got this error:
`ImportError: dlopen(/opt/homebrew/Cellar/azure-functions-core-tools@4/4.0.3971/workers/python/3.8/OSX/A

[2022-03-01 18:53] natdan commented on #2834
No, I haven't done anything else. Maybe there's some mismatch of versions?

[2022-03-02 14:00] alessiodecastro opened #2973 "Error Importing dependecy MicrosoftTeams module above v3.*"
Hi, I have an Azure Function Powershell the function is in production and is correctly using commands belonging to the imported module requirement:
[code]

We need to use new PS Teams commands available from the version 3.0.0 so after changing the requirements.psd1 with the following and redeploying the function:
[code]
We receive the following trace, seems like it is trying to download the new ve

[2022-03-02 18:09] michaelpeng36 commented on #2968
@anthonychu Thanks for raising this. The issue should be resolved by [this PR](https://github.com/Azure/azure-functions-ux/pull/6539).

[2022-03-02 18:09] #2968 closed

[2022-03-03 11:52] perkops commented on #2960
I was facing the same issue running an azure function v 4 in dotnet-isolated mode utilizing .net 6.

The only thing that helped in getting the function to start again was deleting and re-creating my app service plan.

[2022-03-03 12:31] perkops commented on #2960
I am having the same issue with azure functions v 4, dotnet-isolated mode, .net 6. Several deployments and azure function restarts later its working - its very unstable.

[2022-03-03 17:00] dirthsj opened #2974 "How to use specific function host version"
Due to https://github.com/AzureAD/microsoft-identity-web/issues/1548 I need to target function host version 4.2.0 or later, but core tools are loading version 4.0.1, how do I tell it to use 4.2.0 or later?

[2022-03-03 17:55] ejizba commented on #2974
Our current process is to only release core tools with the host after it has rolled out completely in Azure. We are currently in the process of releasing core tools with 4.1.3 of the host, but we have to wait to do 4.2.0

We have a longer term goal to let core tools essentially be a "version manager" for the host, where users can pick their version of the host including "pre release" versions. How

[2022-03-04 08:28] Sti2nd commented on #2959
Would be great to get some help with this. Impossible to to develop Durable Azure Functions which were already hard to do from before.

[2022-03-04 08:35] perkops commented on #2960
@CarlosGomesMarel are you using linux functionapp? If so, see this issue:

https://github.com/Azure/azure-functions-dotnet-worker/issues/810

I am "sadly" not using functionapplinux, so i dont think it will help to add the runtimeStack: 'DOTNET-ISOLATED|6.0' in my deployment task.

Ref: https://docs.microsoft.com/en-us/azure/devops/pipelines/tasks/deploy/azure-function-app?view=azure-devops

[2022-03-04 15:34] anthonychu commented on #2959
\+ @vijayrkn in case this issue only affects VS.

[2022-03-04 15:37] CarlosGomesMarel commented on #2960
Got it to work, I think it was a configuration issue.

[2022-03-04 15:37] #2960 closed

[2022-03-04 16:36] vijayrkn commented on #2959
Based on the error message, I would be surprised if it only impacts Visual Studio.

One thing to try here might be to update the version of Azurite and see if it handles the scenario better. Based on the log above, the version of Azurite running is 3.14.1

https://github.com/Azure/Azurite/releases/tag/v3.16.0
3.16 is the latest version available and VS is updated to ship this version in the next r

[2022-03-04 17:16] mathewc commented on #2944
For v4 tools, package Microsoft.Azure.WebJobs.Script.WebHost 4.3.0-17820 has the required helper. Still need to add for v3 as well.

[2022-03-04 17:59] aaronmanill opened #2976 "Error when attempting to update from bundle 2.x to 3.x"
My func host start is failing with this message
[2022-03-04T17:55:46.944Z] A host error has occurred during startup operation 'f895a823-a1a8-4576-9616-8e114f1789f4'.
[2022-03-04T17:55:46.945Z] System.Private.CoreLib: Could not load file or assembly 'C:\Users\---\.azure-functions-core-tools\Functions\ExtensionBundles\Microsoft.Azure.Functions.ExtensionBundle\3.3.0\bin_v3\linux-x64\Microsoft.Azure.W

[2022-03-04 22:01] brennfoster commented on #2960
@CarlosGomesMarel Can you please post what the configuration issue was in your case? I cannot figure this out.

[2022-03-07 09:58] lymedo opened #2977 "Debugging function that connects to an endpoint that uses Private Link / Private Endpoint"
I'm trying to debug a function that connects to Azure Service Bus that uses a private endpoint.

I've spun up a VM and peered the VNets and successfully tested connectivity using the Service Bus SDK. But when trying to debug a function in VS code / core tools V3, the function trigger cannot connect to the Service Bus queue.

I've tried added WEBSITE_VNET_ROUTE_ALL: 1 and WEBSITE_DNS_SERVER: 168.63

[2022-03-08 18:44] michaelpeng36 commented on #2976
@aaronmanill Could you clarify why you are using a specific version of the DurableTask extension? You may need to exclusively use the Extensions bundle (without specifying specific versions in `extensions.csproj`) or remove the Extensions bundle dependency entirely, as this may be the result of versioning conflicts. @davidmrdavid, could you clarify if this is the appropriate version of the Durable

[2022-03-08 18:50] michaelpeng36 commented on #2973
Closing, as this issue is a duplicate of [this issue](https://github.com/Azure/azure-functions-powershell-worker/issues/771).

[2022-03-08 18:50] #2973 closed

[2022-03-08 18:51] aaronmanill commented on #2976
It looks like extensions.csproj is supposed to not exist when I use the bundle, I had been using it for WebPubSub development, and was mistakenly told that PubSub was part of the 3.3.0 package now and forgot to delete extensions.csproj before putting the bundle back, but WebPubSub was not part of 3.3.0 so I'm resolved and waiting for a 3.4.0 release

[2022-03-08 18:51] #2976 closed

[2022-03-09 13:18] Sti2nd commented on #2959
@vijayrkn Nice!
I can confirm that it works with Azure 3.16.0.

Which Visual Studio release will it ship in? I just got notified about and updated to version 17.1.1 of VS today; that still has Azurite 3.14.1.

[2022-03-09 15:55] pseabury commented on #2965
I use arrays in v4 without the brackets like this:

[code]

[2022-03-09 16:10] pseabury opened #2978 "Cannot create a new Functions Project"
If I try to create an Azure Functions Project (Solution->Add->New Project) I get a new project folder that is completely empty, and a status message in the statusbar that says the project was created successfully.

I've already done a VS Update to 17.1.1 which didn't change anything, then did a complete repair of VS2022 from the VSInstaller. I also reinsalled the Azure Functions Core Tools v4 with

[2022-03-09 19:59] vijayrkn commented on #2959
Glad to know it worked. We will be updating it in 17.2. A preview version of this release should be available soon.

[2022-03-10 05:52] PeteSounds commented on #2901
Any updates on this issue?

From looking at the source - could we possibly add an environment variable to ignore the filewatcher?

In FileMonitoringService.cs line 155 - there is this line:

`if (_scriptOptions.FileWatchingEnabled) `

but all environment variables / host.json seem to make no difference to that check - even though it seems to be injected via IOptions.... Perhaps the fix is to allow

[2022-03-10 13:40] HariKrishnaRajoli-MT commented on #2978
[https://stackoverflow.com/q/71412128/16630138](url)

[2022-03-10 13:55] pseabury commented on #2978
Yes, I wasn't sure which repo would actually take ownership of this item, so I posted there as well.

[2022-03-10 14:49] woeterman94 opened #2979 "Python 3.6.x to 3.9.x is required for this operation. Please install Python 3.6, 3.7, 3.8, or 3.9 and use a virtual environment to switch to Python 3.6, 3.7, 3.8, or 3.9."
Please support versions higher then 3.9. Like python 3.10.2

[2022-03-10 21:55] ejizba commented on #2865
Closing in favor of https://github.com/Azure/homebrew-functions/issues/95

[2022-03-10 21:55] #2865 closed

[2022-03-10 22:10] ejizba commented on #2979
This is better tracked in the Python worker. See https://github.com/Azure/azure-functions-python-worker/issues/899

Looks like they've already done some work to support 3.10, just may not have released it yet

[2022-03-10 22:10] #2979 closed

[2022-03-11 18:03] RealGoodAnthony opened #2980 "Building version 4.0.3971 no longer works without patch"
When attempting to build version 4.0.3971 with `build.sh`, an error occurs:

[code]

It appears that the culprit is `Microsoft.Azure.WebJobs.Script.WebHost`, version `4.0.1`, which has somehow been updated to use `Microsoft.ApplicationInsights` version `2.20.0` instead of `2.18.0`. The major concern here is that this used to not be the case, and version `4.0.1` may have been overriden with a force

[2022-03-11 19:28] blackbaud-james-williams commented on #2955
I'm hitting the same issue, also on 4.0.3971 (which appears to be the latest).

[code]

[code]

[2022-03-12 02:17] CharlieDigital commented on #1239
@a3y3 agreed; since it works, it seems like the team should just formalize it.

[2022-03-12 10:00] mdddev commented on #1239
@CharlieDigital how did you get it to work with vs code? Sorry if I misunderstood.

[2022-03-12 15:54] CharlieDigital commented on #1239
@mdddev I used @marcin-dardzinski 's workaround as described above in this discussion.

[2022-03-13 09:24] macrozone opened #2981 "func start just hangs"
system: macOS

`func start` sometimes stop working and only a full system restart seems to solve it.

calling `func start --verbose` just logs this and than hangs:

[code]

I just updated to version 4 because of this problem (from some version 2), but it did not solve the problem.

[2022-03-13 11:48] macrozone commented on #2981
eventually after tons of retries, killing of processes, and letting just running for some 10min, it suddenly run and tried to re-run functions that i triggered manually for testing. It seems to me that some service hanged. Problem is, its not obvious what that that service is, where it is logging and how to restart it in case of a problem like this.

[2022-03-14 18:58] thomasgauvin commented on #2302
What is the guidance for debugging TypeScript projects?

[2022-03-14 19:39] samsmithnz commented on #1732
I just ran into this today with a .NET 6 function - so still not resolved.

[2022-03-14 21:14] ejizba commented on #1732
Thanks for the ping @samsmithnz. Looks like this wasn't cherry-picked to the v3 and v4 versions of the cli. I'll get it addressed

[2022-03-14 23:28] diberry opened #2984 "JS Azure Function Blob Storage Trigger - exception"
When I locally run the following [Azure Function Blob Storage trigger](https://github.com/Azure-Samples/msdocs-storage-bind-function-service/tree/main/javascript), it occasionally throws an exception which stops the local runtime.

**Questions**:
* Is it my code or Azure?
* How can I catch the actual issue?

The specific exception is here:

[code]

The full console log of the local run is here

[c

[2022-03-16 01:15] aaronpowell opened #2985 "Incorrect results from `ClaimsPrincipal` when running locally"
We had https://github.com/Azure/static-web-apps-cli/issues/390 reported with the Static Web Apps CLI, in which using a `ClaimsPrincipal` in a C# Function doesn't contain the roles that you would expect and `IsInRole` returns false when it shouldn't, resulting in a different experience with auth locally compared to when it's deployed.

## Context

The SWA CLI provides a mock of EasyAuth, in which y

[2022-03-16 12:40] sopelt opened #2986 "Could KeyVaultReferencesManager move to a non-functions library?"
The [KeyVaultReferencesManager](https://github.com/Azure/azure-functions-core-tools/blob/v4.x/src/Azure.Functions.Cli/Common/KeyVaultReferencesManager.cs) looks like a great starting point for having a general purpose way of resolving key vault references outside of Azure App Service/Function Settings.
If it could be refactored a bit (e.g. TokenCredential via constructor injection) it would be a g

[2022-03-16 18:01] juleedev opened #2988 "AzureWebJobsStorage won't update anymore."
**Problem Description**
AzureWebJobsStorage value is not being updated to latest connection string in my local.settings.json file.   For our other projects in the past, we are used to seeing this value get refreshed locally after we deploy the function app.

**Background**

I have an azure function 4.0 project.  I'm trying to figure out when, and why the AzureWebJobsStorage isn't getting updated.

[2022-03-16 18:02] juleedev commented on #2988
I'm currently testing more scenarios. Specifically, I'm going to change

      <CopyToOutputDirectory>PreserveNewest</CopyToOutputDirectory>
      <CopyToPublishDirectory>Never</CopyToPublishDirectory>

to this:

      <CopyToOutputDirectory>PreserveNewest</CopyToOutputDirectory>
      <CopyToPublishDirectory>PreserveNewest</CopyToPublishDirectory>

to see if that makes any difference.

[2022-03-16 20:54] michaelpeng36 commented on #2988
@juleedev Core Tools has never supported automatically updating key-value pairs in `local.settings.json`. Given the fact, is this a feature request? What would be the expected behavior of this action?

[2022-03-17 01:44] eejaysbaw opened #2989 "KeyVaultReferencesManager throws an error when provided a null config item"
When KeyVaultReferencesManager attempts to match config items with the Key Vault Reference format it can result in a cryptic error being thrown
`Key Vault Reference format invalid:`

The following is an example from a newly created empty function app

local.settings.json
[code]
On Debug
[code]

[2022-03-17 01:49] eejaysbaw commented on #2989
this was introduced with #2806

[2022-03-17 07:07] timesy commented on #2043
Any updates on this? I am having the same problem.

[2022-03-17 10:20] ErosZZH commented on #2989
Is there any workaround to get rid of this problem?

[2022-03-17 12:33] juleedev commented on #2988
@michaelpeng36  hm.  ok i'll go back and revisit our dev process.  But I can't remember having to manually add an AzureWebJobsStorage key to work debug / code locally.  Maybe it's because the other projects are all using azure function v3 - was there something different with that one vs. v4?
What is the recommended process then to deploy resources and also be able to use the local project to hit t

[2022-03-17 13:55] CharlieDigital commented on #1239
@mdddev one can dream!

[2022-03-17 17:45] michaelpeng36 commented on #2981
@macrozone Is 4.0.3 the version of Core Tools that it displays when running the `func --version` command? As far as I know, `4.0.3` does not seem to be a released version of Core Tools V4. Also do the functions you have included in your app require storage? If so, you may need to run Azurite in a separate process before `func start` works properly.

[2022-03-17 18:24] ejizba commented on #2988
I think the word we're caught up on is "automatic". Yes if you run a command specifically for your local settings it can modify "AzureWebJobsStorage", but I would call that a "manual" step. When we say "automatic", we just mean _other_ commands unrelated to settings should not be changing the settings.

No, this has not changed from v3 to v4. Have you made any other changes to your project? For ex

[2022-03-17 18:36] ejizba opened #2990 "Better handle dependency mismatch between host and core tools"
_originally posted by @Francisco-Gamino in https://github.com/Azure/azure-functions-core-tools/pull/2987#issuecomment-1069406086_

Reply by me:

[2022-03-17 19:13] juleedev commented on #2988
OK.  That's makes more sense.  Thanks for the clarification.

Ok that's an interesting comment.   This new project also just has http triggers, but in one of the methods, in addition to writing to the queue that's defined in the methods signature, we also write to another storage table that we manually connect to using the Azure.Data.Tables library.   So maybe that's why this function is including

[2022-03-17 19:19] jenyangk commented on #2989
Can confirm that this is happening for me too. Also running on the same Core Tools and Function Runtime version.

Thanks @xagon for that quick fix.

[2022-03-17 21:09] ejizba commented on #2989
Thanks for the report folks, we'll get this addressed as soon as we can. I can repro the error behavior for both `null` and a valid keyvault string - I tested with the example [here](https://docs.microsoft.com/en-us/azure/app-service/app-service-key-vault-references#reference-syntax)

One question for @j0hnth0m - when you say "yes they were working before", I assume you just mean they didn't _bloc

[2022-03-17 21:15] j0hnth0m commented on #2989
Yes, that's right, it wouldn't block.  I have a separate component that will resolve the keyvault reference later on.

[2022-03-17 21:49] j03INTHECLOUD commented on #2989
I do a similar thing and ya this has totally broken our code. It does work if you have the guid after the secret name, but no one wants to have keep track of the secret guid version, please roll this change back.......

[2022-03-18 14:03] j03INTHECLOUD commented on #2989
In the meantime is there an easy way to rollback to a version of the function core tools that does not have this issue?

[2022-03-18 14:31] j03INTHECLOUD commented on #2986
Is there a way to turn off the KeyVaultReferenceManager it missing with our app settings?

[2022-03-18 14:45] Going-Gone commented on #2989
I log on today, and can't even run my function app locally because of this. On the first run, it wanted to download a new cli version, and ever since then i have this issue.

[2022-03-18 15:04] aegpoadan commented on #2989
Current workarounds would be:

Do not put a null value for an appsetting and/or include the version specifier for a KeyVault reference a la
"@Microsoft.KeyVault(SecretUri=https://myvault.vault.azure.net/secrets/mysecret/versionIdentifier)"
or use the alternate key vault reference syntax:
"@Microsoft.KeyVault(VaultName=myvault;SecretName=mysecret)"

[2022-03-18 15:06] aegpoadan commented on #2989
If you are not using key vault references anywhere, then I suspect there's a null value in your appsettings. This PR: https://github.com/Azure/azure-functions-core-tools/pull/2991 should fix the issue

[2022-03-18 15:08] Going-Gone commented on #2989
my local.settings.json file has no null values though, so would it be that i'm missing a setting somewhere that was previously needed?

[2022-03-18 15:13] j03INTHECLOUD commented on #2989
Looks like the [#2991](https://github.com/Azure/azure-functions-core-tools/pull/2991) build is failing

[2022-03-18 15:22] Ovis commented on #2989
In my environment, the same phenomenon occurred when the contents of ConnectionStrings are nested.

e.g.)
[code]

[2022-03-18 15:29] Going-Gone commented on #2989
This was the fix for mine.

[2022-03-18 18:15] davidmrdavid commented on #2632
@liliankasem: no luck, and unfortunately I don't own this feature. Let me reach out internally to you about this.

[2022-03-18 19:26] ejizba commented on #2989
Hi folks, we rolled back the change on this. If you're using a tool like Visual Studio, it should automatically change you back to the old version of core tools within the next few hours. I don't know the internals of VS, but my guess is you may need to restart VS to make this happen

[2022-03-18 20:01] j0hnth0m commented on #2989
No long having an issue with v3 however v4 is still experiencing the issue...

Azure Functions Core Tools
Core Tools Version:       **4.0.4385 Commit hash: N/A  (64-bit)**
Function Runtime Version: 4.1.3.17473

[2022-03-18T19:59:27.154Z] Found C:\work\sig\Azure\functionsapps\fa-config-test\xxx\xxx.ConfigTest.csproj. Using for user secrets file configuration.
**Key Vault Reference format invalid:**

[2022-03-18 22:23] annzho commented on #2632
I believe the work for the 2018 PR https://github.com/Azure/azure-functions-core-tools/pull/789 was abandoned. Maybe @glennamanns can confirm?

[2022-03-19 16:35] tomanizer commented on #823
same issue in March 2022. Still no fix or workaround or idea for this?

[2022-03-20 15:19] poly-mole commented on #2350
It worked for me. If you run the `func start --verbose` one can see where bundle file is being downloaded from.

[2022-03-21 04:09] chrisc96 opened #2993 "Netty and Go critical Vulnerabilities in azure-functions-core-tools-3 & 4"
**Describe the bug**

Hello,
I am creating a docker image which is using the 'azure-functions-core-tools-3' package. Minified Docker snippet below:

[code]

We are using Twistlock (Prisma) to scan our images which does in depth container scanning. It has identified the following **critical** CVEs in this package:

<html>
<body>

component | affected version | vulnerability | severity | fixed-in
--

[2022-03-21 16:00] j0hnth0m commented on #2989
Still experiencing the issue.  What is the rolled back version?

Azure Functions Core Tools
Core Tools Version:       3.0.4378 Commit hash: N/A  (64-bit)
Function Runtime Version: 3.4.2.0

[2022-03-21T15:59:23.973Z] Found ... Using for user secrets file configuration.
**Key Vault Reference format invalid: @Microsoft.KeyVault(SecretUri=https://myvault.vault.azure.net/secrets/mysecret)**

[2022-03-21 20:47] cristobal commented on #2889
Aight will look into it this week, sorry did not see this reply before now.
Been a bit busy at work and drown in Github messages need to get better focus and notifications here somehow 😂

[2022-03-21 22:49] mattchenderson opened #2995 "Publish command should block .NET Standard 2.0 worker going to Linux app"
This item is pending a future version of the .NET worker which supports .NET Framework.

In that model, we will want to make sure that it is published only to Windows. This behavior should mirror the restriction for Python only being published to Linux.

[2022-03-22 11:55] mcnkbr commented on #2993
I am dealing with the same vulnerability on azure-functions-core-tools-2.

**Summary**
Netty codec/src/main/java/io/netty/handler/codec/compression/Lz4FrameEncoder.java Lz4FrameEncoder::finishEncode() FunctionBuffer Overflow

**Component**
gav://io.netty:netty-codec:4.1.34.Final - Fixed version : 4.1.66.Final

[2022-03-22 18:18] michaelpeng36 commented on #2986
@j03INTHECLOUD is this in reference to issue #2989 or a separate question? If it is the former, then the relevant change should be rolled back. If it is the latter, then this should be mentioned in a separate issue.

[2022-03-22 18:33] michaelpeng36 commented on #2993
@chrisc96 Thanks for raising this issue. PR #2996 should handle the Go-related vulnerabilities in Core Tools V4, and this change will be backported to V3. For the Netty vulnerabilities, [this issue](https://github.com/Azure/azure-functions-java-worker/issues/536) would track the relevant work item for the Java worker. Once that change has been completed, the corresponding release of the Java worke

[2022-03-22 19:20] chrisc96 commented on #2993
Cheers for the swift response Michael, happy to help test 😊

[2022-03-24 20:00] #2981 closed

[2022-03-24 20:35] justinmchase commented on #2251
When I run `func host start` nothing restarts, how do you get it to restart?

[2022-03-25 13:25] bonsenz commented on #2901
Hey everybody,

Anybody who has trouble starting the Azure Function via console should check if your _Azure Functions Core Tool_ is compatible with your .NET Core version. For example _Azure Functions Core Tool 3.1_ did not work for me with .NET Core 6.x .

**Azure Functions runtime versions overview:**
https://docs.microsoft.com/en-us/azure/azure-functions/functions-versions?tabs=in-process%2Cv4&

[2022-03-25 16:48] liliankasem commented on #2632
I reached out to Glenna about this: the PR was dependent on an EasyAuth refactor what was only available on Linux (this was ~2-3 years ago) and our team was concerned about taking a dependency on dotnet - which is no longer a concern now considering how much things have changed :)

Glenna also confirmed that her PR did work; it would probably be difficult to rebase but we could start over and use

[2022-03-27 17:38] f1x3d commented on #2825
I created a PR to resolve this issue inside the functions tooling: #3000

In the meantime, if you want an immediate fix on your project's side, I also created a helper program that does that.
It is published as a [NuGet package Az.Functions.MetadataToJson](https://www.nuget.org/packages/Az.Functions.MetadataToJson) ([repo on GitHub](https://github.com/f1x3d/Az.Functions.MetadataToJson))

Just add

[2022-03-28 14:52] jignaj-Hatch opened #3001 "Failed to create the task hub: DurableTask.AzureStorage.Storage.DurableTaskStorageException"
Hello,

I have migrated my Azure functions project from .Net Core 2.2 to .Net Core 3.1. So, I have also updated other nuget packages to support .Net Core 3.1. After that, when I run my functions project it loads all the functions and after loading it fails continuously with below error.

 General error: Failed to create the task hub: DurableTask.AzureStorage.Storage.DurableTaskStorageException: Th

[2022-03-29 05:38] LukeBolly commented on #2959
I just hit this today, with no code changes on my end. Confirmed that running Azurite outside of VS has fixed it, but updating the version in VS should really be high priority, even if its just pushing it to a minor patch.

Ideally we have the option to set the Azurite version in VS ourselves?

[2022-03-29 18:00] michaelpeng36 opened #3002 "Update Dockerfile templates for Core Tools V4"
Currently, Dockerfile templates in Core Tools V4 point to Functions V3 images. For example, see [here](https://github.com/Azure/azure-functions-core-tools/blob/1097e023032e2d8d37ccfe86570b1e5c4fd3f61f/src/Azure.Functions.Cli/StaticResources/Dockerfile.powershell#L3). This should be updated according to what is shown on the [Docker repository](https://github.com/Azure/azure-functions-docker).

[2022-03-31 15:18] stephen776 commented on #2901
@bon

Same issue here

[2022-04-01 14:04] MarkTensenSgt commented on #1031
would love this implemented as well!

[2022-04-01 14:21] abouroubi commented on #1031
@anthonychu any news on this ? It's been 3 years ...

[2022-04-01 18:03] michaelpeng36 commented on #3001
@jignaj-Hatch, what version of Core Tools are you using? @davidmrdavid do you happen to have any context on this issue?

[2022-04-01 18:14] michaelpeng36 commented on #2978
@pseabury Are you still encountering this issue when creating a Function app with Visual Studio 2022?

[2022-04-01 18:43] paul-datatech911 commented on #2978
@michaelpeng36 - I just tried again and it worked.   No clue.  I haven't changed anything between then & now.

[2022-04-01 21:03] jignaj-Hatch commented on #3001
Thank you so much for responding. I was using old Core Tools. So, I have updated the core tools and it started working.

[2022-04-01 21:03] #3001 closed

[2022-04-02 06:54] CarlosGomesMarel opened #3007 "Cloud Azure Function Did not find any initialized language workers"
Azure Function startup errors in Azure Portal only.

**Did not find any initialized language workers
It was not possible to find any compatible framework version
The framework 'Microsoft.AspNetCore.App', version '6.0.0' (x64) was not found.**

The function runs locally.

**Project file:**
[code]

**Dockerfile:**
[code]

**Azure Function Template**
[ipapi.json.txt](https://github.com/Azure/azure-fu

[2022-04-02 11:23] samsutherland commented on #2876
Thanks Johnny - reinstall fixed it for me too

[2022-04-04 08:37] janisBerz opened #3008 "Function deployment failed - Failed to sync triggers for function app '***'. Error: BadRequest - Encountered an error (ServiceUnavailable) from host runtime. (CODE: 400)"
Hi team,
Ever now and then we have failed deployment from Azure DevOps with the following error:
[code]
When re-running the deployment it goes through on the second attempt but this is annoying especially when we deploy in Production.

This is a Linux Consumption Plan function.

[2022-04-04 15:39] BadgerCap opened #3009 "Azurite - Ability to Configure Blob/Queue/Table ports"
Using Visual Studio 2022 to create a .NET 6 Azure Function that uses Storage Emulation for local development.  When the project is opened, I get the following error:

[code]

This PC already has a service using 10001 that cannot be stopped.  I cannot find where I can configure starting up Azurite with a different port.  What I have found as a workaround is to start Azurite manually and give it a d

[2022-04-04 18:27] ca1ebd commented on #3001
@jignaj-Hatch How did you update your core tools? I installed the new one via the msi installer, but can't get Visual Studio to use the new versions when I run the project

[2022-04-05 08:45] fowl2 opened #3013 "C++ 2013 Runtime Dependency not bundled/documented"
Without the [Visual C++ 2013 runtime](https://docs.microsoft.com/en-us/cpp/windows/latest-supported-vc-redist#visual-studio-2013-vc-120) installed, attempting to run a Azure Functions v1 project will result in an error similar to this:

[code]

`edge_nativeclr.node` is part of https://github.com/tjanczuk/edge, some sort of bridge between .NET and Node.js (not to be confused with [Edge](https://www

[2022-04-07 03:48] tech-run opened #3018 "Typescript: No connection established"
Hi All
I'm New to azure-function-core-tools package.

Created a basic off MS site however unable to launch Azure Function as the following error occured (No connection established). The  Azure Function is coded within Node as a Typescript Application.
local.setting.json displayed below.

[code]

local.setting.json file:
[code]

[2022-04-07 13:30] rish501 opened #3019 "Unable to load shared library - MacOS/Linux x64"
OS: Mac OS 11.6.5 (Intel x86-64) / PopOS 2110
Installed latest version of Azure Functions Core tools. (v4)
Using Microsoft.Data.Sqlite in azure functions project with HTTP trigger.
When attempting to connect to Database receiving following error:

`System.Private.CoreLib: Exception while executing function: test. Microsoft.Data.Sqlite: The type initializer for 'Microsoft.Data.Sqlite.SqliteConnecti

[2022-04-07 21:22] michaelpeng36 commented on #3018
@tech-run Are you doing something to alter `localhost` on your machine? It seems the first line `[2022-04-07T03:38:29.421Z] Configured Uri (http://127.0.0.1:20124/) does not match actual Uri (http://127.0.0.1:20055/).` may be related to the root cause of your issue.

[2022-04-07 21:25] michaelpeng36 commented on #3013
@fowl2 Thanks for surfacing this. Based on [this document](https://docs.microsoft.com/en-us/azure/azure-functions/functions-versions?tabs=in-process%2Cv4&pivots=programming-language-csharp), Azure Functions V1 is in maintenance mode. Would it be possible to move to Azure Functions V4 for your use case?

[2022-04-07 21:30] michaelpeng36 commented on #3009
@BadgerCap Could you specify the port in the app setting AzureWebJobsStorage, as described [here](https://docs.microsoft.com/en-us/azure/storage/common/storage-use-azurite?tabs=visual-studio#http-connection-strings)?

[2022-04-08 00:34] Charles-Gagnon opened #3022 "`PlatformNotSupported_DataSqlClient` when running non-.NET function with SQL binding"
Sample project to use as a repro : [JsFunc.zip](https://github.com/Azure/azure-functions-core-tools/files/8447634/JsFunc.zip)

1. Start with basic JS function (Http trigger in my example case)
2. Add SQL binding through `func extensions install --package Microsoft.Azure.WebJobs.Extensions.Sql --version 0.1.223-preview`
3. Add binding to function.json, such as this
[code]
4. Run `func start`
5. Tri

[2022-04-08 00:35] Charles-Gagnon commented on #3022
@brettsam Here's the issue I was talking to you about

[2022-04-08 22:30] cloudydemos opened #3023 "func kubernetes deploy: System.NullReferenceException thrown by KedaV2Resource.GetDurableScalar"
I am trying to deploy a KEDA Function for the first time just following the docs but am getting an exception.

Steps I followed (Ubuntu 18.04.6 LTS VM with az and docker installed, kubectl configured):

1. sudo apt-get install azure-functions-core-tools-4
2. func kubernetes install --namespace keda
3. sudo snap install dotnet-sdk --classic
4. git clone https://github.com/cloudydemos/flightaware.gi

[2022-04-08 23:00] #2978 closed

[2022-04-09 12:22] developersamim commented on #2876
When I am trying to start my function app with this command "func start". It throws error "Failed to initialize CoreCL". This problem occurs when creating a new project with command line in Mac

[2022-04-11 20:43] tech-run commented on #3018
I've checked hosts file and removed all references to localhost. However no sucess.  I have an IIS server running however have stopped this while trying to start Function Tools. Whe the function app starts is creates a SCNoification process with a Sub process of Background IntelligentTransferService.

[2022-04-11 21:07] kentongray commented on #2834
I went through a lot of steps to try to get this working and figured I'd share what I did to fix this error

`cygrpc.cpython-39-darwin.so' (mach-o file, but is an incompatible architecture (have 'x86_64', need 'arm64e'))`

I found that I had an ARM build in
`/opt/homebrew/lib/python3.9/site-packages/grpc/_cython/cygrpc.cpython-39-darwin.so`

copied it to

`/opt/homebrew/Cellar/azure-functions-core

[2022-04-12 08:14] tomconte commented on #2600
I get the same error with v4:

Core Tools Version:       4.0.4426 Commit hash: N/A  (64-bit)
Function Runtime Version: 4.1.3.17473

[code]

[2022-04-12 18:24] ejizba opened #3025 "Python publish fails while parsing build_summary"
A change is rolling out in Azure that causes the following error when deploying with `func azure functionapp publish`. This happens for apps using remote build on Linux, which is only Python apps by default.

<details>
<summary>Full logs</summary>

[code]

</details>

## Workaround

The best workaround is to simply ignore the error. The deploy should have continued regardless and you can check the

[2022-04-13 12:50] GoranRajicHowden opened #3026 "Date formatting between different trigger types"
I am experiencing some inconsistency in data processing when using different azure function trigger types. In the logs, I am presenting 2 azure functions that are just logging one date property of the input data - one function is httpTrigger type and the other one is eventGridTrigger type. Input value of that date is '2021-05-05T09:06:44.000Z'.

    Azure Functions Core Tools
    Core Tools Versio

[2022-04-13 21:26] #2544 closed

[2022-04-15 02:00] #3009 closed

[2022-04-15 02:38] vellala2000 commented on #2894
I also wasted an hour of my time debugging this issues. seems like when i am on corporate vpn, there is a network traffic restriction and it worked fine as soon as i disconnected vpn

[2022-04-15 05:34] horihiro opened #3028 "Versions and display text of Azure Functions Core Tools in apt repo"
As the following screenshot, some of the versions and display text of core tools in apt repo are wrong
![image](https://user-images.githubusercontent.com/4566555/163525405-3e65323c-bf20-42b4-acac-6a4c6c2b80aa.png)

I suppose that the followings are correct.

[code]

[2022-04-17 16:59] devlead opened #3029 "Add install instructions for v4 using chocolatey"

[2022-04-18 20:07] a3y3 commented on #1239
Seems like this works already out of the box on Visual Studio? Not sure how the IDE does it under the hood but it has a hot reload button that applies the changes in less than a second.

[2022-04-19 17:52] ejizba commented on #2834
Just a quick update - we did an initial release of arm support through npm a few weeks ago, but ran into issues because Apple Silicon has [stricter requirements](https://eclecticlight.co/2020/08/22/apple-silicon-macs-will-require-signed-code/) for arm64 binaries than x64 binaries. I'm waiting to update brew to reference the arm64 bits until I can fix that issue. I've got it fixed in a local branch

[2022-04-19 22:00] michaelpeng36 commented on #2841
Resolved.

[2022-04-19 22:00] #2841 closed

[2022-04-19 23:40] cgillum commented on #163
I ran into this issue on a new Windows 11 machine with VS 2022 using the Azure Functions Core Tools. For anyone else that runs into this issue, I can confirm that installing the old Visual Studio 2013 C++ Redistributable Package fixed the issue. Here is the download center link: https://www.microsoft.com/download/details.aspx?id=40784.

Make sure to choose the **x86** version, as shown in the scre

[2022-04-20 10:57] DenzoNL commented on #2860
I also ran into this issue today with Ubuntu 22.04. Falling back to the Focal version also worked for me, in case anyone else has this issue. Official support would be nice though :) If there's anything I can do to help, let me know

[2022-04-20 12:00] abd-shouman opened #3032 "How Azure Function Worker 'AzureFunctionsRpcMessages' selects its port? Is it customizable"
I am running Azure Function locally on an Ubuntu machine using VSCode Azure Function Extension.

I created a local function, which runs on the default port `7071`.

However, I notice the following message indicating that another port is being used by what seems to be a python grpc

[code]

The port used here (`34447` in this case) keeps changing every time I run my function (also checked other iss

[2022-04-20 19:12] ivyfae commented on #1409
I'm having this issue when trying to debug a functionapp in Rider 2021.3.3.

Running it using `func host start` works fine. Running using `func host start --dotnet-isolated-debug` and then selecting "Attach to Process" crashes dotnet. Idk if that's related or not.

[code]

[code]

[2022-04-20 20:58] fabiocav commented on #2632
@mattchenderson can we discuss this? It would be good to understand if this is something we should consider and identify blockers. Thanks!

[2022-04-20 21:13] anthonychu commented on #2632
Also take a look at Azure Static Web Apps CLI. We took a different approach there as we found that most customers don't need (or want) to set up a real identity provider locally. What they really wanted was to be able to test authenticated code paths easily, meaning having the `/.auth` routes available, making it easy to impersonate a user and set claims, and have those flow correctly as headers t

[2022-04-21 16:16] Krish007na opened #3034 "Getting error when using IoT hub trigger in azure function app."
I have created IoThub and provided it's eventhub compatible connection string in connection. Still it is giving me an error as- "Azure.Messaging.EventHubs: The path to an Event Hub may be specified as part of the connection string or as a separate value, but not both.  Please verify that your connection string does not have the `EntityPath` token if you are passing an explicit Event Hub name. (Par

[2022-04-21 18:47] #3029 closed

[2022-04-22 19:58] fmilagres commented on #2600
same here...

[2022-04-25 12:29] mribrgr commented on #2834
Thanks to the solution from @natdan I also got the build running locally.
Afterwards I had a problem with openssl, I fixed it adding the symlinks:

[code]

[2022-04-27 09:54] LucasOleksak commented on #2600
Hi, I also get this error with v4:

Found Python version 3.9.9 (python3).

Azure Functions Core Tools
Core Tools Version:       4.0.4483 Commit hash: N/A  (64-bit)
Function Runtime Version: 4.1.3.17473

[2022-04-27 11:30] ArunasFalcon commented on #2301
I've run into the same issue. Thanks @mikegoatly for the suggestion to add the SP with contrib at the sub level. In my case it is already assigned there (via a group). I'll continue testing around...

[2022-04-27 11:41] ArunasFalcon commented on #2301
I stand corrected. It does indeed work if the service principal is directly assigned as contributor on the subscription. We previously had it assigned to a group which was in turn set as contributors on the subscription, that doesn't work.

[2022-04-28 03:17] mbassett commented on #3025
This seems to be fixed in the 3.0.4502 release

[2022-04-28 08:27] lara-ec opened #3037 "Build for ubuntu 22.04"
Hi,
when can we expect a build for Ubuntu 22.04? I'm worried that the build for previous versions won't work properly because of the switch to openssl 3
Thanks!

[2022-04-28 10:06] BobStanneveld opened #3038 "msi installer throws 'username' is no valid short filename and exits"
Hello,

I've tried the version 3 and 4 MSI installer. I've downloaded the version 4 through the following page: https://docs.microsoft.com/en-us/azure/azure-functions/functions-run-local?tabs=v4%2Cwindows%2Ccsharp%2Cportal%2Cbash

The MSI (both versions) throw the following error:
![MSI error](https://user-images.githubusercontent.com/21099369/165729177-2a2d0e43-aa38-4ccc-b724-d11231327e2c.png)

I

[2022-04-29 15:13] BobStanneveld opened #3039 "Getting a 'Unable to find project root' error"
Version: 4.x
IDE: Visual Studio 2022 Community Edition, using the C# and Azure workloads
v4 installed through the NPM

I've created a Azure Function project from the template (Http trigger). I want to test this on my local computer, so I type 'func start' in the package manager console. The following error is displayed:
![image](https://user-images.githubusercontent.com/21099369/165973140-947afedd

[2022-04-29 22:34] fanshaoshan opened #3042 ""func host start" ignore venv and uses global python interpreter"
When developing azure function using python, any new packages added to requirements.txt cannot be found when debugging locally. It will always cause "Module not found" error, deploy to cloud has no issue.

I did some tests, and it turns out that even in a venv, but "func host start" will still use the global interpreter

Here are the steps to reproduce this. Using git-bash, same result when using

[2022-04-29 22:54] fanshaoshan commented on #3042
Seems this is related to how python has been installed.

When install python from MS Store, if always has issue, but I tried to download python from python.org and install from MSI, issue gone.

[2022-04-30 07:45] katergin opened #3043 "Need to explicitly install extensions to execute Durable Function"
**What I did:**
I created a durable function following the official "quickstart" tutorial from [here](https://docs.microsoft.com/en-us/azure/azure-functions/durable/quickstart-js-vscode) without any alterations.

**What happened:**
When testing the function locally (whether connecting to actual Azure Storage or using Azurite emulator), I got stuck at:

[code]

After about 30-60 s, I received a `Va

[2022-05-02 00:36] chrisc96 commented on #2993
Hi @michaelpeng36,
Looks like a new release of [azure-functions-java-worker](https://github.com/Azure/azure-functions-java-worker/releases/tag/2.2.3) has been released that contains the fixed Netty vulns.

[2022-05-02 21:45] SOFSPEEL commented on #2825
I added Az.Functions.MetadataToJson to my project and am still getting just a secret in deploy.yaml
using this command

`func kubernetes deploy --image-name "blah.azurecr.io/resizer:v1" --dry-run > deploy.yaml  --name resizer`

deploy.yaml

[code]
I also tried the  --dotnet-isolated approach and it had same issue.

My csproj is as follows:

[code]

Does this perhaps have something to do with my pr

[2022-05-02 23:05] SOFSPEEL commented on #2825
@

I was getting the same problem, issue was that my **image was not properly built**.

[2022-05-02 23:36] f1x3d commented on #2825
@SOFSPEEL The `mcr.microsoft.com/azure-functions/dotnet:4` image you mentioned is for non-isolated function apps.

The issue described here only affects isolated functions since the `functions.json` file is not generated for isolated funcs during the build process, and the current version of CLI tools uses information from this file to generate deploy yaml.

Though [the band-aid mentioned above](h

[2022-05-03 15:24] athinton commented on #1031
Yes - I'm pretty new to python, but it seems that conda is the superior environment and package manager over pip and venv.  It is disappointing that we have to resort to using docker images to utilise the best tools for the job.

+1 from me to include this feature in Azure Functions.

[2022-05-03 18:45] cnkeats commented on #2901
I am having the same issue - can't build on M1 but works fine for other machines. Commenting in hopes of being notified about a solution.

[2022-05-04 09:33] Codesleuth commented on #2901
I'm hitting this same M1 Mac specific issue when trying to set up a custom devcontainer in VSCode with functions core tools running inside the container.

[code]

Side note: someone typo'd "environment": `environemt`

Hoping this comment will help gravitate more searches to this issue.

[2022-05-05 07:54] tomkerkhove opened #3045 "Use KEDA v2.7"

[2022-05-05 12:03] SandeepMattoo commented on #2959
Just for everyone's info.

I am facing same issue.

I was on VS17.1.1  - just updated to VS17.1.6. No difference, I still get the error.

will try updating Azurite :)

[2022-05-05 17:43] apawast commented on #3043
@katergin could you please share what's in your host.json file? Are you using extension bundles?

[2022-05-05 17:47] apawast commented on #3042
@gavin-aguiar @vrdmr could you please help investigate this?

[2022-05-05 17:50] apawast commented on #3038
@BobStanneveld do you have any non-alphanumeric characters in the username? Or can you share your username?

[2022-05-05 17:53] apawast commented on #3037
Hi @lara-ec thank you for opening this issue! We have added this issue to our backlog and should have a better idea of an ETA in a few weeks.

[2022-05-05 17:56] apawast commented on #3034
@Krish007na can you share which tokens you passed in with your connection string?

[2022-05-05 18:03] apawast commented on #3032
@abd-shouman port being selected is not customizable. Please note that this communication is scoped to the local host only.

[2022-05-05 19:06] BobStanneveld commented on #3038
Hi Apeksha Awasthi,

My username is 'bobstanneveld'. So there are no non alphanumeric characters in my username.

Best regards,
Bob

[2022-05-05 19:07] BobStanneveld commented on #3038
Hi Apeksha Awasthi,

My username is 'bobstanneveld'. So there are no non alphanumeric characters in my username.

Best regards,
Bob

[2022-05-05 21:45] justinmchase commented on #3043
I am experiencing this issue also, can you list the `<PackageReference>`s you needed to install to make it work?

[2022-05-06 08:39] qTipTip commented on #3025
Hello!

We are also getting this error. Trying to install `az-functions-core-tools-3` on a Debian-10 image. However, it seems like the releases are not available. Doing an `apt search` yields the following:

[code]

Seems like `3.0.3904` is the latest version available on debian.
How can we resolve this as quickly as possible?

[2022-05-06 18:32] michaelpeng36 commented on #3025
@qTipTip Could you try running `apt install azure-functions-core-tools=3.0.4502-1`? @staritjari, could you try installing `azure-functions-core-tools` rather than `azure-functions-core-tools-4`? Also, what regions are your apps in?

[2022-05-06 19:55] mbassett commented on #3025
For Ubuntu, @staritjari   grab it out of the Microsoft repository.
https://packages.microsoft.com/ubuntu/18.04/prod/pool/main/a/azure-functions-core-tools-4/

On Fri, May 6, 2022, 11:32 AM Michael Peng ***@***.***> wrote:

[2022-05-06 21:29] burhan opened #3048 "typo in output"
There is a typo in the output when `setenv()` settings are ignored:

`Setting unsupported .NET environemt variables (empty string) is not implemented for this platform.`

[2022-05-07 00:09] #3048 closed

[2022-05-09 03:38] aiden-liu commented on #3018
Is there any solution yet? Cause I'm having the same issue, with no proxy and running inside a VM.
Version info as below:
- func: 4.0.4483
- node: v16.14.0
- typescript: 4.6.4

[2022-05-09 03:57] tech-run commented on #3018
Unfortunately just setup a new VM.

[2022-05-09 04:01] Krish007na commented on #3034
The connection string is the once generated on IoT hub as 'Eventhub Compatible'. We are simply using it. It works with function app v3 and core 3.1. Refer following connection string for more details -
![image](https://user-images.githubusercontent.com/13658948/167338363-abf57eb5-0c88-49d3-b8f6-bbbc019d92a5.png)

[2022-05-10 08:57] Planche95 opened #3051 "Your Azure Function App has 'FUNCTIONS_WORKER_RUNTIME' set to 'dotnetIsolated' while your local project is set to 'dotnet'."
Hi I'm having trouble with azure function version ~4, with dotnetisolated.

Im using gitlab pipeline with script:

[code]

my function app configs:

![image](https://user-images.githubusercontent.com/18653765/167589676-925a74d2-ce55-4203-aabe-8ebef187bd34.png)

I tried solution from here: https://github.com/Azure/azure-functions-core-tools/issues/2524

But it doesn't work for me, I also tried runn

[2022-05-10 09:56] ajkimberley commented on #2252
Has there been any progress on this issue? Or is there a recommended work-around? We're currently trying to incorporate a Function App into our existing ADO Build Pipeline and this is blocking us at the moment. Cheers.

[2022-05-10 23:40] michaelpeng36 commented on #3045
Resolved by #3046 and #3047

[2022-05-10 23:40] #3045 closed

[2022-05-12 08:39] jbt-jaime opened #3054 "local.settings.json not loading before pip install?"
Hello,

I believe this is an issue with the Azure Functions Core Tools in VSCode, or perhaps it is a non-documented, unintuitive effect when locally debugging with F5. This is regarding Azure Functions written in Python and trying to install a private library (github), but it's a more general doubt about how `local.settings.json` gets loaded locally.

To confirm, once the function is running, ther

[2022-05-12 19:38] ejizba commented on #3054
I think this is by design. "local.settings.json" is unique to core tools and thus only applies during the `func start` command. Since "pip install" happen _before_ func start, you would have to set the env var elsewhere (and yes tasks.json is a good place).

cc @nturinski from the VS Code side in case he has any thoughts

[2022-05-12 19:58] apawast commented on #3034
@Krish007na can you try removing the entity path token from the connection string? Does that change anything?

@alrod could you please help investigate this?

[2022-05-12 20:02] apawast commented on #3018
@aiden-liu are you still experiencing this issue? Have you tried setting up a new VM?

[2022-05-12 23:00] #3032 closed

[2022-05-13 02:00] #3043 closed

[2022-05-13 06:48] khalistoo commented on #3037
Hi, any update regarding support for ubuntu 22.04

Since the upgrade I am facing following error message when trying to run locally durable functions:

[code]
Which is likely caused, as mentioned earlier, by the move to openssl 3.

I can run simple functions locally by removing:

[code]

But this is not an option for dirable ones as binding will break.

Thanks.

[2022-05-13 07:12] jbt-jaime commented on #3054
Thanks @ejizba for confirming. We can wait on @nturinski's comment but it sounds like this issue can be closed.

[2022-05-13 11:56] aiden-liu commented on #3018
New VM is fine, although without knowing why

[2022-05-13 16:01] asfo commented on #2350
This worked for me...

In case you might be wondering like @Bayurzx where to download the version, you can find it by using `--verbose` like @poly-mole said, here is just a screenshot to find it easier
![image](https://user-images.githubusercontent.com/829964/168322169-dd802933-e9ea-4c95-b2b0-7a12cb9055bf.png)

BUT, to add something extra, when @Niurmiguel said about ".azure-functions-core-tools"

[2022-05-14 20:27] AnatoliB commented on #3026
@GoranRajicHowden If I understand this correctly, in both cases your code is what emits these log messages. I doubt trigger type can influence this. Could you please post your code that logs both messages?

[2022-05-14 23:26] 7hamza commented on #2901
Facing same issue here, any updates please ?

[2022-05-16 07:06] #3054 closed

[2022-05-16 09:10] GoranRajicHowden commented on #3026
- Request body:

`{ "eventTime: "2021-05-05T09:06:44.000Z" }`

- HTTP Trigger azure function:

[code]

- EventGrid Trigger azure function:
[code]

[2022-05-17 12:57] invisibleaxm commented on #2901
Just when i thought i found a way to develop azure functions with pwsh on Mac M1, i ran into this same issue :). Has anyone been able to find a work-around ?

[2022-05-18 16:07] jyotirmay123 commented on #29
Still not available..  Such a shame.

[2022-05-18 18:48] Francisco-Gamino opened #3057 "Improvements to Core Tools builds for testing"
Improvements to Core Tools builds for testing:

1) Currently, we are publishing to storage (https://github.com/Azure/azure-functions-core-tools/blob/v4.x/build/BuildSteps.cs#L598) any Core Tools build when the pipeline succeeds. However, we should only do this when the Core Tools build is produced in a release pipeline.

2) Consider creating a manifest file that includes the version of the nuget p

[2022-05-18 18:48] Francisco-Gamino commented on #3057
/cc @michaelpeng36 @ejizba

[2022-05-19 08:32] Sti2nd commented on #2959
Sad to report that there is no improvement in Visual Studio 17.2.1. Did you not release new Azurite with that version like you said, @vijayrkn?

![image](https://user-images.githubusercontent.com/6373430/169249657-0bec0fd6-b87e-4122-bafb-e98fddf27185.png)

[2022-05-19 10:32] g7crservice-Binni-kumari commented on #3043
But Is there any solution to get rid of this error? I am facing the same issues.

[2022-05-19 13:21] nbjohnson commented on #2993
@michaelpeng36 Just following up on if we are we able to get the java worker fixes merged into this repo? I would really like to be able to use the functions cli without critical vulnerabilities, Thanks.

[2022-05-19 15:15] cretumarius commented on #2901
Facing the same issue, any updates on this?

[2022-05-19 20:34] reubano commented on #2834
@kentongray's solution worked for me.

[2022-05-23 18:51] ejizba commented on #2834
Closing this issue as an arm64 version of core tools can now be installed using either brew or npm! 🎉 Thanks for your patience everyone and sorry for the delay.

Please see the [original comment](https://github.com/Azure/azure-functions-core-tools/issues/2834#issue-1057720894) at the top of this thread to track any remaining work for a particular language, which is handled by a separate feature te

[2022-05-23 18:51] #2834 closed

[2022-05-24 00:19] mrnewrochelle commented on #2959
I started to have the same problem, until yesterday everything was working well, now all the sudden without any changes the Function just won't work. Visual Studio Version 17.2.1.

![image](https://user-images.githubusercontent.com/8885859/169924168-d92ebad8-2f58-489e-91b9-a9d82af4fee8.png)

Any help would be appreciated.
Thanks

[2022-05-24 06:20] Sti2nd commented on #2959
@mrnewrochelle This is a workaround https://github.com/Azure/azure-functions-core-tools/issues/2959#issuecomment-1059322454

[2022-05-24 15:54] reubano commented on #2834
FYI, if you are using `Python` *don't* upgrade. Now I'm running into https://github.com/Azure/azure-functions-core-tools/issues/2834 and my work-a-round doesn't appear to work anymore.

[2022-05-24 18:44] reubano commented on #2834
In case you've already updated, here's the new work-a-round...

[code]

[2022-05-24 19:33] mrnewrochelle commented on #2959
Thanks but that it didn't work for me, I tried before, and I have the last version already.

[2022-05-24 23:00] #3026 closed

[2022-05-25 06:16] OYFEK commented on #2873
I had the same issue. I uninstalled EVERY SDK and runtime .net version also the versions that was used by VS and reinstalled VS2022 that fixed it for me.

[2022-05-25 10:35] akibrk commented on #2060
Any update on this?

[2022-05-25 15:37] Yashuaa opened #3059 "Azure Functions - Disable this log - "Sending HTTP request GET https//....""
Hi,

We make multiple http request, I don't want to see this puke

`Sending HTTP request GET https://www.some-external-api.com....`

How can I disable these logs?

I tried `"logging:logLevel:Microsoft.Azure.WebJobs.Script.WebHost.Middleware.SystemTraceMiddleware": "None"` and it didn't work..

For example I don't want to see these HTTP logs that are similar to this
![image](https://user-images.git

[2022-05-25 20:07] #3028 closed

[2022-05-25 20:07] microsoft-github-policy-service[bot] opened #3062 "This repo is missing important files"
There are important files that Microsoft projects should all have that are not present in this repository. A pull request has been opened to add the missing file(s). When the pr is merged this issue will be closed automatically.

Microsoft teams can [learn more about this effort and share feedback](https://docs.opensource.microsoft.com/releasing/maintain/templates/) within the open source guidance

[2022-05-25 20:35] Yashuaa commented on #3059
bump

[2022-05-26 23:55] michaelpeng36 commented on #3008
@janisBerz Would you be able to create a support ticket for this issue? You may do so through https://azure.microsoft.com/en-us/support/create-ticket/

[2022-05-26 23:57] michaelpeng36 commented on #3007
@CarlosGomesMarel, would you be able to create a support ticket for this incident? You may do so through https://azure.microsoft.com/en-us/support/create-ticket/

[2022-05-27 00:44] vudzero commented on #2901
Same issue here on Apple M1 with the following dockerfile
[code]

[2022-05-27 18:17] mdixon-equinix commented on #2894
I am also seeing this error when attempting to debug my Azure Functions:
Value cannot be null. (Parameter 'provider')

I disabled my corporate VPN, but still have the error. Any ideas on exactly what “network traffic restrictions” could be causing this issue?

Also, I have discovered that if I open the host.json file and remove the “extensionBundle” section from it (shown below), then I am able to

[2022-05-28 00:44] c0g1t8 commented on #823
@tomanizer

I just came across the same issue.  Look under the _Properties_ folder for _launchSettings.json_ . Visual Studio 2022 was overriding the _LocalHttpPort_ in the _local.settings.json_ with the one provided in _launchSettings.json_

I hope that helps.

[2022-05-28 05:22] c0g1t8 commented on #823
Looks like this problem is recurrurrent 🤔. I found the following as well https://github.com/Azure/Azure-Functions/issues/584#issuecomment-343529583

[2022-05-30 06:08] DCMattyG commented on #3037
Hi @apawast, it's been a few weeks so was just checking if you've been able to come up with a better ETA for Ubuntu 22.04 support for the Azure Function tools? Thanks much!

[2022-05-30 09:13] hanjiankang commented on #2876
Reinstalling .Net SDK 5.0 does resolve the issue.

[2022-05-31 21:34] TimMarshAU opened #3064 "Cannot find module user\path\node_modules\azure-functions-core-tools\lib\main.js'"
Hi.
Up until a fortnight ago, local debugging in VS Code (environment below) was working fine until the debugger started detaching. I checked uncaught exceptions and found this to be the cause.

[code]

**I tried** globally reinstalling Functions Core tools via
`npm i -g azure-functions-core-tools --unsafe-perm true`

I then get this
[code]

Like I said, this was working fine a couple of weeks ago

[2022-06-01 15:52] Yashuaa commented on #3059
is anyone out there? *echoes *

[2022-06-01 15:53] Yashuaa commented on #3059
Imagine - a whole week - and not even a comment lol.

[2022-06-03 02:00] #3007 closed

[2022-06-03 02:00] #3008 closed

[2022-06-03 20:01] Yashuaa commented on #3059
hey, its me again

[2022-06-03 23:12] kshyju commented on #3059
Hi @Yashuaa 👋

Where are you seeing this log messages? How does your `Logging` or `LogLevel` settings configured? You should be able to update the log level for any logger category using these settings.

[2022-06-04 04:53] lilyjma opened #3066 "Two jar files in \annotationLib"
Created an Azure Functions project on PowerShell using this command:
`mvn archetype:generate "-DarchetypeGroupId=com.microsoft.azure" "-DarchetypeArtifactId=azure-functions-archetype" "-DjavaVersion=8"`
(following instructions [here](https://docs.microsoft.com/en-us/azure/azure-functions/create-first-function-cli-java?tabs=powershell%2Cazure-cli%2Cbrowser#create-a-local-function-project))

Then hi

[2022-06-04 14:36] Yashuaa commented on #3059
Hi @kshyju . This is in Azure Functions Log Stream... I can't find out how to suppress... I've looked everywhere, I don't think it's possible to suppress just the request garbage and not EVERYTHING under the information category .... does that make sense ?

[2022-06-04 18:55] abhinav-jain09 opened #3067 "Value cannot be null. (Parameter 'provider') while running java function"
for some reason I get this issue suddenly

when I run the mvn azure-functions:run

I get the following error

Referenced bundle Microsoft.Azure.Functions.ExtensionBundle of version 1.8.1 does not meet the required minimum version of 2.6.1. Update your extension bundle reference in host.json to reference 2.6.1 or later.
[2022-06-04T18:39:55.140Z] A host error has occurred during startup operation '

[2022-06-05 17:17] kijewskimateusz commented on #2834
@reubano How are you starting local functions server after uninstalling Azure Functions from brew? After doing so I've lost cli _func_ app

[2022-06-06 01:25] reubano commented on #2834
@kijewskimateusz `npm i -g azure-functions-core-tools@4.0.4483`

[2022-06-06 09:52] kijewskimateusz commented on #2834
@reubano Thank you. Indeed problem was on my side as Node was not being autostarted with new terminal instance. Once fixed (used NVM), everything started working.

[2022-06-06 11:43] TimMarshAU commented on #3064
Hi!

Uninstalled Core Tools (and VS Code, and Node) from Add/Remove programs.

When I run this
`npm i -g azure-functions-core-tools@core --unsafe-perm true`

I'm now stuck on this (I have my URI encoded proxy settings set for npm globally)

[code]

Interestingly, or perhaps not, when I ran the command below

` npm -g list azure-functions-core-tools`

I got

`/usr/lib └── (empty)`

But I managed to

[2022-06-06 21:10] kshyju commented on #3059
@Yashuaa Can your host.JSON, specifically the logging portion of the JSON. Also, Is this is a V3 app or V4? In-proc or isolated?

[2022-06-06 23:20] ejizba commented on #3059
FYI here's a pretty good writeup of how to suppress various logs: https://github.com/anthonychu/functions-log-suppression

In addition to @kshyju's questions - I'm also curious what language this is for? (.NET/JavaScript/etc.)

[2022-06-07 17:39] michaelpeng36 commented on #3066
@lilyjma Do you mind checking which version of Core Tools you have running? How did you install it?

[2022-06-07 17:46] michaelpeng36 commented on #2988
@juleedev Thanks for raising this issue. It doesn't look like this is a feature that we had in the past or would be looking to implement. Is there any further action that you would like from us? Have all your concerns been addressed?

[2022-06-07 17:51] michaelpeng36 commented on #2676
@deepaksahu-perficient @sinedied Are you still facing this issue with the latest version of Core Tools V3 or V4?

[2022-06-07 17:57] deepaksahu-perficient commented on #2676
Hi [michaelpeng36](https://github.com/michaelpeng36), this issue is fixed with latest version of core tool

[2022-06-07 17:57] #2676 closed

[2022-06-07 18:14] Yashuaa commented on #3059
this is .NET 6 C# Azure Function v4 (the latest)

[2022-06-07 20:21] kshyju commented on #3059
@Yashuaa Can your host.JSON, specifically the logging portion of the JSON?

[2022-06-07 21:42] michaelpeng36 opened #3070 "Add documentation for the --model parameter for `func init`"
To support preview programming models, the `--model` parameter was added to the `func init` command. This should be added to the [official documentation](https://docs.microsoft.com/en-us/azure/azure-functions/functions-core-tools-reference?tabs=v2).

[2022-06-07 23:54] #3062 closed

[2022-06-08 07:42] bartsokol commented on #2872
Is there any update on this? We are experiencing the same issue when trying to make a call to blob storage on functions 4 / .NET 6. The workaround with `_FunctionsSkipCleanOutput` works, but it would be great to not be forced to use some workaround flags.

[2022-06-08 16:59] Yashuaa commented on #3059
sure..
[code]

[2022-06-09 13:32] brettsam opened #3073 "Update v4 dotnet-isolated dockerfile to use net6.0"
https://github.com/Azure/azure-functions-core-tools/blob/1080324825eef15e8bcd7618490ab2d68746d649/src/Azure.Functions.Cli/StaticResources/Dockerfile.dotnetIsolated

[2022-06-09 23:10] michaelpeng36 commented on #3067
@abhinav-jain09 Could you provide steps to reproduce this issue? What version of Core Tools are you using (i.e. what is the output when you run `func --version`)?

[2022-06-09 23:13] UnknownJoe796 opened #3074 "`func start` on Linux won't stop upon recieving SIGTERM"
If I execute `func start` on Linux and then send a termination request (`kill -s SIGTERM <pid>`), the local runner will ignore the request.

Sending a termination signal like this should result in the program closing.  Instead, the process stays open indefinitely.

Interestingly, SIGINT works just fine.

I'm running Linux and I've tested this with both a Node project and a Java project.

This is c

[2022-06-10 19:45] nikolaj-kaplan commented on #2685
I have a similar issue. And I can also fix it by removing my call to `AddAzureKeyVault` during startup.
Is there any way to increase the timeout?
I experienced no issues on one laptop. But it started when I cloned the solution to a new laptop.

[code]

[2022-06-13 15:53] daverobinson64 commented on #2812
Any further news on when this will be fixed?

@sven5 and @anthonywhite - when you say you use plain HTTP, did you mean the standard action? And were you calling a durable function with this?

[2022-06-14 20:01] #3066 closed

[2022-06-14 22:56] danielsmolka commented on #3034
Hi, the same for me. After migrated from dotnet core 3.1 to dotnet 6 the whole Azure funcion has stopped working due to the error above. After removing the EntityPath token the function it's stared working, but the IoT Hub trigger has not, it's dead. Please help.