[2020-08-27 19:30] hajekj opened #2180 "Support for Windows on ARM"
Since #1680 got closed without further follow-up, I would actually like to learn more about being able to run the Core Tools on ARM-based Surface Pro X.

I can run .NET Core 3.1 fine including VS Code, but like mentioned in the original issue, the Core Tools for some reason install x64-based version of the core tools. Eventually, there could be a build for arm64 so we could run it on ARM machines?

[2020-08-27 20:38] pcgeek86 commented on #2168
Hello @Francisco-Gamino, I used the Azure Functions extension for Visual Studio Code to create a new PowerShell function.

The `local.settings.json` file contains the following (unmodified):

[code]

When I run `func start`, I see the following in the logs:

[code]

Do you know why it's using PowerShell version 7.0.0 instead of PowerShell 7.0.3 that I have installed via Scoop package manager? It s

[2020-08-27 21:00] Francisco-Gamino commented on #2168
Hi @pcgeek86 -- This is not a supported scenario. The version of PowerShell that runs in Azure Functions ships with the Core Tools. The way we update the PowerShell bits is as follows. First, we update the PowerShell worker to reference the latest version of the PowerShell SDK. From there, we update the Core Tools with the latest version of the PowerShell worker.

Currently, the Azure Core Tools a

[2020-08-27 21:04] pcgeek86 commented on #2168
But you just told me this, in your earlier post:

Now you are telling me this:

These are two conflicting pieces of information. Which is correct?

[2020-08-27 23:37] Francisco-Gamino commented on #2168
Hi @pcgeek86 -- apologies for the confusion. The PowerShell worker repo references `7.0.3`, but this change has not been deployed yet.

Currently, in the Azure Functions service we support PowerShell `7.0.2`, and the Core Tools support PowerShell `7.0.0`. In the next release of the Core Tools, the version will be updated to `7.0.2`.

cc: @stefanushinardi @AnatoliB @anirudhgarg

[2020-08-27 23:49] balag0 commented on #2138
I am not familiar with this url
/resource/subscriptions/<SUB_ID>/resourceGroups/<RG>/providers/Microsoft.Web/sites/<APP_NAME>/logStream

This doesn't look like a published arm api from Microsoft.Web RP so not sure about its reliability either.

[2020-08-28 00:09] AnatoliB commented on #2168
To clarify the confusion, it is important to understand these two points:
1. By design, the PowerShell worker in Functions never uses the standalone PowerShell installed on the machine. The worker uses the PowerShell engine via the PowerShell SDK, not as a separate executable. The worker is self-contained and includes all the necessary PowerShell SDK binaries. The PowerShell version used is entire

[2020-08-28 01:53] soninaren commented on #1970
@gzuber can you please cherry pick changes to v2 - dev branch as well?

[2020-08-29 04:04] jeffhollan opened #2181 "MSI installer doesn't include `func` in the PATH"
After installing using the MSI installer, it doesn't automatically include the `func` executable in the path, so most CLIs and tooling don't know functions is there.  Ideally the MSI would append the path with the path of the install so that a new terminal would work

[2020-08-29 21:52] shaunco commented on #1247
With Azurite running local or in a local Docker, the Azure Functions Core Tools still tries to run "AzureStorageEmulator.exe start", which causes Visual Studio (2019) to hang for about 2 minutes and then finally report that it was unable to start the Azure Storage Emulator _(because the ports are in use)_, and then it refuses to start the functions runtime. All seems good if I change `local.settin

[2020-08-30 22:37] anthonychu commented on #2181
Looks like it does append to the path, but have to restart the PowerShell session to take effect. Perhaps the installer can let people know to do that.

If you're in VS Code, you might have to exit VS Code entirely. And if VS Code was launched from a PowerShell prompt, you might have to restart PowerShell and VS Code.

[2020-08-30 22:53] jeffhollan commented on #2181
Hmm I thought I tried a new powershell session and it still wasn’t picking it up.  I can check out the PATH it did create.  Not sure if I did anything that would throw it off - and possible I didn’t fully create a clean session.  I’ll confirm before we triage.  Thanks for the info though

[2020-08-31 01:31] jeffhollan commented on #2181
Yep - not sure what my problem was before but it's in the path and works fine

[2020-08-31 01:31] #2181 closed

[2020-08-31 15:53] pomarc opened #2182 "function.json not found on durable function run on kubernetes"
my steps:
I have a docker-desktop k8s cluster working, with KEDA installed.

1) installed func tools v3
2) `func init --docker --working-runtime dotnet`
3) opened the .csproj with vs2019, added new durable function, Function1, with default demo content (Hello)
4) tested the app with F5, all in order
5) modified the Dockerfile produced by func to awiod missing webhooks error, added
` ENV WEBSITE_HO

[2020-08-31 16:21] #2168 closed

[2020-08-31 18:00] neckhaus commented on #2163
Updated VS Code to 1.48.2.  No change.  Still fails to publish with the same error.

[2020-08-31 21:50] balag0 commented on #2163
@neckhaus I see the app is in stopped state. Could you start the app and try this again and share the timestamp if it is failing again?

[2020-09-01 00:04] mcgjoe commented on #2175
sorry couldn't provide right info to push this forward.  I moved on to try different solution.  thanks for trying to help.

[2020-09-01 00:04] #2175 closed

[2020-09-01 14:26] neckhaus commented on #2163
@balag0 It worked this time.  Thank you.

[2020-09-01 14:26] #2163 closed

[2020-09-01 23:30] jaliyaudagedara opened #2183 "Null reference exception when debugging from VS"
Hi Guys,

I have installed Microsoft Visual Studio Enterprise 16.8.0 Preview 2.1 yesterday and now can't run Azure Functions locally.
![image](https://user-images.githubusercontent.com/5653381/91915862-c003fa80-ed0f-11ea-87a4-c04806faac3d.png)
[code]

Azure Functions Core Tools (3.0.2852 Commit hash: d1c2c8e7dc10a94a399246dda94049a7dbf0383d)
Function Runtime Version: 3.0.14287.0

[2020-09-01 23:33] EricJizbaMSFT commented on #2164
Not based on that info. Sounds like something coming from the Python extension.

@FunnyBlue Where exactly is that error happening? Are there any more logs?

[2020-09-01 23:47] zmarty opened #2184 "Core Tools 3.0.2852 does not print logs when ILogger<T> is used"
Azure Functions 3.0.14287.0
C# .Net Core 3.1
Azure Functions v34
Visual Studio 2019 16.7.2
Windows 10

Symptom: When we log using ILogger those log lines do not show up in func.exe console window anymore when debugging in Visual Studio.

Also opened here: https://github.com/Azure/azure-functions-host/issues/6582

[2020-09-02 00:19] danigomez opened #2185 "Request body with 'Content-encoding: gzip' is bein messed up"
Hello,
I'm currently working on and endpoint that should receive a gzipped body, and it seems that something in the buffer is being messed up

I'm deconding the gzipped body using this middleware
[code]

And testing it with this curl command:

`cat webhook.txt | gzip | curl -v -i --data-binary @- -H "Content-Encoding: gzip" http://localhost:3334`
In this server, which uses **azure-function-express

[2020-09-02 00:23] anthonychu commented on #2184
@zmarty Gave it a try and ILogger lines are outputting for me. Can you share a bit more information about how you're writing the logs?

![image](https://user-images.githubusercontent.com/3982077/91918391-98f9ea00-ec77-11ea-9325-71ff1bfd891e.png)

/cc @pragnagopa

[2020-09-02 00:58] DickSwart commented on #2183
I have the same issue, did not install anything new. Just started happening today.

Microsoft Visual Studio Professional 2019
Version 16.7.2
VisualStudio.16.Release/16.7.2+30413.136
Microsoft .NET Framework
Version 4.8.04084

[2020-09-02 01:02] jaliyaudagedara commented on #2183
it's this line: https://github.com/Azure/azure-functions-core-tools/blob/674ea7a0dd605e6c61349839129596841c1a8f30/src/Azure.Functions.Cli/Common/Utilities.cs#L208
When host.json doesn't have the categoryKey, it's looking for, throws NRE. Should have checked if it exists before accessing?

[2020-09-02 01:08] anthonychu commented on #2183
@pragnagopa Could you please take a look?

@DickSwart @jaliyaudagedara Makes sense that there could be a null ref here, but I can't repro the error. Could you share your host.json?

[2020-09-02 01:14] jaliyaudagedara commented on #2183
@anthonychu, I am able to easily reproduce, just create a new Azure Function App using VS.

[code]
These seems to be the missing keys,
[code]
But can be different based on the function type. Does the local function host pick the common host.json from the local installation?

[2020-09-02 01:22] anthonychu commented on #2185
azure-functions-express is a third party module that we don't officially support. That said, it works quite well for many types HTTP requests. It tries its best to map the HTTP trigger payload from a Node.js Azure Function invocation into an Express request. However, as the request goes through several layers before arriving at the Node worker, what the function trigger receives is a representatio

[2020-09-02 01:44] DickSwart commented on #2183
[code]

[2020-09-02 02:00] pragnagopa commented on #2183
Investigating.

[2020-09-02 02:01] mpnow commented on #2183
I'm having the exact same issue, just started today. I just ran a function app locally that was running fine yesterday. Saw that it briefly flashed "downloading core tools" when it started up, so obviously it updated them. Now my app won't run - I get the same error:

`at Azure.Functions.Cli.Utilities.LogLevelExists(IConfigurationRoot hostJsonConfig, String category) in D:\a\1\s\src\Azure.Function

[2020-09-02 02:16] pragnagopa commented on #2183
Please note that there is a try ... catch  here

https://github.com/Azure/azure-functions-core-tools/blob/674ea7a0dd605e6c61349839129596841c1a8f30/src/Azure.Functions.Cli/Common/Utilities.cs#L206-L213

Until we release a fix for the null ref, when debugging - please select do not break on this exception.

[2020-09-02 02:19] jaliyaudagedara commented on #2183
Yes, that's what I am doing now. But I am wondering, how come this started happening suddenly?

[2020-09-02 02:33] pragnagopa commented on #2183
@jaliyaudagedara

Core Tools version 3.0.14287.0 was just released and VS updates to the latest version automatically.

[2020-09-02 02:34] mpnow commented on #2183
Agreed, that works to get the function running, thanks.

As I mentioned, I saw the Core Tools run an update when I ran my app today. And:
![image](https://user-images.githubusercontent.com/2540658/91924998-1c303580-eca2-11ea-9f9e-74b7ff9f6e09.png)

[2020-09-02 03:19] pragnagopa commented on #2184
@zmarty - please provide a repro and also details on which logs are missing.

Please see details in the https://github.com/Azure/azure-functions-core-tools/issues/2141 for recent changes we made to reduce system logging.

[2020-09-02 03:46] zmarty commented on #2184
I will send you an e-mail with the link to our source code (we are a Microsoft team).

We use two versions of ILogger: One type of ILogger comes as argument or Azure Functions. The other (most common) type is a named ILogger<NameOfClass> which we request through dependency injection in the constructor of the classes which have Azure Functions.

In host.json we have the logging-logLevel set to Info

[2020-09-02 03:56] jaliyaudagedara commented on #2183
Thanks @pragnagopa, that explains it!

[2020-09-02 03:59] zmarty commented on #2184
When I add _start --verbose_ under Debug > Application Arguments in Visual Studio and run a project I see the familiar debug information that used to show up as default from the Azure Functions host.

**However**, our own log lines still do not show up :(

[2020-09-02 07:00] anthonychu commented on #2184
@zmarty Thanks for sharing more information with us.

It appears that this is an issue when `ILogger<T>` is used. If anyone's running into this, please add a `default` log level in *host.json* and set it to `information` while we investigate this. For example:

[code]

[2020-09-02 09:32] petesanderson opened #2187 "3.0.2852 Utilities.cs"
Following an auto-update of the tools, myself and a number of my team are unable to run.

![image](https://user-images.githubusercontent.com/10696106/91964602-3f410080-ed07-11ea-8224-fb535e906c55.png)

This is the exception trace:
`System.NullReferenceException
  HResult=0x80004003
  Message=Object reference not set to an instance of an object.
  Source=func
  StackTrace:
   at Azure.Functions.Cli

[2020-09-02 10:04] Purbasha opened #2188 "Azure Function V3 failes to start - (Parameter 'provider')"
All of a sudden since today my Visual studio 2019 is not able to start any Azure Function V3.

This isteh error I see on screen:
[code]

[2020-09-02 10:06] Purbasha commented on #2188
I uninstalled VS and installed again, however could not mitigate this issue. Kindly help me out what is going wrong here.
Also how can I get more elaborated logs on why the dll is not getting loaded?

[2020-09-02 10:27] djmrky commented on #2187
Same here, it suddenly stopped working ... any workarounds?

[2020-09-02 10:29] djmrky commented on #2183
Same here, can't debug :-(

[2020-09-02 10:30] hasandogu commented on #2187
We have the exact same issue.

Interesting thing is, it starts if we set the function project as the Startup Project but not when we select Multiple Startup Projects from the solution.

Tried setting the LogLevel as instructed [here](https://github.com/Azure/azure-functions-core-tools/issues/2184#issuecomment-685383715) but didn't help.

[2020-09-02 10:35] hasandogu commented on #2187
I have just changed the order of the projects and made the function project to start before all the others and it started working.

[2020-09-02 10:35] Biboulin commented on #2183
Same here, i solved this by running my function app without host.json and run it again with "version": "2.0" ...

Azure Functions Core Tools (3.0.2852 Commit hash: d1c2c8e)
Function Runtime Version: 3.0.14287.0

[2020-09-02 10:49] djmrky commented on #2187
It just started working again, I'm not sure what happened

[2020-09-02 10:49] djmrky commented on #2183
It started working again on it's own

[2020-09-02 10:56] GrigorescuNicolae commented on #2187
Have you changed anything?

[2020-09-02 10:57] petesanderson commented on #2187
Great suggestion - that's worked for us - I would've never have thought of that. We also commonly have multiple startup projects.

[2020-09-02 11:06] GrigorescuNicolae commented on #2187
Have you changed anything?

I only have 1 startup project and still get that error. Any other idea is welcomed.

[2020-09-02 11:55] zencondchaskar commented on #2183
Temporary, copied all from AzureFunctionsTools/Releases/ 3.10.0 folder/files into the AzureFunctionsTools/Releases/ 3.11.0.

![image](https://user-images.githubusercontent.com/68268154/91977727-b3e46100-ed40-11ea-9298-679e7fe7446a.png)

[2020-09-02 12:06] djmrky commented on #2187
I had it as a single project start and then I went into multiple project startup and set only this one project to start and it worked. Then I returned it to how it was (single project start) and it continued to work ... very strange

[2020-09-02 12:52] mrpmorris commented on #2183
I am having this now too.

[2020-09-02 13:21] djmrky commented on #2187
This was not the solution, after restarting the machine, it's not working again ... no debug

[2020-09-02 13:22] djmrky commented on #2183
Well, after restarting the machine, it's not working again

[2020-09-02 13:38] stephanruhland commented on #2183
Same problem here, can only start functions without a debugger.

[2020-09-02 14:14] anthonychu commented on #2187
Looks like a duplicate of #2183

[2020-09-02 14:33] acrov opened #2189 "Massively verbose console output since Core Tools 2.7.2855"
Since Visual Studio updated Core Tools to 2.7.2855 I now have massively verbose console output.  Lots of dark cyan lines everywhere from just about every library I am using.  This was not the previous behaviour. Screenshot of example output below.

I get this verbose output with Information, Debug or Trace default log levels  I might have expected it with Trace although it didn't previously.  Woul

[2020-09-02 14:33] anthonychu commented on #2188
@brettsam do you know what this problem might be?

[2020-09-02 14:37] brettsam commented on #2188
I think this happens when the bitness of an assembly doesn't match the functions host process. Can you share your project file that repros this, and how you are running it? Are you just hitting F5 from VS?

[2020-09-02 14:37] pragnagopa commented on #2187
Closing as this a dup.

[2020-09-02 14:37] #2187 closed

[2020-09-02 14:54] pragnagopa commented on #2174
Address comment : https://github.com/Azure/azure-functions-core-tools/pull/2186#discussion_r482128098

cc @brettsam

[2020-09-02 15:20] acrov commented on #2189
Without any arguments
![image](https://user-images.githubusercontent.com/49073938/92001322-74b11280-ed36-11ea-8db7-279146cec043.png)

With `host start --verbose false`
![image](https://user-images.githubusercontent.com/49073938/92001477-a0cc9380-ed36-11ea-865a-6cf21d346a60.png)

With `host start --verbose true`
![image](https://user-images.githubusercontent.com/49073938/92001544-b6da5400-ed36-11ea

[2020-09-02 15:25] pragnagopa commented on #2189
Thanks. Investigating. Can you please share `host.json`  as well?

[2020-09-02 15:27] acrov commented on #2189
Host.json for first screenshot is as in screenshot i,e.
`{
  "version": "2.0",
  "logging": {
    "logLevel": {
      "default": "Information"
    }
  }
}`

host.json for most recent shots was

`{
  "version": "2.0",
  "logging": {
    "logLevel": {
      "default": "Trace"
    }
  }
}`

[2020-09-02 15:38] zmarty commented on #2184
@anthonychu Thank you for the workaround. It works and we will use it for now.

Couple of things I noticed with this in place:
- I vaguely remember that log lines used to look like this in the past: [Information] Actual log Line      Am I right? I f yes, do you plan to bring back the log level label or it's gone for good?
- Settings logLevel default to Information also re-enables the infrastructur

[2020-09-02 15:39] zmarty commented on #2184
Also, does setting logLevel default to Information change any of the logging done in production through Application Insights?

[2020-09-02 15:41] pragnagopa commented on #2184
Default level is `Information` - setting this explicitly should not change w.r.t. logs in Application Insights

[2020-09-02 15:47] stephenstroud commented on #2183
Same problem - sad times....

[2020-09-02 15:54] pragnagopa commented on #2189
@acrov  - apologies I am having trouble reproing the issue. Can you please share a simple repro here or send it to pgopa@microsoft.com (without sharing any secrets)? Thanks!

[2020-09-02 16:01] anthonychu commented on #2184
@zmarty I think they used to show the timestamp.  See output [here](https://github.com/Azure/azure-functions-core-tools/issues/1131#issuecomment-653171101) (thread also has context on this change).

[2020-09-02 16:01] pragnagopa commented on #2189
Running C# function app with default loglevel set to `Trace` shows following logs (copying sample output):

[code]

Investigating if this a change of behavior from previous core tools versions

[2020-09-02 16:07] mrpmorris commented on #2183
It seems even ignoring the exception is no good, my function app just hangs now.

[2020-09-02 16:10] zmarty commented on #2184
@anthonychu  Yeah maybe. The problem now is that the log lines are an endless river of text, there is nothing separating one log line for another. Can you please add some marker or bring back the old functionality?

[2020-09-02 16:29] acrov commented on #2189
Hi again
Here's a default function app created by the new solution wizard in visual studio community 2019.  My only changes are to downgrade to functions V2 and netcore2.1 and to add "logLevel": {"default": "Trace"} to host.json
[FunctionApp2.zip](https://github.com/Azure/azure-functions-core-tools/files/5163541/FunctionApp2.zip)

Now change into this project and compare startup output of:
`%USERP

[2020-09-02 16:46] pragnagopa commented on #2189
@acrov  - Thanks. Sent a PR with the fix. Will plan for a release soon.

[2020-09-02 17:18] Francisco-Gamino opened #2192 "func start should not recreate the profile.psd1 file if it is not present for a PowerShell function app"

[2020-09-02 17:20] Francisco-Gamino commented on #2192
cc: @AnatoliB @anirudhgarg @stefanushinardi @gzuber

[2020-09-02 18:15] BoutemineOualid commented on #2183
Same issue here

[2020-09-02 19:41] AnatoliB commented on #2192
A note on the impact:

Removing profile.psd1 is a reasonable way to improve cold start time in some scenarios, as invoking even an _empty_ profile.psd1 can take noticeable time. Furthermore, invoking the _auto-generated_ profile.psd1 can take a few seconds.

The user who removes profile.psd1 to optimize cold start time will see the improvement when they just publish this app. However, if they try

[2020-09-02 20:08] ankitkumarr opened #2194 "Fix v1 build issue"
Looks like signing is getting stuck -- see https://ci.appveyor.com/project/appsvc/azure-functions-cli/builds/34608160

[2020-09-02 20:20] pragnagopa commented on #2071
@kashimiz did the initial investigation. Need further investigation to update the core tools build. Moving to next sprint.

[2020-09-02 20:26] ankitkumarr commented on #2134
I am not sure how useful this would be right now. As Anthony pointed out `func start --no-build` doesn't know where the built binaries are, and guessing may not address this every time, and we would end up with a non-deterministic behavior. I also think that this may be a breaking change, as `func start --no-build` may break for users who expect it to run only at the root level.

For now, people s

[2020-09-02 20:44] anthonychu commented on #2134
I was reminded recently that there's a `--prefix` option. I believe VS Code uses this. It should work as well (change the prefix to wherever your build output is).

[code]

[2020-09-02 21:03] anthonychu commented on #1872
@vijayrkn Do you know why this might be happening?

/cc @stefanushinardi

[2020-09-02 21:14] vijayrkn commented on #1872
We have improved this experience in the latest version of Visual Studio (currently in preview 16.8 preview3). We have increased the timeout to download the latest version and made sure that this happening in the back-ground and not impacting the current run.

[2020-09-02 22:14] humbertosantiago commented on #2183
Same here

[2020-09-02 22:16] pragnagopa commented on #2183
cc @soninaren

We are working on releasing new version with the fix.

Until we release a fix for the null ref, when debugging - please select do not break on this exception.

[2020-09-02 22:21] pragnagopa commented on #2174
Also add E2E tests that verify output with following host.json content:
1.
[code]

2. Add explicit log levels:
[code]

[2020-09-03 04:45] Purbasha commented on #2188
[MessageV3.zip](https://github.com/Azure/azure-functions-core-tools/files/5166206/MessageV3.zip)

Attached a sample project. I am getting this error for all Azure V3 Functions (irrespective of trigger types) on my machine, only since yesterday (nothing had changed as per my knowledge).

[2020-09-03 20:37] gabrielweyer opened #2199 "Register an unconfigured TelemetryConfiguration when App Insights instrumentation key is not present"
#### What problem would the feature you're requesting solve? Please describe.

[Log custom telemetry in C# functions](https://docs.microsoft.com/en-us/azure/azure-functions/functions-monitoring?tabs=cmd#log-custom-telemetry-in-c-functions) recommends to inject `TelemetryConfiguration` in order to be able to emit custom telemetry. The runtime registers `TelemetryConfiguration` only when an Applicat

[2020-09-03 20:57] brettsam commented on #2188
I was able to open that and run it. I even sent some messages to the topic and they were processed. I think there was an update to the Core Tools that just went out -- can you try running this again and see if it updates to this version?

[code]

[2020-09-04 00:04] pragnagopa commented on #2189
Fix is merged and new version of core tools is released. @acrov  - please give it a try.

[2020-09-04 00:04] #2189 closed

[2020-09-04 00:49] pragnagopa commented on #2184
Fix is merged and new version of core tools is released.

@zmarty - regading:

Please open a separate issue. Will discuss with @anthonychu

[2020-09-04 00:49] #2184 closed

[2020-09-04 05:20] Purbasha commented on #2188
Updating core tools to the latest release worked. Thank you.

[2020-09-04 05:20] #2188 closed

[2020-09-04 07:37] acrov commented on #2189
That's much better. Looks to be back to normal level of output and performance.  Still has the extra "Stopping the listener... " output on shutdown but that is not a problem at all.

Thank you very much.

[2020-09-04 09:03] IanKemp commented on #2162
Dupe of #2122 I think?

[2020-09-04 09:19] IanKemp opened #2200 "How to get the verbosity of previous versions back?"
I know most people have asked for a way to make `func.exe` **less** verbose, but I was pretty happy with its verbosity. It seems like the latest release (3.0.2881 / runtime 3.0.14287.0) has made it less verbose when run from Visual Studio - which would not be an issue, if (a) this had been recorded in the release notes (b) the release notes provided a way to get the old behaviour back.

When `func

[2020-09-04 09:28] IanKemp opened #2201 "AZURE_FUNCTIONS_ENVIRONMENT isn't set to development locally, isn't respected when manually set"
Tools 3.0.2881 / Runtime 3.0.14287.0

This was previously reported in #1823 and #1834 and supposedly fixed by #1835.

When running `func.exe` from Visual Studio, the following is printed to the console:

[code]

I would expect it to be "Hosting environment: Development".

If I set `AZURE_FUNCTIONS_ENVIRONMENT = Development` in Visual Studio's project properties, the output is the following:

[code

[2020-09-04 12:11] sh3ll commented on #2200
Yes, agree, I have seen that change yesterday and been thinking that maybe I have switched something. For me would be useful to have back full `--verbose` on output. Hopefully it will come with next update.

[2020-09-04 12:40] IanKemp commented on #2200
The bigger issue for me is that the team should not be changing things that affect users, without informing users first. It's made worse by the fact that Visual Studio will always force you to use the latest version of the tools. At the very least, when VS updates the tools, it should also open a web page to the release notes - and those release notes should include information about changes like

[2020-09-04 15:20] anthonychu commented on #2200
@IanKemp Take a look at this to enable verbose logs in VS: https://github.com/Azure/azure-functions-host/issues/6582#issuecomment-685207874

We’ll look into a way to adjust this globally on your machine (perhaps with an environment variable or config). What logs are missing that you’d like to see again? Our goal is to reduce verbosity of system logs but maintain the same level of user logs.

Good

[2020-09-04 15:24] anthonychu opened #2202 "Publish change log when releasing"
https://github.com/Azure/azure-functions-core-tools/issues/2200#issuecomment-687118340

[2020-09-04 17:27] klenium commented on #2200
My previous `host.json`:
[code]
This was totally fine for me. Now the console seems to ignore the EFC config, making the output unreadable. I randomly lost all ability to see real logs. Please never do that. If there is a working configuration, why change that? If you use new format, provide a way to convert, or show a message about the change, and describe what we need to do.

[2020-09-04 18:13] pragnagopa commented on #2183
Fix is merged with the linked PR. New version of core tools is released.

[2020-09-04 18:13] #2183 closed

[2020-09-04 19:46] pragnagopa commented on #2194
Flagging as P1 as this a release blocker.

[2020-09-05 20:29] isaacabraham commented on #1963
Wow. I just fell for this as well. Just changing from Update to Include fixes it.

[2020-09-05 20:30] isaacabraham commented on #1963
Where is the source code - can someone just change this and submit a PR? It's totally broken at the moment - a really unfortunate situation and will be a poor first-time experience for functional programmers trying to write functions (!).

[2020-09-05 22:03] aaronpowell commented on #1963
@isaacabraham I created a PR for the template to fix it: https://github.com/Azure/azure-functions-templates/pull/954 but as @cartermp points out, this is a related issue on the compiler/build (https://github.com/dotnet/fsharp/issues/8914), and as @vjraitila points out, changing the inclusion mode can result in it being published to Azure, which you don't want.

I think using the `Condition` attrib

[2020-09-06 03:37] szaher opened #2205 "error deploying python function for the first time"
Publishing azure function failed to sync triggers. not sure what is the error exactly but have seen this multiple times when trying to push the python function for the first time.

/bin/func-v3 azure functionapp publish PYTHONFNT --build-native-deps --python
{"Code":"BadRequest","Message":"Encountered an error (ServiceUnavailable) from host runtime.","Target":null,"Details":[{"Message":"Encountere

[2020-09-06 03:41] szaher commented on #2205
Syncing triggers...
Request:
Method: POST, RequestUri: 'https://management.azure.com/subscriptions/4dcf7d10-ddbe-xxxx-xyxyx-db3ee483920wx/resourceGroups/python-RGP/providers/Microsoft.Web/sites/pythonfnt/host/default/sync?api-version=2015-08-01', Version: 1.1, Content: System.Net.Http.StringContent, Headers:
{
  Authorization: Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJ....Kr_oQKn8aNrUCCg
  User-Agent: fun

[2020-09-07 09:50] i3anaan commented on #1409
Experiencing the same issue. Me and a colleague both experience it, although on different projects, so it is not clear to us what is causing it.

[2020-09-07 19:05] Francisco-Gamino opened #2206 "Update profile.ps1 template to set Disable-AzContextAutosave scope to process instead of current user."
Update profile.ps1 template to set Disable-AzContextAutosave scope to process instead of current user.

[code]

[2020-09-07 19:23] Francisco-Gamino opened #2208 "Remove support to create PowerShell function apps in V2"

[2020-09-08 16:02] IanKemp commented on #2200
That did the trick, thanks! Please just make sure it makes it into those mythical release notes...

As per [@anthonychu's comment](https://github.com/Azure/azure-functions-host/issues/6582#issuecomment-685207874), add `start --verbose` to your function project's properties > Debug > Application arguments.

[2020-09-08 16:08] klenium commented on #2200
@IanKemp If I don't want EntityFrameworkCore to print anything, I need to add a flag for printing messages more verbosely? This makes no sense. That might be a solution for the old `Function.XXX` configs, but there are other cases too. I had to set `default` to `Error` to calm down EFC.

[2020-09-08 16:54] anthonychu commented on #2200
@klenium You’re right. The intent of the recent changes was to suppress some of the noisier logs from the host by default, but there should be no changes to user logs and any log levels specified by the user should be respected. We’ll make further changes to address this.

[2020-09-08 16:55] IanKemp commented on #2200
Reopening so that it can be closed when the issue @klenium is having with EF is resolved.

[2020-09-08 16:59] klenium commented on #2200
Thank you, looking forward for updates.

[2020-09-09 02:57] #2206 closed

[2020-09-09 17:04] apawast commented on #2205
@Hazhzeng could you please take a look at this?

[2020-09-10 07:39] sonic1981 opened #2216 "Unable to override loglevel in local.settings.json"
Reading all the docs on this I should be able to override my default loglevel locally but it seems the setting isn't getting picked up for some reason.

host.json

[code]

local.settings.json

[code]

Yet despite me setting the level to debug in `local.settings.json` my app is still logging at information level. I can see if I alter the setting in `host.json` I get the expected output. Is this a b

[2020-09-10 16:49] anthonychu opened #2217 "Updates to console logging based on feedback"
There's been some feedback after release of #2141

* Add timestamps back to logs - We've gotten some good feedback that this is useful for delimiting the start of multiline logs. https://github.com/Azure/azure-functions-core-tools/issues/2184#issuecomment-686836558
* Add function start/stop messages back
[code]

[2020-09-10 16:49] anthonychu commented on #2216
Agreed that this should work. @pragnagopa

[2020-09-10 18:17] pragnagopa commented on #2216
Thanks for reporting. This is a bug. I have triaged the issue and assigned to next milestone.

[2020-09-10 23:29] ijoosong commented on #2070
hi @apawast and @ankitkumarr let me know if there are any further plans for this.  Thanks!

[2020-09-11 00:53] soninaren opened #2219 "Remove warning for missing setting from local.setting.json file in case they are present in user secrets file."
Some information in this PR https://github.com/Azure/azure-functions-core-tools/pull/2136

Repro posted by @vijayrkn

[2020-09-11 00:56] soninaren commented on #2219
@gzuber This is the follow up workitem from this issue: https://github.com/Azure/azure-functions-core-tools/issues/1970

Also please cherry pick the change here to dev branch: https://github.com/Azure/azure-functions-core-tools/pull/2136

[2020-09-11 01:02] cgillum opened #2220 "Unexpected verbose/informational logging in latest core tools release"
### Issue
There are two issues that I'm seeing related to custom log sources in the latest core tools release - i.e. logs written from `ILogger` instances created by `ILoggerFactory.CreateLogger(...)`.

1. When I configure log levels for my various log sources, no matter what value I specify, I see **Verbose** logs written to the console. My expectation is that the log level I specify in host.json

[2020-09-11 03:58] jeffhollan commented on #2220
@cgillum points are way more important - but also would love to pop back in the ASCII art by default. Happy to open a separate issue for discussion on that one

[2020-09-11 05:30] anthonychu opened #2221 "If npm install fails with permissions issue, display information on how to correct the problem"
Usually this is because the command is missing `--unsafe-perm true` or needs `sudo`.  Should tell the customer how to correct this instead of displaying permission denied error.

[2020-09-11 05:32] anthonychu commented on #2220
@jeffhollan Yeah probably open a separate issue. I think it should be off by default but allow it to enable via an environment variable.

[2020-09-11 05:34] jeffhollan opened #2222 "Make it relatively easy for folks to get ASCII art"
Always thought it was a fun touch, ideally something folks could easily pop in to get ASCII art back

[2020-09-11 05:34] jeffhollan commented on #2220
https://github.com/Azure/azure-functions-core-tools/issues/2222

[2020-09-11 06:42] jeffhollan commented on #1131
%%%%%%
                 %%%%%%
            @   %%%%%%    @
          @@   %%%%%%      @@
       @@@    %%%%%%%%%%%    @@@
     @@      %%%%%%%%%%        @@
       @@         %%%%       @@
         @@      %%%       @@
           @@    %%      @@
                %%
                %

[2020-09-11 14:17] pragnagopa commented on #2220
Thanks for the detailed repro @cgillum ! I sent a PR with the fix. Will try to get in the fix for the next core tools release.

[2020-09-11 14:19] pragnagopa commented on #2222
@anthonychu - Assigned this issue to you for now. Please add details on how we would like to bring the logo back and assign it back to me. Thanks!

[2020-09-11 14:20] isa56k commented on #1910
I'm seeing somethign similar to this on OSX 10.15.6 Python 3.7.5 in a virtual environment.

It worked on first run since then it doesn't:

`(.venv) ➜  azfunc2 func host start
Found Python version 3.7.5 (python3).
Azure Functions Core Tools (3.0.2881 Commit hash: fa9641ad925588192888bc977ff51d8a63536267)
Function Runtime Version: 3.0.14287.0`

[2020-09-11 14:22] jeffhollan commented on #2222
A few thoughts
1. Some environment variable I can set on my machine that’d pop logs
2. We do nothing. In a month most everyone will stop caring the ASCII art is gone 😂

[2020-09-11 16:01] danigomez commented on #2185
Hi guys,
I just found out that if you set '**Content-Type: application/octet-stream**" there is no issue when i try to gunzip the body.
However, if i set '**Content-Type: application/json** i got the error.
I also tried this deployed as an Azure Function, an i still got this error, so maybe is a config thing that i'm missing??

[2020-09-11 17:05] jeffhollan commented on #2144
FYI - 2.0 is now in beta, scheduled to be default in coming months.  Just flagging in that we likely want to try to book the work for this before end of October

[2020-09-11 17:21] tomkerkhove commented on #2144
If I'm bored I can give it a try, but no promises!

[2020-09-11 17:31] anthonychu commented on #2222
@jeffhollan Can you come up with a smaller version of the logo to consider?

I vote for option 1. Also make a slight change to the first line so it's clear where the command starts.

<pre>
$ func start

⚡️ <b>Azure Functions Core Tools</b>

Core Tools Version: 3.0.2881 (fa9641a)
Function Runtime Version: 3.0.14287.0

Worker process started and initialized.
</pre>

Not sure if I can stay away from

[2020-09-11 17:31] nzthiago commented on #1131
[code]
Baby functions asciiart

[2020-09-11 17:48] jeffhollan commented on #2222
Honestly the emoji isn't a bad option.  This is the best I could pull off while still trying to capture the general logo:

[code]

[2020-09-11 18:36] mhoeger commented on #2185
+1 to what Anthony said - there are some content-type headers that we automatically read and treat as bytes including `application/octet-stream` and `multipart/*`. Have you tried deploying to Azure Functions with `Content-Type: application/octet-stream`? Does that not work?

One workaround to make sure all requests have this content-type header is to add a proxies.json file like this:
[code]

[2020-09-11 18:50] fabiocav commented on #1131
If this trends, I guess we can think about it :)

[2020-09-11 18:52] jeffhollan commented on #1131
Hahah good to have you back @fabiocav. I will admit I had to build some functions today and the console output being so minimal is something I could get used to.

[2020-09-11 19:02] fabiocav commented on #1131
Yeah, I was on the fence about some of the changes, but it's a nice experience.

[2020-09-11 19:04] TroyWitthoeft commented on #793
Bumping this.  Just found a need to have this work. It seems like we don't have a good local development solution for an Azure function using a proxy.

[2020-09-11 19:22] anthonychu commented on #1131
ASCII art discussion: #2222

[2020-09-11 19:47] marcduiker commented on #2222
I'm definitely on #teamAsciiArt 😅. But emojis are a nice alternative . Could we include the angle brackets as well please if we go emoji style?

<⚡>

[2020-09-11 19:51] CraftyFella commented on #1131
I'd also say if you could add all functions and their triggers to the output. Like a servicebus trigger, eventgrid, etc.. they are listed in the azure portal so assume it's possible.

[2020-09-11 20:07] manekinekko commented on #2222
I am on ##teamAsciiArt as well. But sometimes, I wish I had an option to turn it off (when spawning core tools in sub processes, from external tools).

I vote for option 1 and +1 @anthonychu's suggestion 👍

[2020-09-11 20:56] anthonychu commented on #1131
@CraftyFella That's one of the things we added. Let us know if you're not seeing it.

![image](https://user-images.githubusercontent.com/3982077/92972065-74033500-f436-11ea-9c9f-e34480664536.png)

[2020-09-11 21:31] danigomez commented on #2185
That did the trick!
Thank you so much @mhoeger

[2020-09-11 21:31] #2185 closed

[2020-09-11 21:53] anthonychu commented on #2217
I would like to add that we should verify that it matches the behavior of the proof of concept as much as possible. It should have the same effect as:

If not `--verbose` and not in CI environment, configure these log levels:
[code]

Then apply whatever log levels the user has specified. In case of a collision, the user defined value takes precedence.

[2020-09-11 22:08] pragnagopa commented on #2217
@anthonychu  - I have been collecting `host.json` content I have been testing changes with here: https://github.com/Azure/azure-functions-core-tools/issues/2174 . Eventually, I do plan on automating the tests to verify the output.

Do take a look and feel free to add more examples - I will run them through manually for now.

[2020-09-11 22:24] pragnagopa commented on #2174
Verify SystemLogs that VS Code depends on are emitted even when  default `LogLevel` is set to `None`

[code]

[2020-09-12 08:23] MhAllan commented on #2025
Might as well remove this weird thing, what is the use of encrypting/decrypting using "local machine key"? I am surprised there is someone remembers that there is something like "local machine key"!

[2020-09-12 09:40] MhAllan commented on #823
wow! reading json file guys, since 2018?

[2020-09-12 15:37] calloncampbell commented on #2222
I'm definitely on #TeamAsciiArt . If the idea was to reduce noise when running in CLI, then provide a flag to show/hide the art or provide the art in debug only mode.

I also like the emojis in addition to the art.

[2020-09-12 19:04] seed-of-apricot commented on #1239
Would some workaround be on JavaScript/TypeScript environment?

[2020-09-13 11:54] klenium opened #2224 "Do not include "Executing JsonResult, writing value ..." message if --verbose flag is not specified"
My function returns an `IActionResult`, actually a `JsonResult`. In the console, the following message is logged:
[code]
This does not seems to be an important message, so I think it should not be included in the silent version. And for me, this message seems useless: if you include the verbose flag, you'll see the result of the executed function, so why include this too? And what can we do with t

[2020-09-13 12:09] klenium opened #2225 "Do not print next 5 timer trigger occurrences concurrently"
If more than one timer is located in the project, the console becomes unreadable:

[code]

To which trigger these log entities connected to? I can not tell.

[2020-09-14 20:35] apawast commented on #2205
@Hazhzeng @vrdmr can one of you please take a look at this?

[2020-09-14 20:41] apawast commented on #2224
cc @anthonychu @pragnagopa. This requires further investigation but first we require the source/category, and the current level of verbosity.

[2020-09-14 22:16] ankitkumarr opened #2226 "Make sure all binaries with strong name are signed before release"
We had a release where new binaries were introduced through the Azure Functions WebJobs Script dependencies. While the binaries were authenticode signed, and our tests verified that, some of the binaries with strong name were not strong name signed. We need to upgrade our test to use `sn.exe` and make sure any binary with a strong name is signed (not delay-signed or test-signed).

[2020-09-15 18:30] apawast commented on #2086
@AnatoliB do you recommend we update the template here?

[2020-09-15 18:47] AnatoliB commented on #2086
@apawast Yes, I think so: we should either remove `[string]` (my preference) or replace it with `[object]`.

[2020-09-15 20:31] ankitkumarr commented on #2194
This is now fixed. The issue was with the signing pipeline trying to validate strong name signing for every dll. I updated that to make sure it only validates for dlls with strong names.

[2020-09-15 20:31] #2194 closed

[2020-09-16 20:00] #2164 closed

[2020-09-16 20:27] fabiocav commented on #2071
@kashimiz should this be moved to sprint 85?

[2020-09-17 13:35] MaybeSacred commented on #1483
This is especially confusing for new users, as it's not clear from the help text how to deploy to different deployment slots using ```func azure functionapp publish```. New users (like myself) won't have the context to know about these additional switches

[2020-09-17 16:13] klenium opened #2228 "Do not print next 5 timer trigger occurrences concurrently"
If more than one timer is located in the project, the console becomes unreadable:

[code]

To which trigger these log entities connected to? I can not tell.

[2020-09-17 18:17] jeroenhabets opened #2229 "Process: Remove CY19 H2 from Projects if you don't use Projects. (Minor)"
Seems to me that an experiment was made to use Github's "Projects" but it makes a rather abandoned impression.

https://github.com/Azure/azure-functions-core-tools/projects

I'd suggest to clean it up. It would also remove the (1) alert counter I see next to the "Projects" tab.

[2020-09-18 01:41] mj1856 opened #2230 "Log filtering by category stopped working with release 3.0.2852"
Log filtering by category, [as described in the docs](https://docs.microsoft.com/en-us/azure/azure-functions/functions-monitoring?tabs=cmd#log-configuration-in-hostjson), worked in release 3.0.2798 but is broken in the following release 3.0.2852

Given the following function app (.net core 3.1, functions v3, Windows):

[code]

And `host.json`

[code]

Test with the working build first.

`npm insta

[2020-09-18 01:55] mj1856 commented on #2230
And yes, the issue persists with the latest release 3.0.2912

[2020-09-18 03:46] anthonychu commented on #2228
Can we log all 5 occurrences in a single log message so that the lines are not intermingled like this? Having the function name doesn’t help readability in the console too much.

I think we transferred it originally to the sdk repo because that’s where this is output. @fabiocav

[2020-09-18 07:44] klenium commented on #2228
I agree, the name of my functions are pretty long the actual message would show up in a new line. This case is not limited to messages related to timers, I found that sometimes the function name/endpoint list (yellow/green) section is mixed up with configuration messages (blue, from --verbose), which is also not that good. I think you should try to use a shared lock to access the console. In local

[2020-09-18 08:39] sonic1981 commented on #2230
Might be related to this https://github.com/Azure/azure-functions-core-tools/issues/2216

[2020-09-18 08:41] sonic1981 commented on #2230
and this https://github.com/Azure/azure-functions-core-tools/issues/2220

[2020-09-18 14:21] SalehAlbuga commented on #2222
Voting for Ascii Art & Emojis. Best of both worlds.
<⚡>

[2020-09-19 15:21] 5m1 opened #2232 "Value cannot be null. (Parameter 'provider')"
Hi there, I was just using the HttpExample code and nothing was changed, after I clicked `F5` according to the guide and the issue came up, even I used `func start` in the project folder the issue remained the same.

[code]

[2020-09-19 23:06] anthonychu commented on #2222
Just tried a few things. Emojis and bold text look great in terminals that support it (macOS terminal).

![image](https://user-images.githubusercontent.com/3982077/93690668-05565500-fa90-11ea-9c70-34c6bf840252.png)

Sadly it doesn't do so well in VS Code (macOS):

![image](https://user-images.githubusercontent.com/3982077/93690681-30d93f80-fa90-11ea-8170-b268363829eb.png)

And even worse on Window

[2020-09-19 23:18] jeffhollan commented on #2222
Haha bold with no emoji is fine. Don’t spend any more of your weekend on this 😂. If folks have a better option the PRs are open

[2020-09-19 23:24] anthonychu commented on #2232
@5m1 Sorry you ran into this. Can you try deleting the contents of `C:\Users\USERNAME\.azure-functions-core-tools\Functions\ExtensionBundles` and try again.

Related #1700 #1999

/cc @soninaren I think we still need some ability to check that the bundles cache is corrupt/incomplete and redownload.

[2020-09-20 00:04] axel-op commented on #2232
I'm also experiencing this issue with the `v3` Functions runtime, and Java worker runtime.

@anthonychu I don't use extension bundles and don't have the `.azure-functions-core-tools` in my user folder.

Here's the output:

[code]

[2020-09-20 05:17] anthonychu commented on #2232
@axel-op That looks like a different problem. Could you please create a new issue so we can track it separately?

[2020-09-20 06:04] 5m1 commented on #2232
Hey @anthonychu, thank you for your prompt response. Unfortunately I don't have folder named `.azure-functions-core-tools` under `C:\Users\USERNAME\`.
![Screenshot 2020-09-20 140327](https://user-images.githubusercontent.com/44110408/93703404-15326f80-fb4a-11ea-8a4b-8dc32f139eae.png)

Is there any other place I could check?

[2020-09-20 19:49] #2216 closed

[2020-09-20 19:49] #2217 closed

[2020-09-20 19:49] #2220 closed

[2020-09-21 09:30] airadam commented on #2232
I'm seeing a similar problem, trying to use dependency injection on an Azure Functions project. I'm targeting .NET Core 3.1, Azure Functions v3, and currently referencing the following set of packages;
[code]

The error is;
[code]
I've already tried uninstalling and reinstalling the Azure Functions Core Tools, which recently solved this exact problem with the same codebase.

[2020-09-21 16:15] anthonychu commented on #2232
@5m1 Looking at your logs again, it actually looks like you might be hitting the same problem as @axel-op, and perhaps @airadam as well. My initial thought was this is related to extension bundles but the functions are loading so it's probably not.

Interesting the log output is different though.

@pragnagopa @brettsam Looks like from the stack trace this is close to some recent changes for loggin

[2020-09-21 16:22] brettsam commented on #2232
@airadam -- for you, it looks like you're running a v2 function app but using v3 dependencies. Can you share your full csproj? What is the `AzureFunctionsVersion`?

[2020-09-21 16:52] airadam commented on #2232
Here it is @brettsam - `AzureFunctionsVersion` is `v3` according to this!
[code]

[2020-09-21 17:00] brettsam commented on #2232
Are you running from VS Code or Visual Studio?

[2020-09-21 20:31] Hazhzeng opened #2236 "Build native deps should check Azure Python version"
Assume on local devbox, user uses python 3.6 for development, when they deploy to a python 3.7 app, due to the python dependencies are resolved using the 3.6 images (e.g.  mcr.microsoft.com/azure-functions/python:2.0.12493-python3.6-buildenv), the app will not work.

We should at least add a warning message for this scenario.

https://github.com/Azure/azure-functions-core-tools/blob/55f206c9eb26ce

[2020-09-21 20:31] Hazhzeng commented on #2236
@stefanushinardi

[2020-09-21 20:40] airadam commented on #2232
@brettsam VS Code, v1.49.1

[2020-09-21 20:45] brettsam commented on #2232
It sounds like there may be multiple different issues here:
- @5m1 -- could you provide us with a sample that repros your issue? Since it looks like you're running on 3.0, you don't appear to have the same issue as @Azure/cognitive-services-sdk-admins
- @airadam -- would you mind creating a new issue with a sample repro (with steps) as well? We may have to loop in the VS Code team if launching the

[2020-09-22 00:49] ankitkumarr commented on #2236
I wonder if even out of `--build-native-deps`, we should check if Python version locally doesn't match `FUNCTIONS_WORKER_RUNTIME_VERSION` and throw a warning when publishing to a Python function app. We should do this even for `--build remote` or other scenarios, to encourage consistency between local and Azure environment.

[2020-09-22 03:59] airadam commented on #2232
@brettsam - I'll see what I can do; there were quite a few steps over several days between having a project/environment that worked to one that stopped, so it may take me a while to get to any kind of reliable reproduction.

[2020-09-22 08:33] airadam opened #2237 "V3 app appears to be loading V2 host"
## Prerequisites
- Azure Functions Core Tools installed via npm; `npm install -g azure-functions-core-tools` - installed version is `2.7.2913`
- VS Code as shown here;
[code]

## Git Repo
[This Git Repo](https://github.com/airadam/AzureFunctionsBugReport) contains the outcome of following the repro steps shown below.

## Manual Steps
- Manually change Azure Functions: Project Runtime setting to `~

[2020-09-22 10:40] airadam commented on #2237
Tagging @brettsam, @pragnagopa, and @anthonychu as promised!

[2020-09-22 14:27] pragnagopa commented on #2237
@airadam - To run / develop V3 apps locally please install V3 version of core tools : https://github.com/Azure/azure-functions-core-tools#v3-1

@soninaren / @ankitkumarr  - can we update the default version to be v3 when installing via npm?

[2020-09-22 14:45] airadam commented on #2237
@pragnagopa Thank you! I used that alternative `npm` line and the test project is now running no problem, as was the real one I was working on, which was having issued with the dependency injection falling over.

[2020-09-22 18:07] apawast commented on #2230
@pragnagopa can we close this as a duplicate of the issue cause by the verbosity change?

[2020-09-22 18:10] apawast commented on #2229
Hi @jeroenhabets thanks for calling it out, we have closed the project.

[2020-09-22 18:10] #2229 closed

[2020-09-22 18:18] apawast commented on #2148
@jeffhollan when do we need this by?

[2020-09-22 18:19] apawast commented on #2162
Closing as duplicate of #2122

[2020-09-22 18:19] #2162 closed

[2020-09-22 18:24] apawast commented on #2180
@hajekj thank you for the suggestion. This is not currently on our roadmap, but we will leave this open so we can track any further updates.

[2020-09-22 18:36] pragnagopa commented on #2230
Thanks for reporting the issue. I will investigate if this issue is fixed in commit #d552c6741a37422684f0efab41d541ebad2b2bd2

[2020-09-22 19:09] Hazhzeng commented on #2205
This looks like an issue where the app settings are not properly set when starting the function app. I checked our frontend on the date 09/06/2020 and I don't see any request going to the site pythonfnt.
Could you check if the pythonfnt site is up and running when you deploy your function app?

[2020-09-22 19:12] pragnagopa commented on #2230
Verified this issue is addressed. Next release will include the fix. Until we update the tooling, please use artifacts for the release: https://github.com/Azure/azure-functions-core-tools/releases/tag/3.0.2931

[2020-09-22 19:13] #2230 closed

[2020-09-23 14:39] brettsam commented on #2237
It sounds like this may have highlighted two other issues:
1. Install v3 by default from npm (this issue)
2. Don't let VS Code launch the wrong host version. @pragnagopa -- can you spin this off to an issue for the VS Code team?

For future reference -- this spawned from #2232

[2020-09-23 16:23] mj1856 commented on #2230
It works.  Thanks!

[2020-09-23 16:35] mj1856 commented on #2230
@pragnagopa - small nitpick:  Thanks for adding the timestamps back and making them ISO 8601!  However, they are coming out as `[2020-09-23T16:22:41.337]` and instead should be `[2020-09-23T16:22:41.337Z]`.  The trailing `Z` is important, as the ISO8601 spec says that if no `Z` (or offset) is present, then the value should be interpreted as *local time*.  Since you're logging UTC time, please add

[2020-09-23 17:31] pragnagopa commented on #2174
Follow-up from https://github.com/Azure/azure-functions-core-tools/issues/2230#issuecomment-697656909

Update DateTime format in the logs.

[2020-09-24 07:41] sonic1981 commented on #2216
I've updated to the latest version but I'm still experiencing this issue?

[2020-09-24 07:49] sonic1981 commented on #2216
I'm also now having problems in Azure itself. My logging isn't appearing at all in log streaming where as it was previously. Not sure if this is related

[2020-09-24 15:06] pragnagopa commented on #2216
@sonic1981  - fixes are not released to npm yet.  Until we update the tooling, please use artifacts for the release: https://github.com/Azure/azure-functions-core-tools/releases/tag/3.0.2931

[2020-09-24 23:21] aaltotsky commented on #1872
I have the same issue. Check if any of the folders in
C:\Users\{User}\AppData\Local\AzureFunctionsTools\Releases\*
are empty. then copy from other folders and update manifest file.

[2020-09-25 06:20] olivelawn commented on #2232
Having same issue on MacOS 10.14.6/python 3.8.5/azure functions 3.0.2912

Getting "Value cannot be null. (Parameter 'provider')" error from both visual studio code and cmd line. See CLI_DEBUG=1 below.

`
[9/25/2020 6:09:11 AM] Building host: startup suppressed: 'False', configuration suppressed: 'False', startup operation id: '9a1868a1-18fc-40d5-a7d7-5187be2e1a06'
[9/25/2020 6:09:11 AM] Reading ho

[2020-09-25 06:32] olivelawn commented on #2232
Same issue here.  MacOS 10.14.6/Python 3.8.5. Installed Visual Studio Code, then thee Azure Functions Extension, which installed azure-functions-core-tools 3.0.2912. Same error when run from both Visual Studio and cmdline.  See `. .venv/bin/activate && func host start --verbose` with `CLI_DEBUG=1` on.

[code]

[2020-09-25 15:04] pragnagopa opened #2240 "Show error if there is a mismatch in TargetFramework and core tools version installed"
This is a follow up from https://github.com/Azure/azure-functions-core-tools/issues/2237

For dotnet functions show error if
- csproj has `<TargetFramework>netcoreapp3.1</TargetFramework>` but Core Tools installed is 2.0.xxxx
- csproj has `<TargetFramework>netcoreapp2.1</TargetFramework>` but Core Tools installed is 3.0.xxxx
- csproj has `<TargetFramework>netcoreapp2.2</TargetFramework>` but Core

[2020-09-25 15:38] martinjoshua commented on #1031
Would also love to see an update on this feature request.

[2020-09-26 16:20] m-sterspace commented on #2200
Yeah, another voice for wanting the verbosity changed back. We've had to revert back to previous versions of core tools because suddenly all of our javascript `console.log` statements are no longer outputting anything.

[2020-09-27 21:54] anthonychu commented on #2200
@m-sterspace Sorry about that. `console.log` output should be back in the next release, hopefully out in the next week or so.  If you would like to get it before it's released to the official channels, you can download it from [here](https://github.com/Azure/azure-functions-core-tools/releases/tag/3.0.2931).

/cc @pragnagopa

[2020-09-28 15:40] pragnagopa commented on #2200
Issues mentioned here should be fixed in release: https://github.com/Azure/azure-functions-core-tools/releases/tag/3.0.2931 - this will be released sometime this week.

Apologies for the unintended regression that was introduced around logging filters. PR #2223  has addressed this regression.

Closing as addressed. Please use the drop pointed by @anthonychu until we release Core-Tools to all the t

[2020-09-28 15:40] #2200 closed

[2020-09-28 18:28] zaiquiri72 opened #2242 "func host start does not respect VSCode workspace virtual environment settings"
Context: machine with default Python version 3.6.8 (Anaconda).  VSCode workspace with Python virtual environment specifying Python version 3.8.2.

Running **func** with no arguments returns:

Azure Functions Core Tools (2.7.2913 Commit hash: 3261cf16a459ad227f13ccbafc51b738ed6ed927)
Function Runtime Version: 2.0.14248.0

Selecting "start debugging" from the run menu in VSCode executes the followin

[2020-09-28 18:35] HenriqueMessa opened #2243 "Building wheel for pyodbc (setup.py): finished with status 'error'"
Hello all,

I'm getting an error today deploying my local package to Azure.

Failed to build pyodbc
DEPRECATION: Could not build wheels for pyodbc which do not use PEP 517. pip will fall back to legacy 'setup.py install' for these. pip 21.0 will remove support for this functionality. A possible replacement is to fix the wheel build issue reported above. You can find discussion regarding this at ht

[2020-09-29 03:56] nxthm commented on #2243
Started happening to me, too

Building wheel for pyodbc (setup.py): started
Building wheel for pyodbc (setup.py): finished with status 'error'
ERROR: Command errored out with exit status 1:

...

ERROR: Failed building wheel for pyodbc
Failed to build pyodbc
DEPRECATION: Could not build wheels for pyodbc which do not use PEP 517. pip will fall back to legacy 'setup.py install' for these. pip 21.0

[2020-09-29 10:53] hlz commented on #1239
I would also like to know how a hot reloaded or watched development environment can be setup in node. Any clues or leads?

[2020-09-29 12:55] sankethiyer opened #2244 "Func start does not work"
I am trying to start functions locally.
I have installed the vscode extension - azure functions, azure cli, azure functions core tools.

Running the "--version" commands gives me the following ouput

[code]

post this when i run "func start", nothing happens as you can see in the image below

![](https://img-a.udemycdn.com/redactor/raw/2020-09-26_13-39-58-5c7865e933e46b0e3fdd29cc3530bac7.png)

Cou

[2020-09-29 13:08] alexszym commented on #2050
I had a similar issue even though I do have local.settings.json. Adding FUNCTIONS_WORKER_RUNTIME to it solved the issue for me.
https://docs.microsoft.com/en-us/azure/azure-functions/functions-app-settings#functions_worker_runtime

[2020-09-29 15:59] bnm91 commented on #2243
This is also happening for me, and I also cannot deploy the function.  My output

[15:56:20+0000] Building wheels for collected packages: pyodbc
[15:56:20+0000]   Building wheel for pyodbc (setup.py): started
  ERROR: Command errored out with exit status 1:
   command: /tmp/oryx/platforms/python/3.6.12/bin/python3.6 -u -c 'import sys, setuptools, tokenize; sys.argv[0] = '"'"'/tmp/pip-install-w44jh

[2020-09-29 16:41] HenriqueMessa commented on #2243
Azure is being thru problems, I don't know If It is correlated. I will leave this item opened for te devs.
I upgraded my Azure App Function from Python 3.7 to 3.8 (server side) and redeployed all of my functions and that works. But, it's painful and sometimes it's impossible to redeploy everything.

[2020-09-29 19:41] Amethi commented on #1409
Also got this on VS 2019 16.7.5. It's intermittent. Sometimes reboots, clears, rebuilds work, sometimes not.

[2020-09-29 20:37] nxthm commented on #2243
I, too, ended up upgrading the function to Python 3.8.5, and changed the runtime to version 3 and am now able to deploy.  Would still like to understand the root cause but I guess that will have to wait for another time

[2020-09-29 21:29] Hazhzeng commented on #2243
Thanks for reporting this issue.

We upgraded the pip version to 21.0 and enable dynamic install in the latest kudulite release (mcr.microsoft.com/azure-functions/kudulite:kudu-2.12a), which reduces the image size and lazily loading the python interpreters when the remote build starts.

The python3.6m, python3.7m and python3.8m libraries are required when building pyodbc wheels since it does not c

[2020-09-30 17:34] #2243 closed

[2020-09-30 18:19] TroyWitthoeft commented on #1838
Just ran into this as well.  It's getting to the point were I am hesitant to update the azure functions core tools.  :(

I had a working system. Launched VS Code.  VS Code Azure functions extension detected older version of azure functions core tools.  It prompted me to update core tools.  I obliged with a click.  That broke my core tools install.  Func.exe not working.  Error =

[code]

Attempted

[2020-09-30 18:58] epmck commented on #2243
So is there any work around for this yet? I just ran into this problem and it's killing me. I can't deploy any of my functions.

[2020-09-30 19:37] ankitkumarr commented on #2068
Fixed by https://github.com/Azure/azure-functions-core-tools/commit/2f5369afbdeb3e9ded70dccc93388f2b186b2093

[2020-09-30 19:37] #2068 closed

[2020-09-30 19:43] Hazhzeng commented on #2243
We start rollout out the fix for now. For mitigation, you can deploy with Azure Functions Core Tools,
`func azure functionapp publish <appname> --build-native-deps`.
This will resolve the native dependencies on your machine instead of using remote build.

[2020-09-30 19:43] ankitkumarr commented on #2068
Will be throwing an error sayin `--build <selected-option> is not supported for Windows Function Apps.`

[2020-09-30 20:16] fabiocav commented on #2174
Done.

[2020-09-30 20:16] #2174 closed

[2020-09-30 20:22] fabiocav commented on #2091
@kashimiz moving this to sprint 86. Let me know if there are any problems with this item.

[2020-09-30 20:30] epmck commented on #2243
I have tried this and it does not work. I get the same errors:

3:22:32 PM : DEPRECATION: Could not build wheels for pyodbc which do not use PEP 517. pip will fall back to legacy 'setup.py install' for these. pip 21.0 will remove support for this functionality. A possible replacement is to fix the wheel build issue reported above. You can find discussion regarding this at https://github.com/pypa/p

[2020-10-01 13:17] zacmoody commented on #2243
Is there an ETA that we should look at. We are facing similar deployment issues.

[2020-10-01 15:47] anthonychu opened #2247 "Add support for .NET 5 worker"
- [] Add templates
- [] Configure local.settings.json to start worker
- [] `func azure functionapp publish` to configure worker

[2020-10-01 18:21] anthonychu commented on #2240
Perhaps look in deps file or inspect entry point assemblies.

These are probably okay, as we should be able to run these apps on the V3 runtime as well.

[2020-10-01 18:24] anthonychu commented on #2244
@sankethiyer Could you please try running it with the debug flag on to see if anything gets printed?

[code]

[2020-10-01 18:39] anthonychu opened #2248 "Add warning to V2 installer to recommend V3"
Related: #2091

Print message:
[code]

It should also print the recommended command to install v3 for the package manager they're using.

[2020-10-01 18:42] anthonychu commented on #2242
@EricJizbaMSFT Do you know what might be going wrong here?

[2020-10-01 20:26] fabiocav commented on #1985
Closing stale issue. This has been out for a little while.

[2020-10-01 20:26] #1985 closed

[2020-10-01 21:32] EricJizbaMSFT commented on #2242
What OS are you on? And what is your default terminal?

I see us running `. .venv/bin/activate && func host start` on my Mac. That first `.` is equivalent to `source`. It's easy to miss in the task logs, but I think it works on more terminals than `source` does, which is why we use it. Can you confirm if you see that extra dot at the beginning?

I believe it's ignoring Python 3.8 because func v2.x

[2020-10-01 21:54] zaiquiri72 commented on #2242
@EricJizbaMSFT OSX Catalina and zsh.

You're correct, I overlooked the extra dot when inspecting the task log, so the virtual environment was actually activating properly.

Also I've verified that after upgrading to func v3.x that Run --> Start Debugging is now working correctly.  func host start now echoes **Found Python version 3.8.2 (python3)** back to the VSCode terminal as expected.

Thank yo

[2020-10-01 21:54] anthonychu commented on #2242
We made a change (https://github.com/Azure/azure-functions-core-tools/issues/1979) earlier to address this, although looking at the message that's printed, we can be more explicit about updating to V3.

That said, not really sure what's happening here as the message should have been printed. @stefanushinardi @vrdmr @Hazhzeng any thoughts on what's happening?

[2020-10-01 22:07] EricJizbaMSFT commented on #2242
Looks like that message is only printed if python 3.6 or 3.7 are not found. In this case, 3.6 _was_ found, but 3.8 was preferred. Not sure how you want to handle that 🤷‍♂️

[2020-10-01 22:29] xperiandri commented on #1985
Was its support released?

[2020-10-01 23:05] fabiocav commented on #1985
Yes, this should no longer be an issue but please let us know if you find any problems. This has been out for a bit, this issues was just not properly linked.

[2020-10-02 00:17] miguelcordovar commented on #2232
Same issue here. MacOS 10.15.6

Installed Visual Studio Code, then the Azure Functions Extension, which installed azure-functions-core-tools 3.0.2881

Azure Functions Core Tools (3.0.2881 Commit hash: fa9641ad925588192888bc977ff51d8a63536267)
Function Runtime Version: 3.0.14287.0
Setting unsupported .NET environemt variables (empty string) is not implemented for this platform.
[10/2/2020 12:03:31

[2020-10-02 09:21] tomkerkhove commented on #2144
RC is out - https://github.com/kedacore/keda/releases/tag/v2.0.0-rc

[2020-10-02 10:04] hugo-paredes opened #2249 "Suggestion: Do not add .gitignore when using func init --source-control false"
This isn't a bug report, but a suggestion.

When initializing a new function, using the command below, it would be good not to add the `.gitignore` file.

[code]

For example, when a function is initialized inside a sub-folder, it doesn't make sense to add the `.gitignore` file because it should be in the project's root folder.

Thanks.

[2020-10-02 17:49] mattchenderson opened #2250 "AuthLevel flag on HttpTrigger generates upper case values"
I'm getting `"authLevel": "Anonymous"` from using the new `-a` flag. This causes warnings from the JSON schema and has caused an issue with an app where it defaults back to function level when published. That last part strikes me as especially strange but would be a host issue. Regardless, the output from the Core Tools should be camelCased instead of PascalCased.

[2020-10-03 21:15] TsuyoshiUshio commented on #2144
It is a good idea! I agree with @anthonychu 's idea. I have a customer who wants to use v2 for the production as a backend of a service. However, My scalelogic prevent to use it, So I provide them a hotfix with branch and push keda image to dockerhub. Probably, if we operate it, these case happens, then we can easy to provide hot fix and customer can rollback old version if there is a problem for

[2020-10-05 21:17] ankitkumarr opened #2251 "`func host start` (non-verbose) doesn't show restart logs"
To repro,
1. `func host start`
2. Modify a file, say `host.json`

A restart is triggered and functions are reloaded, but you can't tell from the output of the core tools as it doesn't change. Workaround is to use `--verbose` flag.

I think that we should consider having some way of indicating that a Host restart happened.

cc: @pragnagopa @anthonychu

[2020-10-06 03:11] rccnw opened #2252 "ADO build for Azure Function pipeline build fails - local.settings.json not found"
Because local.settings.json is filtered by .gitignore it does not exist in the repository. But there is a reference to local.settings.json in the Function .csproj file.  No problem locally, the file exists per template. But Azure DevOps pipeline builds fail.  ('Error MSB3030 Could not copy the file...')

We solved this problem by adding a command task in the pipeline and emitting an empty local.se

[2020-10-06 07:21] anthonychu commented on #2251
Makes sense

[2020-10-06 07:27] sankethiyer commented on #2244
Hi @anthonychu , No difference

[code]

[2020-10-06 07:36] anthonychu commented on #2244
@sankethiyer Thanks. Are you able to try this in a command prompt or powershell session and get the same result? @ankitkumarr  for more suggestions

[2020-10-06 07:39] anthonychu commented on #2252
@rccnw Can you try adding a condition? https://stackoverflow.com/a/44891913/3199781

[2020-10-06 07:40] ankitkumarr commented on #2244
Do other commands work for you? Such as `func init`, `func new` or just `func`. If so, I would recommend trying `func start --verbose` in case the process is crashing but with the new silent logs, maybe we are suppressing any errors.

[2020-10-06 16:02] sankethiyer commented on #2244
Result In powershell

[code]

Result in command prompt
[code]

func init, func new, func commands work well

[code]

@anthonychu @ankitkumarr

[2020-10-06 18:21] anthonychu commented on #2249
Thanks for the suggestion. Based on what's currently in the .gitignore file, we feel that it's important to have it there even if git init is not run.

[2020-10-06 18:21] #2249 closed

[2020-10-06 18:25] anthonychu commented on #2242
Closing as resolved. Please open a new issue if you have further questions.

[2020-10-06 19:12] rccnw commented on #2252
Thanks, didn't know about msbuild conditionals!   I just gave that a try locally, and it doesn't seem to work. I tested by moving local.settings.json out of the folder temporarily.

Here is my updated .csproj section per the example :

`     <ItemGroup>
      . . .
      <None Update="local.settings.json" Condition="Exists('local.settings.json')">
          <CopyToPublishDirectory>Never</CopyToPub

[2020-10-07 07:50] pcreyght commented on #2201
is this related to [https://github.com/Azure/azure-functions-host/issues/6239](https://github.com/Azure/azure-functions-host/issues/6239) ?

[2020-10-07 12:48] ClemensSutor opened #2255 "azure function core tools ignoring env variable "AZURE_CLI_DISABLE_CONNECTION_VERIFICATION""
Hello,

if the environment variable "AZURE_CLI_DISABLE_CONNECTION_VERIFICATION" is set to any value, the azure CLI tools are ignoring SSL errors.
E.G.:
AZURE_CLI_DISABLE_CONNECTION_VERIFICATION=TRUE

The azure function core tools do not take care of this setting (ignoring it).
It is impossible to establish a connection to a host with untrusted/broken certificate -> no deployment possible i.e..

I

[2020-10-08 15:14] pragnagopa commented on #2240
@anthonychu - you are right! Updated the issue description.

[2020-10-08 18:14] fabiocav commented on #2255
Thank you for the issue.

Can you confirm that you're publishing to a custom domain with an invalid certificate chain?

Core Tools are not an az extension, so, although having the ability to bypass certificate validation is a reasonable request, we would likely use a different environment variable instead of using the existing Azure CLI one, as one tool should not influence the behavior or the oth

[2020-10-08 22:05] gzuber commented on #2219
After some testing, this is also a problem if user specifies "AzureWebJobsStorage" in user-secrets. It will throw an exception and not attempt to start the function.

[2020-10-08 22:29] SeanFeldman commented on #2219
The User Secret file is useless for both the triggers and host required information (storage account connection string) expected to be in the `local.settings.json` file. This is blocking me from using User Secrets properly.

[2020-10-08 22:47] gzuber commented on #2219
Hey @SeanFeldman -- I just did some testing and was able to set up a few different functions where the trigger connection string was in my user secrets file. There's a misleading warning that makes it seem like it won't work, but it does (which is what this issue is intended to address). I think I would need some more info about your app and what you're trying to do to help you out.

Like I commen

[2020-10-08 22:50] SeanFeldman commented on #2219
Good to know we're half-way there. Can't wait to get the fix out and abandon `local.settings.json`.
Will be tracking this issue. Thank you, @gzuber.

[2020-10-09 01:51] prabh-62 opened #2259 "func start non-verbose mode should hide dotnet build verbose logs"
## System information
- `func --version`
	3.0.2931
- `dotnet --version`
	3.1.402

## Steps
- Create an azure function v3 app with and reference 4-5 libraries.
- In each library's `*.csproj` file, add this snippet
[code]
- We will notice, that running `func start` takes longer time due to the fact that `dotnet build` will produce a lot of `#nullable` warnings. This becomes more noticeable in electr

[2020-10-09 05:16] kensykora commented on #1899
Thanks @zsolt-halo, that workaround did the trick!

[2020-10-09 12:16] ClemensSutor commented on #2255
Hello Fabio,

The short answer is:
Yes.

The long answer:
For our enterprise azure environment every "subject alternative name" for a cert costs us extra money (don't ask...).
So we are "saving" money, by ignoring all KUDU DNS entries (e.g.: "mywebapp.scm.mydomain.com"), so only the "real" DNS entries are covered ("mywebapp.mydomain.com"). And no, no wildcards allowed for us in the certs.
If you h

[2020-10-12 18:41] stewartadam opened #2262 "Functions request body limited to 30MB on Windows only"
### Description
This is a follow-up to [azure-functions-host #5548](https://github.com/Azure/azure-functions-host/issues/5548). When developing locally, the maximum request size appears to be capped at 30MB on Windows. The same limitation didn't exist when I tested on MacOS (tooling version: 3.0.2931).

### Repro steps
1. Create new Azure Function `testFunc`: HTTP trigger, dotnet, function access

[2020-10-12 22:14] pakrym opened #2263 "Consider adding support for hierarchical configuration in local.settings.json"
We are planning to use a hierarchical configuration to support different modes of connecting to the service by having.

This is the current shape of settings:

[code]

This is what we want to support for AAD auth.
[code]

Considering that functions runtime uses `IConfiguration` that already supports hierarchical data but we need to make sure values gets there in the correct shape. `AppSettingsFile

[2020-10-13 17:49] ClockerZadq commented on #2232
Seeing a similar issue to the original comment. @anthonychu your comment on it possibly being a DI issue sounds compelling based on this stack trace.

Azure Functions Core Tools (3.0.2931 Commit hash: d552c6741a37422684f0efab41d541ebad2b2bd2)
Function Runtime Version: 3.0.14492.0
[2020-10-13T17:15:58.908] Starting metrics publisher for container : recipes. Publishing endpoint is https://:31002/api

[2020-10-13 21:24] hannesne opened #2264 "func kubernetes deploy doesn't support binding expressions"
The binding expressions (i.e. `"queueName": "%input-queue-name%"`) is set as-is in the deployment file that sets up the scaled object. It doesn't seem like keda supports this, leading to hard-to-diagnose issues when it tries to scale out the pods.

Some suggestions:
1. Call this out in the documentation.
1. Update the documentation to point out how one can use the --dry-run option to output a depl

[2020-10-14 01:44] trobed commented on #2064
Getting this problem after updating to VS 2019 16.7.5 (although I can't recall which version I was on prior to updating). However it works for me if I turn off the website in azure then run the deploy.

[2020-10-14 06:45] anthonychu commented on #2232
Wow @ClockerZadq. Glad you figured it out but that's quite unfortunate. The host looks for an environment variable named `CONTAINER_NAME` and uses it to [make certain decisions](https://github.com/Azure/azure-functions-host/blob/d90a47629a6f24e3fae7a538500953ed40585af4/src/WebJobs.Script/Environment/EnvironmentExtensions.cs#L241).

@fabiocav Is there anything we could've done here to warn about us

[2020-10-14 20:15] pragnagopa commented on #2199
@brettsam - please move to next sprint if needed.

[2020-10-15 17:35] jeffhollan commented on #2144
Just pinging here, looking for end of October / early November release for KEDA 2.0 and will start being default. Would be good to track these changes.  All the changes between 1 and 2.0 are covered here https://keda.sh/docs/2.0/migration/ - added to PM board for planning / prioritization

[2020-10-16 12:09] skergetd commented on #1888
I had same issue. What I added was `0.0.0.0,127.0.0.1` to my ENV VAR of NO_PROXY, restarted VS Code and it worked.

[2020-10-16 19:56] chrisdginn commented on #2255
I ran into this same issue today.  Is there any kind of workaround?

[2020-10-18 16:15] ArtemKiyashko commented on #2232
Got similar output when added AddJsonFormatters() to Startup.cs (i want to specify json serialization settings):
**Startup configuration:**
builder.Services
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;.AddMvcCore()
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;._AddJsonFormatters()_
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;._AddJsonOptions_(options =>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&

[2020-10-19 05:18] tomkerkhove commented on #1926
There is a difference in the CRON approach though. In KEDA we define a window to ramp up pods in, while here it indicates when a new run should happen.

[2020-10-19 05:22] tomkerkhove commented on #2144
I'll pick this up in one of the coming days

[2020-10-19 12:08] ClemensSutor commented on #2255
Hello @chrisdginn,

the only way I was able to "workaround" this, is to build my own "func.dll", with some code changes inside.
This is only working, if you are deploying from your local computer, or from your own build server (because you can change the func.dll there).
I downloaded the sourcecode for the azure functions core tools from here (GitHub) and changed the .\src\Azure.Functions.Cli\Acti

[2020-10-20 18:13] apawast commented on #2259
@prabh-62 Do you have a problem with the duration or that there is so much logging? Reducing the output may not make your function start faster. Also, which electron-based terminal are you using?

[2020-10-20 18:20] prabh-62 commented on #2259
I use VSCode Integrated Terminal most of the time. Since, the build output generates a lot of noise, terminal has to print all the log lines and it takes forever. `func start` is usually quicker (around 10s) but the pre-requisite `dotnet build` takes around 1-2 mins on average. And having 10 azure functions projects makes it worse.

[2020-10-20 18:25] apawast commented on #2263
@gzuber can you please take a look at this?

[2020-10-20 18:28] apawast commented on #2264
@ahmelsayed can you please take a look at this?

[2020-10-20 19:21] vikramkamath opened #2267 "azure-functions-core-tools @v3 broken on Mac - Value cannot be null. (Parameter 'provider')"
Environment:
Mac OS Catalina 10.15.7
Azure Functions Core Tools (3.0.2931 Commit hash: d552c6741a37422684f0efab41d541ebad2b2bd2)
JDK 11 and 8 installed

Consistently happens when running with IntelliJ, VSCode or terminal

[code]
This keeps happening intermittently.
Could be related to https://github.com/Azure/azure-functions-core-tools/issues/1447

[2020-10-21 19:06] spiffytech opened #2269 "Docs: Clarify whether durable purge-history can affect functions not being run locally"
I need to do cleanup for my functions during local development, and it's unclear from the docs and my attempt to follow the source code whether running `func durable purge-history` can ever affect functions running in Azure.

I'd appreciate if these could be documented:

- Any risks of `purge-history` affecting non-local Durable Function instances.
- How to identify all Functions that would be aff

[2020-10-22 07:21] anthonychu commented on #2269
I believe it looks in host.json and local.settings.json for the task hub name and storage connection string to perform the action. As long as you're not sharing those with a production app, you should be okay. /cc @ConnorMcMahon

[2020-10-22 16:32] ConnorMcMahon commented on #2269
@anthonychu, that is correct. Any actions taken against any Durable Functions app should only affect a given TaskHub + storage account combination. As long as your local app doesn't share that combination (and our general recommendation for Durable Functions is to use a separate TaskHub + storage account for every running funciton app, including local dev), purge history will only clear your local

[2020-10-22 20:04] pragnagopa opened #2272 "Add warning when using V2 Core tools to upgrade to V3 core tools"
cc @anthonychu @jeffhollan @fabiocav
Once auto-upgrade to V3 completes, show following message when using V2 core tools

```we recommend upgrading to v3 of the function core tools unless you have pinned your application version to 2.0 http://aka.ms/coretools2```

related issue: #2248

[2020-10-22 20:07] fabiocav commented on #2272
There's already an issue tracking this and currently assigned to @kashimiz

She mentioned she had the change done and was opening a PR

[2020-10-22 20:09] pragnagopa commented on #2272
Is this the issue: https://github.com/Azure/azure-functions-core-tools/issues/2091 ? should we close that as we will start upgrading a week from now?

[2020-10-22 20:09] fabiocav commented on #2272
I see you're referencing this other issue. Assuming this is just a verbiage update

[2020-10-22 20:09] fabiocav commented on #2272
@kashimiz can you please provide an update on that issue?

[2020-10-22 20:10] pragnagopa commented on #2272
Yes, after upgrade we should update the message.

[2020-10-22 20:11] fabiocav commented on #2272
Debating whether the other work item still provides any benefit at this point

I guess it depends on how close we are to that. If we can add it to the current release, it would be great.

[2020-10-22 20:15] jeffhollan commented on #2272
Yeah I think it's just about timing. The initial work item was worded a bit more advance, this verbiage is a bit more of "this already happened" - so I suspect given that this will start in next week or two unless it is going out immenintely we may just convert to this one

[2020-10-22 20:26] pragnagopa commented on #2091
@kashimiz  - pinging here to check if it is possible to get this change in with Sprint 86 release of Core Tools.

[2020-10-23 21:13] anthonychu commented on #2267
@vikramkamath Can you please confirm if intermittently means that when you run it once it's fine, but the next time it's run without making any changes, it fails? Could you also share your local.settings.json file (minus secrets)? Thanks.

[2020-10-23 21:16] fabiocav commented on #2248
Closing this in favor of #2272

[2020-10-23 21:16] #2248 closed

[2020-10-26 16:55] thiezn opened #2277 "Python remote build with private PyPi package on Azure DevOps Artifacts"
Hi,

I'm trying to deploy a python Azure Function app using remote build using a Python package hosted on Azure DevOps Artifacts. I'm using the PipAuthenticate task to authenticate against Azure Artifacts PyPi feed. I've also added the PIP_EXTRA_INDEX_URL to my function app pointing to the Azure Artifacts feed.

Here's the Azure Pipeline yaml file I'm using to deploy the app.

[code]

The azure fu

[2020-10-26 17:38] thiezn commented on #2277
Actually, minutes after writing this issue I figured out a way to tackle this myself!

The PipAuthenticate task exports the environmental variable PIP_EXTRA_INDEX_URL that includes the credentials. I added an additional step to update the Azure Function App application setting using the ``` az functionapp config appsettings set``` command, after which the remote build succeeded.

Here's my pipelin

[2020-10-26 17:38] #2277 closed

[2020-10-26 20:41] jeffhollan commented on #2263
@anthonychu brought up some really good points here.  Specifically today people map local.settings.json values 1:1 with app settings. If we make that change, that mapping no longer works. When I got to cloud, which value do I put in app settings (key/value)?  We also have some experiences today where we pull or push to app settings.  Same problem, in that that would break.  @pakrym @paulbatum @fab

[2020-10-26 23:31] paulbatum commented on #2263
So the correct mapping would be to convert the hierarchy into the double-underscore format. So in the example above, the appsetting key would be `StorageConnection__endpoint`. Are you saying that we should make sure that Visual Studio is onboard for doing that mapping work before we add the ability to support the hierarchy format to core tools?

[2020-10-27 00:23] gzuber commented on #2263
I just wanted to chime in here and mention that User Secrets supports hierarchical settings by default and could be an alternative.

Was going to mention that here but was waiting until the feature is fully implemented (working on https://github.com/Azure/azure-functions-core-tools/pull/2260 and a Docs PR)

[2020-10-27 01:59] MattL-NZ commented on #1239
I would also like to know this for Typescript...

[2020-10-27 03:53] jeffhollan commented on #2263
Candidly I don't know the details of what is required from Azure SDK team and the ask - I'll lean on @apawast and @anthonychu to lock on next steps - but the main thing I was worried about is if some user follows some wizard or tool and ends up with a `local.settings.json` value that is hierarchal - I worry they will be confused after publishing and reading our docs and being like "how do I turn l

[2020-10-27 05:14] anthonychu commented on #2263
Yep. Would love to learn more about what the requirements are here.

Jeff outlined most of my concerns. I have an additional concern in that neither hierarchical nor the double underscore notation are natural to non .NET developers. But if I had to choose, I'd rather have double underscore and no hierarchy because we can document it one way for local.settings.json, app settings Azure, and environm

[2020-10-27 08:45] hlz commented on #1239
Fwiw I have found out that it is possible running `func start`and `tsc -w` in parallel. Changes made to function code are picked up directly by the local function host so there is no need for restarting. Except for changes in `function.json` files. Could elaborate more if someone finds that interesting.

[2020-10-27 11:57] yorickdewid commented on #1514
Why is this still an open issue? Pip3 is the default package manager for Python3 in linux environment. If anything detect `pip3` or fallback to `pip` otherwise

[2020-10-27 12:12] jhthompson opened #2279 "Install func tools - latest Azure Pipelines task broken URL"
With the latest release, the path of the zip file has changed from:

https://github.com/Azure/azure-functions-core-tools/releases/download/1.0.28/Azure.Functions.Cli.win-x86.1.0.28.zip

to

https://github.com/Azure/azure-functions-core-tools/releases/download/1.0.28/Azure.Functions.Cli.x86.zip

which breaks CI pipeline builds using the Install func tools - latest (preview) task.

[2020-10-27 12:23] reynaerta commented on #1409
Having the same issue.

[2020-10-27 18:26] #2091 closed

[2020-10-27 19:03] sridharanprasanna commented on #2279
Same here. Is the Zip file name change permanent? Can someone please confirm? We need to handle pipelines.

[2020-10-27 19:24] jhthompson commented on #2279
A workaround for the moment is to set the version to an older version (2.7.2936)

[2020-10-28 04:38] vikalpjain91 commented on #1131
do anyone have any idea how we can see the all the detailed output while debugging it. I am unable to find it anywhere!

[2020-10-28 17:01] chrisva opened #2281 "MacOS and VSCode/Terminal running Azure function locally gives `Value cannot be null. (Parameter 'provider')` error"
I am setting up a repository with Azure function that I am trying to run locally for development. The same repository runs flawless on Windows 10 with Visual Studio but the story on MacOS is different one.

You can see the Azure function logs from running below. I have set up Azure CLI and default subscription to the right place in Azure. Reading Vault keys using CLI confirms access works fine.

I

[2020-10-28 17:04] anthonychu commented on #1131
@vikalpjain91 Set the default log level in host.json to `Information`. Example:

[code]

[2020-10-28 17:56] pragnagopa commented on #1131
@vikalpjain91 - You can also add `--verbose` flag to `func start` command in VS Code `tasks.json` . If you are using VS, add `start --verbose` in application debug arguments

[2020-10-28 20:22] gzuber commented on #2219
Fixed by https://github.com/Azure/azure-functions-core-tools/pull/2260

[2020-10-28 20:22] #2219 closed

[2020-10-28 20:39] fabiocav commented on #2272
We've upgraded the verbiage to be generic enough so this is no longer required.

[2020-10-28 20:39] #2272 closed

[2020-10-30 06:40] ankitkumarr commented on #2279
The V1 Azure Functions Core Tools files were always named that way. We did a V1 release recently and that's why it was marked as latest by default. The V2 and V3 Core Tools still use the old naming convention. The core of the issue is really -- https://github.com/microsoft/azure-pipelines-tasks/issues/12342.

Summary: The DevOps pipeline depends on the github release artifacts, where it should dep

[2020-10-30 18:11] fabiocav opened #2285 "Automate NPM publish step"
We need to automate the NPM publishing step in our release process

Related to #1684 and #1859

[2020-10-30 18:12] fabiocav opened #2286 "Automate apt-get publish step"
We need to automate the apt-get publishing step in our release process

Related to #1684 and #1859

[2020-10-30 18:30] apawast commented on #2065
The work around for this would be to specify any value for the string as the `AzureWebJobsStorage` setting.

[2020-10-31 02:00] #2267 closed

[2020-10-31 17:30] sankethiyer commented on #2244
Hello, I am not sure why but it seems to be working now. Guessing it could have been an issue with my company firewall settings?

[2020-10-31 17:30] #2244 closed

[2020-11-03 17:27] brandonh-msft opened #2290 "Chocolatey packages do not correctly install x86/x64"
When installing Azure Functions Core Tools via Chocolatey using:
[code]

The package does not correctly point to the x64 version on 64-bit machines. Instead, it downloads and installs the 32-bit version of the tools

[code]

this causes issues w/ VSCode when debugging resulting in the error message:

![image](https://user-images.githubusercontent.com/20270743/98019409-92423d00-1db6-11eb-9dad-ccf0f

[2020-11-03 17:44] brandonh-msft commented on #2290
I was able to _force_ an install of x64 using
[code]
but this goes against the default behavior chocolatey; we should install the arch-matching version by default and only use package parameters to _override_ this behavior.

[2020-11-05 13:36] Servot commented on #1031
Also waiting for this, as scikit-garden is failing with pip

[2020-11-05 18:43] jeffhollan commented on #2122
Sounds like thinking may be a GitHub release (or pre-release) with bits available, but client tools like VS Code, NPM, Brew, etc. still use "safe" version

[2020-11-06 21:36] yubozhao commented on #1031
We end up using custom Dockerfile.  You can find what we did here: https://github.com/bentoml/BentoML/blob/master/docker/azure-functions/Dockerfile

Basically, build on top this and add miniconda

[2020-11-07 09:35] stefanstranger opened #2291 "How to remove old version of Azure Functions Core tools"
I want to use the latest version of the Azure Functions Core tools and installed the latest version but when running func --version it still shows the previous version.

![image](https://user-images.githubusercontent.com/2125385/98437727-eade4680-20e4-11eb-9e0e-277ef9bee784.png)

How do I make sure I can remove the old version and can use the latest version?

Regards,
Stefan

[2020-11-07 09:38] stefanstranger commented on #2291
Never mind after opening a new host it seems to be fixed. Sorry for the confusion.

[2020-11-07 09:38] #2291 closed

[2020-11-09 20:13] apawast commented on #2281
@chrisva could you please share your code or your repro steps with us?

[2020-11-09 20:22] ankitkumarr commented on #2290
As @brandonh-msft said, you could install x64 version through `choco install azure-functions-core-tools-3 --params "'/x64'"` ([ref](https://github.com/Azure/azure-functions-core-tools#v3-2)).

Having it install 64 bit by default (on x86) would be --
a) a breaking change
b) cause inconsistency between Azure and local, as by default Azure runs a 32 bit Functions host process

Unless there's a very s

[2020-11-10 10:23] vimanmg commented on #1888
It was resolved by applying @mhoeger 's recommendations. Thank you!

[2020-11-10 10:23] #1888 closed

[2020-11-10 18:59] jeffputz opened #2294 "Update for compatibility with .NET 5"
While I can use the latest `Microsoft.NET.Sdk.Functions` package to build against .NET 5, the tools will not let you run it locally. Running a complied set of functions causes this this output in the tools:
[code]

[2020-11-10 21:58] jonsagara commented on #2294
I also got a runtime exception after upgrading to .NET 5:

[code]

I tried adding a `PackageReference` to my `.csproj` file, but I still get the same error. Any ideas?

TargetFramework: net5.0
.NET SDK: 5.0.100
VS 2019 Enterprise v16.8.0
Windows 10 20H2 (OS Build 19042.572)
Core Tools Version: 3.0.2996
Function Runtime Version: 3.0.14916.0

[2020-11-11 13:03] laurence73 commented on #2294
experiencing same issue upgraded NetCore3.1 Azure functions to 5.0 - cannot debug locally

System.Private.CoreLib: Could not load type 'System.Diagnostics.DebuggerStepThroughAttribute' from assembly 'System.Runtime, Version=4.2.2.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a'.
Value cannot be null. (Parameter 'provider')

[2020-11-11 16:37] evilpilaf commented on #2263
I get that the `__` notation is not common for .net developers but it is the recommended way in the documentation for hierarchical environment variables for netcore projects, it's very frustrating to have it not work at all when trying to port an existing application to a function and then needing to unravel all your `appsettings.Development.json`, being unable to map my local settings to a strong

[2020-11-11 16:44] evilpilaf commented on #2263
It's specially difficult given the lack of documentation around this subject

[2020-11-11 17:53] stefanushinardi commented on #2236
Hey @fabiocav, if you could take a look at this during sprint planning and possibly prioritize it for this sprint that would be great. Being pinged by DevDiv as they are tracking this in ML e2e review.

[2020-11-11 19:44] SoleCode commented on #2294
Same here Upgrade Azure Function .NET Core 3.1 to .NET 5 and getting this error:

Azure Functions Core Tools
Core Tools Version:       3.0.2996 Commit hash: c54cdc36323e9543ba11fb61dd107616e9022bba
Function Runtime Version: 3.0.14916.0

[2020-11-11T19:41:10.765Z] A host error has occurred during startup operation 'f070cd92-9072-4328-b7e3-9920d81ccbf7'.
[2020-11-11T19:41:10.767Z] System.Private.Cor

[2020-11-12 01:03] ajtatum commented on #2294
I'm receiving a similar error in Visual Studio after upgrading to VS 16.8.0 and trying to run a C# function, but for a different assembly.

Azure Functions Core Tools
Core Tools Version:       3.0.2996 Commit hash: c54cdc36323e9543ba11fb61dd107616e9022bba
Function Runtime Version: 3.0.14916.0

[2020-11-12T01:02:00.868Z] A host error has occurred during startup operation 'cd853b62-9e72-41ad-be3e-70

[2020-11-12 04:35] vicinting commented on #2294
Similar problem for me. My entire journey:

1. Just updated my Visual Studio to 16.8
2. Created a new function and targeted .NET 5
3. Added a startup class as mentioned in [documentation](https://docs.microsoft.com/en-us/azure/azure-functions/functions-dotnet-dependency-injection)
4. Installed the packages Microsoft.Azure.Functions.Extensions & Microsoft.Extensions.Http
5. Updated Microsoft.NET.Sd

[2020-11-12 17:10] anthonychu commented on #2222
In the latest version of Core Tools, set an environment variable named `FUNCTIONS_CORE_TOOLS_DISPLAY_LOGO` to `true` to bring back ascii art in `func start`.

[2020-11-12 18:06] #1753 closed

[2020-11-12 18:16] shoaibazeemsiddique opened #2296 "Local Debug for Azure Functions failing due to missing libraries"
Below issue came back in release 2020.10.332292344
https://github.com/Azure/azure-functions-core-tools/issues/2026#issuecomment-642168916

[2020-11-14 02:55] Invvard commented on #2294
It is a known issue.
Fortunately, there is a [work around](https://github.com/Azure/Azure-Functions/issues/1525#issuecomment-598584159).

Duplicate of #1525

[2020-11-14 03:09] Invvard commented on #2294
Some of you could check [this comment](https://github.com/Azure/Azure-Functions/issues/1525#issuecomment-598584159) about the clean up feature and its workaround.

[2020-11-14 05:11] JPhillipBrooks commented on #2294
Unfortunately adding `<_FunctionsSkipCleanOutput>true</_FunctionsSkipCleanOutput>` to the csproj made no difference for me. I'm still experiencing the same issues as everyone else here.

I've created a new Azure Function Project with a single HTTP Trigger to demonstrate the problem. Simply running the project demonstrates the issue. The repo is [here](https://github.com/JPhillipBrooks/FunctionAppN

[2020-11-16 14:59] mcollier commented on #2264
Could be related to https://github.com/kedacore/keda/issues/753.

[2020-11-16 21:36] Francisco-Gamino opened #2298 "Update the Core Tools to retrieve the Access Token using the Get-AzAccessToken cmdlet in Az.Accounts 2.2.0"
Update the Core Tools to retrieve the Access Token using the Get-AzAccessToken cmdlet in Az.Accounts 2.2.0.

The code that needs to be updated is located at https://github.com/Azure/azure-functions-core-tools/blob/v3.x/src/Azure.Functions.Cli/Actions/AzureActions/BaseAzureAction.cs#L280-L284

cc: @stefanushinardi @anirudhgarg

[2020-11-16 23:00] #2281 closed

[2020-11-17 04:29] jerimiahwelch opened #2300 "macOS Big Sur - Error: Your CLT does not support macOS 11.0."
Is there an ETA on when support is coming for macOS 11.0?

It is alarming to suddenly experience errors when deploying production function apps from vsCode.

Best,
Jerimiah

8:02:42 PM: Running command: "brew upgrade azure-functions-core-tools@2"...
Updating Homebrew...
==> Auto-updated Homebrew!
Updated 1 tap (homebrew/core).
==> Updated Formulae
Updated 4 formulae.

Warning: You are using macOS

[2020-11-18 11:04] WebmyneDeveloper commented on #2300
I got the same error.

Download latest command-line tools and try again. It's working.

you can download the latest CLT via below link:
https://developer.apple.com/download/more/

[2020-11-18 20:22] mikegoatly opened #2301 "Publishing using service principal fails with 403 response"
Version: 3.0.2996 (I've tried 2.7.2936 and get the same error)

Using the following command as part of a CI/CD pipeline:

[code]

The following output is returned:

[code]

I've traced the requests using fiddler, and the request that's returning the 403 response is `https://<SITE>.scm.azurewebsites.net/api/settings`.

The service principal used has Contributor permissions to the resource group the

[2020-11-18 21:22] grbspltt commented on #1239
the big issue I have with this is the horrendous errors.  Since its trying to run compiled JS, you're left with trying to figure out where it went wrong in TS.  Would be nice to use `ts-node` for development

[2020-11-18 21:25] grbspltt opened #2302 "Use ts-node for Typescript Projects"
It would be really nice to use `ts-node` under the hood for typescript projects when developing.  Debugging errors would be far easier seeing where the error happened in the TS code vs compiled JS.

[2020-11-18 21:26] anthonychu commented on #2294
The problems here are expected. The functions DLLs are loaded into the functions host, which is running on .NET Core 3.1. We do not support targeting net5.0 in a function app. We probably could do a better job surfacing the problem in Core Tools.

We're hoping to have a .NET 5 worker in preview by end of year.

[2020-11-18 21:37] apawast commented on #2296
@Hazhzeng @vrdmr could you please take a look at this?

[2020-11-18 21:40] apawast commented on #2300
@jerimiahwelch does the approach suggested by @WebmyneDeveloper work for you?

[2020-11-18 21:42] apawast commented on #2301
@Hazhzeng @balag0 could you please take a look at this?

[2020-11-18 21:44] apawast commented on #2302
@mhoeger could you please take a look at this?

[2020-11-18 21:59] vrdmr commented on #2296
@shoaibazeemsiddique - Can you please try the latest version of the Python Extension - v2020.11.367453362?

I haven't been able to reproduce it yet on the newest version of the Python Extension. I'll try downgrading it and see if it reproduces. Please let me know.

/cc @stefanushinardi

[2020-11-18 22:09] gbd77rc commented on #2300
Yes I installed Command Line Tools for Xcode 12.2 release, dated 5th Nov 2020 and I can now install and run the Azure function tools on Mac OS Big Sur.  You still get this warning tho, when installing via VS Code.

Warning: You are using macOS 11.0.
We do not provide support for this released but not yet supported version.
You will encounter build failures with some formulae.
Please create pull re

[2020-11-18 23:39] mhoeger commented on #2302
Hi @grbspltt - we're not very likely to fix this, it's quite a bit of work for a very specific scenario for us (especially because we would not want to run with ts-node in production for perf reasons).

One thing we are working on is fixing this, so that file changes can be made while debugging: https://github.com/Azure/azure-functions-host/issues/3543. Hopefully any errors are going to be easier

[2020-11-19 01:42] ilushka85 opened #2303 "Debugging on Apple Silicon M1 with Visual Studio for Mac or JetBrains Rider Hangs"
When using Apple Silicon m1 Processor starting a debug session in Rider or Visual Studio for Mac hangs at the following console output:

Visual Studio for Mac:

Loaded '/usr/local/share/dotnet/shared/Microsoft.NETCore.App/3.1.9/System.Private.CoreLib.dll'. Skipped loading symbols. Module is optimized and the debugger option 'Just My Code' is enabled.

JetBrains Rider:

/Applications/Rider.app/Cont

[2020-11-19 07:34] grbspltt commented on #2302
@mhoeger Thanks for the response.  I would expect that using ts-node would be for development purposes only.  I don't know anything about what happens under the hood when `func start` is run but perhaps a command like `func start-dev` could use ts-node and the source files instead of dist.

What I'm really looking for is a simpler way to read error messages.  I see the source maps in dist, but the

[2020-11-19 08:43] anthonychu commented on #2303
Are you able to create and debug an ASP.NET Core app with VS for Mac? Just want to understand if the problem is specifically with debugging function apps.

[2020-11-19 11:47] hlz commented on #1239
Yeah this is far from ideal. Same problem arises when debugging code.

Hope this will make it's way into the extension.

[2020-11-19 11:48] hlz commented on #2302
Would love to see support for this as well!

[2020-11-19 12:35] ilushka85 commented on #2303
Yes asp.net core web app debugs fine in both vs and rider. This is just an issue in debugging azure functions.

[2020-11-19 19:08] leminaY commented on #1727
Hi  I'm having same error with Exception has occurred: ModuleNotFoundError No module named 'grpc_tools' and it wouldn't recognize the packages like pandas ..

This used to work fine for me two or 3 weeks ago. I suspect its the python extension (am on the latest one now 2020.11.3637..) but even downgrading to earlier versions did not solve the problem.

My python version of the interpreter is fine

[2020-11-19 19:09] Lemina commented on #1727
Hi I'm having same error with Exception has occurred: ModuleNotFoundError No module named 'grpc_tools' and it wouldn't recognize the packages like pandas ..

This used to work fine for me two or 3 weeks ago. I suspect its the python extension (am on the latest one now 2020.11.3637..) but even downgrading to earlier versions did not solve the problem.

My python version of the interpreter is fine 3

[2020-11-19 20:36] balag0 commented on #2301
403 usually means the app was stopped. Could you check if the app is in stopped state by anychance?

[2020-11-19 21:26] fvalencia12 opened #2304 "Could not load file or assembly 'Microsoft.Extensions.Logging.Abstractions, Version=5.0.0.0"
I have an Azure Function that is deployed and has been working for a while. I just made some more changes and upgraded some nuget packages and suddenly while debugging locally I started getting some errors while running the function. The error I get is:
[2020-11-19T20:37:35.407Z] A host error has occurred during startup operation '24d5b302-c1ac-4501-ae05-88204ffe8ba3'.
[2020-11-19T20:37:35.408Z] S

[2020-11-20 04:29] jeffputz commented on #2294
@anthonychu yikes, that's a pretty serious adoption blocker for .NET 5. I don't have many projects that don't involve functions.

[2020-11-20 04:59] anthonychu commented on #2303
@ilushka85 I don’t think anyone on our team has been lucky enough to get their hands on one of these new devices. Do you have more details on the error that you can share? For instance, I believe in your original issue you mentioned an error about the debugger being used outside of visual studio products. Is that still the problem? Have you tried it with VS Code? Thanks.

[2020-11-20 08:04] mikegoatly commented on #2301
@balag0 The app was running - the error only happens when I use a service principal; when I use my own AD account the command works fine.

[2020-11-20 12:42] Structed commented on #2294
@anthonychu the sad part is, it also affects my function targeting `netcoreapp3.1`

[2020-11-20 13:29] omarko commented on #2304
I'm in the same boat!

[2020-11-20 13:54] Structed commented on #2304
This might help, @omarko and @fvalencia12: https://github.com/Azure/Azure-Functions/issues/1525

[2020-11-20 14:24] fvalencia12 commented on #2304
Well, I don't know what exactly broke my function, it might have been a Visual Studio upgrade which installed .net core 5 or company patching, don't really know.

What I do know is that I downgraded all the 5.0.0 libraries such as Microsoft.EntityFrameworkCore.SqlServer from 5.0 to 3.1 and Microsoft.Extensions.Configuration.UserSecrets from 5.0 to 3.1. **That Fixed the problem for me.**

The 5.0 l

[2020-11-20 14:35] leonardoapolinario commented on #2300
For me, brew update-reset solves this issue.
The command
`brew update-reset`
vanishes the warning message.

I found the solution in

https://stackoverflow.com/questions/64821648/homebrew-fails-on-macos-big-sur

[2020-11-20 15:04] ilushka85 commented on #2303
This is only a problem for Azure Functions.  Debugging regular .net core web apps works fine.  Running Azure Functions without debugger works fine.  Debugging is an issue in both Rider and Visual Studio for Mac.

Is there something I can do to produce more details?  Happy to help any way I can

[2020-11-20 15:14] Structed commented on #2304
Yes, it cost me and my colleague many hours as well...

Problem is, that there might be transient dependencies on 5.x libs, which does not necessarily mean they won't work - but they might get stripped by the functions core tools.

[2020-11-20 16:26] anthonychu commented on #2303
Can you provide more of the console output? Also if you can confirm whether you get the same problem in VS Code, it would be helpful. Thanks.

[2020-11-20 16:27] ilushka85 commented on #2303
Thats actual the entire console output it does not go any further and believes its running.  CPU usage shows 100% for the Func app.  Will try on vs code

[2020-11-21 01:51] balag0 commented on #2301
Thanks. Does the service principal have contributor access to the app? If the permissions look good, please share the app name and approx timestamp that we can use to lookup that request.

You can use https://github.com/Azure/azure-functions-host/wiki/Sharing-Your-Function-App-name-privately if you would like to share the appname privately.

[2020-11-21 18:28] ilushka85 commented on #2303
Same result in all systems.

[2020-11-22 02:12] BosefisGames commented on #2303
I just bought a MacBook Pro M1 today and immediately faced the same issue when debugging a Razer Pages Web Application. I use Safari to debug and it worked no problem on my Intel 2020 MacBook Air. After reinstalling many times and ensuring everything is up to date it sticks on the exact same line when debugging.
"Loaded '/usr/local/share/dotnet/shared/Microsoft.NETCore.App/3.1.9/System.Private.Cor

[2020-11-22 22:32] mutiadavid commented on #2304
Getting same error after updating packages:
 A host error has occurred during startup operation '08e2f72c-200d-4b6f-bcc4-4904be42bab7'.
[2020-11-22T22:30:36.800Z] ******.Functions: Could not load file or assembly 'Microsoft.Extensions.DependencyInjection, Version=5.0.0.0, Culture=neutral, PublicKeyToken=adb9793829ddae60'. The system cannot find the file specified.

[2020-11-22 23:13] anthonychu opened #2306 "Custom handler templates do not work"
[code]

VS Code appears to be picking up the templates, but not working in Core Tools.

/cc @pragnagopa @yojagad

[2020-11-23 09:06] mikegoatly commented on #2301
Thanks @balag0, yes, the service principal has contributor access at the resource group level.

The function app is func-lake-5f5c-uat, some failure instances on 20 Nov 2020 were at 09:44, 15:00 and 15:37 (all UTC). It's very easy for me to reproduce, so if you need more examples, just let me know.

[2020-11-23 09:17] mikegoatly commented on #2301
Hi @balag0 - troubleshooting a bit further, if I give the service principal contributor access to the subscription, then the deployment works.

[2020-11-23 18:45] yojagad commented on #2306
Thanks for reporting this. I checked this out and it looks like core-tools picks up templates in the context of non-extension bundle. In other words, the below commands work

[code]

In context of bundles, it looks the latest version on prod CDN is still only 2.0.0 https://functionscdn.azureedge.net/public/ExtensionBundles/Microsoft.Azure.Functions.ExtensionBundle/index-v2.json . It looks like non

[2020-11-23 19:23] ejizba opened #2307 "Outdated func warning breaks parsing of --version command"
If I run `func --version` on v2, I'm seeing this:

Please print the warning to stderr (it's currently going to stdout) or just remove it for this command. VS Code fails to parse the version as-is, affecting a number of version-specific scenarios

[2020-11-23 22:47] pragnagopa commented on #2306
Thanks for updating CDN @yojagad .  Initial testing looks good. @anthonychu - please reactivate if you see any other issues.

[2020-11-23 22:47] #2306 closed

[2020-11-24 03:32] gustavf commented on #2294
Not clear from comments here if this is only a local issue related to the function emulator or if it is also a problem when you deploy? Can someone confirm either way?

[2020-11-24 14:05] ilushka85 commented on #2303
Anyone have any ideas why this is stuck in Rosetta 2 but regular app debugging works?

[2020-11-24 14:36] jeffputz commented on #2294
@gustavf I haven't tried it, but I assume that if you deploy as self-contained, it doesn't matter what version you're building against. Keep in mind that I don't know for sure if the Functions SDK works with v5 either (now _that_ is one of the most neglected projects in the ecosystem).

[2020-11-24 15:14] cdasso commented on #2303
For my .net core apps I can run without debugging but when debugging always stops after the first Loading line as described above

[2020-11-24 19:07] anthonychu commented on #2303
@cdasso Can you please confirm if this is a .NET Core functions app or another type of .NET Core app?

[2020-11-24 19:17] anthonychu commented on #2304
Looks like the issue is that Microsoft.EntityFrameworkCore.SqlServer has a transitive dependency on newer versions of some packages such as Microsoft.Extensions.Logging.Abstractions that conflict with the ones running in the functions host. We'll take a look to see how we can address this. @fabiocav

[2020-11-24 19:20] anthonychu commented on #2307
Sorry we didn't consider this scenario. Let's see if we can get this fixed relatively quickly.

[2020-11-24 20:37] rootdevelop commented on #2303
Same here, running in debug doesn't work for any of my asp.net core (3.1) or console applications. Output doesn't go further then "Loaded '/usr/local/share/dotnet/shared/Microsoft.NETCore.App/3.1.9/System.Private.CoreLib.dll'. Skipped loading symbols. Module is optimized and the debugger option 'Just My Code' is enabled.".

When creating a new .net 5.0 asp net core mvc application it crashes with

[2020-11-24 20:40] cdasso commented on #2303
It’s just a .net core 3.1 C# WebAPI

From: Anthony Chu <notifications@github.com>
Date: Tuesday, November 24, 2020 at 1:08 PM
To: Azure/azure-functions-core-tools <azure-functions-core-tools@noreply.github.com>
Cc: Cameron Dasso <camerondasso@outlook.com>, Mention <mention@noreply.github.com>
Subject: Re: [Azure/azure-functions-core-tools] Debugging on Apple Silicon M1 with Visual Studio for Mac o

[2020-11-24 20:57] jonsagara commented on #2294
@gustavf I only tried it locally. Once it failed, I didn't try to deploy it.

[2020-11-25 18:23] jlengrand opened #2313 "[2020-11-25T18:15:26.820Z] [error] Incompatible Node.js version (v15.3.0) not showing by default on function project"
Hey there,

I am creating this issue following a discussion with @anthonychu on [Twitter](https://twitter.com/nthonyChu/status/1331661787532443648).

In short:  I created and used azure function core tools for the first time today in vscode.

func version is `3.0.2996`. OS is Mac OS X Big Sur, and the core tools were installed (by vscode) using `brew`.

**What happens :**

No error shows up. This

[2020-11-26 17:52] frarteaga commented on #2060
When this change is available?

[2020-11-26 22:25] soninaren commented on #1755
@vijayrkn is it somehow possible for VS to use system proxy?

[2020-11-27 07:59] ninamwa commented on #2074
I have the same problem. Have created multiple Azure Function projects, and using only the standard template, but get the same error...

[2020-11-27 23:00] #2300 closed

[2020-11-28 16:29] backops-threed opened #2314 "Can't connect to NodeJS debugger using a docker container"
So, my stack uses docker-compose for simplicity changing computers.
The problem is that I can't connect to the debugger for nodejs if it's running inside a docker container.
The worker runs fine but I just can't connect the debugger.

Some important notes:
- I'm using PHPStorm.
- On my container, I'm exposing the 5858 port. It's the same definition that I use for another "normal" (it's not a funct

[2020-11-29 10:40] sebader commented on #2304
I'm also affected by this. Also needed to upgrade to Microsoft.EntityFrameworkCore.SqlServer 5.0.0 which probably broke it.

[2020-11-29 16:22] anthonychu commented on #2314
The random port you are seeing is likely the port that the Azure Functions Node language worker process is using to communicate with the Azure Functions host, and it is not related to the debugging port.

Based on the output, it does look like the debugging port is 5858, and if the same port is exposed to the host machine, I would imagine it should work. However I’m not familiar with PHPStorm. Can

[2020-11-29 19:43] backops-threed commented on #2314
Well, I just found the problem after almost one month living with it and trying to solve time to time.
The Function was listening on `ws://127.0.0.1:5858` and, I just saw, the other docker container that worked, was listening on `ws://0.0.0.0:5858`.
So, changing the environment `languageWorkers:node:arguments` on `local.settings.json` from `--inspect=5858` to `--inspect=0.0.0.0:5858` solved this p

[2020-11-29 19:43] #2314 closed

[2020-11-29 21:10] AartBluestoke commented on #2304
as i commented in  https://github.com/Azure/azure-functions-host/issues/6893#issuecomment-726386105
- when you run azure functions, it starts before it loads your code.
- only 1 version of a dll can be loaded at once.

Consequence: if you need a library that is a direct or indirect dependency of azure functions you can only use the version that is loaded. This is a case where azure functions is in

[2020-11-29 21:44] anthonychu commented on #2314
Oh yes. That problem gets me all the time. Glad you figured it out!

[2020-11-30 18:30] GeekTrainer commented on #2070
I recently created a [starter kit](https://github.com/geektrainer/aswa-student-starter-kit) for ASWA/Functions. One of the key components is the ability to connect to a database, which requires a couple of settings of course. It would be wonderful to have the ability to create an empty **local.settings.json** file with a click rather than a clunky copy/paste (which is what I'm currently doing).

[2020-12-01 19:03] apawast commented on #2290
Closing as I believe @ankitkumarr answered the question. Please feel free to reopen if there's still an issue.

[2020-12-01 19:03] #2290 closed

[2020-12-01 19:07] apawast commented on #2313
@ankitkumarr can you please take a look at this?

[2020-12-01 19:15] apawast commented on #2074
@ninamwa could you please share more information about the error you are getting?

[2020-12-01 19:27] apawast commented on #2259
@prabh-62 the build output can be useful in a lot of cases, so at this time we are not looking to change the current behavior. I am closing this issue for now, but please feel free to reopen this issue if this problem arises for more people. Thank you!

[2020-12-01 19:27] #2259 closed

[2020-12-01 23:14] RDavis3000 commented on #2050
Mine was caused by having a semi-colon at the end of a key-value-pair instead of a comma in my local.settings.json file. Not a great error message :)

[2020-12-02 04:03] ahmelsayed commented on #2264
Yes, I think it's related to the issue @mcollier linked to. Azure Functions Runtime resolves that value from the environment, so KEDA will need to do the same. However, this will only work if the environment variable is defined through kubernetes (env on the pod or a from a configMap or Secret) but not if it's defined in the docker image itself.

[2020-12-02 06:07] mhoeger opened #2317 "Don't overlap worker process recycles when running locally"
Enable Sequential JobHost restart when running locally, as introduced here: https://github.com/Azure/azure-functions-host/commit/12fff582f5880ee120e3ccd0ed1ea7753e705469

When debugging, we were seeing issues where overlapped recycles were causing new processes to fail because debug port was in use.

[2020-12-02 07:06] codermrrob commented on #2294
Yes, same - would have been nice to see some information on this before I attempted to build .Net 5.0 function. Oh well, regressing...

[2020-12-02 23:10] anthonychu opened #2318 "Better warnings when unable to determine function app language"
Currently, it prints a warning multiple times when no functions worker runtime is specified at . @johnpapa can you please share a screenshot?

The warning should print once and should probably suggest a fix (create a local.settings.json). Perhaps we can instead prompt and ask what language and scaffold out the local settings file?

[2020-12-02 23:13] johnpapa commented on #2318
![image](https://user-images.githubusercontent.com/1202528/100942875-1ed13f80-34ca-11eb-883c-933bd8359cec.png)

[2020-12-02 23:15] anthonychu commented on #2318
Possibly related:  https://github.com/Azure/azure-functions-core-tools/issues/2070

[2020-12-03 00:22] gzuber opened #2319 "Fix failing User Secrets tests"
start_with_user_secrets_missing_storage and start_with_user_secrets_missing_binding_setting are both failing. They were recently disabled after determining it's not an issue with core tools or the host. So far there's no local repro. Logs on devops seem to indicate there might be an issue with writing to one of the test project's files.

[2020-12-03 00:23] gzuber commented on #2319
@pragnagopa

[2020-12-03 00:29] gzuber opened #2320 "Fix failing start_powershell"
start_powershell recently started failing on the v3.x branch with host v3.0.15149. This test was disabled after we determined it was a test issue. Adding a delay to give enough time for the result to be ready didn't seem to help. From the output of the failed runs, it almost looks like the host never starts, but gets stuck during function creation:

[code]

[2020-12-03 00:31] gzuber commented on #2320
@Francisco-Gamino @AnatoliB would either one of you be able to take this issue? @pragnagopa and I took a look but I think it might take some more know-how from the powershell experts

[2020-12-03 00:57] Francisco-Gamino commented on #2320
I can take a look at this issue. However, I start my on-call today at 5 and might not get to it until next week.

[2020-12-03 10:02] sebader commented on #1483
Came to this issue because I tried to figure out whether slots are supported through the core tools. Guess this means they are... :)
So yes: Please update the --help (and the public docs)! Also things like `--python` (or other languages) are not mentioned anywhere.

[2020-12-03 13:02] tbuha commented on #1409
Same issue. VS 2019 16.8.2.
Core Tools Version:       3.0.2996 Commit hash: c54cdc36323e9543ba11fb61dd107616e9022bba
Function Runtime Version: 3.0.14916.0

[2020-12-03 16:55] TissonMathew commented on #2304
Any resolution on this? We are getting the same error System.Private.CoreLib: Could not load file or assembly 'Microsoft.Extensions.Logging.Abstractions, Version=5.0.0.0, Culture=neutral, PublicKeyToken=adb9793829ddae60'. The system cannot find the file specified.

"Function host is not running." when the function app URL is clicked.

[2020-12-03 21:36] Francisco-Gamino commented on #2320
I took a look and the `start_powershell` test code and it is a replica of these two tests:
1) `start_nodejs` -- > https://github.com/Azure/azure-functions-core-tools/blob/v3.x/test/Azure.Functions.Cli.Tests/E2E/StartTests.cs#L27
2) `start_dotnet_csharp` -->https://github.com/Azure/azure-functions-core-tools/blob/v3.x/test/Azure.Functions.Cli.Tests/E2E/StartTests.cs#L247

All these three test cases

[2020-12-04 00:19] drdamour opened #2321 "Visual Studio Function Template host.json has samplingExcludedTypes"
When i start a new project of azure functions the host.json looks like this:
[code]

but samplingExcludedTypes is wrong per https://docs.microsoft.com/en-us/azure/azure-functions/functions-host-json#applicationinsights it should look like
[code]

found this because i noticed that by default my Request were getting throttled/sampled even though they were excluded (supposedly).

this issue probably

[2020-12-04 01:28] kashimiz commented on #2320
@francisco-gamino I think that delay was added in one of [Pragna's commits.](https://github.com/Azure/azure-functions-core-tools/pull/2299/commits/aa541db88d5a64a02a9d7f6179380b002a2b423e)

[2020-12-04 01:31] pragnagopa commented on #2320
Yes I did :) I attempted multiple times to fix the test before skipping the test

[2020-12-04 01:34] pragnagopa commented on #2320
Also, running the test is isolation seems to work. We need to figure out why it is consistently failing in DevOps runs. @gzuber - is trying to fix other two tests that were disabled. He added more logging to help figure out the root cause. I recommend similar approach.

[2020-12-04 01:53] dilin-MS opened #2322 "node js azure function fails on linux runtime. 'object reference not set to an instance of an object.'"
Hi, I am developing a customized azure functions binding. Have a node js function project and install our binding, the project can run correctly under windows runtime. However, under linux runtime, the `func host start` will encounter `object reference not set to an instance of an object` error. Any suggestions?

[code]
Deploying to azure functions has the same result.

Env:
[code]

I am having th

[2020-12-04 03:40] Francisco-Gamino commented on #2320
Thanks @kashimiz and @pragnagopa for the clarification :)

One last question: Do you know if the tests execute in a particular order all the time? If the answer is yes, then I will take a look at the previous test that gets executed before `start_powershell`.

Also, I will sync up with @gzuber to add more logging to the test case. Thanks!

[2020-12-04 07:03] anthonychu commented on #2304
The only solution is to avoid using v5 packages. We'll have a .NET 5 worker available in preview soon that should unblock this.

[2020-12-06 22:54] JohnCarmichael3000 commented on #2321
I can second this issue. I started a new function (C#) and "samplingExcludedTypes" was included in the host.json file. Opening the host.json file indeed shows a "Property samplingExcludedTypes is not allowed" message. Changing code to drdamour code suggested above (minus the comma after "Request") removes this warning.

[2020-12-07 07:10] drdamour commented on #2321
looks like the docs were fixed of this bug a while back but not the template https://github.com/MicrosoftDocs/azure-docs/issues/62189

[2020-12-07 07:11] drdamour commented on #2321
also here https://github.com/MicrosoftDocs/azure-docs/issues/47219

[2020-12-07 13:59] Kashish053 commented on #2074
I am also getting the same error not sure. Attahing the screen shots as well
![image](https://user-images.githubusercontent.com/44292726/101359520-0e8fda80-38a5-11eb-9504-e48fdf5b051c.png)
![image](https://user-images.githubusercontent.com/44292726/101359588-28c9b880-38a5-11eb-815b-d3513d84fad1.png)

[2020-12-08 11:25] fisherkuan opened #2329 "'func host start' doesn't respect VSCode workspace virtual environment"
Started an Azure Functions project with the VSCode UI, following this [tutorial](https://docs.microsoft.com/en-us/azure/azure-functions/create-first-function-vs-code-python).

In settings.json, "azureFunctions.pythonVenv": ".venv" is set. Python interpreter points to Python 3.8.6 64-bit ('.venv'). As I started to run with command 'func host start' (see attached image). I saw that the dependencies

[2020-12-08 12:36] tudor33sud commented on #823
+1. I still can't change the port!!!

[2020-12-08 17:12] kashimiz opened #2330 "Build agent keeps running out of space"
As additional artifacts (MSIs, NuGet packages) are added, and the size of the language workers grows, builds have been failing due to the build agent running out of space. Although ad-hoc adjustments get the build working again (reordering build steps, reducing language worker size), it's probably a good idea to start considering a more permanent solution to avoid this becoming a chronic problem (

[2020-12-08 17:12] kashimiz commented on #2330
cc @ankitkumarr for additional context.

[2020-12-08 19:12] apawast commented on #2322
Hi @dilin-MS, could you please provide us with a repro and stack trace?

[2020-12-08 19:14] apawast commented on #2329
@vrdmr @Hazhzeng could you please take a look at this?

[2020-12-08 23:00] #2296 closed

[2020-12-09 02:17] #2317 closed

[2020-12-09 02:57] dilin-MS commented on #2322
Hi, I occasionally figured out the root cause.

We have a key-value settings `"AllowedAppIds": ""` in `local.settings.json` configuration file. When azure function reads this config (empty string) from this file, it behaves differently under linux / win.

We have a `AllowedAppIdsStr.Split(';')` function inside our MODS extension. Under Win, the empty string is successfully read, but under Linux, t

[2020-12-09 05:19] TissonMathew commented on #2304
Resolved by downgrading to 3.1 packages.

[2020-12-09 09:18] hwride opened #2337 "isPastDue is not set to true when TimeTrigger is late"
When a TimeTrigger is late running I would expect to see `isPastDue` set to `true` but it is always set to `false`.

Here is some example code I have run where the function is configured to trigger every 1s but takes 5s to run, meaning the next invocation is delayed. `isPasteDue` is always `false`.

### function.json
[code]
### index.js
[code]

### Versions
- Azure Functions Core Tools
[code]
- OS

[2020-12-09 15:20] salemrartin opened #2338 "Template list for Azure Functions in Visual Source Code shows HTTP triggers only"
Hello,
I updated this morning to the latest azure-functions-core-tools 3.0.3160 and since then the list of Azure functions template in Visual Source Code has shrunk to one template only! HTTP trigger(s) from OpenAPI V2/V3
I am able to reproduce this issue on a brand new MacOS installation!
Can someone look into this? I am trying to downgrade to the previous 3.0.996 version but I haven't been able

[2020-12-09 16:11] fisherkuan commented on #2329
The problem was solved by uninstalling/reinstalling Python.

[2020-12-09 16:11] #2329 closed

[2020-12-09 18:46] gzuber commented on #2319
Resolved by #2333

[2020-12-09 18:46] #2319 closed

[2020-12-09 19:38] pragnagopa opened #2339 "Update dev (v2) branch to be in maintenance mode"
Related to https://github.com/Azure/azure-functions-host/issues/6972

Only critical bug fixes with a planned release need to be merged to V2

[2020-12-09 20:43] ankitkumarr commented on #2338
Hi @salemrartin,

Thank you for reporting this! We are taking a look and will likely have it resolved soon.

[2020-12-09 21:17] salemrartin commented on #2338
Hi @ankitkumarr,
Thank you for your prompt response! I am relatively new to Azure Functions development and as you can see I am currently blocked.
I _think_ my problem will go away if I can roll back to the previous azure-functions-core-tools 3.0.2996. If so, can you shed some light on how to do so via brew command line? I am unable to find a way to do so
I am using a Mac just so that you know

Mu

[2020-12-10 00:44] ankitkumarr commented on #2338
@salemrartin, the templates don't actually come from the core tools directly. But the good news is that the fix is deployed (thanks to @yojagad and @soninaren).

You may need to clear your template cache for it to work immediately. The two cache that seemed to fix it for me were, when I removed --

In mac,
`$HOME/Library/Application Support/Code/User/globalStorage/ms-azuretools.vscode-azurefunctio

[2020-12-10 01:03] salemrartin commented on #2338
You guys are rock stars! Clearing the template cache in both folders fixed the problem!
Thank you @ankitkumarr & @ejizba so much for resolving a problem within less than 12 hours!

[2020-12-10 02:03] fabiocav commented on #2304
@AartBluestoke just want to comment to add some clarity.

The following statement is inaccurate:

The only dependencies that are currently restricted are .NET and WebJobs. In those cases, we perform automatic unification within safe ranges. Any other dependency brought by your application is loaded in isolation, and if also used by the host, it is loaded side-by-side with the version the host uses

[2020-12-10 02:04] aqueenan commented on #2050
If local.settings.json contains information that's always required, why is it added to .gitignore?

[2020-12-10 04:04] seeplusplus opened #2341 "Add Rust function templates"
Is this something that would be desirable to include? It looks like there's support for Azure functions in the Rust ecosystem,
https://docs.rs/azure-functions/0.11.0/azure_functions/index.html

If this is something worth including I wouldn't mind submitting a PR for it. (I am assuming that given the link above the only work to be done is simply adding the templates, but I could be wrong)

[2020-12-10 10:14] valtido opened #2343 "Importing SQL rowfile module not found"
I have a simple issue when running `func` or `npm run start`.

in package.json I have
[code]

on my project file I have
[code]

[code]

When I `npm run start` it shows the following error.
`Exception: Worker was unable to load function GetDataProviderResponse: 'Error: Cannot find module 'foo.sql'`

[2020-12-10 10:15] dilin-MS opened #2344 "How to Use Dependency Injection to Inject LoggerProvider for functions binding in JavaScript function app?"
Hi,

We are currently working on developing our customized Azure Functions Binding `Microsoft.Azure.WebJobs.Extensions.MODS` and would like to add log for the MODS binding.
We hope that when customer use our binding and get error, we can get more information from log printing at user's side.

I investigated and found that azure function has already enabled dependency injection in .NET [REF: [Use d

[2020-12-10 10:55] dilin-MS commented on #2344
Hi, I just figured out that without any code added, the `context.log` is automatically injected into our binding and binding's log can print on console. I think my issue is fixed now. Thx!

[2020-12-10 10:55] #2344 closed

[2020-12-10 12:21] disssid commented on #2074
@ninamwa @Kashish053 Did you guys try this
 "Create a new Azure Function project in another directory, copy over the directories consisting just the function related files from the previous project and run the new project"

[2020-12-10 16:01] arnaudsm commented on #2074
This may be an edge case, but I had the same issue because I swapped the F5 and Ctrl-F5 keys in my vscode preferences. Pressing Ctrl-F5 (Debugging) instead of F5 (Start without debugging) solved the issue.

[2020-12-10 16:07] BorCob commented on #2338
@ankitkumarr Unfortunately, clearing the cache (2 MacOS installs in my case) didn't solve anything.

Please have a look here: https://github.com/microsoft/vscode-azurefunctions/issues/2588

[2020-12-10 19:12] apawast commented on #2343
@mhoeger could you please take a look at this?

[2020-12-10 19:20] anthonychu commented on #2341
That's a great project but it's not an official Azure Functions project. It's no longer being maintained. For Rust, we recommend using our [custom handlers](https://docs.microsoft.com/en-ca/azure/azure-functions/create-first-function-vs-code-other?tabs=rust%2Clinux) feature. We do have templates support for scaffolding function.json files for custom handler projects.

You do bring up a good point.

[2020-12-10 19:20] #2341 closed

[2020-12-10 22:11] fabiocav commented on #2307
@soninaren is currently working on this. Change is in place, working on the build for release.

[2020-12-10 22:19] fabiocav commented on #2071
Completed.

[2020-12-10 22:19] #2071 closed

[2020-12-10 22:26] wynandjordaan opened #2345 "Kubernetes deploy with Durable functions"
We recently ran into an issue where moving our Durable functions to a Kubernetes Cluster. We are using the "func kubernetes deploy" to generate the Yml file.

By default the Queue based functions are split from the HTTP triggered functions but they share the same Secrets. Because of the Orchestrator function being disabled the HTTP function cannot start a new instance of the orchestrator with this

[2020-12-11 05:39] #2307 closed

[2020-12-11 07:03] anthonychu commented on #2343
@valtido I don't believe `import sqlInsert from 'foo.sql'` is expected to work. Node only knows how to import JavaScript files. To read the SQL file, try using [`fs.readFileSync()`](https://nodejs.org/docs/latest-v12.x/api/fs.html#fs_fs_readfilesync_path_options).

[2020-12-11 07:14] anthonychu commented on #2345
I don't think there's an option to stop the splitting, but you can modify the output YAML files to put them back into a single deployment.

@ahmelsayed Is it still required to split apps into http/non-http when deploying to Kubernetes?

[2020-12-11 15:59] valtido commented on #2343
It is in typescript, which eventually should be good.

I also used the readFileSync, but eventually the file doesn't end up on the dist folder.

alternatively is there a ts version of "func" I can run it on?

[2020-12-11 16:58] pragnagopa opened #2349 "Add support for KEDA 2.0"
PR in progress.

[2020-12-11 17:00] pragnagopa commented on #2144
cc @fabiocav
Tagging myself (@pragnagopa), @ankitkumarr , @gzuber  for reviews

[2020-12-11 21:45] ejizba commented on #2338
We just released v1.1.0 of the extension, including a fix for this (without needing to clear the cache).

[2020-12-12 01:06] soninaren commented on #2307
This is released to tooling feed. Pending npm release.

[2020-12-14 03:49] shoaibazeemsiddique commented on #2296
My issue was resolved after deleting all the breakpoint issue, apologies for the late response.

[2020-12-14 20:00] soninaren commented on #2307
npm release is complete

[2020-12-15 04:02] cosswift opened #2350 "Value cannot be null. (Parameter 'provider')"
Seeing that the other issues that had this error did not quite fill the bill, I wanted to add my two cents. I built a project that was similar to the example provided and all was well, but when I added a project that contained a reference to Microsoft.EntityFrameworkCore version 5.0.0, also tried 5.0.1, I received the error message below. What is in the EF Core 5 that is causing this problem?

[20

[2020-12-15 06:37] tomkerkhove opened #2351 "Provide support to dry-run deletion of KEDA"
Provide support to dry-run deletion of KEDA, similar to installing it

[2020-12-15 11:28] kepikoi commented on #2322
Probably totally unrelevant but `Object reference not set to an instance of an object.` was once thrown at me while trying to install the function extensions via `func extensions install --typescript` The culprit was an empty `functions.json` in one of my functions

[2020-12-15 14:43] JonasBergholz commented on #2074
I have the same Issue, but just with "Starting without debugging". With debugging the Project runs just fine, but because of this I can't deploy it to the azure functions app. I suspect a error in the launch.json file myself, but when i don't know what to put in instead of attach. I mean you probably put in "launch" in the request option, but I don't know what other options I need to put in, in or

[2020-12-15 18:46] SinghManvir opened #2352 "ILogger<T> not logging when T is another project"
I can see all logs in my functions class but it does not seem to be logging anything from another class in another project.

I have tried all suggestions in issue [4345](https://github.com/Azure/azure-functions-host/issues/4345) and issue [4425](https://github.com/Azure/azure-functions-host/issues/4425).

So, I have tried adding the filter like
[code]

and also tried in host.json
[code]

and tried

[2020-12-15 19:09] anthonychu commented on #2345
@wynandjordaan Is there an issue on the Durable extension repo that we can reference? /cc @cgillum @ConnorMcMahon

[2020-12-15 19:19] anthonychu commented on #2350
We're evaluating some options for addressing this in a .NET Core 3.1 Azure Functions app. For now, our recommendation is to use our recently announced [.NET 5 worker](https://github.com/Azure/azure-functions-dotnet-worker-preview).

[2020-12-15 19:21] anthonychu commented on #2351
@tomkerkhove Can you please share more context on this? Do you need someone on our team to do this work or will you be submitting a PR?

[2020-12-15 19:36] tomkerkhove commented on #2351
I'm happy to send a PR once https://github.com/Azure/azure-functions-core-tools/pull/2289 is done.

For context: `func kubernetes install` supports a dry-run to see what will happen. I think it would be beneficial if you could do the same with `func kubernetes remove` but it might just be me.

[2020-12-15 19:46] coupster74 opened #2353 "cannot deploy azure function with server side compile"
I have a typescript azure function with a puppeteer dependency. My understanding is that with the Linux platform, and server side build, this should work (https://anthonychu.ca/post/azure-functions-headless-chromium-puppeteer-playwright/)

I am trying a deployment, but am failing on a tsc with a ELIFECYCLE errno 1 error as per below. It looks as though the puppeteer dependency and Chromium are ins

[2020-12-15 20:03] cosswift commented on #2350
@anthonychu  I was using the .NET 5 worker that you suggested.

[2020-12-15 22:26] coupster74 commented on #2353
as an update.. i I figured it out. I update the package from :

"scripts": {
    "build": "tsc",
    "watch": "tsc -w",
    "prestart": "npm run build",
    "start": "func start",
    "test": "echo \"No tests yet...\""
  },

to

  "scripts": {
    "build": "",
    "watch": "tsc -w",
    "prestart": "npm run build",
    "start": "func start",
    "test": "echo \"No tests yet...\""
  },

and the dis

[2020-12-15 22:26] #2353 closed

[2020-12-15 22:26] jwisener commented on #2350
Method not found: 'Microsoft.Extensions.DependencyInjection.IServiceCollection Microsoft.Azure.Functions.Extensions.DependencyInjection.IFunctionsHostBuilder.get_Services()'.
Value cannot be null. (Parameter 'provider')

We just started getting the message above, what would be causing this?

[2020-12-16 01:59] errbufferoverfl opened #2354 "Local Debug for Azure Functions failing due to missing libraries"
Original ticket #2026

I saw that this issue has recently been closed for v2020.10.332292344 (#2296) which recommended upgrading to v2020.11.367453362.

I am running Python extension v2020.12.424027540 and am experiencing this problem at the moment when trying to debug Python 3.8 Azure Functions locally.

## VSCode Details

[code]

## Extensions Installed

* Azure Account @ 0.9.4
* Azure Functions

[2020-12-16 04:55] wynandjordaan commented on #2345
Hi Anthony,

Thanks for the reply so far. I have added the link to the Durable extension repo: https://github.com/Azure/azure-functions-durable-extension/issues/1600.

I do think that this is a big issue for Durable functions. The workaround is to split the http and non-http functions in code, which has quite a few drawbacks. The cleanest solution would be to prevent the splitting in the first pla

[2020-12-16 11:24] boyvanduuren opened #2355 "Unable to publish function app with azure-functions-core-tools@vone"
Hi there. I'm trying to use the function tools compatible with v1 azure functions to publish a function app. I'm running into "InternalServerError":

[code]

Note that I am successfully logged in:

[code]

Please let me know if you require some extra information.

[2020-12-16 15:20] maximivanov opened #2356 "Docs: clarify support for running from package in Linux Consumption"
Just spent some time figuring out why my Terraform scripts and Azure Functions Core Tools try to override each other's output.

Terraform script which I use to provision Azure resources, creates a function app (Linux Consumption App Service plan) with `WEBSITE_RUN_FROM_PACKAGE=1` App Setting.
Later when I run `func azure functionapp publish ...` to upload function code to the Function App it overr

[2020-12-16 20:29] balag0 commented on #2356
@maximivanov Thanks for the feedback and this is a great point. I have openend the below issue to improve the docs
https://github.com/MicrosoftDocs/azure-docs/issues/67794

[2020-12-16 23:26] errbufferoverfl commented on #2354
Just a quick update, today the Python extension (ms-python.python) was updated to 2020.12.424452561 which appears to have the same problem reported above.

[2020-12-17 05:43] #2356 closed

[2020-12-17 11:47] buddhamangler-cbre opened #2358 "How to signal exit from func start in terminal on macos"
This is on macos catalina 10.15.7

I use customHandler as my code is written in Go.  After kicking off func start and it is running, hitting control+c my customhandler app properly responds and exits, but the function run time keeps running.  Shouldn't the func runtime respond to the sigint?

[2020-12-17 14:27] buddhamangler-cbre commented on #2358
I will close this issue as I figured out a way around this.  Let me explain so others that come across this will benefit.

I am using a customHandler to run azure functions in go.  I was having issues debugging the functions in visual studio code.  The way I originally had debug working I would 'func start' from the command line, which would fire up the function runtime and kick off my customHandl

[2020-12-17 14:28] #2358 closed

[2020-12-17 16:06] leonieponsioen opened #2359 "Issue running EntityTrigger locally on newest version of DurableTask"
We have an issue with the use of durable Entity triggers locally. It works when published to azure as FunctionApp, but when running locally issues appear.

After investigating we found out that it works fine with the NuGet Microsoft.Azure.WebJobs.Extensions.DurableTask 2.1.1, after upgrading to 2.4.0 the issue occurs.

Using a HttpTrigger, we schedule an EntityTrigger to increase a value and log s

[2020-12-17 19:14] anthonychu commented on #2354
@errbufferoverfl  Can you please see if the output above what you pasted contains lines such as the following? Looking to see if it is automatically activating your virtual environment.

[code]

[2020-12-17 19:18] anthonychu commented on #2355
@boyvanduuren Can you please set `CLI_DEBUG=1` in the environment before running the deployment command and see if that prints more information about the error? Thanks.

[2020-12-17 19:21] anthonychu commented on #2359
@cgillum @ConnorMcMahon Could you please take a look?

@leonieponsioen Are you using a storage emulator locally or a Storage account in the cloud?

[2020-12-17 19:23] anthonychu commented on #2354
Possibly related: #2074

[2020-12-17 19:26] hedgelot commented on #2359
@anthonychu I'm using storage emulator, but I've tried using a storage account in the cloud too and it gives the same results

[2020-12-17 19:27] ConnorMcMahon commented on #2359
@leonieponsioen, if at all possible, could you try finding the earliest version between 2.1.1 and 2.4.0 that you notice the bad behavior?

[2020-12-17 19:29] anthonychu commented on #2322
@dilin-MS This is known behavior for how environment variables currently work in Functions Core Tools. Sounds like you might have to add some logic to guard against this. Related: https://github.com/Azure/azure-functions-core-tools/pull/1384

[2020-12-17 19:56] hedgelot commented on #2359
@ConnorMcMahon I believe 2.3.x had issues too, but I can test them all out more thoroughly tomorrow👍

[2020-12-17 23:30] errbufferoverfl commented on #2354
Hey @anthonychu!

Here is my output:

[code]

As far as I can see it is activating my `virtualenv` at debug time! If there is anything else I can provide please let me know!

[2020-12-18 02:16] dilin-MS commented on #2322
Thanks. We can close this issue.

[2020-12-18 02:16] #2322 closed

[2020-12-18 08:30] leonieponsioen commented on #2359
Latest working version: 2.3.0
Earliest not working version: 2.3.1

[2020-12-18 16:56] rafaelcruz-net commented on #2294
I'm tried today. Same problem.
Could not load type 'System.Environment' from assembly 'System.Runtime, Version=4.2.2.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a'.

[2020-12-18 17:23] ConnorMcMahon commented on #2359
Thanks for the update, that helps us narrow down the issue.

To clarify one last thing, in your original post you stated

Then in a subsequent post, you stated

Just to make sure I fully understand the issue, it works fine in Azure cloud, but when running locally, it fails regardless of you using storage emulator or a real storage account. Is that correct?

[2020-12-18 17:29] leonieponsioen commented on #2359
@ConnorMcMahon correct

[2020-12-19 16:58] anthonychu commented on #2354
@vrdmr @Hazhzeng Do you know what might be happening here?

[2020-12-19 18:42] gimmi opened #2361 "func init wrong host.json for dotnet"
Consider the following sample:

[code]

As you can see, for the `dotnet` runtime the configuration contain the `samplingExcludedTypes` field that is not correct, at least according to https://github.com/MicrosoftDocs/azure-docs/issues/47219

[2020-12-21 14:49] JeffMedd commented on #2313
I can confirm the same issue for me with vscode 1.51 and 1.52. Installing Node v12 solved the issue for me

[2020-12-21 22:51] JohnCarmichael3000 commented on #2290
On the Chocolately Azure Function Core Tools 3.0.3160 package page user Tyler Doerksen has helpfully noted about installing the 64-bit version in the discussion (see below). Imho, this would be even more helpful if it was in the "Description" field of the page, if anyone is reading that has modify access to it.

https://chocolatey.org/packages/azure-functions-core-tools-3#discussion
Tyler Doerksen

[2020-12-22 12:44] asears commented on #2050
Local.settings.json may (but shouldn't) include secrets or sensitive information if not using key vault references, environment variables or alternative approach.  By default this also includes the storage keys used for the function host runtime under AzureWebJobsStorage, if not using UseDevelopmentStorage=true and Azure Storage Emulator or Azurite.

This was a bad design decision IMO as sharing l

[2020-12-22 14:59] blitzmann opened #2363 "Outdated function warning [npm]"
Hello,

I'm receiving the following warning when running functions locally:

it's odd because the output from `func -- version` does not match what I have in `packages.json`, and indeed is higher than the core tools that are released on npm

packages.json:
[code]

[code]

[code]

Additionally, our Function App on Azure proper is using runtime version ~3 (but that bit of text above says that I'm ru

[2020-12-22 15:22] profatsir opened #2364 "Value cannot be null. (Parameter 'provider')"
I try to local debug the azure function, but got issue. Actually I just follow the instruction to build and tested with below link, but not work.
The instruction is here [Debug he Azure Functions Python code locally](https://docs.microsoft.com/en-us/azure/developer/python/tutorial-vs-code-serverless-python-04?tabs=powershell) , and I did not modified the code at all.
While I try to run debug in vi

[2020-12-22 17:20] blitzmann opened #2365 "Cannot connect to Service Bus locally (via emulator or on Azure) [TypeScript]"
Hi there,

We're trying to get a function working for Azure Service Bus. We want to use the emulator using the VS Code extension Azurite, so that we can develop the queue locally and then deploy. However, we cannot seem to get the function to run with the emulator OR with connection string for the cloud Service Bus.

I have a demo repo available here: https://github.com/blitzmann/azure-func-test P

[2020-12-22 17:23] nnickd commented on #2365
I am also having this issue, please help!

[2020-12-22 17:23] blitzmann commented on #2364
Unsure if it's the same issue, but we're having something similar: #2365

[2020-12-22 17:52] blitzmann commented on #2365
I think I'm coming to the realization that I'm confusing Service Bus and Queues. We were using a SB trigger, but creating queues. Apparently there is no service bus emulator for local development, if we wanted to go that route we would have to have a dev environment set up in azure

[2020-12-22 17:58] jeffputz commented on #2294
@anthonychu any ETA on when we'll see v5 supported in Functions? It's a pretty big adoption blocker, and Azure is where we run .NET.

[2020-12-22 18:55] blitzmann commented on #2365
Going to close this issue as I believe it is user error, everything is now working fine with the distinction between SB and queues :D

[2020-12-22 18:55] #2365 closed

[2020-12-22 19:44] baharedankoyuncu opened #2366 "Azure Functions test server for integration testing"
Hi 👋

_I hope I've come to the right repo._

Are there any plans to support a "Test Server" similar to the one in ASP.NET Core?
I've read quite a few posts, most which are dated, on how to glue something together which doesn't work.

I was wondering if there are any plans to support this or if it's already a feature being tracked?

[2020-12-23 02:28] profatsir commented on #2364
Actually I have two machine with same setup. One remove the extensionbundle not work, show error that same like you...but the other one work. I don't know is there any magic here.

[2020-12-23 06:47] anthonychu commented on #2294
We announced an early preview of the [.NET 5 worker](https://techcommunity.microsoft.com/t5/apps-on-azure/net-5-support-on-azure-functions/ba-p/1973055).

We’ll work on updating the functions host for .NET 6.

We’ll also look into supporting some v5 frameworks such as Entity Framework Core 5 in the v3 worker, however we can’t make any promises there.

[2020-12-23 13:19] boyvanduuren commented on #2355
I am no longer able to reproduce this, I'll close this issue.

[2020-12-23 13:19] #2355 closed

[2020-12-23 15:32] jeffputz commented on #2294
There are two things that I don't understand from that blog post. The first is that v5 has a "short" support cycle. A year seems like a long time, and it seems implied that if people weren't anxious to use the new bits, we wouldn't see support for it at all until v6.

The second thing is that, especially in this release cycle, v5 is so crazy good compatible that most projects allow us to simply up

[2020-12-27 04:38] dgvives commented on #2366
Hello  @baharedankoyuncu ,
Recently I've been able to run integration tests on Azure Functions using HostBuilder and, combined with testenvironment-docker package, now we have full integration tests running on CI/CD pipeline.
Hope this sample code helps you as a guide

[code]

[2020-12-29 17:19] stephlocke commented on #2232
I'm getting this issue with a dotnet5 function project on windows. No dependency injection or anything as functions were created with `func init` and `func new`. Deleted extension bundle contents but no joy in fixing it.

csproj
[code]

host.json
[code]

[2020-12-31 12:53] aashish004 commented on #2345
Facing the same issue when deploying on kubernetes with KEDA. I have three functions activity, orchestrator and http-starter.
Getting the same issue with both JS and Python runtimes.

`---> Microsoft.Azure.WebJobs.Script.Workers.Rpc.RpcException: Result: Failure
Exception: Error: The operation failed with an unexpected status code: 400. Details: {"Message":"One or more of the arguments submitted i

[2020-12-31 15:08] harisubramaniam1 opened #2371 "Azure function v3 with blob trigger is using deprecated WindowsAzure.Storage library"
I tried creating an Azure function v3 project with .net core 3.1 and with blob trigger using Vs2019 and it seems to refer WindowsAzure.Storage 9.3.3. Isn't that storage library deprecated?

[2021-01-03 13:14] jordanfinners commented on #2313
I just came across this with Node v14.x installed, looks like for the node worker only up to 14 is supported at the moment.
https://github.com/Azure/azure-functions-nodejs-worker/blob/v2.1.0/src/nodejsWorker.ts

My error went away when I'd upgraded to the most recent core-tools release :)

[2021-01-04 07:31] anthonychu commented on #2345
I think @cgillum and @ConnorMcMahon are the best to speak to how to best address this.

[2021-01-04 08:49] anthonychu commented on #2294
I can share a bit on the decision making and prioritization process and how we got here. Back in the spring of 2020, we surveyed some folks that included Microsoft MVPs and discussed our options for .NET 5. The main takeaways were that we should build an out of process worker for .NET 5. And 2/3 of folks expressed that they plan to stay on .NET Core 3.1 instead of upgrading to .NET 5, so we did no

[2021-01-04 10:28] baharedankoyuncu commented on #2366
Hi @dgvives,
Interesting approach, however I've no experience with docker in regards to your setup. I have tried to simply spin up a `ProcessStartInfo` using the Azure Functions Tools and pointing to my function but this isn't elegant in anyway when considering a CI/CD pipeline. I was hoping there would be something similar to the TestServer in ASP.NET Core.

[2021-01-04 14:50] jeffputz commented on #2294
I don't know if things have changed, but I recall in my MSDN community days that surveying MVP's for any reason was not reflective of what the broader world was after. :) And if 1/3 of customers were planning to move on up, at the scale that .NET operates at, that's a whole lot of people. If the mainline frameworks have revealed anything since going open source, it's that getting feedback early an

[2021-01-04 19:15] milanm commented on #1984
I got the same issue, while deploying Azure function (~250Mb zip) from the release pipeline. Some nicely formatted message would be good. Deployment just returns:

[2021-01-05 11:59] tomkerkhove opened #2374 "Provide end-to-end tests for Kubernetes features"
Provide end-to-end tests for Kubernetes features to ensure they are still working fine.

[2021-01-05 17:24] pragnagopa commented on #2144
Closing as addressed in referenced PR.

[2021-01-05 17:24] #2144 closed

[2021-01-06 04:22] dgvives commented on #2366
You may succeed adding test server and webclient to hostbuilder, however I didn't manage to so instead of running http requests in webclient I just called function procedures, and it works.

Provided sample doesn't utilize docker

[2021-01-06 21:13] fabiocav commented on #2339
Also need to move V3 to dev

[2021-01-07 00:51] maximivanov opened #2375 ""Error calling sync triggers (BadRequest)" on Linux Elastic Premium"
**App Service plan:**
Linux Elastic Premium (EP1)

**Function App name:**
`adauthfaapim-dev-function-app`

**Region:**
East US

**Expected:**
Publishing application code with Azure Functions Core Tools succeeds

**Actual:**
[code]

Running with `CLI_DEBUG=1` renders this:

[code]

Let me know if you need further details. Thanks.

[2021-01-07 10:03] rajeshr6r opened #2376 "Add Support for Ubuntu 20.10 Groovy Gorilla"
Hi,

Is there a plan to extend support for Ubuntu 20.10 . The following URL contains information . However when I attempted to add the packages and install the tools , I get an error that the package couldnt be found . . This URL is not a part of the documentation yet and I guessed it  .

https://packages.microsoft.com/config/ubuntu/20.10/packages-microsoft-prod.deb

[2021-01-07 19:08] apawast commented on #2361
@soninaren could you please take a look at this?

[2021-01-07 19:13] apawast commented on #2363
Hi @blitzmann could you please try updating this line "azure-functions-core-tools": "^2.7.3188" to ""azure-functions-core-tools": "^3.0.3160"?

[2021-01-07 19:17] apawast commented on #2364
Hi @profatsir, could you please try setting the environment variable CLI_DEBUG=1 before running and sharing the output with us?

[2021-01-07 19:23] apawast commented on #2371
@fabiocav @brettsam do either of you know about this?

[2021-01-07 19:27] apawast commented on #2375
Hi @maximivanov, what language are you using for this?

[2021-01-07 19:54] maximivanov commented on #2375
@apawast in this case it's a basic hello world Node.js application.

[2021-01-08 00:30] Francisco-Gamino opened #2377 "Update requirements.psd1 for PowerShell function apps and disable downloading the Az module by default."
Update requirements.psd1 template to looks as follows:

Scenario 1: A Functions user creates a PowerShell function app via the Core Tools. In this case, the customer has internet connection and the tooling is able to reach the PowerShell Gallery.

Note: For this scenario, we connect to the PowerShellGallery.com and get the latest major version of the `Az` module that is currently supported. After

[2021-01-08 12:18] dgvives commented on #2364
@profatsir I tried to reproduce your error and haven't managed to. What kind of azure function did you create?

[code]

[2021-01-08 16:29] paolosalvatori commented on #2074
I'm having the same issue when working on WSL2. I tried the tutorial at https://docs.microsoft.com/en-us/azure/azure-functions/create-first-function-vs-code-python and when I start debugging with F5, I get the following error.

![image](https://user-images.githubusercontent.com/1658419/104036509-c7627580-51d3-11eb-9367-9efeb613e727.png)

[2021-01-08 18:39] BillHally opened #2379 "Will the Nuget package containing the Core Tools as a .NET tool be published on nuget.org?"
Work was recently done in #2071 to make the core tools available as a .NET tool, but it doesn't seem to be published on Nuget.

Is there a plan to make the tool package available via nuget.org or perhaps a different nuget package feed?

[2021-01-08 21:14] ankitkumarr opened #2380 "Fix issue with missing "workers" directory"
Recently, we updated how we build the minified core tools projects ([here](https://github.com/Azure/azure-functions-core-tools/commit/b4e66eb3370e6217d76290ad38726e7a3a380857)). Previously, we would build with all workers and then empty the "workers" directory. The change linked above changed that to not add workers for minified runtimes, which seems the right way to do it.

However, this broke a

[2021-01-08 22:39] anthonychu commented on #2074
\+ @stefanushinardi @vrdmr @Hazhzeng for assistance.

[2021-01-09 15:53] maximivanov commented on #2375
I managed to make it work but I would appreciate some clarification on the behaviour I see.

By reverse-engineering another Function App that is working correctly in a Linux EP plan, I figured 2 application settings had to be added for the sync triggers task to succeed:

[code]

Whenever I remove any of these from the app configuration, I get the same error during `func publish`.

I get how `FUNCT

[2021-01-11 22:28] Hazhzeng commented on #2074
Hi @JonasBergholz and @paolosalvatori, thanks for raising this issue.
Could you check if the function app can be successfully started by the function core tools.
Installation:
- `npm install -g azure-functions-core-tools@3`
Run with Core Tools:
- `cd <your function app directory>`
- `func host start --verbose`

We want to distinguish if this is a VSCode bug or a Core Tools bug.

[2021-01-12 02:11] profatsir commented on #2364
Hi @apawast , finally I try to Explicitly install extensions as the work around, thanks for your info. https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-register

[2021-01-12 02:11] profatsir commented on #2364
Hi @dgvives , finally I try to Explicitly install extensions as the work around, thanks for your info. https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-register

[2021-01-12 02:11] profatsir commented on #2364
finally I try to Explicitly install extensions as the work around, thanks for your info. https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-register

[2021-01-12 02:11] #2364 closed

[2021-01-12 19:25] JonasBergholz commented on #2074
Hi,

I didn't work with vscode, just the bot framework composer. I deleted the
bot and tool some time ago and moved on to other topics, so I can just help
you with what I still have in my memory and what I have written here. But
thank you all for the help and suggestions.

[2021-01-12 20:57] csharpfritz commented on #2380
If this is effected by the way the dotnet tools are packaged and delivered as a NuGet package, why not just default `FUNCTIONS_WORKER_RUNTIME` in the .NET runtime to `dotnet`?

If its not set in an existing `local.settings.json` file then it gets the appropriate default for .NET

[2021-01-12 21:30] fabiocav commented on #2371
The latest major version of the storage extensions, 4.x, uses the Storage SDK 11.x https://www.nuget.org/packages/Microsoft.Azure.WebJobs.Extensions.Storage/4.0.3

You can just update your storage reference to ensure you're on the latest version. We'll follow up to ensure the template is updated as well.

[2021-01-13 07:31] takuyateraoka opened #2384 "AzureFunctionsTools has been updated to 3.17.0, and IHttpClientFactory is no longer accepted by the constructor."
We were receiving an IHttpClientFactory in the constructor to use Named clients.
When AzureFunctionsTools was updated to 3.17.0,
we started to receive the following message: Microsoft.Extensions.DependencyInjection.Abstractions: Unable to resolve service for type 'System.Net.Http.IHttpClientFactory'.
This error only occurs run locally.

[code]
[code]

[2021-01-13 13:46] chris31389 commented on #1409
I had this issue, and just clicked continue everytime an exception was being highlighted, eventually it got to the point where the function was running, even though these exceptions were happening.

I had "Common Language Runtime Exceptions" ticked in my Exception Settings.  After unticking that, the exceptions were not caught and the function ran fine.

[2021-01-13 17:14] blitzmann commented on #2363
Thanks @apawast! That works!

[2021-01-13 17:14] #2363 closed

[2021-01-14 09:01] ddobric commented on #2304
Is there any update on this?
As long Functions do not support net5, we cannot reference any other project that is built for net5. It would be great to align Azure Functions in the future to a new version of .net.
In real life, a typical project that implements intellectual property is not implemented in the function project. If it would be, we would simply now downgrade the function project to 3.1

[2021-01-14 09:05] sebader commented on #2304
@ddobric .NET 5 support for Functions is in preview now https://techcommunity.microsoft.com/t5/apps-on-azure/net-5-support-on-azure-functions/ba-p/1973055

[2021-01-14 14:42] fvalencia12 commented on #2304
This is a very nice change and much needed update.  Kudos to the team for realizing this is an issue and addressing it!!!!!

Fabian Valencia
Information Technology
William Blair
The William Blair Building | 150 North Riverside Plaza, Chicago, Illinois 60606
Direct: +1-312-364-5132
fvalencia@williamblair.com<mailto:fvalencia@williamblair.com> | williamblair.com<http://www.williamblair.com/>
Faceboo

[2021-01-14 15:44] jeffhollan opened #2385 "Prompt to create dockerfile when one doesn't exist for docker build"
If you run `func kubernetes deploy` in a directory you haven't yet generated a docker file, you get this error:

output:

The fix is simple enough, just run `func init --docker-only` and you have a dockerfile. However would be great if this error either:

1. Suggested running `func init --docker-only` first to generate a Dockerfile
2. Actually prompted if you wanted to generate a Dockerfile first,

[2021-01-14 19:11] apawast commented on #2384
@kashimiz could you please take a look at this?

[2021-01-14 21:47] kashimiz commented on #2379
Hi Bill,

Sharp eye! Yes, we'll be publishing the .NET core tool version of Core Tools on nuget.org, most likely in the next release or two.

[2021-01-15 19:03] kashimiz opened #2388 "Build: Gate publish/pack/sign on successful testing"
Tests should run _before_ publish/pack/sign steps in the build process.

If there are test failures, the process should not continue.

Part of #2330.

[2021-01-15 19:09] kashimiz opened #2389 "Build: Platform targets run on matching DevOps platformed agents"
In Azure DevOps, a Linux target build should run on a Linux build agent, and so on.

Part of #2330

[2021-01-15 19:10] kashimiz opened #2390 "Build: Platform-agnostic tests run on Windows agent only"
Part of #2330

[2021-01-15 19:11] kashimiz opened #2391 "Build: Platform-specific tests run on specific platform agents"
Ex. Linux agent runs Linux tests

Part of #2330

[2021-01-15 19:11] kashimiz opened #2392 "Build: Handle pack notation"
As used by azure-functions-host.

Part of #2330

[2021-01-17 01:56] dave-read commented on #2074
I have same issue.  Starting via the command line with ```func host start --verbose``` works fine.

From VS Code I can Debug, but "Run Without Debugging":
- pops up the dialog with message "Invalid message: "noDebug" is not supported for "attach" and options "Cancel" "Open launch.json".
- console log has:
[2021-01-17T01:53:11.085Z] Host lock lease acquired by instance ID '000000000000000000000000D

[2021-01-17 09:56] SkyFlyHH commented on #2350
We are experiencing the same problem.

V3 Azure Function using .NetCore 3.1 and EFCore 3.1.8. -> works nice and smooth.
update EFCore to 5.0.0. - 5.0.2.  ->

Method not found: 'Microsoft.Extensions.DependencyInjection.IServiceCollection Microsoft.Azure.Functions.Extensions.DependencyInjection.IFunctionsHostBuilder.get_Services()'.
Value cannot be null. (Parameter 'provider')

when executed locally

[2021-01-17 16:48] Valansch opened #2394 "Can't start function host for debugging python function on m1"
**Whats the issue?**
When trying to run:
`>func host start`
i receive:
`ModuleNotFoundError: No module named '_ctypes'`

<details>
  <summary>Full error</summary>

[code]
</details>

**How to reproduce**
[code]

**System**

[code]
[code]
[code]

**Additional info**
Curiously when trying to run the function from within vscode I get a different, but similar error
`ModuleNotFoundError: No module name

[2021-01-18 04:17] anthonychu commented on #2394
@Hazhzeng @vrdmr can you help? Thanks.

[2021-01-19 08:32] codermrrob commented on #2050
For me was because of nested configuration setting

[2021-01-19 18:43] Francisco-Gamino commented on #2084
This issue has been fixed.

[2021-01-19 18:43] #2084 closed

[2021-01-20 02:00] #2371 closed

[2021-01-20 13:42] SRIVASTAVAABHISHEKGAURAV commented on #2294
Facing the below issue after upgrading from .NET 3.1 to .NET 5. Any workaround suggestions ?

Could not load type 'System.Environment' from assembly 'System.Runtime, Version=4.2.2.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a'.

[2021-01-21 07:21] luismanez commented on #2304
Just to confirm about the .NET 5 worker. Here (https://github.com/Azure/azure-functions-dotnet-worker-preview) I can read:
"_One important difference with .NET 5 functions is that "rich bindings", such as Durable Functions or binding to SDK types like Cosmos DB client, are not supported. Use strings and C# objects (POCOs). For HTTP, use HttpRequestData and HttpResponseData objects._"

@anthonychu

[2021-01-21 08:27] sebader commented on #2304
from [this thread](https://github.com/Azure/azure-functions-dotnet-worker-preview/issues/9)

[2021-01-21 08:36] luismanez commented on #2304
Thanks for the info @sebader ... sad to see that, as then .net 5 is not an option for me, and .NET 6 is still far. It also makes not possible to use the great new EF Core 5 in Functions v3 (that requires Durable functions)... shame.
Thanks again.

[2021-01-21 18:41] apawast commented on #2394
@Valansch thank you for reporting this issue. We are working to reproduce this issue. In the meantime, we have not yet validated support on m1, so we will need to go through that process before we can assure compatibility.

[2021-01-21 19:28] Valansch commented on #2394
Thank you for your reply. I know the M1 is not officially supported. But If you find a workaround in the meantime I would be grateful if you could share it here.

[2021-01-21 19:32] Valansch commented on #2394
One piece of information that I left out of the original issue:
When initially setting up the azure functions core tool I could actually run and debug the function.
I do not know what changed to cause it to break and after investigating the issue I do not understand why it worked in the first place...

[2021-01-21 21:59] JaganK2Commit opened #2396 "Vulnerability in grpc package dependency"
A security vulnerability is recorded in the package grpc fore before 1.24.4 versions, and the latest version of azure-functions-core-tools (2.7.3188) is referencing 1.24.2

https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2020-7768

I am using node package and wondering if there is any workaround to address this.

[2021-01-22 00:39] jimbobbennett opened #2397 "Can't run Python function app using Azure IoT SDK on Apple M1"
When running an Azure function app on an Apple M1 that uses the Azure Python IoT SDK, you get errors:

[code]

See this repo for reproduction steps and code to show the issue:

https://github.com/jimbobbennett/iot-func-error

[2021-01-22 00:40] jimbobbennett commented on #2394
I'm having similar problems - open #2397 for my issue. In may case adding the Azure IoT Python SDK caused the issue.

[2021-01-22 01:43] vrdmr commented on #2394
Hi @Valansch,

Looks like gRPC doesn't have an _M1_ wheel yet (required for python runtime to communicate with the host) - https://pypi.org/project/grpcio/#files. This is why this won't work correctly. I don't know if `pip install grpcio` builds it correctly from the source. We are trying that from our end.

This is a surprise for me.

I do not know what changed to cause it to break and after inve

[2021-01-22 08:01] SRIVASTAVAABHISHEKGAURAV commented on #2304
Is there any update on below issue Functions runtime error:
<MYAZFUNCNAME>: Could not load file or assembly 'Microsoft.Extensions.Logging.Abstractions, Version=5.0.0.0, Culture=neutral, PublicKeyToken=adb9793829ddae60'. The system cannot find the file specified.

<img width="776" alt="AZ Func RunTime Error" src="https://user-images.githubusercontent.com/22419505/105463413-073a5a00-5cb6-11eb-9b66-f

[2021-01-22 08:05] SRIVASTAVAABHISHEKGAURAV commented on #2304
Hi @TissonMathew
Could you please elaborate/ give more details about the resolution. Thanks in advance

[2021-01-22 08:38] evangeloper commented on #2304
@anthonychu Thanks for providing this workaround. As I am sure you understand the shortcomings discussed in this thread make .NET 5 somewhat unusable for a lot people, companies and projects. Azure Functions is such a key service for many.
When this workaround will be fully integrated into .NET 5? We need an approximate date to plan which way we go.
Can you please provide that?
Thanks!

[2021-01-22 08:43] luismanez commented on #2304
@evangeloper also note that even with the worker for .NET 5, it won´t support Durable functions until .NET 6 (scheduled for November 2021), so double check you´re not using Durable functions. For me is not an option, so have to go with .net 3.1 :(

[2021-01-22 09:11] evangeloper commented on #2304
@luismanez for this particular project I won't be using durable functions. I want to take advantage of the new EF Core 5 features, but this is not an option as of now without the workaround.
I just wish to have a GA date, so I know whether to go with .NET Core 3.1 or .NET 5.

[2021-01-22 11:53] qsdfplkj opened #2398 "How to configure ColoredConsoleLogger in host.json?"
Currently the ColoredConsoleLoggerProvider uses the default log configuration in host.json but I would like to configure it.

In order to do so I think ColoredConsoleLoggerProvider should have ProviderAlias.

How to configure the ColoredConsoleLoggerProvider?

[2021-01-22 12:09] Fjomp08 opened #2399 "Azure Functions Tools gives runtime error using Application Insights 2.16"
Got a very simple function to illustrate the problem:
[code]
Running that function gives this error:
**Executed 'Function1' (Failed, Id=5d9ccc3f-2e1d-4f0a-b235-6384b86ae777, Duration=4258ms)
System.Private.CoreLib: Exception while executing function: Function1. TestApp1: Method not found: 'Microsoft.ApplicationInsights.Extensibility.IOperationHolder`1<!!0> Microsoft.ApplicationInsights.TelemetryCl

[2021-01-23 08:12] Valansch commented on #2394
You are right `pip install grpci` does not build:

[code]

Installing CoreTools again does not change anything for me:

[code]

However I found a workaround here:
https://github.com/apple/tensorflow_macos/issues/48

Using the python 3.8.2 shipped from xcode allows me to run CoreTools again.
I have been using python from pyenv before, that probably broke it.

This workaround works for me. If you ne

[2021-01-23 22:25] xsoheilalizadeh opened #2400 "How to set queueLength to KEDA ScaledObject?"
How to set `queueLength` for a KEDA trigger through `func` CLI or anything like host.json or local.settings.json?

PS. #1293 didn't solve my problem.

[2021-01-25 10:36] TobiStr commented on #823
Same problem here in 2021.

[2021-01-25 10:50] SRIVASTAVAABHISHEKGAURAV commented on #2304
downgraded all the 5.0.0 libraries such as Microsoft.EntityFrameworkCore.SqlServer, Microsoft.EntityFrameworkCore  and Microsoft.EntityFrameworkCore.SqlServer.NetTopologySuitefrom 5.0 to 3.1.x. **This resolved the issue for now** .

[2021-01-26 11:53] baharedankoyuncu commented on #2366
Thanks, I see and understand but I was hoping there would be something "official" and user friendly.

@apawast is there any input from MS on this?

[2021-01-26 17:45] apawast opened #2401 "Note needed about Enabling Access-Control-Allow-Credentials from CLI"
Copied from CLI repo [#16478](https://github.com/Azure/azure-cli/issues/16478).

[2021-01-26 18:45] apawast commented on #2398
Hi @qsdfplkj, could you describe what scenario you are trying with this?

[2021-01-26 18:47] apawast commented on #2399
@brettsam could you please take a look at this?

[2021-01-26 18:49] qsdfplkj commented on #2398
Azure function tools uses this logger for output. It uses this loggerprovider but with the default logging configuration. I would have expected it to use "Console" but that didn't owrk. I want to have a different default logging configuration when debugging/running it locally. Also because there are more loggers involved that shouldn't inherited what I want the function tools to log.

[2021-01-26 18:51] apawast commented on #2400
@xsoheilalizadeh are you saying you already tried changing it in the functions.json and it didn't work?

Adding @ahmelsayed if that is the case.

[2021-01-26 19:17] apawast opened #2402 "[CLI] ARR Affinity and plan descruction"
Copied from CLI repo [#16502](https://github.com/Azure/azure-cli/issues/16502).

[2021-01-26 21:55] josiahhooten commented on #2350
I've got the same issue. EFCORE 3.x works upgrade to 5.x and I get:

`Method not found: 'Microsoft.Extensions.Configuration.IConfigurationBuilder Microsoft.Extensions.Configuration.EnvironmentVariablesExtensions.AddEnvironmentVariables(Microsoft.Extensions.Configuration.IConfigurationBuilder)'.
Value cannot be null. (Parameter 'provider')`

[2021-01-27 01:03] jmatthiesen commented on #2303
Hey there – I work on the Visual Studio for Mac team. We've been [tracking an issue with debugging](https://developercommunity.visualstudio.com/content/problem/1266662/debugging-on-apples-m1-platform-fails.html) .NET Core applications on the M1 processor. There's a bug fix coming with the 11.2 release of Big Sur, which is [in beta now](https://beta.apple.com/sp/betaprogram/), and with that it fixe

[2021-01-27 03:32] prqgdbc opened #2404 "KEDA V2 Helper Not Handling For Default Connection Variable Names"
Currently the KEDA V2 helper will not use the supported default connection variable names of AzureWebJobsStorage in the case of Blob or Storage queue triggers, or AzureWebJobsServiceBus in the case of Service Bus triggers.

These defaults are referenced here:
Service Bus: https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-service-bus-trigger?tabs=csharp#configuration

Blob S

[2021-01-27 18:44] tomkerkhove opened #2407 "func kubernetes deploy should deploy to the current namespace, not the default"
`func kubernetes deploy` should deploy to the current namespace, not the default.

## Current behavior

Currently, `func kubernetes deploy` always specifies `namespace: default`.

## Expected behavior

I would expect it to omit the namespace since it was not specified so that it uses the default namespace from `KUBECONFIG` instead.

## Other

I know `--namespace` allows you to specify a namespace

[2021-01-27 18:47] tomkerkhove opened #2408 "Provide unit tests for KEDA & PopulateMetadataDictionary"
Provide unit tests for KEDA & PopulateMetadataDictionary to ensure triggers are configured correctly.

[2021-01-27 18:48] tomkerkhove commented on #2404
Sorry about that :/

[2021-01-27 19:29] prqgdbc commented on #2404
No problem at all! The defaults are a little weirdly documented, and not every trigger seems to have one. Very easy to miss.

[2021-01-27 21:39] unibeck commented on #1489
Having a feature like @brandonh-msft mentioned would be much appreciated. Any update on if/when we could expect something like that?

[2021-01-28 07:14] rajeshr6r commented on #2376
Hello , thought of circling back on this to see if there's any hope for support for 20.10 ?

[2021-01-28 16:17] mygithubkas opened #2410 "Attaching a debugger to Azure Function app running in a container"
Hi guys,

I'm totally stuck and can't figure this out.
I have the standard boiler-plate timer trigger function written in Python created as followed

 **func init -docker**

Back in the editor I add the Docker compose files to my workspace.
Everything works fine including the normal F5 debug and I can step through code - All good.

When I run the container, I can't attach a debugger.

My steps are

[2021-01-28 16:42] pragnagopa commented on #2408
cc @TsuyoshiUshio

Assigning to next sprint to prioritize.

[2021-01-28 18:50] apawast commented on #2404
@tomkerkhove are there any further action items required for this?

[2021-01-28 18:52] apawast commented on #2407
@ahmelsayed can you please take a look at this?

[2021-01-28 18:54] apawast commented on #2410
@Hazhzeng can you please take a look at this?

[2021-01-28 19:13] tomkerkhove commented on #2404
The PR looks good to me, afaik

[2021-01-28 19:18] mygithubkas commented on #2410
I can provide further details to help if you require.

Thank you for your help

[2021-01-28 21:25] fabiocav commented on #2399
@brettsam double checking, but this looks like a breaking change in 2.16

[2021-01-29 01:53] SeanFeldman opened #2413 "Loading settings from User Secrets doesn't work"
User Secrets are supposed to be working but they don't.

When trying to move settings from `local.settings.json` to User Secrets, the following error is happening:

![image](https://user-images.githubusercontent.com/1309622/106218963-b46d1080-6195-11eb-8269-dbbad666a918.png)

<code>
Azure Functions Core Tools
Core Tools Version:       3.0.3233 Commit hash: d1772f733802122a326fa696dd4c086292ec0171

[2021-01-29 02:01] anthonychu commented on #2413
Transferring to Core Tools repo.

Looks like the issue occurs when the same key is in different sources. In this case, local.settings.json contains an empty `AzureWebJobsStorage` setting, and user secrets contains the correct setting. Local settings is union'd with environment variables and user secrets [here](https://github.com/Azure/azure-functions-core-tools/blob/54734dee1be39733c446e92c2a6cdfc

[2021-01-29 09:19] SeanFeldman commented on #2413
I've just tried to move _all_ settings from `local.settings.json` to user secrets and remove the file altogether but still had the following error:

<code>
Missing value for AzureWebJobsStorage in local.settings.json. This is required for all triggers other than httptrigger, kafkatrigger. You can run 'func azure functionapp fetch-app-settings <functionAppName>' or specify a connection string in lo

[2021-01-29 13:57] kjartanvalur commented on #2294
Same here
Could not load type 'System.Environment' from assembly 'System.Runtime, Version=4.2.2.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a'.

[2021-01-29 16:36] anthonychu commented on #2413
Can you check your csproj to see if there's a user secret id in there? (or run `dotnet user-secrets list`)

This appears to be a message that is shown when no user secrets are detected. /cc @gzuber

[2021-01-29 19:04] SeanFeldman commented on #2413
[code]

[2021-01-30 00:49] SeanFeldman commented on #2413
@anthonychu, want to share your spike so that I can compare and contrast?

[2021-01-30 03:47] anthonychu commented on #2413
Do you remember how did you added it?

Mine looks like:

[code]

I believe Core Tools uses custom logic to get the user secret id from the csproj, and it doesn't know how to resolve that expression. You'll probably need to switch it to a GUID.

[2021-01-30 03:57] SeanFeldman commented on #2413
I'll try that. Saying that, `$(MSBuildProjectName)` is an MSBuild variable every single project type recognizes. It will be really disappointing to find out Functions is "unique".

[2021-01-30 19:03] mygithubkas opened #2416 "Remote Debugging an 'Azure Functions timer trigger'"
Hello,
I hope somebody out there can help.

I have a Dev environment which is working perfectly, except for one small issue.
My script runs just once and then exits the container.
I was hoping it would run indefinitely - since it is a timer trigger.

What am I doing wrong?

**Docker-Compose.yml:**
[code]

**Function.json:**
[code]

[2021-02-01 19:05] dcat52 commented on #2376
@rajeshr6r I followed the instructions under **linux** on this page https://www.npmjs.com/package/azure-functions-core-tools

They worked for me with Kubuntu 20.10
So fart I have only tested installing to work (not using it) but its a start

[2021-02-01 20:47] Francisco-Gamino commented on #2377
This issue has been fixed.

[2021-02-01 20:47] #2377 closed

[2021-02-01 23:44] seankearney commented on #2413
@SeanFeldman and @anthonychu  -- Using `$(MSBuildProjectName)` as a variable in the `.csproj` is an issue here. If we replace our variable with a static Guid value then secrets are loaded.

Digging into why the variable doesn't work...

If we `AddUserSecrets(assembly)` in Startup, like we would normally do, then we actually have two `JsonConfigurationProvider` for `secrets.json` in our configurati

[2021-02-02 01:42] SeanFeldman commented on #2413
Thank you for sharing the finding, @seankearney.

@anthonychu, it looks like Functions is doing something wrong here.

[2021-02-02 05:36] rajeshr6r commented on #2376
Hello Davis,
Thanks for this .Will check this and get back to  you .

[2021-02-02 06:58] anthonychu commented on #2413
We'll investigate and prioritize if it's not a difficult fix. Please use a GUID for now.

[2021-02-02 17:00] savas-guven opened #2417 "How to enable .NET Core HTTP logging under ubuntu"
Hi All,

I suspect I have connectivity issues from the .NET Core parts of the core tools and it would seem the CLI_DEBUG flag doesn't enable much in the way of console outputs in the area of SCM connectivity (request/responses).

Is there any blog, documentation that shows how to enable the HTTP tracing/logs from specifically the places such as: https://github.com/Azure/azure-functions-core-tools/

[2021-02-02 17:11] savas-guven commented on #2417
Just to give some additional background: The reason I suspect connectivity issues are as following:
- We have an Azure function that's on a Azure App Service Plan
- Its Private Endpointed to a VNET
- Which has only access to an on-prem network through ExpressRoute
so all the SCM and normal web endpoints are reachable through a private link / private endpoint. (+ a Private DNS Zone to resolve this)

[2021-02-02 18:37] apawast commented on #2404
Closed by PR #2405

[2021-02-02 18:37] #2404 closed

[2021-02-02 18:50] anthonychu commented on #2416
@mygithubkas Can you explain what you are trying to do?

Do you want to run a local dev environment in a container? If you are, are you using VS Code to attach the debugger?

Or are you building a production container for deployment somewhere, and you want to run the container locally?

[2021-02-02 18:51] anthonychu commented on #2410
Closing in favor of #2416

[2021-02-02 18:51] #2410 closed

[2021-02-02 19:13] anthonychu commented on #2413
Core Tools doesn't have access to the dotnet toolchain needed to resolve the secrets automatically, so we had to write custom logic to locate the csproj file and extract the secrets id. This means it's not trivial for us to resolve those variables.

That said, the initial issue is worth investigating, where an empty `AzureWebJobsStorage` in local.settings.json hides the user secrets value. Perhaps

[2021-02-02 19:50] mygithubkas commented on #2416
This is finally working, so please close this.

We managed to debug the function app container via Remote extensions, by opening the folder in a container, ensuring that extensions were installed in that container and then selecting 'Python: Current File' to run and hit a breakpoint.

[2021-02-02 23:00] #2400 closed

[2021-02-03 06:18] Y-Sindo opened #2565 "How to use ScriptHost externally for test?"
#### Is your question related to a specific version? If so, please specify:

#### What language does your question apply to? (e.g. C#, JavaScript, Java, All)
C# ?

#### Question
I am a Azure Function extensions writer. I want to test my extension with functions written in different languages. It seems that to use `ScriptHost` is the most elegant way. So how can I reference the Microsoft.Azure.WebJ

[2021-02-03 20:12] soninaren opened #2419 "Adding app setting for slots via azure cli is not handled correctly"
Updating an existing setting with slotSetting set to true causes duplcation in slotConfigNames resource. Whe set to false is ignored from update process. This causes the resources to go out of sync. The complete behavior is documented below.

### Repro steps

1. Updating an existing setting with true
    1. When slotSetting is set to false, The setting is not appended to the slot config names

[2021-02-03 22:00] OpusKrokus13 commented on #2294
@anthonychu - So why not carry forward what was in 3.1 until you have the next version ready?  Support for functions is pretty essential to adoption.

[2021-02-03 23:23] ahmelsayed opened #2420 "Create E2E tests for kubernetes scenarios"

[2021-02-04 04:27] PdroCorrea commented on #1732
Sad that this felt through the cracks somewhere there, just spent the last 6h investigating this until your StackOverflow question @TroyWitthoeft , thank you very much!

[2021-02-04 15:11] cveld commented on #2304
Can you explain why the combination of netcoreapp3.1 and Microsoft.Extensions.Logging.Abstractions 5.0 does not seem to work? Microsoft.Extensions.Logging.Abstractions 5.0 claims to be compatible with downstream .NET Standard 2.0.

[2021-02-04 17:25] akousmata commented on #1872
Still an issue for me using VS 2019 16.8.3.  Workarounds mentioned in this need to be updated as well to work with local.settings.json and/or host.json.  In a newer version of an Functions project, there is no launchSettings.json.  The SO post "works" but is incredibly cumbersome to have to do that every time I want to debug.

[2021-02-04 17:57] mygithubkas opened #2421 "Value cannot be null. Parameter 'connectionString' (though we set AzureWebJobsStorage)"
We have a DevOps pipeline to deploy an Azure Function in a container.
The build is successful but the container reports the error shown above.

The container is actually located under Home/Container Instances.
Should Function App containers be at this location ?
If not, this might explain why the container failed to see the AzureWebJobsStorage setting in the Function App.

Perhaps the 'name' shoul

[2021-02-04 18:04] mygithubkas opened #2422 "Azure Functions runtime is unreachable"
I see this error when I go to
My Function App > Functions

And there are no functions listed for this containerised function app.

Any ideas what is behind this ?

[2021-02-04 18:08] mygithubkas opened #2423 "Sync Web Apps Function Triggers Encountered an error (ServiceUnavailable) from host runtime."
This message appears in the Activity Log for the Function App when we deploy (through DevOps).

Anybody know what causes this ?

Cheers

[2021-02-04 18:16] balag0 commented on #2422
Are you using your custom image or one of the published function images? If it is a custom image can you check if you have the following appsetting
WEBSITES_ENABLE_APP_SERVICE_STORAGE = false

[2021-02-04 18:19] mygithubkas commented on #2422
I have WEBSITES_ENABLE_APP_SERVICE_STORAGE = false.

Is that correct for a custom image ?

[2021-02-04 18:21] balag0 commented on #2422
Yes. Correct. Can you share the appname
You can use https://github.com/Azure/azure-functions-host/wiki/Sharing-Your-Function-App-name-privately if required.

[2021-02-04 18:29] mygithubkas commented on #2422
sure: https://dockerfunc.azurewebsites.net/

[2021-02-04 18:37] apawast commented on #2421
@mygithubkas could you please share your stack and repro steps with us?

[2021-02-04 18:39] apawast commented on #2423
@mygithubkas is this for the same app you are working on in #2422?

[2021-02-04 18:40] anthonychu commented on #2416
Great. Was going to recommend using the remote extension. Glad it's working!

[2021-02-04 18:40] #2416 closed

[2021-02-04 18:43] mygithubkas commented on #2423
Yes it is. Thank you

[2021-02-04 18:47] mygithubkas commented on #2421
sure:

[code]

[2021-02-04 18:55] balag0 commented on #2422
Is the container starting up successfully locally? I see the following error from container logs
standard_init_linux.go:211: exec user process caused "exec format error"

[2021-02-04 18:59] mygithubkas commented on #2422
Locally the container runs fine and the func host starts the timer trigger.
Locally it runs with the Storage Emulator

[2021-02-04 19:04] balag0 commented on #2422
Thanks. This thread lists some of the reasons for this error
https://stackoverflow.com/questions/42494853/standard-init-linux-go178-exec-user-process-caused-exec-format-error

If none of those apply, would you be able to provide a minimal repro docker file and the commands you are using to build the image to investigate further.

[2021-02-04 19:17] andrejpk opened #2424 "Use a Python virtual env (venv) of a parent folder?"
I'd like to use a slightly different structure than the [standard Python folder structure for functions](https://docs.microsoft.com/en-us/azure/azure-functions/functions-reference-python#folder-structure).

[code]

The difference here is that the functions code is in a /src folder, a folder deeper than the .venv. This works fine except in VSCode when I'm testing, `func host start` doesn't find the

[2021-02-05 15:37] sivakumar715 opened #2426 "Adding "AzureWebJobs" prefix to the queue connection app setting after azure function deploy"
The azure function is working in local but its failed in azure with the below error. Deployed azure function (v3) in kubernett stack and managed the connection string app settings in secrets-store via keyvault.

**Error:**
The 'TestQueueTrigger' function is in error: Microsoft.Azure.WebJobs.Host: Error indexing method 'TestQueueTrigger'.
Microsoft.Azure.WebJobs.Extensions.Storage: Storage account

[2021-02-06 12:34] mygithubkas commented on #2422
this fixed it:

az acr update -n coinbase --admin-enabled true

[2021-02-06 12:34] #2422 closed

[2021-02-06 17:37] mohsinonxrm commented on #2180
@hajekj , you can build the core tools/CLI yourself for arm or arm64.

In the build.sh script, replace linux-x64 with win10-arm (for 32-bit) or win10-arm64 (for 64-bit)
https://github.com/Azure/azure-functions-core-tools/blob/v3.x/build.sh

If you have the SDK installed, you can also run dotnet publish yourself on the device itself, rather than trying to cross-compile.

I tried the above for Raspb

[2021-02-07 14:22] briglx opened #2430 "Exceeded language worker restart retry count for runtime:python."
Running `func host start` from command line produces a lot of logs on the console with this error ` Exceeded language worker restart retry count for runtime:python.`

func version: 3.0.3233
python version: Python 3.7.1

Additional Logs:

[code]

[2021-02-07 14:40] phil-w commented on #2294
Has anyone figured out a work-around for this?

I tried working with my Function App as a separate "project", and down grading that to netcoreapp3.1 in the .csproj file.
It  builds for netcoreapp3.1, and there's no v5 stuff I can see in it, but it still fails with this precise error.

The "dog ate my homework" stuff isn't helping: does anyone know how to get past this problem, precisely?

[2021-02-07 18:14] joelvarty opened #2431 "Can't run nodejs Azure Functions on MacOs with M1"
Trying to get an azure function project running on an M1 Macbook Pro.

I think the main issue is this - any ideas for a workaround?

[code]

Full command output below:

[code]

[2021-02-07 23:44] Carl-Hugo commented on #2294
For me, functions app works with 3.1. Look at the libraries that you loaded and make sure they don't have >3.1 dependencies.

[2021-02-08 07:17] balag0 commented on #2430
You probably have an environment variable named CONTAINER_NAME which makes the functions runtime think it is not running on dev machine. Could you please check?

[2021-02-08 18:57] briglx commented on #2430
Yes, there is an environment variable called CONTAINER_NAME. Removing fixed the issue

[2021-02-08 19:21] balag0 commented on #2430
Great. Thanks for confirming.

[2021-02-08 19:21] #2430 closed

[2021-02-09 00:59] anthonychu opened #2432 "Installers should check if other versions are installed"
With multiple installers per platform (on Windows, we have MSI, npm, choco, dotnet tool), it's quite easy for customers to install Core Tools with one installer, then forget how they installed it and might end up using a separate installer to update Core Tools. This leads to confusion as a newly installed version of Core Tools might not be the one being used because another version is earlier in t

[2021-02-09 01:00] anthonychu opened #2433 "Detect if more than one version of Core Tools is installed"
With multiple installers per platform (on Windows, we have MSI, npm, choco, dotnet tool), it's quite easy for customers to install Core Tools with one installer, then forget how they installed it and might end up using a separate installer to update Core Tools. This leads to confusion as a newly installed version of Core Tools might not be the one being used because another version is earlier in t