[2019-10-28 22:23] jeffhollan commented on #1612
I'd say it's a low P1.  We should definitely get to it this calendar year, ideally in November, but not something that needs to be "drop everything."  Hopefully that helps some.  Happy to give my 2c on the items you would consider dropping if I think it's higher or lower.  As long as we get in during Nov I think it's ok

[2019-10-29 03:15] #1534 closed

[2019-10-29 13:27] t-l-k commented on #1630
Sure, we're experiencing a multitude of issues of the following flavour:

https://github.com/Azure/azure-functions-host/issues/4914 <-- my original issue, with a repro
https://github.com/Azure/azure-functions-host/issues/5074
https://github.com/Azure/azure-functions-host/issues/5034
https://github.com/Azure/azure-functions-host/issues/5060 <-- very concerning to me
https://github.com/Azure/azure-f

[2019-10-29 13:58] fabiocav commented on #1630
@t-l-k  apologies for the delayed response on that issue. I’ve been unavailable for the past few days and unable to answer. The summary above is really helpful. Availability is still somewhat limited but I just wanted to provide an update. I’ll comment there ASAP.

Can you confirm once you have the ability to test on latest?

[2019-10-30 16:57] ahmelsayed commented on #1629
@ankitkumarr  we could validate the storage connection string defined in the app on publish.

[2019-10-31 18:13] #1625 closed

[2019-10-31 18:13] ahmedelnably commented on #1628
@soninaren can you please help here?

[2019-10-31 18:24] soninaren commented on #1628
We do have v3-preview out for Visual Studio. Please refer to `Creating with Visual Studio 2019` section of the documentation below. https://dev.to/azure/develop-azure-functions-using-net-core-3-0-gcm. New function app projects from Visual studio 16.4 Preview 3 should automatically target netcore30. For versions older than Visual Studio 16.4 Preview 3 you can simple change the target platform to ne

[2019-10-31 18:50] mlazowik commented on #1620
Related: Azure/azure-functions-python-worker#560

[2019-10-31 19:59] mlazowik commented on #1620
Currently you can't set PATH at all.

![Zrzut ekranu 2019-10-31 o 20 58 16](https://user-images.githubusercontent.com/1978721/67981613-5283cb00-fc21-11e9-96a9-cf5445e1aaba.png)

[2019-11-01 16:26] t-l-k commented on #1630
@ankitkumarr

I'm confused, I can see the core tools release on this repo for `v2.7.1812`, targetting functions runtime  `v2.0.12850`, but the package is not yet updated on NPM? I normally use NPM to manage this tool, is it not pushed automatically to NPM? _can it be pushed?_

[2019-11-01 22:45] horihiro commented on #1620
I cannot find `ld` in container image `mcr.microsoft.com/azure-functions/python` as mlazowik pointed out in Azure/azure-functions-python-worker#560 .

[code]

Do you have a plan to add `ld` to the container image?

Best Regards,

[2019-11-03 17:50] fabiocav opened #1642 "I tried Entity Framework Core 3 (netstandard2.1) with Azure Functions v3 (netcoreapp3.0), an error occurred in Metadata Generator."
I tried Entity Framework Core 3 (netstandard2.1) with Azure Functions v3 (netcoreapp3.0), an error occurred in Metadata Generator.

[code]

#### Repro

1. Create new function v3 project and change TFM to `netcoreapp3.0`
2. Install Entity Framework Core 3 (`Microsoft.EntityFrameworkCore.SqlServer`)
3. Add `DbContext` implementation
4. Build

_Originally posted by @shibayan in https://github.com/Azu

[2019-11-03 17:51] fabiocav commented on #1642
@a-vishar this is being tracked with other tooling updates. Apologies it hadn’t been updated to reflect that.

[2019-11-03 17:52] fabiocav commented on #1642
/cc @brettsam @soninaren

[2019-11-04 13:34] a-vishar commented on #1628
@soninaren - Do you have an estimation of when you will support x64 V3 functions OOTB?

[2019-11-05 03:46] MrDRamos opened #1647 "Bug running with latest NET Core SDK 3.1.100-Preview2-014569 - Version 2.2.0 was not found"
Installed the latest: NET Core SDK 3.1.100-Preview2-014569 and choco install azure-functions-core-tools ((Version 2.7.1846). Then when starting a Function-App you get an error:
   The framework 'Microsoft.NETCore.App', version '2.2.0' was not found.
Workaround: Edit version in file: C:\ProgramData\chocolatey\lib\azure-functions-core-tools\tools\workers\powershell\Microsoft.Azure.Functions.PowerShe

[2019-11-05 18:17] #1622 closed

[2019-11-05 18:37] ahmedelnably commented on #1647
you will need to install the preview version of the tools as mentioned here
https://dev.to/azure/develop-azure-functions-using-net-core-3-0-gcm

[2019-11-05 18:37] #1647 closed

[2019-11-05 19:51] anirudhgarg opened #1649 "Doing a build local on a Python 3.7 app without using the virtual environment has errors"
When I try to do a build local on Windows on a Python 3.7 app without using the virtual environment I get errors. Looks like it is not able to find pip

C:\vscode-test>func azure functionapp publish python37doesitwork --build local --publish-local-settings
Getting site publishing info...
Performing local build for functions project.
Found Python version 3.7.2 (python).
pip download -r C:\vscode-te

[2019-11-05 20:48] soninaren commented on #1628
@ColbyTresness , @vijayrkn do you know of the release date for x64 support?

[2019-11-05 21:06] vijayrkn commented on #1628
In 16.4

[2019-11-05 21:32] #1649 closed

[2019-11-06 00:42] ankitkumarr commented on #1507
Saw another case of this today. We should fix this soon as if user sees this, it's very difficult to tell what's actually going on.

[2019-11-06 08:02] pradeepsethi opened #1653 "Getting Incompatible Node.js version message - ver 12.13 installed"
Getting incompatible Node.js version message although I have version 12.13 installed which is LTS release.

Error Message:
[error] Incompatible Node.js version. The version you are using is v12.13.0, but the runtime requires an LTS-covered major version (ex: 8.11.1 or 10.14.1). LTS-covered versions have an even major version number (8.x, 10.x, etc.) as per https://github.com/nodejs/Release#release

[2019-11-06 09:27] kummerer94 commented on #872
With this update [1] saying that Azure Functions now supports python 3.7, what is the status of this and could you maybe also provide some documentation to where I can let Functions know that I want to use 3.7?

Thank you!

[1] https://azure.microsoft.com/en-us/updates/python-3-7-support-and-remote-build-are-now-generally-available/

[2019-11-06 13:27] R00iBaard opened #1654 "Deploy 64 bit only application"
Hey,

So a quick background - I am running an application called OpenFace - a facial behavior analysis toolkit. Its written in C++ but they have COM interops which allows me to use it within a NET framework realm. I have it working fine locally via .NET Framework 4.7.2 console application.

Running this via an Azure Function is ideal - barrier it with an API. As per image below I have successfully

[2019-11-06 14:59] emac11 opened #1655 "Azure Functions Python error: Unhandled exception in function. Could not serialize original exception message."
I have developed several Azure Functions for Python before using VS Code without a problem, but my last one has a bug that I can't get around. It is an Http Trigger function, and when I try to test it, as soon as I send a request, I get this error:

 Executed 'Functions.HttpTrigger' (Failed, Id=214972fd-ff68-4dec-8fdb-5b5d4ee7326f)
[11/5/2019 6:23:36 PM] System.Private.CoreLib: Exception while exe

[2019-11-06 16:52] ahmelsayed commented on #872
I think this can be closed, right @ankitkumarr ?

[2019-11-06 17:45] SimonOrdo commented on #1642
So, is there any workaround to using `Microsoft.EntityFrameworkCore.SqlServer` with V3?  Or is the gist of this that right now you can't and it'll get looked at with a later release?

[2019-11-06 18:02] ahmedelnably commented on #1653
cc/ @mhoeger

[2019-11-06 18:16] nickwalkmsft opened #1656 "Unnecessary call to sync triggers during zip package deployment?"
`func azure functionapp publish` makes an explicit call to sync triggers as the last step of a run-from-zip deployment (`shouldSyncTriggers` is not set to `false` [here](https://github.com/Azure/azure-functions-core-tools/blob/dab8daca606d1a6f398b01b6f29ce8f081c34ec9/src/Azure.Functions.Cli/Actions/AzureActions/PublishFunctionAppAction.cs#L317-L321)).

Is this necessary? I was fairly sure that syn

[2019-11-06 18:30] #1573 closed

[2019-11-06 18:39] ankitkumarr commented on #872
Yes! As stated above by @kummerer94, Python 3.7 should now be supported. I am going to close this issue

To create an Azure Function in Azure for Python 3.7, you can use Azure CLI (even from cloud shell) something like --
`az functionapp create --resource-group myResourceGroup --os-type Linux --consumption-plan-location westeurope  --runtime python --runtime-version 3.7 --name <APP_NAME> --storage

[2019-11-06 19:09] memark commented on #872
Great work guys! 👍

Did @kulkarnisonia16 have a comment? Do you guys want us to create a separate issue for supporting 3.8, or will you be working on upcoming versions from now on?

[2019-11-06 21:04] kummerer94 commented on #872
@ankitkumarr Thank you for the quick response! I found that this is documented in the Azure CLI documentation (https://docs.microsoft.com/en-us/cli/azure/functionapp?view=azure-cli-latest#az-functionapp-create).

What I originally tried to do was configure this through the Azure Portal UI. I was not able to find the setting but I did not search thorougly. Thank you again for your help!

[2019-11-07 05:47] a-vishar commented on #1642
You can use the last EF version that targeted netstandard 2.0.  The previous version is still compatible with core 3.x.

The tricky thing here is that you cannot publicly expose anything from a netstandard 2.1 library.  So you may have other libraries which may also be causing you issues.

[2019-11-07 18:28] ankitkumarr commented on #872
@kulkarnisonia16 is unavailable this week from what I know.

@kummerer94, thanks for linking that. We also need to update documentation in the create Python function app flows.
I believe Azure Portal has not yet been updated to allow creating function apps with versions other than the defaults.

[2019-11-07 19:00] #1629 closed

[2019-11-07 20:25] ankitkumarr commented on #227
This had been fixed in July with https://github.com/Azure/azure-functions-core-tools/commit/9cc58db73732bf17364c151be822036f52c78cd4

[2019-11-07 20:25] #227 closed

[2019-11-07 20:58] ankitkumarr commented on #1630
We usually cut the release in Github, update our CDNs and what not and then release it to the package managers (such as NPM) after. So it can take some time for the package to be available in NPM after the release shows in Github.

It should be updated everywhere now. Apologies for the delay.

[2019-11-08 08:11] ankitkumarr commented on #1655
+ @maiqbal11 / @Hazhzeng

[2019-11-08 10:41] bobbytreed commented on #1642
Having the same issue.  It's weird that it is intermittent for me and there doesn't seem to be a trigger.  2 builds ago it successfully built and I enabled migrations.  I changed one thing (not significant), rebuilt and got the error.  Cleaned the solution and it went a way, rebuilt and it came back.

[2019-11-08 10:49] bobbytreed commented on #1642
Here is a fun one.  When I remove this folder I get a bunch of access denied messages,  but I am able to build for a while until the message comes back.

.nuget\packages\microsoft.net.sdk.functions> rm -Recurse .\1.0.30-beta2\
rm : Cannot remove item
C:\Users\robreed\.nuget\packages\microsoft.net.sdk.functions\1.0.30-beta2\tools\net46\Microsoft.NET.Sdk.Functions.MSBuild.dll: Access to the path
'Mi

[2019-11-08 13:25] brettsam commented on #1642
We're working on a fix for this and other build-related issues. I have a preliminary fix ready now and hopefully we can get it out early next week for everyone to use.

[2019-11-08 16:45] emac11 commented on #1655
I fixed it, it was a bug in my code and I thought it was something with Azure Functions Core Tools. The error message was misleading but it was definitely my bug.

[2019-11-08 16:45] #1655 closed

[2019-11-08 17:20] lutherspacep commented on #1092
How would you work around this using an azure pipeline?

[2019-11-09 01:32] SaqibS commented on #1653
Blocked by this too

[2019-11-09 01:40] mhoeger commented on #1653
Note that this is being tracked here: https://github.com/Azure/azure-functions-nodejs-worker/issues/200

[2019-11-09 02:44] ankitkumarr commented on #1574
PRs:
- https://github.com/ahmelsayed/publish-script/pull/1
- https://github.com/Azure/azure-functions-core-tools/pull/1636
- https://github.com/Azure/homebrew-functions/pull/15
- https://github.com/Azure/azure-functions-core-tools/pull/1555

Once all above are merged, this can be closed.

[2019-11-11 08:41] janpalas commented on #479
Is there any (planned) progress on this issue? The last activity is almost one year old in spite of the fact that this issue still happens...

[2019-11-11 14:53] M0ns1gn0r commented on #1557
Is there any workaround until the change is released?

[2019-11-11 18:51] ankitkumarr commented on #1092
@lutherspacep, we do not use Pyinstaller anymore for our publishing pipeline. You shouldn't see this in the last few versions of the `azure-functions-core-tools`. What problem are you facing to work around for?

[2019-11-12 16:54] oising commented on #1642
I'm getting this on core 2.2 project where it complains about newtonsoft.json 12.0.0.0

[2019-11-12 19:29] ahmedelnably commented on #1653
closing this as it is being tracked by Azure/azure-functions-nodejs-worker#200

[2019-11-12 19:29] #1653 closed

[2019-11-12 20:03] DrBarnabus commented on #1642
@brettsam Great to hear about the fix, I will definitely test it out when its released.

@oising That sounds like a different error, is it complaining that the required version is different from the resolved version?
If it is, just add `<NoWarn>NU1608</NoWarn>` into your project and then manually install Newtonsoft.Json v12. I had the same issue before when using V2 but it isn't related to this is

[2019-11-12 20:52] aherrick commented on #1642
I'm also seeing this? how best to obtain the fix?

[2019-11-12 21:19] brettsam commented on #1642
When it's on nuget, I'll update it here with the details.

[2019-11-12 21:24] ahmedelnably opened #1657 "Core Tools v3 version should reset to 3.0.0 at GA"
Core Tools v3 version should reset to 3.0.0 at GA

[2019-11-12 21:31] brettsam commented on #1657
Are you referring to the version here? https://github.com/Azure/azure-functions-core-tools/releases/tag/3.0.1740. We've always used the build numbers in our versioning, rather than going `3.0.1`, `3.0.2`, etc.

I don't disagree with going back to 3.0.0, but we should come up with a versioning strategy to make these clear that they're previews of 3.0.0.

[2019-11-12 22:30] paulroub opened #1658 "v2.7.1846 triggers a High Severity npm audit error"
`npm audit` (multiple npm and node versions tested, text below came from npm 6.4.1) lists a High severity error and therefor exits with non-zero status when auditing a project using the current (2.7.1846) release.  No fixes (manual or automated) are suggested.

The issue is a Machine-In-the-Middle vulnerability in https-proxy-agent 2.2.1, an explicit dependency in package.json. Although there are

[2019-11-13 00:08] ankitkumarr commented on #1658
Thank @paulroub for reporting this and submitting the PR.

[2019-11-13 21:01] ahmedelnably commented on #1657
Agree, we have https://github.com/Azure/azure-functions-core-tools/issues/1249 to figure out a new versioning schema that makes it more logical

[2019-11-13 21:26] fabiocav commented on #1574
Closing as resolved.

[2019-11-13 21:26] #1574 closed

[2019-11-13 21:33] ahmedelnably commented on #48
Tracked by https://github.com/Azure/azure-functions-core-tools/issues/1360

[2019-11-13 21:33] #48 closed

[2019-11-13 21:34] ahmedelnably commented on #76
Closing this, as this is out of the scope of the Core Tools

[2019-11-13 21:34] #76 closed

[2019-11-13 21:35] ahmedelnably commented on #233
Closing. Please reopen if you still encountering the error with the latest version

[2019-11-13 21:35] #233 closed

[2019-11-13 21:36] ahmedelnably commented on #240
Closing this, it should be posted in Azure/azure-functions-host

[2019-11-13 21:36] #240 closed

[2019-11-13 21:38] ahmedelnably commented on #242
Closing as Resolved

[2019-11-13 21:38] #242 closed

[2019-11-13 21:39] ahmedelnably commented on #253
closing this as stale, please reopen if you still have the issue persisting

[2019-11-13 21:39] #253 closed

[2019-11-13 21:40] ahmedelnably commented on #271
Closing as stale, if you are still facing the same issue, please reopen

[2019-11-13 21:40] #271 closed

[2019-11-13 21:41] ahmedelnably commented on #281
Closing as stale, if you are still facing the same issue, please reopen

[2019-11-13 21:41] #281 closed

[2019-11-13 21:42] ahmedelnably commented on #303
this is not possible and not planned. The deployment unit is a function project (function app)
Closing the issue

[2019-11-13 21:42] #303 closed

[2019-11-13 21:45] ahmedelnably commented on #307
We do not have plans to support this in core tools

[2019-11-13 21:45] #307 closed

[2019-11-13 21:46] ahmedelnably commented on #308
Closing as stale, if you are still facing the same issue with the latest version, please reopen

[2019-11-13 21:46] #308 closed

[2019-11-13 21:46] ahmedelnably commented on #321
Closing as stale, if you are still facing the same issue with the latest version, please reopen

[2019-11-13 21:46] #321 closed

[2019-11-13 21:46] ahmedelnably commented on #323
Closing as stale, if you are still facing the same issue, please reopen

[2019-11-13 21:46] #323 closed

[2019-11-13 21:47] ahmedelnably commented on #327
Closing as stale

[2019-11-13 21:47] #327 closed

[2019-11-13 21:47] ahmedelnably commented on #334
Closing as stale, if you are still facing the same issue, please reopen

[2019-11-13 21:47] #334 closed

[2019-11-13 21:48] ahmedelnably commented on #336
Closing as stale, if you are still facing the same issue, please reopen

[2019-11-13 21:48] #336 closed

[2019-11-13 21:49] ahmedelnably commented on #338
the difference is available here
https://docs.microsoft.com/en-us/azure/azure-functions/functions-versions

[2019-11-13 21:49] #338 closed

[2019-11-13 21:50] #358 closed

[2019-11-14 01:46] ahmelsayed commented on #1657
I used to up the minor version whenever I add new commands to the cli. But I don't think everyone was following that. The last bit in the version was a-forever-increasing build number.

[2019-11-15 15:57] ptzbguenter opened #1661 "Cannot profile function app"
I have a dotnet function app that I'm trying to profile for performance. Why is it that I cannot see the `func.exe` using dottrace? Is there a known reason for this?

[2019-11-16 18:20] a-vishar commented on #1628
@vijayrkn
In 16.4.0 - p5:

[code]

[2019-11-16 19:11] ahmelsayed commented on #1661
When I try dotTrace 2019.2.3 I see this notification

![image](https://user-images.githubusercontent.com/645740/68998016-a4ebfb00-0861-11ea-94bc-06b02a1c9a69.png)

Current `func.exe` is dotnet core 2.2. When I try the preview 3.0 build ([here](https://github.com/Azure/azure-functions-core-tools/releases/tag/3.0.1740)) it shows up in the list

![image](https://user-images.githubusercontent.com/6457

[2019-11-16 19:23] Arash-Sabet opened #1662 "Azure function startup derived from FunctionsStartup fails due to the following error: The system cannot find the file specified. System.Private.CoreLib: Could not load the specified file."
We used VS 2019 Version 16.4.0 Preview 5.0 with dotnet core 3.1.100-preview3-014645 to create a simple Queue-triggered function. We failed to progress further due to the following error message:

[I created a github repo right here](https://github.com/Arash-Sabet/FunctionApp1) to be able to exhibit the problem. Would you please let us know what the solution or workaround is? Thanks.

/cc @miladgha

[2019-11-16 19:37] jeffhollan commented on #1662
Thank you for providing a sample! First thing that jumps out is you are targeting 3.1. Our bits right now are targeting 3.0 and not sure if 3.1 would be supported or work until we do some more work

[2019-11-16 19:41] Arash-Sabet commented on #1662
@jeffhollan
Yes I am targeting 3.1. so should I downgrade it to make it work? Hope this sample helps something in 3.1.

Thanks for the reply though.

@miladghafoori

[2019-11-16 21:34] Arash-Sabet commented on #1662
@jeffhollan
I made the necessary changes in the project files and pushed them to the repo. Unfortunately, the problem still persists in 3.0. I tried it in both VS 2019 Preview and non-Preview. It's a roadblock.

/cc @miladghafoori

[2019-11-17 07:05] Ma3yTa opened #1663 "func new --language F# creates .cs files instead .fs"
[code]
![image](https://user-images.githubusercontent.com/660379/69004260-ea342980-0942-11ea-90de-b5b37e353829.png)

[2019-11-18 15:20] ptzbguenter commented on #1661
Ack! You are totally right, I don't know how I missed that. Thanks so much!

[2019-11-18 15:20] #1661 closed

[2019-11-18 15:46] Arash-Sabet commented on #1662
@jeffhollan Just wondering, any ETA on when will this issue be addressed in .net core 3.0?
/cc @miladghafoori

[2019-11-18 17:44] Arash-Sabet commented on #1662
We can close this ticket because there was a misconfiguration in the function's csproj file that I fixed it per the following snippet:

[code]

[The history of the change can be found in the repo](https://github.com/Arash-Sabet/FunctionApp1). The V3 function works fine in .net core preview 3.1.

/cc @miladghafoori

[2019-11-18 17:44] #1662 closed

[2019-11-18 19:55] soninaren opened #1664 "Remove the logic to conditionally add extension bundle configuration"
Currently we only apply extension bundle configuration if the functions you are using have reference extensions other than http or timer. We need to remove this since the runtime should now selectively load extensions based on what you are using.

[2019-11-18 19:59] soninaren opened #1665 "Force fetch the latest version of extension bundle."
Check and fetch the latest version of extension bundle, if you don't have it already.

[2019-11-18 20:00] soninaren opened #1666 "Add extension bundle configuration by default."
With selective loading of extension bundles we can now make the extension bundle configuration default.

[2019-11-19 01:15] jongio commented on #872
Getting this today @ankitkumarr
[code]

Azure Functions Core Tools (3.0.1740 Commit hash: 0b841ce061d005a05af8bb57a341989788266298)
Function Runtime Version: 3.0.12785.0

VS Code:

[code]

[2019-11-19 10:37] tomkerkhove commented on #1559
Just curious - Why are we removing Osiris for HTTP functions? I thought KEDA was relying on Osiris for that?

[2019-11-19 10:38] tomkerkhove opened #1669 "func kubernetes deploy ignores functions defined in host.json"
`func kubernetes deploy` ignores functions defined in host.json.

See initial report on https://github.com/kedacore/keda/issues/473 @Janus88

[2019-11-19 14:59] samarti opened #1670 "Cant debug java Azure app on OSX"
I'm not able to debug a Java Azure Function, even though I could some weeks ago.

I try the following command: `mvn azure-functions:run -DenableDebug -X`
and get the following error:
<img width="1058" alt="Screen Shot 2019-11-19 at 11 47 39 AM" src="https://user-images.githubusercontent.com/7013485/69156582-67d27380-0ac2-11ea-8fd1-efd4069d7306.png">

Without the `-DenableDebug` flag works fine.
Th

[2019-11-19 22:39] jeffhollan commented on #1244
Would also add:
- Include a button to manually run a Timer trigger
- Include a button to manually run any trigger (with a text box to paste in sample content) similar to our browser portal

I personally would even rather see a page that has a bunch of run buttons similar to our browser "Test" window even before we integrate logs, as I would likely switch to VS Code terminal (or VS terminal) to see

[2019-11-19 23:18] ankitkumarr commented on #1670
I think this would be an issue for https://github.com/microsoft/azure-maven-plugins.
I do not have access to transfer it there.

Functions Core Tools looks at `local.settings.json` to infer the language or if it is explicitly specified via `--java`. We'd have to check with the maven plugin to see if they didn't create the `local.settings.json` appropriately.

[2019-11-20 00:47] #1664 closed

[2019-11-20 00:47] #1665 closed

[2019-11-20 15:14] jeffhollan commented on #1559
I think the rational was Osiris is not 1.0, KEDA is.  We didn't want to mix and match a preview thing with a 1.0 thing - especially since I don't know what the development and investment roadmap for Osiris is moving forward.  Instead I would guess we just set up generic service for now.  We do have plans and funded work in next few months to make the HTTP + HTTP Scale (0 -> n) better though.  So m

[2019-11-20 19:40] fernandoadriano opened #1672 "Fail to start to debug a Python Azure Function"
When I start a Azure Function write in Python, I receive the following message and can't run it
Starting worker process:python  /Users/adriano/.vscode/extensions/ms-python.python-2019.11.49689/pythonFiles/lib/python/new_ptvsd/no_wheels/ptvsd --default --host 127.0.0.1 --port 9091 --wait "/usr/local/Cellar/azure-functions-core-tools/2.7.1846/workers/python/3.7/OSX/X64/worker.py" --host 127.0.0.1 --

[2019-11-20 21:58] anthonychu opened #1673 "func new installs older version of extensions"
[code]

The last step changes the DurableTask extension to version 1.8.0. Expected it to stay at 2.0.0 because it's newer.

[2019-11-21 01:50] XiaoningLiu commented on #1247
Hi @ahmedelnably This is Xiaoning from Azurite dev team. Recently we got more and more customer trying Azure Function with Azurite. Some of them have issues. However, me & our team lack much knowledge of Azure Function and how does Azure Function extension calling into Azurite, we cannot give solutions for the customers. Expecially we cannot locate which request sent to Azurite is failed or unexpe

[2019-11-21 01:58] aliarias commented on #1473
Any updates on this?

[2019-11-21 07:41] #1658 closed

[2019-11-21 15:33] ygoldenberg-paradigm commented on #1247
I recently tried using the latest version Azurite with Azure Functions and I had the following issues:

- When debugging Azure Functions through Visual Studio, it attempts to start the Microsoft Storage Emulator. However, since I had Azurite listening on the same ports as the Microsoft Storage Emulator, the emulator didn't start, and because of that the debug session didn't start either. The worka

[2019-11-22 00:18] soninaren commented on #1666
resolved in https://github.com/Azure/azure-functions-core-tools/pull/1676

[2019-11-22 00:18] #1666 closed

[2019-11-22 18:28] ahmedelnably commented on #1247
cc/ @fabiocav
We are aware of the issues caused by using Azurite with the Core Tools, we are still recommending users to use the Storage emulator until we completely support Azurite (and Azurite have feature parity with the emulator in the parts needed for running functions locally, like support for table storage)

[2019-11-22 18:30] ahmedelnably commented on #1669
cc/ @ahmelsayed

[2019-11-22 18:32] ahmedelnably commented on #1670
@samarti Closing this as it is not related to core tools, please open an issue against the maven plugin

[2019-11-22 18:32] #1670 closed

[2019-11-22 18:32] ahmedelnably commented on #1672
cc/ @maiqbal11 to look at this

[2019-11-24 14:35] kapilt opened #1679 "func --help options unreadable on terminal with dark background"
pick a better color scheme, and maybe ditch this overly cute terminal graphics display

<img width="1589" alt="Screen Shot 2019-11-24 at 9 32 37 AM" src="https://user-images.githubusercontent.com/21650/69496204-98892300-0e9d-11ea-971d-29dee9ca81cd.png">

ie on publish its impossible to see what the cli switches are. Also even though we're looking at a subcommand (publish) it tries to list out the

[2019-11-25 00:39] wisesimpson opened #1680 "Support Windows ARM64"
I just got Surface Pro X. It's a nice device except it's win-arm64 so I can't run Azure Functions Core Tools on it.
I wish I can develop Azure Functions on this beautiful device. Also there're other win-arm64 based devices out there.

[2019-11-25 02:08] XiaoningLiu commented on #1247
Thanks @ahmedelnably! There are some backgrounds in storage team. Existing Azure Storage Emulator based on .Net is not going to have new storage features update in favor of Azurite. But Table support for Azurite is not planned by storage team. Table emulation will be supported by Cosmos DB emulator.

[2019-11-25 08:48] Janus88 commented on #1669
Is there a quick fix to be expected? Or a workaround? Because this is a very annoying problem for us 👎

[2019-11-25 17:15] ygoldenberg-paradigm commented on #1247
@XiaoningLiu I'm having an issue with the existing storage emulator. The existing storage emulator crashes with a blob path longer than 256 characters. When using the blob trigger, the blob trigger creates a blob path from the existing blob, and adds additional data to the blob name, which in my case shortens the available number of characters to below 180. This does not happen in Production Azure

[2019-11-25 18:48] kulkarnisonia16 opened #1681 "Worker selection in CLI during function app creation"
The experience on Mac is picking a number for worker runtime, whereas on Windows is to use arrow keys. We can make it consistent across OS and/or clear. Eg. Instead of "Select a worker runtime" in Mac, we can say "Select a number for worker runtime". and similarly explicitly mention to use arrow keys to pick a runtime in Windows.

[2019-11-25 21:44] ahmelsayed commented on #1680
We could investigate this for V3 if we plan on replacing our GRPC dependency to the grpc-dotnet rather than the native GRPC implementation we're using for V2.

Otherwise we will have to maintain our own GRPC build for Windows ARM64, which I would rather completely avoid. However this will only work to enable dotnet functions.

[2019-11-25 22:54] wisesimpson commented on #1680
@ahmelsayed I'm using JavaScript. How long should I expect for the support?

[2019-11-26 00:59] ahmelsayed commented on #872
we need to merge the v2 changes into the v3 branch.

[2019-11-26 01:41] XiaoningLiu commented on #1247
@ygoldenberg-paradigm Cosmos DB emulator supports Table API, but it's currently only on Windows.
https://docs.microsoft.com/en-us/azure/cosmos-db/local-emulator

[2019-11-26 04:18] ankitkumarr commented on #1612
Assigned Ahmed as well. He already has a PR for a chunk of the work.

[2019-11-26 05:33] dxkaufman commented on #872
I am seeing that my azure function is using 3.6 when in Azure.  I created the service through the portal and just picked the Python stack.  I was never given a choice of what version.  @ankitkumarr - is there any way to change the python version of an existing function app?

I'm getting this error.  I think it's complaining about cffi because it wasn't in my requirements.txt file when I deployed i

[2019-11-26 19:18] ahmedelnably commented on #1681
@kulkarnisonia16 thanks for the suggestion, we will be looking at it for a future milestone

[2019-11-26 19:23] ahmedelnably commented on #1679
@kapilt thanks for the suggestion, we will be looking at choosing another color in a future release
Can you please share with us the colors settings for your terminal to reproduce this behavior?

[2019-11-26 19:31] ankitkumarr commented on #1680
@ahmelsayed, we are planning on migrating to the new gRPC library -- https://github.com/Azure/azure-functions-host/issues/5237

But I am not sure if that'd be enough. As all the language workers (node, python, etc) also use gRPC and may not have language native implementation.

[2019-11-26 19:33] ahmelsayed commented on #1680
It won't be enough. We will have to maintain our own build pipeline for grpc modules for language workers for Windows ARM64, which will not be easy. If we enable ARM it'll be for dotnet only

[2019-11-26 19:54] ankitkumarr commented on #1680
Ah! Sorry, I missed the part where you said - "However this will only work to enable dotnet functions". Thanks, makes sense.

@wisesimpson, I don't think we have a timeline at the moment for JavaScript functions.

[2019-11-27 15:03] rasmuschristensen commented on #1183
Same here, ServiceBusTrigger and a HttpTrigger in the same class, causes the issue

[2019-11-27 20:13] zpertee opened #1683 "Azure Functions Core Tools v3.0.2 Creating Invalid Dockerfile"
When I use func.exe to generate Dockerfile it's pointing to this image **mcr.microsoft.com/azure-functions/dotnet:3.0** or **mcr.microsoft.com/azure-functions/dotnet:3.0-appservice**.  Unfortunately to the best of my knowledge these images don't seem to exist?  Is by design?  Is there a timetable when this will available?

[2019-11-27 20:51] zpertee commented on #1683
@jeffhollan redirected me to http://mcr.microsoft.com/azure-functions/dotnet:3.0-preview

[2019-11-27 20:51] #1683 closed

[2019-11-27 23:25] ahmedelnably commented on #1250
This should only support v3 of the tools

[2019-11-27 23:30] ahmedelnably opened #1684 "Update release pipelines for v3 of the tools"
- NPM
- Homebrew
- Chocolatey
- apt-get

[2019-11-28 12:28] Difreg commented on #1672
Is there some progress on this? Got the same issue...

[2019-11-28 18:44] ahmelsayed commented on #1684
we might need to update the package name to have the version in it if we're going to maintain 2 major versions

[2019-11-28 18:59] ahmedelnably commented on #1684
In my opinion v3 should be the default installed version, v2 should be a different name like what we do with v1 but across distribution channels

[2019-11-28 19:37] ahmelsayed commented on #1684
Since our major versions are going to be unfortunately tied to dotnet releases, then we will need to follow their naming scheme where the package name has the version number in it (`dotnet-sdk-2.1`, `dotnet-sdk-2.2`, `dotnet-sdk-3.0`, etc). next year there will be another v4, and v5, etc.

[2019-11-29 00:55] wisesimpson commented on #1680
As a temporary solution can we install the x86 instead of x64? At least x86 version can be run in emulator.

Currently if I run `npm i -g azure-functions-core-tools --unsafe-perm true` on Surface Pro X, I got

`attempting to GET "https://functionscdn.azureedge.net/public/2.7.1948/Azure.Functions.Cli.win-x64.2.7.1948.zip"
[==================] Downloading Azure Functions Core Tools`

Why is the x64

[2019-12-02 10:21] arjo129 opened #1685 "Adding files to zip"
Hi, I'm trying to republish a function. Previously when I used azure to publish a function, all files including non-python json files (which used to be used as config files) would be packaged in the docker image. Now this doesn't happen anymore.

[2019-12-02 18:02] ahmelsayed commented on #1685
can you share the command you're using

[2019-12-03 00:00] ahmelsayed opened #1688 "Remove Powershell from v3.x branch"
V3 doesn't have powershell yet. We should remove the option from the core-tools until it's available.

[2019-12-03 04:03] arjo129 commented on #1685
Hi,
Command I'm using is:
`func publish <FUNCTION_NAME> --build-deps-native`
The function in question is hosted here:
https://github.com/arjo129/LangCluster/tree/master/LangClusterBackend

[2019-12-03 09:35] JimPaine opened #1689 "func init --docker-only should support .NET Solutions"
## Issue

When running

[code]
against a csproj I get a dockerfile that only includes the current directory

## Outcome

[code]

Fails due to not being able to find dependent projects

## Impact

I can't generate dockerfiles as part of my CI / CD pipeline, which could be argued is a bad thing, but my view of functions is "take my code and run it" and as long as the function runtime is there I don'

[2019-12-03 18:33] JimPaine commented on #1689
Just spotted this is a [static file](https://github.com/Azure/azure-functions-core-tools/blob/4d3cc519aadfaf5043f3ea3b9c0de348fde0b353/src/Azure.Functions.Cli/StaticResources/Dockerfile.dotnet), so it may need a wider discussion

[2019-12-03 20:05] ahmelsayed commented on #1688
this task is no longer needed.

[2019-12-03 20:05] #1688 closed

[2019-12-03 20:41] mzkaramat commented on #1672
Hey, is there some progress on it?

[2019-12-04 14:16] aherrick opened #1692 "Method not found: 'Microsoft.Extensions.Primitives.StringValues Microsoft.AspNetCore.Http.IQueryCollection"
Azure Functions Core Tools (3.0.1958
Function Runtime Version: 3.0.12915.0

Simple queue function processing with EF Core 3.1:

[code]

[2019-12-04 14:26] aherrick commented on #774
Is this not able to target Microsoft.Extensions.Configuration 3.x? How is that possible?

[2019-12-04 18:08] fabiocav commented on #774
@ltouro @aherrick .NET Core 3.0/ASP.NET Core 3.0 dependencies are supported in the Azure Functions 3.x preview. You can find more details here: https://github.com/Azure/app-service-announcements/issues/200

Closing this as the original issue has been addressed. Please open new issues with details if you have additional questions or continue to run into problems.

[2019-12-04 18:08] #774 closed

[2019-12-04 18:57] evictor commented on #331
Works on my OS X, except needed to omit `/@core`

[2019-12-05 09:14] daguito81 commented on #1031
Any news on this issue?

[2019-12-05 11:00] aquamoth commented on #332
Creating a juncion point with "mklink" as suggested above really saved the day for me. Thanks!

[2019-12-05 21:34] kulkarnisonia16 opened #1694 "Surface remote build logs"

[2019-12-05 21:37] Hazhzeng commented on #1694
@ankitkumarr can refer to https://github.com/Azure/azure-functions-core-tools/blob/dab8daca606d1a6f398b01b6f29ce8f081c34ec9/src/Azure.Functions.Cli/Helpers/KuduLiteDeploymentHelpers.cs#L101 for Linux Consumption remote build log streaming

[2019-12-05 22:15] ankitkumarr commented on #1689
Thanks for reporting this. You are right that this will need more discussion around the experience, as currently we don't take into account the `.csproj` you may have in your directory. Some issues we would need to address are -- any updates that may take place in the `csproj` after the init and how we would want it to flow.

Moving to the backlog for now.

[2019-12-05 22:17] ankitkumarr commented on #1692
Need to investigate this V3 bug report. @brettsam @fabiocav

[2019-12-05 22:23] brettsam commented on #1692
We don't support EF Core 3.1 yet -- that's coming soon. Try on EF Core 3.0 and it should work.

[2019-12-06 00:01] fabiocav commented on #1692
Please follow this issue for updates:
https://github.com/Azure/app-service-announcements/issues/200

[2019-12-06 00:01] #1692 closed

[2019-12-07 14:50] Pamir commented on #585
Hi
Is there any way to put custom azure functions jar file into a container, which is generated by maven archtype?.

[2019-12-09 21:08] ahmedelnably opened #1698 "Azure Functions Tools fail to start when there is a non american character on the user name (%userprofile% directory)"
The network administrator just setup Active Directory integration and my user profile directory was created with non american characters. My name has an accent (^ ê).
My azure function project stopped working and I found out that the only problem was having an accent in the user profile directory.

From User Voice https://feedback.azure.com/forums/355860-azure-functions/suggestions/37532194-azure-

[2019-12-09 21:21] maartenba opened #1699 "Add latest project templates from template repository"
For some reason it looks like templates shipped are not the latest ones from https://github.com/Azure/azure-functions-templates/.

Missing the following PR contents in the latest binaries for core tools: https://github.com/Azure/azure-functions-templates/pull/891

[2019-12-10 03:04] jeffhollan opened #1700 "func new not working for JavaScript app"
did `func init` on a container and set JavaScript.  When I say `func new` I get this error. I tried passing in flags for language, template, etc. and nothings eems to work

Mac

Value cannot be null. (Parameter 'value')

3.0.1975

/cc @ahmedelnably

[2019-12-10 07:17] theoanton commented on #1672
I'm having the same issue. Any progress yet?

[2019-12-10 18:54] Hazhzeng commented on #1672
Seems like the latest ptvsd 5.0.0a7 drops the support for the  --default flag.
There's an issue tracked by the vscode extension team https://github.com/microsoft/vscode-azurefunctions/issues/1743.

Please mitigate this issue by downgrading your vscode extension by following these steps:
https://github.com/microsoft/vscode-azurefunctions/issues/1743#issuecomment-563347536

[2019-12-10 18:54] #1672 closed

[2019-12-10 19:00] ahmelsayed commented on #585
/cc @amamounelsayed

[2019-12-10 19:55] ahmedelnably commented on #1698
I can not repro this with the following path `E:\accént`

[2019-12-10 19:56] ahmedelnably commented on #1699
cc/ @soninaren

[2019-12-10 19:56] ahmelsayed commented on #1700
can you try `CLI_DEBUG=1 func new` and share the output? I can't repro this on linux

[2019-12-10 20:09] ahmelsayed commented on #1685
/cc @Hazhzeng and @ankitkumarr

[2019-12-10 20:16] ankitkumarr commented on #1685
Is there a `.funcignore` file in your function app project directory? If so, would you mind sharing the contents of that file.

[2019-12-10 21:18] Hazhzeng commented on #1685
Hey @arjo129,

I assume you're using `func azure functionapp publish <FUNCTION_NAME> --build-native-deps`.
I just tried publishing with the core tools (v2.7.1948) and it seems the package is complete.
https://cloudbuildlinux.blob.core.windows.net/function-releases/20191210201504-644668c3-94a3-40c9-bab9-c6417a1981e3.squashfs?sv=2018-03-28&sr=b&sig=aVQrdeTyPe2S08CGDfO3yBikkBEGeHNWg81rZJzcURk%3D&st=2

[2019-12-11 06:48] ajinkya599 commented on #1554
@ahmelsayed - Any updates on this one ?

[2019-12-11 11:17] maartenba opened #1704 "Latest release on GitHub does not list any binary assets?"
Similar to #1471, but for [`3.0.1975`](https://github.com/Azure/azure-functions-core-tools/releases/tag/3.0.1975).

The latest release is missing the compiled binaries, and only contains the source.

[2019-12-11 11:18] maartenba commented on #1704
@soninaren

[2019-12-11 13:08] gep13 commented on #693
@EricJizbaMSFT I work for Chocolatey, and will happily help to get this package working again.  Do you know who is behind the account here on chocolatey.org: https://chocolatey.org/profiles/nugetazurefunctions  It would be good to work with them to get this package updated.

[2019-12-11 15:37] jeffhollan commented on #1700
at Newtonsoft.Json.Utilities.ValidationUtils.ArgumentNotNull(Object value, String parameterName)
   at Newtonsoft.Json.JsonConvert.DeserializeObject(String value, Type type, JsonSerializerSettings settings)
   at Newtonsoft.Json.JsonConvert.DeserializeObject[T](String value, JsonSerializerSettings settings)
   at Newtonsoft.Json.JsonConvert.DeserializeObject[T](String value)
   at Azure.Functions.

[2019-12-11 18:14] ahmedelnably commented on #693
@EricJizbaMSFT as part of the v3 release of the core tools to choco, we will default to x64 of the tools (all other installers are x64 only). v2 will stay on x86, to minimize any chance of breaking users.
@gep13 thanks for offering help, @fabiocav and @ahmelsayed own the package

[2019-12-11 19:08] gep13 commented on #693
@ahmedelnably thanks for getting back to me, I appreciate it, and am happy to help, so feel free to reach out if you have any questions.

One thing that would be great to do would be to add additional metadata into the nuspec file for the package to indicate where the package source files reside (ideally a direct link to the folder in the GitHub repository where the packaging files reside) that ma

[2019-12-11 19:40] kulkarnisonia16 opened #1706 "Provide a better error message when AzureWebJobsStorage app setting is invalid/missing"
If you use the CLI to create a Python app and don’t include a valid connection string it gives you an unhelpful error (below).  Ideally it should say “No connection string provided for setting ‘AzureWebJobsStorage.’  Please provide a setting in the App Settings configuration or local.settings.json if running locally.”

[7/31/19 5:02:04 AM] The following 1 functions are in error:
[7/31/19 5:02:04 A

[2019-12-11 20:10] ahmedelnably commented on #872
Closing as we already merged v3

[2019-12-11 20:10] #872 closed

[2019-12-11 20:11] ahmedelnably commented on #684
Closing as stale

[2019-12-11 20:11] #684 closed

[2019-12-11 20:12] ahmedelnably commented on #954
Closing as stale

[2019-12-11 20:12] #954 closed

[2019-12-11 20:16] ahmedelnably commented on #1473
Closing this as obselete

[2019-12-11 20:16] #1473 closed

[2019-12-11 20:18] ahmedelnably commented on #1415
Closing as this was fixed on the backend, if you continue seeing this issue please open a new issue

[2019-12-11 20:18] #1415 closed

[2019-12-11 20:21] ahmedelnably commented on #352
Closing as stale, deployment scenarios have been validated
please open a new issue with details if you see any new problems

[2019-12-11 20:21] #352 closed

[2019-12-11 20:23] ahmedelnably commented on #479
Closed as resolved

[2019-12-11 20:23] #479 closed

[2019-12-11 20:25] ahmedelnably commented on #1462
Closing this as fixed, if you face the same issues again please open a new issue

[2019-12-11 20:25] #1462 closed

[2019-12-11 20:31] fabiocav commented on #510
Closing this as resolved in the latest packages. A non-beta release of the SDK with those changes is also going out today.

[2019-12-11 20:31] #510 closed

[2019-12-11 20:32] fabiocav commented on #1173
Closing this as resolved. Please let us know if you continue to see this issue.

[2019-12-11 20:32] #1173 closed

[2019-12-11 20:32] ankitkumarr commented on #975
Closing as stale. Now core-tools support remote build by default, which would avoid such cases.

[2019-12-11 20:32] #975 closed

[2019-12-11 20:36] ahmedelnably commented on #287
cc/ @soninaren, as the PR has already been merged

[2019-12-11 20:40] ahmedelnably commented on #903
Closing this as stale, if you are facing a similar error please open a new issue

[2019-12-11 20:40] #903 closed

[2019-12-11 20:41] ahmedelnably commented on #299
Closing as stale, please open a new issue if you see this happen in the latest version

[2019-12-11 20:41] #299 closed

[2019-12-11 20:44] ahmedelnably commented on #1101
Are you still seeing the issue with the latest version of the core tools and Az CLI?

[2019-12-11 20:46] ahmedelnably commented on #1012
Closing as resolved

[2019-12-11 20:46] #1012 closed

[2019-12-11 20:49] ahmedelnably commented on #1580
@AnatoliB and @amamounelsayed any update on this issue?

[2019-12-11 20:49] ahmedelnably commented on #301
Closing as stale

[2019-12-11 20:49] #301 closed

[2019-12-11 20:51] ahmedelnably commented on #328
Closing as stale

[2019-12-11 20:51] #328 closed

[2019-12-11 20:53] ahmedelnably commented on #721
This should be resolved by now, please confirm if you are not seeing the error anymore

[2019-12-11 20:56] ahmedelnably commented on #946
cc/ @anthonychu

[2019-12-11 20:59] ferantivero commented on #1101
@ahmedelnably my env is gone. I wont be able to answer this.

[2019-12-11 21:02] AnatoliB commented on #1580
@kurx78, could you please confirm that setting the `NO_PROXY` environment variable to `localhost,127.0.0.1` resolved the issue for you. I know this definitely helped another user.

If confirmed, I think we just need to document this.

[2019-12-11 21:07] ahmedelnably commented on #300
Closing as stale

[2019-12-11 21:07] #300 closed

[2019-12-11 21:09] ahmedelnably commented on #163
Closing as stale

[2019-12-11 21:09] #163 closed

[2019-12-11 21:10] ahmedelnably commented on #370
Closing as stale, if you are still seeing this issue with the latest version of the tools please open a new issue

[2019-12-11 21:10] #370 closed

[2019-12-11 21:10] ahmedelnably commented on #422
VS should have the latest versions of the core tools
Closing as fixed

[2019-12-11 21:10] #422 closed

[2019-12-11 21:12] ahmedelnably commented on #444
Closing as stale, if you are still experiencing the same error with the latest version of the Core Tools, please open a new issue

[2019-12-11 21:12] #444 closed

[2019-12-11 21:14] ahmedelnably commented on #429
Closing as stale, if you are still experiencing the same error with the latest version of the Core Tools, please open a new issue

[2019-12-11 21:14] #429 closed

[2019-12-11 21:14] ahmedelnably commented on #427
Closing as stale, if you are still experiencing the same error with the latest version of the Core Tools, please open a new issue

[2019-12-11 21:14] #427 closed

[2019-12-11 21:15] ahmedelnably commented on #417
Closing as stale, if you are still experiencing the same error with the latest version of the Core Tools, please open a new issue

[2019-12-11 21:15] #417 closed

[2019-12-11 21:15] ahmedelnably commented on #295
Closing as stale, if you are still experiencing the same error with the latest version of the Core Tools, please open a new issue

[2019-12-11 21:15] #295 closed

[2019-12-11 21:15] ahmedelnably commented on #497
Closing as stale, if you are still experiencing the same error with the latest version of the Core Tools, please open a new issue

[2019-12-11 21:15] #497 closed

[2019-12-11 21:17] ahmedelnably commented on #532
Closing as stale, if you are still experiencing the same error with the latest version of the Core Tools, please open a new issue

[2019-12-11 21:17] #532 closed

[2019-12-11 21:21] ahmedelnably commented on #713
You only need Az CLI for publishing to Azure
Closing as stale, if you are still experiencing the same error with the latest version of the Core Tools, please open a new issue

[2019-12-11 21:21] #713 closed

[2019-12-11 21:21] ahmedelnably commented on #578
Closing as stale, if you are still experiencing the same error with the latest version of the Core Tools, please open a new issue

[2019-12-11 21:21] #578 closed

[2019-12-11 21:22] ahmedelnably commented on #819
Closing as stale, if you are still experiencing the same error with the latest version of the Core Tools, please open a new issue

[2019-12-11 21:22] #819 closed

[2019-12-11 21:23] ahmedelnably commented on #820
Closing as stale, if you are still experiencing the same error with the latest version of the Core Tools, please open a new issue

[2019-12-11 21:23] #820 closed

[2019-12-11 21:30] fabiocav commented on #1681
@kulkarnisonia16 can you please provide the exact message you'd like to see on Windows?

[2019-12-11 21:33] ahmedelnably commented on #846
We have already updated the node version set by the Az CLI
If this still an issue please open a new issue

[2019-12-11 21:33] #846 closed

[2019-12-11 21:36] ahmedelnably commented on #1026
Closing the loop here, we have chosen option #1.
Though it is available right now in the portal, we will track the core tools experience in a separate issue

[2019-12-11 21:36] #1026 closed

[2019-12-11 21:36] ahmedelnably commented on #1042
Please use the Azure Functions maven tools to deploy Java Functions

[2019-12-11 21:36] #1042 closed

[2019-12-11 22:00] ahmedelnably commented on #621
The slots support has been added.
Closing as resolved

[2019-12-11 22:00] #621 closed

[2019-12-11 22:02] ahmedelnably commented on #501
cc/ @amamounelsayed to validate this

[2019-12-11 22:09] ahmedelnably commented on #881
Closing this as a workaround is available, an additional discussion about this currently happening, we will update everyone once we have a solution

[2019-12-11 22:09] #881 closed

[2019-12-11 22:14] ahmedelnably commented on #1298
Closing this as resolved

[2019-12-11 22:14] #1298 closed

[2019-12-11 22:22] ahmedelnably commented on #1680
Closing this, as we are blocked on node support on Windows ARM64, will revisit this once the blockers are resolved

[2019-12-11 22:24] ahmedelnably commented on #1628
@soninaren can you please validate that this is now supported

[2019-12-11 22:25] ahmedelnably commented on #1006
Closing as stale, please open a new issue if you are still facing the same error

[2019-12-11 22:25] #1006 closed

[2019-12-11 22:29] michalzaptk commented on #1181
Having this issue on East US for the past 3 days

[2019-12-11 22:37] balag0 commented on #1181
@michalzaptk  Please share the sitename if possible.

[2019-12-11 22:46] #185 closed

[2019-12-11 22:49] ahmedelnably commented on #1150
Blocked on pip getting updated

[2019-12-11 22:52] #436 closed

[2019-12-11 22:53] ahmedelnably commented on #1200
Closing as duplicate of #1247

[2019-12-11 22:53] #1200 closed

[2019-12-11 22:54] hannesne commented on #1042
The CLI should give a warning or error in this scenario.

[2019-12-11 22:56] ahmedelnably commented on #455
We are discussing different ways to achieve this
Closing this issue in favor of a new one that will be used to track it

[2019-12-11 22:56] #455 closed

[2019-12-11 22:57] ahmedelnably commented on #1319
Closing as stale

[2019-12-11 22:57] #1319 closed

[2019-12-11 22:58] ahmedelnably commented on #347
cc/ @fabiocav to comment

[2019-12-11 22:59] ahmedelnably commented on #705
Closing as stale, please open a new issue if this is still happening in the latest version of the tools

[2019-12-11 22:59] #705 closed

[2019-12-11 23:03] ahmedelnably commented on #428
cc/ @soninaren

[2019-12-11 23:04] ahmedelnably commented on #367
closing as resolved by extension bundles

[2019-12-11 23:04] #367 closed

[2019-12-11 23:05] ahmedelnably commented on #571
Closing as stale

[2019-12-11 23:05] #571 closed

[2019-12-11 23:11] ahmedelnably commented on #310
Closing, please try this in v2 or v3 version of the core tools

[2019-12-11 23:11] #310 closed

[2019-12-11 23:14] ahmedelnably commented on #1183
Closing this, if you have a repro that we can test with please reopen the issue

[2019-12-11 23:14] #1183 closed

[2019-12-11 23:17] ahmedelnably commented on #378
Closing as stale, if the error still persist with v2 or v3 of the core tools please open a new issue

[2019-12-11 23:17] #378 closed

[2019-12-11 23:18] ahmedelnably commented on #1242
Closing this as there are no plans to do it

[2019-12-11 23:18] #1242 closed

[2019-12-11 23:25] ahmedelnably commented on #1440
@brettsam can this be closed now?

[2019-12-11 23:28] ahmedelnably commented on #407
The CLI probably expecting a 200 status code when waiting for the host, with "AzureWebJobsDisableHomepage" is set to True, it will return a 204 status code

[2019-12-11 23:31] wpitallo commented on #125
And for JavaScript?

[2019-12-11 23:32] ahmedelnably commented on #736
Is this issue still happening?

[2019-12-11 23:37] semchev commented on #736
This was 15 months ago. I was unable to use reasonably move forward with Azure Functions for the project in question because of this issue and have not used it since, so I am unaware if it is still an issue.

[2019-12-11 23:38] ahmedelnably commented on #345
Closing this as stale

[2019-12-11 23:38] #345 closed

[2019-12-11 23:56] ahmedelnably commented on #294
Closing as stale

[2019-12-11 23:56] #294 closed

[2019-12-11 23:57] ahmedelnably commented on #941
Closing this as we have proper instructions in docs

[2019-12-11 23:57] #941 closed

[2019-12-11 23:58] #780 closed

[2019-12-11 23:58] ahmedelnably commented on #1306
cc/ @soninaren are we still planning on doing this?

[2019-12-12 00:00] ahmedelnably commented on #1046
Closed as duplicate

[2019-12-12 00:00] #1046 closed

[2019-12-12 00:01] ahmedelnably commented on #183
Closing as "Won't fix"

[2019-12-12 00:01] #183 closed

[2019-12-12 00:02] ahmedelnably commented on #302
Closing as stale

[2019-12-12 00:02] #302 closed

[2019-12-12 00:03] ahmedelnably commented on #243
Closing as stale, if this is still happening with the latest version of the core tools please open a new issue

[2019-12-12 00:03] #243 closed

[2019-12-12 00:14] ahmedelnably commented on #214
Closing as stale

[2019-12-12 00:14] #214 closed

[2019-12-12 01:19] JustinGrote commented on #1247
@ahmedelnably any plans to port the storage emulator to .NET Core and make it work cross platform? Without that developers only options are Azurite or developing directly against azure resources (that includes CI/CD testing of functions).

[2019-12-12 01:24] ahmedelnably commented on #1247
@JustinGrote that would be a question to @XiaoningLiu and the Azure Storage team

[2019-12-12 03:21] jongio commented on #328
@jimmyca15 - Does AppConfig work with functions and is this a new recommended workaround for this?

[2019-12-12 06:44] fbeltrao commented on #721
@ahmedelnably yes, this is working now. Thanks!

[2019-12-12 06:45] #721 closed

[2019-12-12 10:38] wisesimpson commented on #1680
@ahmedelnably Actually node is not a show stopper here. I can get the "unofficial" build from their official website and runs smoothly.
https://unofficial-builds.nodejs.org/download/release/v12.13.1/

Can you consider at least loading the x86 instead of x64 version for Windows ARM64? I assume this fix won't take much developing time. Then at least we can try to run it through emulator.

Thanks

[2019-12-12 11:06] danielcrisp opened #1710 "Error uploading archive (BadRequest)"
I'm no longer able to deploy my Azure Functions. I'm able to deploy to my `staging` slot but when I deploy to the main _slot_ I get the following error:

[code]

I've tried with the CLI and the VSCode extension.

`func` version: 2.7.1948. Running on OSX 10.14.6

[2019-12-12 12:05] danielcrisp commented on #1710
If I use this command:

    az functionapp deployment source config-zip  -g myResourceGroup -n \
<app_name> --src <zip_file_path>

I get this error:

[code]

[2019-12-12 19:00] ankitkumarr commented on #1710
A few questions that would help us debug --
1. What plan are you on? (App Service, Elastic Premium, Consumption)
2. What command are you running for publishing with any flags?
3. Would you be able to share your function app name and a time period for when you saw this issue?

[2019-12-12 20:00] danielcrisp commented on #1710
Hiya,

1. Function App - App Service - Standard. Is that enough?
2. Command is shown above, but here it is with the exact values:

[code]
3. App name is `bdx-functions` and it was happening this morning between 10am-12pm UTC

[2019-12-12 20:28] ankitkumarr commented on #1710
Would you mind sharing the `func azure functionapp publish` command that you used above?

[2019-12-12 21:31] danielcrisp commented on #1710
It was this:

[code]

By the way this command works fine:

[code]

Deploying to staging isn't a problem.

[2019-12-12 22:42] yojagad commented on #1704
Please find the binaries here
https://github.com/Azure/azure-functions-core-tools/releases/tag/3.0.1975

[2019-12-12 22:42] #1704 closed

[2019-12-13 18:48] ahmelsayed commented on #239
Closing stale issue. Please reopen a new one if you are still seeing the same issue.

[2019-12-13 18:48] #239 closed

[2019-12-13 18:49] ahmelsayed commented on #291
to run individual functions you can do `func start --functions "{comma seperated list of functions to load}"`

[2019-12-13 18:49] #291 closed

[2019-12-13 18:50] #343 closed

[2019-12-13 18:50] #399 closed

[2019-12-13 18:50] #400 closed

[2019-12-15 14:06] nojaf opened #1717 "Tag 3.0.2 as latest on node package repository"
Both [npmjs.com](https://www.npmjs.com/package/azure-functions-core-tools) and [yarnpkg.com](https://yarnpkg.com/en/package/azure-functions-core-tools) list the 2.x version as the latest.
Please update this.

![image](https://user-images.githubusercontent.com/2621499/70863813-4b541a80-1f4c-11ea-8fc4-5600a80bd284.png)

![image](https://user-images.githubusercontent.com/2621499/70863818-58710980-1f4

[2019-12-16 19:16] ahmedelnably commented on #1717
This is by design, we are going to switch the latest version to v3 early next year.

[2019-12-16 19:16] #1717 closed

[2019-12-16 19:47] ahmedelnably commented on #245
Closing this as stale, if this is still happening with the new version please open a new issue

[2019-12-16 19:47] #245 closed

[2019-12-16 19:49] ahmedelnably commented on #316
We have added a number of enhancements to this code path, closing this as resolved

[2019-12-16 19:49] #316 closed

[2019-12-16 19:50] ahmedelnably commented on #462
Closing as stale, please open a new issue if the error is still happening on the latest version

[2019-12-16 19:50] #462 closed

[2019-12-16 19:53] ahmedelnably commented on #837
Closing as stale

[2019-12-16 19:53] #837 closed

[2019-12-16 19:53] ahmedelnably commented on #504
Closing this as stale, if the behavior still repro, please open a new issue

[2019-12-16 19:53] #504 closed

[2019-12-16 19:54] #748 closed

[2019-12-16 19:55] ahmedelnably commented on #943
Closing as stale

[2019-12-16 19:55] #943 closed

[2019-12-16 19:58] ahmedelnably commented on #1097
cc/ @amamounelsayed to validate and close if it is no longer an issue

[2019-12-16 19:58] #1101 closed

[2019-12-16 20:00] ahmedelnably commented on #1121
Closing as stale, please upgrade to the new version and open a new issue if the error persists

[2019-12-16 20:00] #1121 closed

[2019-12-16 20:00] ahmedelnably commented on #1122
Closing as stale, please upgrade to the new version and open a new issue if the error persists

[2019-12-16 20:00] #1122 closed

[2019-12-16 20:01] ahmedelnably commented on #1123
We have added support for remote build, please upgrade to the latest version and open a new issue if the error persists

[2019-12-16 20:01] #1123 closed

[2019-12-16 20:07] ahmedelnably commented on #1360
Closing this as the work to gather telemetry has been done

[2019-12-16 20:07] #1360 closed

[2019-12-16 20:08] ahmedelnably commented on #1559
@jeffhollan and @ahmelsayed this should now be closed ... right?

[2019-12-16 20:09] ahmedelnably commented on #1581
@Lawiss can you please make sure that you have the x64 version of the tools installed and retry debugging.

[2019-12-16 22:24] ankitkumarr opened #1718 "Publish using remote build and then local build Elastic Premium Linux"
This doesn't work well, as remote build sets artifacts for the platform for "ExpressBuild", which takes precedence over `WEBSITE_RUN_FROM_PACKAGE`. So, once ExpressBuild is done, it always takes over any other type of packaging.

This may be a bug well suited for kudu, however creating here to track.

[2019-12-16 22:26] ankitkumarr commented on #1718
@anirudhgarg @Hazhzeng as fyi

[2019-12-16 22:44] amamounelsayed commented on #1097
It is working on the latest version.
Please let us know if you still face the same issue. @caserzer

[2019-12-16 22:44] #1097 closed

[2019-12-17 00:20] ankitkumarr commented on #1612
I did some tests, and it turns out recent changes in deployment with remote build in place, this is mostly taken care of.

Today, it should work fine for --
1. All Elastic Premium and Dedicated scenarios
2. Linux Consumption with remote build

The only way this does not work is Linux Consumption with `--build local` and `--build-native-deps`. The work we are doing will take care of `--build-native

[2019-12-17 01:45] soninaren commented on #1306
Yes, I will have to break this down into smaller work items to take it up as part of sprints.

[2019-12-17 01:53] soninaren commented on #428
Changing the title to reflect the remaining issue. `func int` and `func new` should support F# templates.

[2019-12-17 01:54] soninaren commented on #1628
This is now supported. VS should download x64 bits automatically from 16.4.

[2019-12-17 01:54] #1628 closed

[2019-12-17 02:19] balag0 commented on #1612
Is the zip file built using "--build local" mountable?

[2019-12-17 06:09] maartenba commented on #1699
Looks like this was shipped?

[2019-12-17 09:11] sevenam commented on #1100
If anyone else run into this problem, try updating  `azure-functions-core-tools` and/or `azure-cli`

[2019-12-17 09:57] soninaren commented on #1699
Yes, this has been shipped. Core tools should now be referring the latest templates.

[2019-12-17 09:57] #1699 closed

[2019-12-18 03:22] ankitkumarr opened #1724 "If too many subscriptions are available, core-tools may fail to find the app"
This is because `azure-functions-core-tool` uses "https://management.azure.com/subscriptions" to get  all the subscriptions. This API, similar to other ARM API, may return partial result with a `nextLink` to an API for next set of results.
Today, we completely ignore that. We need to handle this case.

We started doing this in the past to query function apps. But since we moved to "ARG", it wasn't

[2019-12-18 06:46] ahmelsayed opened #1725 "Sorry about the lock bot notifications."
I should have planned this better.

[2019-12-18 13:09] sschmeck opened #1726 "Support for creating the zip archive only"
When using Azure Functions Core Tools in conjunction with Terraform, you have to create the uploaded zip archive manually. Since `azure-functions-core-tools` already implemented the logic to create the archive, the archive could also be saved as file, provided via CLI, e.g. as `--zip-only` option.

https://github.com/Azure/azure-functions-core-tools/blob/dab8daca606d1a6f398b01b6f29ce8f081c34ec9/sr

[2019-12-18 15:57] Anthony-Breneliere opened #1727 "Cannot start/debug a python function app in a vscode workspace's subfolder anymore"
Hello,

The issue happened when upgrading **azure-functions-core-tools** to **2.7.1948**

To start/debug my python azure function, I allways used the following task:

[code]

The AlarmScoringFuncApp folder contains host.json the python modules of my functions.

${workspaceFolder} contains some other related projects, and it is the root of the GIT repository.

Here is the detail of the exception:

[2019-12-18 17:23] brandonh-msft commented on #1489
personally I'd appreciate a way to run `func host start --content <path to my function's root dir>` so I don't have to `cd` to the dir before running `func`

[2019-12-18 17:50] Anthony-Breneliere commented on #1727
Is there a way to avoid stopping on each exception in %userprofile%\AppData\Roaming\npm\node_modules\azure-functions-core-tools\bin\workers\python ?

There are around 21 exceptions at each project launch.

[2019-12-18 20:15] #1725 closed

[2019-12-18 21:17] ankitkumarr commented on #1726
We don't have full documentation for this, but you could also use `func pack` which should create a zip file. `func pack` takes parameters similar to `func azure functionapp publish`.

[2019-12-19 06:00] #1685 closed

[2019-12-19 07:56] sschmeck commented on #1726
Thanks for the suggestion. I didn't know the `pack` action. But the zip archives generated by `pack` and uploaded by `azure functionapp publish` differ.

It seems that `pack` adds most of the root directory to the archive (e.g. `node_modules`). The method `ZipHelper.GetAppZipFile()` is called differently by both actions. Whereas the method is called with `ignoreParser` by the `PublishFunctionAppAc

[2019-12-19 10:50] davidpodhola commented on #401
Same here. Fix:

`chmod 755 /home/$USER/.npm-global/lib/node_modules/azure-functions-core-tools/bin/func`

[2019-12-19 17:01] predatorian3 commented on #1581
I am also getting this error because the security software on my machine is blocking the usage of `0.0.0.0:7071` instead of `127.0.0.1:7071`. I tried to set `export HOST=localhost` but I got the same error.  It would seem that its not actually listening on localhost, its listening on all external/global connections rather than localhost.

[2019-12-19 17:19] predatorian3 commented on #1580
I am using MSYS2 on Windows 10 with my company security software blocking the use of `0.0.0.0:7071` instead of actually using `localhost:7071` or `127.0.0.1:7071`. This has been confirmed by using things like Jupyter Notebook and such where they can listen locally, but not on `0.0.0.0` connections, those get blocked.

I set

[code]
on my MSYS2 terminal and it did not work. If these tools allowed f

[2019-12-19 17:22] predatorian3 commented on #1581
Related to: https://github.com/Azure/azure-functions-core-tools/issues/1580

[2019-12-19 17:31] predatorian3 commented on #1580
I tried this using CMD.exe outside of GitBash or MSYS2, and it seemed to work now. I'm not sure why its working this time.

[2019-12-19 19:23] ahmedelnably commented on #736
@semchev we are sorry for the bad experience, if you decide to give Azure Functions another try we are here to support you.

[2019-12-19 19:23] #736 closed

[2019-12-19 19:26] ahmedelnably commented on #1591
@devslb, can you please use choco to install the 32-bit version of the tools? NPM installs the 64-bit version of the tools and that may cause issues on 32-bit versions of Windows

[2019-12-20 08:18] danielcrisp commented on #1710
I think there was some kind of temporary problem on Azure as this has now resolved itself. I opened a ticket within the Portal, so I'll close this.

[2019-12-20 08:18] #1710 closed

[2019-12-20 08:52] Ba4bes opened #1731 "PowerShell: can't load Microsoft.PowerShell.Utility."
I have the same error as mentioned in [this issue](https://github.com/Azure/azure-functions-core-tools/issues/1288).

`[Process:4688]: PS C:> The module 'Microsoft.PowerShell.Utility' could not be loaded. For more information, run 'Import-Module Microsoft.PowerShell.Utility'.
At line:0 char:0`

`[Process:4688]: PS C:> Debug-Runspace : The term 'Debug-Runspace' is not recognized as the name of a cm

[2019-12-23 22:38] TroyWitthoeft opened #1732 "Empty/blank settings value causes func.exe insufficient memory error"
Creating a new Azure Functions project in VSCode and adding a empty local.settings.json value `"":""`

![image](https://user-images.githubusercontent.com/1102958/71382836-b5516d00-25a7-11ea-99af-73ba8dc490e2.png)

and starting a debug sessions causes func.exe to fail with the following error `Insufficient memory to continue the execution of the program.`

![image](https://user-images.githubusercon

[2019-12-24 06:35] sumanreddyk opened #1733 "Error: self signed certificate in certificate chain behind corporate proxy"
I did the below set up and ran npm install
1. **Setup config properties**
npm config set proxy http://proxy.*.*.com:8080
npm config set https-proxy http://proxy.*.*.com:8080
npm set strict-ssl false
npm config set NODE_TLS_REJECT_UNAUTHORIZED=0
2. **Modified Azure function core tools code as per** [reference](https://github.com/Azure/azure-functions-core-tools/commit/3f5716a5efc6601865c69115bf71bc

[2019-12-24 10:27] nojaf opened #1734 "Could not find file 'publish\host.json'"
I'm trying to publish an F# function using

[code]

func version: 3.0.2009

What am I missing here?

[2019-12-26 19:00] #1581 closed

[2019-12-26 19:03] ahmedelnably commented on #1732
@TroyWitthoeft thanks for finding this issue, we do accept contributions from the community and we will be happy reviewing and merging your PR :)

[2019-12-26 21:00] #1591 closed

[2019-12-26 22:18] ankitkumarr commented on #1612
No it is not. We discussed offline, and I was seeing issues due to an unrelated bug. This is merged and should be available in the next release.

[2019-12-26 22:18] #1612 closed

[2019-12-26 22:23] ahmedelnably commented on #125
This is highly unlikely to be done, logs comes from the host.

[2019-12-26 22:23] #125 closed

[2019-12-26 22:26] ahmedelnably commented on #94
@fabiocav is this still relevant?

[2019-12-26 22:28] fabiocav commented on #94
I don't think this is something we should be tracking anymore. The workflow has changed since this was opened.

Let's close and we can reevaluate later if needed.

[2019-12-26 22:28] #94 closed

[2019-12-26 22:29] ahmedelnably commented on #350
Closing this as stale, please open a new issue if this is still persistent with the new version of the core tools

[2019-12-26 22:29] #350 closed

[2019-12-26 22:29] ahmedelnably commented on #383
Closing this as stale, please open a new issue if this is still persistent with the new version of the core tools

[2019-12-26 22:29] #383 closed

[2019-12-26 22:38] ahmedelnably commented on #619
Closing this as stale, please open a new issue if this is still persistent with the new version of the core tools

[2019-12-26 22:39] ahmedelnably commented on #410
https://github.com/Azure/azure-functions-core-tools/issues/501

[2019-12-26 22:39] #410 closed

[2019-12-26 22:45] ahmedelnably commented on #1007
@ankitkumarr is this still valid?

[2019-12-26 22:45] ahmedelnably commented on #980
Closing this as stale, please open a new issue if this is still persistent with the new version of the core tools

[2019-12-26 22:45] #980 closed

[2019-12-26 22:46] ahmedelnably commented on #952
@Francisco-Gamino Is this still valid?

[2019-12-26 22:47] ahmedelnably commented on #942
@ankitkumarr, do we need this with the server side build?

[2019-12-26 22:49] #874 closed

[2019-12-26 22:49] #852 closed

[2019-12-26 22:50] ahmedelnably commented on #823
@ColbyTresness can you please track this with VS team?

[2019-12-26 22:50] ahmedelnably commented on #793
@soninaren is this still valid?

[2019-12-26 22:51] ahmedelnably commented on #1181
Closing this as stale, please open a new issue if this is still persistent with the new version of the core tools

[2019-12-26 22:51] #1181 closed

[2019-12-26 22:55] #1120 closed

[2019-12-26 23:08] ankitkumarr commented on #942
We do caching today if using local build. It's still a valid issue for remote build scenarios. However, remote build is fast enough, IMO, that this is not as big a concern anymore.
It used to be a bigger issue with us spinning a docker container for each deployment in local build.

We can revisit this, if we hear user feedback around it.

[2019-12-26 23:12] TroyWitthoeft commented on #1732
PR #1735 created.

[2019-12-26 23:22] ahmedelnably commented on #283
Closing this, will be tracked in #217

[2019-12-26 23:22] #283 closed

[2019-12-26 23:26] TylerLeonhardt commented on #952
Looks like I made this change a year ago.

https://github.com/Azure/azure-functions-core-tools/commit/d7733ab0ab8e401e314ff08eebb5ea1dae0801c9

[2019-12-26 23:28] TylerLeonhardt commented on #952
If you folks have telemetry hooks, it'd be interesting to see how many folks use Azure PowerShell to login.

Surely not as much as Az CLI since most of your docs recommend CLI (which should really be fixed... Since Azure offers both) but it'd be really good data.

[2019-12-26 23:31] ahmedelnably commented on #952
@TylerLeonhardt will close this, I don't think we have the data on which tool is being used for login
@ankitkumarr adding login provider to our telemetry would be great for future improvements

[2019-12-26 23:31] #952 closed

[2019-12-27 14:37] phillipsj opened #1736 "func kubernetes deploy command failes when using Docker installed as a snap."
When I run the command

[code]

I get an error similar to this:

[code]

OS: Ubuntu 18.04.3
Docker Snap: latest/stable 18.09.9

When I install Docker as a deb package the error goes away.

[2019-12-27 15:13] phillipsj opened #1737 "func kubernetes install issue when an option is mistyped"
When executing the kubernetes install command with a malformed option it still executes. The example I have is that I mistyped the namespace option using just a single hyphen.

[code]

What happened is that everything was installed in the default namespace. It would be nice if this would error as an invalid option.

[2019-12-28 20:40] chesteryang commented on #1440
Mark it for notifying me when it is resolved. It is indeed an annoying issue.

[2019-12-29 08:54] meds opened #1738 "Azure Function restarts host on start up causing it to crash out on MacOS when using --language-worker -- "--inspect=5858" flag"
Very reasy repro, just try to run the following;

[2019-12-30 19:43] soninaren commented on #793
@ahmedelnably, i think this is still valid. I don't see a command related to proxy in core tools.

[2019-12-30 21:57] jublair opened #1739 "Uninformative error on multiple debug host port conflict"
I am currently debugging multiple Azure Function Apps in Visual Studio 2019 using Azure Functions 1.0.31 on NuGet. Upon launching multiple projects in debug mode, one application will start up successfully, whereas the other one will crash with the following text:

![image](https://user-images.githubusercontent.com/46575433/71562055-69da0b80-2a4c-11ea-8fe9-f3a3134804f5.png)

I've found out that se

[2020-01-02 19:03] soninaren opened #1740 "Fetch templates from tooling feed instead of hard coding"
We need to look up the latest release for the corresponding runtime and download the VS and Scripting templates

https://github.com/Azure/azure-functions-tooling-feed/blob/master/cli-feed-v3.json

**Example**
Get latest release version for v3 (`tags -> v3 -> release -> 3.2.0`)
- https://github.com/Azure/azure-functions-tooling-feed/blob/d833d6c709a1654508bd53a5ef1f47e2caeab63b/cli-feed-v3.json#L60

[2020-01-03 07:57] Flanker32 opened #1741 "Func extensions install broken with dotnet v3.1"
### Environment:
OS Name:     Windows
OS Version:  10.0.18363
Function core tools: 2.7.1948
Dotnet: .NET Core SDK 3.1.100

### Description
Command `func extensions install` will failed with dotnet 3.1, changed to dotnet 2.* and it works well

### Error messages

C:\Users\hanli\.nuget\packages\microsoft.azure.webjobs.script.extensionsmetadatagenerator\1.1.0\build\Microsoft.Azure.WebJobs.Script.Exte

[2020-01-03 18:16] ahmedelnably commented on #1741
@soninaren to comment

[2020-01-06 07:34] maartenba opened #1744 "Latest release on GitHub does not list any binary assets?"
Similar to #1704 and #1471, but for [`3.0.2009`](https://github.com/Azure/azure-functions-core-tools/releases/tag/3.0.2009)

The latest release is missing the compiled binaries, and only contains the source.

Could this be added as part of the release steps to ensure the binaries are present for future releases?

[2020-01-06 20:57] ankitkumarr commented on #1744
Sorry about that. That one's on me. I just added them.

We have automated most of the release process and should always have binaries attached. This was an ad-hoc release and I forgot to add the binaries.

[2020-01-06 20:57] #1744 closed

[2020-01-06 21:48] madelinegordon opened #1745 "core-tools .funcignore does not ignore sub-directories when it should"
There are multiple issues with the current implementation of the .funcignore parser:

-  When for example `test2` is included in the .funcignore file, it should ignore `/test2` and `abc/test2`
(this is also the case for when `/test2` is included in the .funcignore file.

-  When `test/` is included in the .funcignore file, the directory `a/test` should be ignored.

[2020-01-06 22:54] #1507 closed

[2020-01-07 06:36] #1724 closed

[2020-01-07 09:02] maartenba commented on #1744
Thanks @ankitkumarr ! 🤗

[2020-01-07 19:42] fabiocav commented on #1733
Needs additional investigation.

@sumanreddyk can you clarify what you've done in step 2? This is something that has been part of the core tools since early 2.0 betas, so no additional action should be required. Also, what is the installation command you're using?

[2020-01-07 19:43] fabiocav commented on #1741
@soninaren can you please take a look here?

[2020-01-07 19:50] fabiocav commented on #1734
Could you please share a repro with the F# project you're using?

[2020-01-07 21:23] Burnett2k commented on #1440
I'm running into this issue as well. It is really difficult to follow what is happening in the console because there is a huge amount of info being logged. Most of the time, I just want to see my own logging statements and not the debug stuff, so it would be great to add that as some type of configuration.

[2020-01-07 21:33] JacksReacher opened #1747 "STOP AUTO-COLLECTING TELEMETRY --OPT IN NOT OUT"
Get a fricken clue.

[2020-01-07 21:56] nojaf commented on #1734
I was missing a `<Content Include="">` thing

[code]

[2020-01-07 21:56] #1734 closed

[2020-01-07 23:46] soninaren commented on #1741
Have added a  PR fixing this issue.

[2020-01-08 15:24] petrce opened #1749 "Microsoft.AspNetCore.DataProtection - IOC error"
After updating my function to v3 I get this error on startup:
[code]
This is my current setup:

* Microsoft Visual Studio Professional 2019 Version 16.4.2
* azure-functions-core-tools@3.0.2009

And this is my .csproj
[code]

Startup.cs file:

[code]

It was definitely working in 2.2
Downgrading Microsoft.AspNetCore.DataProtection packages do not help.
Running from VS or in the command line returns

[2020-01-08 15:30] sumanreddyk commented on #1733
@fabiocav I've added proxy logic in install.js, though I was not able to install azure-function-core-tools.
I have fixed this issue by adding setting up proxy and other variables (from step 1)globally.

Thank you very much for looking into the issue.

[2020-01-08 19:57] #1741 closed

[2020-01-08 21:03] iensu opened #1750 "Default node Dockerfile fails to build on azure-functions-core-tools@3: npm not found"
Building the default docker image fails with the error `npm: not found`.

How to reproduce:
1. `$ npm install -g azure-functions-core-tools@3`
1. `$ mkdir my-test; cd my-test`
1. `$ func init --worker-runtime node --docker --language javascript`
1. `$ docker build -t my-test .`

This above fails with `/bin/sh: 1: npm: not found`.

When adding the command `RUN ls /usr/bin/n*` one can see that it in

[2020-01-08 22:10] mhoeger opened #1751 "Add @types/node to dev deps in package.json?"
Per @burkeholland:
When the Azure Functions extension generates a TypeScript project, it doesn't add in @node/types by default. It seems like most developers would need this since you can't use `process` without TypeScript throwing an error. That said, it looks like `npm install` is done when the project is run the first time, meaning that people might still end up manually installing the @node/ty

[2020-01-09 13:17] OneCyrus opened #1752 "Azure Functions Host with http/2"
how can I run a function host locally with http/2 support? I would like to develop, test and run it OnPremise in http/2 mode. In the Portal we have the option to switch but I couldn't find a way with the core tools.

![image](https://user-images.githubusercontent.com/7747800/72070749-8dbe0c80-32ea-11ea-9371-62e91168e4e5.png)

[2020-01-09 16:18] francky-powerfactors commented on #1440
I too got this issue, I get lots of:

[code]

logged as information even though I got the host.json file setup pretty much like @jyn514.

It should be quit easy to disable those logs.

[2020-01-09 22:22] kulkarnisonia16 opened #1753 "Enable Python 3.8 support"

[2020-01-10 01:20] ankitkumarr commented on #693
We discussed this offline. We will not be changing the default of our package installer to install 64-bit version, to avoid a breaking change. However, as part of this work item, we will add an option to install 64-bit as well.

I am thinking of using a switch in `--params` param such as `--x64`, that we could handle in our powershell script `chocolateyinstall.ps1`., and download the right binarie

[2020-01-10 22:34] dariagrigoriu commented on #1747
We will look into options.

[2020-01-11 00:14] ankitkumarr commented on #1750
That's weird. I was able to reproduce. I will take a look at it. cc: @ahmelsayed

[2020-01-11 08:19] jeroenhabets commented on #693
@ankitkumarr, @madelinegordon shouldn't this new option be mentioned or rather recommended in the azure-functions-core-tools/README.md? Especially as I understand it will not become the default.

[2020-01-11 08:24] ankitkumarr commented on #693
@jeorenhabets, we will add it to the readme once we merge the change in, do a release and have it available for users.

[2020-01-13 14:24] TroyWitthoeft commented on #1732
I know it's only a small change for me, and a few folks, but I'm concerned PR 1735 might not make it in?    The dev branch is being updated underneath it.

[2020-01-13 16:22] lucax88x commented on #1750
Having same issue, for now using @2

[2020-01-13 19:38] #693 closed

[2020-01-13 19:49] ahmelsayed commented on #1752
I think the behavior might potentially be different from that on Azure. On Azure there is a reverse proxy that sits in front of the application that will always fallback to http1.1 for the upstream, as far as I know.

I do think it's still worth adding to the core-tools for local scenarios though.

[2020-01-14 17:28] AHarman opened #1754 "Unable to run "func durable..." commands when using hubName set in local.settings.json"
### Description
When hubName in host.json is set to a string like `%TaskHubName%` commands run locally that start with "func durable" always return the following message:

    Invalid container name. Check MSDN for more information about valid container naming.

### Expected behavior
The command to run normally, having retrieved the hubName value from the app settings.

### Actual behavior
The com

[2020-01-14 17:58] eaguadmeat commented on #1750
Any workaround?

[2020-01-14 20:00] iensu commented on #1750
@eaguadmeat we decided to use v2 of the core tools for now.

[2020-01-15 02:27] Camios opened #1755 "Visual Studio automatic installation"
When attempting to locally debug my Azure Function in Visual Studio, Visual studio shows a dailog that it is installing the Azure Functions CLI (i.e. Azure Functions core tools).

I'm behind a corporate proxy which appears to block the download (to some degree) and this process locks up Visual Studio (shows "not responding" in title).

We got around this by using a different network path, but some

[2020-01-15 04:38] Camios commented on #1755
I downloaded the zip release and did a file search on my drive and located this folder: C:\Users\<username>\AppData\Local\AzureFunctionsTools\Releases\2.43.0\cli_x64

Would deleting this force Visual Studio to attempt to redownload/reinstall?

Also how does Visual Studio (or should I) update the tools to a new version?

[2020-01-15 16:40] AndreaCuneo opened #1756 "System.Net.Http.Formatting.BaseJsonMediaTypeFormatter error with v3"
When upgrading from v2 to v3, we got the following new error:

`Method not found: 'Void System.Net.Http.Formatting.BaseJsonMediaTypeFormatter.set_SerializerSettings(Newtonsoft.Json.JsonSerializerSettings)'`

_This is working with v2._

I delved into details and looks like the problem arise from the fact that the RUNTIME loads v5.2.4 of  Microsoft.AspNet.WebApi.Client. That is a known "not working"

[2020-01-16 04:23] Camios commented on #1755
Other than the download/install of core tools having a bad threading design which locks up Visual Studio's UI, I think I'm OK.

[2020-01-16 07:27] akaroml opened #1757 "Failed to install core tools using homebrew on Mac"
Please see the logs below:

account@machine ~ `brew tap azure/functions`

account@machine ~ `brew install azure-functions-core-tools@2`

Error: No available formula with the name "azure-functions-core-tools@2"
==> Searching for a previously deleted formula (in the last month)...
Warning: homebrew/core is shallow clone. To get complete history run:
  git -C "$(brew --repo homebrew/core)" fetch --un

[2020-01-16 16:06] jonny-powell opened #1758 "Linux package repositories wildly out of date"
Can you please please update them.

[2020-01-16 17:59] christopheranderson opened #1781 "Host crashes with default typescript HttpTrigger template"
Using the default http template for typescript, the host crashes with a vague error message:

<details>

<summary> Error message (click for full log)

[code]

</summary>

[code]

</details>

#### Investigative information

Please provide the following:

Local issue, does not apply
<strike>
- Timestamp:
- Function App version (1.0 or 2.0):
- Function App name:
- Function name(s) (as appropriate):
-

[2020-01-16 18:02] ankitkumarr opened #1759 "Local python build using packapp should use sys.executable"

[2020-01-16 19:14] mhoeger opened #1761 "TS project gets JS package.json"
We've had a report that on func create, a package.json for a JS project was found instead of the correct TS one. Need to investigate how, but a TS project should always get the right TS-specific package.json!

[2020-01-17 00:53] sebader opened #1763 "HTTP-triggered Function can be triggered despite being disabled"
_Derived from Stackoverflow [question](https://stackoverflow.com/questions/57351710/disable-attribute-nor-application-settings-on-httptrigger-azure-function-not-wor)._

According to [this ](https://docs.microsoft.com/en-us/azure/azure-functions/disable-function#functions-2x---all-languages)article I disabled a HTTP-triggered function using an app setting

    "AzureWebJobs.Http2BlobFunction.Disabl

[2020-01-17 08:57] sebader opened #1765 "Keda / Kubernetes deployment broken?"
I just tried to deploy Function on Kubernetes (AKS) using [this ](https://docs.microsoft.com/en-us/azure/azure-functions/functions-kubernetes-keda)tutorial with the Core Tools (2.7.1948).

All looks ok in the beginning and also my Function gets deployed and is running. However, the Keda pod itself does not run - and I assume without that one running the whole scale logic etc. is not really working

[2020-01-17 09:56] janmechtel commented on #1239
I'm really eager to get this. It's so nice to be able to test Functions super fast in the Azure Portal, we need that locally as well!

[2020-01-17 10:46] mcopik opened #1766 "Function publish fails on newly created function app"
Hi!

When I try deployment to a new function app, immediately after creating it, the command `func azure functionapp publish ${NAME} --python --no-build` fails with an error stating that function app with provided name was not found. Curiously enough, the function app is visible in my storage account and I can publish the function after my script fails. Through trial and error I found out that ~30

[2020-01-17 16:12] jxmoore commented on #1765
I'm also having the same issue, it was previously working but when the container was redeployed it got hung up in this state. I have tried using different versions other than the latest but no luck yet.

console output is identicle to the above :
[code]

has anyone gotten around this?

[2020-01-17 20:00] soninaren commented on #1578
This is done

[2020-01-17 20:00] #1578 closed

[2020-01-20 09:48] v-dantch opened #1769 "Fail to install v2 of azure functions core tools on Mac"
**OS**: Mac

**Repro Step:**
Install Azure Functions Core tools by "brew install azure-functions-core-tools@2".

**Actual:**
Pop up an error.
![image](https://user-images.githubusercontent.com/34729092/72715992-76193a80-3bac-11ea-9869-dac0168875ec.png)

[2020-01-20 14:04] galgrunfeld-madtrix commented on #1591
I'm running a 64-bit Windows installation, Node.js 64-bit as well and am still getting this error.

[2020-01-20 17:42] adrianhall opened #1770 "Error when trying to publish to v3 runtime"
## Repro steps:
1) In Visual Studio Code, create a new function app with a JavaScript HTTP trigger.
2) Create a function app with the v3 runtime.  I use a Terraform template for this with `version = "~3"`
3) Verify (through Azure Portal) that the function app is actually v3 runtime.
4) `npm install --save-dev azure-functions-core-tools`
5) `node_modules/.bin/func azure functionapp publish appname`

[2020-01-21 04:02] andxu commented on #1769
`brew install azure-functions-core-tools` to install version 2

[2020-01-21 05:47] v-dantch commented on #1769
@andxu , thanks a lot for your share. Now we can succeed to install the v2 of func. And we will close this bug.

[2020-01-21 05:47] #1769 closed

[2020-01-21 06:57] michael-watson commented on #1757
see https://github.com/Azure/azure-functions-core-tools/issues/1769

[2020-01-21 07:52] akaroml commented on #1757
Thanks for the info. @michael-watson

I tried `brew search azure-functions`, and seems v2 is no longer available.
Then someone needs to remove the v2 related contents from https://github.com/Azure/azure-functions-core-tools/blob/dev/README.md

[2020-01-21 07:53] akaroml commented on #1769
I tried `brew search azure-functions`, and seems v2 is no longer available.
Please remove the v2 related contents from https://github.com/Azure/azure-functions-core-tools/blob/dev/README.md

[2020-01-21 09:48] galgrunfeld-madtrix commented on #1239
So still no news on this?

[2020-01-21 12:14] Erikvl87 commented on #1766
Is this related to my issue? https://github.com/Azure/azure-functions-core-tools/issues/1616

[2020-01-21 13:08] mcopik commented on #1766
@Erikvl87 Sounds about right. Recently I discovered that even 30 seconds sleep is not sufficient. Catching a failed command and repeating until success seems to be the only viable solution.

[2020-01-21 18:47] ggailey777 opened #1771 "'func new' creates new project with encrypted setting"
Repro:

1. Run `func new` without first running `func init`
1. Select any language and the default values.
1. View the local.settings.json file.

Issues:
+ `func new` succeeds without first calling `func init`.
+ Not all supported languages are shown as options, as they are in `func init`.
+ The `FUNCTIONS_WORKER_RUNTIME` value in local.settings.json is set to an encrypted value locally.

[2020-01-21 19:41] #1765 closed

[2020-01-22 00:21] ankitkumarr opened #1772 "Allow a custom script for local python build in docker scenario"

[2020-01-22 02:30] kulkarnisonia16 commented on #1681
@fabiocav @gzuber - "Use the up/down arrow keys to select a worker runtime"

[2020-01-22 21:16] soninaren opened #1773 "Update "Func extensions install" command to fetch the latest version from nuget.org"

[2020-01-22 21:27] fabiocav commented on #1250
@dariagrigoriu moving this to sprint 68, but still aiming to have this done by EOM

[2020-01-22 23:47] #1681 closed

[2020-01-23 01:06] ccwilkins opened #1774 "Checksums for Azure.Functions.Cli.linux-x64.2.7.1948.zip don't match up and can't unzip file"
Recently went to upgrade to 2.7.1948 for Linux. That said, when docker went to unzip the contents it failed and indicated that the files had additional bytes. Ended up running sha2 against the file and compared to what is in the .sha2 file you provide. Things don't appear to match up. Checked the previous version and they do match up. It also looks like the style of the file has changed so not sur

[2020-01-23 13:05] ccwilkins opened #1779 "2.7.2100 version gets permissions denied when performing publish"
This new version appears to be bad and also does not appear in apt-get. 2.7.1948 from apt-get works but as soon as I went to 2.7.2100 I get the error below when publishing.

`func azure functionapp publish {functionAppName}`

Error returned:

[code]

[2020-01-23 17:05] ansi4 opened #1780 "Error calling sync triggers (BadRequest) - python"
Hi there!

We are getting an error when publishing functions into some apps in West Europe. I think I've managed to fix it by adding some resource actions to the SP used to publish them before, but it doesn't seem to work any more.

Service Plan: Consumption
Command: `func azure functionapp publish $appName --python --build remote`

Logs (function name and storage acount url scraped):
[code]

[2020-01-23 18:48] Hazhzeng commented on #1753
PR is here https://github.com/Azure/azure-functions-core-tools/pull/1762

[2020-01-23 19:14] dariagrigoriu commented on #1780
Is it possible to share the Function App name for investigation?

[2020-01-23 19:17] dariagrigoriu commented on #1779
@mhoeger do you happen to know if this was added to apt?

[2020-01-23 19:26] mhoeger commented on #1779
Thanks Daria!

@ccwilkins - we haven't released this to pre-release yet and it's still just undergoing internal testing. Thanks for the early heads up!

[2020-01-23 19:27] dariagrigoriu commented on #1770
This looks like an issue with the error message which should be addressed. There is a tooling version mismatch, please see instructions for installing v3 here: https://github.com/Azure/azure-functions-core-tools/blob/dev/README.md.

[2020-01-23 19:31] dariagrigoriu commented on #1761
@mhoeger is there a repro to reference for this issue?

[2020-01-23 19:46] ccwilkins commented on #1779
Hi Marie,

Thank you for the update. Curious, how do I tell if a version is ready for usage here on the Github page? When I saw the release I assumed that it was ready for wide spread use. There is no indication that it is a version under test.

[2020-01-23 21:01] mhoeger commented on #1779
We just had the same discussion over here (cc: @yojagad )
In the future, we'll change the release order to not make the GitHub release until it's being released officially, but for this release, it's ready for wide spread use when it's available on npm, homebrew, and apt.

[2020-01-23 21:04] mhoeger commented on #1761
@christopheranderson - I know this was during a hackathon, but do you have a repro or potential repro steps?

[2020-01-23 22:10] ahmelsayed commented on #1774
It looks like the automation that was uploading the files to github screwed up somehow? It looks like all the files in that release are corrupted. @yojagad, @soninaren were there changes in that automation between that release and the current one?

@ccwilkins to answer your question, the sha2 is calculated here during build. It's using .NET's `System.Security.Cryptography.SHA256Managed` and be jus

[2020-01-24 00:17] yojagad commented on #1774
I updated the release with the correct files. You should be able to use the access those files now.

[2020-01-24 05:27] devslb commented on #1591
Thanks, ahmedelnably, it worked now after installing with choco

[2020-01-24 07:05] ansi4 commented on #1780
Hi Daria!

Thank you for looking into this. Actually I have just realized that this happened because we have the App stopped and that was the reason for that error (which makes sense, if I think about it). It might be helpful to get some more details when this kind of error happens, though.

Anyway, thank you and have a nice day!

Cheers,
Alex

[2020-01-24 07:05] #1780 closed

[2020-01-24 10:23] janmechtel commented on #1239
Everyone interested in this should consider switching the language to c# script for development purposes, works like a charm: https://stackoverflow.com/questions/59783914/how-to-speed-up-debugging-c-sharp-azure-function-locally-is

[2020-01-24 12:19] ccwilkins commented on #1774
Hi Ahmed,

Does this mean that the versions on apt-get are corrupt as well?

[2020-01-24 12:21] ccwilkins commented on #1779
Thanks for the update. So what is the latest recommended release of 2.7.X?

[2020-01-27 18:40] ankitkumarr commented on #1757
Hi, this should be working now. We never really had `azure-functions-core-tools@2`. `azure-functions-core-tools` by default was v2 and there was `azure-functions-core-tools@3`.

We updated the documentation before actually releasing `azure-functions-core-tools@2` tag. However, this should be resolved now. Sorry about that.

[2020-01-27 18:40] #1757 closed

[2020-01-27 19:07] ankitkumarr commented on #1774
@ccwilkins, no they should be fine. It was only the Github release with this issue.

@yojagad, is the automated upload issue resolved, if so I will close this issue.

[2020-01-27 19:09] yojagad commented on #1774
Yeah, that's resolved. You can close this issue

[2020-01-27 19:48] #1774 closed

[2020-01-27 23:40] gzuber commented on #1781
@christopheranderson Thanks for letting us know about this -- was `func-bot.zip` from our repo/resources? I've been trying to find it because it's missing a few things so we would need to fix that.

In the meantime, I've tested creating a TypeScript HttpTrigger function from the CLI and it works  (I'm using the latest CLI version 2.7.1948). Just make sure you run these commands in order:
[code]

[2020-01-28 13:35] dariustehrani commented on #1424
Any updates on this?

[2020-01-28 13:54] benc-uk commented on #1750
Same issue, might fall back to v2 but that doesn't like Node v12 so it's a problem

[2020-01-28 18:44] yojagad opened #1782 "Override prompts with choco publish"
Right now, following the steps https://github.com/Azure/azure-functions-core-tools/wiki/Core-Tools-v2-Release-Tasks to do a chocolatey publish, you get prompts for "build", "Test" and "publish" which makes it harder to automate them through devops. Specifying defaults for these steps during the step "python driver.py {version} " would be useful.

[2020-01-28 19:27] brandonh-msft opened #1783 "CLI output from `functionapp publish` should be machine readable"
When publishing a new function app, the output includes important information like Function Names, URLs, etc. These are very important to deployment pipelines and, as such, should be machine readable (e.g. JSON, XML, etc).

Would be beneficial to have a flag (e.g. `--output-format json`) that would output the result of `functionapp publish` in the desired format so it could be `stdin`'d to another

[2020-01-28 20:03] ahmelsayed commented on #1424
/cc @amamounelsayed

[2020-01-28 22:27] amamounelsayed commented on #1424
cc:  @kulkarnisonia16

[2020-01-29 09:44] benc-uk commented on #1750
Using this link https://mcr.microsoft.com/v2/azure-functions/node/tags/list
I looked what other tags/version of the docker image there were, when I tried the tag `3.0.13113-node12` the npm step didn't fail

[2020-01-29 09:52] benc-uk commented on #1758
Agreed. Ubuntu packages still at `2.7.1948-1`  😥
I want to upgrade to v3 without needing to manually get the zip, extract and mess with my PATH

[2020-01-30 16:51] nzthiago opened #1786 "JSON serialization differences locally and on Azure for Functions v3"
That code when run locally (from VS, or VS Code using latest npm based func v3 core tools) behave differently from when deployed to Azure.

Run locally and you get: (the highlighted property names have not been mapped)
[code]
Run in Azure and you get: (which is what I expect)
[code]

Locally I tested with core tools version 3.0.2009, and dotnet version 3.1.101. I noticed that locally the runtime w

[2020-01-30 22:22] Francisco-Gamino opened #1787 "Func init needs add a version (6 or 7) entry for the PowerShell function apps"
Func init needs add a version (6 or 7) entry for the PowerShell function apps

[2020-01-30 22:23] Francisco-Gamino commented on #1787
Func init needs add a version (6 or 7) entry for the PowerShell function apps.

cc: @anirudhgarg, @eamonoreilly, @AnatoliB

[2020-01-31 00:27] juliusl opened #1790 "Flag to skip AzureWebJobsStorage check"
For example if I have a settings.json like this:

[code]

And a trigger like this:

[code]

I shouldn't need AzureWebJobsStorage to exist, because I've explicitly set access to my function.

Today you can get around this if you do:  (via #205)

`set AzureWebJobsStorage="" && func start`

but I think a flag/setting might be easier to document.

[2020-01-31 13:28] RiccardoTisseur opened #1791 "func new connection failed error"
Hi,
I was following the steps here to build a Python Azure function https://docs.microsoft.com/en-us/azure/azure-functions/functions-create-first-function-python#feedback
but when I ran
`func new --name HttpExample --template "HTTP trigger"
A connection attempt failed because the connected party did not properly respond after a period of time, or established connection failed because connected hos

[2020-02-01 00:30] fabiocav commented on #1340
@anirudhgarg how do you want to assign this?

[2020-02-01 00:31] fabiocav commented on #1752
Closing as answered, but let us know if you need more information.

[2020-02-01 00:31] #1752 closed

[2020-02-01 00:34] fabiocav commented on #1754
Flagging this as a feature request.

[2020-02-01 00:37] fabiocav commented on #1755
@soninaren can you please share instructions on manual Core Tools installation for VS?

We'll also follow up with the VS team to properly handle the scenario.

[2020-02-01 00:43] fabiocav commented on #1758
Assigning this to the next sprint so we can have someone work with @ahmelsayed to add this step as part of the release flow.

[2020-02-01 00:51] fabiocav commented on #1786
Assigning for validation. Need to test this against the latest version of Core Tools (matching the Azure Hosted version) and investigate impact.

[2020-02-01 00:54] fabiocav commented on #1791
This command may indeed attempt to reach an endpoint to get the templates.

@soninaren do you expect this to happen for HTTP templates as well?

[2020-02-01 06:56] ahmelsayed commented on #1763
@brettsam is correct. The default authz handler in the cli [sets all requests to admin](https://github.com/Azure/azure-functions-core-tools/blob/5afacc827c2848e4debc23bb96604f1ffce09cc7/src/Azure.Functions.Cli/Actions/HostActions/WebHost/Security/CliAuthenticationHandler.cs#L23-L30) to bypass any auth, but I guess that does allow disabled functions to run.

[2020-02-01 07:20] anthonychu commented on #1763
OK thanks that makes sense. Does this mean it only affects HTTP triggered functions, and non-HTTP functions are correctly disabled by configuring the appropriate app settings?

I think one possible solution to this is to add a note to the doc to say this doesn't work for HTTP functions when run locally using Core Tools.

[2020-02-01 08:07] jongio opened #1792 "[v3] func init created project with netcoreapp3.0 not netcoreapp3.1"
Run:

`func init jgfn11 --csharp --worker-runtime dotnet`

Then:

`func new --name func1 --template "Http Trigger"`

And you get this in your csproj - shouldn't this be netcoreapp3.1? According to this: https://docs.microsoft.com/en-us/azure/azure-functions/functions-versions

Also shouldn't this use the latest version of the Sdk.Functions SDK, which is 3.0.3.

[code]

[code]

[2020-02-02 15:46] bboh opened #1793 "Azure.Functions.Cli.osx-x64.3.0.2106 breaks publish with permission denied"
The orignal upgrade was through homebrew. Then I verified with manual donwloads:
`wget https://functionscdn.azureedge.net/public/3.0.2009/Azure.Functions.Cli.osx-x64.3.0.2009.zip`
`wget https://functionscdn.azureedge.net/public/3.0.2106/Azure.Functions.Cli.osx-x64.3.0.2106.zip`

[code]

[code]

[2020-02-03 16:22] ccwilkins opened #1794 "Is dotnet still required or not?"
Currently in the latest Readme under known issues it indicates that dotnet is required in order to support extensions. However, if you click the requirements link it references (https://github.com/Azure/azure-functions-core-tools/issues/367) this particular piece of work is closed. It indicates that "extension bundles" now remove the need for dotnet. Can someone please clarify where we are at with

[2020-02-03 17:50] soninaren commented on #1791
The current code path attempts to get the latest bundle, in order to fetch the latest templates from the latest bundle. We should avoid this for http and timer trigger templates. This is expected for the current code path but we should fix it in upcoming releases.

[2020-02-03 22:20] ahmelsayed commented on #1763
That's correct.

[2020-02-03 22:21] ahmelsayed commented on #1794
/cc @soninaren

[2020-02-04 00:41] ahmelsayed commented on #1792
@soninaren can you update the v3 templates in this repo?

[2020-02-04 00:44] soninaren commented on #1792
Sure, will update the templates in the repo.

[2020-02-04 01:13] soninaren commented on #1794
@ccwilkins, Extension bundles does remove the requirement for dotnet for extension support. We have extension bundles documentation over here. https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-register#extension-bundles

I am working on a wiki that explains extension bundle in more detail. Will add it to the repository as soon as it is ready.

[2020-02-04 02:00] #1781 closed

[2020-02-04 10:44] lillheaton opened #1796 "Was unable to start. Microsoft.WindowsAzure.Storage: Service Unavailable`"
Running the template for TimerTrigger function fails with

`The listener for function 'Function1' was unable to start.
The listener for function 'Function1' was unable to start. Microsoft.WindowsAzure.Storage: Service Unavailable`

Azure Functions Core Tools (2.7.2100 Commit hash: 5afacc827c2848e4debc23bb96604f1ffce09cc7)
Function Runtime Version: 2.0.12961.0

local.settings.json is set to default

[2020-02-04 13:37] ccwilkins commented on #1794
Thanks for the information. Look forward to the README updates.

Is there an easy or automated way to switch from legacy extensions to extension bundles?

[2020-02-04 15:13] jabbera opened #1797 "Unable to debug Azure Functions"
I'm unable to debug azure functions. Every time I try to start in the debugger the following message shows up:

![image](https://user-images.githubusercontent.com/301208/73757224-eab8b100-4736-11ea-8203-576cd39bf64e.png)

I've reset all settings, repaired VS, and deleted the AzureFunctionsTools, and .templateengine folder.  I can still debug .net core console apps.

PLEASE HELP.

I'm not the only

[2020-02-04 19:41] mattpasco-microsoft opened #1798 "Azure Functions 2.7.2100-1, func azure functionapp publish fails with Error: Permission denied"
# Azure functions fails to publish with version `2.7.2100-1`
Issue occurred in Azure Devops pipeline at 5pm PST on 2/3/2020

Reproduced error locally.

***Current fix is to role back to `2.7.1948-1`***

### Output

With version `2.7.2100-1`

[code]

With version `2.7.1948-1`:

[code]

### Additional information
- AzDo Linux build agent
- Service Principal authentication via AZ CLI

***NOTE: 2.7.21

[2020-02-04 22:45] #1740 closed

[2020-02-04 23:02] Francisco-Gamino opened #1803 "Need to check for runtime and runtime version when publishing a function app"
Need to check for runtime and runtime version when publishing a function app

Scenario:
Locally, I create a PowerShell function app targeting PowerShell 7. When publishing the the app, check runtime and runtime version to make sure the settings get propagated to the cloud.

[2020-02-04 23:03] #1773 closed

[2020-02-04 23:04] Francisco-Gamino commented on #1803
cc: @soninaren @ankitkumarr @pragnagopa @AnatoliB

[2020-02-04 23:09] ankitkumarr commented on #1803
We do check "runtime" today, but not "runtime version". Is there a reason we want to check "runtime version" as well? Conceptually, we allow a user to be using node x locally while publishing to a node y app in Azure.
This may also be a small breaking change.

[2020-02-04 23:10] pragnagopa commented on #1803
Showing a warning and prompting user to continue publishing would improve user experience.

[2020-02-04 23:16] ankitkumarr commented on #1803
Maybe just a warning? Having a prompt would break existing scripts or user experience. If we have a strong reason for a prompt, maybe it'd be ok.

[2020-02-04 23:55] ankitkumarr commented on #1793
Sorry about that, as soon as this is merged, your issue should be fixed -- https://github.com/Azure/homebrew-functions/pull/48

To mitigate, you can do something like `chmod a+x  /usr/local/Cellar/azure-functions-core-tools@3/3.0.2106/gozip`.

[2020-02-05 00:00] eamonoreilly commented on #1787
The core tools should add an entry FUNCTIONS_WORKER_RUNTIME_VERSION as a local.settings.json value with a default ~7 during creation of the PowerShell app. If customers need to downgrade to ~6 for some reason, they can change the value manually.

[2020-02-05 00:41] anthonychu commented on #1796
Can you check if you can connect to the local emulator with [Azure Storage Explorer](https://azure.microsoft.com/en-us/features/storage-explorer/)?

[2020-02-05 00:46] anthonychu commented on #1797
@vijayrkn Is this something you've seen? Looks like a few people have run into this. Thanks.

[2020-02-05 00:59] anthonychu commented on #1580
@kurx78 Can you confirm if this is fixed for you as well? Thanks. /cc @AnatoliB

[2020-02-05 01:05] anthonychu commented on #1592
Closing in favor of https://github.com/Azure/azure-functions-host/issues/5087

[2020-02-05 01:05] #1592 closed

[2020-02-05 01:18] ankitkumarr commented on #1798
Hi, we are taking a look and will have a fix released as soon as we can.

In the meanwhile, you can mitigate by running `chmod a+x /usr/lib/azure-functions-core-tools/gozip`

`gozip` is an executable that is used and the permission denied error comes from it not have executable permissions. Manually adding that can fix your setup. We will release a new package with the right fix. Thanks!

[2020-02-05 02:40] pragnagopa commented on #1803
Prompting will be better as it would ensure users do not push code if runtime versions are incompatible.

[2020-02-05 05:44] Francisco-Gamino commented on #1803
We can add a new parameter. This way, if the parameter and its value are not present, we prompt.

[2020-02-05 07:16] lillheaton commented on #1796
@anthonychu, yes I'm able to connect to the emulator with the storage explorer. I can see the queues and storage tables, however the blob I have issues with connecting (503 service unavailable).

I'm also able to run azure functions with storage queue trigger for example. But not TimeTriggers

[2020-02-05 09:21] seed-of-apricot opened #1804 "Any `func` command does not work"
I installed the package globally, created a new project through VSCode extension and tried to run the sample without any changes. The error I get is:

[code]

So, how about `func` itself?

[code]

What happens in line 298...?
I installed both `2.7.2100` and `3.0.2106` but neither has worked.

[2020-02-05 11:42] bboh commented on #1793
Thanks! For reference .. I didn't see a way to increase the verbosity of the func cli to file a better problem report. Is there a switch or env variable that I am missing?

[2020-02-05 15:05] clizana opened #1805 "Debugging Azure Function Error (System.Private.CoreLib: The given key 'LogType' was not present in the dictionary)"
Hello,
I'm working with Python 3.6.9 and ADLSv2, using blob triggers.
When I switch to a blobstorage account instead of ADLSv2 works perfect so the problem is definitely related to ADLSv2.

Here is the log of my test:

Function Runtime Version: 2.0.12888.0
[2/5/20 2:51:47 PM] Building host: startup suppressed: 'False', configuration suppressed: 'False', startup operation id: '4a7d7027-3037-4031-a5

[2020-02-05 16:10] ThiruA1980 opened #1806 "Azure.Functions.Cli issue while using dependency injection in .NET Azure Functions"
Trying out Azure.Functions.Cli.win-x64.2.0.1-beta.34 (downloaded from https://github.com/Azure/azure-functions-core-tools/releases?after=2.6.1064) to punch out Azurre function build for x64 platforms.

Its working from for regular Azure function template but throwing run time exceptions when we incorporate dependency injection in .NET Azure Functions.

**Run time errors:**
_"A scripthost error occ

[2020-02-05 16:14] ThiruA1980 commented on #1806
Above issue encountered while trying with Azure function V2

[2020-02-05 16:16] ThiruA1980 commented on #1806
Above issue encountered while trying with Azure function V2  with TargetFramework 'netstandard2.0' as well as 'netcoreapp2.1'

[2020-02-05 18:11] Francisco-Gamino commented on #1787
cc: @ankitkumarr for FYI

[2020-02-05 21:33] fabiocav commented on #1758
@ankitkumarr to follow up with @ahmelsayed on this.

[2020-02-05 23:50] guojian83 opened #1809 "Version 2.7.2100 breaks function with extensions in Java"
Hi,

I have some functions written in Java. To be more specific, the functions use custom bindings.
It was all working fine previous.
When the core tool has been upgraded to 2.7.2100 on a dev box, the command mvn azure-functions:run complained about the custom binding:
**The binding type(s) 'xxx' are not registered. Please ensure the type is correct and the binding extension is installed.**
I also

[2020-02-06 12:56] Wyren commented on #1806
I got this exception while opening the portal page of our function. We seem to be getting multiple type load exceptions in different regions for different types of resources. Might be related?

Error:

The function runtime is unable to start. Microsoft.Azure.WebJobs.ServiceBus: Could not load type 'Microsoft.Azure.ServiceBus.Management.ManagementClient' from assembly 'Microsoft.Azure.ServiceBus, V

[2020-02-06 13:43] ThiruA1980 commented on #1806
Using Azure.Functions.Cli version 2.7.1724 resolved above issue

[2020-02-06 13:43] #1806 closed

[2020-02-06 13:44] ThiruA1980 commented on #1806
Using Azure.Functions.Cli version 2.7.1724 resolved above issue

[2020-02-06 13:53] juhan-kundla opened #1810 "3.0.2106: key vault references in local.settings.json stopped working"
After upgrading to 3.0.2106 the key vault references in the local.settings.json file stopped working for me. In previous version the references worked.

e.g:

{
    "Values": {
        "AzureWebJobsStorage": "@Microsoft.KeyVault(VaultName=aaa;SecretName=bbb;SecretVersion=123)"
    }
}

Now running the function app locally will fail with the following error:

$ func host start

[...]

Azure Functio

[2020-02-06 17:14] RiccardoTisseur commented on #1791
I find a way to overcome the corporate proxy, but now I have another error

n=2.0.12961.0, ProcessId=23524, AppDomainId=1, InDebugMode=False, InDiagnosticMode=False, FunctionsExtensionVersion=(null))
[06/02/2020 15:34:22] Loading functions metadata
[06/02/2020 15:34:22] 1 functions loaded
[06/02/2020 15:**34:22] A host error has occurred during startup operation 'd7f99706-f728-4ccc-be47-a53e32590b

[2020-02-06 18:32] soninaren commented on #1791
@RiccardoTisseur can you add the full text from the output?

[2020-02-06 20:00] ahmelsayed commented on #1809
/cc @soninaren @amamounelsayed

[2020-02-06 20:04] amamounelsayed commented on #1809
@guojian83 Can you please share your host.json?

[2020-02-06 20:06] amamounelsayed commented on #1809
cc @soninaren

[2020-02-06 23:08] guojian83 commented on #1809
Sure. I removed the extensionBundle from the host.json, reason being the problems of installing extensions.
`{
  "version": "2.0"
}`

When the host.json had the extensionBundle section, I received the following error when running _func extension install ..._
_No action performed. Extension bundle is configured in /Users/jianguo/W/Azure Function/Java2/ntt-functions/host.json._

[2020-02-08 07:39] DenisBalan commented on #693
@ankitkumarr as per last update of package in choco repo (Last Update: 04 Feb 2020)

x64 flag is present, therefor in this repo readme should be specified that for debugging in vscode, install of azure-functions-core-tools should be done with x64 params explicitly specified.
[code]

[2020-02-08 07:41] ankitkumarr commented on #693
@DenisBalan, yes I will do that when I get a chance. Or, we welcome any contribution as well. If be you'd like to assist with that, please feel free to make a PR :)

[2020-02-08 12:02] DenisBalan commented on #693
PR #1813 adds information about x64 installing from choco in README file.
fyi @jeroenhabets , @ankitkumarr please have a look :)

[2020-02-09 06:02] anthonychu commented on #1796
Timer triggers use blobs to ensure only one function app instance runs a given timer. Looks like there’s a problem with blobs in your storage emulator. Can you try resetting or reinstalling the emulator?

[2020-02-09 06:11] KhuongNtrd commented on #1409
https://github.com/Azure/azure-functions-core-tools/blob/5afacc827c2848e4debc23bb96604f1ffce09cc7/src/Azure.Functions.Cli/Common/AppSettingsFile.cs#L16-L34

https://github.com/Azure/azure-functions-core-tools/blob/5afacc827c2848e4debc23bb96604f1ffce09cc7/src/Azure.Functions.Cli/Common/AppSettingsFile.cs#L22

Bug while DeserializeObject<AppSettingsFile> but AppSettingsFile not had a parameterless c

[2020-02-09 06:51] anthonychu commented on #1794
@ccwilkins Try these steps to switch an existing project to bundles. Ensure you've committed the current state of your project in git before starting in case you need to roll back:
1. Check that all extensions you are using are in [bundles](https://github.com/Azure/azure-functions-extension-bundles/blob/master/src/Microsoft.Azure.Functions.ExtensionBundle/extensions.json).
1. Delete the `bin` and

[2020-02-09 15:42] ggailey777 commented on #1763
@ahmelsayed or @anthonychu does this note address this issue? https://github.com/MicrosoftDocs/azure-docs-pr/pull/103731

[2020-02-09 15:45] ggailey777 commented on #375
@snobu I agree that this is totally needed, especially for our quickstart documentation.
@ahmelsayed how to we get this feature work prioritized?

[2020-02-09 21:19] snobu commented on #375
I can take a shot at this.

[2020-02-10 18:33] fabiocav commented on #1797
@soninaren , FYI

[2020-02-10 23:59] mhoeger opened #1814 "Change package.json production build script for Oryx"
Change package.json "build:production" to be "build:azure" and remove func dependency

This will help wherever Oryx is being run: https://github.com/microsoft/Oryx/blob/master/doc/runtimes/nodejs.md#build

[2020-02-11 00:00] saedabdu opened #1815 "Deploying dotNet function to Kubernetes providing docker build args"
Hi all,

I'm new to Azure functions and Keda, but I have working experience with k8s - appreciate some assistance in below description.

**INFO**
[code]

**Description**:
Trying to deploy my dockerized dotNet function app on k8s, the app uses a custom dockerfile that facilitates the acquisition of credentials to restore NuGet packages hosted on private server feed with the help of Azure Artifacts

[2020-02-11 00:56] #1793 closed

[2020-02-11 02:00] bobjac commented on #1798
I am seeing a similar issue on version 3.0.2106 on Mac Osx

[2020-02-11 02:03] ankitkumarr commented on #1798
@bobjac, can you try reinstalling core-tool? We fixed the install script, and are in process of releasing a new version. In the meanwhile, re installs in old version for Mac package should also work.

[2020-02-11 13:36] SidBarker opened #1816 "Remote build failed!"
Hi all,

I'am using core tools on my Azure DevOps agents. I got there several azure functions definitions, which are then build as artifact and used during release pipelines.
Everything were working like a charm till last week when i realized that every try to build deploy new function finish with error like below:

[code]

My definition of a stage which install core tools and publish function.
[c

[2020-02-11 19:34] joshuapetryk commented on #1804
Getting same issue. It appears that the func.exe application is not getting installed via NPM. I worked around this by downloading the zip from https://functionscdn.azureedge.net/public/3.0.2106/Azure.Functions.Cli.win-x64.3.0.2106.zip and extracting it into the bin folder manually.

It appears to be an issue with the install.js script. I got the following error when installing via NPM

[code]

[2020-02-11 21:12] srini247 opened #1817 "Install func tools task failing in Azure Devops pipeline"
Hi - install func tools task is failing with the following error in the devops pipeline

##[error]Error: Failed to download func tools from location https://github.com/Azure/azure-functions-core-tools/releases/download/3.0.2106/Azure.Functions.Cli.win-x86.3.0.2106.zip. Error Error: Unexpected HTTP response: 404.

looks like the download path is change but not updated in Pipeline task.

[2020-02-11 21:19] soninaren commented on #1797
@jabbera Can you add a repro steps to the issue? A sample project that could repro's this issue would help a lot.

[2020-02-11 22:40] jabbera commented on #1797
@soninaren sigh. The saga of this is not pretty. The failure mode is even worse. I will do my best to tell you what happened. Happy to answer any questions or talk on the phone.

The tools cli download was taking over an hour on on our network. (More on this later) Visual studio would NOT wait the full hour. It would hang for about 1-2 minutes then return the unhelpful error above. It did this EVE

[2020-02-12 05:28] ankitkumarr commented on #1798
This is now resolved in a new version of `azure-functions-core-tools`.

[2020-02-12 05:30] ankitkumarr commented on #1779
The latest version released is 2.7.2184

The permission denied was an issue with our last release. This should now be fixed. Closing as resolved in 2.7.2184

[2020-02-12 05:30] #1779 closed

[2020-02-12 05:37] ankitkumarr commented on #1804
@joshuapetryk, your error is because you have `g` instead of `-g` in the install command. It needs to be `npm install -g azure-functions-core-tools@3 --unsafe-perm true`

@seed-of-apricot, are other npm packages working ok for you, if you have them? What happens when you do `C:\Users\apricot\AppData\Roaming\nvm\v13.7.0\node_modules\azure-functions-core-tools\bin\func --version`

Can you check the

[2020-02-12 05:44] ankitkumarr commented on #1805
@clizana, the core-tools transiently uses webjobs-sdk through the functions host. This is likely a host or webjobs-sdk issue. If the issue is indeed the one you tagged (which seems to be the case), as soon as that's fixed and released, the next core-tools release would have the fix too.

I am closing this as dup of https://github.com/Azure/azure-webjobs-sdk/issues/2395

Please let us know if you h

[2020-02-12 05:44] #1805 closed

[2020-02-12 05:44] anthonychu commented on #1817
The [Azure DevOps FuncToolsInstallerV0 task](https://github.com/microsoft/azure-pipelines-tasks/tree/master/Tasks/FuncToolsInstallerV0) checks [this feed](https://api.github.com/repos/Azure/azure-functions-core-tools/releases/latest) and downloads the Core Tools directly from GitHub releases. Looks like the 3.0.2016 release is missing the binaries in the assets. https://github.com/Azure/azure-func

[2020-02-12 05:46] ankitkumarr commented on #1816
@SidBarker, would you mind sharing your function app name and a time period when you saw the issue? We can take a look at our logs.

[2020-02-12 05:50] ankitkumarr commented on #1817
@srini247, what devops task are you using?

Ideally artifacts should be downloaded from our CDN, and not Github releases. Example - https://functionscdn.azureedge.net/public/3.0.2106/Azure.Functions.Cli.win-x64.3.0.2106.zip

Either way, we should add the artifacts in the release.

[2020-02-12 06:24] anthonychu commented on #1815
Instead of specifying `--registry`, which causes Functions Core Tools to run a docker build and push the resulting image to the registry, you can manually build the image by specifying custom build args and push it to the registry yourself.

Then you should be able to run `kubernetes deploy --name some-func-app --image-name DOMAIN.azurecr.io/somefuncapp:latest` to deploy it.

If you're having trou

[2020-02-12 06:36] anthonychu commented on #1810
This error is expected as Key Vault references are not yet supported locally. Please use plain text connection strings in local.settings.json or environment variables.

[2020-02-12 06:42] ankitkumarr commented on #1817
We uploaded the release artifacts, and created this issue in the DevOps task https://github.com/microsoft/azure-pipelines-tasks/issues/12342

Ideally, the task should use `cli-feed-v3.json` to get the latest version. That said, we will try our best to ensure all releases have proper artifacts.

[2020-02-12 06:42] #1817 closed

[2020-02-12 15:40] sbollap1 commented on #1299
any update on this? or any workaround. i am running into this issue. when i try to run the func deploy. appreciate it

[2020-02-12 16:55] cparker4486 commented on #1796
I'm facing a similar issue and I'm hoping the resolution for my issue is the same for this issue's resolution.

This is the error I am getting after running `func host start`.

![image](https://user-images.githubusercontent.com/1189638/74357459-cda66280-4d74-11ea-85f6-b78d2a67e7ce.png)

I did my best to follow your advice of "resetting or reinstalling the emulator". I tried resetting because I had

[2020-02-12 19:08] juliusl commented on #1790
@fabiocav Added a PR that addresses this. Let me know what you guys think.

[2020-02-12 20:00] EricJizbaMSFT opened #1821 "func.ps1 is not digitally signed. You cannot run this script on the current system."
_originally filed by @hdd42 in https://github.com/microsoft/vscode-azurefunctions/issues/1888_

Hi, I'm trying to run/test my function locally through vs code. I've installed azure function core tools@3 via npm the function I'm trying to test is a timer function.

Both hitting F5 to start debug mode or func host start from terminal failing and getting this error :

[code]

looks like it  complains

[2020-02-12 20:01] EricJizbaMSFT commented on #1821
Also related to https://github.com/microsoft/vscode-azurefunctions/issues/1678. It _seems_ like this is a v3 only problem, but not entirely sure.

[2020-02-12 20:23] ahmelsayed commented on #1821
That file, as well as `func.cmd`, are created by npm itself. I'm not sure how much control we can have over these files, but we could check if there is a way to sign them.

[2020-02-12 21:27] jeroenhabets commented on #693
@DenisBalan I cannot test (yet) but the new #### Notice is nice!

[2020-02-13 00:07] ankitkumarr commented on #1758
Had a chat with Ahmed offline. We need to have a new package name for v3 such as `azure-functions-core-tools-v3` and then update our packaging script to account for that.

The package script should create a file `azure-functions-core-tools-v3_<version>.deb`, then we can use the release process that we have today to upload them to the appropriate servers.

[2020-02-13 09:55] jasonuithol commented on #1821
I was getting a related error message "Running scripts is disabled on this system" and sure enough the execution policy was set to restricted.   It happened when, in VSCODE, I pressed F5 to kick off a build & serve.

It was working fine, then I switched my default terminal shell from gitbash to Powershell and it stopped working and gave that error.  I switched back and it was fine again.

[2020-02-13 10:16] benc-uk commented on #1758
Why a different name? What happens when v4 or v5 comes out? Seems like you'll have a sprawl of packages and will confuse people

[2020-02-13 17:38] Basaingeal commented on #1804
I'm having the same problem. After installing with the `npm install -g azure-functions-core-tools@3 --unsafe-perm true` command, `func` calls don't work. There is no bin folder added to `azure-functions-core-tools` in `node_modules`.

This install process looks like this:
[code]

It never downloads a 219 MB zip and finishes in a few seconds.

[2020-02-13 19:08] fabiocav commented on #1821
Flagging this as triaged so we can investigate whether there's anything we can do to sign that file.

[2020-02-13 19:17] fabiocav commented on #1761
Closing this until we have more information to make it actionable.

[2020-02-13 19:17] #1761 closed

[2020-02-13 19:46] joshuapetryk commented on #1804
Thanks - Missed the -g switch. I am still getting the same issue though - the zip file doesn't actually download.

[2020-02-14 08:30] olillevik commented on #1700
I see the same error. The error disappears after removing these lines from host.json
`
    "extensionBundle": {
        "id": "Microsoft.Azure.Functions.ExtensionBundle",
        "version": "[1.*, 2.0.0)"
    }
`

[2020-02-14 12:17] tomkerkhove opened #1822 "func kubernetes install --namespace does not include API Server"
`func kubernetes install --namespace` does not include API Server.

See https://github.com/kedacore/keda/issues/628.

[2020-02-14 12:46] kepikoi opened #1823 "Cannot enforce `development` enviromnet. Always defaults to `production`"
The behavior described in https://github.com/MicrosoftDocs/azure-docs/issues/36045#issuecomment-516278405 is currently not reflected

Starting a node.js project always defaults to `Production` environment. Setting `AZURE_FUNCTIONS_ENVIRONMENT` via **local.settings.json** yields `An item with the same key has already been added. Key: AZURE_FUNCTIONS_ENVIRONMENT`. Right now I can't see how to start

[2020-02-14 17:21] #1559 closed

[2020-02-14 17:22] jeffhollan opened #1826 "Make Osiris opt-in for kubernetes install"
Today when you do `func kubernetes install` we install Osiris and KEDA.  We should just install KEDA and make Osiris opt-in

[2020-02-14 17:54] jeffhollan commented on #375
@ggailey777 I agree this is a really important thing. Was just an ask that when we do this we add a blurb similar to the VS Code one so folks know doing it this way will make it anonymous and link to somewhere they know how to opt back in.

[2020-02-14 19:31] snobu commented on #375
I have already completed some work on implementing `--auth`, seems to work out fine (hooks in before function.json is written to disk and changes authorization property on the fly),

however...

Every line of code i'm writing seems to be all kinds of wrong since i'm mixing template specifics with tooling internal logic, which in my opinion should not mix (separation of concerns and all that).
Seco

[2020-02-14 21:24] brandonh-msft commented on #1798
@ankitkumarr when can we expect a new release w/ the fix?

[2020-02-14 22:11] ankitkumarr commented on #1798
@brandonh-msft, this is already released - `2.7.2184` (https://github.com/Azure/azure-functions-core-tools/releases/tag/2.7.2184)

[2020-02-14 22:19] rodeoboy opened #1827 "Version of tools different when executed from command line versus debugging in Visual Studio."
![image](https://user-images.githubusercontent.com/17579430/74572957-29234c80-4f3d-11ea-9ee1-0af72d93b8db.png)

Visual Studio has been updating the tool version on a regular basis, but when I run func from the command line it's a much older version. How can I get the newer version execute by default?

[2020-02-14 22:37] rodeoboy commented on #1827
Figured it out. I did the original install using chocolatey, once I uninstalled it from the the latest version is displayed.

[2020-02-14 22:37] #1827 closed

[2020-02-14 22:56] soninaren opened #1828 "Throw an error if the customers with pre compiled function app have bundles configured"
Extension bundles should not be configured for functions using C# precompiled functions. It lead to a variety of issues and has a potential of users running into issues when ever we deploy a new version of extension bundle. Core tools should throw and error when it sees a host.json file with extension bundle configured in it.

[2020-02-14 23:26] gsshyam commented on #1798
Is this released to cloudshell?  I am getting error while creating archive for current directory...

[2020-02-14 23:33] gsshyam commented on #1779
cloud shell still have old version

[2020-02-14 23:36] ahmelsayed commented on #1822
/cc @SatishRanjan can you take a look?

[2020-02-14 23:39] ahmelsayed commented on #1823
the core-tools always forces development for `AZURE_FUNCTIONS_ENVIRONMENT` ([here](https://github.com/Azure/azure-functions-core-tools/blob/0be00ff457fe16962d86bfa0c34214e84558124a/src/Azure.Functions.Cli/Actions/HostActions/StartHostAction.cs#L196-L198))

You should be able to set `NODE_ENV` in local.settings.json

[2020-02-15 00:08] brandonh-msft commented on #1798
right, but note the comment about this being broken in 3.0.2106 as well - has the 3.x version been fixed?

[2020-02-15 01:23] #1794 closed

[2020-02-15 01:25] ahmelsayed commented on #1758
That's the only way to do proper versioning with breaking changes since .net has one every year.

[2020-02-15 21:44] jeffhollan commented on #1684
// @fabiocav adding this to triaged as it had fallen off our query. Really need to make sure we have chocolatey and apt-get updated.

[2020-02-15 21:51] mmulhearn commented on #1823
I'm finding that when running locally in VS 2019, functions runs as "Production", which is the opposite of what documentation says.  When I try to set `"AZURE_FUNCTIONS_ENVIRONMENT": "Development"`, I get the error `An item with the same key has already been added. Key: AZURE_FUNCTIONS_ENVIRONMENT`.  Setting `NODE_ENV` seems to do nothing.

Setup:
Azure Functions Core Tools (3.0.2106 Commit hash:

[2020-02-16 04:59] jeffhollan opened #1829 "kubernetes --No-docker flag doesn't actually get honored"
when running `func kubernetes deploy` you can specify "--no-docker".  It looks like it sets a flag that is never actually honored.  Would expect the behavior is that it would look at current directory to understand current triggers and generate a valid yaml.

https://github.com/Azure/azure-functions-core-tools/blob/bb3b1e1609e158388966b494225e7130a30e0608/src/Azure.Functions.Cli/Actions/Kubernetes

[2020-02-16 14:30] ColonelDumpling commented on #1798
Is there a workaround if doing the azure developer courses? Azure Cloud Shell is reporting permission denied when trying to create archive for current directory.

[2020-02-16 22:51] RichiCoder1 commented on #754
This would be great! A lot of CD providers have native support for Helm, but trying to make them work with `func` would be a lot more awkward.

[2020-02-17 07:48] jyoo commented on #1750
@benc-uk Thank you so much!
For someone who came here because of this issue (in my case, I followed [Create a function on Linux using a custom container](https://docs.microsoft.com/en-us/azure/azure-functions/functions-create-function-linux-custom-image?tabs=portal%2Cbash&pivots=programming-language-javascript), and encountered this problem), open `Dockerfile`and change the following should help y

[2020-02-17 10:33] DubiWork commented on #1821
This is a working workaround:
Run this command as an administrator in PS-
Set-ExecutionPolicy -ExecutionPolicy Unrestricted -Scope LocalMachine

the meaning and understanding this is all here:
https://docs.microsoft.com/en-us/powershell/module/microsoft.powershell.core/about/about_execution_policies?view=powershell-7

[2020-02-17 13:45] kepikoi commented on #1823
Version *2.7.2184* doesn't! Always starts with `Hosting environment: Production` despite `AZURE_FUNCTIONS_ENVIRONMENT=Development` and `NODE_ENV=development`.

[code]

[2020-02-17 23:05] #1759 closed

[2020-02-17 23:05] ankitkumarr commented on #1759
Closed by https://github.com/Azure/azure-functions-core-tools/commit/7fa44e5ab41a10a20bd696cfa6a3cf281820a7dc

[2020-02-18 09:17] Tjeerd-menno commented on #1804
I'm getting the same error.

I've used 'npm i -g azure-functions-core-tools@3 --unsafe-perm true' to install the tools from an elevated command prompt (Windows Terminal) it installs fine, but any func command results in the mentioned error.

uninstalling then reinstalling does not solve the issue.

[2020-02-18 14:40] sayertherebel commented on #1798
Also faced this issue in the Microsoft Learning Cloud Shell sandbox while attempting to follow the Azure Development course.

[2020-02-18 17:27] kepikoi opened #1830 "Microsoft.AspNetCore.Server.Kestrel.Core throw when using Set-Cookie workaround"
This comment https://github.com/Azure/azure-functions-host/issues/2737#issuecomment-435149672 describes a workaround for setting multiple cookies in a HTTP triggered function. Unfortunatly it doesn't seem to work in azure-functions-core-tools

#Repro

[code]

Calling this function yields `Microsoft.AspNetCore.Server.Kestrel.Core: Invalid non-ASCII or control character in header: 0x0020`. The `0x00

[2020-02-18 18:58] rodbutters commented on #1798
Is there an update on this fix in Cloud Shell - have a production customer trying to perform an update of their function apps and getting blocked on this. They perceive this as a stability issue and are considering moving from function apps back to lambda.

[2020-02-18 19:17] anthonychu opened #1831 "Azure Functions 3.x, func azure functionapp publish fails with Error: Permission denied"
@ankitkumarr

[2020-02-19 00:04] ahmelsayed commented on #1823
There are many different environments here.

Functions Runtime: This is configured using `AZURE_FUNCTIONS_ENVIRONMENT`. This is always `development` in the core tools.
Node Environment: This is configured using `NODE_ENV `. The core tools doesn't have a default for this. You can set it in your shell or local.settings.json
ASP.NET Core Environment: This is configured using `ASPNETCORE_ENVIRONMENT`.

[2020-02-19 00:07] #1810 closed

[2020-02-19 00:18] ahmelsayed commented on #1826
I'm just going to remove it all together.

[2020-02-19 01:25] mmulhearn opened #1834 "Print current AZURE_FUNCTIONS_ENVIRONMENT"
I'm finding that when running locally in VS 2019, functions runs as "Production", which is the opposite of what documentation says. When I try to set "AZURE_FUNCTIONS_ENVIRONMENT": "Development", I get the error "An item with the same key has already been added. Key: AZURE_FUNCTIONS_ENVIRONMENT."

Setup:
Azure Functions Core Tools (3.0.2106 Commit hash: 5431fca)
Function Runtime Version: 3.0.13107

[2020-02-19 08:00] #1816 closed

[2020-02-19 08:29] kepikoi commented on #1823
@ahmelsayed thank you for clarifying the different scopes but what I'm asking is that that azure-function-core-tools is not behaving like documented

This is not the case in `2.7.2184`. Here is a simple repro:

[code]

As you can see a freshly bootstraped `node` runtime function is starting with `Hosting environment: Production` and **not** `development`

[2020-02-19 17:30] mattpasco-microsoft commented on #1798
@ankitkumarr this should probably be reopened. The apt package provided by the Microsoft apt Repo still has the wrong version. Microsoft is in control of this repo and it is a major blocker for our customers. I understand the latest version has a fix but the current apt version on azure cloud shell and azure devops build agents is *not* the latest.

[2020-02-19 20:00] #1796 closed

[2020-02-19 20:14] ahmelsayed commented on #1823
That's because that log message is about ASP.NET environment, not Functions Runtime environment. Functions Runtime is indeed in development mode above. ASP.NET isn't. Those are the default ASP.NET logs.

I'm not sure if the ASP.NET environment (production vs development) has any particular implications for functions. https://github.com/Azure/azure-functions-host would be the place to ask about tha

[2020-02-19 20:15] ahmelsayed commented on #1834
It's always in Development when running locally. See https://github.com/Azure/azure-functions-core-tools/issues/1823#issuecomment-587966320

[2020-02-19 20:22] mmulhearn commented on #1834
Does it not log the environment?  Are we just to assume?

[2020-02-19 21:14] fabiocav commented on #1786
Moving this to sprint 70 as the release is still in progress.

[2020-02-19 21:21] fabiocav commented on #1758
@ahmelsayed is there a separate issue tracking this? Trying to understand if we should close this and assign the work in the proper repo.

[2020-02-19 21:26] ahmelsayed commented on #1758
I don't see any issues. @ankitkumarr is driving this as far as I know, right @ankitkumarr?

[2020-02-19 21:30] fabiocav commented on #1250
Targeting first half of sprint 70.

@dariagrigoriu @anthonychu we can share what exists now for validation while the last remaining issues are addressed.

[2020-02-20 06:06] drmiru opened #1836 "Possible regression: https://github.com/Azure/azure-functions-core-tools/issues/1457 (Error calling sync triggers (BadRequest))"
Hi

I'm getting this error since yesterday when trying to publish functions to a consumption plan in westeurope.

func azure functionapp publish p-fap-miru-01
Getting site publishing info...
Creating archive for current directory...
Uploading 4.98 KB [###############################################################################]
Upload completed successfully.
Deployment completed successfully.
S

[2020-02-20 06:36] balag0 commented on #1836
Can you check if the value for appsetting "AzureWebJobsStorage" looks good.

App is failing with the following exception

System.FormatException : Settings must be of the form "name=value".
   at Microsoft.WindowsAzure.Storage.CloudStorageAccount.<>c.<Parse>b__97_0(String err)
   at Microsoft.WindowsAzure.Storage.CloudStorageAccount.ParseStringIntoSettings(String connectionString,Action`1 error)

[2020-02-20 11:54] kepikoi opened #1837 "$return a "cookies" object has no effect"
Using `node` runtime it is now possible to send multiple cookies  like documented here https://github.com/Azure/azure-functions-host/issues/2737

E.g.:

[code]

But it doesn't work using the `$return` binding:

[code]

[2020-02-20 12:47] jsacapdev opened #1838 "Installing core tools reports back error"
Download the core tools using the following command:

`npm i -g azure-functions-core-tools@3 --unsafe-perm true`

...keeps giving me the following error:

[code]

and the workaround at the moment is to run the following:

[code]

[2020-02-20 19:23] anthonychu commented on #1838
@jsacapdev Can you share your npm version so we can try to reproduce this? Thanks.

[2020-02-20 23:51] #1580 closed

[2020-02-21 08:58] jsacapdev commented on #1838
@anthonychu

[code]

If it helps, it looks like this happens when a new release is available. so i tried to run the command this morning, which attempted to pull down version `3.0.2106` and that worked without any problems. But I have been seeing this problem more than once so I can only assume it is when a new release is published?

[2020-02-21 09:51] ankitkumarr commented on #1798
@brandonh-msft, yes it should be fixed for v3 as well. If you re-install the core-tools, it should work.

@rodbutters, sorry this took a while to be fixed in Cloud Shell as they have a different release schedule. I just checked and cloud shell is updated with the proper fix. Hope this resolves it,

@mattpasco-microsoft, we did indeed update the linux packages last week when we release the fix. I v

[2020-02-21 16:47] mattpasco-microsoft commented on #1798
@ankitkumarr looks like the azure function version in cloud shell is now `2.7.2184` 2 days ago it was still `2.7.2100` seems good to close to me.

[2020-02-21 16:47] brandonh-msft commented on #1798
nope

[code]

This is in a devcontainer pulling 3.0.2106 via zip-download (not apt-get because it's not yet been published to apt). I was pulling 3.0.2009 and changed to 2106 just now to re-download and test.

[2020-02-21 22:25] saedabdu commented on #1815
Thanks @anthonychu
I was able to deploy the func app providing your answer with the --image-name parameter.

[2020-02-21 22:25] #1815 closed

[2020-02-22 23:07] robertlagrant commented on #1439
@ahmedelnably any movement on this? What's the holdup?

[2020-02-24 09:03] jsacapdev commented on #1838
this happened again this morning:

[code]

[2020-02-24 09:15] nibblesnbits commented on #1804
Same issue with me.  Looking at the error message:

[code]

I think the key problem may be the path:  `C:\Users\sgcol\AppData\Roaming\nvm\v13.8.0\node_modules\azure-functions-core-tools\bin/func`.  The final path delimiter is a forward slash on my Windows machine.  I'm guessing that's why it can't find the file.

If someone can point me in the right direction of where this path is put together, I'

[2020-02-24 15:15] anthonychu commented on #1804
@nibblesnbits looks like that is here: https://github.com/Azure/azure-functions-core-tools/blob/dev/src/Azure.Functions.Cli/npm/lib/main.js#L12

This probably should use path.join, maybe a recent change in Node caused this to no longer work.

// @ankitkumarr

[2020-02-24 19:02] cparker4486 commented on #1796
@anthonychu  Please consider reopening this issue despite not hearing from the original author.

[2020-02-24 22:14] gzuber commented on #1792
Templates have been released, so this should be fixed in the next release. Thanks for letting us know!

[2020-02-24 22:14] #1792 closed

[2020-02-24 22:32] #1823 closed

[2020-02-24 22:32] #1834 closed

[2020-02-24 22:35] jongio commented on #1792
@soninaren - I see that we are loading templates from CDN, i.e. https://functionscdn.azureedge.net/public/TemplatesApi/2.0.10344.zip

But I don't see a ref to netcoreapp in the templates.json file.

Is that file open sourced?

Do you have a link to the commit to show that it has been updated?

[2020-02-24 22:45] soninaren commented on #1792
@jongio, The file is hosted over here and it is open source. https://github.com/Azure/azure-functions-templates/tree/dev/Functions.Templates/ProjectTemplate/CSharp

We already have published a project template target netcoreApp3.1,  https://www.nuget.org/packages/Microsoft.Azure.WebJobs.ProjectTemplates/3.1.1518.

We are in the process releasing https://github.com/Azure/azure-functions-core-tools/

[2020-02-24 22:51] jongio commented on #1792
Great.  Thanks. I will verify later this week.

[2020-02-25 09:41] kjoshi commented on #1836
I'm having the same problem when trying to publish a FunctionApp in West Europe:

[code]

Is there anything I can try on my end to try and resolve this?

[2020-02-25 11:52] jesperkristensen opened #1847 "Cannot install azure-functions-core-tools version 3"
I am trying to deploy an Azure Function using .Net Core 3.1.

From what I can read I need to use Runtime version ~3 and azure-functions-core-tools version 3.

But when I try to install using the instructions in the readme here the newest version I can get is 2.7.2184-1

I am using Ubuntu 18.04

wget -q https://packages.microsoft.com/config/ubuntu/18.04/packages-microsoft-prod.deb
sudo dpkg -i pack

[2020-02-25 14:47] brandonmbanks commented on #1831
I'm currently having this issue. Tried `az login` but still having the problem.
Looks like its related to deleting `.python_packages` dir for me.
[code]

[2020-02-25 17:13] anthonychu commented on #1847
We're working on releasing packages for v3. Please refer to #1758 to track its progress. Thanks!

[2020-02-25 17:14] #1847 closed

[2020-02-25 19:33] ankitkumarr commented on #1758
Sorry, I missed your ping earlier. I can get a PR for this today. Hadn't had a chance to prioritize this. But this should be quick, and seems to be a P1.

[2020-02-25 23:07] ntodorov opened #1848 "release 1.0.25 fails DevOps in azure - missing assets only 4 of 16"
The release 1.0.25 by @pragnagopa has only 4 assets and all previous 16 - what happened?

My Azure devops pipeline that installs the latest function tools fails now because cannot find its artifact/asset:
##[error]Error: Failed to download func tools from location https://github.com/Azure/azure-functions-core-tools/releases/download/1.0.25/Azure.Functions.Cli.linux-x64.1.0.25.zip.

Please fix the

[2020-02-25 23:24] pragnagopa commented on #1848
cc @soninaren

This is release for V1. Release has expected artifacts.

[2020-02-25 23:26] pragnagopa commented on #1848
Closing as V1 only has artifacts for x86 and x64.

[2020-02-25 23:26] #1848 closed

[2020-02-25 23:27] ntodorov commented on #1848
Additional info:
Seems Azure DevOps task "Install Azure Func Core Tools" with option for version "latest" is using this URL to get the latest:
https://api.github.com/repos/Azure/azure-functions-core-tools/releases/latest

This url gives your 1.0.25 as latest - is this correct?

[2020-02-25 23:28] pragnagopa commented on #1848
URL is giving the result for latest release on the repo. We release Core Tools for Functions Host Versions: V1, V2 and V3.

[2020-02-25 23:30] ntodorov commented on #1848
do you know where I can report the bug of the Azure task?
this is its log:
2020-02-25T22:28:53.7958079Z ##[section]Starting: FuncToolsInstaller
2020-02-25T22:28:53.7966649Z ==============================================================================
2020-02-25T22:28:53.7966987Z Task         : Install Azure Func Core Tools
2020-02-25T22:28:53.7967254Z Description  : Install Azure Func Core Tools

[2020-02-25 23:35] pragnagopa commented on #1848
@soninaren pointed out the defined task is here: https://github.com/microsoft/azure-pipelines-tasks/tree/master/Tasks/Common . Please follow up on the azure-pipelines repo.

[2020-02-26 00:55] vladkosarev opened #1849 "FUNCTIONS_CORE_TOOLS_TELEMETRY_OPTOUT=1 still sends telemetry"
core tools v2.7.2184
env (wsl/ubuntu/bash) shows
...
WSL_DISTRO_NAME=Ubuntu-18.04
FUNCTIONS_CORE_TOOLS_TELEMETRY_OPTOUT=1
....

and yet when I do func start I still get
ApplicationInsights:CorrelationIdManager [ { Error: getaddrinfo ENOTFOUND dc.services.visualstudio.com dc.services.visualstudio.com:443

I am blocking that domain so it throws an error but I would like to be able to actually opt ou

[2020-02-26 06:12] ankitkumarr commented on #1758
I have released `azure-functions-core-tools-3`. You should be able to try it. I am leaving this open as I need to add this to our Readme, and update the release pipelines to continue releasing this package.

[2020-02-26 06:30] ankitkumarr commented on #1849
Hi @vladkosarev, would you mind showing some logs before you see that error? I don't think core-tools telemetry would throw that error. That opt out setting should be honored properly. I am trying to identify where is that error coming from.

Also, do you see that error with every `func` command? Say, `func --version`, `func --help`, `func new` etc?

[2020-02-26 06:33] ankitkumarr commented on #1798
@brandonh-msft, is this an official dev container? Could you show me where you are downloading from? Once you download, if you add an executable bit to `gozip` (as shown in earlier comments), the error should go away for now.

Additionally, we published v3 core-tools in apt-get as `azure-functions-core-tools-3`. The documentation update will follow, but sharing here to unblock you.

[2020-02-26 16:34] brandonh-msft commented on #1798
https://github.com/microsoft/vscode-dev-containers/blob/master/containers/azure-functions-dotnetcore-3.1/.devcontainer/Dockerfile#L50

This `gozip` step needs to be added to the "other Linux distros" documentation on the core tools page, then. This was the method I was using to pull down the 3.x version of core tools while it was unavailable on apt-get. **However, I never had to do this step with

[2020-02-26 17:05] brandonh-msft commented on #1798
I changed the 3.1 devcontainer to use the same bit of apt-get install that the 2.1 uses:
[code]

but ended up with an error:
[code]

I noticed none of those `wget` shenanigans are documented on the readme for core tools and also that the .Net 3.1 container runs on Debian 10, while our install instructions only go to Debian 9.

[2020-02-26 17:11] brandonh-msft opened #1850 "Linux Distribution of 3.1.2106+ not working"
Forking from #1798

[code]

This is in a [devcontainer pulling 3.0.2106](https://github.com/microsoft/vscode-dev-containers/blob/master/containers/azure-functions-dotnetcore-3.1/.devcontainer/Dockerfile#L50) via zip-download (not apt-get because it's not yet been published to apt). I was pulling 3.0.2009 and changed to 2106 just now to re-download and test. 2009 works fine with the same d/l & inst

[2020-02-26 17:13] brandonh-msft commented on #1850
cc @ankitkumarr

[2020-02-26 17:20] brandonh-msft commented on #1850
Indeed, forcing Debian 9 found the pkg and pulled it down.

However it's only getting 3.0.2106 and not the latest 3.0.2245

[2020-02-26 18:08] brandonh-msft commented on #1850
All this said, happy to report that using `apt-get` to pull down 3.0.2106 did result in a successful publish:

[code]

[2020-02-26 19:01] ankitkumarr commented on #1850
@brandonh-msft, thanks for all the information.

Yes you are correct that we only publish for Debian 9 (stretch). I don't know when we plan on adding for Debian 10 (buster) cc: @ahmelsayed

`3.0.2245` is a pre-release version and isn't released everywhere yet. We do a pre-release, perform some validation and then make it official. That said, I manually released `azure-functions-core-tools-3` and w

[2020-02-26 19:05] ankitkumarr commented on #1798
Closing this, as original issue is resolved and the we are continuing the conversation in the forked issue  Brandon created.

[2020-02-26 19:05] #1798 closed

[2020-02-26 19:07] ankitkumarr commented on #1831
@brandonmbanks, yes the issue was due to an executable missing permissions. v3 is updated and any new reinstalls should have the fix.

Leaving this issue open, until we release the next version everywhere so users don't have to reinstall the same version.

[2020-02-26 22:28] brandonh-msft commented on #1850
As long as users don't risk problems by putting the d9 release on top of d10 that's probably fine for now. Otherwise I'd consider prioritizing higher since the official .Net 3.1 SDK image is on top of d10 and this is Functions v3, after all.

Ah, good to know

:+1:

:+1:

Gotchya; makes sense. Though I do wonder why `gozip` was added when things were working well before?

[2020-02-27 04:38] mfilotto commented on #915
I'm facing the same issue
Someone has the answer ?

[2020-02-27 11:57] RufusJWB commented on #1770
I have the same issue here. Is there a way to install the v3 version of the function core tools with chocolatey? The documentation only describes a way with NPM.

[2020-02-27 20:04] brandonh-msft commented on #1850
linking to PR on the VSCode dev container: https://github.com/microsoft/vscode-dev-containers/pull/248

[2020-02-27 21:20] anthonychu commented on #1770
PR #1852 thanks @ankitkumarr

[2020-02-28 17:33] ngg opened #1853 "The newest releases are not available from npm (2.7.2254, 3.0.2245)"
These versions were released (at least here on Github) 7 days ago, but https://www.npmjs.com/package/azure-functions-core-tools?activeTab=versions still shows the previous versions.
Can you please publish those versions?

[2020-02-28 18:09] anthonychu opened #1854 "Support --build flag when deploying to Windows"
Current `--build` only supports Linux. We should support Windows as well and run build with kudu with when `remote`.

Related: https://github.com/Azure/azure-cli/issues/12289 https://github.com/Azure/Azure-Functions/issues/1509

[2020-02-28 20:37] kulkarnisonia16 opened #1855 "Warn customer if they are on an older version of core-tools and ask them to upgrade"
We can define what older means (it can be based on time like 3-6 months older, # versions older or last known version which we know would still work). We might be able to avoid support cases that are opened because of this - example - https://servicedesk.microsoft.com/#/customer/cases?caseNumber=120012422002597

[2020-02-28 20:40] anthonychu commented on #1855
Use feed to determine latest version. https://functionscdn.azureedge.net/public/cli-feed-v3.json

Need to discuss what the message looks like and how frequently to show it (probably not on every invocation).

[2020-02-28 22:27] ahmelsayed commented on #1853
/cc @ankitkumarr @yojagad @soninaren

[2020-02-28 22:38] yojagad commented on #1853
I believe the release is still in progress. Will update this thread once it's published.

[2020-02-28 23:29] yojagad commented on #1853
Both 2.7.2254 and 3.0.2245 are in NPM now.

[2020-02-28 23:29] #1853 closed

[2020-02-29 03:56] jongio commented on #1792
Thanks you @soniaang  and @gzuber  - I have verified that template is now netcoreapp3.1 and Microsoft.NET.SDK.Functions is 3.0.3

[code]

Version 3.0.2245

[2020-03-01 09:22] ankitkumarr opened #1859 "Automate core tools release (npm, choco, apt) to Azure DevOps"

[2020-03-02 05:50] mitsuo0114 commented on #1836
Same here.
I'm trying to upload from Japan to EastUS.
[code]

[2020-03-02 05:58] drmiru commented on #1836
I think I found a possible root cause. If I either publish without local appsettings or leave just the "AzureWebJobsStorage" app settings behind, it works as expected. Any idea why?

[2020-03-02 19:57] balag0 commented on #1836
@drmiru I shared the root cause earlier - https://github.com/Azure/azure-functions-core-tools/issues/1836#issuecomment-588634204. Your app had an invalid connection string in AzureWebJobsStorage.
Fixing that connection string should get your app working again. Feel free to reopen this issue if the app still doesn't work.

@kjoshi
Looks like the request is failing due to the below exception. Please

[2020-03-02 19:57] #1836 closed

[2020-03-02 22:09] jeffhollan commented on #1684
@ankitkumarr do you have a seperate issue that would capture this too? Hoping to get v3 out for apt-get and chocolatey asap

[2020-03-02 22:10] anthonychu commented on #1684
#1859

[2020-03-02 22:47] JustinGrote commented on #1440
Even with loglevel none set, I still get a lot of this in the core tools host:
[code]

[2020-03-02 22:56] ankitkumarr commented on #1684
Also https://github.com/Azure/azure-functions-core-tools/issues/1758 where we discussed a bit too.
As mentioned in the 1758 issue, I did release `azure-functions-core-tools-3` in apt end of last week. I still need to update readme etc.

But, I did that release manually, so I need to add to our release pipeline, and also include chocolatey. I can capture all this work in the work item Anthony linke

[2020-03-02 22:58] ankitkumarr commented on #1859
As part of this I will also capture the work item to add release pipeline for v3 in chocolatey, apt, etc. Additionally, I will move our publishing scripts to this repository as Ahmed had suggested (@ahmelsayed fyi).

[2020-03-02 23:02] ankitkumarr commented on #1859
@jeffhollan / @anthonychu, do you have a preference on core-tools chocolatey package between these installation ways? -
[code]

[2020-03-02 23:45] #1822 closed

[2020-03-02 23:45] #1826 closed

[2020-03-03 01:56] anthonychu commented on #1859
Thanks @ankitkumarr. I have limited knowledge of Chocolatey. It looks like its versioning support is not great; there isn't support for installing a tagged version (e.g. `@3`) or a version range like npm so we can't rely on versioning.

For 1. and 2.:
- What happens if someone runs it without params?
- Would this be a package that contains both v2 and v3? What happens when we release v4? What's th

[2020-03-03 02:37] ankitkumarr commented on #1859
Thank you Anthony! You are correct about the versioning support (as far as I know).

Up to us. For backwards compat, I was thinking to let it do what it does today, i.e. install latest v2 (or we can change that to v3). This way everything stays the same, except we also support v3 with this param.

The way we do nuspec is to only include a powershell script that gets run when installing the package

[2020-03-03 08:54] anthonychu commented on #1859
I think using a param to select CPU architecture makes sense, as it still installs the version of Core Tools matching the NuGet package version. However, I'm not sure about a param that would install a version different than the package version; that would be surprising to me.

IMO we should go with just releasing new versions on `azure-functions-core-tools`, it seems par for the course for Chocol

[2020-03-03 09:08] lbugnion commented on #1859
Do you have metrics on how many users are installing older versions when a new version is available on npm? My feeling is that there is a number of users who sometimes need to do that, but the majority of users want the easy way to always get the latest. If that's the case, I think that `azure-functions-core-tools` should always install the latest, and you should provide a path for people who want

[2020-03-03 16:15] jjgriff93 opened #1863 "`func azure functionapp publish` times out as part of CI/CD process"
When using Core Tools as part of a deployment pipeline a sporadic timeout appears. Retrying the job usually solves the issue.

[code]

The timeout is always at the waiting for SCM step and happens after 7 mintues or so. This is on an Azure DevOps Linux build agent with `azure-functions-core-tools_2.7.1948-1_amd64.deb`

[2020-03-03 19:51] kashimiz commented on #1250
Addressed by #1846.

[2020-03-03 20:09] kashimiz opened #1864 "MSI Generation Enhancements"
- [ ] Trigger MSI generation on [Build MSI] tag in PR title
- [ ] Add telemetry opt-in option

[2020-03-03 21:33] pragnagopa opened #1865 "Release CLI for V1.0.13021"

[2020-03-03 21:34] pragnagopa opened #1866 "Release CLI for runtime 2.0.13036 and 3.0.13159"

[2020-03-03 22:14] fasigpt opened #1867 "Function deployment through core tools fails if the folder has a space in its name"
If the function app is created inside a folder with a space in its name, then the core tools send **zero byte post** to /api/zipdeploy leading to

Error uploading archive (InternalServerError).
Server Response: {"Message":"An error has occurred.","ExceptionMessage":"Central Directory corrupt.","ExceptionType":"System.IO.InvalidDataException","StackTrace":"   at System.IO.Compression.ZipArchive.Rea

[2020-03-03 22:18] ankitkumarr commented on #1831
This is now fixed everywhere.

[2020-03-03 22:18] #1831 closed

[2020-03-04 00:17] ankitkumarr commented on #1758
Readme is updated. I am closing this. Linux packages should be up to date now.

Tracking item for enhancing release pipeline: https://github.com/Azure/azure-functions-core-tools/issues/1859

[2020-03-04 00:17] #1758 closed

[2020-03-04 10:06] antogh commented on #1797
I have the same issue. I have re-installed AzureFunctionsTools 3 times, updated vs2019 and windows 10 pro to the latest available today. Nothing works.
when I try to debug a simple template hello world az function v3 with vs2019 it tries to download the tools and then fails with the fatal error (see scr scap at the bottom)

Function V2 works but I want to use the latest, V3.

It's a super frustrat

[2020-03-04 21:09] pragnagopa commented on #1250
Closing as completed.

[2020-03-04 21:09] #1250 closed

[2020-03-04 21:58] michaeldaw opened #1872 ""Downloading the Azure Functions CLI tools" dialog appears every time I start (debug) an Azure Functions project in Visual Studio."
Every time I start an Azure Functions project in debug mode in visual studio, I see the dialog in the image below.

![image](https://user-images.githubusercontent.com/8949148/75926531-ee1f8500-5e27-11ea-940b-a81f3585b871.png)

I thought the problem was related to #1755 but I'm not behind any kind of proxy or anything else that should be blocking it. I've tried a number of things, including deletin

[2020-03-04 23:40] kashimiz opened #1873 "DevOps Release Pipeline: Create latest/[artifact] blob endpoints for release artifacts."
Currently the Core Tools release pipeline publishes the release artifacts to staging as blob endpoints with the following format:

```https://functionscdn.azureedge.net/public/[ver]/[artifact]```

Items such as the MSI files will be available from documentation via an aka.ms link. However, this link will need to be updated manually to point to the correct blob endpoint for each release.

This coul

[2020-03-05 00:01] anthonychu commented on #1873
Another option is to use the aka.ms API to update the link from the pipeline (needs approval, more details at aka.ms/akaFAQ).

[2020-03-05 01:23] kashimiz commented on #1873
Naren and I discussed that as an option. Our conclusion was that another API / external service / moving part to learn and manage was the less favorable option than the CDN, but happy to discuss!

[2020-03-05 01:37] anthonychu commented on #1873
The CDN route sounds good to me too! Just wanted to point out the API in case it wasn't already discussed.

[2020-03-05 02:07] mhoeger commented on #1786
Hey @nzthiago - Sorry for the delay! I just checked locally with the following:
[code]
And got
[code]
I ran it back with core tools 3.0.2009 and **did** see the incorrect response as well. Closing as resolved with latest!

[2020-03-05 02:07] #1786 closed

[2020-03-05 02:11] ankitkumarr commented on #1804
Thank you all for your patience. Thanks @mhoeger for finding the root cause (below) offline!

The issue was during the unzip step where `unzipper` (we use to unzip) would, intermittently, exit abruptly when using Node 13. Marie was able to repro, and found that this issue was likely the cause - https://github.com/ZJONSSON/node-unzipper/issues/168

Once we updated the `unzipper` package in the repr

[2020-03-05 04:32] 00vareladavid opened #1879 "Running behind ingress"
I am trying to deploy azure functions to AKS. Using a LoadBalancer as the service type works great. But I am having issues using ClusterIP as the service.

This is what I run:
[code]

And my ingress looks like this:
[code]

I already have annotated the service according to [this issue](https://github.com/Azure/azure-functions-core-tools/issues/1310). Is anything else I need to do to set up azure f

[2020-03-05 07:04] 00vareladavid commented on #1879
In case it is relevant, everything runs fine when run locally (with `func start host`) as well. Only when I run with the above configuration do I get a 401 error when requesting `https://foo.com/graphql`.

This makes it seem like there is some issue between the ingress I created and the `graphql-http` service created by `func`.

[2020-03-05 19:27] anthonychu commented on #1872
@soninaren Do you know if there's any ongoing work that's going to address this also?

[2020-03-05 21:37] konrad79 opened #1880 "Something like a hidden function cache?"
I'm developing simple azure function with VST 2019.
I'm using Azure Functions Core Tools as they are started every time I start my project.

The functions are time triggered and activity triggered.
Every time I start my project again, the Azure Functions Core Tools starts too - and now the wired is happening:

It looks like the functions are not only called once from the current runtime as expecte

[2020-03-07 05:10] Sarah-Aly opened #1883 "Error Deploying KEDA on AKS Using Azure Functions Core Tools"
Trying to install KEDA on a Kubernetes cluster using Azure Functions Core Tools (3.0.2245) by running this command `func kubernetes install --namespace keda`, gives a validation error.

## Expected Behavior
To get KEDA deployed on AKS cluster.

## Actual Behavior
Validation error:

## Steps to Reproduce the Problem
[code]

My understanding from searching is that this command is providing an improp

[2020-03-07 13:36] kapilt opened #1884 "supports no-op deploys on no change?"
if a function hasn't changed, is it possible with func tools and kudu lite to effect a detection of no changes (md5 checksum?) and not perform the update/upload?  linux consumption runtime v3.

[2020-03-07 22:35] pplavetzki commented on #1883
I'm also receiving this same error:

[code]
This is a on-prem install of a K8S Cluster:
[code]

[2020-03-08 06:29] #1828 closed

[2020-03-08 13:15] groovy-sky opened #1885 "Error calling sync triggers (BadRequest). Python runtime on Linux."
Hello.
I'm trying to get a simple function working, using python on Consumption Plan(region - West Europe).
Environment:
* func ver. - 2.7.2184
* Azure Functions extenstion ver. - 0.21.0

Here is the approach using Core tools :

[code]
Here is the approach using Visual Studio Code:
[code]

[2020-03-08 18:06] pplavetzki commented on #1883
After looking at what ```func kubernetes install --namespace keda-fn --dry-run``` spits out, I determined that there is a missing ```---``` between the ```# Source: keda/templates/api_service.yaml``` and the ```# Source: osiris-edge/templates/endpoints-hijacker-webhook-config.yaml```.

So basically what I did to install this was:
1.  ```func kubernetes install --namespace keda-fn --dry-run > /tmp/

[2020-03-09 13:33] garypendlebury commented on #1872
For me, this only occurs with a v2 Functions project (CLI Tools version 2.45.0), and not with a v3 Functions project (CLI Tools version 3.4.1).

[2020-03-09 14:57] sanderploegsma commented on #1863
Same thing is happening here while deploying our Node.js function app. Enabled `CLI_DEBUG=1` and it fails after retrieving the app settings from Azure (logs are sanitized):

[code]

[2020-03-09 15:05] sanderploegsma commented on #1863
Small update: when running the same deployment script with my own account instead of a Service Principal it works fine, so at least in my case it might be a permissions issue.

[2020-03-09 16:25] benydc commented on #1883
@pplavetzki I have the same, I had to add `---` somewhere above `apiVersion:..` was missing

[2020-03-09 17:48] priyaananthasankar opened #1886 "Identify language worker when performing func new"
Steps to Reproduce:

- In Visual Studio Code, create a new Python Function app (func new --name MyEventHubTriggerFuncCoreTools --template AzureEventHubTrigger --language Python)

- Notice no requirements.txt file is created

- Attempt to publish via Azure Function Core Tools (func azure functionapp publish mypythonapp)

- Notice an error: "requirements.txt is not found. requirements.txt is require

[2020-03-10 17:29] sanderploegsma commented on #1863
Our issue has been resolved: apparently group permissions aren’t resolved correctly in SCM when it comes to Service Principals. Manually adding a role assignment on the App Service for the SP solved it.

[2020-03-10 17:54] anthonychu commented on #1879
@00vareladavid Can you clarify what you mean by "Using a LoadBalancer as the service type works great"? Does it mean if you are using `LoadBalancer`, your ingress is able to route traffic to your service, but with `ClusterIP` you cannot? Or do you simply mean that if you use `LoadBalancer` you can access your service through the load balancer address?

[2020-03-10 17:58] anthonychu commented on #1880
@konrad79 Can you please clarify what trigger types you're using? Some samples of code and error messages will be helpful here. Thanks.

[2020-03-10 18:15] anthonychu commented on #1886
Thanks @priyaananthasankar. It's a duplicate of #1259. We'll track this there.

[2020-03-10 18:15] #1886 closed

[2020-03-10 18:16] anthonychu commented on #1885
@balag0 Can you please take a look?

[2020-03-10 18:19] anthonychu commented on #1884
Thanks. We've added it to our backlog to look at in the future. Is this blocking you right now?

[2020-03-10 18:26] fabiocav commented on #1872
@soninaren I believe this is related to a download timeout. Can you please share the details on how to perform the out-of-band update here?

[2020-03-10 20:49] anthonychu commented on #1883
Looks like there's one [commit](https://github.com/Azure/azure-functions-core-tools/blob/c9cd87665436d5c11807aa998325d3274f07ee30/src/Azure.Functions.Cli/StaticResources/keda.yaml) where `---` was removed from the bottom of keda.yaml, which I guess would cause this problem when it is then concatenated with osiris.yaml. @ahmelsayed Do you know if the latest versions of Core Tools still has this iss

[2020-03-10 21:00] atsapura opened #1887 "Listener for function was unable to start"
I'm trying to use `CosmosDBTrigger` with a collection of `Document`s, but on the start I get this error:
[code]

The code looks like this:
[code]

If this cosmos trigger is removed, no error occurs. I use Cosmos Emulator and Storage Emulator locally, both are running and responsive.
Also, this problem is tied to environment, since the exact same code works on other machine.

[2020-03-10 21:28] garypendlebury commented on #1872
A download timeout would make sense, as I experienced this problem whilst suffering an intermittent network connection problem. Today, with the connection restored, the problem has gone away.

[2020-03-10 21:43] #1364 closed

[2020-03-11 02:40] TroyWitthoeft commented on #1821
This just bit me too.  Brand new install of VS Code, trying to get my first Azure Function working.  I've seen it get some of my new dev's too.  Let's get it fixed!

[2020-03-11 08:14] vimanmg opened #1888 "Can't run function app locally"
I am trying to run a function app locally. For that I have installed azure function latest version, however I am getting the following exception.

I have read some other posts where users refer to proxy issues - That is why I defined it even though is a local connection. No luck with that.

Any help is appreciated.
Thanks and Cheers
Vi

[code]

[2020-03-11 08:29] Ajay-MS opened #1889 "Unable to access certificate in Azure function"
I am executing my Azure function locally on HTTPS with the application arguments:
[code]

where `server.pfx` is a self-signed certificate.

In the postman setting, I have set certificate for the URL  corresponding to the function app.
![PostmanCertSettings](https://user-images.githubusercontent.com/16772764/76388599-7ef9e180-638f-11ea-8a4e-a766830bcf38.PNG)

In Azure function, I am reading certifi

[2020-03-11 14:26] atsapura commented on #1887
Okay, problem was solved with updating CosmosDB emulator to version 2.9.2.

**However** with version 2.5.6 I had error message about "Unknown query features", but with 2.2.2 there was a `NullReferenceException`.

Instead an error message should tell to update current version of emulator.

[2020-03-11 15:42] cocowalla opened #1890 "Sign the Windows MSI installer & binaries"
I just downloaded the [latest version](https://github.com/Azure/azure-functions-core-tools/releases/tag/3.0.2358) of the MSI installer, and got a smartscreen warning when trying to run it.

After removing the mark of the web and clicking through the warnings to install, I noticed the instaleld binaries are also not signed.

The MSI installer and binaries should be signed.

[2020-03-11 17:37] besnyder opened #1891 "func azure functionapp publish analytics-functions --list-included-files"

[2020-03-11 17:41] besnyder opened #1892 "Incorrect results for `--list-included-files` option"
Version: 3.0.2245

When I run `func azure functionapp publish APPNAME --list-included-files` the list of files returned includes those that should be ignored based on `.funcignore` (and which `--list-ignored-files` correctly reports as being ignored).

[2020-03-11 18:24] balag0 commented on #1885
I see the following exception from our logs. This most likely means the value for appsetting **AzureWebjobsStorage** is empty or invalid. Can you check?

System.FormatException : Settings must be of the form 'name=value'.
    at Microsoft.WindowsAzure.Storage.CloudStorageAccount.<>c.<Parse>b__97_0(String err)
    at Microsoft.WindowsAzure.Storage.CloudStorageAccount.ParseStringIntoSettings(String

[2020-03-11 19:11] groovy-sky commented on #1885
Hi @balag0
Below you can see my config:
![image](https://user-images.githubusercontent.com/40501227/76454035-94e1c380-63dc-11ea-95c0-a59c447bdfca.png)

[2020-03-11 21:48] balag0 commented on #1885
Since the error is from the remote instance, Can you check the config using the Azure portal as well. Updating the appsetting in the portal with the same connection string as the screenshot should fix the issue. Let me know if the app setting looks correct there as well.

[2020-03-12 08:23] groovy-sky commented on #1885
Config is not available in portal. As function creation was unsuccessful:
![image](https://user-images.githubusercontent.com/40501227/76501733-7666e100-644b-11ea-9ba5-89b6534625d4.png)

[2020-03-12 15:24] #1891 closed

[2020-03-12 18:42] anthonychu commented on #1890
@kashimiz Can you please take a look? Thanks.

[2020-03-12 18:45] anthonychu commented on #1889
@ahmelsayed Do you know how this would work?

[2020-03-12 18:52] anthonychu commented on #1888
@pragnagopa @mhoeger Could you please take a look at this? Thanks.

[2020-03-12 18:52] michaeldaw commented on #1872
I find that, for me, this problem is only occurring at a particular location that has a fairly poor internet connection. When I'm developing from a different location with a much better connection to the internet, the problem doesn't seem to occur.
This may be consistent with what @fabiocav and @garypendlebury have observed.

[2020-03-12 20:25] ahmelsayed commented on #1889
in AppService the cert if passed to the application using `X-ARR-ClientCert` header. I don't know if there is anything specific in AppService, Functions, or dotnet core that will automatically populate `HttpContext.Connection.ClientCertificate` for you.

Locally, I think this will work if we update https://github.com/Azure/azure-functions-core-tools/blob/6478ce04fd380c113cff659d0e36eea5a42aff3b/sr

[2020-03-12 21:20] kashimiz commented on #1890
Thank you for reporting this, @cocowalla. I'm investigating.

[2020-03-12 21:34] kashimiz commented on #1890
cc @yojagad and @soninaren

Checked the Windows .zip files for the same release (3.0.2358); our binaries aren't signed in these either. Can you help troubleshoot?

[2020-03-12 21:45] ankitkumarr commented on #1890
@kashimiz, by default we only sign our `min` zip binaries. https://github.com/Azure/azure-functions-core-tools/blob/dev/build/Settings.cs#L105

If the msi needs full binaries to be signed explicitly, we would have to add that. That would mean adding to the [list of files](https://github.com/Azure/azure-functions-core-tools/blob/dev/build/Settings.cs#L131) we sign as well, as the full versions have

[2020-03-12 21:55] cocowalla commented on #1890
@ankitkumarr sorry to chip in, and I've no clue what a "min" runtime is, but in the [file you linked](https://github.com/Azure/azure-functions-core-tools/blob/dev/build/Settings.cs#L115) some filenames are explicitly labelled as `authentiCodeBinaries` binaries - these too are not signed.

[2020-03-13 14:13] jeffhollan opened #1895 "Default dockerfile for dotnet SDK is too old"
On v3 when you do `--docker` or `--docker-only` for .NET it uses .NET SDK 3.0 to do the build. However our templates now target 3.1.  A simple 1 character change to use the 3.1 SDK image for the build stage would fix

// @ankitkumarr @ahmedelnably

[2020-03-13 19:47] ankitkumarr commented on #1890
@cocowalla, as you can see in our [release artifacts](https://github.com/Azure/azure-functions-core-tools/releases/tag/3.0.2358), we publish binaries targeting different runtimes (win-x86, win-x64, etc).

At the moment, we only sign the binaries that are in `Azure.Functions.Cli.min.win-x64.<version>.zip` and `Azure.Functions.Cli.min.win-x86.<version>.zip` (notice the "**min**"). These are minified

[2020-03-13 19:54] ankitkumarr commented on #1863
Thank you for reporting this bug @jjgriff93 , and thanks @sanderploegsma for chiming in and helping find the root cause. I am glad you resolved this.

@jjgriff93, does @sanderploegsma's resolution also work for you? If it doesn't can you please also share the `CLI_DEBUG=1` output similar to what was shared here?

[2020-03-13 20:08] cocowalla commented on #1890
Honestly, not much 😄

I don't really understand why you'd choose to only sign the binaries in the "minimal" zip package; I'd expect all Windows binaries coming out of Microsoft to be signed, but *especially* so for the MSI installer - it's kind of surreal downloading an MSI from Microsoft and getting a warning message about an unknown publisher 🤷‍♂

Anyway, glad to hear you're going to fix it 👍

[2020-03-13 21:01] pragnagopa opened #1897 "Create releases/v3.x branch"
Create release/3.x branch similar to host repo. v3.x should be used as "dev" for v3.

[2020-03-13 21:02] pragnagopa commented on #1897
@ankitkumarr - can you please look into this?

[2020-03-13 21:37] ankitkumarr commented on #1551
It was because EULA was not signed. This was fixed later.

[2020-03-13 21:37] #1551 closed

[2020-03-13 21:45] ankitkumarr commented on #1890
I hope that the explanation of the current state made sense. :)

I am with you 100% that we should be signing all our binaries, and we will fix that as soon as possible. Thanks for bringing it up!

We were [supposed to do this](https://github.com/Azure/azure-functions-core-tools/issues/1241) earlier, but was overlooked. I apologize for that, and we will prioritize addressing this.

MSI is a super

[2020-03-13 21:54] ankitkumarr commented on #1895
Closed by https://github.com/Azure/azure-functions-core-tools/commit/059abf0ece75f343794e8490729a784f032eb82d

[2020-03-13 21:54] #1895 closed

[2020-03-13 21:55] #1829 closed

[2020-03-14 17:24] jjgriff93 commented on #1863
Thanks @sanderploegsma seems you got to the bottom of it :) @ankitkumarr yes seems like we were running into the same issue

[2020-03-15 00:26] anthonychu opened #1898 "Allow different versions to install side-by-side"
Support side-by-side installation of different major versions of Core Tools so that a user can switch between versions for different projects. Should consider both command line as well as VS Code.

Needs discussion.

// @ankitkumarr @fabiocav @kashimiz

[2020-03-15 18:24] andreasbotsikas opened #1899 ""Permission denied" when publishing python codebase to linux host from ubuntu build agent"
The Azure Function is a python worker based on the codebase [described in this Microsoft doc](https://docs.microsoft.com/en-us/azure/azure-functions/functions-machine-learning-tensorflow?tabs=bash).
Deployment target running on consumption Y1 SKU, functionapp,linux website kind, python 3.7.

The codebase is hosted in Azure DevOps git. The following Azure DevOps build pipeline is used (currently co

[2020-03-15 20:48] andreasbotsikas commented on #1899
You can easily reproduce the "Permission denied" issue using the codebase and the yaml pipeline from https://github.com/rndazurescript/python-ml-azure-function repository.

[2020-03-17 00:47] JustinGrote opened #1901 "NPM releases lag behind Github Releases"
Is there a reason NPM releases don't line up with Github Releases? Current NPM v3 release is 2254, meanwhile scoop is on 2358.

Also chocolatey doesn't have 3.x at all. Who is in charge of package distribution? I know all 3 of these platforms pretty well and can assist with PRs to the CI system.

[2020-03-17 05:31] JustinGrote commented on #1247
@ahmedelnably Since last discussion, it has been made news that Azure Storage Emulator is discontinued and Azurite is the preferred emulator going forward by Microsoft, so we need to make it a priority to get this working with Azure Functions. As of Azurite 3.6.0 it's looking to me like the blob and queue output bindings are working fine at a simple level.

Currently the only blocking issue I see

[2020-03-17 15:25] restfulhead opened #1902 "Upgrade/Replace unzipper dependency to fix NPM vulnerability 1179"
To reproduce run `npm audit`. Result:
[code]

[2020-03-17 21:41] jeffhollan commented on #1684
@ankitkumarr  thanks - sorry I missed this. Yeah if you can work with @anthonychu to lock on the naming / publishing if any open questions on how we should publish chocolatey and have both a v2 and v3 possible.

[2020-03-18 20:17] fabiocav commented on #1866
This is currently blocked. Moving to sprint 72

[2020-03-18 20:18] fabiocav commented on #1865
OGFs completed. Deployment blocked. Moving to sprint 72

[2020-03-19 11:26] danilovulovic opened #1903 "Cannot access a disposed object. Object name: 'IServiceProvider'."
When I try to run Azure function in the local environment, I get this error:

![image](https://user-images.githubusercontent.com/1795248/77062576-6e271c80-69dc-11ea-9f2b-bfa67d1cad35.png)

I get the same error if I try to use v2.

I already checked all those issues:

https://github.com/Azure/azure-functions-host/issues/4521
https://github.com/Azure/azure-functions-host/issues/4520

Also, I have tr

[2020-03-19 18:36] danilovulovic commented on #1903
I figured out VS starts x64 version and it can cause the problem. When I download func-cli-3.0.2358-x86.msi, set up debug for the project, it works.

How can I set VS to run x86 cli?

[2020-03-19 19:40] ankitkumarr commented on #1859
@lbugnion, I think that makes sense. We don't have metrics as such. But for us, we have two major versions we need to support in chocolatey - v3 and v2. They both are fairly common and we do releases actively.

So, maybe we can have `azure-functions-core-tools` (always latest), `azure-functions-core-tools-2` and `azure-functions-core-tools-3`. Does that sound reasonable to you, and does that feel

[2020-03-19 21:57] unt1tled opened #1904 "Could not load file or assembly 'Microsoft.AspNetCore.Razor.Language, Version=3.1.2.0..."
I'm attempting to make an Azure Functions based emailer using a [Razor Class Library (RCL)](https://docs.microsoft.com/en-us/aspnet/core/mvc/views/view-compilation?view=aspnetcore-3.0) with .Net Core 3.1. However, while using the[latest release](https://github.com/Azure/azure-functions-core-tools/tree/3.0.2358), my functions app fails to find the Microsoft.AspNetCore.Mvc.Razor.RuntimeCompilation l

[2020-03-19 23:42] anthonychu commented on #1903
@soninaren Do you know what might be happening here?

[2020-03-20 05:14] dastewa commented on #1872
I recently started hitting this issue on a newly created functions project. The answer on this [SO question](https://stackoverflow.com/questions/58658348/visual-studio-2019-re-downloads-azure-function-cli-tools) worked for making it stop trying to re-download the tools. Still not sure why this is happening though.

[2020-03-21 02:38] soninaren commented on #1903
Not sure why you are getting service disposed exception because of x64. We would need more information to find the root cause. However Visual studio does provide configuration to use x86 version of core tools instead of x64. You need to set environment variable AZURE_FUNCTIONS_PREFER32BIT=1. It is supported by Visual studio 2019 16.5.0 and higher.

Also note that after setting this environment var

[2020-03-21 14:52] Duchynko commented on #1440
Same issue here. Would be great to get rid of `Executed HTTP request` logs in some cases. It makes it difficult to trace down errors.

[2020-03-22 03:21] seed-of-apricot commented on #1804
@ankitkumarr Sorry for not responding to your mention for a while.

I have tried the steps you described in the latest comment but didn't succeed.
(First of all you misattribute `npm .\lib\install.js` with `node .\lib\install.js` right?)

[code]

[2020-03-22 08:22] danilovulovic commented on #1903
@soninaren Thank you for the help. This resolved issues.

Which information do you need for x64 version in order to figure out what is the problem. For me, x86 is enough, but maybe someone else need x64.

[2020-03-22 13:23] groovy-sky commented on #1885
Hello.
Any news?

[2020-03-22 21:31] balag0 commented on #1885
@groovy-sky
Click on the Configuration link under Configured features in the screen shot

Make sure the app setting AzureWebjobsStorage is present and the value is set to a valid storage connection string.

[2020-03-23 00:34] MichielBijland commented on #1899
It seems that gozip doesn't have executable permissions on linux.

This was my debug session and fix on a jenkins agent running centos.

`CLI_DEBUG=1 func pack --build-native-deps --python
Directory .python_packages already in sync with requirements.txt. Skipping restoring dependencies...

System.ComponentModel.Win32Exception (13): Permission denied
   at Azure.Functions.Cli.Common.Executable.RunA

[2020-03-23 08:25] XiaoningLiu commented on #1247
Hi @JustinGrote, thanks for your investigation, but the pointed code is by design in Azurite.

Azure Storage has the same behavior and will return 409, if:

* The blob already exists
* The second create blob (put blob) request has a if-none-match:* header

Actually this is a scenario about atomic "createIfNotExist" operation.

There should some other places make the difference. For example, before

[2020-03-23 10:36] #1885 closed

[2020-03-23 11:51] rndazurescript commented on #1899
Thanks @MichielBijland for the suggestion! Function tools are installed in `Agent.ToolsDirectory` so I had to modify the script to locate the func tool.
As a workaround to this issue, adding the following task in the deployment phase, right after installing the functools seems to solve the specific issue:

[code]

Note though that now I run into a different issue which may be environment specific

[2020-03-23 14:47] JustinGrote commented on #1247
I saw that, but what I'm saying is that simply it works with emulator and live accounts but not with azurite, and if I patch out this code, it works.

If you want to drive azurite adoption I'd look into a compatibility flag for this quirk unless a more nuanced reason can be found.

[2020-03-23 20:53] rndazurescript commented on #1899
Following up on this, it seems that the error was transient. Restarting the pipeline worked, so the workaround seems legit.
[code]

[2020-03-23 21:36] soninaren commented on #1903
@danilovulovic a standalone repro would be the best thing here. If not then the content of csproj file and host.json would help as well.
Also do you get this error even when you remove all functions and plainly start the function app. It would be good to isolate which function is causing this error.

[2020-03-23 22:21] mpalumbo7 opened #1905 "Publish returns 401 unauthoried"
I have been frustrated by the following error:

[code]

I've run with `CLI_DEBUG=1` and it shows successful login up until the above obscure error. I can run `func azure functionapp list-functions myfunctionapp` and there is no error. I logged in and out via `az login`.

I am subscription administrator and have explicitly granted myself contributor rights on the resource.

[code]

and

[code]

[2020-03-23 22:23] mpalumbo7 commented on #1905
Same as #1101

Similar to #948, #778

[2020-03-24 08:08] anthonychu commented on #1898
@fabiocav and @ankitkumarr to investigate:

* Allow different major versions of Core Tools to be installed side-by-side. How to accomplish this in npm, homebrew, apt, Chocolatey, MSI?
* Can `func` read local.settings.json (setting TBD) and use the correct installed version automatically?
* If a referenced version is not available, can `func` automatically install it or print instructions to instal

[2020-03-24 08:13] anthonychu commented on #1859
Looks like this should work. May depend on outcome of #1898 we can probably at least start publishing `azure-functions-core-tools-3` soon.

[2020-03-24 18:10] anthonychu commented on #1905
@mpalumbo7 Can you share with us the function app name so we can look into it further? https://github.com/Azure/azure-functions-host/wiki/Sharing-Your-Function-App-name-privately

[2020-03-25 11:05] danilovulovic commented on #1903
It happens even with new Azure function app with simple Http trigger function.

I'm not sure is it related to this error, but I had issues with Xamarin app as well and figured out I had non-latin character in Users path: C:\Users\DaniloVulović.

I have completely reinstalled the system and set user path to C:\Users\DaniloVulovic and everything work as expected: Azure Functions, Xamarin,...

So may

[2020-03-25 15:27] ramxis commented on #1884
this feature is important for us as well.

[2020-03-25 17:29] springcomp opened #1907 "MethodNotFound when trying to call JsonResult ctor with JsonSerializerSettings"
## Versions

- Azure Functions Core Tools (3.0.2245 Commit hash: 1d094e2f3ef79b9a478a1621ea7ec3f93ac1910d)
- Function Runtime Version: 3.0.13139.0
- Function App: netcoreapp3.1
- Function App Version : v3

## Description

I have the following function in my function app:

[code]

When running locally, the following error is raised when calling the corresponding HTTP function:

[code]

It seems tha

[2020-03-25 18:06] mcollier commented on #1463
This could be good for Event Hub too (prompting for the Event Hub connection string and event hub name).  FYI - @plooploops

[2020-03-25 23:30] soninaren commented on #1903
For some reason i could not repro the issue with non-latin character. Going to close the issue now.

[2020-03-25 23:30] #1903 closed

[2020-03-25 23:51] kapilt commented on #1884
re is it blocking, at scale.. i'd say its a basic platform miss and yes, function app cardinalities in 100s or 1000s (aka consumption more closely aligns to serverless), not being able to have an exposed checksum is more problematic. even with async remote build and server side sync triggers it amounts (hrs) of delays on deploy, plus extraneous log/audit trail events which need verification.  re c

[2020-03-26 03:20] antgonmir commented on #1863
When we try to deploy a python function using func azure functionapp publish... we get 403 (forbidden) if logged in as a Service Principal (which has Owner permissions to the subscription). It works OK if logged in as a user with Contributor access.
The SP is within and AD group, and the group has the Owner permissions.
Is this related to the issue reported here?
@sanderploegsma , we tried adding

[2020-03-26 03:38] balag0 commented on #1863
@antgonmir yes currently we don't support authorization lookup if the permissions are derived from service principal groups.

 If you are still seeing the issue after assigning the permissions directly to the service prinicipal (need to be a contributor or above) please provide the app name and approx timestamp when the failure happened.

[2020-03-26 04:29] antgonmir commented on #1863
Thanks @balag0 for your prompt answer.
After waiting for a few minutes after applying the role to the SP it started working.

[2020-03-26 05:14] ZeinSleiman opened #1908 "Choco is installing Azure Function Core Tools 2.7.2184 and not version 3.0.2245"
I was trying to debug a simple function that uses System.Text.Json and I followed the Readme to install the Azure Function Core Tools. I used Choco because I didnt have npm. I kept getting an error:
System.Memory Version 4.2.0 was not found. I was using VS Code.
I switched to visual studio and when I tried to debug I noticed that VS installed a different version.

At that point I ran `func --versi

[2020-03-26 18:07] anthonychu commented on #1908
We're tracking this with #1859. Thanks!

[2020-03-26 18:33] anthonychu commented on #1907
@fabiocav: @ankitkumarr and I were able to repro this. Do you know what might be happening?

[2020-03-26 19:03] fabiocav commented on #1907
@anthonychu will reach out offline to get your repro, but I'm assuming you have an explicit reference to the 2.2.x version, correct?

[2020-03-26 19:31] ZeinSleiman commented on #1908
Thanks, I didnt see the comments in that issue.

[2020-03-26 19:31] #1908 closed

[2020-03-27 00:39] vimanmg commented on #1888
Is there any update on this one?

[2020-03-27 08:00] #1880 closed

[2020-03-27 08:00] #1879 closed

[2020-03-27 08:00] #1849 closed

[2020-03-27 10:18] springcomp commented on #1907
FYI, [here](https://github.com/springcomp/AzureFunctionsCoreTools_issue1907) is a very simple and narrowly scoped repro case.

[2020-03-27 20:35] ScottWolter opened #1909 "CS1061 'HttpRequest' does not contain a definition for 'RouteValues'..."
When debugging a Function locally in Visual Studio Enterprise 2019 (version 16.5.1) I can create a watch item that successfully evaluates to the route parameter passed to the Function. However, placing the same watch expression in the body of the Function's method results in the error included below.

CS1061 'HttpRequest' does not contain a definition for 'RouteValues' and no accessible extension

[2020-03-28 05:12] tkawchak commented on #1838
Seeing this same issue with npm version 6.14.4

[2020-03-28 12:37] pundergit opened #1910 "`func host start` stuck and not starting - connect ECONNREFUSED"
Hello, I'm having some problems trying to debug Python in VS Code with Azure Functions on Windows 10.

At first, after installing I had some problems because Powershell was not finding the command `func host start`. I had installed npm with nodist, but Powershell wasn't finding the command so I installed nvm-windows which didn't work either. I then fixed the problem by adding the PATH to `node_mod

[2020-03-28 15:47] dzejsien commented on #1440
It would be great to have possibility to disable it totally. During tracing Colors.Net.ColoredConsoleWriter.Write tooks more than 50% of load.

[2020-03-29 19:39] jeroenhabets commented on #1821
@fabiocav Can you please increase the priority of this? Until this is fixed Microsoft is basically asking users to disable their security to get Azure functions core tools to work :(

[2020-03-30 01:47] heyyudao opened #1911 "Error 404 Registry not found"
Hi, I'm trying to install azure function-core-tools on my company computer using proxy however it returns the following error when I ran the command ,

npm i -g azure-functions-core-tools@3 --unsafe-perm true --force --trusted-host functionscdn.azureedge.net

npm ERR! 404 Not Found - GET https://registry.npmjs.org/functionscdn.azureedge.net - Not found
npm ERR! 404
npm ERR! 404  'functionscdn.azur

[2020-03-30 09:12] jonny-powell commented on #1758
Debian Buster has been left out in the cold here, is there any particular reason for this?

[2020-03-30 12:34] daxay commented on #1791
@soninaren I am also facing this issue on `func start` when using nodejs with typescript.
I using ubuntu@16.04.
I face that issue from 27-03-2020. before that it was working perfectly.